[2022-01-12 03:03] rayjanoka commented on #1834
I worked around this with traefik by setting the nlb deregistration timeout, deployment grace period, and container grace period to 5 minutes. I also needed to ensure the container health-check continued to report success during this inbetween time with traefik's `--ping.terminatingStatusCode=204`. This leaves the old pod in a "Terminating" but still running state for 5 minutes to give the nlb tim

[2022-01-12 12:23] timothyclarke commented on #1384
@y0zg On the AWS ALB. That's the thing that handles the traffic. The ALB controller "manages" the AWS ALB by watching for annotations within the cluster and then making API calls to AWS to create or modify an ALB.

**I'm not sure I completely understand what you're asking, hopefully the following with give enough of an answer.**

AWS ALB operates on the HTTP level. All HTTP (and HTTPS) connections

[2022-01-12 18:14] oliviassss commented on #2457
@antigenius0910 from the Yaml, you are actually creating a CLB, but this annotation `alb.ingress.kubernetes.io/security-groups` is an annotation for ALB. To attach security groups to a CLB you should use `service.beta.kubernetes.io/aws-load-balancer-security-groups`.

Please note, the service is managed by kubernetes in-built controller, not AWS LB controller. For more info, please refer to this [

[2022-01-12 18:21] #2446 closed

[2022-01-12 18:31] kishorj commented on #2439
The annotations must have been edited when you made the changes. The annotations will not go away based on port values. If you don't specify the annotations, controller uses default values - internal scheme, instance target type.

You need a NodePort service for instance target type.

certs need to be in ACM

[2022-01-12 18:37] kishorj commented on #1953
@boney9, the limitation is on the kubernetes kube-controller-manager which doesn't support the client IP preservation feature. If you prefer to use the client IP preservation, you'd need to setup this controller and specify appropriate annotations.

[2022-01-12 22:34] y0zg commented on #1384
@timothyclarke  Thanks for sharing your thoughts and for provided an extended answer.
I'd prefer to use ACM against let's encrypt just because it looks more resilient. I have experience to use these options
1) NLB+certmanager+external dns+let's encrypt or
2) ALB+ACM

For me option 2) looks a bit more resilient (less dependency on k8s)
That's the reason I raised the question regarding TLS terminati

[2022-01-12 23:17] M00nF1sh commented on #2456
ALB itself currently don't support CORS natively(we cannot modify the request/response from backend).
You'll need to handle CORS requests in your application.

By default, the Ingress rule applies for all HTTP methods, but if you want a specific rule for OPTIONS request only, you can refer examples of our  `alb.ingress.kubernetes.io/conditions.${conditions-name}` annotation

[2022-01-12 23:20] M00nF1sh commented on #2455
@fibert
Think for reporting this, we'll update workshop page with the tagged URL.

/assign kishorj

[2022-01-12 23:25] M00nF1sh commented on #2451
@abebars
We only guarantee that the default certificate will be the first one of `alb.ingress.kubernetes.io/certificate-arn` annotation.

When it's not specified, the default certificate selection logic is implementation-specific and might change in future releases. (currently it's merely sorted based on cert-arn instead of order of hosts).
If you prefer a fixed default certificate, you should use

[2022-01-12 23:31] M00nF1sh commented on #2449
@mkozal
If you deleted an Ingress resource within a Group, then that Ingress's certificate won't be included.
Is it possible that your existing alive Ingresses still have certificate that exceed the 26 limit? (we can confirm it from the model been built from the logs)

[2022-01-13 07:32] panaut0lordv commented on #2449
Yes, I am 99% sure that model indeed did not include the "deleted" (i.e. finalizing) certificates in it. But still, even with correct (=<26 certs) build if there were ones that didn't exist beforehand it tried attaching them before cleaning up finalized, hence the issue. We since took a bit different approach to communication so I cannot provide you with any fresh logs but if you fail to replicate

[2022-01-13 10:58] apatapniou commented on #1572
+1

[2022-01-13 12:38] przemolb opened #2458 "Ingress rules do not get sorted correctly"
We are using LB controller 2.3 + the latest EKS (1.21) and the following LB definition to try to get our app's metrics:
[code]
The following works:
[code]
but this one doesn't
[code]
Our metrics app doesn't recognise the `/some/path` - is there any way I can get rid of it using LB controller annotations ? If not then would chaining LB controller + nginx controller help ?

[2022-01-13 14:03] edgarkz commented on #835
Any ETA please on rewrite feature?

[2022-01-13 14:30] rdeteix commented on #2439
Thanks

[2022-01-13 15:34] khushboo121 opened #2459 "ALB ingress controller v1.1.9 sometime didn't register and de-register the target."
Recently found ALB ingress controller sometimes doesn't register and de-register target when there is the new deployment of the application running behind the ALB ingress. Faced this issue with both target type instance and ip.

When rollout the application deployment which was exposed with ALB ingress, we started seeing 502 gateway errors after an investigation found the ALB target group doesn't

[2022-01-13 18:54] tariq1890 commented on #2286
@kishorj Would appreciate your comment on this

[2022-01-13 20:02] HarrisonTotty commented on #835
Also commenting to show the need for this feature.

[2022-01-13 22:00] DariusX commented on #835
As mentioned earlier in this thread, this controller is limited to features available in AWS Load Balancer.
So, AWS would need to support rewrite in their Load Balancer.
Onlt then would this Controller be able to configure the Load Balancer to use such a feature

[2022-01-14 00:12] gitmaniak commented on #1384
@raunyoliveira-hotmart so we need to install both nginx and alb ingress controllers? I am looking for a solution to resolve CORS issues with my ALB using Aws Load Balancer controller.

[2022-01-14 00:55] khteh commented on #835
Do Azure and GCP have this feature in their load balancer?

[2022-01-14 05:27] antigenius0910 commented on #2457
@oliviassss ,

thank you for the detail explaining. closing this issue now

[2022-01-14 05:27] #2457 closed

[2022-01-14 17:37] kishorj commented on #2228
@QuanTran91, I'm closing the issue. If you still face problems, feel free to reopen or create a new issue.

[2022-01-14 17:37] #2228 closed

[2022-01-14 18:37] llacoste opened #2460 "Post "https://aws-load-balancer-webhook-service.kube-system.svc:443/validate-networking-v1beta1-ingress?timeout=10s": context deadline exceeded"
**Describe the bug**
After installing the aws-load-balancer-controller via Helm by following the instructions [here](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html), I am getting the following error:

`
Error from server (InternalError):
error when creating "<REDACTED | Link to minimal ingress is below in reproduction steps>":
Internal error occurred: failed cal

[2022-01-14 19:03] manoelhc commented on #2460
facing the very same issue

[2022-01-14 19:06] M00nF1sh commented on #2459
@khushboo121
Do you have the controller logs available? also, would you mind share your cluster arn and the timestamp when the deployment happen to `k8s-alb-controller-triage AT amazon.com.`

[2022-01-14 19:48] kishorj commented on #2460
@llacoste, are the controller pods up and running?

[2022-01-14 19:52] llacoste commented on #2460
@kishorj, they are up and running. The logs contain no errors.

[2022-01-14 20:36] manoelhc commented on #2460
I'm facing the same issue too. The pods are up, running and reachable from other pods.
Nothing in the logs as well. My alb controller in a private subnet btw.

[2022-01-14 20:42] llacoste commented on #2460
Incidentally, I just tried this with my original terraform code (which is using the AWS EKS terraform module at version 11) and I am having the same issue. This is odd because I have clusters built with identical code that is working.

[2022-01-14 20:51] manoelhc commented on #2460
It seems it's not reaching the service, that's why logs are clear. Perhaps something in the middle is preventing the access to the API like insecure cert, idk.

[2022-01-14 20:55] poblahblahblah opened #2461 "Transient error: [this should never happen] no primary ENI found"
**Describe the bug**
We haven't actually noticed any issues with this error, but we've seen it pop up occasionally

[code]

**Steps to reproduce**

Not sure - we see this about ~15 times every day across our fleet for K8s clusters.

**Expected outcome**

Again, we're not seeing any actual issues. The error appears to be transient, but we see it often enough that I figured it would be worth it to o

[2022-01-14 21:13] kishorj commented on #2460
which CNI do you use? Amazon VPC CNI or Calico or something else?

[2022-01-14 21:17] llacoste commented on #2460
I would assume Amazon VPC CNI, as I did not install Calico. Then again, I did not explicitly configure the Amazon VPC CNI either.

[2022-01-14 21:23] llacoste commented on #2460
@kishorj After reviewing the resulting cluster, it seems that the automation is using [amazon-vpc-cni-k8s](https://github.com/aws/amazon-vpc-cni-k8s) based on the custom resources, service accounts, and pods running in the cluster. For example I can see `aws-node` pods running. I do not see any reference to Calico in the cluster.

[2022-01-14 21:31] manoelhc commented on #2460
I found the issue for my case. I enabled the VPC Flow Logs and I noticed the security groups created by the `terraform-aws-modules` module block the connection between pods from different node groups (which is my case).

[2022-01-14 21:40] llacoste commented on #2460
@manoelhc You're a godsend. Thank you @kishorj as well! I did not have multiple node groups, but after checking the security groups on the worker nodes I saw that the nodes could not talk to one another. Going to fix the automation now and move on to the next thing.

Thanks again!

[2022-01-14 21:40] #2460 closed

[2022-01-17 06:22] khushboo121 commented on #2459
Following is the required annotation when using instance type ?
alb.ingress.kubernetes.io/target-node-labels: label1=value1, label2=value2

[2022-01-17 12:15] margaritamoritz commented on #2349
We have the same issue and I have a question: I saw that ALB after the failure gets ~15 min for reloading (?) update(?), is there some default failure threshold where I can manage this? because [here](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/e21521505d566c7294966ca757e9e5e0f7c13fd9/helm/aws-load-balancer-controller/values.yaml#L171) I can see that the default is 10 sec,

[2022-01-18 05:48] boopathykpm opened #2462 "ALB Ingress is not getting created"
Installed the ALB ingress on the EKS cluster, the chart got installed successfully, the issue is when creating the ingress of the application. I'm trying to install the sample app 2048, when doing so I'm getting error as below

[code]

I guess the IngressClass is not validating properly.

* AWS Load Balancer controller version (v2.3.1)
* Kubernetes version (1.21)
* Using EKS (yes/no), if so versio

[2022-01-18 06:41] imgx64 commented on #2065
/remove-lifecycle stale

[2022-01-18 06:54] ashish3dwe commented on #2460
Hi, I am stuck at exactly this point for a few days now. Can you please share how to modify the security groups via terraform?

[2022-01-18 09:28] ashish3dwe commented on #2460
Never mind, got it, thanks. I added a couple of "aws_security_group_rule" to allow communication on port 9443 between node group and cluster security groups. Works well now.

[2022-01-18 10:04] #2071 closed

[2022-01-18 14:28] llacoste commented on #2460
Hey @ashish3dwe, sorry for the delay. I added an entry to ` node_security_group_additional_rules`. This option is part of the terraform parameters for the EKS module.

[2022-01-18 22:42] kishorj commented on #2462
@boopathykpm, error indicates that the k8s controlplane is not able to connect to the aws-load-balancer-controller pods running on your worker nodes. Could you ensure the cluster security group allows traffic between the k8s controlplane and the worker nodes? Please refer to issue #2460, the symptoms are the same.

[2022-01-18 23:11] kishorj commented on #2461
@poblahblahblah, thanks for reporting the issue. Would you also be able to email the controller logs to k8s-alb-controller-triage AT amazon.com?

[2022-01-18 23:58] kishorj commented on #2459
@khushboo121, the annotation `alb.ingress.kubernetes.io/target-node-labels` is supported starting controller release v2.2.0 and if you specify this annotation helps you filter the worker nodes to register to the load balancer target group. If you do not specify the annotation, all worker nodes get registered.

In case of controller version v1.1.9, the above annotation gets ignored.

[2022-01-19 01:26] wmcnamee-tunein commented on #2338
I have the same problem for other errors as well:

[code]

The biggest issue with this, is that we are unaware of issues after a deployment. Everything "looks" successful. The only way to correlate problems is to watch the aws-load-balancer-controller logs.

[2022-01-19 07:12] boopathykpm commented on #2462
@kishorj Thanks for the update, It would be great if this information is captured in the documentation, I don't see this information anywhere in the documentation.

[2022-01-19 08:48] boopathykpm opened #2463 "Auto-discover subnet is failing on a cluster"
Hi,

Facing an issue when creating the ingress for the ALB, the below is the error message I'm getting

[code]

I had created the [policy](https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.3.1/docs/install/iam_policy.json) and attached it to the node group role.  The subnets are tagged with `kubernetes.io/role/elb` key.  Still facing the issue.

* AWS Load Balancer

[2022-01-19 12:49] oguzhanaygn opened #2464 "controller v2.3.1 giving ApiVersion deprecation warnings in EKS v1.21"
Hi,

I created an EKS 1.21 cluster and I deployed aws load balancer controller onto it, I haven't create an Ingress or IngressClass yet, but in the aws-load-balancer-controller pod logs I saw,
[code]
I know about this deprecation and I will create my Ingress resources with networking.k8s.io/v1 ApiVersion, but as I said, I didn't create any Ingress resource yet. it seems controller itself using thi

[2022-01-19 15:07] przemolb commented on #2234
Is it this feature in any roadmap ?

[2022-01-19 16:23] nthienan commented on #2234
/lifecycle rotten

[2022-01-19 16:24] nthienan commented on #2234
/remove-lifecycle rotten

[2022-01-19 16:42] kishorj commented on #2463
@boopathykpm, can you check whether IMDSv1 is disabled on your setup? The IMDSv2 isn't accessible from the container unless you configure the hop-limit to at least 2.

[2022-01-19 16:44] kishorj commented on #2464
@oguzhanaygn, thanks for reporting the issue. We plan to address it in the upcoming v2.4.0 release. Please refer to issue #2050 for further details.

[2022-01-19 17:59] rafaip commented on #2058
Is it possible to reopen this?

ALB needs to have outbound to target groups to be able to send the traffic, and by default it's outbound is 0.0.0.0/0.
It should be possible to restrict the outbound rule for one specific target group

[2022-01-19 23:05] kishorj commented on #2462
/kind documentation

[2022-01-19 23:08] kishorj commented on #2462
@boopathykpm, what does your cluster create workflow look like? Did you use eksctl, or the aws clis, or some other tools.

[2022-01-19 23:19] kishorj commented on #2458
This is due to issue #2203. We have a fix and will include it in future patch release. In your case, the first rule gets hit for all request. Until the fix is available, you can reorder the path in your ingress spec as a workaround.

[2022-01-19 23:21] kishorj commented on #2456
@kvnreddy6680, did the response from @M00nF1sh help solve your problem?

[2022-01-19 23:24] kishorj commented on #2441
@burkempers, I'm closing the issue for now. If you have further concerns, feel free to reopen or create a new issue.

[2022-01-19 23:24] #2441 closed

[2022-01-19 23:25] kishorj commented on #2440
@akshay-bharatdwaj, did my previous response help solve your problem? I'm closing the issue for now, if you have further concerns regarding this matter, feel free to reopen or create a new issue.

[2022-01-19 23:25] #2440 closed

[2022-01-19 23:27] kishorj commented on #2427
@todd-dsm, I'm closing the issue for now. If you have further concerns regarding this matter, feel free to reopen or create a new issue.

[2022-01-19 23:27] #2427 closed

[2022-01-19 23:27] kishorj commented on #2419
@vmasule, any updates?

[2022-01-19 23:34] #2455 closed

[2022-01-19 23:36] kishorj commented on #2359
@DevOpserzhao, I'm closing the issue. If you have further concerns, feel free to reopen or create a new issue.

[2022-01-19 23:36] #2359 closed

[2022-01-20 00:42] msvticket commented on #2311
/remove-lifecycle stale

[2022-01-20 02:14] boopathykpm commented on #2462
@kishorj Cluster is created using the Terraform [EKS](https://registry.terraform.io/modules/terraform-aws-modules/eks/aws/latest) module.

[2022-01-20 02:38] niteenkole opened #2465 "Question: Can we have ALB/NLB in one vpc and EKS cluster in other like Azure Application Gateway ingress controller ?"
**Is your feature request related to a problem?**
say if we have centralized ingress security VPC with firewall now in that security VPC we don't want to put any compute. Its like hub and spoke model. Now in spoke we can have ec2 ,eks.... spoke is tied to TGW and all .

ingress point is security VPC.

**Describe the solution you'd like**
Can we have ALB/NLB in security VPC and eks private in spoke

[2022-01-20 04:02] TBBle opened #2466 "`loadBalancerClass` support?"
**Is your feature request related to a problem?**

Not a problem per-se. I just came across [`Service.spec.loadBalancerClass`](https://kubernetes.io/docs/concepts/services-networking/service/#load-balancer-class) and thought it might be a good alternative or replacement for the `service.beta.kubernetes.io/aws-load-balancer-nlb-target-type` annotation.

By it's very presence, it implies `service.be

[2022-01-20 08:28] jjclemens1 commented on #646
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-alb
  annotations:
    alb.ingress.kubernetes.io/actions.ssl-redirect: |-
      {
        "Type": "redirect",
        "RedirectConfig": {
          "Protocol": "HTTPS",
          "Port": "443",
          "StatusCode": "HTTP_301"
        }
      }
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'

[2022-01-20 14:29] adriandeac opened #2467 "Ingress group merging with ssl redirect"
**Describe the bug**
I'm trying to use the IngressGroup feature in order to support multiple ingresses in different namespaces serviced by the same ALB but it looks the merge does not work if I also use the SSL redirect feature.

**Steps to reproduce**
I have the following two ingress definitions that I deploy in two different namespaces (some parts redacted):
[code]
[code]
After deployment I chec

[2022-01-20 16:33] kishorj commented on #2466
@TBBle, thanks for the feature request. We are working on it for the upcoming v2.4.0 release.

/kind feature

[2022-01-20 17:27] CatfoodHeist commented on #835
This is a deal breaker and I cannot use this controller in any of my solutions. I would rather not have to install other controllers to handle such a simple feature.

[2022-01-20 19:56] DIG-TE commented on #2459
Running into a similar problem with the latest image on master (2.4.0)
Running K8s 1.22, hosting using kubeadm
Target groups are not registering the worker nodes for some reason

[2022-01-20 21:01] schollii commented on #835
@CatfoodHeist the main problem IIUC is that AWS ALB itself does not support that. The ALB controller is just the mechanism to instantiate ALB, so the Ingress is ultimately limited by the cloud implementation, AWS ALB in this case.

There are a couple of workarounds that do not involve another controller:

1. Use subdomains instead of paths: this will not work in all situations, but has worked very

[2022-01-20 21:23] bwmills commented on #1608
Greetings, I've been tracking this for a while and have become a bit unclear in connecting my use case with what currently is supported, and what will be supported in Kubernetes and in EKS. Apologies in advance if I'm asking this in the wrong thread.

**AWS Use Case**

Device connecting to an ingestion microservice running as a multi-replica deployment in EKS (K8s 1.21). The device is provisioned

[2022-01-20 22:51] matt-TE opened #2468 "--cloud-provider Deprecation and Node registration"
**Is your feature request related to a problem?**
Now that the cloud-provider flag is deprecated, I need a way for nodes to have ProviderID added so that nodes can be registered to target groups.

**Describe the solution you'd like**
The controller auto-discovers worker nodes for pods that are running for services defined in the Ingress file

**Describe alternatives you've considered**
I'm unsure

[2022-01-21 13:50] matti opened #2469 "1.3.4 not found"
https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/helm/aws-load-balancer-controller/Chart.yaml#L4

this line says 1.3.4 but only `--version 1.3.3` works

[2022-01-21 16:15] kishorj commented on #2469
@matti, we haven't synced the latest chart to the eks-charts repo. 1.3.3 is still the latest released chart - https://github.com/aws/eks-charts/blob/master/stable/aws-load-balancer-controller/Chart.yaml#L4.

[2022-01-21 17:17] matti commented on #2469
that is super confusing

[2022-01-21 22:26] oliviassss commented on #2411
/assign

[2022-01-22 19:11] zswanson opened #2471 "controller silently ignores ingress merging if a listen port is not declared"
**Describe the bug**
When using multiple ingresses with a shared `group.name` **and** the first ingress declares multiple listen-ports (ie, http:80 and https: 443), any subsequent ingress appears to need the listen-ports annotation as well, to specify which listener the rule should go on. That all seems logical once i figured it out, but the controller will **silently ignore** the ingress in quest

[2022-01-22 22:48] #2193 closed

[2022-01-23 13:58] #1975 closed

[2022-01-23 15:00] matti opened #2472 "helm delete does not remove default token"
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2071#issuecomment-867859035

[2022-01-23 17:08] matti opened #2473 "keepTLSSecret should be true by default"
running helm upgrade twice without `keepTLSSecret: true` results in

found this from https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2071#issuecomment-998655678

[2022-01-23 19:32] gpothier commented on #667
For anyone stumbling on this issue, it can be solved by specifying pathType: Prefix on the Ingress (not sure in which version of k8s this attribute was introduced)

[2022-01-23 21:47] ismith commented on #1838
I have also been bitten by this - it's a rather opaque issue to debug, since:
- clientSecret is (understandably) not visible in the AWS console or `aws elbv2 describe-rules`
- the oidc idp just responds 561
- trailing newlines are subtle - `... | base64 -d` _looks_ right ...

And easy to fall into; my workflow for creating the secret.yml was `echo ... | base 64 | xsel -ib`; what I wanted was `echo

[2022-01-24 10:09] dsaydon90 opened #2474 "error: ingress: unable to find port 8080 on service api"
**Describe the bug**
I have a pod which listen to 8080 but my service is listen to 80

service:
[code]

ingress:
[code]

all of my targets are down
![image](https://user-images.githubusercontent.com/22152786/150762217-48632d84-f083-401f-85bb-f4a6d3bafd96.png)

![image](https://user-images.githubusercontent.com/22152786/150763019-5484c284-a2ca-4e49-bb52-55c08bd067b9.png)

If I'm changing the annota

[2022-01-24 18:29] haouc commented on #2328
/assign

[2022-01-24 19:03] kishorj commented on #2474
@dsaydon90, what happens when you don't specify the `alb.ingress.kubernetes.io/healthcheck-port` annotation on the ingress? If possible, could you email your controller logs to k8s-alb-controller-triage AT amazon.com?

[2022-01-25 10:03] adriandeac commented on #2467
This seems to be due to #2471, adding the listen ports to the second ingress works.

[2022-01-25 10:03] #2467 closed

[2022-01-25 16:06] boopathykpm commented on #2462
@gitmaniak This is fixed, the reason for the failure is the service port number is not opened in the node security group.  This piece of information is not captured anywhere in the documentation.

[2022-01-25 20:10] JeremyBolster opened #2476 "Address Field of Ingress Is Empty After Load Balancer is Provisioned"
**Describe the bug**

When provisioning an ingress/loadbalancer the address field of the ingress should be updated to that of the load balancer but it is left blank instead. This bug seems to be triggered when WAF is enabled on an EKS Private Cluster.

**Steps to reproduce**

1. Create Ingress
2. Wait for LB to be created
3. Run kubectl and see that the address field is blank.
[code]

**Expected o

[2022-01-25 20:42] gitmaniak commented on #2462
@boopathykpm yeah, I am currently working on a requirement and what I posted above was wrong. if I enable this flag (wait_for_load_balancer = true), that is when the above mentioned POST call happens and my pod might not have 9443 port open. If I do not use that flag, the ingress gets created but the following steps need to have some other alternative to wait till the load balancer endpoint is ava

[2022-01-25 23:58] kishorj commented on #2476
@JeremyBolster, did the AWS load balancer controller reconcile your ingress/ingress group successfully? Are there any events reported in the ingress/ingress group?

[2022-01-26 00:28] kishorj commented on #2472
It appears you've setup IAM role for service accounts (IRSA). In this case, you create the serviceaccount via eksctl (or a similar process), and the serviceaccount refers to the secret aws-load-balancer-controller-token-xxxxx. Since the serviceaccount did not get created by helm, it will not be removed on helm chart delete - this is not a problem with the chart.

If you used eksctl, you can delete

[2022-01-26 00:29] kishorj commented on #2473
/kind feature
we will consider it for future chart releases

[2022-01-26 01:58] M00nF1sh commented on #2465
@niteenkole
It's possible with v2.3.1 release. (PR: https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1862)

You can either use the TargetGroupBinding resource to bind to a TargetGroup in another VPC.
or configure the controller to have another vpc's id.

[2022-01-26 09:32] benjamin658 commented on #2203
Could we manually reorder the rule by AWS console before the bug fixing?

[2022-01-26 10:31] tolerant-hu opened #2477 "eks requst sts timeout."
**Describe the bug**
aws-load-balancer-controller requst https://sts.ap-southeast-1.amazonaws.com timeout.

**Steps to reproduce**

1. eksctl create cluster --name <> --without-nodegroup
2. eksctl create nodegroup --cluster <> --name <> ....
3. step by step exec to https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html
4. end

[code]

**Expected outcome**

1. I try to t

[2022-01-26 17:38] JeremyBolster commented on #2476
From my observation the only "reconciliation" that is missing is the hostname field being populated. So, yes.

Yes, when WAF was still enabled I was getting the "`http` response from `https` server" error with the WAFv2 endpoint listed in the event. This was also captured in the logs.

[2022-01-26 23:08] kishorj commented on #2476
@JeremyBolster, it is designed behavior for the first reconcile where controller doesn't populate the status field unless all of the reconciliation is successful including WAF. In your case, you need to disable WAF since it is not available for your environment.

[2022-01-26 23:09] M00nF1sh commented on #2477
@tolerant-hu
in your tests, you are using `docker run` on a node, which is using node's network instead of network setup by CNI(which pods is using).
Would you help try setup a Kubernetes pod(such as using AL2 image) and test connectivity to sts by execute into that pod(kubectl exec)
I guess it's some misconfigured setting that cause this , such as enabledExternalSNAT on cni but nodes are in publi

[2022-01-26 23:19] kishorj commented on #2472
/kind documentation

[2022-01-26 23:24] kishorj commented on #2469
@matti, were there any changes in 1.3.4 that you were interested in? We are delaying the chart release until v2.4.0, unless there are critical fixes.

[2022-01-26 23:26] kishorj commented on #2468
@matt-TE, could you elaborate more in this? Node resources would always have ProviderID added regardless of the `cloud-provider` flag.

[2022-01-26 23:28] kishorj commented on #2464
@oguzhanaygn, I'm closing this issue since we will support it in v2.4.0 release and we already have an issue to keep track of.

[2022-01-26 23:28] #2464 closed

[2022-01-27 06:33] matti commented on #2469
no, just got confused

[2022-01-27 15:13] matt-TE commented on #2468
@kishorj for sure!

For context: I am currently upgrading a K8s cluster from 1.18.8 to 1.22.5.

As part of the upgrade to 1.22.5, Kubelet has deprecated the --cloud-provider flag, with it being fully removed in 1.23+

So, right now, yes, using --cloud-provider=aws as an extra arg for Kubelet works, but we will not be able to upgrade to 1.23.

When I remove the --cloud-provider extra arg, a Provide

[2022-01-27 15:36] tru-cstavares opened #2479 "Failed calling webhook "vingress.elbv2.k8s.aws": the server could not find the requested resource"
**Describe the bug**
We are trying to install an ingress but it fails with following error:

[code]

Our ingress is being created as follows (ingress.yaml):

[code]

I could successfully create the Ingress later editing the ValidatingWebhookConfiguration replacing v1 by v1beta1 however this is an workaround not the final solution. I had edited as follows:

[code]

On aws-load-balancer-controller p

[2022-01-27 17:05] s1rc commented on #964
I feel like this should be default functionality for an ingress.

[2022-01-27 19:47] haouc commented on #2479
Hey @tru-cstavares, yes, we are aware of this issue if users `helm install` from this repo/helm or eks-charts/stable/aws-load-balancer-controller directly.. We are working on it.

[2022-01-27 20:38] kishorj commented on #2479
@tru-cstavares, helm template from this repo does not work with aws-load-balancer-controller:v2.3.x releases. You either need to build the image from main branch, or wait for the v2.4.0 to be released. Please use the eks-charts repo as pointed by @haouc

[2022-01-27 22:47] arvryna commented on #2462
hello, is this issue sorted ? i saw label - good-first-issue. would like to take it up, if it is open

[2022-01-27 23:53] kishorj commented on #2462
@arvryna, thanks for your interest, feel free to contribute to this issue.

/assign arvryna

[2022-01-28 00:07] kishorj commented on #2469
We sync to eks charts periodically. The 1.3.4 is an exception since we want to wait for the upcoming v2.4.0 release. This repo contains the latest code. For stable releases, please refer to the charts from the eks-charts repository as mentioned in the installation steps.

I'm closing this issue.

[2022-01-28 00:07] #2469 closed

[2022-01-28 00:08] kishorj commented on #2476
@JeremyBolster, I'm closing this issue. If you have further concerns, feel free to reopen or create a new issue.

[2022-01-28 00:08] #2476 closed

[2022-01-28 03:31] Reinkaos opened #2484 "504 TIMEOUT WITH SECURITY GROUPS"
Hey,

**Describe the bug**

There appears to be a difference in the way that security groups are applied between v2.3.0 and v2.3.1. The way that I am using the security groups is that we have extra security groups applied to the ALB to restrict direct access to it so that it can only be accessed via our CDN. The way that we do this is with the `alb.ingress.kubernetes.io/security-groups:` annotatio

[2022-01-28 06:39] arvryna commented on #2462
/good-first-issue

[2022-01-28 06:42] arvryna commented on #2462
I'm new to this project, could you help me to get started with this issue ?

    Little bit background about the existing behaviour & expected behaviour
    What needs to be done as part of this issue?
    After making changes, how can I test it and verify?

[2022-01-28 16:51] christopher-wong opened #2485 "HTTP and gRPC ingresses inside single ingress group"
**Describe the bug**
Our understanding is that ingress groups can be used to expose multiple different services on different ports using the same ALB. We have two backend services, one HTTP,and one GRPC that we'd like to expose with a single ALB on different ports.

The GRPC ingress is created correctly, but when the HTTP ingress is created we get the following error:

[code]

This seems to indica

[2022-01-28 17:02] kishorj commented on #2484
@Reinkaos, when you specify the `alb.ingress.kubernetes.io/security-groups` annotation, controller does not configure the ingress rules on your EC2/ENI security group, you will need to add the necessary rules manually. However, starting v2.3.0 release, we provide an additional annotation `alb.ingress.kubernetes.io/manage-backend-security-group-rules`,  if set to `"true"`, controller will configure

[2022-01-28 17:05] tru-cstavares commented on #2479
Hi @haouc, @kishorj thanks for your prompt reply. I was not aware of that. Is this written somewhere?
Regarding v2.4.0, when is planned to be released?

[2022-01-28 17:25] kishorj commented on #2484
I will update the live docs for alb.ingress.kubernetes.io/manage-backend-security-group-rules. #2486

[2022-01-28 18:38] kishorj commented on #1791
Starring v2.3 release, controller supports the annotation `alb.ingress.kubernetes.io/manage-backend-security-group-rules`. When you set the annotation to "true", controller attaches the shared backend security group to the ALB, and create ingress rules on the Node/Pod SG to allow traffic from the shared SG.

Closing the issue.

[2022-01-28 18:38] #1791 closed

[2022-01-28 18:44] kishorj commented on #2485
@christopher-wong, would you be able to share the model generated by the controller for your ingress group? You could email it to k8s-alb-controller-triage AT amazon.com, if you prefer.

[2022-01-28 20:06] ghostsquad opened #2487 "aws-load-balancer-nlb-target-type: ip results in NodePort and ClusterIP being assigned"
**Describe the bug**
When creating a service and specifying the use of `nlb-target-type: ip`, it appears the service ends up getting a ClusterIP and NodePorts, even though those are not desired.

**Steps to reproduce**

[code]

**Expected outcome**

To see a NLB created, pointing traffic to pods. The service should not have nodeport OR a clusterIP.

**Environment**

* AWS Load Balancer controller

[2022-01-28 22:23] kishorj commented on #2487
@ghostsquad, ClusterIP and NodePort are allocated by kubernetes, not aws-load-balancer-controller. For NodePort, you can refer to https://kubernetes.io/docs/concepts/services-networking/service/#load-balancer-nodeport-allocation for further instructions on disabling allocation - feature will be beta in k8s 1.22.

[2022-01-29 01:10] #2001 closed

[2022-01-29 02:20] ghostsquad commented on #2487
@kishorj thank you for that. So you know why I'm getting a clusterIp?

[2022-01-29 02:27] ghostsquad commented on #2487
@kishorj I think I found my answer. I didn't realize this was kubernetes doing some of the work and AWS controller doing other parts.

Thank you for your quick response and guidance via documentation.

[2022-01-29 02:27] #2487 closed

[2022-01-29 19:18] #2191 closed

[2022-01-30 19:26] Reinkaos commented on #2484
Hey @kishorj,

Thank you for your reply and letting me know about that. I can confirm with the manage-backend-security-group-rules annotation my set up is working now.

Thanks for updating the docs as well!

[2022-01-30 19:26] #2484 closed

[2022-01-30 20:12] gitmaniak commented on #2312
@kishorj or anyone: !!urgent help!!
is there any workaround for something similar to keepTLSSecret=true? as this configuration is not working with

app.kubernetes.io/version=v2.3.1
helm.sh/chart=aws-load-balancer-controller-1.3.3

If I have to assign the initially created TLS values to the webhookTLS config params, is there any way?

[2022-01-30 20:24] tamirhad commented on #2312
we are using cert-manager and not facing this issue anymore.

[2022-01-30 20:42] GrigorievNick commented on #2039
I just have the same issue, with 1.21 eks.
What strange it's appeared when I migrate cluster from one Account to another.
In the previous account, the same receipt works perfectly.
I use  helm + terraform to instal alb.
[code]

[2022-01-30 20:44] gitmaniak commented on #2312
sorry, I am new to the kubernetes world, so @tamirhad if we enable cert-manager, are the certs auto generated and maintained? or is it app teams responsibility to load it somewhere (secrets or aws acm) and reference it? Also, is there any option to not use TLS? our plan is to terminate TLS at the load balancer level.

[2022-01-30 20:50] GrigorievNick commented on #2462
HI @kishorj ,
I have same issue and I am 100% sure it's related to security group configuration like you described.

but what I miss, is do I need to open all ports from the control-plane to my Nodes or I can open only 443 port?

[2022-01-30 21:04] GrigorievNick commented on #2460
Hi, I get the exact same issue.
but I don't which SG cause this error.
I can see that by default `aws-eks-module` allow ingress and egress traffic between [control-plane](https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/node_groups.tf#L62) and [Node](https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/main.tf#L80) by 443 port.
Do I need open something else

[2022-01-30 22:12] tamirhad commented on #2312
The very manager will create the certificates for you.
It's not the external certificates you are using on the LB(these are configured via annotations).
You will need to install the cert-manager before installing aws-lb-ctrlr in order to utilize this feature.

[2022-01-31 01:33] #1962 closed

[2022-01-31 02:31] gitmaniak commented on #2312
@tamirhad thank you, that did the trick!

[2022-01-31 04:24] ashish3dwe commented on #2460
Hi @GrigorievNick , you need to open 9443. This is the webhook-bind-port used by the aws-load-balancer-controller. See here for reference - https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/deploy/configurations/

[2022-01-31 10:48] stevehipwell commented on #2313
/remove-lifecycle stale

[2022-01-31 17:10] kishorj commented on #2462
@GrigorievNick, for aws lb controller, you'd need to allow port 9443 for webhook access. Other application components might have different requirements, you'd need to figure out the optimum configuration based on your security requirements.

[2022-01-31 19:58] voldemortensen commented on #2373
The two behaviors that would make sense (to me, at least) are:

Set them as weighted target groups for each rule, with equal traffic going to each target group, unless a more specific `action` has been specified for splitting traffic on that rule.

or

Don't use any of them and log an error stating only one target group can be used.

Any other behavior I've thought of (i.e. using which TargetGroup

[2022-01-31 20:11] oliviassss commented on #2203
@benjamin658 I think it's an option. You can go to the AWS console to select the specific load balancer, then select the `Listener` tab, and click on the `view/edit rules`. Then you can see all the rules for this ingress. There's an arrow icon on the menu bar, which is to reorder the rules.
![Screen Shot 2022-01-31 at 12 07 15 PM](https://user-images.githubusercontent.com/86027005/151865416-a4777b

[2022-01-31 20:24] niteenkole commented on #2465
Awesome. Thank You

[2022-01-31 20:40] #2200 closed

[2022-01-31 21:48] M00nF1sh commented on #1572
We acknowledge this is a important feature request, and will start work on it post our v2.4.0 release.

[2022-01-31 23:50] carloscruzadomatrix opened #2488 "Target is not associate with NLB"
**Describe the bug**
Target is not associate with NLB
Failed deploy model due to Internal error occurred: failed calling webhook "mtargetgroupbinding.elbv2.k8s.aws": Post "https://aws-load-balancer-webhook-service.kube-system.svc:443/mutate-elbv2-k8s-aws-v1beta1-targetgroupbinding?timeout=10s": context deadline exceeded.

**Steps to reproduce**
- I install with the via YAML manifests
https://kuber

[2022-02-01 01:43] #1144 closed

[2022-02-01 02:01] kishorj commented on #2488
@carloscruzadomatrix, do you use terraform? Could you check if your worker nodes allow allow access to port 9443 from the control plane? This looks similar to issue #2462

[2022-02-01 08:56] lifeofmoo commented on #1763
This is still an issue (for me anyway). We also do not use cert-manager so to be able to upgrade the controller from 2.1.3 to 2.3.1 I also had to use my previously generated self signed certs like above but also had to add the caBundle spec back into the install file and place it under each of the clientConfig objects (4 places in the file).

i.e

``   clientConfig:
    caBundle:  XXXXXX
    servi

[2022-02-01 08:57] lifeofmoo commented on #1763
/remove-lifecycle stale

[2022-02-01 14:43] carloscruzadomatrix commented on #2488
Yes, I use terraform. You are right! all work when activate the SG with VPC CIDR and port 9443! Thank you

[2022-02-01 17:11] ypicard commented on #2312
This is a workaround correct? We should still expect this to work at some point?

[2022-02-01 19:05] shaoxt commented on #2354
This feature is critical for AZ evacuation, when one AWS AZ went back, we should have a quick way to remove the nodes in the BAD AZ from the target group quickly.

[2022-02-01 19:48] lcaproni-pp commented on #2312
I'm siding with the workaround theory, I don't want to have to enable cert-manager as it's more things to think about also this used to just work. It was a recent upgrade at some point that broke it, I know this because We have an older cluster with a old version of this controller installed and it doesn't hit these issues.

[2022-02-01 22:31] kishorj commented on #2488
Closing the issue. Keep track of the doc changes in 2462.

[2022-02-01 22:31] #2488 closed

[2022-02-01 22:33] kishorj commented on #2458
Closing the issue in favor of the duplicate @2203.

[2022-02-01 22:33] #2458 closed

[2022-02-01 22:50] kishorj commented on #2296
we updated the live docs, closing the issue.

[2022-02-01 22:50] #2296 closed

[2022-02-01 22:55] kishorj commented on #2456
@kvnreddy6680 I'm closing the issue. If you have further concerns, feel free to reopen or create a new issue.

[2022-02-01 22:55] #2456 closed

[2022-02-02 01:51] kishorj commented on #2463
If you use kops, make sure the hop limit is at least 2, for example

kops edit ig --name=$NAMAE nodes-<az>

[code]

and update your cluster

[2022-02-02 01:52] kishorj commented on #2463
closing the issue. If problem persists, or you have further concerns, feel free to reopen or create a new issue.

[2022-02-02 01:52] #2463 closed

[2022-02-02 07:57] tobrien-endpoint opened #2490 "502 Errors when deployment scales up"
**Describe the bug**

We are getting a few 502 errors from the ALB when our deployments scale up with HPA.

**Steps to reproduce**

We are leveraging `alb.ingress.kubernetes.io/target-type: ip`, auto-injecting the readinessGates into our pods (we labeled the namespace), have readinessProbess, and have `alb.ingress.kubernetes.io/healthcheck-path` enabled. Our nodes are only under about 30% load dur

[2022-02-02 13:23] rakeshdevops12 opened #2491 "failed to build LoadBalancer configuration due to failed to resolve 2 qualified subnet with at least 8 free IP Addresses for ALB."
Hi Team,

i'm trying to create alb via ingress but getting below while creating. can you please help us on the same.

My ingress manifest is :

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-usermgmt-restapp-service
  labels:
    app: sia-app
  annotations:
    # Ingress Core Settings
    kubernetes.io/ingress.class: "alb"
    alb.ingress.kubernetes.io/scheme: internet-faci

[2022-02-02 13:24] rakeshdevops12 commented on #2491
E0202 12:51:05.277265       1 controller.go:217] kubebuilder/controller "msg"="Reconciler error" "error"="failed to build LoadBalancer configuration due to failed to resolve 2 qualified subnet with at least 8 free IP Addresses for ALB. Subnets must contains these tags: 'kubernetes.io/cluster/eksdemo2': ['shared' or 'owned'] and 'kubernetes.io/role/elb': ['' or '1']. See https://kubernetes-sigs.git

[2022-02-02 15:11] TBBle opened #2492 "Handle incompatible `Service.spec.allocateLoadBalancerNodePorts` value"
**Is your feature request related to a problem?**

The `ServiceLBNodePortControl` feature gate went to beta in k8s v1.22, which will be out on EKS in [approximately March 2022](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-release-calendar).

This means we'll soon be in the place where `allocateLoadBalancerNodePorts: false` will be desirable for NLB-IP LB Ser

[2022-02-02 18:21] przemolb commented on #2458
This issue was more about rewriting the path i.e.: get rid of the `/some/path/` so that the `metrics-service` can see it as simple `/`

[2022-02-02 18:48] #2313 closed

[2022-02-02 21:20] vmvazque commented on #1776
/remove-lifecycle rotten

We have a very similar design. We have a primary ingress file with the shared annotations (certificate arns, group name, security groups) and then have the micro-service ingress files limited to attaching itself to the group and adding their path. We know these micro-services should be using the same certificate as the primary ingress, so adding the certificate-arn or cer

[2022-02-02 21:35] oliviassss commented on #2491
@rakeshdevops12 just to confirm, you have tagged the subnets correctly, but you still see this error?

- tag public subnets with `kubernetes.io/role/elb`
- tag private subnets with `kubernetes.io/role/internal-elb`
- common tag: `kubernetes.io/cluster/${cluster-name}`

If the error still exists with these tags, it might be that there is no sufficient IP addresses available in your subnets, you can

[2022-02-02 22:34] bpiper opened #2493 "Controller deletes an ALB it didn't create when there are no ingresses left"
I'm using Terraform to manage an ALB (because I need to hook it up with other non-k8s stuff), and also to create Kubernetes deployments + ingresses on EKS.  Because I only want the load balancer controller to manage listeners and target groups and not the ALB itself, I used these tags on the ALB:

[code]

This all works fine, but if I delete the deployments and ingresses via Terraform (they're in

[2022-02-02 22:56] M00nF1sh commented on #2466
i think we can use `service.k8s.aws/nlb` to align with our IngressClass's `ingress.k8s.aws/alb` name. also it denotes it's a NLB :D

[2022-02-02 23:05] kishorj commented on #2492
/kind feature
/assign

[2022-02-02 23:11] oliviassss commented on #2485
/assign

[2022-02-02 23:12] M00nF1sh commented on #2490
@tobrien-endpoint
You'll also need a prestop hook to `sleep`, see https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2366 for more details

[2022-02-02 23:14] haouc commented on #2474
/assign

[2022-02-02 23:15] tobrien-endpoint commented on #2490
@M00nF1sh I saw we'll need to achieve 200s during scale down events / rolling deploys, but we don't have any pods being terminated during this time. This is happening when we are going from say, 2 -> 5 pods of the same deployment. Pods are only being added, not stopped/removed during the events where we're seeing the 502s. Would this have any effect during scale up?

[2022-02-02 23:20] kishorj commented on #2468
@matt-TE  Once the --cloud-provider flag is not available, you'd need to configure external CCM. Please follow the following guide to setup AWS cloud provider - https://github.com/kubernetes/cloud-provider-aws/blob/master/docs/getting_started.md

[2022-02-02 23:24] kishorj commented on #2465
@niteenkole, I'm closing the issue. If you have further concerns, feel free to reopen or create a new issue.

[2022-02-02 23:24] #2465 closed

[2022-02-02 23:28] kishorj commented on #2461
@poblahblahblah, what instance type do you use? Per the aws documentation the eni Attachment device index is 0 for the first (primary) interface. I'm uncertain whether it is due to CNI or instance type in your case. Would you be able to email further details to us, we will take a look?

[2022-02-02 23:31] kishorj commented on #2459
@DIG-TE, would you be able to share the controller logs with us and the event timeline? Would it be possible for your worker nodes to be in NotReady state? What CNI plugin do you use?

[2022-02-02 23:32] poblahblahblah commented on #2461
Sorry for the silence - was on PTO for the past few weeks.

I'll get this to you tomorrow.

[2022-02-03 01:18] kishorj commented on #2492
@TBBle, thanks for bringing this issue up. For the short term, we will make changes to the reconciler to fail when `allocateLoadBalancerNodePorts: false`, and the node port is not allocated. We will consider the webhook solution for the long term when have one for the service resources.

[2022-02-03 02:23] #2411 closed

[2022-02-03 03:23] TBBle commented on #2466
I observe that the current PR has gone with the simple "single `loadBalancerClass` value to select this controller", unlike the `IngressClass` support.

Perhaps in future, we might see something like `LoadBalancerClassParams` (along the line of `IngressClassParams`) to allow setting defaults (or just more-structured-than-annotations configuration) for a given `loadBalancerClass` values. That would

[2022-02-03 04:33] khushboo121 commented on #2459
Recently we have enabled the wafv2 feature and the ALB controller doesn't have permission to "wafv2:GetWebACL on resource" so in the next service deployment target got updated and ALB-ingress-controller is not able to reconcile new targets.
Once permission is updated ALB ingress controller is able to Reconciler new targets.

[2022-02-03 04:33] #2459 closed

[2022-02-03 13:45] vmasule commented on #2419
@kishorj Sorry today only checked this message, sure will check on requested detail and update here.

[2022-02-04 01:00] kishorj commented on #2493
@bpiper, though you can manually specify tags to associate load balancer to k8s resources, controller supporting external lb is still not official - the ALB resource will get deleted if your ingress group becomes empty. Our long term plan is to support specifying externally managed load balancer ARN via annotation, feature request #2065 to track the issue.

[2022-02-04 02:15] bpiper commented on #2493
Thanks for clarifying @kishorj.  I'll keep an eye on that feature request.  The impact of the issue is something I can live with for now anyway.

[2022-02-04 04:02] guillaumecle commented on #870
Should we create a dedicated issue for the ability to name the target group as well?

[2022-02-04 13:43] dsaydon90 commented on #2474
Hi @kishorj , when I use the annotation `alb.ingress.kubernetes.io/healthcheck-port: traffic-port` (which is the default) it's working as expected, and it will use the right health check port (in my case `8080`)

[2022-02-05 16:27] akhal3d96 opened #2494 "stickiness doesn't work"
I set the group target annotation on the ingreess configuration to enable sticky sessions, however it doesn't seem to work

![image](https://user-images.githubusercontent.com/1307905/152649897-525c2861-34d3-49ef-a62b-c571348ffab1.png)

[code]
One thing worth noting is that inside the target group itself the attribute tab is showing this:

![image](https://user-images.githubusercontent.com/1307905/

[2022-02-06 01:01] #2219 closed

[2022-02-06 01:03] #2218 closed

[2022-02-06 16:20] #1811 closed

[2022-02-07 15:54] DZDomi commented on #2462
For people are stumbling on this after upgrading the aws terraform eks module to version `18.x`, the required configuration for the module to work with the load balancer controller is:

[code]

[2022-02-07 17:37] #2328 closed

[2022-02-07 17:50] vyanhursky commented on #1572
+1

[2022-02-07 19:19] kishorj commented on #2493
closing the issue in favor of the feature request 2065.

[2022-02-07 19:19] #2493 closed

[2022-02-07 19:21] kishorj commented on #2491
@rakeshdevops12, you could also query the subnets in your VPC using the following aws cli

[code]
replace ${VPC_ID} with your VPC id

If it returns empty, then the subnets are not tagged appropriately.

[2022-02-07 19:25] kishorj commented on #2249
@maciekwisniewski, could you verify if the aws cli returns the subnets for your vpc?
For internal lb
[code]
For internet facing lb
[code]
replace ${VPC_ID} with your VPC id

[2022-02-07 22:15] oliviassss commented on #2485
@christopher-wong Hi, I was trying to reproduce this issue with v2.3.1 using your manifest, but I didn't see the error mentioned above. Can you please email your controller logs to  k8s-alb-controller-triage AT amazon.com for further investigation? Thanks

[2022-02-08 03:12] #2466 closed

[2022-02-08 03:12] #2492 closed

[2022-02-08 09:24] practical-gitops commented on #2460
This resolved my issue hope it helps others https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2462#issuecomment-1031624085

[2022-02-08 10:47] krangerich opened #2495 ""the server could not find the requested resource""
**Describe the bug**
The AWS load balancer controller pod does not start. There is only this error message:

`{"level":"error","ts":1644315222.4139988,"logger":"setup","msg":"unable to create controller","controller":"Ingress","error":"the server could not find the requested resource"}`

I've no idea what resource is being requested. CPU / memory? An external URL? The k8s API? Something from AWS?

[2022-02-08 12:31] jrsherry commented on #2282
/remove-lifecycle rotten

[2022-02-08 15:52] cepefernando commented on #1694
I had the same issue, was fixed by updating the Image to use my correct region, somehow It was trying to use the us-west-1 instead of us-east-1 image.

[2022-02-08 16:50] kishorj commented on #2495
@krangerich, the v2.3.1 version of the controller does not support networking.k8s.io/v1. k8s 1.22 dropped support for ingress/v1beta1, so the controller is not functional. We plan to support v1 in the upcoming v2.4.0 release - https://github.com/kubernetes-sigs/aws-load-balancer-controller/projects/9.

[2022-02-08 16:56] stijnbrouwers commented on #2071
Can confirm that this solution also fixed it for me.

[2022-02-08 17:40] nigel-codaio commented on #2312
We're also hitting this but oddly only in one cluster.   We're using Terraform's `helm` provider to manage the chart.  No amount of nuke, create or updates allows this to converge.  I've tried `keepTLSSecret=true` to no avail.    We don't use cert-manager so that's a none option for us.

The only thing that's "worked" is the heavy hammer to ignore drift in Terraform 🤮:
[code]

Is there anyway to g

[2022-02-08 18:54] danthegoodman1 commented on #1572
+1

[2022-02-08 19:06] shaoxt opened #2496 "Desired AvailabilityZoneIDs support"
**Is your feature request related to a problem?**

When anything wrong in one of the AvailabilityZone of AWS, how can we turn off the traffic quickly to all ingresses in the cluster?
So that the traffic won't be impacted by the bad AZ.

There is some discussions about the approach to apply target node labels on each Ingress #2354.
Think about the case that couple hundreds ingresses in one cluster,

[2022-02-08 19:39] hintofbasil commented on #1859
/remove-lifecycle stale

[2022-02-08 19:51] #2472 closed

[2022-02-08 19:51] #2473 closed

[2022-02-08 23:16] gangstead commented on #2182
Here's how I got it to work (from reading the networking.k8s.io/v1 Ingress spec)
[code]

[2022-02-08 23:42] #2358 closed

[2022-02-09 03:12] ohookins commented on #2289
I'm also hitting this exact error, using v2.3.1 of the controller and installed it from scratch using the bare yaml install files.

[2022-02-09 03:13] ohookins commented on #2336
Also seeing this issue on v2.3.1

[2022-02-09 03:52] ohookins commented on #2462
Seems like it's also related to #2289

[2022-02-09 04:00] benjamin658 commented on #2203
@oliviassss , Thanks for your explanation.

We deploy multiple ingresses manifest in the same group by helm chart, it's hard to order each manifest's rules appropriately before deploying.

Currently, we change our route paths to avoid the same prefix.

[2022-02-09 15:03] #2287 closed, assigned to nobody

[2022-02-09 20:13] tjs-intel opened #2498 "Deregister nodes that are tainted by aws-node-termination-handler"
**Is your feature request related to a problem?**
Nodes aren't deregistered when tainted by https://github.com/aws/aws-node-termination-handler, which can result in request errors when instances are later terminated.

**Describe the solution you'd like**
Nodes should be deregistered from target groups when tainted by the aws-node-termination-handler to prevent errors caused by terminating instance

[2022-02-09 23:16] kishorj commented on #2496
@shaoxt, I see the following issues with the suggested approach
- In case of NLB, we will not be able to delete existing AZ after creation
- The controller subnet autodiscovery performs discovery only for new load balancers, existing ones won't be affected

[2022-02-09 23:18] M00nF1sh commented on #2498
i think it's better to modify the aws-node-termination-handler to apply the `node.kubernetes.io/exclude-from-external-load-balancers=true` label to nodes.

Generally taint(make node unschedulable) and whether node should be excluded from LB pool are two orthogonal event.
So it should be the aws-node-termination-handler's job to decide whether a node should be removed from LB pool or not(and apply

[2022-02-09 23:22] kishorj commented on #2494
@akhal3d96, in your case you don't use weighted target group, so you don't need stickiness on the listener rule. All of your requests will be sent to the target group configured. As you mentioned you can specify the target group attributes via the annotation and the setting take effect. Were you able to do any tests to verify the stickiness wasn't working in your case? Were the requests were being

[2022-02-09 23:22] kishorj commented on #2494
I'm closing the issue. If you have further concerns feel free to reopen or create a new one.

[2022-02-09 23:22] #2494 closed

[2022-02-09 23:26] kishorj commented on #2477
@tolerant-hu, I'm closing the issue. If you have further concerns, feel free to reopen or create a new one.

[2022-02-09 23:26] #2477 closed

[2022-02-09 23:27] M00nF1sh commented on #2490
@tobrien-endpoint
It shouldn't caused 502s if only new pods are been added. (and prestop hook didn't matter since no old pod is deleted in your case).

If your pod ready to reach traffic as long as it passes readiness probe? If not, you should update the readiness probe to test for it.
And if yes, we'll need to further troubleshot where the 502 came from, maybe involve ALB team.

[2022-02-09 23:29] #2468 closed

[2022-02-09 23:31] kishorj commented on #2451
@abebars, I'm closing the issue for now. If you have further concerns, feel free to reopen or create a new issue.

[2022-02-10 11:33] hintofbasil opened #2501 "Security group ingress rules overwritten when used with multiple load balancers"
**Describe the bug**

We create multiple load balancers across multiple clusters.  The targets for these load balancers use the same security groups.  When the load balancer controller adds ingress rules to these security groups (with description `elbv2.k8s.aws/targetGroupBinding=shared`) they overwrite the previously added ingress rules from the other load balancer controllers.

**Steps to reprod

[2022-02-10 13:52] akhal3d96 commented on #2494
Okay thank you.

[2022-02-10 17:14] tjs-intel commented on #2498
I did not know about the `node.kubernetes.io/exclude-from-external-load-balancers=true` label, and you do propose a reasonable alternative. I thought this feature should be handled similarly to how the cluster autoscaler node removal is handled, but maybe the cluster autoscaler should also have a special case for this scenario.

One consideration with your suggested approach is that an administrat

[2022-02-10 18:50] #2220 closed

[2022-02-10 21:13] saiteja313 opened #2502 "Human readable log timestamp"
**Is your feature request related to a problem?**
- I'm frustrated when I troubleshoot an issue by tracing through AWS Load Balancer Controller pod logs.

**Describe the solution you'd like**

- AWS Load Balancer controller currently logs timestamp in epoch format.
- Example log:
[code]

**Describe alternatives you've considered**
- I have to use epoch to Hum timestamp convertor during troubleshoo

[2022-02-11 19:04] tjs-intel commented on #2498
A PR has been approved in the aws-load-balancer-controller to handle this scenario https://github.com/aws/aws-node-termination-handler/pull/582

[2022-02-11 19:04] #2498 closed

[2022-02-11 21:28] Parziphal commented on #2039
I followed like 5 guides, all from Amazon, but none worked, they either lacked information or were outdated. This one worked! Finally!

[2022-02-11 23:30] crawforde commented on #2263
/remove-lifecycle-rotten

[2022-02-11 23:38] kishorj commented on #2263
@crawforde, what is your controller version? did you apply `alb.ingress.kubernetes.io/ssl-redirect` annotation?

[2022-02-11 23:44] crawforde commented on #2263
I have the same annotation configurations as @m477r1x but the port config looks like this because of the updates to ingress v1.19:
[code]

[2022-02-12 00:08] crawforde commented on #2263
/remove-lifecycle rotten

[2022-02-12 09:18] rahulbreezo commented on #1221
same getting error when try to use ssl, otherwise works fine

[2022-02-12 23:16] #2224 closed

[2022-02-12 23:16] #2226 closed

[2022-02-12 23:16] #2221 closed

[2022-02-14 04:41] willthames commented on #2233
Our use case is to have an `alb-internal` and an `alb-external` IngressClass, and then set the scheme of the ALB in the associated `IngressClassParams` so that we don't have to annotate every single Ingress with ALB annotations.

At the moment the external ALB controller creates the stack for an external ingress and then the internal ALB controller removes it all again (I did think that was a bug

[2022-02-14 04:41] willthames commented on #2233
/remove-lifecycle stale

[2022-02-14 12:13] mmtechslv commented on #2039
It can be caused by the update [iam_policy.json](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/install/iam_policy.json) file. If you are using local/downloaded policies make sure they are up to date with the latest version of aws-load-balancer-controller.

[2022-02-14 13:25] maruina opened #2504 "Cannot set `Deregistration Delay` for NLB in IP mode"
**Describe the bug**
I'm trying to change the Deregistration Delay for an NLB created by the controller with IP targets. The annotation
[code]
doesn't work and I still have the default value of 300.
Looking at https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/8409bd52953c21d0d3f0603a05300e9ee6e134a6/test/e2e/service/nlb_instance_target_test.go#L195 it seems this is only supporte

[2022-02-14 15:53] mihaela1992 commented on #1572
+1

[2022-02-14 16:47] kishorj commented on #2504
@maruina, what does your service manifest look like?

[2022-02-14 17:08] maruina commented on #2504
[code]

[2022-02-14 17:11] #2504 closed

[2022-02-15 07:47] shaoxt commented on #2496
@kishorj

- Yes, NLB doesn't reconcile when it is created.
    -   Is there any reason to treat NBL differently with ALB ?
- The subnet autodiscovery does apply on existing new load balancer after the aws-load-balancer got restarted.
It does limit the subnets from given AZs.

[code]

[2022-02-15 18:34] kishorj commented on #2462
documentation added in PR #2506

[2022-02-15 18:55] #2216 closed

[2022-02-15 22:53] ohookins opened #2509 "Automatically provision ACM certificates and attach to ALB based on spec"
**Is your feature request related to a problem?**

Right now if you want a dynamic environment based on configured Ingresses, but also includes TLS protection (for example development or demo environments provisioned on-demand) it seems the only option is to use a combination of the Nginx Ingress Controller, cert-manager (using LetsEncrypt) and external-dns. This works but is clunky and it would b

[2022-02-16 00:30] #2462 closed

[2022-02-16 07:14] rkadekar commented on #2495
@kishorj Do we have have a release date set for v2.4.0? That can help our K8s V1.22 rollout. Thank you!

[2022-02-16 07:19] rkadekar opened #2511 "AWS Load Balancer Controller V2.4.0 - Release Date?"
Hello,
I am trying to find out when V2.4.0 is going to be released. We are in the middle of K8s V1.22 version upgrade. Current latest version V2.3.1 is blocking K8s V1.22 upgrade. I couldn't find any alternative way to make this work. If there is an alt solution please point me to that. Thank you!

[2022-02-16 08:34] olemarkus commented on #2509
I am also looking for this (also for use with NLBs). Also see https://github.com/aws-controllers-k8s/community/issues/482 which may be a better separation of concerns.

[2022-02-16 10:02] yurykomarov opened #2512 ""alb.ingress.kubernetes.io/target-node-labels" doesn't work"
**Describe the bug**
I've added label “node-label: main-private” to my nodes group (I have 3 of them and only 1 have this label)
Service type is `NodePort`, alb.ingress.kubernetes.io/target-type is `instance`
Here is how my ALB Controller config looks for the service:
[code]

But I see all instances from all node groups in my target group :(

**Environment**

* AWS Load Balancer controller version

[2022-02-16 10:06] ohookins commented on #2509
that does sound interesting, if it gets off the ground

[2022-02-16 18:23] oliviassss commented on #2393
/ assign

[2022-02-16 18:24] AntonAleksandrov13 commented on #228
Huge thanks for your guidance here, @bgaillard. I appreciate you posting code snippets!
If I may add my five cents, here's what I did:

Similarly I have created an ALB with a listener:
[code]
Instead of using `local-provisioner`(it gave me a lot of trouble during arn changes and destroys), I have used two resources:

[code]
And finally, the deployment:

[code]

[2022-02-16 19:39] kishorj commented on #2511
We just released v2.4.0. Please refer to the release notes for further details - https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.4.0.

[2022-02-16 19:39] #2511 closed

[2022-02-16 19:45] kishorj commented on #2479
we've just released v2.4.0. closing the issue.

[2022-02-16 19:45] #2479 closed

[2022-02-16 23:04] kishorj commented on #2512
@yurykomarov what do you get when you run the following kubectl command:
[code]

[2022-02-16 23:08] kishorj commented on #2509
we had a PR for a similar feature in the past. The reason we didn't include it was due to the AWS certificate import quota, it was about 20/year - which would count both import and delete, and it wouldn't be based on the number of active certificates. I see the new quota is around 1k. However, the original concern is still there since the feature would stop working after the quota is hit.

[2022-02-16 23:12] kishorj commented on #2502
@saiteja313, is it possible to import the logs to cloudwatch to get the appropriate conversion? Alternative is to have a script convert the timestamp from kubectl logs.

[2022-02-16 23:17] kishorj commented on #2501
@hintofbasil, do you share the same security group across multiple k8s cluster?

In the current design, we don't support running multiple instances of the load balancer controller in the same cluster. There is already a feature request #2185 where we plan to use security group rule tags to identify which controller owns the security group rules. We will consider multiple controllers case with the

[2022-02-16 23:22] kishorj commented on #2491
@rakeshdevops12, do you still encounter this issue? I'm closing it for now, if you still have concerns feel free to reopen or create a new issue.

[2022-02-16 23:22] #2491 closed

[2022-02-16 23:23] kishorj commented on #2490
@tobrien-endpoint, any updates on this issue?

[2022-02-16 23:24] M00nF1sh commented on #2502
You can achieve this with JQ easily:
e.g.
[code]

[2022-02-16 23:27] kishorj commented on #2485
@christopher-wong, I'm closing the issue for now. If you have further concerns, feel free to reopen or create a new issue.

[2022-02-16 23:27] #2485 closed

[2022-02-16 23:29] oliviassss commented on #2449
/assign

[2022-02-16 23:36] kishorj commented on #2430
@olemarkus, we could get the Node resource, extract the providerID and invoke the ec2 `DescribeInstances` API to get the VPC id. The controller already has permissions to access the Node resources from k8s, and IAM permissions for the `DescribeInstances` call and would not depend on the CCM putting the appropriate label.

[2022-02-17 00:06] kishorj commented on #2402
@ngoyal16, I'm closing the issue for now. If you have further concerns, feel free to reopen or create a new one.

[2022-02-17 00:06] #2402 closed

[2022-02-17 00:07] kishorj commented on #2341
Fix is available in v2.4.0 release, closing the issue.

[2022-02-17 00:07] #2341 closed

[2022-02-17 00:54] haouc commented on #2474
Hi @dsaydon90, I was trying to reproduce the issue but my target health check didn't have problem with various settings in ingress annotations:
`alb.ingress.kubernetes.io/healthcheck-port: "traffic-port"`
`alb.ingress.kubernetes.io/healthcheck-port: "8080"`
My service has ports configured as:
[code]
My containers have port opened as:
[code]
Can you please check if you can access the health-check e

[2022-02-17 01:32] kishorj commented on #2339
@matheushent, do you still encounter this issue?
Could you verify whether the service exists in the same namespace as the ingress when this issue occurs?

I'm closing the issue for now. If you have further concerns, feel free to reopen or create a new one.

[2022-02-17 01:32] #2339 closed

[2022-02-17 01:46] #2315 closed

[2022-02-17 01:47] kishorj commented on #2334
@genieai-vikas, I'm closing the issue for now. If you have further concerns, feel free to reopen or create a new one.

[2022-02-17 01:47] #2334 closed

[2022-02-17 01:53] kishorj commented on #2249
@maciekwisniewski, I'm closing the issue. If you have further concerns, feel free to reopen or create a new one.

[2022-02-17 01:53] #2249 closed

[2022-02-17 04:12] #2087 closed

[2022-02-17 04:37] olemarkus commented on #2509
Importing certificate is not an option for us. We need ACM to provision the certificate.

[2022-02-17 07:01] yurykomarov commented on #2512
[code]

[2022-02-17 07:50] dsaydon90 commented on #2474
Hi @haouc , In my case, I had the whole time 1 line with the annotation `alb.ingress.kubernetes.io/healthcheck-port` and not 2 lines like in your case.

alb.ingress.kubernetes.io/healthcheck-port: "8080" --> got the error log above, but what I have replaced the value from `8080` to `traffic-port` it fixed my issue to the right port

So If you can't reproduce it, it's seems that this case can be cl

[2022-02-17 09:15] maruina commented on #2501
Working with @hintofbasil I can say yes, we do. :)

[2022-02-17 09:28] mohsen0 opened #2514 "Set Health check of the target group from health check signals of pods"
**Is your feature request related to a problem?**

I was surprised when I deployed the controller with readiness gate enabled[1] to see the health checks need to be set as annotations[2] again since the readiness health checks are already on the pods[3].

[1] https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/pod_readiness_gate/

[2] https://kubernetes-sigs.github.io/aws-lo

[2022-02-17 11:54] stevo-f3 opened #2515 "Autorecover aws-load-balancer-controller managed SG inbound rules"
**Is your feature request related to a problem?**
aws-load-balancer-controller managed security group inbound rules for LB Service `loadBalancerSourceRanges` definition are not being recovered, unless there is a change to `loadBalancerSourceRanges`. Currently (aws-load-balancer-controller v2.3.1, chart v1.3.3) accidental/unwanted deletion of controller managed SG rule requires detecting rule is mi

[2022-02-17 18:48] olemarkus commented on #2430
That sounds good to me.

[2022-02-17 20:37] #2474 closed

[2022-02-17 21:37] kishorj commented on #2512
does the list of nodes match your target group targets?

[2022-02-17 22:44] yurykomarov commented on #2512
@kishorj yes, that's right

[2022-02-18 07:08] yurykomarov commented on #2512
@kishorj yes, my target group contains all cluster nodes (with and without selected label)

[2022-02-18 16:32] kishorj commented on #2512
@yurykomarov, would you be able to email the controller logs to k8s-alb-controller-triage AT amazon.com?

[2022-02-21 16:21] myroslavmail commented on #1150
@M00nF1sh in your example you are using action naming **fake-k8s-service1** and **fake-k8s-service2** as service names, and further mentioning real service name under the block `{"ServiceName":"k8s-service","ServicePort":"443"}`
I have absolutely same case, want to use few rules for one service (one target group), but in my case all rules are binded, for a reason that I can use only ONE REAL servi

[2022-02-21 21:46] ellistarn commented on #2367
@M00nF1sh any progress on prioritization here?

[2022-02-22 08:35] arc113 commented on #318
A simple redeployment helped in my case.

[2022-02-22 14:50] quadrinho opened #2519 "The Rule of Application Load Balancer return fixed 404 and not forwarding to the Target Groups"
**Describe the bug**
The Rule of Application Load Balancer return fixed 404 and not forwarding to the Target Groups

**Steps to reproduce**
I add to the ingress the following annotations:

  annotations:
    kubernetes.io/ingress.class: alb
    external-dns.alpha.kubernetes.io/hostname: callyaflex-dev-mobile1.internal.vodafone.com
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kuber

[2022-02-22 18:20] ReillyBrogan opened #2520 "Release Notes for 2.4.0 should mention breaking behavior change"
**Describe the bug**
We upgraded one of our (QA) k8s clusters from using 2.3.0 to 2.4.0 just now and all of our instance NLB loadbalancers were deleted. It appears that there was a breaking change in behavior related to annotations, the `service.beta.kubernetes.io/aws-load-balancer-target-type: "nlb-instance"` annotation no longer works and users must use `service.beta.kubernetes.io/aws-load-balan

[2022-02-22 19:38] ReillyBrogan commented on #2520
AND it should mention that if `service.beta.kubernetes.io/aws-load-balancer-internal: 'true'` is set then the `load-balancer-source-ranges` defaults to the VPC of the NLB, which is also a breaking change.

[2022-02-22 21:28] niall-d-tw opened #2521 "Support for kubernetes clusters with multiple VPCs"
**Is your feature request related to a problem?**

Problem - the controller is unable to create load balancers in multiple VPCs.

For example, a cluster is composed of VPC A and VPC B, and the controller deployed in this cluster should create load balancers in VPC A and VPC B...  currently, it's not possible to do this.

**Describe the solution you'd like**

A new annotation, perhaps?

As an examp

[2022-02-22 21:57] christopher-wong opened #2522 "Update advanced routing (actions and conditions annotations) docs/examples to use networking.k8s.io/v1"
**Describe the bug**
The advanced traffic routing docs found [here](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#traffic-routing) still shows an example using `apiVersion: extensions/v1beta1`.

**Expected outcome**
Update the docs to use the newer `networking.k8s.io/v1` which changes the syntax of the routing rules in the `spec` section of the yaml

[2022-02-22 22:56] adammw opened #2523 "Add NLB support for automatic elastic IP allocation from specified public IPv4 pool"
**Is your feature request related to a problem?**
Related to #1906 - the current annotation requires manual creation of EIP allocations outside of kuberentes/aws-load-balancer-controller to support BYOIP use-case.

**Describe the solution you'd like**
A new annotation similar to the one described in that ticket:
[code]
The annotation will allocate a new set of random EIPs from the specific pool wh

[2022-02-23 17:13] kishorj commented on #2520
@ReillyBrogan, the controller has not supported the annotation `service.beta.kubernetes.io/aws-load-balancer-target-type:` in any of the released versions. Did you use a custom built controller? If so, which rev is it based on? The release tags are listed here: https://github.com/kubernetes-sigs/aws-load-balancer-controller/tags.

For internal load balancer, the source range is the VPC of NLB, and

[2022-02-23 18:15] jorsol opened #2525 "Failed build model due to couldn't auto-discover subnets: UnauthorizedOperation"
**Describe the bug**
After uninstalling an old (working) version of aws-alb-ingress-controller:v1.1.6, I installed the AWS Load Balancer Controller 2.4.0.

There was an Ingress that was previously working and now I simply get
`Failed build model due to couldn't auto-discover subnets: UnauthorizedOperation: You are not authorized to perform this operation.\n\tstatus code: 403`

The subnets are prop

[2022-02-23 18:34] oliviassss commented on #2525
@jorsol Did you update the IAM policy to v2.4.0?
`curl -o iam-policy.json https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.4.0/docs/install/iam_policy.json
`
And You can refer to our [live doc](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/installation/#iam-permissions) for more information.

[2022-02-23 18:45] oliviassss commented on #2525
@jorsol Also, please migrate from v1 to v2 if you haven't done so https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/upgrade/migrate_v1_v2/

[2022-02-23 19:36] jorsol commented on #2525
@oliviassss Yes, I applied the steps in https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/installation/#setup-iam-manually

I have the role with:

- AmazonEKSLoadBalancerControllerRole
  - [ALBIngressControllerIAMPolicy](https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.4.0/docs/install/iam_policy.json)
  - [AWSLoadBalancerControllerAddition

[2022-02-23 23:16] M00nF1sh commented on #2525
@jorsol
would you help double check whether your ALBIngressControllerIAMPolicy in iam console have the `ec2:DescribeAvailabilityZones` permission?

the old controller iam permission don't have such permission, and new ones(e.g. the link you provided) requires it. It could be that you didn't update the iam policy document to match latest one on github.

[2022-02-23 23:18] kishorj commented on #2521
@niall-d-tw, did you intend to create a single load balancer for both VPCs or looking for multiple loadbalancers on each of the VPCs? could you clarify further?

[2022-02-23 23:22] kishorj commented on #2519
@quadrinho, could you check whether the backend service you referenced exists in the same namespace as the ingress? Do you see any error in the controller logs? Also check if there are any error events reported against the ingress resource.

[2022-02-24 01:23] akhilles commented on #745
Can this be reopened? https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/726 was closed but cluster name auto-detection hasn't been merged.

[2022-02-24 07:29] ttres commented on #2289
Is this still an issue?

The `no endpoints available` message confirms that controller pods are not good. Check AWS LB Controller pods' logs, to detect what is causing them to fail. Ensure they are able to consume EC2 instance metadata, even when using [IMDSv2](https://aws.github.io/aws-eks-best-practices/security/docs/iam/#restrict-access-to-the-instance-profile-assigned-to-the-worker-node). Noti

[2022-02-24 11:16] sndtechnologyuk opened #2526 ""NoCredentialProviders: no valid providers in chain""
Freshly built k0ps cluster using Kubernetes Version 1.22.5
AWS ALB Load Controller version 2.4.0  deployed using the kubectl create -f v2_4_0_full.yaml with updated aws region and vpc details.

Cert Manager 1.7.0

I used the updated IAM policy for version 2.4.0 and I get the following error when I try to create a ALB via istio ingress gateway.

level":"error","ts":1645698153.38365,"logger":"contro

[2022-02-24 12:21] jorsol commented on #2525
I have checked and recreated everything again, now it seems to work, thanks!

[2022-02-24 12:21] #2525 closed

[2022-02-24 15:08] niall-d-tw commented on #2521
Yes.

Looking for the the latter - the load balancer controller could run on a worker in either VPC A, or VPC B, and it would be able to create multiple load balancers in each of the VPCs.

[2022-02-24 18:28] #1927 closed

[2022-02-25 00:37] oliviassss commented on #2449
@panaut0lordv Hi I was trying to repro the issue you're faced with, but no luck yet. This is how I did:

- Created an ingressA with 26 certificates (1 default and 25 extra, specified by annotations) within an ingress group, which reconciled successfully
- Tried to create an ingressB with 2 certificates (1 in common as in ingressA) within the same ingress group, which triggered the _TooManyCertific

[2022-02-25 14:40] #2252 closed

[2022-02-25 19:30] oliviassss commented on #2449
Tried this case and was  able to reproduce this issue:

- Ingress A with more than 26 certs (so it fails reconcile in the first place)
- IngressB with additional certs
- Then try to edit ingress A to be under limit

I think the problem might be when the controller has TooManyCertificates error, `kube edit ingress` does not work as expected, it failed to remove the certificates. Checking the code b

[2022-02-25 21:03] bruno-andrad commented on #2358
Hello everyone, everything good?
Has this problem already been resolved? I have the same problem. I need to prevent my service from creating new rules in the security group. But it does not work.
Besides installing aws-load-balancer-controller and adding the annotations, what else should I do?

[2022-02-25 23:44] #2202 closed

[2022-02-28 14:30] DanielLund commented on #1276
@yoonkwon What security groups did you tag, and did you add this annotation to the ingress.yaml file? I've added them to mine deleted the pods and it still isn;t passing health checks

[2022-02-28 18:54] oliviassss commented on #2449
The root cause is that currently the controller adds new certificates before deleting undesired certificates, so when the controller is having TooManyCertificates error, if we just edit the ingress instead of deleting the ingress, the controller cannot recover. Will raise a PR for the fix.

[2022-02-28 19:33] tnimni opened #2529 "shared backend securitygroup created without inbound rules"
**Describe the bug**
When using the following annotations:
alb.ingress.kubernetes.io/manage-backend-security-group-rules: "true"
alb.ingress.kubernetes.io/security-groups: development_mtls_cloudflare

the shared security group for backend is created without inbound rules so no traffic can reach the cluster

**Steps to reproduce**

apply an ingress with custom security group and the annotations abo

[2022-02-28 23:09] sndtechnologyuk commented on #2526
Brilliant.   Changed the hop limit and not only did it fix this,  it resolved my s3 kms thing that had the same error message.   You're my hero!
Thanks M00nF1sh

[2022-03-01 07:34] skoob commented on #2312
My current workaround is to read the values from the `aws-load-balancer-tls` and specify those for the `webhookTLS.*` values.

[code]
Of course, this only works once the chart has been installed, since the secret needs to exist already. A slightly better workaround would be to also generate the TLS secrets with terraform.

[2022-03-01 07:36] ahvandf opened #2531 "TLS1.2 weak ciphers are accepted by webhook"
**Is your feature request related to a problem?**
Currently Webhook's min version is 1.2 which is good but still accepting week ciphers.
e.g.  TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA , TLS_RSA_WITH_3DES_EDE_CBC_SHA 64-bit block cipher 3DES vulnerable to SWEET32 attack
and for production environments this will create vulnerability

**Describe the solution you'd like**
List of accepted ciphers by the we

[2022-03-01 11:38] markussiebert commented on #2077
Can we reopen this issue? We are running into the same issue and I think, the loadbalancer controller should respect the expected behaviour of the table @ChristianHersevoort posted above.

I see no reason, why we should create a new feature request in the containers-roadmap. At least this is a bug in the existing documentation.

[2022-03-01 17:09] g-dury opened #2532 "alb.ingress.kubernetes.io/actions.canary modification leads to ALB recreation"
**Describe the bug**

alb.ingress.kubernetes.io/actions.canary modification (modification of the `serviceName`) leads to ALB recreation hence if we have live traffic - this is leading to downtime. Currently exploring other way to get traffic in - but wanted to know if this expected or not! Thanks!

**Steps to reproduce**
modify the field alb.ingress.kubernetes.io/actions.canary on your ingress and

[2022-03-01 17:19] kishorj commented on #2532
@g-dury, does it delete and create a new ALB, or the target group? When you modify the serviceName to point to a different service, the ALB target group will change, this is expected.

[2022-03-01 17:29] kishorj commented on #2531
@ahvandf, thanks for reporting the issue, we will disable the week ciphers.

[2022-03-01 18:52] g-dury commented on #2532
It does it for the target group yes but also for the ALB I am afraid ... `"msg":"deleting loadBalancer",` is one of the logs I see in my alb-ingress-controller pod on k8s!

[2022-03-01 21:15] kishorj commented on #2532
would you be able to share the controller logs? you can email to - k8s-alb-controller-triage AT amazon.com

[2022-03-02 02:38] davidshtian opened #2533 "Overwrite the configuration of NLB using the same NLB name"
**Describe the bug**
The original idea it to reuse NLB for multiple services for easier management, while target group binding might be a workaround for this, there is still risk for this that if some team member using the same NLB for a new service, all the configuration of NLB will be overwrited and thus impact the business, as there may not a name verify for existing NLB.

**Steps to reproduce*

[2022-03-02 13:07] FernandoMiguel commented on #2185
/remove-lifecycle stale

[2022-03-02 14:10] kncesarini opened #2534 "Validation error with cognito auth annotations"
**Describe the bug**
Following the guide to set up an alb ingress with cognito (https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/tasks/cognito_authentication/) it fails at the final step with a seemingly cryptic error-

{"level":"error","ts":1646228989.3521035,"logger":"controller-runtime.manager.controller.ingress","msg":"Reconciler error","name":"test-cognito-1234","name

[2022-03-02 14:45] kristianpaynova commented on #2534
After some more digging and trial and error it appears this could be because Cognito Authentication is not an available option in the Stockholm (eu-north-1) region.

![image](https://user-images.githubusercontent.com/89450133/156383736-852e49d7-2652-490e-94c8-21e238caacb3.png)
(frankfurt on top, stockholm below)

I can't find any type of documentation regarding this, what regions are and are not s

[2022-03-02 23:10] kishorj commented on #2533
@davidshtian, you should be able to specify the same name for two services and end up with two separate NLB. We will verify it on our side and fix it if this is not the case.

[2022-03-02 23:11] haouc commented on #2533
/assign

[2022-03-02 23:15] oliviassss commented on #2531
/assign

[2022-03-02 23:20] kishorj commented on #2529
@tnimni, If you configure security-groups manually via the `alb.ingress.kubernetes.io/security-groups` annotation, then you need to create the front-end ingress rules on the manually specified security groups. The backend security group is only for the traffic between the load balancer and the worker node, so there are no rules.

[2022-03-02 23:21] #2526 closed

[2022-03-02 23:24] kishorj commented on #2523
@adammw, thanks for the feature request and the PR. We will sync up internally with the NLB team to see if they have plans to support ipv4pool natively.

[2022-03-02 23:25] kishorj commented on #2522
closing the issue since v2.4 documentation refers to the correct manifest.

[2022-03-02 23:25] #2522 closed

[2022-03-02 23:27] kishorj commented on #2521
@niall-d-tw, we don't have plans to support one ingress mapping to multiple load balancers at the moment.

[2022-03-02 23:29] kishorj commented on #2520
@ReillyBrogan, also could you share which v2.3.0 image you used, with the git rev?

[2022-03-02 23:29] kishorj commented on #2519
@quadrinho, any update on this matter?

[2022-03-02 23:38] kishorj commented on #2514
It is difficult since health check config could use exec instead of TCP/HTTP. Also there could be different health check config for different pods, but AWS target group requires a single health check config for all the targets. The current default is to use the traffic-port for health check as well, you don't need to specify annotation to use the default.

[2022-03-03 01:08] willthames commented on #2233
Another reason for wanting a separate ingress class is for use with external-dns

We use separate external-dns controllers, one that controls private DNS and one that controls public DNS, so that the controller knows which zones to manage records

We use annotation filters (and more likely ingress class filters soon) to associate a particular ingress class with a particular external-dns controller

[2022-03-03 02:15] davidshtian commented on #2533
I've tried using v2.2+ controller and it will only create one NLB with same name annotation for two or more different services, and the last created conf will overwrite the previous ones, but not append new listener to NLB.

[2022-03-03 06:13] davidshtian commented on #2533
Besides, from logs of controller pod it seems that to deploy the model, the controller first clean up the previous listener. Hope the information is helpful. Thanks

[code]

[2022-03-03 09:06] niall-d-tw commented on #2521
Hi @kishorj , one ingress mapping to multiple load balancers is not the request.

Consider the following cluster, which spans two VPCs :

<img width="792" alt="Screenshot 2022-03-03 at 08 53 31" src="https://user-images.githubusercontent.com/48215244/156530464-fdadda7a-c693-477e-836e-9e221aa71246.png">

If the load balancer controller is running in VPC B, it won't be able to create "App 1 - NLB" i

[2022-03-03 10:44] #2211 closed

[2022-03-03 12:44] matlemb opened #2535 "NLB Healthcheck rules in <cluster-name>-lb security group includes the whole NLB subnet instead of NLB IP"
**Describe the bug**
[AWS Load Balancer Controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller) modifies the `<cluster-name>-lb` security group to allow incoming traffic to the nodes when creating a `svc.spec.type.loadbalancer` and when annotations are set to create an `NLB` with enabled client ip preservation. The controller does create entries for CIDRs specified in `svc.spe

[2022-03-03 18:26] M00nF1sh commented on #2535
@matlemb
We cannot do that as the NLB's IPs might change due to scale events. (and there is no notification mechanism to it).
We are waiting NLB to support security group for this issue.

[2022-03-03 23:01] iAnomaly commented on #2347
I wanted to add some color here because we're encountering an issue that is directly related to the limits of this design decision as @johnkeates is suggesting.

We're evaluating Traefik as an Ingress Controller for our clusters. We're currently using the workaround you suggested above @M00nF1sh: we create an Ingress object and target Traefik's Service in order to provision an ALB (because we want

[2022-03-04 14:05] rverma-nsl opened #2536 "NLB share when using service resources"
**Is your feature request related to a problem?**
We have 2 svc which we want to expose on different port. The controller should allow to bind both the svc to same nlb as it does for alb.
Tried & Failed:      service.beta.kubernetes.io/aws-load-balancer-name: nsl-default

For instance when create two svc

[code]
---
[code]
I expect a way to merge them on same nlb.

**Describe the solution you'd li

[2022-03-04 17:03] rverma-nsl commented on #2533
Faced same issue, unknowingly created a duplicate https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2536

[2022-03-04 18:59] pabrahamusa opened #2537 "Inbound cidrs not working with EKS"
**Describe the bug**
I have an ALB Ingress defined as below and I specified  `alb.ingress.kubernetes.io/inbound-cidrs:  10.200.121.23/32` to only allow traffic from single IP Address i.e. 10.200.121.23 . I can see this annotation adds an inbound rule to the ALB Security group. However when I try to do a curl from 10.200.121.23 it is failing with connection timed out.  This IP is part of the same V

[2022-03-05 00:54] christopher-wong commented on #2522
my apologies, thanks for clarifying!

[2022-03-05 10:40] Yuval-Peled commented on #1133
+1 for this. Would greatly simplify my architecture

[2022-03-05 11:24] maciejmazur10c opened #2538 "Wrong port in Target Group with Argo Rollouts"
Describe the bug
I'm trying to set up Canary deployments using Argo Rollouts and AWS Load Balancer controller, but port in target group is set to 1.

Steps to reproduce
Argo rollout adds this annotation to ingress:
alb.ingress.kubernetes.io/actions.test-webserver: '{"Type":"forward","ForwardConfig":{"TargetGroups":[{"ServiceName":"test-webserver-canary","ServicePort":"1337","Weight":80},{"ServiceN

[2022-03-07 01:04] KqLLL opened #2539 "[aws-load-balancer-controller] Move podAntiAffinity from template to values"
Is your feature request related to a problem?
We use aws/Kapenter to provision EKS nodes, but Karpenter does not support podAntiAffinity.
Karpenter logs:

2022-02-23T07:31:02.013Z	DEBUG	controller.selection	Ignoring pod, pod anti-affinity is not supported	{"commit": "fd19ba2", "pod": "aws-elb-controller/aws-elb-controller-[aws-load-balancer-controller](https://github.com/aws/eks-charts/tree/master

[2022-03-07 05:29] karanrn commented on #2071
We are installing it through helm via ArgoCD. We set `keepTLSSecret: True` yet we periodically see the issue

[2022-03-07 10:36] dalgibbard commented on #2531
Just to add to this; testing with https://hub.docker.com/r/drwetter/testssl.sh on AWS LBC version v2.3.0 results in the following issues:
[code]
Admittedly it's possible that the backing SSL package AWS LBC is built against mitigates some of these; but ultimately there's no real need to support CBC/3DES or TLS1/1.1 -- TLS1.2 should be the minimum.
Server-side cipher ordering should be enforced.
Ce

[2022-03-07 12:45] maciejmazur10c commented on #2538
It turned out the issue was not related to alb controller. I made a mistake in service configuration.

[2022-03-07 12:45] #2538 closed

[2022-03-07 12:52] mbevc1 commented on #1990
/remove-lifecycle stale

[2022-03-07 16:59] kishorj commented on #2531
@dalgibbard, TLS 1.2 is the minimum version since v2.3.1 release.

[2022-03-07 18:26] dalgibbard commented on #2531
Thanks for the heads up @kishorj !
Will update tomorrow :)

[2022-03-07 23:07] mike-stewart commented on #1647
/remove-lifecycle stale

[2022-03-07 23:28] kishorj commented on #1647
@mike-stewart, please refer to the v2.4 live docs https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/installation/#setup-iam-role-for-service-accounts for scoping the IAM permissions.

[2022-03-07 23:42] iAnomaly opened #2540 "[Feature] Update Backend Service status.loadBalancer"
**Is your feature request related to a problem?**
I covered this in https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2347#issuecomment-1058613176 but a blocking limitation for us today is without the ability to create an ALB via Service (Instead of Ingress), there is no mechanism for the Service status.loadBalancer to be updated with the ALB hostname.

This is a formal featur

[2022-03-07 23:46] kishorj commented on #2537
@pabrahamusa, your ALB is internet-facing, so it will not see the traffic from the private IP 10.200.121.23/32, there is most likely a NAT/internet gateway in between your client and the ALB. You could get your public IP by running `curl ifconfig.me`, and use that address instead, however your public IP address could change in future so the configuration no longer holds.

The annotation `service.b

[2022-03-08 10:08] Project0 commented on #1719
/remove-lifecycle stale

[2022-03-08 10:08] Project0 commented on #2131
/remove-lifecycle stale

[2022-03-08 13:37] rameshar16 opened #2541 "http to https redirect queries are not showing the expected result with CURL"
Hi All,
I have implemented the HTTP to HTTPS redirect with the ALB Ingress controller. The redirect rule is working fine with the browser, but the same is showing below when running the CURL query instead of the actual response. And, it is working if I add "-L" to the curl. Is there any option to configure HTTP to HTTPS REWRITE  instead of REDIRECT on ALB Ingress?

< HTTP/1.1 301 Moved Permanently

[2022-03-08 17:06] kishorj commented on #2541
@rameshar16, with http to https redirect, the user agent needs to open a new connection to the new destination and send the request. In your case, your browser automatically does it behind the scenes, and `curl` does it with the `-L` option.

[2022-03-08 17:11] kishorj commented on #2539
@KqLLL, you can already specify a different affinity configuration in the values, https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/7baec176ddbaed9d23f92ca9f77a658eed3cf3a3/helm/aws-load-balancer-controller/values.yaml#L68

If you specify a custom pod affinity configuration via values, the default affinity configuration will not get used.

[2022-03-09 03:55] pabrahamasurion commented on #2537
@kishorj , Thanks for your help . Provisioning ALB as internet-facing was the issue. So I moved it to internal.  And now the inbound-cidrs are working for internal Ip address.

`alb.ingress.kubernetes.io/scheme: internal`

[2022-03-09 06:07] #2539 closed

[2022-03-09 16:29] nijave commented on #1859
It'd also be useful if removing load balancers/deleting PrivateLinks on delete is possible. Right now, if you add a PrivateLink and try to delete the load balancer in Kubernetes, it gets stuck deleting the load balancer due to the associated PrivateLink

[2022-03-09 16:55] rameshar16 commented on #2541
Hi @kishorj ,
As you said that the connection is working fine in the browser and through CURL with "-L".

We are exposing the API endpoints to the customers and a few of the customers send the connections via CURL as part of the automation/sanity testing. I am looking for any workaround at Ingress to make work the connection via CURL without "-L".

Thanks and Regards,
Ramesh

[2022-03-09 17:06] vmasule commented on #2419
@kishorj I can say that for linux workloads it is working fine, but for windows only it is causing this issue.

Could you pls reproduce at your end and confirm?? This has become major issue when it comes to security and restricting blast radius for us. Pls help.

[2022-03-09 23:03] M00nF1sh commented on #2540
@iAnomaly
A single service might be used by different multiple Ingresses(thus multiple ALBs), thus we cannot do it tbh.

[2022-03-09 23:05] M00nF1sh commented on #2540
wondering why the "component" you owned has to read from the Service's status instead of Ingress's status to obtains the LB status :D

[2022-03-09 23:06] #2537 closed

[2022-03-09 23:09] M00nF1sh commented on #2536
@rverma-nsl
the solution to this should be use a single Service with multiple port.
We don't want to introduce a new "service group" like what we did to Ingress, instead, we'll focus on supporting the new ["Gateway"](https://gateway-api.sigs.k8s.io/) API, which can model this use case better.

[2022-03-09 23:10] M00nF1sh commented on #2535
closing this for now as the NLB security group feature is not supported, and this will be addressed once it's released.

[2022-03-09 23:10] #2535 closed

[2022-03-09 23:14] iAnomaly commented on #2540
Ya, I don't think this should be the default behavior by any means, but can't we use an annotation to opt-in to this behavior? We could be guard against collision (multiple Ingresses trying to set `status.loadBalancer` on the same Service) via this annotation.

This seems to be how Ingress Controllers work. ingress-nginx and traefik ingress controller both work this way. I think because they are d

[2022-03-09 23:17] M00nF1sh commented on #2534
@kristianpaynova i think that's the case but i couldn't find a documentation on supported cognito region either.
Will forward this to ELB pm.

[2022-03-09 23:25] M00nF1sh commented on #2533
@davidshtian
The names of LoadBalancers must be unique across region. So the correct behavior should be the 2nd Service will failed to be reconciled due to the name is already token by another existing NLB.

Hasn't tested this yet, but I guess it's due to ELB's API idempotency, thus when we try create the 2nd NLB with same name, it returned the ARN of previous created one.
We'll validate above and

[2022-03-09 23:26] M00nF1sh commented on #2529
closing this as it's expected behavior.
If you have further questions, please open a new issue :D

[2022-03-09 23:26] #2529 closed

[2022-03-09 23:29] M00nF1sh commented on #2521
@niall-d-tw
I think it's already possible, the controller by default discovers VPC/Region from EC2 metadata, but we support to overwrite the VPC via flags: `--aws-vpc-id`
So you can give the controller another VPCID, and it should work as expected.

[2022-03-10 06:46] cdhesse opened #2542 "ec2:DescribeVpcs missing from documentation as required for TargetGroupBinding SA minimal permissions"
**Describe the bug**
[IAM Permissions for TargetGroupBinding only](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/installation/#setup-iam-manually), states the following permissions:

[code]
It is missing "ec2:DescribeVpcs".

**Steps to reproduce**
Deploy the custom resource for TargetGroupBinding providing the SA with the permissions specified.  The logs state "unautho

[2022-03-10 11:32] ceastman-r7 commented on #2504
@maruina Have you been successful in getting the aws nlb to have zero downtime when upgrading/downgrading the istio ingressgateway pods?

[2022-03-10 12:07] #1875 closed

[2022-03-10 12:16] maruina commented on #2504
Yes, for us the trick was setting the `deregistration delay` to be shorter than the `terminationGracePeriodSeconds` on our proxys.

[2022-03-10 12:34] ceastman-r7 commented on #2504
@maruina I am finding the same thing, i set the delay to 30 and upped the grace period to 300, i also added a prestop of sleep 300

sad that we have to keep the old ingress pods running for so long for the aws nlb target group to stabilize so the clients don't incur downtime.

even with this configuration, once in awhile i get a couple of timeouts from a continuous curl loop (i am using for testin

[2022-03-10 12:36] ceastman-r7 commented on #2504
Not sure how but IBM's network load balancer worked much better in this scenario, I didn't have to make changes and when the istio ingress pods terminated, restarted it the continuous curl loop would only have a second of downtime.

[2022-03-10 13:42] niall-d-tw commented on #2521
Hi @M00nF1sh , yes, I've seen the flag. Let's say I configure the controller with the flag `--aws-vpc-id=VPC-A` - I understand that the controller won't be able to create the NLB in VPC B now.

[2022-03-10 15:28] ajmal-bash commented on #2312
@gitmaniak  @tamirhad when you set `enableCertManager: true` how do you configure `keepTLSSecret` ? `true` or `false` ?

[2022-03-10 16:33] kishorj commented on #2542
/kind documentation

[2022-03-10 21:00] pie-r commented on #1212
/remove-lifecycle stale

[2022-03-11 00:15] #2182 closed

[2022-03-11 09:16] tomiszili commented on #2182
I successfully created what i want with the new synthax.

[code]

[2022-03-11 12:35] thejasn opened #2543 "[Feature] Option to restrict to only Ingress type resources"
**Is your feature request related to a problem?**
In a cluster containing other controllers that provision load balancers for `Service` objects of type `loadbalancer` we need a way to restrict the aws-load-balancer-controller to only work on `Ingress` type resources.

**Describe the solution you'd like**
Expose a command line arg to control this behavior. Something like `--ingressResourceOnly=true

[2022-03-11 13:39] vmasule commented on #2419
@kishorj Is there any Kubelet flag need to be added for this to work for `aws-load-balancer-nlb-target-type: ip`. Pls help.

[2022-03-11 14:53] przemolb opened #2544 "Load balancer name vs group name"
**Details**

LB version: applies to all versions

I am trying to understand the relationship between `load-balancer-name` vs `group.name`. Let's say we have two ingresses defined:
[code]
According to the docs:
[code]
but also:
[code]
In this case above we have the ssame `group.name` but different `load-balancer-names` - what will be the name of the LB and why ?

[2022-03-11 16:28] #1774 closed

[2022-03-11 16:28] #2044 closed

[2022-03-11 16:43] kishorj commented on #2543
/kind feature

[2022-03-11 16:44] kishorj commented on #2419
which CNI plugin do you use?

[2022-03-11 18:01] kishorj commented on #2544
The ingress group feature lets you configure a single ALB for multiple ingresses in the group. You specify the ingress group via the annotation `alb.ingress.kubernetes.io/group.name`. The load balancer name on the other hand lets you specify a custom name for the AWS ALB resource instead of the controller generated `k8s-<group ID>-hash`.  Controller does not accept conflicting values for the the b

[2022-03-11 18:17] divick opened #2545 "ingress controller fails to build model with AccessDeniedException for acm:ListCertificates"
**Describe the bug**
I have a k8s cluster created with kops and aws-load-balancer installed as part of kops addons. In my case I am not using kube2iam instead I am directly attaching the iam_policy to the nodes but for some reason the ingress fails to build the model with the following warning:

[code]

**Steps to reproduce**
1. Create a kops cluster with 1.21.4 with aws-load-balancer-controller a

[2022-03-12 04:04] ragarcia26 opened #2548 "EKS sg opens ports for lb across all nodes rather than nodepool specific to deployment"
**Is your feature request related to a problem?**
"I'm frustrated when:" I create a service thats for a deployment tied to nodepool "A" but the sg for the lb is shared across all subnets regardless of nodes and thus are opened against nodes that don't host the deployment no need that security posture. I've added `service.beta.kubernetes.io/aws-load-balancer-target-node-labels:` to improve performa

[2022-03-12 11:00] przemolb commented on #2544
Thanks @kishorj

[2022-03-12 11:00] #2544 closed

[2022-03-13 22:42] #2278 closed

[2022-03-14 12:07] matlemb commented on #2535
@M00nF1sh
Of course security groups support for NLB would be the perfect solution for this issue, however i didn't find any roadmap from AWS where they talked about this upcoming feature. Do you have some more information on that topic?

Thanks in advance.
<sub>Matthias Lembcke <[matthias.lembcke@mercedes-benz.com](mailto:matthias.lembcke@mercedes-benz.com)>, Daimler TSS GmbH ([Provider Informatio

[2022-03-14 14:21] sb-tmd-dev opened #2549 "Error: INSTALLATION FAILED - Address is not allowed"
**Describe the bug**
`Error: INSTALLATION FAILED: Internal error occurred: failed calling webhook "vingress.elbv2.k8s.aws": Post "[https://aws-load-balancer-webhook-service.kube-system.svc:443/validate-networking-v1-ingress?timeout=10s](https://aws-load-balancer-webhook-service.kube-system.svc/validate-networking-v1-ingress?timeout=10s)": Address is not allowed`

1. I'm trying to install using hel

[2022-03-14 20:37] iAnomaly commented on #2540
@M00nF1sh Would you consider a PR for this if I work on it?

[2022-03-15 00:27] laurecs opened #2551 "no matches for kind "IngressClassParams" in version "elbv2.k8s.aws/v1beta1""
**Describe the bug**
Getting the following error:

`error: unable to recognize "aws-load-balancer-controller.yaml": no matches for kind "IngressClassParams" in version "elbv2.k8s.aws/v1beta1"`

**Steps to reproduce**
Provisioning  Load Balancer Controller based on the guide below, with Kubernetes manifest.

https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html

The ima

[2022-03-15 11:45] thejasn commented on #2543
Hey @kishorj, Any thoughts or suggestions regarding this? Would be helpful before I start on the implementation. Thanks

[2022-03-15 13:34] slavikbialik commented on #2551
I just experienced the same issue. I found this solution.
First update the CRDs and then try to apply again:
`kubectl apply -k "github.com/aws/eks-charts/stable/aws-load-balancer-controller//crds?ref=master"`

[2022-03-15 17:29] igory-bwr opened #2552 "A Certificate Validation Error"
A ingress doesn't get up and produces an error message in a aws-load-balancer-controller pod log:

[code]
I cannot figure out how to get what's exactly wrong with the certificate. What does `status code: 400` mean?
Is there any external tool to make preliminary validation for certificates?

[2022-03-15 19:48] guillaumecle opened #2553 "[Feature] ability to configure target group names"
#870 and #1899 added the ability to configure the load balancer names with the `alb.ingress.kubernetes.io/load-balancer-name` annotation.

It would nice to also be able to configure the name of target groups. It could use the same annotation or a dedicated one.

[2022-03-15 20:56] kishorj commented on #2552
@igory-bwr
Could you verify the following
- whether the certificate has expired
- if the certificate resource is from a different region

[2022-03-15 21:10] kishorj commented on #2549
@sb-tmd-dev, With Calico CNI plugin, you'd need to enable hostNetwork for the load balancer controller pods.

[2022-03-15 22:38] #2542 closed

[2022-03-15 22:42] #2393 closed

[2022-03-15 22:42] #1764 closed

[2022-03-16 11:15] sb-tmd-dev commented on #2549
issue resolved. thanks

[2022-03-16 11:15] #2549 closed

[2022-03-16 17:20] erhudy commented on #2509
This is also of interest to me, in particular using it with ACM Private CA. I'm unclear on how import quotas matter for this feature, since the certificates would be created on-demand through the controller making the request to ACM to provision the certificate; I don't think anyone would have to import a certificate to make this work.

[2022-03-16 19:41] saiajay15 opened #2556 "ingress routing issue not picking up the existing ALB address"
![image](https://user-images.githubusercontent.com/88763124/158675863-84164bbe-c2b8-492e-a8bb-ce85b60da110.png)
After deleting this address in ALB it picking up same address as host name even after deleting .

Firstly I deleted the inactive alb in aws console then deleted the ingress completely and deployed again eventhough it is picking the same inactive alb.
Please can anyboady help me on this H

[2022-03-16 22:15] kishorj commented on #2556
@saiajay15, did you tag the ALB with the tags for the ingress? The v2 version of the controller identifies ALB based on the AWS resource tags, not the name. What is the version of your aws-load-balancer-controller?

[2022-03-16 22:18] kishorj commented on #2553
@guillaumecle, how do you intend to configure the target group names? The target groups are based on the backend service, and it can be shared across multiple ingresses. The target group name format is k8s-<namespace>-<name>-<hash> and contain the aws tags to uniquely identify the resource. In addition you can configure specific tags per service which will be reflected in the target group tags.

W

[2022-03-16 22:20] kishorj commented on #2551
@laurecs, if you ran helm upgrade, then the CRDs will not be updated, you will have to update them manually. Were you able to fix your issue by applying the CRDs?

[2022-03-16 22:25] kishorj commented on #2548
@ragarcia26, the controller looks for the cluster name tag in the security group - it expects only one SG with the tag. https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/service/nlb/#security-group

You could remove the cluster tag from the EKS SG, and add a cluster tag on the SG dedicated to each node group. Note the instance can have only one security group with the clust

[2022-03-16 22:27] kishorj commented on #2545
@divick, could you check if the lb controller pods are running on mater instance when installed via kops addon? If so, then the policy need to be attached to the master node.

[2022-03-16 22:30] kishorj commented on #2543
@thejasn,
do you run multiple instances of the lb controller in the same cluster?

Also, the controller already supports load-balancer-class, so you could use the load-balancer-class on your service resources instead of annotation.

[2022-03-16 22:32] kishorj commented on #2541
@rameshar16, the http to https redirect works via http redirect. Either your client follows the redirect implicitly or via a mechanism similar to the curl `-L`. There are no other options in this case. I'm closing the issue.

[2022-03-16 22:32] #2541 closed

[2022-03-16 22:37] #2536 closed

[2022-03-16 22:39] kishorj commented on #2534
@kristianpaynova, cotnito auth is not currently supported in eu-north-1 region. ELB team is currently working on the support.
I'm closing the issue for now. If you have further questions, feel free to reopen or create a new issue.

[2022-03-16 22:39] #2534 closed

[2022-03-17 00:05] guillaumecle commented on #2553
Our target names currently look like `k8s-namespac-mysupers-2eb7cacf16`.
In many cases, 8 is not enough character to properly identify the service.
I would do something like this `my-super-service-doing-great-things`

I was thinking of using an annotation on the ingress. In case there are multiple ingresses using the same target group, it would reject the custom name (fallback on the default) or e

[2022-03-17 01:09] #2531 closed

[2022-03-17 01:10] #2520 closed

[2022-03-17 01:11] kishorj commented on #2449
Fixed in v2.4.1 patch release. Closing the issue.

[2022-03-17 01:11] #2449 closed

[2022-03-17 01:11] kishorj commented on #2515
/kind bug

[2022-03-17 01:14] kishorj commented on #2515
@stevo-f3, when you make changes to the ingress/service, controller will restore the changes. We will investigate further why the sync-period setting did not work in this case.

[2022-03-17 01:14] kishorj commented on #2532
@g-dury, I'm closing the issue since we didn't hear back from you. If you have further concerns, feel free to reopen or create a new issue.

[2022-03-17 01:14] #2532 closed

[2022-03-17 02:33] divick commented on #2545
@kishorj yes the conroller pod runs on the master instance. But I don't see anywhere in kops docs that the permissions are to be applied to master nodes.

I think I see the real problem. If I don't specify the certificate then the controller needs access to ACM to list certificates so as to list and apply the appropriate matching certificate. My problem only manifested when I did not annotate the

[2022-03-17 07:24] FernandoMiguel opened #2557 "LB SG tagged on nodes SG"
Very new to this controller so apologies if this question is already answered somewhere.

This controller has the ability to create a SG per LB to then allow nodes inbound traffic from the ALB ENI.

But how do nodes know that SG id given their SG is created at cluster creation time?

Also, fargate nodes inherit their SG from the EKS cluster SG, not the EKS manage nodes, making this further muddy w

[2022-03-17 07:31] FernandoMiguel opened #2558 "Alternative alb ingress class"
Is it possible to create and use alternative alb class?
I tried multiple attempts at this but the alb would only be setup when my test ingress was setup with the default alb ingress class.

Ideally I would like to have two custom ingressClass / ingressClassParam presetup with internal and Internet facing annotations that apps ingress could use each ingressClass (and groupName) to use the right LB.

[2022-03-17 07:41] FernandoMiguel commented on #2065
This seems to be addressed by group.name.
If so, this ticket can be closed.

[2022-03-17 07:47] FernandoMiguel commented on #2209
/reopen

[2022-03-17 07:56] thejasn commented on #2543
@kishorj Yeah, we will be running multiple instances of the aws load balancer controller in a cluster. SO basically we want to restrict to only `Ingress` resources and not have the controller process any `Service` type resources that are created.

Utilizing the `--load-balancer-class` would help partially, but since it also requires a `LoadBalancerClass` to be added to the service spec, we can't e

[2022-03-17 07:57] e6c31d commented on #2065
@FernandoMiguel No. `group.name` can only use an ALB that was **created by the cluster**. And that ALB will be deleted if all ingresses in the same group are deleted.

What this issue is asking for is the ability to use an ALB that was **created outside the cluster**.

[2022-03-17 08:29] thejasn opened #2559 "Provide an easy way to enable/disable AWS VPC CNI dependent features/flags"
**Is your feature request related to a problem?**
On clusters not using AWS VPC CNI, there is no way to restrict/enforce users from enabling certain features, like the `aws-load-balancer-nlb-target-type: "ip"`annotation, which require the specific CNI. We could have other feature in the future with a similar dependency as well.

**Describe the solution you'd like**
A global controller flag that ca

[2022-03-17 10:53] sb-tmd-dev opened #2560 "using hostNetwork=true prevents scaling"
**Describe the bug**
When using `hostNetwork=true` and replicas default is 2 and having 1 node only 1 pod get to be scheduled .
while the other is failing with this error:
[code]

**Steps to reproduce**
run helm with `hostNetwork=true` on a 1 node cluster.

**Expected outcome**
the # of replicas should be scheduled.

**Environment**
* AWS Load Balancer controller version - helm version 1.4.0
* Kub

[2022-03-17 13:32] laurecs commented on #2551
Solved. Thanks

[2022-03-17 13:32] #2551 closed

[2022-03-17 17:04] kishorj commented on #2558
@FernandoMiguel, you can create alternate ingress classes - you can have as many ingress classs and params as necessary. You need to mention the following in the ingress class spec for this controller to reconcile
[code]

You can refer the live docs at https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/ingress_class/ for further details

[2022-03-17 17:07] igory-bwr commented on #2552
@kishorj Thanks a lot.

It was my bad. I didn't update a kubectl context and the app was deployed to the cluster on another region. But the error message is really confusing.
A non-validity for me proposes a presence.

Also I've noticed that a certificate auto discovery get blocked if it find out more than one matching certificates. I suppose an issuing warning would be more consistent behavior fo

[2022-03-17 17:08] #2552 closed

[2022-03-17 17:13] FernandoMiguel commented on #2558
I'll have to try again.
My experience does not matches this.
any new ingress that used any of my own ingressClass would simply not spin up any ALBs... the controller logs would be pretty much empty of any activity.
the moment I changed the ingressClass to `alb`, instantly stuff would happen.

this is a sample of that resource
[code]

[2022-03-17 17:20] kishorj commented on #2558
the spec.controller needs to be `ingress.k8s.aws/alb`,
for example
[code]

You already use the `each.value.ingress_class` for the class name.

[2022-03-17 17:25] FernandoMiguel commented on #2558
I believe I've tried that too.... I tried many many things and eventually gave up.
mostly because I was expecting this to already be a reality
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2311
since it didn't, I kept fussing around until ~~disappointment~~ I ran out of time to finish this

[2022-03-17 19:30] samsilborydoxo opened #2561 "Ingress fails for some hyphened hostnames"
I have a few legacy apps that use internal hosts with hyphens.  This to my understanding is a valid hostname, but the ALB ingress bails with a dash in the name if that name is short.

Example:
sam@sam-bastion:~ kubectl apply -f 1.yaml
ingress.networking.k8s.io/foo created
sam@sam-bastion:~ kubectl describe ingress foo
Name:             foo
Namespace:        default
Address:
Default backend:  defau

[2022-03-17 19:48] ejholmes commented on #2366
I think that's correct. This is generally what we've used in helm charts:

[code]

Where `deregistrationGracePeriod` provides a buffer for DeregisterTargets getting rate limited.

[2022-03-17 21:32] kishorj commented on #2561
@samsilborydoxo, this error is from AWS not from the controller. As per the AWS ALB doc https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#host-conditions, you must include at least one "." character for the host condition and you can include only alphabetical characters after the final "." character.

[2022-03-18 06:10] armujahid commented on #2367
I am also getting this issue if we use default karpenter provisioner in a newly created eks cluster https://karpenter.sh/v0.7.1/getting-started/getting-started-with-eksctl/#provisioner

[2022-03-18 13:49] tingeltangelthomas commented on #1629
/remove-lifecycle rotten

[2022-03-18 16:51] kishorj commented on #2560
When you have only one worker node, and enable hostNetwork=true, then you need to set replicaCount=1 during chart installation. When you scale your nodes, you can always set the replicaCount to 2. The second replica is for HA configuration and is active only in case the primary controller goes down.

`DaemonSet` would be an overkill since most of the controller replica is not going to be active.

[2022-03-18 16:59] kishorj commented on #2557
@FernandoMiguel, in case the controller auto-generates an ALB security group, or if you configure management of security group rules [[via annotation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#manage-backend-security-group-rules)], controller updates cluster-tagged the security group attached to the EC2 instance or the ENI.

Cluster tag is of th

[2022-03-18 17:03] kishorj commented on #2558
@FernandoMiguel, what does your ingress class look like after you deploy your configuration?

[2022-03-18 18:40] ellistarn commented on #2367
@armujahid, we made karpenter flexible to arbitrary tags, so you should be able to work around this.

[2022-03-18 18:47] armujahid commented on #2367
@ellistarn yes that's what I have done by using another nodegroup selector like kubernetes.io/cluster/${CLUSTER_NAME}

[2022-03-18 22:11] BryanStenson-okta opened #2563 "add support for topologySpreadConstraints"
**Is your feature request related to a problem?**
Specifically, I'm trying to use [karpenter](https://karpenter.sh) to schedule nodes on demand, and it uses [`topologySpreadConstraints`](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/)

This chart doesn't support these constraints.

**Describe the solution you'd like**
I'd like the helm chart to support optional

[2022-03-19 17:46] rfc2119 opened #2564 "Unable to group Ingress objects under one ALB (using `alb.ingress.kubernetes.io/group-name`)"
**Describe the bug**
I'm trying to simply group Ingress objects under one ALB as detailed [here](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#group.name). I create two Ingress objects expecting them to live under one ALB but they don't

**Steps to reproduce**
Here's a simple manifest I actually use to test this. Both backend services do not exist,

[2022-03-20 14:43] sb-tmd-dev commented on #2560
@kishorj I understand, yet when the cluster will scale out it will still remain on 1 replica. changing this will require manual interference. i will manage with it, but does seems sub optional solution.

[2022-03-21 12:20] FernandoMiguel commented on #2558
hi @kishorj
this is a snippet of what I'm trying to achieve.
[code]

which results on this plan:
[code]
the controller logs don't show any activity
![image](https://user-images.githubusercontent.com/168366/159256665-d2eab531-dbe0-4f6c-a6b9-47465daa3d6a.png)

here's the cluster resources
![image](https://user-images.githubusercontent.com/168366/159256863-9035fcb4-8a79-45a2-8fb2-e116c505ec6a.png)

[2022-03-21 16:18] kishorj commented on #2564
@rfc2119, the annotation name is `alb.ingress.kubernetes.io/group.name`, you specified `alb.ingress.kubernetes.io/group-name` instead. Please refer to the live docs for further details: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#group.name

[2022-03-21 17:27] BryanStenson-okta commented on #2563
splitting the affinity default debacle into another issue.

[2022-03-21 17:30] BryanStenson-okta opened #2570 "ensure empty affinity chart value results in empty affinity pod policies"
**Is your feature request related to a problem?**
I'm frustrated that when i set `affinity` to `""`, the chart installs an antiAffinity stanza....this makes setting an "empty" affinity nearly impossible.

**Describe the solution you'd like**
I'd like the helm chart to be updated so that an empty `affinity` value in values.yaml results in no pod affinity -- for the sake of feature parity, the affin

[2022-03-21 17:46] vmasule commented on #2419
@kishorj I am using AWS-CNI only that comes by default with EKS.

[2022-03-21 20:08] rfc2119 commented on #2564
Oh my that worked. Thanks a bunch! I apologize for missing the point (no pun intended)

[2022-03-21 20:08] #2564 closed

[2022-03-21 20:39] r0bobo opened #2572 "Allow overriding the namespaceSelector for the MutatingWebhookConfiguration in the helm chart."
I want the Mutating Admission Webhook to inject pod readiness gates in all namespace without having to label them.
I currently do this with some kustomize patching but it would be nice to be able to override [the namespaceSelector](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/helm/aws-load-balancer-controller/templates/webhook.yaml#L25-L29) directly from the helm chart

[2022-03-22 01:19] kishorj commented on #2570
@BryanStenson-okta, the current pod anti affinity depends on the label key `app.kubernetes.io/name`, and the chart name as the value. I'm not currently aware of an easier way to move it to the values.yaml. If we can make the template work via values.yaml, it would be great.

Would an alternate parameter work help with your use case? For example, `noAffinity` if set to `true`  result in empty affin

[2022-03-22 09:10] mkotsalainen commented on #2367
@armujahid @ellistarn Can you tell me what security group selector that I can use to fix this? I also have a plain vanilla eksctl cluster.

[2022-03-22 09:29] armujahid commented on #2367
@mkotsalainen i am using

kubernetes.io/cluster/${CLUSTER_NAME}: owned

Security group selector for my vanilla karpenter cluster

[2022-03-22 10:47] mkotsalainen commented on #2367
Ok thanks. Before I saw your answer I tried
[code]
and that seems to fix my problem (getting traefik ingress controller to work with karpenter)

[2022-03-22 11:03] FernandoMiguel commented on #2557
Found a new issue.
[code]

[2022-03-22 14:56] MeghaVarshney21 opened #2574 "Error in exposing multiple ports with ALB Ingress on EKS."
I have a Triton server on EKS listening on 3 ports, 8000 is for http requests, 8001 is for gRPC and 8002 is for prometheus metrics. So, I have created a Triton deployment on EKS which is exposed through NodePort service of EKS. I am also using ALB ingress which is creating an application load balancer to balance the load of Triton servers on these ports.

**But, the traffic is not flowing correctl

[2022-03-22 16:42] kishorj commented on #2557
@FernandoMiguel, in case you have multiple SG attached to your instance/ENI, controller expects one SG with the cluster tag. If none of the SGs have the cluster tag, or more than one SG are tagged, controller will not be able to reconcile further.

[2022-03-22 16:45] kishorj commented on #2558
What is the controller version in your case? Also, could you share the command line flags passed to the controller (other than the `--cluster-name` and `--ingress-class`)

[2022-03-22 17:11] FernandoMiguel commented on #2557
@kishorj is this a design pattern? a hard limit of the controller?
i worked around by only tagging one of the SGs, but feels kinda weird and might bite us on the rear in the future.

thanks for the help

[2022-03-22 17:15] FernandoMiguel commented on #2558
everything should be latest version.
[code]

and these are the ingress annotations
[code]

[2022-03-22 20:37] aRobinson-R7 commented on #2570
@BryanStenson-okta I saw your issue / PR for topologySpreadConstraints https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2571
do these work together? does pod-affinity need to be disabled for this to work with Karpenter?

[2022-03-22 20:45] BryanStenson-okta commented on #2570
Karpenter ignores pods which have `antiAffinity` set...I was thinking of "hacking" the current chart to set an "affinity" rule to match something global for my cluster (arch, or os-type, etc).

[2022-03-22 20:56] BryanStenson-okta commented on #2570
I recognize the difficulty of setting `antiAffinity` based on dynamic chart name, but an additional `noAffinity` key feels like a confusing option (bad design) next to an `affinity` key.

I don't have a great suggestion/alternative here.  But I will say, when `affinity: {}`, it's confusing/frustrating an antiAffinity rule is put in place.

Maybe we change the API of `affinity` to be multi-typed?

[2022-03-23 14:30] ChristianOps commented on #1572
+1

[2022-03-23 21:26] zeevMetz opened #2578 "RevokeSecurityGroupIngress responsible for SG inbound rules getting deleted"
We're running our AWS-LB-Controller (using NLB for FTP service with few passive ports and one active port). Now, we encounter an issue where Security Group inbound rules are deleted (SG rules with `elbv2.k8s.aws/targetGroupBinding=shared` description). Looking at CloudTrail we see that `ec2:RevokeSecurityGroupIngress` in our IAM role is responsible for that, we removed it from our IAM role but the

[2022-03-23 22:06] kishorj commented on #2578
@zeevMetz, the aws lb controller requires the IAM permission to manage security group rules for traffic. If you remove the iam permission, controller will continue to log error messages, restarting controller will not fix.

The controller removes the security group ingress rules when it determines the rules are no longer necessary for your service. Did you delete the services?

[2022-03-23 22:07] kishorj commented on #2574
@MeghaVarshney21, can you check if your service port is mapped to the same target port? The fact that you are able to get some response on the ports imply the listener ports got configured properly.

[2022-03-23 22:09] kishorj commented on #2572
/kind feature

[2022-03-23 22:09] kishorj commented on #2572
we can definitely move the namespace selector to the values and allow user to customize it.

[2022-03-23 22:14] #2563 closed

[2022-03-23 22:16] kishorj commented on #2561
@samsilborydoxo, I'm closing the issue. This is enforced by the AWS, not an issue on the controller side. If you have further concerns, feel free to reopen or create a new issue.

[2022-03-23 22:16] #2561 closed

[2022-03-23 22:19] kishorj commented on #2560
@sb-tmd-dev, any reason to use `hostNetwork=true`?
If you are looking for a scaling solution, we'd recommend using hpa.

[2022-03-23 22:22] kishorj commented on #2559
/kind feature

[2022-03-23 22:30] kishorj commented on #2558
@FernandoMiguel,
the ingress class `spec.controller` needs to be `ingress.k8s.aws/alb`, but in your case it is `elbv2.k8s.aws/alb`. My apologies for the example above, I copy pasted your snippet and didn't realize it was elbv2... but should have been ingress...

[2022-03-23 22:33] kishorj commented on #2557
This is a design choice to make it consistent with the kubernetes in-tree controller. We are thinking about supporting multiple tagged SG in future releases - issue #2367

[2022-03-23 22:33] kishorj commented on #2557
closing the issue.

[2022-03-23 22:33] #2557 closed

[2022-03-23 22:56] FernandoMiguel commented on #2558
Thanks. We have spotted that today.
Made the change but still can't seem to get the controller to detect any resources when the spec: ingressClass or kubernet.io / ingress.class is one of the new ones we create, like alb-internal.

Any ideas on how to debug further?

[2022-03-23 23:11] M00nF1sh commented on #2558
@FernandoMiguel
After you changed it back to `ingress.k8s.aws/alb`, is there any error log message in the controller? also, your controller needs to be v2.2.0+

[2022-03-23 23:13] FernandoMiguel commented on #2558
When I modify the ingress to use the controller created alb ingressClass, the logs instantly show activity and a LB is created.
No errors, only info entries while it reconciles.

I can check later, but everything should be latest version. I expect it to be 2.4.x

[2022-03-24 07:45] zeevMetz commented on #2578
@kishorj Thanks for your response.
When adding `ec2:RevokeSecurityGroupIngress` back to IAM role, at some point the health-check is unhealthy (the service itself is up), looking at the SG inbound rules of that node I do see that the rules added by the aws lb controller are missing which causes the health-check to become unhealthy.
any idea what causing that?

[2022-03-24 13:42] MeghaVarshney21 commented on #2574
@kishorj Thanks for replying

Service.yaml file looks like:-

[code]

[2022-03-24 14:35] luisvillalobossalgado1987 opened #2580 "More than 2 million replicas without explanation"
Without apparent cause, suddenly aws ingress controller created mor than 2 million replicas (march 24, 00:14 aprox. GMT-3) causing unresponsive node group ("Degraded" warning message) and impossibility to recover worker nodes. We had to scale the number of nodes in the cluster to 0 and associate a new target group with larger machines in order to recover the functionality of the kubernetes cluster

[2022-03-24 16:23] kishorj commented on #2578
The controller automatically adds the necessary rules for traffic access and health check. You could force a reconcile by either modifying the service or restarting the controller - see if the controller configures the SG rules. The SG rules with the comment `elbv2.k8s.aws/targetGroupBinding=shared` should be managed only by the controller.

[2022-03-24 16:34] vitarkah opened #2581 ""error":"CertificateNotFound: Certificate 'arn:aws:acm:us-east-2:xxxx:certificate/xxx' not found status code: 400"
**Describe the bug**
"error":"CertificateNotFound: Certificate 'arn:aws:acm:us-east-2:xxx:certificate/xxxx' not found\n\tstatus code: 400

**Steps to reproduce**
`---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kub

[2022-03-24 16:36] vitarkah commented on #917
Opened a new issue.  Unable to figure it out...
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2581#issue-1179759419

[2022-03-24 16:36] kishorj commented on #2574
@MeghaVarshney21, thanks for the update. The behavior is due to issue #2203, controller follows the order from the ingress spec for the Prefix rules. As a workaround, you can reorder your ingress rules to make the '/' rule the last one.

[2022-03-24 16:50] kishorj commented on #2581
@vitarkah, could you verify the following
- whether the certificate has expired
- if the certificate resource is from a different region than the eks cluster

[2022-03-24 16:56] kishorj commented on #2580
The default replicas for helm chart is 2. Configuring more replicas for lb controller doesn't help since only one is actively reconciling, others wait for the leader election lock.

If you reinstall aws-load-balancer-controller, the existing ingresses/services will continue to work fine if you use the same ingress class configuration. The replicas scaling is not due to controller, it is likely due

[2022-03-24 17:00] vitarkah commented on #2581
@kishorj
- certificate appears to be expired.  Guess this might be it
- It is from same region (us-east-2).  But I need to check somethi

[2022-03-24 17:56] zeevMetz commented on #2578
@kishorj  Yes, I do see `elbv2.k8s.aws/targetGroupBinding=shared` tag with the correct port in our SG inbound rule.
![Screen Shot 2022-03-24 at 19 34 12](https://user-images.githubusercontent.com/43029743/159976663-7273a378-89e6-4117-bcfd-009afdc8def2.png)

But as I mentioned earlier, at some point the controller for some reason revoking those rules (the service itself is still running) and the he

[2022-03-24 20:36] kishorj commented on #2578
do you happen to run multiple instances of the controller in the same cluster, or share the security group across multiple clusters in the same vpc?

[2022-03-25 03:04] jbg opened #2582 "SG rules are not created for TargetGroupBinding"
**Describe the bug**
When creating a TargetGroupBinding manually, to link a k8s ClusterIP service to an existing NLB target group, rules are not added to the node's Security Group to allow the traffic.

**Steps to reproduce**
1. Create a k8s ClusterIP service
2. Create an NLB and an IP target group at AWS
3. Create a TargetGroupBinding to link (1) and (2)

**Expected outcome**
A working binding be

[2022-03-25 07:30] rameshar16 opened #2583 "How to add the health-check path per target group?"
Hi All,
Is it possible to add the health check path per target group instead of passing via annotations?

Thanks and Regards,
Ramesh

[2022-03-25 07:41] Pra9jha opened #2584 "aws alb-controller going to CrashLoopBackOff state"
* kops version: 1.22.4 / 1.22.2
* kubectl version --client : v1.22.4
* alb-controller version : v2.2.1 / v2.4.1 and v2.3.1
* Created IAM policy and attached to the worker-node IAM-roles
* We have also created cert managers certificates

**Error message :**
{"level":"info","ts":1648193174.6142926,"msg":"version","GitVersion":"v2.3.1","GitCommit":"1d492cb8648b2053086761140d9db9236f867237","BuildDate

[2022-03-25 14:27] zachfeld commented on #1081
has anyone been able to implement a reliable workaround?

[2022-03-25 15:13] vitarkah commented on #2581
The certificate turned out to be expired. However there is an opportunity to update the error message it feasible.  Not found was misleading and ended up going down the wrong path. Closing this issue out. Thanks for your question @kishorj !!

[2022-03-25 15:13] #2581 closed

[2022-03-25 16:15] kishorj commented on #2582
@jbg, you will have to specify the `spec.networking` in the TargetGroupBinding resource you manually create. For example:

[code]

[2022-03-25 16:19] kishorj commented on #2583
Here are the current options for health check configuration:
1. Do nothing; controller configures the the traffic-port as the health check port
2. Specify annotation; this will configure the specified port/protocol/path for all target group health checks
3. Create targetgroupbinding; you create a LB target group, configure the health check manually and use targetgroupbinding to bind it to a k8s se

[2022-03-25 16:25] jbg commented on #2582
Thanks! `networking` seems to be missing from the [docs](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/targetgroupbinding/targetgroupbinding/), although I've just now found it in the detailed spec for the TargetGroupBinding CRD.

[2022-03-25 16:43] kishorj commented on #2584
@Pra9jha,
If you use kops, you'd need to ensure the hop limit is at least 2 on your node igs for IMDSv2 to work, for example

kops edit ig --name=$NAMAE nodes-<az>

[code]

Would you be able to share the log entry corresponding to the `NoCredentialProviders: ...` error

[2022-03-25 17:55] jakepage commented on #2071
I tried this, but the issue still keeps periodically popping up too

[2022-03-25 17:58] ardove commented on #1719
What's the protocol for getting this prioritized? This is a serious issue and while I understand there's a workaround (hack), it's certainly reducing my confidence in running production workloads on this thing.

[2022-03-27 12:04] zeevMetz commented on #2578
@kishorj yes I run 2 instances of the controller in `kube-system` namespace. The security group is shared with all our worker nodes in one cluster

[2022-03-28 10:32] jbg commented on #999
@dudicoco `list` still allows reading the secret contents.

This is resolved in v2.4.1, FYI.

[2022-03-28 10:52] krabradosty commented on #2175
@kishorj

This mapping sounds strange. If NLB can handle all the traffic, don't you think it's a good idea to reuse it for several services?

My situation:
We were planning to migrate from AWS ECS to EKS. We are running 20 microservices and using one shared NLB which can handle all the traffic and costs us 20$ per month. If we start using EKS, we will pay 400$ per month. For each environment. It's

[2022-03-28 10:59] dudicoco commented on #999
@jbg are you sure `list` allows to read the secrets contents?

I believe `list` allows you to see all of the resources in the namespace while `get` allows you to see the contents of the resources.

[2022-03-28 11:37] SAURABH110894 commented on #1384
@gitmaniak did you got any solution for CORS with ALB ?

[2022-03-28 11:53] jbg commented on #999
No, `list` is for retrieving a collection including full object content. You can test it out yourself pretty easily, just give a service account list permission on secrets and then retrieve a list of secrets from the API server.

https://kubernetes.io/docs/reference/access-authn-authz/authorization/#determine-the-request-verb

[2022-03-28 16:30] MeghaVarshney21 commented on #2574
@kishorj I am facing the same issues again after applying the above configuration as you suggested.

[2022-03-28 21:16] blastik commented on #1959
/remove-lifecycle stale

[2022-03-29 04:49] KimSeongIl opened #2586 "alb.ingress.kubernetes.io/security-groups Annotations alone don't work."
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**

I have alb.ingress.kubernetes.io/security-groups: sg-040eb82467a2e4f3b
I am trying to add a security group using annotations.

However, adding sg-040eb82467a2e4f3b to the inbound rule of the node group does not work.
I get a 504 gateway response.

alb.ingress.kubernetes.io/manage-backend-security-group-rules: '

[2022-03-29 12:34] ngoyal16 commented on #2203
+1

[2022-03-29 15:26] tyrken opened #2588 "Listener and listener-rule AWS tagging records leak when deleting an ALB"
We have a simple non-shared ALB per ingress system, and recently noticed when cleaning up an old cluster (with ALBC v2.3.0) that a number of minor AWS resources had leaked.  E.g. if you run the below (with a suitable replacement for `myclustername`) you can see all the LB resources for a cluster created by this controller:

[code]

If you then delete an ingress that originally created an ALBs (i.e

[2022-03-29 22:09] mkatychev commented on #1846
`kubernetes.io/ingress.class` is replaced by `spec.ingressClass` in v1, this is a working solution I did for GRPC with TLS termination at the ingress:

[code]

[2022-03-30 06:12] sergeyshevch commented on #2203
I guess that #2409 is related to this issue and will close it

[2022-03-30 06:30] ngoyal16 commented on #2203
@sergeyshevch when it is plan to release any estimates?

[2022-03-30 08:56] sergeyshevch commented on #2203
@ngoyal16 Sorry but it's not my PR so I guess you need to address this question to @oliviassss

[2022-03-30 10:26] FernandoMiguel commented on #2558
@M00nF1sh @kishorj any ideas here?
thanks

[2022-03-30 16:31] kishorj commented on #2586
@KimSeongIl, automatically created security groups will get deleted by the controller when no longer needed. If you don't specify security groups annotation, controller creates a frontend SG which specifies the client CIDRs that can access the LB, and a shared backend SG which is used to allow the loadbalancer traffic to your application pods.

If you specify security groups annotation, controller

[2022-03-30 16:45] kishorj commented on #2203
@sergeyshevch, we held merging the fix for prior release due to concerns on backwards compatibility. We are working on it.

[2022-03-30 17:16] vasu-git commented on #2241
Hi,

We've run into a similar issue as well.

We currently have 2 ingresses
Ingress-1  has the following annotations
[code]
Ingress-2 has the following annotations
   `alb.ingress.kubernetes.io/target-type: ip`

Certificate for Ingress-1 is not uploaded to ACM.

Steps:
1. Create Ingress-1
   Ingress object is created, load balancer is not assigned.. See a bunch of error in aws load balancer contro

[2022-03-30 20:20] irl-segfault opened #2589 "Target service need not be of type NodePort"
**Describe the bug**
The official docs mention that the backing `Service` to which an Ingress routes must be of type NodePort.   However, all works if the service is of type `ClusterIP` as well.

**Steps to reproduce**
Create resources specified in the [official example](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/examples/2048/2048_full_latest.yaml) but edit the `service-2

[2022-03-30 20:33] kishorj commented on #2589
@irl-segfault
Type `NodePort` is required for instance targets, live docs link - https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/how-it-works/#instance-mode

For IP targets `ClusterIP` is sufficient. The official example specifies ALB with IP target, so your change to `ClusterIP` does not have effect.

[2022-03-30 21:06] irl-segfault commented on #2589
Awesome, thanks for clarifying.

[2022-03-30 21:06] #2589 closed

[2022-03-30 22:06] M00nF1sh commented on #2588
@fargue
@tyrken
We only deletes the LoadBalancer when deleting the Ingresses. The Listener/ListenerRules should automatically be deleted when the LoadBalancer is deleted.

I suspect it's eventually consistency issue with resourcegroupstaggingapi, can you confirm whether these resources eventually go away or stuck in your account?

[2022-03-30 22:10] M00nF1sh commented on #2583
You can also specify the health-check annotations on Service Instead of Ingress, these annotations on Service takes priority than Ingress.

[2022-03-30 22:11] M00nF1sh commented on #2582
@jbg
the networking spec is available in https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/targetgroupbinding/spec/#elbv2.k8s.aws/v1beta1.TargetGroupBindingNetworking as well.

closing this

[2022-03-30 22:11] #2582 closed

[2022-03-30 22:19] M00nF1sh commented on #2580
@luisvillalobossalgado1987

We don't have any logic that could scale the controller replica. So it must from an external component as @kishorj mentioned.
Could check your control plane logs to verify which entity scaled it? (If u didn't enabled control plane logs, you can cut a support ticket to EKS)

[2022-03-30 22:23] M00nF1sh commented on #2578
@zeevMetz
When you say 2 instance, do you mean two deployment?
We only support one deployment of the controller, which can have 2 or more Pod under leadership-election.

If you have multiple deployment, then the controllers will conflicts each other, since each one will reconcile the worker SG rules based on its own set of Ingresses/Services.

We have a on-going feature request to support multiple

[2022-03-30 22:25] M00nF1sh commented on #2574
@MeghaVarshney21
What's your updated IngressSpec? Also, could you check the AWS console to see what's  the listener rules like?

[2022-03-30 23:58] rmarra opened #2590 "How to create rules for specific listener?"
I'm provisioning an ALB Ingres that listens on port 443 and 9090, but all the traffic rules that I create are created for all ports and I have to manually delete them. How could I create rules for specific listener?

OBS: my alb is going to handle GRPC and HTTP requests

[code]

[2022-03-31 05:12] kousik93 opened #2591 "disable-ingress-class-annotation doesnt get enforced when editing existing ingress object"
**Describe the bug**
When editing an existing valid ingress object, disable-ingress-class-annotation isn't enforced and allows adding the ' kubernetes.io/ingress.class' annotation

**Steps to reproduce**

- Pass the flag to controller to disable ingress class annotation (https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/configurations/#disable-ingress-class-annotation)
- C

[2022-03-31 05:35] absalon-blue commented on #2580
@M00nF1sh

Hi,

(I'm coworker with @luisvillalobossalgado1987 )

Sadly logs were not enabled a that time. Only clue that we have now, we got several and consecutive error logs from aws-load-balancer-controller PODs like that:

`I0324 02:12:24.735675       1 leaderelection.go:242] attempting to acquire leader lease  kube-system/aws-load-balancer-controller-leader...
`
![Captura de Pantalla 2022-03-

[2022-03-31 06:44] zeevMetz commented on #2578
@M00nF1sh
Sorry for misleading you, I meant 2 replicas and on deployment (edit the [thread](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2578#issuecomment-1079916321))

[2022-03-31 12:11] rkosyk-dh-nf opened #2592 "Different Ingress status.loadBalancer output when using kubernetes.io/ingress.class annotation or ingressClassName field"
**Describe the bug**

When using kubernetes.io/ingress.class annotation in the Ingress configuration getting ALB dns name (**hostname**) in the status.loadBalancer output

kubectl get ingress testapp -o yaml
[code]
When using new field ingressClassName instead of annotation  in the Ingress configuration getting kubernetes node IP address (**ip**) in the Ingress status.loadBalancer output

kubectl

[2022-03-31 16:43] dalgibbard opened #2593 "Support for setting minimum TLS version"
I see in the recent PR https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2394 we've got the TLS version updated to 1.2 -- this is great, but still includes some weaker ciphers which are not permitted in strict environments (such as 64bit CBC or 3DES ciphers).
To work around this, I've found the simplest solution for other products (example: Kubernetes Metric Server or Keda) is t

[2022-03-31 16:47] kishorj commented on #2593
@dalgibbard, We already set the TLS to 1.3 in v2.4.1 patch release. PR #2547

[2022-03-31 16:49] dalgibbard commented on #2593
Ah I thought I saw that; but when I searched closed PRs for "TLS" it didn't show up 🤦 Thank you! Will close.

[2022-03-31 16:49] #2593 closed

[2022-03-31 17:18] M00nF1sh commented on #2591
@kousik93
The ```disable-ingress-class-annotation``` is designed to prevent users to use "alb" as  `kubernetes.io/ingress.class` only.  Thus it can used to force users to use IngressClass if user want to leverage the AWSLoadBalancerController's functionality.

However, it's not intended to block other ingress class annotation like "nginx", and in your case it's using "internal"

[2022-03-31 17:45] kousik93 commented on #2591
@M00nF1sh  Here, im applying an ingress object for the first time, with both ingressClassName and the annotation present.
This gets blocked with the following error as expected
[code]
However, adding the ingress object without the annotation and then editing the object to add the annotation works.
This scenario should also be prevented as the expectation is to not have annotation & ingressClassNam

[2022-03-31 22:31] newwuhan5 opened #2594 "Question about ALB configuration for proxy read timeout and request and response file size limit?"
We have following questions:
What is the max boy size supported in ingress ALB to avoid 413 error?  What is the configuration parameter to set to 200 mb limit?  What is the max timeout similar to idle_time configuration?  For instance, "alb.ingress.kubernetes.io/load-balancer-attributes": "idle_timeout.timeout_seconds=60", which for idle time out.  Is there a way to configure: "alb.ingress.kuberne

[2022-04-01 05:20] TheBaus commented on #2175
@vg-vaibhav I am interested to know how you manage the TargetGroup creation outside of EKS? Is it a manual or automated solution?

We too are looking at a similar solution as the AWS LBC does not allow a shared NLB even though the TargetGroups are using different ports, we would have liked a similar solution as the ALB that allows the grouping function based on the annotation, this model allows us

[2022-04-01 16:45] Apollorion opened #2595 "ValidationError IngressClassParams loadBalancerAttributes"
**Describe the bug**
I have 3 things complaining to me that `loadBalancerAttributes` is an `unknown field`

I have the following IngressClassParam:
[code]

When I try to apply via `kubectl apply -f ingress-class.yaml` I get the following error:
[code]

When gitops/flux tries to apply it, I get:
[code]

and on my repo, Im using kubeconform to validate yaml, it complains:
[code]

**Environment**

*

[2022-04-01 16:52] Apollorion commented on #2595
I think this is a me thing, actually. I think I need to upgrade the CRD's in k8s. Will report back, but Im almost certain thats what needs to happen.

[2022-04-01 17:08] kishorj commented on #2595
@Apollorion, you'd need to update the CRDs to the latest version. We introduced support for loadBalancerAttributes in v2.3.0 - I'm not sure how old your CRD definition is.

[2022-04-01 18:12] Apollorion commented on #2595
yup this is exactly what was wrong. Thanks @kishorj !!!

[2022-04-01 18:12] #2595 closed

[2022-04-01 20:09] vg-vaibhav commented on #2175
@TheBaus We are using terraform to auto create target groups attached to a load balancer(NLB). To create them we are using a JSON containing list of key value pairs of port and service name.
This creates all the Target groups that we need.

To create a binding(connect target group to service IP) we are using Target Group Binding. We keep the service name same while spinning up in EKS. aws-lb-contr

[2022-04-02 07:31] stardustman commented on #1090
I have a question about the k8s Service : which `type` should be used? Thanks a lot. @[M00nF1sh](https://github.com/M00nF1sh)
[code]

[2022-04-04 07:51] niall-d-tw commented on #2521
Hi @kishorj  and @M00nF1sh,  please respond - do you understand the problem the feature request is trying to solve?

[2022-04-04 19:11] dmavrommatis opened #2597 "Support for both TCP_UDP protocols when creating NLB"
**Is your feature request related to a problem?**
I am trying to setup a service that listens on the same port for TCP and UDP traffic.
Kubernetes complains about MixedProtol error if you try to mix TCP and UDP ports on the same service manifest if it's type `LoadBalancer` but switching it to `NodePort` seems that confuses `aws-loadbalancer-controller` and it creates an NLB for one port only.

I w

[2022-04-04 20:03] M00nF1sh commented on #2521
@niall-d-tw
Do you mean you want a single controller pod to spin up NLBs in multiple VPCs? e.g. on Ingress have a annotation to denote the intended VPC?

[2022-04-04 21:02] dmavrommatis commented on #2597
Feature is related to this PR https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2275

[2022-04-04 22:27] M00nF1sh commented on #2591
@johngmyers

@kousik93
The error you got is [from Kubernetes instead of this controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/networking/validation/validation.go#L250). This controller itself don't prevent you to set both IngressClassName and `kubernetes.io/ingress.class` annotation. (and `kubernetes.io/ingress.class` annotation takes priority than IngressClassName).

[2022-04-05 09:12] genieai-vikas opened #2599 "Is it possible to do token based auth?"
I am using aws-load-balancer-controller with our K8s cluster. The ALB type we were using is internal but now I am planning to change it to external.

Usecase: Trying to create an external ALB to access the frontend microservice but with some kind of auth. Like if the request has a specific token then only access the UI otherwise reject it. Is it possible to do token-based auth

I looked into this

[2022-04-05 09:53] niall-d-tw commented on #2521
Hi @M00nF1sh - yes, that's it. I guess the crux of the problem is VPC discovery. I would be happy to contribute, if you have any ideas around this.

[2022-04-05 12:08] m00lecule commented on #2312
also faced similar issues when deploying ingress-controller on `eks` using `terraform helm provider`

[2022-04-05 14:44] visit1985 opened #2600 "Provide more defaults via IngressClassParams"
**Is your feature request related to a problem?**
Even after introducing `IngressClass`/`IngressClassParams` we have a lot of redundant annotations in our Ingress definitions for the same Ingress group:
- `alb.ingress.kubernetes.io/actions.ssl-redirect`
- `alb.ingress.kubernetes.io/certificate-arn`
- `alb.ingress.kubernetes.io/listen-ports`
- ~~`alb.ingress.kubernetes.io/ssl-policy`~~

**Describe

[2022-04-05 22:06] M00nF1sh commented on #2599
it's not possible as alb itself don't support it

[2022-04-05 22:55] genieai-vikas commented on #2599
@M00nF1sh Someone posted this link on slack channel.

https://docs.aws.amazon.com/elasticloadbalancing/latest/application/listener-update-rules.html

https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/restrict-access-to-load-balancer.html#restrict-alb-route-based-on-header

I haven't tried these but he suggested that I can do it with a  header condition rule in alb. Do you know if

[2022-04-06 08:44] steveizzle commented on #2175
Im fully on the side of @TheBaus . For example in our enterprise we are maintaning a kubernetes platform based on eks for internal customers which only have access to kubernetes. We have a seperation of concern here and really dont want to give our customers the permissions to create anything in the AWS Account itself. So they would not be able to create TargetGroups by themselves

[2022-04-06 10:23] ngoyal16 commented on #2203
@kishorj any ETA on same?

[2022-04-06 11:35] z0rc opened #2601 "[chart] Don't set prometheus.io pod annotations when ServiceMonitor is enabled"
**Describe the bug**
https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/v2.4.1/helm/aws-load-balancer-controller/templates/deployment.yaml#L25-L26 are set always. But with ServiceMonitor enabled, these labels still present. This results in double scraping, as prometheus discovers both pod annotations and ServiceMonitor as independent scraping targets.

**Steps to reproduce**
Enab

[2022-04-06 20:08] mballoni opened #2602 "Improves docs for Shared NLB for multiple deployments"
I currently use the old fashioned ingress nginx-controller for an ELB.
We are planning on moving to a more modern (and future proof) NLB with a few extra configurations before (outside our EKS instance).

However we would like to keep a single NLB for all deployments/statefull sets/etc as we do with ingress nginx controller and it is not clear how we should do it with this project.

So my issue, a

[2022-04-06 22:05] M00nF1sh commented on #2599
@genieai-vikas
It's possible to create a rule that matches header value with the conditions annotation: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#conditions

it's not token based auth tbh, but might work depends on your case.

[2022-04-07 05:09] willthames commented on #2233
Yet a third reason is if you need a network load balancer and an application load balancer for different workloads (for example, doing TCP passthrough for one workload vs needing WAF protection for another workload)

[2022-04-07 07:08] haorenfsa opened #2603 "Occasionally the ALB not deleted with the ingress."
**Describe the bug**
Occasionally when I delete the ingress, the ALB not deleted. So when I deleting the corresponding SG afterwards, it's still binded, and I can't delete.

**Steps to reproduce**
Create ingress with:
- ingress class of alb
- a https listener
- a simple security group in annotation
- a good rule with good host
- a bad host rule with host = `https`.

example:
[code]

Then update th

[2022-04-07 07:18] tamboliasir1 commented on #2601
Hi @z0rc.. Hi I would like to work on this. Just wanted to confirm so I wanted to check serviceMonitor is enabled or not from values if it is enabled then omit Prometheus annotations right?

[2022-04-07 07:22] z0rc commented on #2601
@tamboliasir1 you are correct, wrap prometheus.io annotations in if block and enable annotations when `.Values.serviceMonitor.enabled` is false.

[2022-04-07 07:22] haorenfsa commented on #2603
Ah....! In addition to the log above: I've missed the logs not containing the instance, it seems to be the reason
[code]

[2022-04-07 07:23] haorenfsa commented on #2603
So maybe we should add a finalizer to ensure the deletion is executed?

[2022-04-07 07:23] tamboliasir1 commented on #2601
Got it.. Thank you @z0rc

[2022-04-07 07:23] tamboliasir1 commented on #2601
/assign

[2022-04-07 10:34] sowmyaselva opened #2604 "Error from server (InternalError): error when creating "./aws-load-balancer-controller.yml": Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post "https://cert-manager-webhook.cert-manager.svc:443/mutate?timeout=10s": no endpoints available for service "cert-manager-webhook""
**Error from server (InternalError): error when creating "./aws-load-balancer-controller.yml": Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post "https://cert-manager-webhook.cert-manager.svc:443/mutate?timeout=10s": no endpoints available for service "cert-manager-webhook"**

**Steps to reproduce**

**Expected outcome**
Aws-load-balancer-controller should be successf

[2022-04-07 11:48] EdwinPhilip commented on #1332
/reopen

[2022-04-07 13:25] matthewmrichter commented on #1598
/remove-lifecycle

[2022-04-07 16:55] kishorj commented on #2558
@FernandoMiguel, would you be able to share the ingress and ingressclass manifests again? Also the controller logs. You can email to k8s-alb-controller-triage AT amazon.com

[2022-04-07 17:01] kishorj commented on #2604
@sowmyaselva, can you verify if the controller pods are up and running? You can check the controller pod logs, or describe the pod to see if there recent events. If you disable IMDSv1, make sure you set up the correct hop limit for [IMDSv2](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/installation/#using-metadata-server-version-2-imdsv2).

[2022-04-07 17:09] kishorj commented on #2603
@haorenfsa, the controller already uses finalizer to ensure deletion. I don't see the ingress deletion in the log snippet you shared. Does the ingress resource still exist in your cluster?

[2022-04-07 17:14] luvpreet-poriyaalar commented on #2059
What is in this file here https://github.com/aws/eks-charts/stable/aws-load-balancer-controller//crds?ref=master

It returns a 404 now

[2022-04-07 17:47] FernandoMiguel commented on #2558
Sure. Will try to find some time next week.
Thanks for the help

[2022-04-07 20:27] kishorj commented on #2592
@rkosyk-dh-nf, the controller sets the status hostname to the ALB DNS name. Would you be able to share the ingress class spec and the controller logs?

[2022-04-07 20:54] kishorj commented on #2602
You should be able to use NLB instead of classic LB for your nginx-controller setup with appropriate service annotations.

If you don't want to forward traffic to nginx-ingress-controller, you could setup NLB target group to forward L4 traffic directly to your application. In case you want to share the same NLB across multiple deployments, you will have to create the NLB outside of the controller

[2022-04-07 21:00] mballoni commented on #2602
Thank you, that's very helpful!

One main question that it's still not clear is whether or not the ingress nginx controller will stop supporting AWS load balancers (NLB) officially and if I should use this project to avoid further issues.

What would be your recommendation here? NLB is enough for my use case, we already have an external ALB and WAF setup that will route to either legacy or the new

[2022-04-08 02:23] haorenfsa commented on #2603
I'm sure it's deleted already. And I didn't see the finalizer in my new running ingress, is my version too old? or is there anything wrong?

[2022-04-08 02:36] haorenfsa commented on #2603
Ah... our controller reconciles the ingress & delete the finalizer....   I'll close this.  @kishorj Thx for the question answer

[2022-04-08 02:36] #2603 closed

[2022-04-08 07:58] rkosyk-dh-nf commented on #2592
kubectl get ingressclass alb -o yaml
[code]

kubectl get ingressclassparams alb -o yaml
[code]

The attached log file shows log records after starting aws-loadbalancer-controller and deploying the Ingress configured with the field ingressClassName.
For security reasons, some ids in the log file were replaced with random values.
[aws-load-balancer-controller.log](https://github.com/kubernetes-sigs/

[2022-04-08 08:16] rkosyk-dh-nf commented on #2592
Also, I have noticed one thing - the first 15 seconds after deploying an Ingress configured with the field ingressClassName it shows hostname in the status, after that, the hostname is being refreshed with IP address.

[2022-04-08 10:48] cmsmith7 commented on #2167
Hi @kishorj wondering if there is any progress or updates with regards to this request, many thanks.

[2022-04-08 11:53] alfredkrohmer opened #2605 "Stop overwriting helm chart version tags in-place"
**Describe the bug**
Today it happened for the second time now that the Helm chart version 1.4.1 was overwritten, i.e. a new (changed) Helm chart tarball was uploaded for this version:
* SHA256 checksum of old version: `161024647775a591a1e445c70ca0ad5007f6df1ae1a3212f47c6b11e92e8c275`
* SHA256 checksum of new version: `27efedd381186f350ad10d56dd90c411e111485ccc055190b242977a3bd6f3f0`

We actually

[2022-04-08 16:51] kishorj commented on #2605
@alfredkrohmer, thank you for bringing it to our attention. The difference in checksum is due to the eks-charts release script where the existing tarball is replaced on each charts release - there are no changes to the chart otherwise.

Your concern is valid from the security standpoint, I will forward the issue to the eks-charts repository.

[2022-04-08 16:52] zmully commented on #2600
I'd add to this:
- `alb.ingress.kubernetes.io/wafv2-acl-arn`

Additionally, updating `IngressClassParams` appears to only affect _new_ ALBs, not existing ALBs. While I can understand the reasoning behind this, having changes to the `IngressClassParams` optionally trigger updates to all ALBs managed by the controller would be helpful. Especially for users of ALBs using `group.name` tagging, trying

[2022-04-08 23:53] peter-at-work commented on #667
This is available when using the apiVersion `networking.k8s.io/v1` introduced in k8s 1.19 instead of `extensions/v1beta1` for the _Ingress_ resource.

[2022-04-09 15:48] tyrken commented on #2588
According to AWS support the listener/listener-rule resources themselves are deleted when the loadbalancer is, but the `resourcegrouptaggingapi` records get left behind.  They don't seem to get cleared up (at least we have some that are at a guess months old) ever.

`aws elbv2 describe-listeners` fails for the listener resource ARNs found.  Interestingly you can `aws elbv2 delete-rule` one of the

[2022-04-10 05:29] r-erema commented on #2042
/remove-lifecycle stale

[2022-04-10 10:05] tamboliasir1 commented on #2601
Hi @z0rc .. Just wanted to confirm condition will look something like this right?
`{{- if not .Values.serviceMonitor.enabled }}
prometheus.io/scrape: "true"
prometheus.io/port: "{{ (split ":" .Values.metricsBindAddr)._1 | default 8080 }}"
{{- end}}`

[2022-04-10 15:39] z0rc commented on #2601
@tamboliasir1 aside from github formatting, this looks okay. But it's better to create a PR and do a code review there.

[2022-04-11 06:57] jsokol89 commented on #2297
/remove-lifecycle stale

[2022-04-11 09:39] tamboliasir1 commented on #2601
Hi @z0rc I have created a PR please review. Thanks

[2022-04-11 22:05] genieai-vikas commented on #2599
@M00nF1sh Tested with the annotation you suggested. It's semi-working. This is the ingress I used

[code]
When I don't pass the header I see `HTTP ERROR 404` but when I pass the header pages load but giving me this error "Backend action does not exist"

I can confirm the service I provided `frontend-svc` is there because when  I remove `alb.ingress.kubernetes.io/conditions.frontend-svc` page opens

[2022-04-12 04:48] sajirali commented on #2519
i am also getting same error:

`aws-load-balancer-controller-58bbb566d5-nqxl8 {"level":"info","ts":1649737493.3059142,"logger":"controllers.ingress","msg":"successfully built model","model":"{\"id\":\"game-2048/ingress-2048\",\"resources\":{\"AWS::EC2::SecurityGroup\":{\"Manag │
│ edLBSecurityGroup\":{\"spec\":{\"groupName\":\"k8s-game2048-ingress2-7728b5615c\",\"description\":\"[k8s] Managed Secu

[2022-04-12 16:41] kishorj commented on #2599
@genieai-vikas,
If frontend-svc is a real service, you'd need to configure the appropriate port in the ingress rule instead of
[code]
You can use the port name/number of the corresponding real service.

If you specify `use-annotation`, then you'd also need to specify the config via `alb.ingress.kubernetes.io/actions.frontend-svc` annotation.

[2022-04-12 16:42] sajirali commented on #2519
@kishorj there are no errors.
it even says:
`{"level":"info","ts":1649781500.913361,"logger":"controllers.ingress","msg":"created listener rule","stackID":"game-2048/ingress-2048","resourceID":"80:1","arn":"arn:aws:elasticloadbalancing:us-east-1 │
│ :2322xxxxxxxx:listener-rule/app/k8s-game2048-ingress2-5ab988ba18/700364bbb770fa0d/0f474d9e54e98610/b18747dc1d6e571c"}`

but there are no listeners.

!

[2022-04-12 16:46] sajirali commented on #2519
@kishorj full log from controller if it helps:

`aws-load-balancer-controller-754d6f768-zcfpb {"level":"info","ts":1649781310.019052,"msg":"version","GitVersion":"v2.4.1","GitCommit":"c4471defda10f8184173192b9f9df4e411ee5dac","BuildDate":"2022-03-16T16:10:01+0000"}
aws-load-balancer-controller-754d6f768-zcfpb {"level":"info","ts":1649781313.1847458,"logger":"controller-runtime.metrics","msg":"metr

[2022-04-12 18:16] sjmiller609 commented on #2131
I haven't got it working yet. Just a simply replacement of the pod (for example change from image: nginx to image: httpd) still causes some connections to drop.

[code]

Testing with
[code]

[2022-04-12 18:17] ldemailly commented on #1834
Unfortunately 5 minutes is too long for when using spot

[2022-04-12 18:31] jrowinski3d opened #2607 "couldn't auto-discover subnets: unable to discover at least one subnet"
**Describe the bug**
Deploying version **2.4.1** passing `vpcID` and `region` still errors out with

[code]

i've tried both the `kustomize` and `helm` deployments. Both specifying vpcID and without.

**Steps to reproduce**

Helm Deploy:

[code]

**Expected outcome**
Start provisions of ALB and NLB resources.

**Environment**

* AWS Load Balancer controller version : 2.4.1
* Kubernetes version: 1.

[2022-04-12 18:34] keperry commented on #2131
@sjmiller609 - are you signalling to the readiness probe to no longer take traffic by throwing a 500 during the "shutdown wait" period?  I can't quite tell if your app is doing that.  It looks like the "sleep" is handling the "shutdown wait", but if nothing signals to readiness probe (readiness probe must fail), kube will keep sending traffic there.  Additionally, I would explicitly set your timeo

[2022-04-12 18:44] sjmiller609 commented on #2131
Thanks, I think this is what I'm missing. I will give this a shot right now!

[2022-04-12 18:47] kishorj commented on #2607
@jrowinski3d
could you query the subnets in your VPC using the following aws cli?

[code]
replace ${VPC_ID} with your VPC id
you can use the internal-elb for private subnets. Also add the cluster tag.

If aws cli returns empty, then the subnets are not tagged appropriately.

[2022-04-12 18:55] sjmiller609 commented on #2131
I'm giving this a go, but i'm not sure it's quite right because I think you are saying the workload should continue serving regular traffic, just not the readiness probe

[code]

[2022-04-12 19:12] sjmiller609 commented on #2131
Since I will have to work out details in the workload, I will replace my demo service by my actual ingress controller and then report back.

[2022-04-12 19:31] jrowinski3d commented on #2607
hi @kishorj

I redacted out some values, but this is the following output:

[code]

[2022-04-12 20:00] kishorj commented on #2607
did you also run the aws cli with the cluster tag filter?
Subnet auto-discovery ignores the subnet if the tag `kubernetes.io/cluster/xxx` with value shared/owned is not for the current cluster name.

[2022-04-12 20:04] jrowinski3d commented on #2607
hey @kishorj , is does have that `kubernetes.io/cluster/xxx` tag associated and is the same name as my EKS cluster. The value of it is `shared`

[2022-04-12 22:25] sjmiller609 commented on #2131
I think the intended order of events is:

- New pods launched
- Update policy allows all to be launched at the same time
- Readiness gate applicable to new pods
- Waiting on initial setup with NLB
- NLB initial setup ready
- Pods ready because pass readiness gate
- Old pods marked as terminating
- **Drain starts on NLB immediately**
- **Prestop hook is executed, sleep 180 seconds**
- Drain complet

[2022-04-12 22:30] sjmiller609 commented on #2131
Not shown:
- Install Istio Operator

The below manifests were working in my test to run the monitoring script and do a "kubectl rollout restart deployments -n istio-system". I think they are not the minimal configuration.

Istio configuration:
[code]

Configuration of istio
[code]

Nginx
[code]

[2022-04-13 06:53] Project0 commented on #2131
@sjmiller609 tldr; checkout this workaround: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1719#issuecomment-763801825

[2022-04-13 10:01] cmsmith7 commented on #2167
Hi @kishorj many thanks for adding to the Roadmap.  Can you confirm that this feature request will contain the ability to annotate via ingress resource, I did see another request that contained that but it linked to this issue?

[2022-04-13 14:38] paltaa commented on #1181
The problem is that there are 2 or more security groups with the tag cluster owned, just untag and leave one security group with that tag

[2022-04-13 15:57] bala151187 commented on #2519
@sajirali you got to have this as part of your ingress .
spec:
  defaultBackend:
    service:
      name: <<service_name>>
      port:
        number: <<service_port>>

[2022-04-13 16:49] kishorj commented on #2519
@sajirali, controller logs indicates creation of the listener. Are you able to trace in the cloud trail whether the given listener resource is created successfully and whether there are any delete events for the same resource?

[2022-04-13 16:57] bala151187 commented on #2519
@kishorj
![Screen Shot 2022-04-13 at 12 56 04 PM](https://user-images.githubusercontent.com/5027627/163231740-c310e6bf-614a-4f79-8f53-9b27d2c5fdee.png)

do you have any idea on why am i seeing like this ..

[2022-04-13 18:31] sajirali commented on #2519
@kishorj thanks for asking me to check cloudtrail. i was doing all sorts of k8s/eks related troubleshooting. i am kinda embarrassed now. yep there are DeleteListener events through org level guardrails to remove listeners with port 80. for me there is no more issues and i will test with https.

[2022-04-13 20:35] jrowinski3d commented on #2607
Hey @kishorj , you are correct in regards to the cluster tags. It was slightly off for the actual cluster name. Once I aligned them all was good.

Quick question, its a **shared** tag on that subnet but with a different name. Shouldn't it allow to still auto discover those subnets?

[2022-04-13 20:43] kishorj commented on #2607
if the subnet is owned/shared by a different cluster than the current cluster, auto-discovery ignores the subnet. Subnet either has to be tagged (shared/owned) by the current cluster, or contain no cluster tag at all.

[2022-04-13 21:14] #2607 closed

[2022-04-13 22:08] kishorj commented on #2604
@sowmyaselva, I'm closing the issue. If problem persists after verifying the cert-manager is up and running in your cluster, feel free to reopen or create a new issue.

[2022-04-13 22:08] #2604 closed

[2022-04-13 22:17] kishorj commented on #2602
@mballoni,

It is up to the nginx project to recommend the appropriate type of load balancer to use. You could use both nginx and this controller simultaneously in your cluster since each of the controllers support different ingress classes.

NLB works at L4, so will be agnostic to the application protocol. ALB on the other hand works at L7 and is restricted to HTTP specific protocols only. It dep

[2022-04-13 22:17] #2602 closed

[2022-04-13 22:21] kishorj commented on #2597
Feature request #1608

I'll close this one as a duplicate.

[2022-04-13 22:21] #2597 closed

[2022-04-13 22:25] kishorj commented on #2594
@newwuhan5, there is no request size limitation for ALB. The idle timeout is a load balancer attribute and you can have only one value per ALB.

[2022-04-13 22:27] kishorj commented on #2592
@rkosyk-dh-nf, I suspect there is some other controller overwriting the ingress status. Would you be able to trace through you audit logs to see which component is modifying the ingress?

[2022-04-13 22:28] kishorj commented on #2591
@kousik93, I'm closing the issue for now. If you have further concerns regarding this matter, feel free to reach out to us.

[2022-04-13 22:28] #2591 closed

[2022-04-14 06:23] rkosyk-dh-nf commented on #2592
@kishorj, You are right. There is another Nginx ingress controller in the cluster. After test removing of Nginx controller the problem has gone. It looks like both controllers are conflicting with current settings.
Thank you for the hint.
Will take a look at Nginx controller settings.

[2022-04-14 07:46] #2592 closed

[2022-04-14 09:50] walkley commented on #2533
@M00nF1sh
You are right, I run into the same issue and confirmed that the root cause is that CreateLoadBalancer will return the existed NLB ARN if there already have NLB with the same name.

Just running following command twice, the output will be the same, no errors in the second call:
[code]

[2022-04-14 10:23] dmavrommatis commented on #2597
It's not exactly the same. That issue talks about having different services sharing the same NLB on different protocol types.

I am talking about having the same service having TCP+UDP on the same port.

[2022-04-14 10:28] eocern commented on #2039
In case it might help others - I also had the original issue using fargate profile and worker-node for core-dns. The solution for me I found in another place was just adding

`node_security_group_additional_rules = {
    ingress_allow_access_from_control_plane = {
      type                          = "ingress"
      protocol                      = "tcp"
      from_port                     = 9443

[2022-04-14 17:41] kishorj commented on #2597
@dmavrommatis, PR 2275 is for the feature request 1608. The issue does talk about sharing the same NLB across different services, but after some back and forth discussions, we identified the current limitation of the TCP_UDP protocol, here are the design details I shared earlier - https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1608#issuecomment-937346660

[2022-04-14 17:46] kishorj commented on #2584
@Pra9jha, I'm closing the issue. If you have further concerns feel free to reopen or create a new issue.

[2022-04-14 17:46] #2584 closed

[2022-04-14 19:00] kishorj commented on #2590
@rmarra, the listener rules gets merged based on the listen-ports configuration. In your case, you define the listen-ports 9090 and 443 on the same ingress, so both the listeners end up with the same listener rules.

Instead, you can create two ingresses - one for port 9090 and another with for port 443. Then use the ingress group feature to provision a single ALB for both the ingresses. In order

[2022-04-14 19:01] kishorj commented on #2583
@rameshar16, I'm closing the issue since the recommendation from @M00nF1sh should help you configure separate health check per target group. If you have further concerns feel free to reopen or create a new issue.

[2022-04-14 19:01] #2583 closed

[2022-04-14 19:02] kishorj commented on #2586
@KimSeongIl, I'm closing the issue. If you have further concerns, feel free to reopen or create a new issue.

[2022-04-14 19:02] #2586 closed

[2022-04-14 19:04] kishorj commented on #2580
@luisvillalobossalgado1987, I'm closing the issue. If you still encounter problems, please cut a support ticket to EKS for further investigation. If you have further concerns, feel free to reopen or create a new issue.

[2022-04-14 19:04] #2580 closed

[2022-04-15 16:11] kishorj commented on #2605
@alfredkrohmer, I've fixed the chart release script to prevent overwriting existing packages. New eks-chart releases will not clobber existing packages. If you notice further issues, feel free to reach out to us.

[2022-04-15 16:11] #2605 closed

[2022-04-15 21:14] M00nF1sh commented on #2599
@kishorj is correct.
you need to use the port number instead of `use-annotation`. the `alb.ingress.kubernetes.io/conditions.frontend-svc` works with real port number as well.

[2022-04-15 21:41] #2601 closed

[2022-04-16 19:33] ChiscoIris commented on #1846
this worked for me!
Thank you

[2022-04-17 23:45] johnnyhuy opened #2612 "Ingress unable to select subnets based on `Name` tag"
**Describe the bug**

Unable to select subnets based on subnet `Name` tag as stated in the [documentation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#subnets). However, we're still able to use the `subnet-...` subnet ID.

![image](https://user-images.githubusercontent.com/27847622/163736407-a9f43af1-2d1b-4717-9c04-16f309df28b2.png)

We aren't usi

[2022-04-18 11:41] sameer2800 opened #2613 "feature support request for routing desync mitigation mode"
This is not a contribution

Hello team,

The loadbalancer attributes doesnt have support for `routing.http.desync_mitigation_mode`. I was under the impression that the properties passed in attributes are iterated and applied to alb. Seems like my assumption was wrong and controller is doing some checks before applying attributes to ALB.

` kubebuilder/controller "msg"="Reconciler error" "error"="f

[2022-04-19 09:22] haorenfsa opened #2614 "ALB Ingress paths match rule not same as Ingress specification"
**Describe the bug**
ALB Ingress paths match machanism not same as Ingress specification:
According ingress [official docs](https://kubernetes.io/docs/concepts/services-networking/ingress/) states the match rule of `Prefix` as:

Kind | Path(s) | Request path(s) | Matches?
-- | -- | -- | --
... | ... | ... | ...
Prefix | /, /aaa | /aaa/ccc | Yes, matches /aaa prefix

But ALB actually matches the ru

[2022-04-19 09:27] haorenfsa commented on #2614
just found its duplicated of #2203

[2022-04-19 09:27] #2614 closed

[2022-04-19 14:06] blackheaven opened #2615 "Cannot change health check endpoint"
**Describe the bug**
Even when `alb.ingress.kubernetes.io/healthcheck-path` set, the health-check is still done on `/`

**Steps to reproduce**

Create an ingress controller such as:

[code]

**Expected outcome**
It should hit `/_healthz`

**Environment**

* AWS Load Balancer controller version: aws-load-balancer-controller-1.2.6 / v2.2.3
* Kubernetes version: 1.19
* Using EKS (yes/no): yes / eks.7

[2022-04-19 15:40] kishorj commented on #2203
We will include the fix in the v2.4.2 patch release.

[2022-04-19 16:21] philicious commented on #2312
@ajmal-bash when using `enableCertManager: true` , the `keepTLSSecret` value is being ignored by the webhook template, see e.g. https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/c1b95793b0fc3902caf795ac5b5e77fd676aab81/helm/aws-load-balancer-controller/templates/webhook.yaml#L15

[2022-04-19 18:54] nareshmuruganbw commented on #1258
Events:
  Type     Reason                Age    From                Message
  ----     ------                ----   ----                -------
  Normal   EnsuringLoadBalancer  6m44s  service-controller  Ensuring load balancer
  Warning  FailedBuildModel      6m41s  service             Failed build model due to NoCredentialProviders: no valid providers in chain. Deprecated.
           For verbose

[2022-04-19 18:57] amarkezic opened #2616 "Issue upgrading"
**Describe the bug**
I am trying to update alb ingress controller

**Steps to reproduce**
upgrade from version 2.1.3 to latest (v2.4.0)

**Expected outcome**
working update

**Environment**

* AWS Load Balancer controller version v2.1.3
* Kubernetes version: 1.22
* Using EKS (yes/no), if so version? no

**Additional Context**:

To upgrade i ran
helm upgrade aws-load-balancer-controller eks/aws-loa

[2022-04-20 08:46] carlcauchi commented on #1572
+1

[2022-04-20 13:59] przemolb commented on #2234
/remove-lifecycle stale

[2022-04-20 22:07] oliviassss commented on #2616
/assign

[2022-04-20 22:08] kishorj commented on #2615
@blackheaven, would you be able to share the ALB model from the lb controller logs? Do you see any reconcile errors?

[2022-04-20 22:13] kishorj commented on #2616
@amarkezic, could you check the chart version you applied? ensure you run `helm repo udate`.

[2022-04-20 22:19] kishorj commented on #2612
@johnnyhuy, could you check if the tag value has an extra space? Also please share the logs if possible.

[2022-04-20 22:22] kishorj commented on #2600
We will put it in the roadmap, this requires further design to incorporate the attributes in the ingress class params.

[2022-04-20 22:22] kishorj commented on #2599
@genieai-vikas, I'm closing this issue. If your problem is still unresolved, feel free to reach out.

[2022-04-20 22:22] #2599 closed

[2022-04-20 22:23] kishorj commented on #2594
@newwuhan5, I'm closing the issue. If you have further concerns, feel free to reach out.

[2022-04-20 22:23] #2594 closed

[2022-04-20 22:24] kishorj commented on #2590
@rmarra, I'm closing the issue. If you still have concerns, feel free to reopen or create a new issue.

[2022-04-20 22:24] #2590 closed

[2022-04-20 22:26] kishorj commented on #2588
This appears to be an issue on the resource tagging apis. We are following up with the ELB team for further investigation.

[2022-04-20 22:29] kishorj commented on #2578
@zeevMetz, would you be able to email the controller logs to k8s-alb-controller-triage AT amazon.com?
Also check in your cloud trail for the RevokeSecurityGroupIngress call to check the user-agent of the component making the call.

[2022-04-20 22:30] kishorj commented on #2574
@MeghaVarshney21, I'm closing the issue. If you still encounter the problem, feel free to reopen or create a new issue.

[2022-04-20 22:30] #2574 closed

[2022-04-20 22:31] kishorj commented on #2570
closing, since we merged the fix.

[2022-04-20 22:31] #2570 closed

[2022-04-20 22:36] kishorj commented on #2558
@FernandoMiguel, any updates?

[2022-04-20 22:37] kishorj commented on #2556
@saiajay15, I'm closing the issue. If you have further concerns, feel free to reopen or create a new issue.

[2022-04-20 22:37] #2556 closed

[2022-04-20 22:37] FernandoMiguel commented on #2558
I'll try to find some time this week.
Sorry about the delay.
Long weekend and replaced laptop, plus on-call is taking all my available time.

[2022-04-20 22:41] kishorj commented on #2553
@guillaumecle, we use tags to identify target groups/load balancer resources, so the name doesn't matter to the controller. However, controller needs to ensure the name is unique. We can support annotation to specify a target name prefix via annotation on the service/ingress, and use the prefix+hash to make the target group name unique. Would this proposal satisfy your requirement?

/kind feature

[2022-04-20 22:49] kishorj commented on #2502
@saiteja313, did the response from @M00nF1sh help your case? I'm closing the issue, if you have further concerns, feel free to reach out.

[2022-04-20 22:49] #2502 closed

[2022-04-20 22:50] kishorj commented on #2461
@poblahblahblah, any updates?

[2022-04-21 00:25] guillaumecle commented on #2553
I think that would work for us. Thanks.

[2022-04-21 05:26] prajithp13 opened #2617 "Upgrade to v2 from v1.1.8"
We are planning to upgrade the controller version to v2 but we couldn't find any exact steps to install the v2.0.1 helm chart in the migration guide.  Please confirm if the v2.4.1 is compatible with the >= 1.1.3?

**Environment**

* AWS Load Balancer controller version: 1.1.8
* Kubernetes version: 1.20
* Using EKS (yes/no), if so version?

**Additional Context**:

[2022-04-21 05:51] soosin-spresto commented on #2616
I have same issue too.
The chart version is 1.4.1.....

[2022-04-21 07:53] Tenzer commented on #2389
Kishor helped find the reason for the problem, which was the IAM policy in place didn't match the one from the documentation exactly. The discrepancy must be down to when we transcribed the IAM policy into Terraform's way of managing them, and we managed to leave out `/*` at the end of a `Resource` line.

[2022-04-21 07:53] #2389 closed

[2022-04-21 12:48] FozzeY commented on #2607
I ran into a similar issue as well. Does that mean a subnet cannot be shared between multiple clusters, despite being tagged as shared?
It also seems contradictory to the documentation https://aws.amazon.com/premiumsupport/knowledge-center/eks-vpc-subnet-discovery/:
[code]

Is this behaviour intentional?

[2022-04-21 15:55] kishorj commented on #2607
@FozzeY, you can share subnets across multiple clusters. Here are the options
- do not cluster tag the subnet at all (for any of the clusters)
- tag the subnets for those clusters you want to share the subnets

The tag should be used to alter the auto-discovery to prefer one subnet over other. The default behavior to choose first subnet in sorted order in case of multiple subnets on the AZ.

[2022-04-21 16:27] blackheaven commented on #2615
I've tried to find a way to fetch them, unsuccessfully, have you a link to a howto?

[2022-04-21 16:50] M00nF1sh commented on #2234
we might be able to support this when we support [Gateway API](https://gateway-api.sigs.k8s.io/). the K8s Service API don't have such flexibility and we don't want to add something like serviceGroup.

[2022-04-21 16:51] M00nF1sh commented on #2615
kubectl logs from both controller pod will show the logs and ALB model built is within logs.

[2022-04-21 19:20] philomory commented on #1608
/remove-lifecycle stale

[2022-04-22 01:58] sn-asownie opened #2619 "security groups and health check not being updated"
Describe the bug
the security groups for the nodes aren't being updated, and I'm not seeing any warns or errors in the logs

Steps to reproduce
im using version 1.2.7 of https://aws.github.io/eks-charts aws-load-balancer-controller
move from 17.x to 18.x of of the terraform provider for aws (terraform-aws-modules/eks/aws)

    Chart name: aws-load-balancer-controller
    Chart version: 1.2.7
    K

[2022-04-22 04:34] soosin-spresto commented on #2616
I Fixed it. I did not upgrade, uninstall and install was working.

[2022-04-22 04:38] #2613 closed

[2022-04-22 04:38] sameer2800 opened #2621 "feature support request for routing desync mitigation mode"
This is not a contribution

Hello team,

The loadbalancer attributes doesnt have support for routing.http.desync_mitigation_mode. I was under the impression that the properties passed in attributes are iterated and applied to alb. Seems like my assumption was wrong and controller is doing some checks before applying attributes to ALB.

kubebuilder/controller "msg"="Reconciler error" "error"="faile

[2022-04-22 08:12] ShubhamRasal commented on #835
bumped into this requirement.
My requirement was to redirect traffic coming / to /app.
Used alb redirect annotation for it.
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#:~:text=alb.ingress.kubernetes.io/actions.%24%7Baction-name%7D%20Provides%20a%20method%20for%20configuring%20custom%20actions%20on%20a%20listener%2C%20such%20as%20Redirect%20Actions

[2022-04-22 12:51] sjmiller609 opened #2622 "HTTP and HTTPS health checks on NLB-IP"
**Is your feature request related to a problem?**

On version 2.4

If I have a Service of Type LoadBalancer with multiple ports, for example like this:
[code]
Possibly one of the ports is HTTP and the other is HTTPS. This is annotated like this for NLB-IP mode:
[code]

In AWS, we will have one target group per port on the Service. In my case of using NLB-IP, the HTTP port is only wanted for HTTPS

[2022-04-22 15:21] kishorj commented on #2621
@sameer2800, what is your controller version?

[2022-04-22 15:37] kishorj commented on #2617
@prajithp13, you can follow the upgrade guide from https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/upgrade/migrate_v1_v2/. You can use the latest v2.4.1

You will need to ensure the iam permissions for the controller contains all permissions mentioned in https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.4.1/docs/install/iam_policy.json

[2022-04-22 16:11] kishorj commented on #2615
The log line with message`successfully built model` contains the model. I looked at your model for the ingress group default, I see two of the target groups use `/ ` as the health check path and two use `/_health`
`k8s-flexfram-flexfram-3ff4a00a00` and `k8s-myap-mypr-ca24d8a61e` have `/_health`,
`k8s-argocd-argocdse-15ba3540bc` and `k8s-updates-mercure-ccfd83840b` have `/`

Did you override the he

[2022-04-22 16:17] blackheaven commented on #2615
I only added `alb.ingress.kubernetes.io/healthcheck-path: /_health` to two of the `Ingress`.

Did I miss something?

[2022-04-22 16:29] sn-asownie commented on #2619
ALB
I did not configure them via annotation
unfortunately, I don't have the logs

One question I had is if having two separate clusters with their own ALB in the same account is supported.

[2022-04-22 18:06] sn-asownie commented on #2619
got the log file
[code]

[2022-04-22 22:48] meyerkev opened #2623 "ALB controller doesn't play nice with custom certutil issuers?"
**Describe the bug**
I had a custom issuer getting weekly origin certs from Cloudflare and then I switched to using this controller to setup ALB's and the ALB controller cannot use the custom-issued certs.

**Steps to reproduce**

Using a custom Helm Chart
Install ALB Controller on the EKS cluster

My ingress.yaml

[code]

When I push this with the cert arn, it works.

When I push it without the c

[2022-04-22 22:57] meyerkev commented on #2623
Cloudflare is following the instructions from https://github.com/cloudflare/origin-ca-issuer

[code]

[2022-04-23 02:36] dokuboyejo commented on #999
@jbg  Thanks ...confirmed fix in `2.4.1`

[2022-04-25 03:55] samceena opened #2625 "2048 Ingress example not working with new Nginx Ingress"
The ingressClassName example [here](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/examples/2048/2048_full.yaml#L52) does not seem to be working with the [Nginx Ingress](https://kubernetes.github.io/ingress-nginx/)

When i created the ingress i get the error: `"Ignoring ingress because of error while validating ingress class" ingress="game-2048/ingress-2048" error="

[2022-04-25 07:16] sameer2800 commented on #2621
Thanks @kishorj. We are using v1.1.8.

[2022-04-25 07:29] sameer2800 commented on #2621
I will update to the latest version and try it out.

[2022-04-25 18:34] rdubya16 commented on #1788
@M00nF1sh Is this not mentioned anywhere in the migration guide? We use this feature to lockdown IAM permissions when using multiple kubernetes clusters. We expected this feature to still work from it not being mentioned anywhere. What is now the best way to grant limited access to alb resources when running multiple kubernetes clusters in the same account?

[2022-04-25 18:50] kishorj commented on #1788
/remove-lifecycle rotten
/reopen

[2022-04-26 11:54] ayesha-kr commented on #2317
@kishorj Can you please elaborate on what do we mean by the 'Literal port name in service spec' , Lets say in this service spec
[code]
 Also if we do not have '--disable-restricted-sg-rules' true and target Type is IP, then what changes are needed in the service spec.

[2022-04-26 15:00] kishorj commented on #2317
@ayesha-kr, recent releases contain the fix, you need not make any changes to your spec or the controller configuration.

[2022-04-26 17:57] ayesha-kr commented on #2317
Thanks @kishorj for the response, yes I have seen the fix. but just needed to clarify that my understanding of the problem is correct given i cannot upgrade the version at moment.
So would be great to get your comments on the understanding part.

[2022-04-26 18:32] kishorj commented on #2317
@ayesha-kr, your understanding is correct. This issue is seen only on `v2.3.0` release. If you have `v2.3.0`, I highly recommend upgrading to `v2.3.1`.

[2022-04-26 18:34] ayesha-kr commented on #2317
Got it, thanks for the clarification @kishorj

[2022-04-26 23:57] mbyio commented on #2366
For NLBs in IP mode (everything should be similar for other LBs and modes):

- deregistration takes at least 2 minutes regardless of the deregistration delay setting
- during deregistration, the pod may still receive new requests/connections even though it is in the process of deregistering
- the `preStop` hook therefore has to sleep for at least 2 minutes
- and the termination grace period has to

[2022-04-27 15:40] kaykhancheckpoint opened #2627 "[aws-load-balancer-controller] Not accessing service account"
**Describe the bug**

The aws-load-balancer-controller installs correctly, however it seems to not be using the serviceaccount role/arn that has been created. I get the following error:

[code]

The missing permissions clearly exist in the role/serviec account that has been created. Im abit confused by the `User` in the above error log, should it not be using the service account?

**Steps to repro

[2022-04-27 15:43] kishorj commented on #2627
@kaykhancheckpoint, looks like IRSA is not setup in your case. Did you intend to setup IRSA or specify the IAM permissions on the worker nodes directly?

[2022-04-27 15:45] kaykhancheckpoint commented on #2627
@kishorj I believe IRSA has been setup, i have just completed adding the cluster-autoscaler using a similar process by creating a serviceaccount and giving it permissions.