[2018-04-24 14:48] roffe commented on #274
I keep getting these errors as well on a never scaled cluster, all nodes is the same as first deployed afaik

Kops 1.9, alb-ingress-controller:1.0-alpha.3

[code]

This is repeated every 3 minutes or so and has been repeating over the past days. the ALB works though..

As fredsted, im also not observing this error for all the services. The first created does not output any errors at all

[2018-04-24 14:50] roffe commented on #274
Also my ingress looks more or less exactly like the example provided by @fredsted

[2018-04-24 15:35] bhvr-fmarceau opened #368 "ALB Ingress Controller 5XX Errors"
Hello,

We have an issue with the ALB Ingress Controller and K8s cluster node scale down events:

![1.png](https://i.imgur.com/Bzjvsp9.png)
![2.png](https://i.imgur.com/bYnQPC1.png)
![3.png](https://i.imgur.com/wWOeiWu.png)
![4.png](https://i.imgur.com/7LmV8bG.png)
![5.png](https://i.imgur.com/Hx1lSwa.png)

As you can see on the above pictures, when an instance gets terminated, the ALB Ingress Con

[2018-04-24 21:07] BlueMonday opened #369 "Examples do not include `kubernetes.io/ingress.class` anotation"
[The helm values.yaml file by default limits the controller to the alb ingress class](https://github.com/coreos/alb-ingress-controller/blob/master/alb-ingress-controller-helm/values.yaml#L103). The examples however don't include the `kubernetes.io/ingress.class` annotation. This means that if a user installs alb-ingress-controller using the vanilla values.yaml file and tries one of the examples, t

[2018-04-24 21:15] BlueMonday opened #370 "helm chart values.yaml uses very old docker image tag"
[The helm chart values.yaml uses the 0.8 docker tag which at this point is quite old](https://github.com/coreos/alb-ingress-controller/blob/master/alb-ingress-controller-helm/values.yaml#L20). This makes for a frustrating experience as the 0.8 tag has very different behaviour from what is described in the docs directory. Having to figure out the differences is time consuming. There is also no 0.8

[2018-04-26 10:30] riccardofreixo opened #371 "Add option to ignore Host headers"
At the moment if a hostname is specified the listeners get created with a Host header check rule, which forces users of the ALB to send that Host header. The logic is [here](https://github.com/coreos/alb-ingress-controller/blob/01441fa138e7255aa8632b9c9a7147baf47deb03/pkg/alb/rule/rule.go#L56):

[code]

That impedes using a higher level load balancer on top of the ALB, as the expected host would p

[2018-04-30 18:40] bigkraig commented on #371
@riccardofreixo sounds good to me. thanks!

[2018-05-01 09:04] tyrannasaurusbanks commented on #369
Cheers for spotting, I've updated the examples you found and had a quick look but couldn't see any others:
https://github.com/coreos/alb-ingress-controller/pull/372

[2018-05-01 16:38] #369 closed

[2018-05-02 11:03] riccardofreixo commented on #371
Made an early PR to iron out any kinks, but I'm still working on doing a full test on a kube cluster.

[2018-05-02 13:30] jkemp101 opened #375 "Version 1.0 status and current image version"
I'm trying to get a handle on the current status of version 1 of the controller.  Things have been working fine with my limited production use but I need to decide if I want to roll it out to a broader set of services.

1. What version should we be running?  The Readme still says the current version is `1.0-alpha.3`, I have been running `1.0-alpha.8`.  I'd do a PR to update the Readme but I honest

[2018-05-03 16:33] #294 closed

[2018-05-03 21:11] gaganapplatix commented on #375
We would also like to use this as well. Currently testing master which is on 1.0-alpha.9 but it is unclear when the alpha version change. Is there some release schedule or milestone around 1.0 so people can use specific tags?

[2018-05-03 21:48] gaganapplatix commented on #361
Yeah, I am also seeing this. And the ALB that gets created defaults to 60 seconds. The code says

	if lb.DesiredIdleTimeout != nil {
		if err := albelbv2.ELBV2svc.SetIdleTimeout(lb.Current.LoadBalancerArn, *lb.DesiredIdleTimeout); err != nil {
			rOpts.Eventf(api.EventTypeWarning, "ERROR", "%s tag modification failed: %s", *lb.Current.LoadBalancerName, err.Error())
			lb.logger.Errorf("Failed ELBV

[2018-05-04 14:39] Dgadavin opened #376 "CrashLoopBackOff in Rancher"
Hi. I have an issue running alb-ingress-controller on Rancher.

I've done everything like in README and my pod is unhealthy. Here is what I see in logs:
[code]

After that I have an error.
Here is `kubectl get po --all-namespaces`:
[code]

Also here is service output `kubectl get svc --all-namespaces`:
[code]

Please help me to understand whats wrong with my setup.
Thanks

[2018-05-07 02:28] #371 closed

[2018-05-07 18:32] davidweizheng opened #377 "How to set ALB Security Policy to ELBSecurityPolicy-TLS-1-2-2017-01"
By default, ALB Security Policy is set to ELBSecurityPolicy-2016-08. I want to set it to ELBSecurityPolicy-TLS-1-2-2017-01. I know I can manually set it after ALB is created. But is there a way to automatically do it?

[2018-05-07 19:29] jhohertz commented on #253
Being able to use "owned" lifecycle subnets in addition to "shared" would be nice for being able to use w/ kops out of the box. However this would also require being able to change the other tag.

This component expects: kubernetes.io/role/alb-ingress
Where kops (and kubernetes) work with these tags: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L87-L9

[2018-05-08 00:21] abidmasoodsc opened #378 "Target group is not getting created"
Hi,
I followed the steps from https://github.com/coreos/alb-ingress-controller/blob/master/docs/walkthrough.md and also setup RBAC using https://github.com/raf-d/aws-alb-controller/blob/master/RBAC-for-aws-controller.md.

Now the controller and services are up however I don't see any Target Group, I don't see any errors in the logs.

./kubectl logs -n kube-system po/alb-ingress-controller-56c9dd75

[2018-05-08 14:41] rexroof commented on #337
This should be reopened.   I've run into this problem and it would be very helpful if the alb-ingress-controller grouped security groups together so that more than one rule is in each group.
Also, in most cases, the groups are effectively all the same and are all accomplishing the same exact things, so they might as well just be one group with one basic rule.

[2018-05-08 22:02] jicowan opened #379 "ignoring add for ingress echoserver based on annotation kubernetes.io/ingress.class with value alb"
Attempting to go through the ingress controller walk-through.  ALB is never created.  The follow appears in the logs of the alb-ingress-controller pod:

[code]

No events registered either.
[code]

[2018-05-08 23:12] bigkraig commented on #361
Thanks for the fix!

[2018-05-08 23:12] #361 closed

[2018-05-11 16:16] ewbankkit commented on #325
[Virtual Kubelet](https://github.com/virtual-kubelet/virtual-kubelet) is an example of a node that [sets](https://github.com/virtual-kubelet/virtual-kubelet/blob/8f6b4b9e209c2597e844ea60b5401804f48ed621/vkubelet/vkubelet.go#L151) `alpha.service-controller.kubernetes.io/exclude-balancer` to `true`.

Currently if I run a VK and then attempt to create an Ingress I get errors like:

[code]

[2018-05-14 18:57] bhvr-fmarceau commented on #368
Has anyone from the project seen this issue? Do you need more information!?

Please let me know if there's anything I can do to help.

[2018-05-16 14:57] jkemp101 opened #383 "Instances are not added/removed from Target Group after it is created"
It looks like something broke between version `1.0-alpha.8` and `67c350d` with target groups getting updated when the available nodes change.  I also tried the latest version `ac36437` and got the same result.  I happened to realize only 1 instance was in the target group even though the cluster had 3 nodes.

With `1.0-alpha.8` I get the following when I increased the instances in the ASG. The tar

[2018-05-16 16:01] ricardohsd commented on #189
Hi @rmrbest I'm curious in how you fixed it. I've checked and ingress doesn't provide sessionAffinity option.

[2018-05-16 18:56] jkemp101 commented on #383
@khrisrichardson I think PR #288 might have caused this regression.  Setting `tg.Targets.Desired = desired` versus what it was before basically `tg.Targets.Desired = targetGroup.Targets.Desired = o.GetNodes()` makes it so that new instances are never added to existing target groups.  I think it only ever removes instances from a target group and never adds new.

[2018-05-16 20:06] sohan commented on #189
@ricardohsd you define sessionAffinity on your service's spec:

[code]

[2018-05-16 20:16] khrisrichardson commented on #383
@jkemp101 I think there may be something squirrelly about this commit. I will take a closer look, but the determination of `desired` looks more reasonable than the determination of `current`.

[2018-05-17 16:47] tidowu commented on #292
I am experiencing this same issue "Request: elasticloadbalancing/&{DescribeLoadBalancers POST / %!s(*request.Paginator=&{[Marker] [NextMarker]  }) %!s(func(*request.Request) error=<nil>)}, Payload: {}". I tried changing that value @bigkraig and that did not help. Any help?

[2018-05-18 19:47] sohan commented on #189
Actually I'm also seeing handshake errors even with `sessionAffinity: ClientIP` when upgrading from polling to the websocket transport using socket.io. It seems I have to [enable stickiness in the ALB](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html#sticky-sessions). I get the handshake 400 error less frequently now, but it still happens now.

W

[2018-05-22 07:12] r0fls commented on #211
Should this issue be closed?

[2018-05-25 09:28] adamdunkley commented on #308
This is super important to simplify how redirecting works. If you can specify different backends for the same host/path based on if it's http or https then you can put in a simple http to https redirect backend that does the 301 (like https://github.com/coreos/docker-nginx-https-redirect).

At the moment the only way to achieve this is to catch it in each application and do the redirect there.

Wh

[2018-05-29 00:13] tomfriedhof commented on #136
Bumping this feature request. It would be nice to set Sticky with the ingress definition.

I'm using socket.io, which appears to only work when I manually edit the Target Group and enable sticky for the target group using socket.io.

[2018-05-30 16:41] pawelprazak commented on #34
As mentioned in #375 the [1.0 milestone](https://github.com/coreos/alb-ingress-controller/milestone/1) has only 4 issues from 2017 and all look abandoned.

Is there any work being done to upstream this project?

[2018-05-30 16:43] pawelprazak commented on #375
Couple of questions:
- Is there any ETA for 1.0?
- Is it actively maintained/developed?
- Is it used in production?

I'm trying to assess whether or not my team should try to adopt it or is it not actively developed.

[2018-05-31 14:01] GeekyTex opened #386 "Two small regressions encountered?"
Encountered a couple issues when attempting to build master and deploy it as my ALB Ingress Controller.

I pulled master and built it because I was encountering an intermittent error with the 1.0-alpha.3 release where tags were not getting set properly to a managed security group, resulting in the security group not being found during the polling/modifying cycles. I pulled master to see if that pr

[2018-05-31 14:04] GeekyTex commented on #386
See #385 for code changes I made.

[2018-05-31 17:55] bigkraig commented on #375
Hey @pawelprazak, those are some pretty valid concerns.

As you can see, there has been some rough roads on the maintenance side lately. At Ticketmaster I have been focused on less Kubernetes related projects which has taken away much of my attention and @joshrosso left CoreOS and has yet not been replaced on the CoreOS/RedHat side. We did pick up another maintainer from AWS, @andrewtandoc, and he

[2018-06-04 10:45] ehbello commented on #375
Which version does TicketMaster use in production? Which version is currently considered the most stable?

[2018-06-04 13:28] sharon-vendrov commented on #343
+1
same for me `1.0-alpha.3`

[2018-06-04 16:47] bigkraig commented on #375
@ehbello I just checked and the team is using `1e8a381`

[2018-06-04 18:11] gaganapplatix commented on #379
You need to uncomment so the controller starts knowing which resources to watch for.

https://github.com/coreos/alb-ingress-controller/blob/ac36437b5c8fd228f8a401fefe8ccccea6e6bb62/examples/alb-ingress-controller.yaml#L45

[2018-06-06 12:52] pawelprazak commented on #375
Good to know! Would it be possible to release it then as a "named" release, like alpha 9?

[2018-06-06 21:42] #383 closed

[2018-06-06 23:13] bigkraig commented on #375
@pawelprazak Gonna get to this soon, right now things are getting ready for the ownership transfer to sig-aws.

In the mean time the team was getting ready to change out to this build due to a regression: https://github.com/coreos/alb-ingress-controller/pull/384

[2018-06-08 13:11] Dgadavin commented on #329
I also was very disappointed about that. Because if we create new ALB for every Ingress what the reason to use it, we can use ELB

[2018-06-08 13:27] cesartl commented on #329
yes same here. I was looking at ALB ingress precisely to reduce the number of ELB that we run.

Is there any update on this issue?

[2018-06-11 10:51] Dgadavin commented on #329
@cesartl  I found that if you need to add more services to the ingress without creating new ALB you need to add more `rules` into ingess.yml file. This will create Traget group and add it into existing ALB.

[2018-06-11 11:00] cesartl commented on #329
Hi @Dgadavin, does that work even if they are not in the same namespace? Let's say I have one service in a `test` namespace and one in a `prod` namespace. I'm not sure how to target those services.

[2018-06-11 11:48] Dgadavin commented on #329
Don't think so because it will break the kubernetes concepts

[2018-06-12 09:27] cesartl commented on #329
I've written what I did on [Medium](https://medium.com/@cesar.tronlozai/save-on-your-aws-bill-with-kubernetes-ingress-148214a79dcb).

[2018-06-12 17:38] #211 closed

[2018-06-13 16:42] bradreardon opened #395 "ALB is not created with correct IP address type (dualstack, ipv4)"
Was tinkering around with enabling IPv6 on our ALBs and noticed that setting `alb.ingress.kubernetes.io/ip-address-type: dualstack` in the annotations for my ingress resource did not result in the ALB being created with dualstack networking on AWS, but always ipv4.

Relevant annotations from my ingress resource:
[code]

[2018-06-13 17:34] bigkraig commented on #395
@bradreardon which image tag are you using?

[2018-06-13 17:35] bradreardon commented on #395
@bigkraig looks like `1.0-alpha.3` which is the tag included in the example manifests.

Any newer, production-tested tags I could be running off of?

[2018-06-13 17:36] bigkraig commented on #395
@bradreardon there was a regression and a fix has been submitted in #385, i'm waiting on some testing being done by @khrisrichardson before I merge it in.

[2018-06-14 17:11] lareeth commented on #376
If you run the following command it will tell you why its in CrashLoopBackOff

     kubectl describe pod alb-ingress-controller-7f6fb954bb-9r4gp

There are newer images available, try using either tag `82b0003` or `latest`

[2018-06-14 18:30] lareeth commented on #377
If you want to try https://github.com/lareeth/aws-alb-ingress-controller/tree/feature-ssl-policy this should work, will create a pull request so it can be reviewed properly

[2018-06-16 00:59] chrishiestand commented on #168
I'm currently using (or trying to use) cert-manager and aws-alb-ingress-controller. The missing piece seems to be automatically uploading the acme-provisioned TLS cert to AWS Cert Manager and then updating the ingress annotation `alb.ingress.kubernetes.io/certificate-arn`.

So the controller should watch the referenced secrets and automatically upload them when they change, and then update the ing

[2018-06-18 15:49] seripap opened #396 "DNS-1123 subdomain is invalid"
Ingress successfully created an ALB, however the external IP doesn't update with its DNS name.

[code]

[2018-06-18 18:06] chrishiestand commented on #364
I had the same problem when going from no TLS cert to adding `alb.ingress.kubernetes.io/certificate-arn`. I had to delete and recreate the ingress.

[2018-06-18 20:06] bigkraig commented on #395
@bradreardon Did you add the annotation to an existing ingress or was that in a new ingress?

[2018-06-18 21:20] #396 closed

[2018-06-18 21:31] #34 closed

[2018-06-18 21:33] bigkraig commented on #73
Closing this and tracking the feature request in #298

[2018-06-18 21:33] #73 closed

[2018-06-18 21:34] bigkraig commented on #329
I'm going to close this and tracking the feature request in #298. I'm of the opinion that it conflicts with the concepts but its clearly something people want to have and since ALBs are not free, I understand and think we should support it.

[2018-06-18 21:34] #329 closed

[2018-06-18 21:41] bigkraig commented on #367
If I am remembering correctly it will go with the priority 0 rule, which is the first path in the list. It's not configurable outside of that.

[2018-06-18 21:41] #367 closed

[2018-06-18 21:44] bigkraig commented on #360
Right now this can't be done, the ALB name is a function of the cluster name and a hashing of some other details. It was needed to be done for aligning the ingresses with existing load balancers at start up.

I think that we might be able to work around this now by using the resource tagging API that was announced last March: https://aws.amazon.com/blogs/aws/new-aws-resource-tagging-api/. Previous

[2018-06-18 21:50] #142 closed

[2018-06-18 21:51] #270 closed

[2018-06-18 21:52] bigkraig commented on #352
#238

[2018-06-18 21:52] #352 closed

[2018-06-18 21:54] bigkraig commented on #350
right, we need to implement support for SNI which is now being tracked in #238

[2018-06-18 21:54] #350 closed

[2018-06-18 22:00] bigkraig commented on #201
@feltraco would you mind sending that in as a PR?

[2018-06-18 22:05] #326 closed

[2018-06-18 22:06] bigkraig commented on #324
hey @sdevang, can you tell me which version of the image you are running? I believe we had some problems with this in the past due to how the upstream controller code functioned

[2018-06-18 23:50] feltraco commented on #201
Hi @bigkraig
I didn't have added any tests, and I will not be able to do so in the short term.
If it is OK without the tests, I can open the PR.

[2018-06-20 12:19] mwelch-ptc commented on #298
Wait... I guess I missed this in reading the documentation. Are you saying that every Ingress created deploys it's own ALB? So for our 60 or so ingresses we'd end up with 60 ALB's? What about different host names within the same ingress? Does that at least reuse the same ALB?

[2018-06-20 15:21] patrickf55places commented on #298
@mwelch-ptc That is correct. There is a 1-to-1 mapping of `Ingress` resources to ALBs, even if host names are the same.

[2018-06-20 21:00] kurtdavis commented on #298
Seems to be fairly costly.  We have looked at other solutions due to this issue.

[2018-06-20 21:02] bigkraig commented on #298
What are your guys thoughts on how to prioritize the rules if a single ALB spans ingress resources and potentially event namespaces? I can see where in larger clusters multiple teams may accidentally take the same path.

[2018-06-21 06:22] vainu-arto commented on #298
This is a general Kubernetes ingress issue, not specific to this ingress controller. I think the discussion of this should be had in a more general forum instead of an issue against this controller.

[2018-06-21 09:10] ehbello commented on #300
Duplicate of #136

[2018-06-21 11:32] ehbello opened #401 "missing required field, ModifyTargetGroupAttributesInput.Attributes."
Hello, I am trying the last build that allows configurable target groups (#275) without success.

Here is the bug report:

**Summary**
The alb-ingress-controller can't correctly configure the target group attributes and, because of that, It can't continue to create target groups.

**Steps to reproduce**
Configure an ALB Ingress resource with following annotations at least :
[code]
**Version**
Buil

[2018-06-21 21:30] #300 closed

[2018-06-21 22:15] bigkraig commented on #365
This should be fixed in #403

[2018-06-21 22:17] bigkraig commented on #363
This could be addressed by changing how we build the current state via AWS API calls. When the controller was written there was no way to query tags directly, so we fell back to naming conventions and large scans. Now that there is a tagging API where we can pull back all resources with specific tags, these things would be found.

[2018-06-21 22:18] bigkraig commented on #368
@bhvr-fmarceau there were some bugs in #288 that I started to address in #403, the TGs were not getting the correct list of instances resulting in out of date targets. If its not a big deal to try with that build I would be interested to know your results.

[2018-06-21 22:19] bigkraig commented on #351
Should be fixed in #403

[2018-06-21 22:22] bigkraig commented on #325
I've added support for `alpha.service-controller.kubernetes.io/exclude-balancer` in #403

[2018-06-21 22:24] bigkraig commented on #318
I've made some fixes to how the nodes for a TG are assembled and it may address this problem in #403

[2018-06-21 22:28] bigkraig commented on #255
Hanging when building the list of existing ingresses is a different issue and is generally related to AWS APIs not responding or being throttled. If this is still an issue please open a new ticket. Thanks!

[2018-06-21 22:28] #255 closed

[2018-06-21 22:31] bigkraig commented on #284
This is a bug, it should support both ports to all of the hosts

[2018-06-21 22:32] bigkraig commented on #378
I'll need to see more log lines after the `Assembled 0 ingresses from existing AWS resources` line. At that point the state is assembled from the existing AWS resources but it doesn't mean that the controller has received ingresses from Kubernetes.

[2018-06-21 22:37] bigkraig commented on #375
#403 fixes some TG node list regressions and I think will then be alpha 9 ready

[2018-06-21 22:47] #401 closed

[2018-06-21 22:55] #136 closed

[2018-06-21 23:48] bigkraig commented on #375
I just cut `1.0-alpha.9` 🎉

[2018-06-22 00:01] bigkraig commented on #293
Please test with `1.0-alpha.9` and re-open if this is still an issue

[2018-06-22 00:01] #293 closed

[2018-06-22 00:01] bigkraig commented on #318
Please test with `1.0-alpha.9` and let me know how it goes

[2018-06-22 00:01] bigkraig commented on #325
Please test with `1.0-alpha.9` and let me know how it goes

[2018-06-22 00:02] bigkraig commented on #351
Please test with `1.0-alpha.9` and let me know how it goes

[2018-06-22 00:02] bigkraig commented on #368
Please test with `1.0-alpha.9` and let me know how it goes

[2018-06-22 00:02] bigkraig commented on #365
Please test with `1.0-alpha.9` and let me know how it goes

[2018-06-22 00:02] bigkraig commented on #136
Please test with `1.0-alpha.9` and let me know how it goes

[2018-06-22 00:03] bigkraig commented on #357
What do you mean by killed? If the ALB was impacted when the masters were offline it could be due to a number of cluster configurations. If the ALB was removed that is a more serious problem.

[2018-06-22 08:53] ehbello commented on #375
Great work @bigkraig! I tried the lastest build f79a092 and it seems to work flawlessly. At least I don't see any errors with the debug output enabled. Thank you!

[2018-06-22 09:22] ehbello opened #405 "Support IngressBackend configuration"
Hello. I am not sure if this is a bug or a misconfiguration by my side. However, I can't configure the default rule for a listener.

According to the Kubernetes documentation for [Ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/#types-of-ingress) resources, the right way to configure that is:
[code]
In my case, I mixed this 'single service' example with another specific ru

[2018-06-22 11:02] Dgadavin commented on #376
It was happened because I have k8s with RBAC and when I updated my manifest file with RBAC everything became good. I think it will be great if you add to examples configuration of ALB-ingress-controller with RBAC setup.
Now everything work good. So we can close the issue.

[2018-06-22 12:00] zioalex commented on #395
I ran in the same problem.
Everything is working properly expect the IPv6 R53 record. Also the ALB has been created without any AAAA record.

[2018-06-22 14:44] tyrannasaurusbanks commented on #281
Hi @kaseyalusi are you still having problems? I ask because I'm using 1.0-alpha.7 with kiam and everything looks good for us: we did have to add a bunch of IAM permissions to our kiam configuration when we upgraded from 0.X to 1.0-alpha.Y though (mainly around WAF and some extra ec2) - so maybe try the newer build again but with more open IAM permissions?

### Side note
We did have some problems r

[2018-06-22 15:01] raoofm opened #407 "version update to alpha.9 is not done in all places"
version should be updated to latest at below places
build
readme
examples

[2018-06-22 16:16] #407 closed

[2018-06-22 16:18] bigkraig commented on #405
I don't know if `backend` is new or I have somehow missed it until this point. The current logic is to make the default route the first rule, but I agree that if a `backend` is defined that should take precedence.

[2018-06-22 16:24] bigkraig commented on #376
Would you mind either submitting a PR with those required RBAC changes or dumping them in here so I can make sure a working set is added?

[2018-06-22 16:36] bigkraig commented on #296
This was fixed a few months back

[2018-06-22 16:36] #296 closed

[2018-06-24 09:50] chrisduong opened #412 "ImagePullBackOff for quay.io/coreos/alb-ingress-controller:1.0-alpha.9"
Hi,

I was following the `EchoServer` [example](https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/docs/walkthrough.md)

When I deployed the controller, I got this error.

[code]

Look like the Image with that Tag version is not available anymore

[2018-06-25 06:51] mvillumsen commented on #412
I discovered the same thing last week. As a temporarily solution you can use 'f79a092' as tag which seems to be 1.0-alpha.9.

Also, you can find a list of all available tags at https://quay.io/repository/coreos/alb-ingress-controller?tag=latest&tab=tags

[2018-06-25 06:54] mvillumsen commented on #375
@bigkraig Did you push the new image to the repository as well? `1.0-alpha.9` does not seem to be available at `quay.io/coreos/alb-ingress-controller` as mentioned in #412

[2018-06-25 07:21] Dgadavin commented on #376
Ok. Will do.

[2018-06-25 14:44] lareeth commented on #395
@zioalex External DNS is managed separately now, I'm working on getting IPv6 enabled, you can test a preview here: https://github.com/kubernetes-incubator/external-dns/pull/576

[2018-06-25 14:56] lareeth commented on #342
The ALB will not remove any authentication, however depending on how you set up your authentication, the app will see the requests coming from an internal IP, and might not require you to login. Checking the `X-Forwarded-For` headers might help, as this will show the end users (external) IP instead.

This is just a hunch, but without more information I cannot offer any more advice.

[2018-06-25 16:38] #201 closed

[2018-06-25 16:38] bigkraig commented on #377
This is now supported with #415

[2018-06-25 16:38] #377 closed

[2018-06-25 18:19] amit-kansal opened #417 "ingress rule always point to first listed service in rules"
I am new to setting up ingress-controller. I am facing problem to access multiple services using single ALB DNS created using nodeports type service.

With below config, I am only able to access first listed service using the created ALB DNS. If I am appending path to DNS url then its not redirecting me to the other services.

Example -
standalone dns url => working (pointing to first listed servi

[2018-06-25 22:02] #90 closed

[2018-06-25 22:09] #219 closed

[2018-06-25 22:11] bigkraig commented on #386
Resolved as of #418

[2018-06-25 22:11] #386 closed

[2018-06-25 22:19] bigkraig commented on #376
Thanks @Dgadavin, can you sign the CLA?

[2018-06-26 01:21] akhilkathuria opened #422 "x509: Certificate signed by unknown authority - EKS"
Hi All,
I am getting the following errors in the pod logs

launch.go:282] Creating API Client for https://EKS_MASTER_URL:443
launch.go:309] Error while initializing connection to kubernetes apiserver. This most likely means that the cluster is misconfigured (e.g., it has invalid apiserver certificates or service account configuration). Reason: Get https://EKS_MASTER_URL:443/version: x509: certific

[2018-06-26 01:51] #325 closed

[2018-06-26 01:52] bigkraig commented on #316
This controller is AWS ALB specific, sorry. I am amazed you were able to get that far!

There is no way on the AWS side AFAIK to configure a target group to an IP, you can only configure EC2 targets.

[2018-06-26 01:52] #316 closed

[2018-06-26 01:56] bigkraig commented on #305
@raf-d do you mind sending in a PR with that RBAC info? it would help out to have it in the docs.

[2018-06-26 01:57] bigkraig commented on #285
Use the `alb.ingress.kubernetes.io/load-balancer-attributes` annotation to configure the s3 access logs

[2018-06-26 01:57] #285 closed

[2018-06-26 01:58] bigkraig commented on #273
This should be resolved in the latest alphas `1.0-alpha.9`

[2018-06-26 01:58] #273 closed

[2018-06-26 01:58] bigkraig commented on #272
This should be working in `1.0-alpha.9`

[2018-06-26 01:58] #272 closed

[2018-06-26 02:11] bigkraig commented on #135
I believe the bug part of this issue is resolved but i'm going to keep the `service-listen-ports` bit of this open as a feature req.

[2018-06-26 02:12] bigkraig commented on #240
this should be resolved in later builds, try `1.0-alpha.9`

[2018-06-26 02:12] #240 closed

[2018-06-26 02:22] bigkraig commented on #422
it appears that the api server isnt exposing a valid ssl cert and the app is rejecting the connection. i haven't seen this one yet so i am not sure if its something you are doing or something with EKS though

[2018-06-26 11:07] zioalex commented on #395
Thanks @lareeth will do.

[2018-06-26 11:50] zioalex commented on #395
@lareeth  how do I test it? I tried to add the annotation
```external-dns.alpha.kubernetes.io/ipv6: true```

To the external-dns Deployment but it is not recognized. May be because the external-dns code was not yet merged?

[2018-06-26 11:51] Dgadavin commented on #376
@bigkraig Done.

[2018-06-26 11:54] lareeth commented on #395
@zioalex its still a work in progress, that feature is still being worked on. Lets move the discussion to external-dns and close this issue here.

[2018-06-26 14:50] ping2kalesh commented on #379
I have faced similar issue I think we need to comment the annotation "kubernetes.io/ingress.class:                       alb".
I see the example manifest given the walkthrough also doesn't contain this annotation:
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: echoserver
  namespace: echoserver
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress

[2018-06-26 15:14] amit-kansal commented on #417
@bigkraig Can you please help me! Please let me know if I need to provide more information/steps about the issue.
Note : I am not using any host, just trying to access application with the loadbalancer DNS address. and able to access first listed service.

[2018-06-26 15:19] rajarajanpsj commented on #422
@bigkraig Hi Kraig, EKS cluster API server has a self signed certificate at this point. How do we pass on a CA cert in the args (similart to --apiserver-host arg). Is there a way for this? How does the go program inside the container know where to find the CA cert to trust? Should we place the self signed cert from API server in the standard certs location in alpine? We just have to make it trust

[2018-06-26 16:32] tatobi opened #426 "Delete loadbalancer resources in existing, separated Kubernetes cluster after deployment"
We have a running Kuberntes cluster in the same AWS account, with alb-ingress-controller controlled ingresses. This name is "test-cluster.internal".

When a new Kubernetes cluster started, with name "live-cluster.internal", when the alb-ingress-controller deployed, it DELETES the already existing loadbalancers and target groups.

It started and immediately delete the anoter cluster's existing reso

[2018-06-26 16:36] bigkraig commented on #426
Make sure the cluster name is unique to each cluster. When the controller starts up it looks for existing resources with a matching cluster name and then reconciles those resource against the current configuration inside of the Kubernetes cluster.

[2018-06-26 16:39] bigkraig commented on #417
@amit-kansal i'm going to try to reproduce (and then fix) this today 👍

[2018-06-26 16:41] #376 closed

[2018-06-26 16:43] tatobi commented on #426
I did it, two times.
The new cluster is (whic deletes resources in existing older one):

[code]

The older, existing one is:
[code]

[2018-06-26 16:45] bigkraig commented on #426
Can I see the controller pod manifest? The cluster name is a parameter to the controller.

[2018-06-26 16:50] tatobi commented on #426
Yes.
This is a "old" one:
[code]

This is the newly started one:
[code]

[2018-06-26 16:55] bigkraig commented on #426
The cluster name is limited to 11 characters so these are effectively the same cluster name. I'll open a PR later that exits with an error if the cluster name is longer than 11 characters to prevent this kind of hidden problem in the future.

[2018-06-26 17:03] tatobi commented on #426
Hmm. Thank you. It is a new information. I thought that the names are limnited to 253 chars according to the official documentation: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/
Where does the "11 char" limitation can be found explicite? In docs?

[2018-06-26 17:15] tatobi commented on #426
It is an "evil" bug or undocumented feature. It can delete running resources accidentally.
It should LOG somewhere what does it use internally as a CLUSTER_NAME to identify the resources.

[2018-06-26 17:16] bigkraig commented on #426
I did some digging and we used to throw and error but stopped in #223.

The 11 character limitation is because its used as a prefix for naming resources in AWS. We needed to do this to reassemble the controller state at start up and AWS didn't provide a method for querying ALBs via tags at the time. There is an API for that now, so we don't need to keep a naming convention, but i'm unsure of how I

[2018-06-26 17:18] rifelpet commented on #426
I believe its a limitation on the length of ALB names. It needs to include the cluster name, namespace, and ingress name which means theres some truncation that may need to happen.

https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/de3eb414df8453ab0549c41df869d705e80be546/pkg/controller/alb-controller.go#L454-L456

[2018-06-26 17:24] tatobi commented on #426
Thank you. It should put a "warning" log entry at least after the if condition and truncation, because nowhere happens that the controller uses shorter name to identify the correct resource. Or, when you get the full data from AWS SDK.
What is the limitation agains using filering resources according the Tag full data received?
I mean, I have in LB Tags:

`kubernetes.io/cluster/bm-kubernetes-test-l

[2018-06-26 17:28] bigkraig commented on #426
What I would like to do use query the tagging API for resources with the `kubernetes.io/cluster/<cluster name>` tag and use those to build the state. The issue is all of the existing users who don't have that tag on their resources.

What I am thinking right now is supporting both methods in the 1.0 release and then removing the legacy ALB name searching method in the following release.

[2018-06-26 17:37] rifelpet commented on #253
Agreed on autodetecting a cluster tag value of `owned`. Kops doesn't currently support adding custom AWS tags to specific subnets. Maybe the alb ingress controller could take a set of subnet tag filters as a parameter somehow?

It could use the following order of preference:
1. `subnets` annotation on the ingress resource
2. filter parameter on the controller if set
3. Existing default of `kuberne

[2018-06-26 19:01] tatobi commented on #426
Would it be complicated to use the new API methind in a branch? I need to deploy the clusters the day after tomorrow with the already agreed naming convention, the FQDNs, so it would be pity to modify everything because of the ALB controller plugin cant handle just 11 long names :(

[2018-06-26 19:09] akhilkathuria commented on #426
Hi Tobi,
Can you please share your alb-ingress-controller.yaml file?  I would like to see how you mounted the volume with the token. I believe you are doing this on EKS?

Normal  SuccessfulMountVolume  49m   kubelet, ip-10-202-66-89.eu-west-1.compute.internal  MountVolume.SetUp succeeded for volume "default-token-qplzw"

[2018-06-26 19:12] tatobi commented on #426
Here is it, nothing special, copy-paster from the examples:
[code]

[2018-06-26 19:27] tatobi commented on #426
@akhilkathuria I guess you should post your problem into an another issue or thread, because it is about rights not configuration parameters.

[2018-06-26 19:57] amit-kansal commented on #426
@akhilkathuria I also face the same issue but following below link resolved the issue.

https://github.com/raf-d/aws-alb-controller/blob/master/RBAC-for-aws-controller.md

Basically
Create the ServiceAccount, ClusterRole and ClusterRoleBinding to use with the ALB controller. and udape in ur alb-ingress-controller.yaml file.

[2018-06-26 22:36] bigkraig commented on #417
What version of the controller are you using? I'm unable to reproduce this.

[code]

<img width="1072" alt="screen shot 2018-06-26 at 3 35 37 pm" src="https://user-images.githubusercontent.com/508403/41942993-9a83bdb0-7956-11e8-8adb-3850be1b81ac.png">

[2018-06-26 22:46] akhilkathuria commented on #422
Got it to work using the following: There is no need to use --apiserver-host=Master_URL
https://github.com/raf-d/aws-alb-controller/blob/master/RBAC-for-aws-controller.md

[2018-06-27 00:03] bigkraig commented on #322
No longer an issue

[2018-06-27 00:03] #322 closed

[2018-06-27 00:08] #365 closed

[2018-06-27 01:36] drakedevel opened #429 "Annotation parser does not have correct value for clusterName"
When I run 1.0-beta.1 with autodiscovered subnets, I get this error:

[code]

(Note the `... must contain the tag:kubernetes.io/cluster/ tag with ...` part)

Given how that log line is formatted, I believe that means that the ValidatingAnnotationFactory has clusterName = "". It looks like NewValidatingAnnotationFactory is called in NewALBController, which is (necessarily) called before ConfigureFl

[2018-06-27 01:43] drakedevel commented on #429
I just confirmed the same behavior in 1.0-alpha.9; 1.0-alpha.3 works correctly.

[2018-06-27 03:56] amit-kansal commented on #417
I am using version 1.0-alpha.9.

And in aws console I am also able to see the defined rules in controller file. Can you please share the annotation which you used in your ingress controller.

[2018-06-27 15:50] tatobi commented on #429
I confirm the same problem as well. The 1.0-alpha.3 works fine, the  1.0-beta.1 does not find the subnets wuith the same (correct) Tags. The new version works only if I explicitely define the subnets in pod deployment manifest yaml file.

[2018-06-27 16:29] #426 closed

[2018-06-27 16:53] bigkraig commented on #429
can you guys give me an example of how to reproduce it? we use a common set of security groups and i haven't had to leverage the tagging logic (nor did i write it) so i am not fluent on how it should be working

[2018-06-27 17:28] bigkraig commented on #429
nevermind, dont need the example. the problem is the annotationFactory is created before  `pflag.Parse()` is called, so its created with an empty cluster name. @r0fls has a fix in the oven

[2018-06-27 19:11] #429 closed

[2018-06-27 21:08] bigkraig commented on #364
Can you see if this was fixed in `3f87a2d`? I am planning to cut another beta from this version if no new bugs are detected at Ticketmaster. I've tested an ingress by adding an HTTPS port and `certificate-arn` to an existing ingress, then removing the arn, and it has worked as it should.

[2018-06-27 21:10] bigkraig commented on #364
[code]

[code]

[2018-06-27 21:14] #342 closed

[2018-06-27 21:17] bigkraig commented on #305
We've got RBAC docs in the examples folder now: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/examples/rbac-role.yaml

[2018-06-27 21:17] #305 closed

[2018-06-27 21:18] bigkraig commented on #302
I think this should be fixed in the latest versions. We originally lowercase'd the cluster name because it was used as a prefix for the AWS resource names. That is now a hash or separate parameter.

[2018-06-27 21:18] #302 closed

[2018-06-27 21:20] bigkraig commented on #299
Latest versions of the code have IAM requirements that match the IAM example in https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/examples/iam-policy.json

[2018-06-27 21:20] #299 closed

[2018-06-27 21:20] #301 closed

[2018-06-27 21:31] #320 closed

[2018-06-27 21:32] bigkraig commented on #213
Considering this is generally indicates a problem with communication with the AWS API, exiting is probably not a bad thing to bring awareness.

[2018-06-27 21:32] #213 closed

[2018-06-27 21:35] bigkraig commented on #93
Supported as of #423, please use `1.0-beta.2` or later. thanks!

[2018-06-27 21:35] #93 closed

[2018-06-27 21:36] bigkraig commented on #274
Can you test with `1.0-beta.2`?

[2018-06-27 21:41] bigkraig commented on #284
Can you test with `1.0-beta.2`? I just set up this same configuration and I have all of the listener rules I would expect to see.

[2018-06-27 21:46] #379 closed

[2018-06-27 21:48] bigkraig commented on #375
`1.0-beta.2` has been cut and has a lot of the major rework that I have wanted to get done included. I've also gone through a lot of the miscellaneous reported bugs here and verified as many as I can that they are resolved.

I have one last feature request in #405 that I think is important to get in before a 1.0 release, since it has the possibility of changing the default routing behavior (only t

[2018-06-27 21:49] #364 closed

[2018-06-27 21:54] bigkraig commented on #395
Is there anything that needs to be addressed in the ingress controller? I do not have a network to do a full test against, but when changing to dualstack I can see mine failing to reconcile the state due to a lack of a ipv6 subnet.

[2018-06-27 21:56] bigkraig commented on #327
Can you give me an example ingress definition of what you are trying to do?

[2018-06-27 21:57] bigkraig commented on #308
It's not possible. Would this be something that could be addressed by multiple ingress definitions?

[2018-06-27 21:57] #332 closed

[2018-06-27 21:59] bigkraig commented on #318
Should be resolved in later builds, currently `1.0-beta.2`

[2018-06-27 21:59] #318 closed

[2018-06-27 22:00] #284 closed

[2018-06-27 22:00] bigkraig commented on #345
Can you test with `1.0-beta.2` and re-open if this is still happening? This should be fixed. Thanks!

[2018-06-27 22:00] #345 closed

[2018-06-27 22:07] lareeth commented on #395
@bigkraig You will need subnets with ipv6 enabled. Do we need to add better error catching to make this clearer in the logs?

Do we also need to update the documentation to make this clearer as well?

[2018-06-27 22:30] bigkraig commented on #395
Its clear, AWS exposes the message that I need ipv6. I'm not sure what needs to be updated/changed at this point. There shouldn't be any DNS records managed.

[2018-06-27 23:28] bigkraig commented on #292
Check out the latest iam policy requirements https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/examples/iam-policy.json and with the latest image `1.0-beta.2` and please re-open if this is still an issue. Thanks!

[2018-06-27 23:28] #292 closed

[2018-06-27 23:29] #370 closed

[2018-06-27 23:39] bigkraig commented on #343
I don't have access to a cluster that uses that Amazon CNI plugin, which is going to be necessary to develop support for this.

[2018-06-27 23:43] bigkraig commented on #363
The controller has since been updated to use the new API and fetches all managed targetgroups in one go, so it should be possible to write something now to discover excess TGs and purge them.

[2018-06-27 23:44] bigkraig commented on #360
Much of the necessary work for this has been completed and now it is a matter of creating the annotation.

[2018-06-27 23:44] bigkraig commented on #357
Please re-open if you still have this issue with later builds.

[2018-06-27 23:44] #357 closed

[2018-06-27 23:45] bigkraig commented on #308
Would #135 solve your problem?

[2018-06-27 23:45] #378 closed

[2018-06-27 23:47] bigkraig commented on #168
I think the best way to do this is via something like Helm to add the annotation to your ingress that includes the certificate information from cert-manager.

[2018-06-27 23:47] #168 closed

[2018-06-27 23:49] bigkraig commented on #405
API doc: https://v1-8.docs.kubernetes.io/docs/api-reference/v1.8/#ingressbackend-v1beta1-extensions

[2018-06-27 23:51] bigkraig commented on #282
Dupliate of #362

[2018-06-27 23:51] #282 closed

[2018-06-28 11:12] jkemp101 commented on #375
@bigkraig Thanks for all of the changes/fixes.  Looks like a lot has gotten done recently. I'm wrapped up in some other projects right now but looking forward to trying 1.0.

[2018-06-28 12:56] natefox commented on #417
What is the default action supposed to be? I see in your screenshot that it is pointing to svc1. I would expect there to be a third service for the http-default-backend service? Or am I missing the reason for the existence of the 'default service'?

[2018-06-28 13:20] zioalex commented on #395
Aldo the routing tables need to be updated or the traffic will be not forwarded.

[2018-06-28 14:28] klumhru opened #439 "China support"
At beta.2 the alb-ingress-controller deployed to China regions fails with errors related to certain services not being available in AWS in China.

Example
[code]

This also causes issues when alb-ingress-controller attempts to call acm/DescribeCertificate, as acm is another service not available there.

So the services in use by alb-ingress-controller which are failing are:
acm
waf
waf-regional

W

[2018-06-28 17:29] bigkraig commented on #417
@natefox it currently defaults to the first rule in the ingress. there is another issue #405 to address support for the `backend` parameter, but that work hasn't been done yet

[2018-06-28 17:37] amit-kansal commented on #417
@bigkraig Today I tried multiple times and updated the version with `1.0-beta.2` but still no luck :(
Loadbalancer always points to the default rule.  The rules with custom path are not pointing to related services.
Can you please one more time check my ingress yaml. If all the required annotations are in place ?

`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: echoserver
  namespa

[2018-06-28 17:42] bigkraig commented on #417
can you show me screenshot of the listener?

[2018-06-28 17:49] amit-kansal commented on #417
Below are the screenshots -
![image](https://user-images.githubusercontent.com/19466638/42051356-7ea257da-7b29-11e8-8aea-cf4314d7a638.png)
![image](https://user-images.githubusercontent.com/19466638/42051384-960c5696-7b29-11e8-9d5f-d34cbb27e6f1.png)

[2018-06-28 17:53] bigkraig commented on #417
So that looks correct, requests to `/codexweb` are going to the 31755 nodeport service and `/codexrestapi` are going to the 31281 service.

There are no rewrite rules in ALBs, so the services need to respond on those specific paths.

[2018-06-28 18:07] amit-kansal commented on #417
But the 1st and 2nd rules never works for me only the last rule works(default one). And if you see the last default rule points to first listed service 31755 nodeport in path rules. So I am only able to access first service.
Below are the screenshots for serivces access through client.

**Default Rule-**
![image](https://user-images.githubusercontent.com/19466638/42052288-ff7bf29c-7b2b-11e8-8c3b-1

[2018-06-28 18:09] bigkraig commented on #417
The ALB is redirecting the `/codexweb` request to the 31755 service, the service is not responding to the request made to `/codexweb`, it *does not* go to `/` on 31755. Does that make sense?

[2018-06-28 18:11] bigkraig commented on #439
Makes sense. There will need to be some flags to disable some features.

[2018-06-28 18:29] amit-kansal commented on #417
@bigkraig I really didn't get it. Here what I understood; ALB doing its job If request is not routed to any path then its routing to last one(default action) and in default action its again pointing to 31755 service and that's why I am able to access that service.

I made some manual change to my ELB listeners. I changed 31755 nodeport to 31281(2nd rule service). And now on `/` I am able to access

[2018-06-28 20:52] eugene-marchenko opened #440 "load-balancer-attributes annotation does not work for already created ALB"
Hey!

I found that load-balancer-attributes annotation does not apply it's settings if ALB without load-balancer-attributes annotation was created before.
It works fine if you add this option during the first `kubectl create -f ingress.yaml` invocation.

my settings:

ingress controller image:

controller applies settings without errors but it does not come out in aws console:

Is it a bug or feat

[2018-06-28 20:53] rifelpet commented on #440
I've noticed this behavior as well. I added s3 access logging to an existing ingress and the controller did not add the attributes to the ALB.

[2018-06-28 21:47] ehbello commented on #417
@amit-kansal how are the full URLs to `/codeweb` and `/coderestapi` paths?

I guess your problem is due to the missing wildcards on the paths. I mean, the target group of the rule with path `/codeweb` only responds to URLs like `http://xxxxx/codeweb` (without slash) and not `http://xxxxx/codeweb/blahblah`. Same for `/codeapi` path.

If the path of your URL is not exactly the path specified in the

[2018-06-28 22:08] bigkraig commented on #440
I'm on this, there is definitely some issues with the attributes and duplication of the idle timeout config.

[2018-06-29 13:25] btsteve opened #443 "Improve annotation parsing error messages"
When i try and setup my ingress controller i am getting this error:

'Warning' reason: 'ERROR' Error parsing annotations: Necessary annotations missing. Must include alb.ingress.kubernetes.io/scheme (cache hit)

This is my ingress definition:

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "travis-demo-ingress"
  namespace: "travis-demo"
  annotations:
    kubernetes.io/ingress.cla

[2018-06-29 16:33] rifelpet commented on #439
I believe the SDK can dynamically detect which services are supported in each region:

https://aws.amazon.com/blogs/developer/using-the-aws-sdk-for-gos-regions-and-endpoints-metadata/

We could probably use that, disable WAF logic if its not supported in the current region, and log errors if an ingress uses a WAF annotation

[2018-06-29 16:43] bigkraig commented on #439
Nice find, if we can use that API that would be best.

re: flags, I don't think we can switch since the usptream ingress library is using pflag.  You are welcome to try it out, i'm not attached to the current flag implementation.

[2018-07-02 08:54] Labbs commented on #443
Hello,

Same issue, and eks too.
alb-controller : latest version (sha256:c7c6e8af9ede053078b07abc5c006114cbd296a467b8266033665e9ac557984d)
On anothers clusters (1.8.4/1.9.2) and with latest version of alb-controller, i don't have this problem.

[2018-07-02 11:34] Labbs commented on #443
My problem is related to alb.ingress.kubernetes.io/successCodes and alb.ingress.kubernetes.io/connection-idle-timeout.

The numbers must be between quotes.

No issue for me.

[2018-07-02 13:40] o0st opened #445 "Documentation lacks required route53 iam rights"
I found it hard to determinate minimal set of route53 rights which controller requires.
It would be nice to have theme somewhere in the [example iam policy](https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/examples/iam-policy.json) or as separate one.

[2018-07-02 14:45] BrianChristie commented on #253
Another voice agreeing; the correct thing to do here is use `kubernetes.io/cluster/$CLUSTER_NAME=owned`. This is consistent with the Kubernetes conventions, as well as Kops. https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/tags.go#L30

Does anyone have input on making this change prior to starting a PR?

[2018-07-02 14:53] BrianChristie commented on #253
To follow up on the comment from @jhohertz, is there a compelling reason to use `kubernetes.io/role/alb-ingress` instead of the preexisting label `kubernetes.io/role/internal-elb`?

According to [AWS documentation](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/introduction.html), an ALB is a subtype of ELB. Therefore, I believe we should continue using the internal-elb label

[2018-07-05 04:49] omegang610 commented on #284
tested 1.0-beta.2, not working. and 1.0-beta.2 will not get the cluster name to create alb. i will randomly set a prefix for the alb.

[2018-07-05 16:38] brianbakeratx opened #446 "EKS worker nodes failing to register as ALB target nodes"
I have created an EKS cluster and added worker nodes using [these instructions](https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html) and the referenced CloudFormation template.

The alb-ingress-controller is logging an error event when attempting to register the worker nodes:

I0705 16:08:55.229718       1 session.go:35] [ALB-INGRESS] [session] [INFO]: Request: ec2/DescribeInstanc

[2018-07-06 15:20] auswells commented on #446
Also running into this same issue with EKS

[2018-07-07 20:59] bigkraig commented on #445
The controller doesn't manage route53, the [external-dns controller](https://github.com/kubernetes-incubator/external-dns) is the recommended method to manage DNS.

[2018-07-07 20:59] #445 closed

[2018-07-09 18:04] jessfraz opened #447 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-07-09 20:13] bigkraig commented on #443
I'm going to change this to a feature request, that error message should be much more specific about the problem its having.

[2018-07-09 22:21] Labbs commented on #443
Thank you, it will prevent others from having the same problem with a more specific error message.

[2018-07-10 12:16] o0st commented on #445
Why then the controller performs create/update/delete route53 requests (I'm on `alb-ingress-controller-helm-0.0.10`)?

[2018-07-10 13:40] argeualcantara commented on #253
Hi I've managed to create a method that discovers subnets based on the annotations
 `kubernetes.io/cluster/<cluster-name>=shared` and `kubernetes.io/role/alb-ingress=''` also to sort them based on the `scheme` `internal` gets private subnets and `internet-facing` gets public subnets.

I'm gonna fix somethings up, but hopefully I'll be able to make a PR soon

[2018-07-10 22:01] mariomerco commented on #417
Hello, thank you, @ehbello! I was experiencing the same issue and just had to add the wildcard to it.

[2018-07-10 23:49] whithajess commented on #253
@argeualcantara `kubernetes.io/cluster/<cluster-name>=owned` is going to be the most common use-case

[2018-07-11 01:08] #417 closed

[2018-07-11 01:11] bigkraig commented on #446
I think this is a duplicate of #343. I'm working on support for this in #449 if you would like to test that out and see if it resolves your issues. There is some more work to do in there because as it is, you can not change the annotation from `instance` to `pod` or back without removing/creating the entire ingress.

[2018-07-11 05:46] ishaannarang opened #450 "Ingress with routes always falls back to default rule."
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress
  namespace: default
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/subnets: subnet-1, subnet-2
    alb.ingress.kubernetes.io/security-groups: sg-1
    alb.ingress.kubernetes.io/tags: Environment=dev,Team=test
spec:
  rules:
  - host: abc.net
      http:
        paths:
      -

[2018-07-11 12:05] argeualcantara commented on #253
@whithajess Ok, is there any difference (configuration, security groups, etc..) for the ALB ingress if the tag `kubernetes.io/cluster/<cluster-name>` has the `shared` or `owned` values?

[2018-07-11 20:41] #446 closed

[2018-07-11 20:42] bigkraig commented on #303
After looking closer this isn't possible, the default backend needs to be a target group which can only have ip:ports, and not specific URLs

[2018-07-11 20:42] #303 closed

[2018-07-11 20:43] #308 closed

[2018-07-12 21:56] bigkraig commented on #253
I'm leaning towards using the same tags as the aws cloud provider, see https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L87-L93

[2018-07-12 22:54] rifelpet opened #454 "Panic during ALB deletion"
I'm running 1.0-beta3 and received the following panic when I deleted an ingress resource:

[code]

There are other ingress resources with identical backends (`serviceName` and `servicePort`), so it may have something to do with shared target groups across ALBs.

I can provide additional info if necessary.

[2018-07-12 23:07] bigkraig commented on #454
@rifelpet I came across this earlier and have it fixed in master, but I haven't cut a new release yet. The image id is `9fa0225`

[2018-07-12 23:14] rifelpet commented on #454
@bigkraig looks like that fixed the issue. thanks!

[2018-07-12 23:14] #454 closed

[2018-07-12 23:41] whithajess commented on #253
@bigkraig I think the point of ___auto-detection___ should be that it picks up defaults, if I have to set specific tags on my instances to do it then it defeats the purpose (as it exists in its current state I just set them manually rather then tagging) If it was implemented as suggested with elb tags I would still manually set it (very little difference to me tagging the instances manually and no

[2018-07-12 23:54] bigkraig commented on #253
@whithajess I am not sure I understand, if I go with the tags defined in that link, you would need to have 2 tags on your subnets which appear to be pretty standard.

All subnets:
`kubernetes.io/cluster/<cluster name>` = `shared`

Subnets for internal ALBs:
`kubernetes.io/role/internal-elb` = ``

Subnets for external ALBs:
`kubernetes.io/role/elb` = ``

[2018-07-13 00:13] bigkraig commented on #253
@whithajess got it, so you are suggesting only require that tag? how should we know if its an internal or external subnet?

[2018-07-13 00:18] whithajess commented on #253
@bigkraig Yeah sorry you are right, I can't think of a way you could tell without setting that and I actually just checked my cluster and it does have `kubernetes.io/role/elb` = `1` not sure how I missed that the first time 👍 on your tag suggestions.

[2018-07-13 01:16] bigkraig commented on #253
Have a look at #455

[2018-07-13 19:24] wspi opened #456 "Support for backends on multiple namespaces"
Hello,

I have a service running on namespace A and other isolated service running on namespace B, but they share the same domain, so I'd like to set them as backends of the same ALB, something like this

[code]

Thanks

[2018-07-13 21:00] rifelpet opened #457 "Slow performance with large number of load balancers"
We have over 600 load balancers in the region. Currently the controller takes about 8 minutes to start up:

[code]

Additionally the /healthz endpoint is timing out for any reasonable timeout period which causes the liveness and readiness probes to fail. I can increase their timeouts but that seems counterproductive.

[code]

The [Status function's page size is one](https://github.com/kubernetes-s

[2018-07-13 21:06] bigkraig commented on #457
I'm open to trying it out. At Ticketmaster our nonprod environment takes a similar amount of time, around 7-8 minutes. There are still a few places where could add some more caching but ultimately there is a LOT of API calls that need to be made to build up the state.

Another possibility is to start to use IPs instead of instances in TargetGroups. AWS has a lot of requirements about the current s

[2018-07-13 23:07] rifelpet commented on #457
I have a WIP [here](https://github.com/rifelpet/aws-alb-ingress-controller/tree/perf_improvements) but for some reason it appears that `resourcegroupstaggingapi.GetResources` is returning ALB ARNs that don't exist... For me its returning two nearly identical ALB ARNs but with different [load-balancer-ids](https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-elb-app

[2018-07-13 23:09] cjbottaro opened #458 "Confusion about NodePort and target-type"
Hello.

It seems like services _must_ be of type `NodePort`, is that correct?

I can't tell from looking at the examples when one can use `alb.ingress.kubernetes.io/target-type: pod`. One uses the annotation and one does not, but services and deployments look similar.

Thanks!

[2018-07-14 14:32] lamliki commented on #360
This feature would be so helpful, we manage our ALBs and Security Groups separately and this would help us just plug in the services directly into the existing ALBs.
@bigkraig thanks for the work ! If we can help in any way please do not hesitate.

[2018-07-14 18:53] cjbottaro commented on #446
Hi @bigkraig, this seems to be an issue for me still using `quay.io/coreos/alb-ingress-controller:1.0-beta.3`.

I had a 2 node cluster, created an ingress, and the alb ingress controller correctly made target groups with the two instances.

Then I added a 3rd node to the cluster and the ingress controller did not add the instance to the target group.

Nothing in the logs except:
[code]

Forgot to

[2018-07-14 19:00] cjbottaro commented on #458
Looks like services do need to be `NodePort`.

And `target-type: pod` seems to work for me. ¯\\\_(ツ)_/¯

[2018-07-14 19:00] #458 closed

[2018-07-14 21:46] bigkraig commented on #458
The `NodePort` requirement is for `target-type: instance`.  It's not really required for `pod`, I just need to make the adjustments.

[2018-07-14 21:48] bigkraig commented on #446
With the `target-type: pod`  annotation it should only add the pods to the TG, so adding/removing nodes shouldn't change things, only adding/removing pods. LMK!

[2018-07-15 05:30] cjbottaro commented on #446
My service only has 1 pod running, but there are are two EC2 instances in my target group.

[code]

But then my target group has two instances, despite only 1 pod running, and 3 nodes in the cluster:
http://storage.stochasticbytes.com.s3.amazonaws.com/k4nag8pD.png

I'm confused.

[2018-07-15 16:18] cjbottaro commented on #458
Adjustments in the documentation/examples or code? I just tried `ClusterIP` with `target-type: pod` and got this:

[code]

Using `beta3`.

[2018-07-16 02:29] chrisckchang commented on #450
i'm also seeing the same behavior - only the service for the default path is working.

[2018-07-16 08:58] deepakpanda1 opened #459 "CrashLoopBackOff issue"
kubectl describe pod/alb-ingress-controller-665468b9b5-kn6m5  -n kube-system
Name:           alb-ingress-controller-665468b9b5-kn6m5
Namespace:      kube-system
Node:           ip-10-0-2-66.ec2.internal/10.0.2.66
Start Time:     Mon, 16 Jul 2018 14:25:46 +0530
Labels:         app=alb-ingress-controller
                pod-template-hash=2210246561
Annotations:    <none>
Status:         Running
IP:

[2018-07-16 17:12] bigkraig commented on #446
If you are using pod targets you would see IPs rather than instance IDs in your screenshot. I fixed a bug after the beta.3 image that allows you to switch back and forth between the types, so either upgrade to the latest image `e8035f4 ` or delete/recreate the ingress.

[2018-07-16 17:50] bigkraig commented on #458
In the code

[2018-07-16 22:09] whithajess commented on #253
Should be able to close this now @bigkraig? or want me to verify with a new release?

[2018-07-16 23:01] bigkraig commented on #253
@whithajess I just cut 1.0-beta.4, it'll be building for a while but we can close this one 👍

[2018-07-16 23:01] #253 closed

[2018-07-16 23:05] bigkraig commented on #375
closer to the 1.0 release. the `1.0-beta.4` image supports the standard Kubernetes ELB tagging conventions for discovery, supports the AWS CNI which adds pods directly to the TG, and fixes some healthcheck problems people were experiencing.

[2018-07-16 23:57] whithajess commented on #298
Im tempted to say that this is not a general Kubernetes ingress issue.

Existing load balancers supported by Kubernetes are Layer 4 - And are supported by Ingress Controllers that do the Layer 7 (This means they can use 1 load balancer and then deal with layer 7 when it gets into the cluster)

ALB is Layer 7 and is dealing with it before it gets to Kubernetes, so we cannot assume they are going to

[2018-07-17 00:46] cjbottaro opened #463 "Service type NodePort required even when using target-type: pod annotation"
Here's my ingress manifest:
[code]

And here are the ingress controller's logs:
[code]

Thanks for the help!

[2018-07-17 15:24] bobthebuilderberlin opened #464 "Error parsing annotations: ACM certificate ARN does not exist. ARN: ..."
Hi,

I am having trouble debugging an issue:
Following this tutorial https://github.com/pahud/eks-alb-ingress, I created an Ingress as follows:
[code]
Then, output of `kubectl describe ing webapp-alb-ingress`:
[code]

I verified multiple times that the certificate actually exists. Also, I can ssh into a node instance and execute `aws acm describe-certificate --certificate-arn arn:aws:acm:us-east-1

[2018-07-17 20:23] kjenney opened #465 "EKS External IP/Address Not Defined for Echoserver Example"
I followed these steps to create the echoserver ingress:

[code]

[code]

My ingress doesn't have a public IP/address.

[2018-07-17 22:02] bigkraig commented on #465
What do you see when you describe the ingress and what is in the controller logs?

[2018-07-18 02:36] #463 closed

[2018-07-18 02:37] bigkraig opened #467 "Managed security groups do not work with target-type: pod"

[2018-07-18 15:33] bigkraig commented on #459
Can you get the pod log? Add a `-p` to get the crashed pods log.

[2018-07-18 15:36] bigkraig commented on #359
Check the examples for the RBAC and how to assign the service account to the deployment. I've tested this against EKS and it works

[2018-07-18 17:25] cjbottaro opened #469 "target-type:pod not working"
Hello again!

[code]

I'm surprised that only one target group is being made:
http://storage.stochasticbytes.com.s3.amazonaws.com/8wk4YEs0.png

I would have guessed that a target group for each service would have been made.

I have pods from two different services:
[code]

But both of those IP's (`10.3.20.124` and `10.3.20.65`) show up in the target group's targets. And they are both either unheal

[2018-07-19 08:18] zijadmop commented on #450
Have the same issue, but with host based routing. As soon as I remove the path part from ALB using AWS console, everything works properly.

[2018-07-19 14:23] sstarcher commented on #362
Any chance this could happen before 1.0?

[2018-07-19 16:58] rifelpet commented on #362
I can open a kubernetes/charts PR, I'm just not sure if there are any legal considerations that need to be taken with copying the alb-ingress-controller-helm directory over. It'll also require updates to the release process which would have to be addressed by this repo's owners.

[2018-07-19 19:22] kevinsookocheff-wf commented on #450
I'm observing the same issue. The second path is never routed to. I tried `/svc2`, `/svc2/`, `/svc2/*` to no effect.

[2018-07-19 19:48] kevinsookocheff-wf commented on #450
I'm actually curious if anyone has gotten path-based routing to work at all? With the configuration below for a single backend I can access the service using the provisioned load balancers DNS, but receive a 404 for the load balancer `DNS/echoserver`

[code]

To reproduce, first deploy the echoserver, then:

[code]

You can then access the echoserver at the Load Balancers DNS `x`, but `x`/echoserv

[2018-07-20 06:49] dhawani opened #471 "Support for default target type"
In EKS, target-type = instance doesn't work. We need to add target-type=pod annotation in all ingress controller. Instead, can we add an ability to specify default target-type at controller configuration instead ?

This is a follow-up request on #343

[2018-07-20 06:55] dhawani commented on #467
+1
Infant if we manually add the ingress group created to instances and the pod restarts, it fails to start up the pod with following errors:

`I0720 06:52:10.292915       1 session.go:35] [ALB-INGRESS] [session] [INFO]: Request: ec2/DescribeSecurityGroups, Payload: {  Filters: [{      Name: "ip-permission.group-id",      Values: ["sg-*****"]    }]}
I0720 06:52:10.329699       1 albingresses.go:18

[2018-07-20 08:17] dhawani opened #472 "Named port doesn't work"
I am running ALB Ingress Controller 1.0-beta.4 on EKS.

While installing keycloak with ingress, i get following error in controller pod:
`I0720 07:19:30.097492       1 event.go:218] Event(v1.ObjectReference{Kind:"Ingress", Namespace:"default", Name:"keycloak", UID:"d0f591c7-8bec-11e8-b0fe-0e613369a9ca", APIVersion:"extensions", ResourceVersion:"2301136", FieldPath:""}): type: 'Warning' reason: 'ER

[2018-07-20 12:51] kostyanring commented on #464
Redeploy alb-ingress-controller with awsRegion:
helm registry install quay.io/coreos/alb-ingress-controller-helm --name=alb-ingress-controller --set awsRegion=us-east-1

[2018-07-20 15:23] kevinsookocheff-wf commented on #450
@ishaannarang The list of paths are additive. The first path that is found in your list that matches will be used for your route. If you change the order of paths it will work.

[2018-07-20 15:41] bigkraig commented on #343
Tracking this bug too #467

[2018-07-20 15:42] bigkraig commented on #471
Makes sense to me. I am currently working on an upgrade and import of the upstream ingress library into this codebase and I can get on this after that.

[2018-07-20 16:23] rifelpet commented on #457
According to AWS Support this behavior is a bug and they don't have an ETA on a fix, so I'm going to hold off on opening a PR and accept the current performance.

[2018-07-20 16:33] bigkraig commented on #457
Oh nice they consider it a bug, I just assumed it was some kind of eventual consistency on tags that we would have to live with.

[2018-07-20 19:33] stvdilln opened #473 "Documentation help with Service Annotations"
We have a ingress controller with a few rules.  We have a Jenkins server that returns an error on url "/" so we are trying to get the health check to that service to "/robots.txt".  The Documentation says that you can override ingress settings via annotations in the service.  I do not think I have the annotations in the correct place, as they have no effect on the target group.  I've even put very

[2018-07-20 20:39] bigkraig commented on #457
I've been working on a branch that rebases against the upstream ingress library and forks it so we will have a stable base.

On that branch I've managed to cut the time down in half: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/commit/ae69b2a20898cd338802bd5844893d8785e85d59

[2018-07-20 21:41] guineveresaenger opened #474 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-21 05:41] dhawani opened #475 "Target pod gets deregistered automatically"
Version: 1.0-beta.4
I have setup https://github.com/kubernetes/charts/tree/master/stable/keycloak with following values
`
keycloak:
  service:
    type: NodePort
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: alb
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:us-east-1:****:certificate/****

[2018-07-23 14:32] zioalex commented on #395
So just to recap my experience. The VPC should be ready for IPv6 support otherwise all this will not work.

The annotation:
```alb.ingress.kubernetes.io/ip-address-type: dualstack```
Is not working and also not throwing out any error.

The DNS AAAA records will be part of https://github.com/kubernetes-incubator/external-dns/pull/576

Requirements:
* IPv6 VPC

[2018-07-23 16:34] blandman commented on #475
I am experiencing similar behavior. I have to continually delete the alb controller to keep services from 503'ing, the target group pod pointer becomes empty upon pod redeployment. Trying to experiment with liveliness probe on alb controller, but is difficult to automate since my controller has several ingresses.

[2018-07-23 16:37] bigkraig commented on #475
Hey guys, the deregistered targets was fixed in https://github.com/kubernetes-sigs/aws-alb-ingress-controller/pull/461/files but I haven't made a new beta yet. I've been focused on forking the upstream ingress code into this repo which is a significant amount of backend work and is taking up most of my time.

[2018-07-23 17:44] blandman commented on #475
Thank you for the hard work on this, it surely makes the CI deployment process a breeze.

[2018-07-24 12:30] FloatingGhost commented on #281
I've run into a similar issue - the ALB is allocated correctly and routes set up, but the `/healthz` endpoint never comes up and so the pod gets endlessly restarted. I'll hack around it for now by just adding a stupidly long timeout.

Looking at the AWS debug logs, it's trying to call `waf-regional/GetWebACLForResource` - the endpoint doesn't exist in the region I'm running in (`eu-west-2`) - migh

[2018-07-24 16:22] bigkraig commented on #469
This was fixed after the 1.0-beta.4 tag was cut, i'll have another tag after #476 is merged or you can try out that branch if this is an immediate issue.

[2018-07-24 16:23] bigkraig commented on #457
Improved in #476

[2018-07-24 16:58] rifelpet commented on #457
[code]

Wow, from over 8 minutes to assemble the ingresses down to less than a second. Nice work! Theres a lot of files changed in #476, can you attribute this change to a specific commit? Just curious. Once another tag is cut I'll roll it out to our remaining clusters.

[2018-07-24 16:59] bigkraig commented on #457
whoa there is something wrong there! what is your cluster tag situation? it only found 2 ALBs?

[2018-07-24 17:00] bigkraig commented on #457
https://github.com/kubernetes-sigs/aws-alb-ingress-controller/pull/476/commits/ae69b2a20898cd338802bd5844893d8785e85d59 sped it up but only to about 50% of the original time, yours should be in the ~4m range once we figure out why its not finding the rest of your ALBs

[2018-07-24 17:16] rifelpet commented on #457
Oh, perhaps the initial description wasn't accurate enough. We only have two ingress resources for the cluster, but 600 unrelated ELBs in the region. Both log outputs in the initial issue description and in my latest update indicate the controller correctly assembled the two ingresses.

Given that the 600 ELBs are not managed by the ALB controller, does the startup time I'm seeing sound reasonable

[2018-07-24 18:04] bigkraig commented on #457
yep. it should only fetch the load balancers for the ALBs managed by the controller. I'm surprised it wasn't doing that already

[2018-07-24 18:07] rifelpet commented on #457
Really? Because ClusterLoadBalancers is needing to describe all LBs in the region which makes me wonder why it is occurring so much faster in this branch even though that logic didn't change.

https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/repackage-ingress/internal/aws/albelbv2/elbv2.go#L318-L323

[2018-07-24 18:21] bigkraig commented on #457
@rifelpet yeah that will pull back all of the load balancers which is a pretty fast query, its fetching the target groups, listeners, and rules that take a long time. I'm not sure why we don't filter on tags in that query though, maybe its not an option.

[2018-07-24 18:34] rifelpet commented on #457
Yea its not an option, thats what I thought we could benefit from by iterating over the ARNs from GetResources but the bug prevents that from being effective.

Well I'm glad the other improvements had a drastic improvement to my startup time. /healthz response time is back to normal as well.

[2018-07-24 20:16] james-ingold opened #480 "Kubectl Logs Walkthrough Issue"
I'm following the walkthrough.md, on step 5 to verify if deployment was successful and the controller started. I get an error running the command to check the logs

kubectl logs -n kube-system \
    $(kubectl get po -n kube-system | \
    egrep -o alb-ingress[a-zA-Z0-9-]+) | \
    egrep -o '\[ALB-INGRESS.*$'

error: expected 'logs (POD | TYPE/NAME) [CONTAINER_NAME]'.
POD or TYPE/NAME is a required

[2018-07-25 00:05] #327 closed

[2018-07-25 00:06] #274 closed

[2018-07-25 09:48] bzon commented on #457
This issue is happening to me as well. I have a fresh kubernetes cluster provisioned with __kops__ with no ALBs. I'm using kube2iam to annotate the pod to assume the right IAM role.

I set the `LOG_LEVEL` to DEBUG and here is the logs.. It's been running for 10 minutes now.

[code]

[2018-07-25 18:40] guineveresaenger commented on #474
/assign

[2018-07-25 18:52] bigkraig commented on #473
@stvdilln which version of the controller are you using? that looks like the correct annotation

[2018-07-25 19:04] bigkraig opened #482 "Use RGT cache instead of DescribeSGTags"

[2018-07-25 19:08] bigkraig commented on #464
@bobthebuilderberlin did setting the region fix your issue? FWIW I have removed the describe in later versions of the controller and therefor the errors should become more descriptive.

[2018-07-25 19:17] bigkraig commented on #467
I think the managed security group code needs to be refactored as a part of this, its spread out all over the place.

[2018-07-25 23:57] guineveresaenger commented on #474
/sig contributor-experience

[2018-07-26 02:14] danopia opened #487 "Feature req: HTTP -> HTTPS redirects (via newly added ALB feature)"
Right now, in order to redirect users to HTTPS, the application's backend had to serve the redirects since until now ALBs didn't support modifying requests. For comparison, the nginx ingress controller supports HTTP->HTTPS redirects from an annotation because nginx itself will happily redirect.

Today a new ALB feature was launched which lets the ALB itself redirect traffic. This could be used for

[2018-07-26 06:00] tatobi opened #488 "invalid memory address or nil pointer dereference"
[code]
Ingresses:
-------------------
[code]
-----------------------
[code]

[2018-07-26 06:19] tatobi commented on #488
The problem solved by using quotation around seconds, BUT it shouldn't crash and go loop into CrashLoop by using integers in place of seconds, which are basically not strings, numbers, integers (logically)...
the working configuration:
[code]

[2018-07-26 16:06] smitb opened #490 "WebACL get's disassociated right after association"
Hi,

Evaluating the aws-alb-ingress-controller. Great work! Using beta4 an associated webacl gets disassociated right after associating:

I0726 16:00:59.013823       1 loadbalancer.go:751] [ALB-INGRESS] [test/website] [DEBUG]: WAF needs to be changed: (<invalid value> != "9006a537-1905-416d-a098-7a35bfc7bdfb")
I0726 16:00:59.013939       1 loadbalancer.go:573] [ALB-INGRESS] [test/website] [INFO]:

[2018-07-26 17:17] stvdilln commented on #473
@bigkraig Sheepishly I say 1.0-Alpha 3.  I was following example by pahud, and one of his yaml files was out of date when I deployed.  He's updated his demo instructions and I updated my controller to latest release.  I nuked the alb and let it rebuild, everything is working as expected.
I don't know if the docs could use updating, If I had correct software it would have worked fine.  Probably jus

[2018-07-26 18:11] #474 closed

[2018-07-26 18:15] bigkraig commented on #473
NP there has been a lot of work on the software and the docs lately so depending on the time of day anything is possible. We are very near a stable 1.0 release now though!

[2018-07-26 18:15] #473 closed

[2018-07-26 18:53] bigkraig commented on #471
@dhawani LMK how #492 looks to you

[2018-07-26 19:18] akshayks opened #493 "ALB Ingress image tag 1.0-beta5 is not available"
When I tried installing the latest version of the helm chart for the ALB Ingress controller, pod creation fails with `ErrImagePull`. Here is the output of `kubectl describe` on the pod:
[code]
It appears there is no image with the tag `1.0-beta.5`. I have worked around this issue for the time being by overriding the image tag to `latest` in a custom values.yaml. Am I doing something strange or was

[2018-07-26 19:32] rifelpet commented on #457
@bigkraig I spoke to soon. I'm using the latest master branch and its still taking around the same amount of time to start up.

[code]

Additionally, The /healthz endpoint is continuing to return a 500 even after the controller has fully started up. I extended the liveness probe's initial delay to 10m but it was still terminated due to the failing health check.

[code]

[2018-07-26 20:14] cjbottaro commented on #469
Still not working using latest (3e303f7)...
[code]

[2018-07-26 20:38] bigkraig commented on #457
@rifelpet can you run it with `--aws-api-debug` turn on? curious what kind of API calls its making. It's also taking nearly a full minute for it to build the list of existing ALBs, which should happen pretty quickly. Any chance there is network latency?

[2018-07-26 20:43] bigkraig commented on #488
The annotations parsing has been replaced and now leverages some of the k8s native int or string types for this, so it should be handled more gracefully now.

I'm not able to test it out though, using kubectl edit I get errors when setting integers in my annotations?

[code]

[2018-07-26 21:22] rifelpet commented on #457
@bigkraig heres the logs with `--aws-api-debug`:

[code]
I didn't pay attention to when the health check started returning successfully but I can try it again and pin point where in the logs it does if you want.

It looks like it spends 3 minutes listing ACM certs (I forgot to mention we have hundreds of those as well) and 2 minutes describing load balancers. The 90 seconds of ec2/DescribeTags on

[2018-07-26 22:17] bigkraig commented on #475
@dhawani Can you check against the latest master build? A lot of the code has changed behind the scenes and it now includes the default target type parameter. Named ports are still not supported but i'd like to know how the rest of it is working for you.

[2018-07-26 23:07] bigkraig commented on #464
You may also want to check your IAM policies, this was submitted earlier #491

[2018-07-27 00:18] whithajess commented on #487
Please someone do this 🎉

[2018-07-27 05:13] stafot commented on #464
@bobthebuilderberlin Sorry, I didn't see this open issue earlier to mention it on my PR. Yes, we had exactly  the same problem. My colleague @tomfotherby suggested to try the change I committed in PR mentioned above and the problem fixed.

[2018-07-27 06:46] smitb commented on #490
I can confirm that this is working now, thanks @bigkraig!

Bas

[2018-07-27 10:54] bzon commented on #493
Getting the same issue.

[2018-07-27 14:56] blandman commented on #475
tag :fix-pod-target-az has helped out in my case, when I tried latest yesterday the `alb.ingress.kubernetes.io/backend-protocol: HTTPS` annotation was not functional.

[2018-07-27 16:15] #464 closed

[2018-07-27 16:18] tomfotherby opened #495 "Feature req: Support multiple SSL certificate ARNs"
Since Oct/17 Application Load Balancers support Server Name Indicator (SNI) that enables use of multiple SSL certificates on the same IP and port:  https://aws.amazon.com/about-aws/whats-new/2017/10/elastic-load-balancing-application-load-balancers-now-support-multiple-ssl-certificates-and-smart-certificate-selection-using-server-name-indication-sni/

For example: current annotations:

[code]

Wou

[2018-07-27 17:45] bigkraig commented on #475
@blandman do you mind opening a separate issue for the backend-protocol issue?

[2018-07-27 17:45] #471 closed

[2018-07-27 18:15] blandman commented on #475
Sure thing!

[2018-07-27 18:37] argeualcantara opened #496 "Session Affinity support"
Hi, I'd like to know how is the session affinity support in the ALB ingress controller, we have some annotations for the nginx ingress controller to make session affinity work:
[code]
Are they supported by the ALB Ingress controller? Are they on the roadmap?
Thanks

[2018-07-27 18:43] bigkraig commented on #496
You can set up attributes using annotations. Check out https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html. I don't think that you can customize the cookie.

[2018-07-27 19:59] bigkraig commented on #443
This is improved in master now, the next beta release will include it.

[2018-07-27 19:59] #443 closed

[2018-07-27 20:08] bigkraig commented on #457
The most interesting stuff is this at the beginning, at that point there is very little API requests going through but still we see a lot of latency.

[code]

Any chance you got an older version of the controller running in the same account? The API RPS all comes from the same bucket, so it could be that other services are consuming some chunk of API capacity and this is just the controller being

[2018-07-27 21:40] #488 closed

[2018-07-27 21:46] #469 closed

[2018-07-28 04:11] dhawani commented on #475
Controller Tag Used: a6565ea
I am getting following errors:
`E0728 04:04:37.465837       1 albingress.go:297] keycloak/keycloak:  - Failed TargetGroup creation: InvalidParameter: 1 validation error(s) found.
E0728 04:04:37.465843       1 albingress.go:297] keycloak/keycloak: - minimum field value of 1, CreateTargetGroupInput.Port.
E0728 04:04:37.465845       1 albingress.go:297] keycloak/keycloak:

[2018-07-28 18:45] spacez320 commented on #446
I'm encountering the problem referenced in the issue opener, using `1.0-beta.4` on EKS.

Upon registering the ingress:

[code]

We're using the `instance` target-type annotation. Changing to `pod` didn't seem to help the situation and presented another error that I'd be happy to share, but I don't think pods in the target group is ultimately what we want, anyway.

Happy to open a new issue.

[2018-07-29 15:12] spacez320 commented on #298
We can already generally do this by having a singular ingress resource, although it makes whatever deployment scheme you're using for Kubernetes have to adjust to that. It's also worth pointing out that in Kubernetes Ingress documentation, it literally states:

I think it would be really nice to have the ability to do this in a nice way.

[2018-07-30 09:55] redduck3 opened #499 "Inconsistency in the Walk-through."
I followed the tutorial and met the following error.
[code]
Accidentally, I found out the latest commit message of the master branch was 'further removal of the default backend'(393cb0151a23c6129545e9b4ad2c7185a6e93c3b). So I modified the file `alb-ingress-controller.yaml`, updating image to `quay.io/coreos/alb-ingress-controller:latest`. The issue was resolved in this method but there is still so

[2018-07-30 11:15] anhpham1509 opened #500 "Ingress Nginx Warning logs"
I notified this line when checking the logs of the pod running ingress controller:
[code]
I took a look through and found out that might be related to ingress-nginx stuff.

Though it's warning logs, please clarifies this problem.

<img width="1630" alt="screen shot 2018-07-30 at 14 11 59" src="https://user-images.githubusercontent.com/9955754/43394297-e67f1932-9402-11e8-8421-65bff4c5961c.png">

[2018-07-30 16:22] blandman opened #501 "Latest alb controller image does not forward to https service"
Using the annotation `alb.ingress.kubernetes.io/backend-protocol: HTTPS`, the server responds with the following https error:
[code]

Previous builds accepted this annotation correctly and forwarded the alb to the correct port. Inspecting Target Groups, no target has been assigned.

The alb controller has this error in logs
[code]

The oldest working image is 3dab68a, 1173989 is where the issue be

[2018-07-30 16:55] lareeth opened #502 "Kubernetes 1.11 has deprecated ExternalID"
As per Kubernetes 1.11 release notes

You can also see the pull request for it being removed here: https://github.com/kubernetes/kubernetes/pull/61877

When running the ALB Controller in a Kubernetes 1.11 cluster, you get the following message

[code]

[2018-07-30 23:38] pahud opened #504 "missing --default-backend-service"
Looks like this flag has been removed - https://github.com/kubernetes-sigs/aws-alb-ingress-controller/commit/393cb0151a23c6129545e9b4ad2c7185a6e93c3b

However, the ingress-controller will keep `CrashLoopBackOff` with this missing flag error.

[code]

[2018-07-31 01:15] iggy commented on #493
https://github.com/kubernetes-sigs/aws-alb-ingress-controller/commit/5151369009a630d3e024c8b1a501a7b0d952be97#diff-773533eaa031e17f129a8bc8ea77243fR20

Merged in #476

Looks like something snuck in during a big merge

[2018-07-31 03:44] cw-sakamoto opened #506 "Rule in ALB for default-backend is not created"
alb ingress version: 1.0-beta.4

I created an ingress resource with alb-ingress-controller, the rule for default-backend is not created and the nodeport set for the first ingress resource is set to last of ALB rule.

ALB rule by created alb-ingress-controller in management console.
The rule for "/echo" and last is set to same target group.
<img width="1304" alt="issue_pic1" src="https://user-image

[2018-07-31 03:52] rafaelmagu opened #507 "Panic while running on EKS"
Am trying to deploy a simple Nginx example with external-dns:
[code]
But the controller is crashing:
[code]

I have a security group specifically created for ALBs using Terraform, with a `Name` tag of `eks-staging-lbs`. The EKS workers' security group is configured to accept all traffic from this ALB security group.

Is this a documented bug already or is this new?

[2018-07-31 04:03] rafaelmagu commented on #507
If I don't specify a security group to attach to the ALB, the controller correctly provisions one. However, it does not add the rule to accept traffic from it to the worker's own security group, instead opting to create its own instance security group. It then *does not* attach this newly-created instance security group to the workers. I'm confused as to why this instance security group is being c

[2018-07-31 10:19] rvaralda commented on #395
+1

[2018-07-31 12:26] ishaannarang commented on #450
it worked !!

[2018-07-31 18:55] bigkraig opened #509 "Reconcile doesn't validate SG configurations"
SG attachments and changes are done at creation but are not tracked and managed during the reconcile process.

[2018-07-31 19:57] #502 closed

[2018-07-31 21:32] #467 closed

[2018-07-31 22:12] Nightghos opened #511 "controller add targets that are not ready"

[2018-07-31 22:15] bigkraig commented on #506
This is a duplicate of #405

[2018-07-31 22:15] #506 closed

[2018-07-31 22:15] bigkraig commented on #504
That log is from a release prior to `393cb01`, the parameter will be removed in `1.0-beta.5` which I will be cutting shortly. Thanks!

[2018-07-31 22:15] #504 closed

[2018-07-31 22:16] bigkraig commented on #500
This is part of the upstream Kubernetes client

[2018-07-31 22:16] #500 closed

[2018-07-31 22:16] #496 closed

[2018-07-31 22:33] bigkraig commented on #501
I started to look into this and so far i'm not seeing what could be causing this problem, but the healthchecks were being made with the wrong backend protocol. You may want to look at `501-fix-backend-protocol` and see if that changes anything

[2018-07-31 22:34] bigkraig commented on #511
Resolved in #512

[2018-07-31 22:34] #511 closed

[2018-07-31 23:03] #501 closed

[2018-07-31 23:07] bigkraig commented on #493
Just pushed it up

[2018-07-31 23:07] #493 closed

[2018-07-31 23:08] bigkraig commented on #475
Can you have a look with `1.0-beta.5`? It's got the latest pod target-type work in there, including fixes for managed SG

[2018-07-31 23:10] #459 closed

[2018-07-31 23:10] #465 closed

[2018-08-01 05:29] ishaannarang commented on #507
facing siimilar situation

I0731 14:07:27.607339       1 main.go:24] [ALB-INGRESS] [controller] [INFO]: Log level read as "", defaulting to INFO. To change, set LOG_LEVEL environment variable to WARN, ERROR, or DEBUG.
I0731 14:07:27.607805       1 launch.go:112] &{ALB Ingress Controller 1.0-beta.4 git-385f5365 git://github.com/kubernetes-sigs/aws-alb-ingress-controller}
I0731 14:07:27.607833

[2018-08-01 08:11] bendg25 commented on #480
Same here, Kubernetes knows it exists (as if you try and create it again it complains), but it is not clear why it does not appear - or where to look to debug the issue.

[2018-08-01 09:58] kumudt opened #520 "AccessDeniedException: User is not authorized to access the web ACL"
Looks like there was some error in the IAM policy example. Whenever, I set a WebACL annotation on one of the ingresses, I get the following errors.
[code]
The issue is that policy doesn't have access to the waf-regional resources.

ALB Ingress Controller Version: on both v1.0-beta4 and v1.0-beta5.

Issue got resolved after making some changes to the policy. Will create a PR for the same.

[2018-08-01 10:19] anhpham1509 commented on #520
@kumudt  I think the example policy had it already:

https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/examples/iam-policy.json#L70

https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/examples/iam-policy.json#L81

[2018-08-01 10:43] kumudt commented on #520
@anhpham1509 It needs
[code]

[2018-08-01 10:44] kumudt commented on #520
These are invalid IAM Policy Rules
[code]

[2018-08-01 10:59] anhpham1509 commented on #487
@bigkraig Are you planning to have this in v1.0?

[2018-08-01 15:30] blandman commented on #501
Thank you, I can confirm 1.0-beta.5 no longer has this issue.

[2018-08-01 17:08] rifelpet commented on #457
You're right, our prod cluster was still running an older version of the controller. Upgrading them all and the startup time is now only a few seconds. Nice work 👍

[2018-08-01 17:08] #457 closed

[2018-08-01 17:39] cjbottaro commented on #469
Things are working well now `1.0-beta.5` (2894ebf0). Thank you very much for your work.

[2018-08-01 17:57] bigkraig commented on #487
How would you all like to see this implemented? The ingress spec is somewhat limiting.

[2018-08-01 18:07] disha94 commented on #487
Even I am looking for https redirection with alb-ingress.When are you guys planning to implement this feature??

[2018-08-01 18:14] bigkraig commented on #509
@argeualcantara I don't think so, what I was referring to in this issue was if someone removed the SG association manually, the controller would not detect this and re-add it.

You may want to upgrade to `1.0-beta.5` and see if your problem persists. Adding or removing the annotation to an existing ingress should be allowed.

[2018-08-01 18:15] bigkraig commented on #507
Can you guys try with `1.0-beta.5`? That release included a lot of work on supporting EKS

[2018-08-01 18:16] stevenpall commented on #487
@bigkraig I think it would make sense to have this as another ingress annotation?

[2018-08-01 18:42] bigkraig commented on #487
The [ingress backend spec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#ingressbackend-v1beta1-extensions) has `serviceName` and `servicePort`.

I'm pretty sure service names can't include a `:`, so what if we used that to configure the ALB rule actions?

Something like this

[code]

[2018-08-01 19:42] anhpham1509 commented on #487
I think it's better to have a boolean annotation and redirect all HTTP requests to HTTPS requests by a listener creation to AWS. What do you think @bigkraig ?

[2018-08-01 20:11] bdirito commented on #507
Tried 1.0-beta.5. It still fails. If i set define the ingress resource as:
[code]
Using a trailing comma seems to be a workarround for now

[2018-08-01 20:15] bigkraig commented on #507
Can you give me the stack trace? That shouldn’t be a big deal to track down and fix

[2018-08-01 20:16] bdirito commented on #507
[code]

[2018-08-01 20:39] bdirito opened #521 "example iam permissions does not contain all needed permissions"
Specifically it needs DescribeInstanceStatus
[code]

Related to but not the same permissions as discussed in #520

[2018-08-01 22:15] bigkraig commented on #521
This was fixed in #516

[2018-08-01 22:15] #521 closed

[2018-08-01 22:26] bigkraig commented on #507
Thanks for catching that, a fix is being built now

[2018-08-01 22:31] bigkraig commented on #487
The redirect action is much more powerful than that and rather than providing two methods that would conflict, i'd prefer to let users leverage all of the action options in the same method.

[2018-08-01 22:58] whithajess commented on #487
^ I would agree with @bigkraig it would be good to provide an easy example of the HTTP -> HTTPS config but lets not do two functionality sets, I think that implementation looks good @bigkraig.

[2018-08-01 23:05] bigkraig commented on #499
Resolved in #523, thanks!

[2018-08-01 23:05] #499 closed

[2018-08-02 01:35] lemonshow commented on #507
See crash as well.

1. For listen port it supports string only though document mentioned about format [{"HTTP": 80}].
What is the right format? I put 901 to pass below error,
error: error validating "abc-ingress.yaml": error validating data: ValidationError(Ingress.metadata.annotations.alb.ingress.kubernetes.io/listen-ports): invalid type for io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta.annotat

[2018-08-02 02:13] bigkraig commented on #507
@lemonshow Can you check if you still get that error on 1.0-beta.5? The annotation parsing has changed a lot between .4 and .5.

You are using the wrong format for listen-ports but the error should be handled better. If it still looks bad in the latest code, can you please open up an issue to track that error separately? Thanks!

[code]

[2018-08-02 04:23] lemonshow opened #525 "Ingress controller listen ports ValidationError"
Still see listen port error with beta.5,
        image: quay.io/coreos/alb-ingress-controller:1.0-beta.5

error: error validating "abc-ingress.yaml": error validating data: ValidationError(Ingress.metadata.annotations.alb.ingress.kubernetes.io/listen-ports): invalid type for io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta.annotations: got "array", expected "string"; if you choose to ignore these e

[2018-08-02 04:26] rafaelmagu commented on #507
@lemonshow should it not be wrapped in single quotes (like a normal YAML string)?
[code]

[2018-08-02 04:50] lemonshow opened #526 "Ingress controller crash with health check"
Below the new annotation I am trying,

alb.ingress.kubernetes.io/healthcheck-interval-seconds: 75
alb.ingress.kubernetes.io/healthcheck-path: /xyz/v1/ready
alb.ingress.kubernetes.io/healthcheck-port: 31822
alb.ingress.kubernetes.io/healthcheck-protocol: HTTP
alb.ingress.kubernetes.io/healthcheck-timeout-seconds: 10
alb.ingress.kubernetes.io/healthy-threshold-count: 1
alb.ingress.kubernetes.io/unhe

[2018-08-02 05:02] lemonshow opened #527 "With beta.5 subnet tagging validation errors"
I do have the subnet tagging for below,
kubernetes.io/cluster/$CLUSTER_NAME
kubernetes.io/role/elb

    alb.ingress.kubernetes.io/subnets: subnet-12345,subnet-54321

I works in beta.4, with beta.5 I saw below validation error,

E0802 04:53:14.434455       1 albingress.go:126] local/dev-ysuntestapp-ingress: error parsing annotations: Retrieval of subnets failed to resolve 2 qualified subnets. Subne

[2018-08-02 06:29] anhpham1509 commented on #487
I agree with you about the reusable methods. If you can provide examples then I think it totally works. Anw, I think it's still best to extend the method and utilise what AWS offers.

[2018-08-02 19:26] bigkraig commented on #526
Please update to `1.0-beta.5`

[2018-08-02 19:26] #526 closed

[2018-08-02 19:27] bigkraig commented on #525
The value of the annotation must be in quotes. Try putting it inside of ``'s

[2018-08-03 06:23] #525 closed, assigned to nobody

[2018-08-03 16:26] #507 closed

[2018-08-03 16:30] bigkraig commented on #298
@spacez320 I read that as that you can have an ingress with multiple services behind it, so a single load balancer for many services as opposed to a load balancer per service.

There is still the issue that the IngressBackend type does not have a way to reference a service in another namespace. I think until the ingress resource spec is changed, there isn't a correct way of implementing something

[2018-08-03 16:32] #281 closed

[2018-08-03 16:33] bigkraig commented on #343
Supported in `1.0-beta.5`

[2018-08-03 16:44] patrickf55places commented on #298
@bigkraig I don't think this issue should be closed. The issue isn't about having a single `Ingress` resource that can span multiple namespaces. It is about having multiple `Ingress` resources (possible across different namespaces, but not necessarily) that all use the same AWS application load balancer.

[2018-08-03 16:49] bigkraig commented on #298
@patrickf55places got it, within the namespace is possible with the spec but I am still unsure how we would organize the routes or resolve conflicts.

[2018-08-03 17:14] gabzim commented on #487
This is pretty big for us, what's the current workaround you've been using to enforce this?

[2018-08-03 17:28] gabzim commented on #194
Hey guys, if you're still interested in this you should follow https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/487

[2018-08-03 19:11] bigkraig commented on #472
You may want to look at #529

[2018-08-03 20:51] anhpham1509 commented on #487
At least I'm using https proxy (a nginx app with redirect feature).
However, if we can use AWS ALB feature, it's best.
I tried to create the listener manually but after that, it makes reconcile procedure error as SG has 1 more rule and ALB has 1 more listener.

How do you think if all the state of resources at AWS can be the super-set of what has been configured in the Ingress object?

[2018-08-03 21:02] bigkraig commented on #487
Using the `serviceName` field won't work, there is some validation that happens.

[code]

[2018-08-03 22:25] bendrucker commented on #527
Hey, did you end up solving this @lemonshow? I'm running into the same thing with just the tag discovery and no explicit annotation.

[2018-08-04 16:49] spacez320 commented on #298
@bigkraig Well, I think it's both, and I think that's what @patrickf55places meant by saying "possible across different namespaces, but not necessarily". We should be able to define an Ingress anywhere and share an Amazon load balancer, I think.

I understand if there's limitations in the spec, though. Should someone go out and try to raise this issue with the wider community? Is that possibly alr

[2018-08-04 16:51] spacez320 commented on #446
Following up -- this seemed to be fixed by setting up proper network policies between Kubernetes worker EC2 instances and the ALB. I don't have details as I wasn't the one that implemented the specific fix that worked for me, but besides being a misleading error, I don't think there's anything to do here.

[2018-08-04 20:25] cjbottaro commented on #446
I'm using `target-type: pod` and everything is working for me now (using one of the beta5 images, forgot which one). 👍

[2018-08-05 03:07] lemonshow commented on #527
I was hitting other permission issues with beta.5 so I closed this issue.

Actually I am hitting this again with beta.5 after I solved other issue. With below health-check interval,
    alb.ingress.kubernetes.io/healthcheck-interval-seconds: 75
The path setting works for me, but above line together I am seeing the error.
    alb.ingress.kubernetes.io/healthcheck-path: /myapp/v1/ready

I0805 03:01:

[2018-08-05 03:09] lemonshow opened #530 "With beta.5 subnet tagging validation errors still seen with health-check"
I was hitting other permission issues with beta.5 so I closed previous issue.

Actually I am hitting this again with beta.5 now.
With below health-check interval,
    alb.ingress.kubernetes.io/healthcheck-interval-seconds: 75
The path setting works for me, but above line together I am seeing the error.
    alb.ingress.kubernetes.io/healthcheck-path: /myapp/v1/ready

I0805 03:01:25.431286       1 e

[2018-08-05 03:10] lemonshow commented on #530
By the way, how do we set different health check attribute for different target groups?

[2018-08-05 11:30] anhpham1509 commented on #487
Yeah. I thought about this and it happened with validation.
Is that big to extend the create listener function? @bigkraig

[2018-08-06 17:12] #520 closed

[2018-08-07 01:20] toshipp commented on #475
I use 1.0-beta.5, the issue is no longer appeared. Thanks!

[2018-08-07 01:43] dhawani commented on #475
@bigkraig I am still getting the same error.

[2018-08-07 01:48] dhawani commented on #475
@bigkraig I think the bug is now that service port cannot be named ports. changed it to numeric value and got following:
`F0807 01:46:38.629047       1 albingresses.go:151] ERROR: Work Unit failed due to a recoverable error: 'runtime error: invalid memory address or nil pointer dereference'
, Stack Trace:
 goroutine 2072 [running]:
github.com/kubernetes-sigs/aws-alb-ingress-controller/vendor/gopkg

[2018-08-07 02:45] akshayks opened #532 "Controller goes into CrashBackOffLoop when redirect rule is manually added to ALB"
I seem to have inadvertently caused the ALB Ingress Controller to crash by manually adding an `HTTP -> HTTPS` redirect rule to an ALB it managed. Here is the output of `kubectl logs` on the controller pod:
[code]
I was fully aware of this change not persisting across changes to my Ingress definition but expected that the controller would simply ignore the additional rule. I can reliably reproduce

[2018-08-07 15:22] anhpham1509 commented on #532
I have the same situation as you.
@bigkraig Can we have AWS configuration as a superset of Ingress configurations?

[2018-08-07 16:19] bigkraig commented on #475
@dhawani which version is that with? did you see https://github.com/kubernetes-sigs/aws-alb-ingress-controller/pull/529?

[2018-08-07 16:56] dhawani commented on #475
1.0-beta.5

@bigkraig, was not able to check #529 as now named port in service have stopped working.

Steps to reproduce:
1. Create service with name port
2. Create ingress with numeric port (type : ip)
3. Observe alb controller logs. You should get error creating target group
4. Edit service and replace port with numeric port
5. Observe alb controller logs. You should get panic error.

[2018-08-07 17:43] bigkraig commented on #487
What does everyone think of this? My only concern here is if the service name `my-fixed-response` also corresponds to a service in the cluster. In that case I would just default to the annotation.

The idea is that we can define actions using the `alb.ingress.kubernetes.io/actions.<action name>` annotation and then reference the action in the `serviceName`. `servicePort` is unfortunately a require

[2018-08-07 17:51] bigkraig commented on #532
I'd prefer to add support for other actions as requested in #487 vs breaking consistency between ingress resource and ALB configuration. @akshayks, please join the discussion in #487 if you have any opinions of how you would like to see this configuration done, unfortunately compromises must be made due to the lack of support in the ingress resource spec.

[2018-08-07 17:51] #532 closed

[2018-08-07 22:41] grahampfau commented on #446
@spacez320 Do you think you could get more info on the policies that fixed this? I'm also hitting this same error on EKS.

[2018-08-07 22:53] lemonshow commented on #530
Here is the
 annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/subnets: 'subnet-06991234,subnet-6f471234'
    alb.ingress.kubernetes.io/security-groups: sg-d312345

    alb.ingress.kubernetes.io/healthcheck-path: /myapp/v1/ready

The above works, but if adding below line,
    alb.ingress.kubernetes.io/healthcheck-i

[2018-08-07 22:58] lemonshow commented on #530
Did you test out against annotation on the services for different targets?

[2018-08-08 08:33] pampy opened #533 "New target group names in beta version conflicts"
Hi everyone,
today we tried to update our ALB Ingress Controller from alpha.8 to beta.5.

During the update we noticed that all ALBs were re-created since the ALB name now seems to have a random prefix (by the way, is there a migration guide or changelog somewhere?)

The ALBs got created, but it failed creating the target groups.
Here's the error we got:
[code]

I already got an idea of why this h

[2018-08-08 17:01] digitalassembly opened #534 "error instantiating load balancer: Unable to DescribeInstanceStatus on : InvalidInstanceID.Malformed: Invalid id: """
hi there

I'm trying to use ALB Ingress version 1.0-beta.5, but I'm having an issue when deploying my ingress:

[error]
E0808 16:54:21.903747       1 albingress.go:166] value-ad-1yfo6a/testalb10-cui-ingress: error instantiating load balancer: Unable to DescribeInstanceStatus on : InvalidInstanceID.Malformed: Invalid id: ""
E0808 16:54:21.903768       1 albingress.go:166] value-ad-1yfo6a/testalb10-

[2018-08-08 17:07] bigkraig commented on #533
The port is now part of the hash: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/internal/alb/tg/targetgroup.go#L42-L46

Still though, i am wondering if there is any value in trying to have recognizable parts of the TG name. Kubernetes doesn't try and use any recognizable words when creating ELBs and this is not the first time we have had a problem with collisions. The T

[2018-08-08 17:14] bigkraig commented on #534
What version of Kubernetes are you running?

[2018-08-08 17:29] bigkraig commented on #530
How are you making that change? kubectl will not even let me save `alb.ingress.kubernetes.io/healthcheck-interval-seconds: 75`, it must be `alb.ingress.kubernetes.io/healthcheck-interval-seconds: "75"`

[code]

[2018-08-08 17:36] digitalassembly commented on #534
hi @bigkraig  thanks for your quick reply. I'm using v1.10.5 with Rancher 2.0.6 RKE cluster.

[2018-08-08 17:42] bigkraig commented on #534
I think we may have made a mistake when switching to the new field. Try out the `534-externalid` image once #535 finishes building and let me know if that resolves this for you.

[2018-08-08 17:47] digitalassembly commented on #534
I tried to update from quay.io/coreos/alb-ingress-controller:1.0-beta.5 to quay.io/coreos/alb-ingress-controller:534-externalid and got error image can't be pulled

[2018-08-08 17:48] bigkraig commented on #530
Maybe it would be best to dump your entire ingress resource in here and explain how you are creating it. I am unsure how you are able to receive the `Retrieval of subnets failed to resolve 2 qualified subnets` error when you are supplying a subnets annotation. That error comes from code that is only called when the annotation is missing.

[2018-08-08 17:49] digitalassembly commented on #534
my bad, seems 535 still building

[2018-08-08 17:50] bigkraig commented on #475
@dhawani named ports in services should have never worked until #529 though?

[2018-08-08 17:55] #472 closed

[2018-08-08 17:57] digitalassembly commented on #534
Deployed, and got a different error now

E0808 17:53:52.717911       1 albingress.go:166] value-ad-ul8wr/testalb11-cui-ingress: error instantiating load balancer: Unable to DescribeInstanceStatus on va-etcd-prod3: InvalidInstanceID.Malformed: Invalid id: "va-etcd-prod3"
E0808 17:53:52.717930       1 albingress.go:166] value-ad-ul8wr/testalb11-cui-ingress:  status code: 400, request id: cafbbe99-9c

[2018-08-08 18:04] bigkraig commented on #534
It will add any node to the cluster that doesn't have the `node-role.kubernetes.io/master` annotation or has `alpha.service-controller.kubernetes.io/exclude-balancer: true`.

It's still strange that the API is providing the node name and not the external id.

Can you give me the output of `kubectl --context sandbox3.us-east-1 describe nodes | grep ProviderID` and `kubectl --context sandbox3.us-eas

[2018-08-08 18:12] digitalassembly commented on #534
"It will add any node to the cluster that doesn't have the node-role.kubernetes.io/master annotation or has alpha.service-controller.kubernetes.io/exclude-balancer: true."
-> shouldn't just add the nodes where the service/workload were deployed to? in my case, I'm deploying to all workers using replica set.

1. kubectl describe nodes | grep ProviderID returns nothing

2

Name:               ip-10-

[2018-08-08 18:15] bigkraig commented on #534
maybe `kubectl describe nodes | grep i-` then? I don't have a 1.10 cluster and for some reason its having a hard time finding the instance ids. For example `ProvideID` on my test cluster gives me `aws:///us-east-1a/i-02b7f8960fb28e864`

It will add all nodes because the AWS API has some limitations and I didn't want to access the API every time a pod is rescheduled. The nodes that don't have the p

[2018-08-08 18:27] digitalassembly commented on #534
Also, would you mind sending me how your ProviderID annotation looks like entirely on your node?

[2018-08-08 18:28] bigkraig commented on #534
I don't know much about RKE but without the instance id in there there isnt much we can do on the controller side.

I'd check with RKE on if a configuration is missing to get the Provider ID in there. I have to assume other software will have problems integrating with AWS without it. Even if we switched the CNI plugin to one that makes the pod IPs routable, we still can't make SG changes to the no

[2018-08-08 18:30] digitalassembly commented on #534
Thanks a lot for your help, I will do some debugging and reply tomorrow with my findings! Carlos.

[2018-08-08 19:08] digitalassembly commented on #534
I just quick setup a new cluster using provider AWS as options, and I could now find "ExternalID:                  i-08585ee85ac2656f8"  but I don't have providerID . Even though, the LB and target groups were successfully created. Thanks!

In addition, I have a quick question which I couldn't find in the docs. Does the service support adding a annotation to activate the "stickness" option?

<img

[2018-08-08 19:11] bigkraig commented on #534
Excellent. And that is with the branch I made for you, correct?

See the `load-balancer-attributes` annotation for setting stickiness up.

[2018-08-08 19:29] digitalassembly commented on #534
yes, on the branch you provided. As for the lb attributes, I tried to set as following on my ingress

alb.ingress.kubernetes.io/attributes: stickiness.enabled=true,stickiness.type=lb_cookie,stickiness.lb_cookie.duration_seconds=604800

ref: https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_TargetGroupAttribute.html

but got error

E0808 19:26:11.427102       1 loadbalancer.g

[2018-08-08 19:32] bigkraig commented on #534
Looks like I gave you FUD, the sticky annotations should be in `target-group-attributes`. sorry about that!

[2018-08-08 19:39] digitalassembly commented on #534
No worries, it worked perfectly now. Thanks again! If you allow me one more question. After I delete my ingress/workload, the LB's are not being deleted from AWS, is this expected or its missing an annotation somewhere?

[2018-08-08 19:41] bigkraig commented on #534
If the controller is still running it will see that the ingress resource ahs been removed and delete the resources. If you're deleting the entire cluster at the same time, it won't have a chance to do that

[2018-08-08 19:41] #534 closed

[2018-08-08 19:43] digitalassembly commented on #534
I''m just deleting the ingress entries and workloads, not the cluster, and then alb shows the following in the logs

E0808 19:41:25.931565       1 albingress.go:166] value-ad-vwowal/valueadvwowal-cui-ingress: error instantiating load balancer: Unable to find the value-ad-vwowal/valueadvwowal-cui service: no object matching key "value-ad-vwowal/valueadvwowal-cui" in local store
E0808 19:41:25.93161

[2018-08-08 19:47] bigkraig commented on #534
Ah thats a bug then. Can you open up another issue with that? I don't think I have ever tried to delete the service before the ingress.

[2018-08-08 19:48] digitalassembly commented on #534
sure, will do.

[2018-08-08 19:54] digitalassembly opened #536 "Deleting a service/ingress does not delete AWS ALB resources created"
Hi @bigkraig

**[ISSUE]**
I'm using K8S  v1.10.5  on Rancher 2.0.6 RKE cluster with provider AWS. When I set my service and ingress, the ALBB resources are being successfully created on AWS. However, once I delete my service and ingress value-ad-vwowal/valueadvwowal-cui-ingress (not the cluster), the resources are still showing on AWS and ALB controller shows the following on the logs:

**[LOGS]**

[2018-08-08 23:51] lemonshow commented on #530
The beta.5 version is more strict for format checking which is good. Not sure why the error pointing out to subnet validation. I changed to '75' and it works.

[2018-08-08 23:56] lemonshow commented on #530
Regarding different health check, can share an example for service annotation?
Do we need to set something in Ingress annotation as well?
I do have readinessProbe defined in service but it is not picked up after Ingress is deployed.

[2018-08-09 01:08] MiLk commented on #343
Using `quay.io/coreos/alb-ingress-controller:1.0-beta.5`, I still have the same issue.

[code]

My ingress config is:
[code]

If I switch the `target-type` to `pod`, I get the following error:
[code]

[2018-08-09 16:34] anhpham1509 commented on #487
@bigkraig I think for the type `fixed-response`, it's good enough. How's about an example for redirect?

[2018-08-09 16:54] bigkraig commented on #487
@anhpham1509 the action looks like:
[code]

I think `Order` is unused, or at least I didn't see a way to configure it in the console. The AWS docs describe `protocol://hostname:port/path?query` as a config URI, so we could go with the URI or we could go with individual fields. Individual fields would be easier to implement but maybe more complicated to read in an annotation.

[code]

[code]

[2018-08-09 20:05] #405 closed

[2018-08-09 20:25] #533 closed

[2018-08-09 20:42] pampy commented on #533
@bigkraig thanks a lot!
I'll give it a try as soon as I can.

[2018-08-09 20:48] anhpham1509 commented on #487
Yeah. This sounds really good, IMO.
How big is this to be implemented?
I think handling annotations for usage in rule is a bit complicated.

[2018-08-09 20:52] bigkraig commented on #487
It's probably a little more than half a day of work. I'd just need to parse the annotations into a new action type and then replace service backends with those actions, but i'm sure there will be some problems along the way.

[2018-08-09 20:55] bigkraig commented on #487
A bit longer than that, since the default backend stuff would also need it and it has different logic to deal with.

[2018-08-09 21:01] bigkraig commented on #487
Thinking about it, we should also have some kind of way to trigger the annotation usage, incase there are naming conflicts. So use `servicePort` for that:

[code]

[2018-08-09 22:43] bigkraig commented on #487
I'll probably reuse the SDKs types and support all configuration options in https://docs.aws.amazon.com/sdk-for-go/api/service/elbv2/#Action

[2018-08-10 17:25] bigkraig commented on #472
@dhawani it was working in my testing, check with `latest`?

[2018-08-10 18:49] lemonshow commented on #530
@bigkraig
Regarding different health check for different target groups, can share an example for service annotation?

[2018-08-10 18:55] lemonshow opened #541 "Sample service annotation of different health check for different target groups"
Regarding different health check for different target groups, can you share an example for service annotation.

[2018-08-10 18:56] #530 closed

[2018-08-10 21:17] bigkraig commented on #487
@anhpham1509 I type fast.

If anyone wants to try it out, see #542. Docs are in there and before I give some examples i'd prefer if people read the doc and make sure it is easy to understand, it's probably one of the more complicated annotations.

The only thing left to do in #542 is to add support for the custom actions for the ingresses default backend. I'll probably tackle that next week someti

[2018-08-12 20:04] PaulMaddox opened #543 "Crash on controller startup (nil pointer dereference)"
Ingress controller was originally working, however now just crashes on start.
The only thing I can think of, is that I manually added a redirect rule (HTTP -> HTTPS) on the ALB.

[code]

[2018-08-12 20:41] bigkraig commented on #543
That’s expected, work on customized actions is in #542 if you would like to test them out.

[2018-08-13 10:32] anhpham1509 commented on #487
@bigkraig Incredible speed. 👏
I left some comments in the PR. You can take a look through ;-)

[2018-08-13 19:49] sashanka-kandala commented on #343
I am too facing the issue. Deployed controller on AWS EKS.
Using quay.io/coreos/alb-ingress-controller:1.0-beta.5,

[code]

[2018-08-13 20:26] bigkraig commented on #487
Resolved via #542, i'll cut a `1.0-beta.6` tag as soon as I double check that there isn't something else that I want to get in there.

[2018-08-13 20:50] bigkraig commented on #543
Resolved in `1.0-beta.6`

[2018-08-13 20:50] #543 closed

[2018-08-13 20:51] bigkraig commented on #487
Done! Please see https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/docs/ingress-resources.md on how to configure the actions with the `alb.ingress.kubernetes.io/actions.*` annotation.

[2018-08-13 20:54] bigkraig commented on #343
Can you provide me with the pod ips and the vpc configuration? There is a [function](https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/5d7b84cb06a8a4b89511994aae6138052dec27ef/internal/aws/albelbv2/elbv2.go#L242-L264) that configures the availability zone.

[2018-08-13 20:56] bigkraig commented on #475
gonna close this one out and if there are new issues in 1.0-beta.6 please open up an issue with the info. this one has taken a few turns since it was first created.

[2018-08-13 20:56] #475 closed

[2018-08-13 21:57] bigkraig commented on #456
While there is a lot of interest in this its unfortunately not possible with the current ingress specification since `serviceName` can not be anything other than just a service name.

[2018-08-13 21:57] #456 closed

[2018-08-13 22:23] bdirito opened #546 "pod -> ip documentation update"
a0cd2e401d26a4bae4f8e7066be39f3b2e033fa3
It looks like you renamed the 'target-type' value of 'pod' to 'ip'

The documentation has not been updated however.

[2018-08-13 22:32] bigkraig commented on #546
Thanks for catching that, I didn't search for the backticks.

[2018-08-13 22:34] #546 closed

[2018-08-13 22:35] bigkraig commented on #546
Fixed via #547

[2018-08-13 22:55] cjbottaro opened #548 "Can't reconcile state after adding a path/rule"
Here are the logs:
[code]

This seemed to happen after updating my ingress from:
[code]

To this (just added a rules clause):
[code]

Version:
[code]

Thanks for the help!

[2018-08-14 01:10] MiLk commented on #343
My cluster config (from kops) is:
[code]

I'm reusing a VPC which already has non kubernetes servers running.
The main CIDR associated to the VPC is `10.12.0.0/16`, but I run all my k8s workload on `10.15.0.0/16`.

![image](https://user-images.githubusercontent.com/29782/44066040-2be51e48-9fa9-11e8-8116-186ee5125894.png)
![image](https://user-images.githubusercontent.com/29782/44066060-46facdb8-9f

[2018-08-14 03:54] dudo opened #550 "Failed TargetGroup creation. There are multiple interfaces attached to instance"
Hello! While following the walkthrough, I experienced this. I'm using EKS, which was configured with `eksctl`. There are 2 m5.large, and they each have Network interfaces [eth0, eth1] by default.

[code]
[code]

[2018-08-14 04:27] lemonshow commented on #533
Also in this case, delete ingress did not delete the ALB created.

[2018-08-14 04:30] lemonshow opened #551 "DuplicateTargetGroupName error with service name more than 19 chars"
I am seeing the same issue with beta.5 as in below,
https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/533

I have new installation.
It failed to create target group for one of the service.
- One service is ok,
'CREATE' 0e4422db-15char-name-ade target group created

- But the other one with 21 characters was trucked to 19 characters and failed.

I0814 03:58:50.857456 1 event.go:2

[2018-08-14 06:11] lemonshow opened #552 "Multi-path issue"
It seems the multi-path mapping does not work as expected.
Only the /newpath/ works but not the /. Do we support target rewrite?

spec:
  rules:
    - http:
        paths:
        - path: /
          backend:
            serviceName: serviceA
            servicePort: 80
        - path: /newpath/
          backend:
            serviceName: serviceB
            servicePort: 80

[2018-08-14 16:18] bigkraig commented on #552
ALBs do not support target rewrite, you may also need to use wildcards to achieve whatever you are doing, or re-order the rules due to how ALBs match path patterns. Best thing to do is check out the AWS docs on how the rules are implemented.

[2018-08-14 16:18] bigkraig commented on #551
Check out `1.0-beta.6` which addressed this issue by using longer hashes.

[2018-08-14 16:36] dudo commented on #550
Thanks for the help, Kraig! Seems to give the same error, though.

[code]

[2018-08-14 16:41] bigkraig commented on #550
Did you use the full `alb.ingress.kubernetes.io/target-type: ip` annotation or just what I commented? I guess I could have been more clear. It looks like it's still using the instance targets. Check out https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/docs/ingress-resources.md for all of the supported annotations.

[2018-08-14 16:47] dudo commented on #550
[code]

[2018-08-14 16:51] bigkraig commented on #550
are you running `1.0-beta.6`?

[2018-08-14 17:03] dudo commented on #550
I am. `image: quay.io/coreos/alb-ingress-controller:1.0-beta.6`

[2018-08-14 18:33] bigkraig commented on #550
It's really strange since the logs kind of conflict with themselves. I'm building an eksctl cluster now and i'll run through & update the walkthrough for ekctl. I should run into the same issue and ill figure it out.

[2018-08-14 18:57] bigkraig commented on #550
I was able to build the eksctl cluster and deploy the ingress and it seems to be working. I did make some changes (see the PR) to the docs and examples to make them more readily EKS compatible. Can you take a look and see if something was done differently?

[code]

[code]

[code]

[2018-08-14 19:47] bigkraig commented on #548
do you have any attribute annotations set on the services? I'm trying to reproduce this

[2018-08-14 20:05] dudo commented on #550
[code]

I noticed in the walkthrough that the external ip shows as `nodes`, but mind shows `none`. Could that be something? I also have the `kubernetes.io/ingress.class` annotation.

Did you have to do anything with the policies on your `EKS-<NAME>-DefaultNodeGroup-NodeInstanceRole-CSTAWD9PF78Q ` role? I ran into all kinds of issues with that, and had to add several policies manually.

I have no e

[2018-08-14 20:12] anhpham1509 commented on #487
/reopen

@bigkraig I tried to create a redirect action and failed to do so. Can you give me a full ingress example?

[2018-08-14 20:13] bigkraig commented on #550
With EKS you won'd need to make a NodePort service, but that shouldn't cause the issue you are having.

I didn't have to change my role at all. I did exactly what is in the docs except for I also made an IAM user to add to the controller.

I'm on this version of eksctl, incase that somehow matters?
[code]

[2018-08-14 20:15] bigkraig commented on #487
@anhpham1509 Can you tell me what you tried and what error you got? The example in the docs was from one that I had used.

[code]

with `serviceName: redirect` and `servicePort: use-annotation`

[2018-08-14 20:25] bigkraig commented on #463
Upgrade to the latest release image, `1.0-beta.6`

[2018-08-14 20:47] cwyl02 commented on #463
@bigkraig Thanks for you rapid response!!

So I upgraded my alb-ingress-controller and verified that by seeing 1.0-beta.6 showing up in my alb-ingress-controller Deployment's log.

However, now I am seeing this error:

 Event(v1.ObjectReference{Kind:"Ingress", Namespace:"default", Name:"analysisserversingress", UID:"b393295d-a001-11e8-a602-0a4b199a2d8e", APIVersion:"extensions/v1beta1", ResourceVe

[2018-08-14 20:56] bigkraig commented on #463
swap it out to `ip`

[2018-08-14 21:29] sashanka-kandala commented on #100
Deployed ingress controller on EKS.
Using quay.io/coreos/alb-ingress-controller:1.0-beta.6,

Security groups for ALB and instance are created. But, they are not attached to instances by controller.Health checks are being failed.

To reproduce use 2048-game example.

[2018-08-14 21:32] cwyl02 commented on #463
It works now. Thank you Kraig you the rockstar!

[2018-08-14 23:03] dudo commented on #550
Hey Kraig, I just set up an entirely new EKS cluster, and ran into permission issues.
[code]

Did you set up a custom user for that?

[2018-08-14 23:10] bigkraig commented on #550
Did you set AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY? The controller needs to run with the permissions in https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/examples/rbac-role.yaml.

[2018-08-14 23:16] dudo commented on #550
I didn't, because I thought that was only needed for accessing the cluster? I guess that part confuses me... wouldn't it be better to use a secret or something? storing those in plain text makes me nervous. kube2iam looks overly complicated... the eks role was already set up with full access to the cluster. Can't we use that? Or, for that matter, just give more permissions to that role to perform

[2018-08-14 23:40] dudo commented on #550
That's a fair point. I'll mess with kube2iam another day, but for now, pasting that json into a custom policy did the trick for me. Thanks so much for your help!

[2018-08-14 23:40] #550 closed

[2018-08-15 02:57] gabzim commented on #487
When I implement HTTP to HTTPS redirect as follows:
[code]

`https://app.myservice.com/status` -> `https://app.myservice.com:80/status`

Also if I look at the logs I see:
[code]

Which makes sense because I don't want the HTTPS rule to do the redirect, that wouldn't make sense, only HTTP, and it's doing it for HTTP (although wrong because it adds `:80` after the URL. What am I doing wrong?

[2018-08-15 05:17] dudo opened #556 "ingress not routing"
I seem to have something configured poorly... I had this working nicely with the nginx-ingress tooling, but something seems different with this alb adaptation.

[code]

Before, there was an a url attached to a service, and i added that to the cname for *.nonprod.smartbizloans.com. Upon adding ingress controllers with the appropriate host (testing.nonprod...), everything was picked up, and life was

[2018-08-15 07:55] anhpham1509 commented on #487
I think if the redirect annotation exist, it should redirect all HTTP to HTTPS without an action to specify serviceName and servicePort in the spec.rules section.

[2018-08-15 13:26] sashanka-kandala commented on #550
Hey Dudo,

I have the same issue as yours. Using image: quay.io/coreos/alb-ingress-controller:1.0-beta.6 on AWS EKS cluster.

[code]

Please tell me what change has helped to solve the issue.

[2018-08-15 15:13] cwyl02 opened #557 "Value of target-type in 2048 example is still using 'pod' in 1.0-beta-6"
Not a critical issue but might look confusing to new users.

https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/27f2048c1af4fd5e6a7e31402701e2bddff66862/examples/2048/2048-ingress.yaml#L9

[2018-08-15 15:38] devkid commented on #487
@anhpham1509 I think that should be configurable per rule. I would imagine a use case where you have multiple services behind a single ALB ingress and only want to turn this on for single services.

I'm currently getting the same error as @gabzim. Seems like the controller tries to apply the rule for both listeners, HTTP and HTTPS, which results in the HTTPS -> HTTPS loop.

[2018-08-15 16:42] bigkraig commented on #487
I think this starts to get into what is requested in #135, where you can configure specific services for specific listeners.

[2018-08-15 16:46] gabzim commented on #487
@bigkraig what about the bug that @devkid and I are running into? `Seems like the controller tries to apply the rule for both listeners, HTTP and HTTPS, which results in the HTTPS -> HTTPS loop.`

Also how does `use-annotation` work exactly? what if your service is running on port 2000, how will `servicePort` know that?

[2018-08-15 16:50] bigkraig commented on #487
Right, all of the rules are applies to all of the listeners equally, being able to configure them to specific listeners is what is requested in #135. So you would only apply the HTTP redirect rule to your HTTP port. I'd like to avoid adding a special case for HTTP, since it wouldn't be obvious to users what is happening and most likely leads to more special cases.

WRT `use-annotation` I am not su

[2018-08-15 17:01] gabzim commented on #487
So are you saying that as it stands now, the HTTP -> HTTPS will not work then? It doesn't for me because I run into the above mentioned problem. It redirects HTTP -> HTTPS successfully but then goes and tries to do HTTPS -> HTTPS. So I guess I can't use the newly added actions to do it yet.

[2018-08-15 17:34] natefox commented on #298
What about using something similar to how nginx ingress handles it?
https://github.com/nginxinc/kubernetes-ingress/tree/master/examples/mergeable-ingress-types

[2018-08-15 17:41] bigkraig commented on #487
What do you guys think about what was just mentioned in #298, https://github.com/nginxinc/kubernetes-ingress/tree/master/examples/mergeable-ingress-types?

It would mean you would have to define a few ingress objects for the single ALB.

[2018-08-15 18:44] devkid commented on #487
This would actually be awesome. This would also make the mapping ALB -> "Ingress master", Listener -> "Ingress slave", Target group -> service clearer.

[2018-08-15 19:15] backjo opened #558 "Service backend-protocol annotation not being respected"
On beta 6, we have the default protocol on the Ingress set to HTTPS and one service has the default-protocol annotated to HTTP, yet the AWS Target Group is setup to communicate with that service over HTTPS

[2018-08-15 21:09] sashanka-kandala opened #559 "Error adding targets to target group,InvalidInstanceID: There are multiple interfaces attached to instance"
Deployed alb controller on AWS EKS.
Attached policy to worker nodes.
Used 2048-game example to test.
Below are the config files:
[code]
[code]
**Getting below error:**

Event(v1.ObjectReference{Kind:"Ingress", Namespace:"2048-game", Name:"2048-ingress", UID:"7c48f85e-a0ad-11e8-99ae-061cda1a6546", APIVersion:"extensions/v1beta1", ResourceVersion:"133013", FieldPath:""}): type: 'Warning' reason: 'ER

[2018-08-15 23:16] lemonshow commented on #552
Thanks, reorder and with wild card make the two paths work.
However the default path is taken from the first one only. Defining a default backend seems not taking effect.

spec:
  #backend:
  #  serviceName: serviceA
  #  servicePort: 80
  rules:
    - http:
        paths:
        - path: /newpath/*
          backend:
            serviceName: serviceB
            servicePort: 80
        - path: /*

[2018-08-16 03:29] cjbottaro opened #560 "Error deleting target group."
[code]

If I `kubectl delete pod <some_pod>` then the ingress controller freaks out:

[code]

If I `kubectl -n kube-system delete pod alb-ingress-controller-6b8d47f44-lfcqr` it fixes everything.

I'm using `target-type: ip`.

Thanks!

[2018-08-16 09:55] lbernail opened #561 "When using VPC with secondary CIDR ranges and target-type: IP, IP fail to register"
Hello

We are currently testing the controller in ip-mode to route directly to pods. We get this error in the controller:

```E0816 09:39:05.255601       1 api.go:2803] Failed request: elasticloadbalancing/RegisterTargets, Payload: {  TargetGroupArn: "arn:aws:elasticloadbalancing:us-east-1:12345678:targetgroup/47b3c6ad-xxxxxxxxxxxx/yyyyyyyyyy",  Targets: [{      AvailabilityZone: "all",      Id: "

[2018-08-16 10:16] lbernail commented on #561
Ok after looking at the code it's coming from here:
https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/5d7b84cb06a8a4b89511994aae6138052dec27ef/internal/aws/albelbv2/elbv2.go#L242

This is probably related to our VPC setup. I will investigate some more and update the issue

[2018-08-16 15:37] msh111 opened #563 "Failed when used in aws region eu-west-2 (London)"
E0816 15:28:20.335901       1 albingresses.go:211] Failed to get associated Web ACL. Error: RequestError: send request failed
caused by: Post https://waf-regional.eu-west-2.amazonaws.com/: dial tcp: lookup waf-regional.eu-west-2.amazonaws.com on 10.214.0.3:53: no such host
I0816 15:28:20.335946       1 albingresses.go:101] Assembled 0 ingresses from existing AWS resources in 49.70894416s
F0816 15:

[2018-08-16 19:49] #558 closed

[2018-08-17 07:58] grockeek commented on #563
As far as I can see, It is the same problem encountered in issue #439

This problem have also been seen in `eu-west-3`, where there's no WAF service (this error will be triggered anywhere this service is unavailable (availability [here](https://aws.amazon.com/about-aws/global-infrastructure/regional-product-services/?nc1=h_ls))).

As @rifelpet suggested, a prerequisite of ALB creation would be a c

[2018-08-17 10:09] lbernail commented on #343
I had the same issue with VPCs having secondary CIDRs: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/561
(I also submitted a PR to address this)

It now works fine for us with the Lyft CNI plugin (which is similar to the routed ENI: it creates additional ENIs and assign VPC IPs to pods) and additional CIDR blocks

[2018-08-17 16:04] bigkraig commented on #561
Merged the fix. Thanks

[2018-08-17 16:04] #561 closed

[2018-08-17 16:07] bigkraig commented on #563
@grockeek I've been using the AWS_REGION environment variable, AFAIK that is the only way to get it unless the app also accepts a parameter and overrides the client. aws-cli works the same way. Thanks for looking into this one!

I'm going to close this one since this is the same as #439.

[2018-08-17 16:07] #563 closed

[2018-08-17 16:07] bigkraig commented on #560
@cjbottaro Thanks for finding a way to reproduce this. I'm traveling this week but i'll look into it when I have an opportunity.

[2018-08-17 16:11] #557 closed

[2018-08-17 16:11] bigkraig commented on #552
Are you running `1.0-beta.6`?

[2018-08-17 16:12] bigkraig commented on #551
@lemonshow I am using more of the hash and less of the identifiable names in the TG names now. Since they have the full information in the tags, there didn't seem to be enough value to warrant the collision risk. 1.0-beta.6 brings a lot of stability improvements so hopefully that works out for you. 👍

[2018-08-17 16:12] #551 closed

[2018-08-17 19:29] bigkraig commented on #560
Can you give me some more logs around the event? I'm unable to reproduce, using a cluster created with eksctl.

[code]

[2018-08-17 22:46] krmcbride opened #568 "Panic on start from Reconcile, FindUnusedTGs"
I'm no gopher so I'm not sure if I'm reading this correctly but my guess is its bailing on Actions that don't forward to a TG, like the ones I've defined with fixed responses.

[code]

Simplified ingress:

[code]

Maybe my ingress is weird, but it seems to produce the expected rules.

[2018-08-18 02:27] omghaxzs commented on #548
FWIW, this happened to me when I had enabled deletion protection on the ALB via the console.

[2018-08-18 03:28] bhegazy commented on #439
Seems to be the same in ap-southeast-1 region since there is no WAF yet

[code]

[2018-08-18 11:59] Kefa7y opened #569 "Annotation for Success codes introduce Subnets not found error"
When adding the annotation ```alb.ingress.kubernetes.io/success-codes: "405"``` to the ingress, the controller is not able to read ```alb.ingress.kubernetes.io/subnets: PublicSubnet1, PublicSubnet2``` annotation and in turn not able to work properly.

[2018-08-18 12:11] Kefa7y commented on #559
I get the same error in here as well.

[2018-08-18 17:41] cjbottaro commented on #548
No, the services have no annotations. I think this is related to #560.

[2018-08-18 17:41] #548 closed

[2018-08-18 17:43] cjbottaro commented on #560
I was going to delete my ALB completely and kind of start from scratch, but I think that I need to rebuild my cluster, so it's going to be a while.

[2018-08-20 11:35] Andrea-Politi commented on #439
and London region too

[2018-08-20 11:36] dpavlov-smartling commented on #536
Hello, same on EKS with k8s version 1.10 and aws-alb-ingress-controller 1.0-beta.6. All related resources are still persists even after service/ingress deleted.

[2018-08-20 16:40] bigkraig commented on #536
Yep, the reasoning behind this is that when it assembles the state for the ingress it will error when the dependencies are missing, we will need to ignore those errors when its a delete

[2018-08-20 18:55] Tinche opened #570 "Handle secondary port for health checks"
Hi,

trying to port one of our backend services to Amazon EKS, and hence ALB. The pods expose several ports - one for main traffic, which I'd like to expose via the ALB, and another for internal use (including health checks). How do I make the ingress controller set up health checking on this second port?

Is just choosing a specific port and hardcoding it the only way currently? alb.ingress.kuber

[2018-08-20 20:53] dudo commented on #556
@bigkraig Can you point me in the right direction here?

[2018-08-20 22:04] bigkraig commented on #556
I don't fully understand what you are trying to set up. FWIW, the ingress controller should only add the ALB hostname (which external-dns uses) to the ingress resource. Services wouldn't have anything from the controller. A service might get an external name if its a `servicetype=loadbalancer`.

Do you have multiple layers of ingress because some feature is missing from ALBs? I see rewrite in ther

[2018-08-20 22:45] dudo commented on #556
By layers, I mean that I have a handful of apps that get routed according to their ingress.

`/` goes to marketing
`/apply` goes to js application
`/admin` goes to core backend app

Each "service" sets up their own ingress. When I first started tinkering with this, I used nginx-ingress, and that worked great. There was a kubernetes service that exposed an endpoint, and it listened to the various i

[2018-08-21 03:07] lemonshow commented on #552
Got a chance to try and beta6 works for default.

[2018-08-21 03:09] lemonshow commented on #552
I am hitting a random recoverable error when I checked the log after a few deployments. Not able to see it again though.
[code]

[2018-08-21 08:48] AndreasKnapp1812 commented on #100
same behaviour for me, the node security groups do not get updated.

[2018-08-21 12:57] tobiasrosenhoff commented on #568
I'm getting the same error when using **servicePort: use-annotation** with "Type": "redirect"

[2018-08-21 13:32] anhpham1509 commented on #487
@devkid Hi, I agree that the port should be configurable.
@bigkraig Can you add the HTTP -> HTTPS boolean annotation as I think it's common case people is using for redirects.
About the multiple Ingress solution, I think it's just too complicated to use that just for HTTPS redirect.

[2018-08-21 13:53] gabzim commented on #487
As I understood from the comments, an annotation for a specific use case is discouraged when a more general annotation is available. Having said that, I do believe HTTP -> HTTPS is a huge use case that probably merits a simple one-liner to pull off.

[2018-08-21 16:51] akshayks opened #572 "1.0-beta.6::Validation error when creating target group with target-type ip"
I seem to be running into a strange error when attempting to create an ingress resource with target-type `ip`. When I change the `target-type` to `instance` or remove the annotation altogether, ALB and Target group creation proceed without errors. My cluster is running version `1.0-beta.6` of the ALB Ingress controller on Amazon EKS.

Here is the relevant snippet from `kubectl logs`:
[code]

My in

[2018-08-22 05:03] sawanoboly opened #573 "How do I create rule without `path-pattern` ?"
I thought that using this plugin, I would like to create a rule with only the host header. The definition is as follows.

[code]

However, path-pattern '/' is automatically added. I want to exclude the path-pattern from the rule, is it possible?

[code]

[2018-08-22 11:09] anhpham1509 commented on #487
I would say that this ticket is not done yet. Please reopen this anw, @bigkraig.

Also, if you insist on using this action annotation, then redirect case should go without any additional serviceName and servicePort specification.

What's on your mind?

[2018-08-22 15:31] grockeek commented on #439
@bhegazy : A colleague and I are working on this (Resolving endpoint first, through SDK).
Compiling and testing will be done tomorrow. I hope we can submit a PR by the end of the week.

@Andrea-Politi : the goal is to retrieve information about WAF regarding user's configuration (made in SDK).

[2018-08-22 15:39] kalelc commented on #559
I have the same error.

[2018-08-23 11:11] sa-mao commented on #559
I have the same error.

[2018-08-23 14:40] kalelc commented on #559
I was able to fix this problem by leaving the worker node with one interface.

I use terraform to create the Cluster; that configuration creates 2 ENI. I suppose that the problem is because Ingress cannot resolve which IP can use if the instance has 2.

Ingress Log:

With two ENI
[code]

Leaving one ENI

[code]

[code]

[2018-08-23 17:20] andreasottosson opened #574 "Multiple "actions" on Ingress, is it possible?"
Is it possible to have multiple actions on one Ingress? I would like it to first redirect but also have a fixed response if nothing matches.

Something like this:

`alb.ingress.kubernetes.io/actions.myservice: '{"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "Host": "#{host}", "Path": "/#{path}", "Query": "#{query}", "StatusCode": "HTTP_301"}}'`

and

`alb.ingress.kube

[2018-08-24 04:55] lemonshow commented on #135
Is this supported? We have a similar use case.

Annotation: alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 3033}, {"HTTP": 3001, "HTTPS": 3002}]'

or service-listen-ports

/Service-1 (NodePort/Target Group 123):
- Http Port 3033
/Service-2 (NodePort/Target Group 234):
- Http Port 3001
- Https Port 3002

From the above discussion, seems still open.

[2018-08-24 05:05] lemonshow opened #575 "Specific listen port for specific service"
Is this supported? We have a similar use case.
came across https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/135

Annotation: alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 3033}, {"HTTP": 3001, "HTTPS": 3002}]'

or with service-listen-ports

/Service-1 (NodePort/Target Group 123):
Http Port 3033

/Service-2 (NodePort/Target Group 234):
Http Port 3001
Https Port 3002

From t

[2018-08-24 08:38] sa-mao commented on #559
@kalelc But it shouldn't matter since we use `alb.ingress.kubernetes.io/target-type: ip` and this will cause the ingress to use the pod IP which should be only one IP?

[2018-08-24 13:27] kalelc commented on #559
Yes, but AWS creates one IP by Pod. Example:

[code]

<img width="570" alt="screen shot 2018-08-24 at 10 25 27 am" src="https://user-images.githubusercontent.com/2523397/44587047-24d30480-a788-11e8-8d8d-4faac5538bf8.png">

[2018-08-24 14:45] kalelc opened #576 "NetworkPlugin cni failed to set up pod "backend-xxxx" network: add cmd: failed to assign an IP address to container"
Hello

This problem happens when I try to scale my pods. The flow to get the error is:

[code]

Getting describe over one of pods that fail:

[code]

AWS Instance Description:

<img width="568" alt="screen shot 2018-08-24 at 11 31 25 am" src="https://user-images.githubusercontent.com/2523397/44590346-4a184080-a791-11e8-92cf-03379b90b833.png">

Ingress

[code]

alb-ingress-controller:

[code]

Obvi

[2018-08-24 18:16] eugene-marchenko commented on #114
Hey!
I completely love your way of creating ALBs. Using it for current EKS cluster without any issues.
Are you planning to add support for kops clusters?
[Current](https://github.com/kubernetes/kops/tree/master/addons/kube-ingress-aws-controller) approach does not allow me to use already existing infrastructure(VPC and SG) in predictable way.
Thanks!

[2018-08-24 20:14] sashanka-kandala commented on #559
@kalelc
Can you tell me the steps followed to resolve this. How to leave worker node withe one interface.

[2018-08-26 02:00] lemonshow opened #577 "Retrieve AWS ALB with Ingress info"
Have a use case to retrieve AWS ALB after using Ingress to create it. We need a few information such as hostedzone, DNS hostname, ALB ARN, ALB name etc. The ingress status will return hostname/IP only. Using ALB SDK will need either ALB ARN or Name. However ingress controller will generate ALB name based on namespace, ingress name and hash prefix.

What is the recommendation to resolve this? thank

[2018-08-27 08:27] #574 closed

[2018-08-27 13:31] kalelc commented on #559
@sashanka-kandala Yeah, sure.

1. EC2
2. Select you instance worker.
3. click on the Network Interfaces.
4. In the network Interfaces Menu, there is the option to detach ENI from the instance.

Obviously, that is not the solution to production. When I have tried to recreate the problem building the cluster, sometimes ingress add other Network Interface and I get the same error.

[2018-08-28 03:14] #560 closed

[2018-08-28 15:18] cjbottaro opened #578 "Segfault"
[code]

Let me know what other info I need to provide. Thanks.

[2018-08-28 17:27] cjbottaro commented on #578
I think this was due to me having a rule with just a host and no path.

[2018-08-28 17:27] #578 closed

[2018-08-29 06:56] anhpham1509 commented on #487
@bigkraig Do you have any time this week for this ticket?

[2018-08-29 08:56] neerfri opened #579 "controller panic crash following an error to create TargetGroup"
Using alb-ingress-controller `v1.0-beta.6` crashed trying to create an ingress with `target-type: ip` .
See crash log and ingress resource below.

I believe this is somewhat similar to #572 but the crash is not mentioned there. In fact he shows more log lines after the failure so this could be a different situation.

[code]

The `Ingress` resource YAML:
[code]

[2018-08-29 08:58] neerfri commented on #579
@bigkraig I believe this should be labeled `kind/bug` and added to the `1.0` milestone

[2018-08-29 12:38] kalelc commented on #576
I know that Aws allows a maximum number of network interfaces per instance type https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html. In my case, I have `m5.large` type-instance with 3 ENI 10 IPV4. I have tried scale to 10 pods but is happens the same.

[2018-08-29 17:00] akshayks commented on #579
@neerfri I forgot to mention that the controller was continually crashing. This issue appears to the same as the one I reported.

[2018-08-29 17:00] M00nF1sh commented on #576
Hi Andres,

The alb behaves correctly(target group only contains healthy pods).
This issue is more likely a CNI issues(https://github.com/aws/amazon-vpc-cni-k8s/issues/59).

1. Would you help check the CNI image version using `kubectl describe daemonset aws-node --namespace kube-system | grep Image`, if it's below 1.1.0, it needs to be updated.
1. If it's already 1.1.0, you can SSH into the node a

[2018-08-29 20:45] M00nF1sh commented on #559
I'm able to reproduce this issue by creating an alb ingress after there are multiple ENI attached to node(can be achieved by creating multiple pods, since each pod will consume one secondary ip)

Will start to investigate the root cause and solve it

[2018-08-29 21:52] M00nF1sh commented on #559
This root cause is [alb-ingress controller calls **ModifyInstanceAttribute**](https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/734cbf1574222fced2fb38c486713d2c2dd693c5/internal/aws/albec2/ec2.go#L409) when attaching security groups to nodes(which allows alb route traffic into it).
According to https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ModifyInstanceAttribute.html

[2018-08-29 21:57] kalelc commented on #559
Ok, Thanks. I'll hope for the fix.

[2018-08-30 12:44] anhpham1509 commented on #487
Ping @bigkraig

[2018-08-30 18:15] M00nF1sh commented on #572
I guess the problem is caused by using named string format targetPort in service spec(which is [supported by kubernetes](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#serviceport-v1-core))
Pending confirmation

[2018-08-30 19:29] d-nishi commented on #572
@akshayks - can you send us your service specification in your manifest to confirm Yang's assertion?

[2018-08-30 19:51] M00nF1sh commented on #579
should be same as https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/572,
root cause found but pending confirm 😃

[2018-08-30 20:31] neerfri commented on #572
@d-nishi My service has used a named port. Supporting @M00nF1sh's thoughts.

[2018-08-30 20:39] M00nF1sh commented on #572
cool, I'll create an PR to fix this

[2018-08-30 21:52] akshayks commented on #572
I tried editing the service definition to use a numeric port and that seems to work with target type `ip`. This should be a reasonable work around until the controller can be modified to expect named ports.

[2018-08-30 21:59] joegoggins commented on #298
I was glad to find this GitHub issue and also bummed that it seems like it will be a long time before this will get implemented. It smells like there is a lot of complexity associated with the change and potentially not resources to dig into it. I'm assuming it will be many months and thus our engineering team is going to switch our technical approach to use a different load balancing ingress stra

[2018-08-31 04:58] cjbottaro opened #580 "Do not add all worker nodes to target group"
Hi again! I'm back to using `target-type: instance` because I simply cannot get amazon-vpc-cni to work reliably (ugh, super frustrated by that).

Can an annotation be added that says only add instances to the target group that have some label?

For example...
[code]

We have hundreds of nodes, but only about 6 of them will have pods that the ingress is forwarding to.

Thanks!

[2018-09-02 07:52] digitalassembly commented on #536
hi @bigkraig , hope you are doing well! do you have an estimation when the deletion issue would be fixed?

[2018-09-03 23:38] gabzim commented on #487
bigraik replies quickly, I think we should just wait for him to have time instead of spamming this thread.

[2018-09-04 02:06] kalelc commented on #576
Thanks for your help; I have updated CNI Image version and the problem has been fixed.

[2018-09-04 02:06] #576 closed

[2018-09-04 10:25] sagoon opened #582 "ingress unable to create alb : instance Id error"
hi,
I'm getting this below error:

event.go:221] Event(v1.ObjectReference{Kind:"Ingress", Namespace:"default", Name:"ing-sagoon-dev1", UID:"33d137b2-b029-11e8-9911-0218c26dbc76", APIVersion:"extensions/v1beta1", ResourceVersion:"927997", FieldPath:""}): type: 'Warning' reason: 'ERROR' error instantiating load balancer: Unable to DescribeInstanceStatus on kubernetes-k8s-sagoon-worker0: InvalidInsta

[2018-09-04 18:02] jalonsoa commented on #135
Hello !
  I have this problem too (we have 2 listener ports on the same ingress and we have different services. All services are added to both listeners) ... I'm thinking about this and, imho, the best solution is create the alb.ingress.kubernetes.io/listen-ports annotation in the service too.

   Then, if we have a service without the annotation, we add this services to all listeners in the first

[2018-09-04 23:14] matthewflannery opened #586 "Latest version, fresh K8S cluster - error instantiating load balancer: InvalidInstanceID.NotFound"
Hi guys,

We're seeing an issue with `0.1.0` from https://quay.io/application/coreos/alb-ingress-controller-helm?tab=releases

**Log snippet**: ```I0904 23:09:50.306419       1 event.go:221] Event(v1.ObjectReference{Kind:"Ingress", Namespace:"default", Name:"echoserver", UID:"9fc1b308-b097-11e8-a106-02075f0b7eb8", APIVersion:"extensions/v1beta1", ResourceVersion:"56454", FieldPath:""}): type: 'War

[2018-09-05 17:46] bigkraig commented on #487
Hey everybody. I'm starting to side with the crowd on this one, while I hate to have behind the scenes magic going on, I am not seeing other one-off cases that would need to be dealt with and it would definitely simplify the definitions if we just filtered out HTTPS->HTTPS redirects.

Our sandbox cluster is going through maintenance right now but if that is available later today, I'll look to gett

[2018-09-05 17:46] #575 closed

[2018-09-05 17:47] bigkraig commented on #573
It's not possible, the ALB requires that a rule matches a path. Does this create an issue or is it just unexpected?

[2018-09-05 17:51] bigkraig commented on #586
Can you check that you have the right region configured?

[2018-09-05 18:00] sawanoboly commented on #573
https://docs.aws.amazon.com/ja_jp/elasticloadbalancing/latest/APIReference/API_RuleCondition.html

ALB allows host-header only rule, path-pattern could omitted.

![ec2 management console 2018-09-06 02-56-03](https://user-images.githubusercontent.com/272388/45111663-7b751100-b180-11e8-8e73-4ec7e9094964.png)

Current situation If we want to use host name based routing using this plugin, we need to s

[2018-09-05 21:56] M00nF1sh opened #588 "Multiple Ingress(with different configuration) points to same service will be corrupted"
If two ingress with different configuration(e.g. targetType ip / instance), that points to the same service, both of them might be all created with targetType ip

[2018-09-06 08:06] anhpham1509 commented on #487
@bigkraig Yeah. If the HTTPS->HTTPS redirects can be filtered out, it's awesome.
I just check your implementation and it seems to be very promising.
How can we test it out?

[2018-09-06 18:27] smaslennikov commented on #318
It seems my targetgroups aren't being deleted on path changes. I'm using `quay.io/coreos/alb-ingress-controller:1.0-beta.6`

[2018-09-06 18:32] bigkraig commented on #487
@anhpham1509 try out the `487-https-loops` tag

[2018-09-06 18:43] smaslennikov commented on #487
Yeah, if this can be defined as a one-liner that'd be great. Thanks @bigkraig !

[2018-09-06 21:11] bigkraig commented on #569
Expecting this is related to #588

[2018-09-06 22:37] smmckay commented on #487
The nginx ingress controller supports the [ingress.kubernetes.io/force-ssl-redirect](https://github.com/jcmoraisjr/ingress/blob/master/docs/user-guide/annotations.md#server-side-https-enforcement-through-redirect) annotation to provide this feature. The ingress spec looks, if anything, to be geared _against_ doing port-specific stuff, which I think makes sense. The only time it's sane to do differ

[2018-09-06 22:56] bigkraig commented on #487
Would something like this do what you're looking for, and if not, what would you need done? These action annotations are just starting to be used.

[code]

[2018-09-06 23:01] whithajess commented on #487
That looks fine to me

[2018-09-06 23:26] lemonshow commented on #577
Open this again since we still look for this.

[2018-09-06 23:42] natefox opened #591 "panic when removing action annotation but leaving paths"
This is 100% a UX request as the true problem is a misconfiguration. However, I think throwing a readable error would be preferable to the crash :)

Using the sample ingress from the helm chart installation, I've added the fixed-response actions annotation and the path rule. This works.

[code]

When I comment out the action annotation and do not comment out the path rule (as seen above), I get th

[2018-09-07 00:05] natefox opened #592 "Add actions: authenticate-oidc and authenticate-cognito"
The actions annotation supports some but not all of the actions. We'd like to be able to use the authenticate actions. However, I'm not quite sure how to handle the sensitive data properly.

I'm proposing something along these lines:
[code]

Note that the `TargetGroupArn` key is missing out of the `"Type": "forward"` object. I propose this be injected by the controller as the TG ARN is managed/kno

[2018-09-07 00:13] bigkraig commented on #592
We could expand variables inside of the annotation. That might make the most sense.

The controller should also inject the ARN.

WRT those configurations not being supported, that was due to https://github.com/aws/aws-sdk-go/blob/master/service/elbv2/api.go#L3395-L3396. It shouldn't take much effort to support `authenticate-oidc` and `authenticate-cognito` though.

[2018-09-07 16:27] bigkraig commented on #487
@anhpham1509 sorry, i'm not clear on what you are asking

[2018-09-07 17:16] #572 closed

[2018-09-07 19:48] cv opened #594 "Panic when specifying HTTPS listener but omitting certificate"
I forgot to add a cert reference in my ingress definition, which looks like this:

[code]

When applied, this caused the alb-ingress-controller to crash:

[code]

This happened while running on 1.0-beta6 against an EKS instance (1.10.3, afaict).

Ideally there'd be a better error message and not a crash, but I think even better would be to have an option to automatically issue certificates if ther

[2018-09-07 22:12] spiffxp opened #595 "Use tide for PR merging"
This is a [SIG repository](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#sig-repositories).  As such, it [needs to use the same merge automation we use on the rest of the project](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-new-repositories)

I have a PR open to address this, I'd like

[2018-09-07 22:17] bigkraig commented on #595
/lgtm

[2018-09-07 22:18] spiffxp commented on #595
/assign @bigkraig
since you've been doing most of the merging... and I see you already said /lgtm 😄 , can you comment on the linked PR?

[2018-09-08 17:33] anhpham1509 commented on #487
@bigkraig I can explain my idea by example.

If I configure the Ingress the same way like this

[code]

Currently, it will create listener `HTTP:80` for ALB with 3 rules: 1 redirect, 1 forward and 1 default and listener `HTTPS:443` for ALB with 2 rules: 1 forward and 1 default.

IMO, if a listener has redirect config, it should not contain forward config.

[2018-09-08 17:50] smaslennikov commented on #487
You've closed this issue, but it still isn't working for me:

[code]

I'm getting this error in the controller:

[code]

I'm using `image: quay.io/coreos/alb-ingress-controller:d1782a0`. What am I doing wrong?

[2018-09-08 18:02] bigkraig commented on #487
You named your action service-api not redirect

[2018-09-08 19:05] smaslennikov commented on #487
Wow, thank you @bigkraig. That was a good one.

Now I've got this error:

[code]

[2018-09-08 19:18] smaslennikov commented on #487
Ah, fixed the above with @gabzim 's comment from earlier. For documentation purposes, here's the working yaml:

[code]

This still produces the `loop` error above, though.

[2018-09-08 21:38] bigkraig commented on #487
Are you running either the `latest` or `487-https-loops` images?

[2018-09-09 20:54] smaslennikov commented on #487
@bigkraig I'm running `quay.io/coreos/alb-ingress-controller:d1782a0 `

[2018-09-10 04:30] cv commented on #594
Upon further investigation, it looks like this is happening when a `certificate-arn` is added and there's no `listen-ports` annotation added.

The trace seems to be pointing at this line: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/d1782a0041b641657aead087e30b9983915fa97d/internal/alb/ls/listener.go#L331

[2018-09-10 12:38] lbernail opened #597 "Default backend behavior is different from other ingresses"
We are currently using the `ip` target-type and this feature is great

During some testing, I noticed that when I try to access a route with no definition, I end up on one of the backend service and I do not get a 404.

Example:
[code]

When I try to access a host without any rule, I would expect a 404, but I get to the first service (after checking, the default action for the listener is set to t

[2018-09-10 16:04] ricktbaker opened #598 "Cannot specify subnets with --set subnets"
[code]
results in:

`message: 'Error: failed parsing --set data: key "subnet-xxxxxxxx" has no value`

[2018-09-10 16:06] ricktbaker commented on #598
My fault, was just an escaping issue.

`--set subnets="subnet-xxxxxxxx\,subnet-xxxxxxxx" \

[2018-09-10 16:06] #598 closed

[2018-09-10 17:28] bdirito commented on #487
@smaslennikov

Looking at your yaml your internal nginx is on port 443? Is it supposed to be https from the alb to the nginx service? Im not sure albs have a specification for protocol from the alb to the backend service. https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html explicitly notates the alb's ssl capabilities as 'ssl offload'.

[2018-09-10 17:36] qgriffith-xylem commented on #487
I am running latest and it produces the loop error above. The only way it doesn't is if I put the serviceName:redirect after the standard service. However that then creates the rule for port 80 to go to the target group and then the second rule is the redirect rule

[2018-09-10 17:40] qgriffith-xylem commented on #487
I just tried it with the 487-https-loops branch and the same thing happens

[code]

[2018-09-10 18:26] bdirito opened #599 "Backoff not reset on new ingress resources"
When trying something new that doesnt work (in my case a redirect config that is creating a loop). The alb ingress controller fails and goes into a backoff. This is good. However when you then edit the ingress resource to try something new you are still in that same backoff loop. You have to wait for the timeout of the previous backoff to finish before you can try your changes. If those then fail

[2018-09-10 19:07] bdirito commented on #487
@smaslennikov ah.  im not familiar with the intricacies there. do you know for sure such a thing can be done with albs?

@bigkraig
I am seeing the same thing as qgriffith-xylem.

[code]
[code]
Note that with my slightly different config and use of latest this log does NOT have the null memory dereference error as shown in qgriffith-xylem

[2018-09-10 19:15] rabbitfang commented on #573
I am also being affected by this issue. It appears this bug was introduced in #476 (first released as `1.0-beta.5`) in this repo; kubernetes/ingress-nginx#2244 introduced the behavior for the nginx ingress controller, which works for nginx because the paths in nginx are prefixes, not exact matches or globs.

I can verify that path-less rules work in version `1.0-alpha.9`, and I have reverted to th

[2018-09-10 19:28] bdirito commented on #487
@qgriffith-xylem ive found that you can pass in a port to the redirect action. this makes the redirect action work. However it still *reports* itself as failing in the log and goes into its backoff logic.

[code]

[2018-09-10 19:33] qgriffith-xylem commented on #487
@bdirito
Mine if failing to create the 443 listener, it creates the 80 then crashes with the memory issue during the 443 part and does the bit about how it can't create it because it would cause a redirect loop

[2018-09-10 21:30] #595 closed

[2018-09-11 09:23] murarisumit opened #601 "Liveness and readiness probe failing"
After running : `helm registry install quay.io/coreos/alb-ingress-controller-helm --set awsRegion="us-east-2"`

I'm getting this while running, while describe the created pod.
[code]

Below is list of events: `kubectl get events`
[code]

Few more logs which might help describe pod created by helm for controller.

[code]

[2018-09-11 09:57] a8j8i8t8 commented on #487
Same here. I'm getting below with image `487-https-loops`.
`InvalidLoadBalancerAction: The redirect configuration is not valid because it creates a loop.`

[2018-09-11 11:36] a8j8i8t8 commented on #487
Is it possible to re-open this issue?
It's still working neither with `latest` nor `487-https-loops` . :-(

[2018-09-11 12:19] ricktbaker opened #602 "error instantiating load balancer: no port is mapped for service"
1 event.go:221] Event(v1.ObjectReference{Kind:"Ingress", Namespace:"default", Name:"funky-dachshund-user-management-api", UID:"773a1be9-b574-11e8-a438-0efcaa12ceb0", APIVersion:"extensions/v1beta1", ResourceVersion:"2411357", FieldPath:""}): type: 'Warning' reason: 'ERROR' error instantiating load balancer: no port is mapped for service funky-dachshund-user-management-api and port name 3001

Not q

[2018-09-11 12:53] lbernail commented on #597
I'm going to take a shot at this issue
In terms of implementation I was thinking of adding a new `serviceName: default-http-backend` in `applyDefaults` without a service port and implement the default logic in `NewDesiredRule`

[2018-09-11 16:03] ricktbaker commented on #559
Same issue here

[2018-09-11 16:04] ricktbaker commented on #602
Figured this out.  I just had some bad matches on labels and selectors

[2018-09-11 16:04] #602 closed

[2018-09-11 16:13] argeualcantara commented on #601
I also had an issue, the alb ingress controller started to create the ALB on AWS, but it didn't finish correctly and I kept getting this error: `'events "app.1553107dab7f1b19" is forbidden: unable to create new content in namespace test-app-pr-5 because it is being terminated.' (will not retry!)`

this happened after the event `reason: 'MODIFY' 22018178-testapppr5-app-02d1 tags modified`
where the

[2018-09-11 16:24] argeualcantara opened #603 "ALB ingress controller not creating ALBs due to an unknown stuck state"
The ALB Ingress Controller started to create the ALB on AWS, but it didn't finish correctly and I kept getting this message: `'events "app.1553107dab7f1b19" is forbidden: unable to create new content in namespace test-app-pr-5 because it is being terminated.' (will not retry!)` which I get it, since the namespace was being deleted by the pipeline. The real problem is that I have no clue what was h

[2018-09-11 17:13] d-nishi opened #604 "AWS cert manager cert sometimes needs replacing on a k8s service elb"
Created on behalf of @dmcnaught: https://github.com/kubernetes/community/issues/2654

We have an issue with AWS cert manager certificates “disappearing” from the a kubernetes service ELB (deis-router).
We currently see the problem in K8s 1.9 (we’ve upgraded 3/5 clusters to 1.10 now and not sure if I’ve seen the problem there yet) installed/upgraded with kops 1.9.1
The cert is on the deis-router ku

[2018-09-11 17:14] d-nishi commented on #604
/sig aws

[2018-09-11 17:31] bigkraig commented on #597
Yeah, `applyDefaults` right now has the sole responsibility of setting the default backend to the first defined path, the specific thing we are getting rid of.

I'm not sure you need to get into the rules though, have a look at `Listener.defaultBackend`.

[2018-09-11 17:34] bigkraig commented on #487
I'll try and take a look at this again today. I tested one of the configurations yesterday and I wasn't able to reproduce it.

[2018-09-11 17:53] M00nF1sh commented on #577
Hi,

Can you share your use case for such information?
Personally, I think these information are implementation details, and kube-native applications running inside k8s cluster shouldn't rely on these information.
There might be use cases like management tools outside k8s cluster utilizing such information.

[2018-09-11 20:01] M00nF1sh commented on #601
Hi Sumit,
I haven't used the helm install personally. But i guess the problem happens because the credentials to access AWS is not set.

either [extraEnv](https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/alb-ingress-controller-helm/values.yaml#L23)(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY) or [podAnnotations](https://github.com/kubernetes-sigs/aws-alb-ingress-controller/bl

[2018-09-11 20:06] M00nF1sh commented on #603
actually i have faced similar issue during testing. I'll dive deep for the root cause once i fixed the issues on my hand.

An workaround for now is to manually kill the pod using `kubectl delete pods/thealbpod -n kube-system`, and the alb controller deployment will kick up a new pod and everything works

[2018-09-12 05:02] NickLarsenNZ opened #606 "[1.0-beta.6] error parsing annotations: Retrieval of subnets failed to resolve 2 qualified subnets."
In `1.0-beta.6`, I was receiving the following error.

[code]

I had followed the docs at https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/docs/ingress-resources.md

I added the following tags to my subnets:
- `kubernetes.io/cluster/mycluster="owned"`
- `kubernetes.io/role/elb` (I tried setting it to `""`, and also `true`, figuring it can probably be anything)

I noticed s

[2018-09-12 12:03] a8j8i8t8 commented on #487
@bigkraig Please let me know if you need any information, happy to help.

[2018-09-12 12:04] argeualcantara commented on #606
It should work for either "" or 1 (1 for the default kops value) as you can see here:
https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/7f13876d63c35cb75a3d50d282f197f35e0f2dcb/internal/aws/albrgt/rgt.go#L82

[2018-09-12 14:13] juancho85 commented on #211
Hi,

I had manually associated an existing WAF with ALBs created using the ingress controller, but I've seen that those load balancers are no longer associated to the WAF after a while. I don't understand why, but I guess it has something to do with the alb-ingress-controller.

Could you please tell confirm in which version is the feature avaiable (I'm currently using 487-https-loops).

I haven't

[2018-09-12 14:42] juancho85 commented on #211
I think I have found the way to configure it from the source code

So in the annotations of the ingress you have to specify the WAF_ACL_ID:

 alb.ingress.kubernetes.io/waf-acl-id: $WAF_ACL_ID

Cheers

[2018-09-12 19:55] murarisumit commented on #601
I will be not be able test it now, since aws access is revoked for me now, but I remember giving enough access to instance via IAM role to the instance, so it can provision the resources. But surely I did not gave the env variables to instance.

If someone else is trying, can see out of this issue, if not I think we can close this issue.

[2018-09-12 20:10] bigkraig commented on #211
@juancho85 Thanks for finding that, definitely a gap in the documentation

[2018-09-12 20:11] bigkraig opened #608 "Documentation missing on configuring WAF"
The `waf-acl-id` annotation isn't mentioned in our documentation. Ideally this is described in `ingress-resources.md`

[2018-09-12 20:13] bigkraig commented on #601
Getting the logs from the container will help, you can get logs for a previously exited container with the `-p` parameter in kubectl.

[2018-09-12 21:47] Jeeppler commented on #559
I have the same issue. I figured out that I only have one eth0 network interface in the beginning. However, the moment I deploy an ingress resource, the AWS ALB Ingress Controller adds two more network interfaces.

EKS cluster is setup and before deploying an ingress resource:
![screenshot from 2018-09-12 16-29-52](https://user-images.githubusercontent.com/2007739/45454551-f3c06280-b6a9-11e8-9fe3-

[2018-09-12 22:00] M00nF1sh commented on #559
A full fix for this issue should be ready by this week(works on both ip mode & instance mode)

For now to unblock you, you can update the deployment of ingress controller to use `docker.io/m00nf1sh/alb-ingress-controller:1.0-beta.7`, which is based on https://github.com/M00nF1sh/aws-alb-ingress-controller/tree/sg-instance-temp-fix
This temporary fix only works for instance mode(`alb.ingress.kubern

[2018-09-12 22:15] ilialev commented on #586
I encounter the same issue on a kops cluster.

`I0912 22:06:47.635380       1 event.go:221] Event(v1.ObjectReference{Kind:"Ingress", Namespace:"default", Name:"staging-alb", UID:"dd79ec50-b69f-11e8-9a8e-12269bb0d504", APIVersion:"extensions/v1beta1", ResourceVersion:"3262111", FieldPath:""}): type: 'Warning' reason: 'ERROR' error instantiating load balancer: InvalidInstanceID.NotFound: The instanc

[2018-09-12 23:05] Jeeppler commented on #559
@M00nF1sh did you create a PR for your fix?

[2018-09-12 23:11] cv commented on #594
This is fixed by #610

[2018-09-13 04:59] M00nF1sh commented on #559
I haven't, since that fix only works for instance target mode. I'm doing a refactoring to securityGroup handling, which will support ip target mode too

[2018-09-13 05:24] cv opened #612 "SslPolicy needs to be changed stuck in loop"
Caught this while scrolling through the logs with the `-v=3` passed on the command line:

[code]

Looks like there something wrong with the comparison between the current and desired  values of `SslPolicy`, but I'm having trouble figuring out where that's being sourced from.

[2018-09-13 12:05] #586 closed

[2018-09-13 16:13] bigkraig commented on #487
@qgriffith-xylem can you run with `--aws-api-debug true` and see what that request looks like? I wasn't able to reproduce it on my side with similar ingresses so i'm having a hard time fixing it. That info might help me produce a test case.

[2018-09-13 16:55] qgriffith-xylem commented on #487
Sure thing, here is the output

I```
0913 16:53:07.483682       1 loadbalancer.go:265] default/sacp-alb: Start ELBV2 creation.
I0913 16:53:07.483993       1 loadbalancer.go:404] Request: elasticloadbalancing/CreateLoadBalancer, Payload: {  IpAddressType: "ipv4",  Name: "3440dd9e-default-sacpalb-bb86",  Scheme: "internet-facing",  SecurityGroups: ["sg-978638e6"],  Subnets: [    "subnet-0f940678",

[2018-09-13 17:50] Jeeppler commented on #559
I just tested if I get the same behavior if I use the walk through tutorial. And I did get the exact same behavior as with the helm chart.

[2018-09-13 18:49] M00nF1sh commented on #559
are you using docker.io/m00nf1sh/alb-ingress-controller:1.0-beta.7 or the one default in "walkthrough tutorial"?
Also, you need to use alb.ingress.kubernetes.io/target-type: instance

[2018-09-13 19:34] Jeeppler commented on #559
@M00nF1sh no, I did not. I used 1.0-beta.6 from the "walkthrough tutorial".

Later I will give your image a try.

[2018-09-14 03:02] sslotnick-isp commented on #594
FYI I was able to produce a similar panic when the certificate exists but cannot be accessed. I was attempting to access a certificate using a cross-account role:

[code]

[2018-09-14 06:45] zioalex commented on #395
@lareeth anything I can help here to merge it?

[2018-09-17 13:17] qgriffith-xylem commented on #487
@bigkraig Anything else I can do to help? This is the last thing on my list to get working before I can go live with k8s. So let me know what I can do to assist. Thanks.

[2018-09-17 14:14] aciddude commented on #570
+1 this would be useful.

I was trying to do exactly what @Tinche is doing..moving to Amazon EKS.

to use a different port for the health check what I had to do was map two ports in my svc file, one for the app and one for the health check

then in the ingress file I specified
[code]

[2018-09-17 16:04] #606 closed

[2018-09-17 19:48] qgriffith-xylem commented on #487
so the new ```defaultbackend-404``` image worked from the stand point it no longer throws a redirect error and 443 listener is created. However everything is throwing a 404 that I try to hit on the ALB. if I hit the app outside of the ALB I don't get a 404 and get the page I expect.

[2018-09-17 19:51] qgriffith-xylem commented on #487
Ok if I remove ```
IF(all match)

Path is /
[code]

[2018-09-17 20:35] r0fls opened #616 "Allow liveness probe to pass before readiness probe completes"
Currently the readiness probe seems to have to complete before the liveness probe can succeed. This doesn't need to be the case.

[2018-09-17 21:11] qgriffith-xylem commented on #487
So I have it working with
[code]
I got one nil pointer it seemed to be because I didn't have enough spaces between backend: and serviceName on the new line. Once I fixed that and re-deployed all was well. Great work @bigkraig

[2018-09-17 22:17] #616 closed

[2018-09-17 22:18] #487 closed

[2018-09-17 22:19] #601 closed

[2018-09-17 22:33] qgriffith-xylem commented on #487
Is it OK to swtich to latest now or can you let us know when it is  merged? @bigkraig

[2018-09-17 23:59] bigkraig commented on #487
@qgriffith-xylem it'll be merged soon but we are still a little bit away from the next beta release

[2018-09-18 00:47] #597 closed

[2018-09-18 10:00] YurkoHoshko commented on #439
hi @grockeek. Do we have any updates here?

[2018-09-18 12:28] NickLarsenNZ opened #619 "Ambiguous error output in checker.go"
While trying to sort out IAM permissions, I noticed each check gives details on authorization errors, except the EC2 check.

https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/c3632cc9b4b7f9e581828f814a33e21cb435d803/internal/ingress/controller/checker.go#L54

**Incorrect EC2 IAM policy results in the following ambiguous log**
[code]

**With surrounding context**:
[code]

[2018-09-18 12:37] NickLarsenNZ commented on #619
I wondered if there should be additional info on which check is erroring.

- Change the range loop to be over `[]interface{}`
- Use reflection to give the `type` name
- Use reflection to call the Status function
_Example (untested)_
[code]

It would be nice if we could use the value of the `const` set in the AWS SDK:
https://github.com/aws/aws-sdk-go/blob/master/service/ec2/service.go#L32

Or perh

[2018-09-18 23:28] bigkraig commented on #619
We could add some structure around the `.Status()` funcs to give a bit more detail. It might be more clear that way than using reflection.

For example, acm has this, where we could pretty easily `fmt.Errorf` some details about it being a `ListCertificates` API query.

[code]

[2018-09-19 01:37] cv commented on #594
@sslotnick-isp is it still happening? #610 fixed it for me, and I can't reproduce the issue anymore.

[2018-09-19 03:18] NickLarsenNZ commented on #619
Yeah, Reflection is probably too big a hammer.
The EC2 `Status()` function does have the same block as the ACM one you show: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/c3632cc9b4b7f9e581828f814a33e21cb435d803/internal/aws/albec2/ec2.go#L802

But just doesn't output the same level of detail in the error returned.

Or did I misinterpret you?

[2018-09-19 04:13] NickLarsenNZ commented on #619
Ah yep, cool.

I'll try to get a PR in tonight. I'll do it for each of the checks just to keep them consistent.

[2018-09-19 10:06] grockeek commented on #439
@YurkoHoshko, @bhegazy : @mikaelrandy just submitted the PR #622 regarding this issue.

[2018-09-19 10:42] NickLarsenNZ commented on #599
It seems like the Backoff times are hardcoded as described here: https://github.com/kubernetes/kubernetes/issues/57291

I'm not sure there's anything else you can do other than restarting the pod (which doesn't impact traffic except for the broken Ingress.

I think the real solution is to probably have better validation of the Ingress config to avoid panics.

[2018-09-19 15:34] #619 closed

[2018-09-19 19:53] dokipen commented on #559
@M00nF1sh tried docker.io/m00nf1sh/alb-ingress-controller:1.0-beta.7 and healthprobe 500s. Manually disabled health probe and still no love. eventually exits with this error:

[code]

[2018-09-19 20:48] dokipen commented on #559
It appears that /etc/resolv.conf was pointed at kube-dns IP, which isn't working. Not sure if this is specific to me or not.

[2018-09-19 21:09] oiny-jenkins opened #625 "attempts to reconcile ingress in valid state disrupts deployments (continuous attempts to delete valid target group)"
The ingress controller attempts to reconcile an ingress, by deleting a target group that is in use and attached to an active listener associated to an ALB deployed by the ingress controller. These continued failed attempts to reconcile create an increased delay in further reconciliation attempts which interferes with service deployments and the addition of new targets to the ALB target group.
Why

[2018-09-19 23:31] M00nF1sh commented on #625
Hi,

I'll try to reproduce it.
BTW, don't run the ingress controller with replicas=2, that will cause corruption.
only use one replicas, i'll update them to be replicas=1 and use stateful set to enforce it later

[2018-09-20 00:16] M00nF1sh commented on #559
Hi bob,
It's not related to this issue, seems you cannot connect to aws tagging api somehow.
(would you check your node's securityGroup settings), and in your pod, try ping other outside world and see what happens.
e.g. `kubectl exec alb-ingress-controller-fd76994bd-qnw9p ping www.google.com -ti -n kube-system`

BTW, /etc/resolv.conf always points to kube-dns, that correct.

[2018-09-20 00:31] M00nF1sh commented on #509
@argeualcantara @bigkraig
both issue should be resolved by https://github.com/kubernetes-sigs/aws-alb-ingress-controller/pull/614

[2018-09-20 00:31] #509 closed

[2018-09-20 00:39] M00nF1sh commented on #580
@cjbottaro
What's your exact problem with amazon-vpc-cni?
If it's amazon-vpc-cni  issue, you can update to their latest image(fixed a lots of bugs)
If it's the ip targeting mode in alb, can you try my latest change in `quay.io/coreos/alb-ingress-controller:37cfd6f`, which should have pod ip targeting works reliably.

[2018-09-20 02:13] oiny-jenkins commented on #625
Thanks for the advice! Ill try reducing the replicas and attempt to reproduce.

[2018-09-20 03:05] cjbottaro commented on #580
I gave up on amazon-vpc-cni. We've been using rube-router with no issues.

The problem is kube-router doesn't allow directly routing to pods from outside the cluster, hence the need for NodePort and using `target-type: instance` and the reason for opening this feature request.

I have tried amazon-vpc-cni v1.1.0 (the latest version). I don't know why, but after some time passes, the pods will stop

[2018-09-20 13:02] vallurupallikhetan commented on #446
I an facing an issue once the deployment file is updated new pods are generated but the ip of the pod is not updated in the Target group (using EKS cluster).

[2018-09-20 13:07] vallurupallikhetan opened #628 "Target Groups not updated when pods are updated or recreated in EKS cluster"
I am facing an issue using alb-ingress-controller everything works good but unfortunately once the deployment file is updated in the cluster and applied new pods are generated but the ip of the pod is not updated in the Target group (using EKS cluster).

[2018-09-20 13:32] spacez320 commented on #446
@grahampfau Sorry, I wasn't involved in the actual diagnosis, so I don't have more details to share unfortunately.

[2018-09-20 18:08] dokipen commented on #559
It was a separate issue, my SGs were preventing DNS traffic across nodes. Works when that is resolv'd ;).

[2018-09-20 19:43] #588 closed

[2018-09-20 21:11] oiny-jenkins commented on #625
update: I downsized the replica value to 1. Im still seeing attempts to reconcile the ingress by deleting a target group with healthy targets, attached to a port :80 listener on an active ALB.

[2018-09-20 22:55] bigkraig commented on #591
This was resolved in #621

[2018-09-20 22:55] #591 closed

[2018-09-21 14:32] devkid opened #632 "alb.ingress.kubernetes.io/healthcheck-protocol should default to alb.ingress.kubernetes.io/backend-protocol"
The health check protocol setting (`alb.ingress.kubernetes.io/healthcheck-protocol`) should not default to `HTTP`, but to the value of `alb.ingress.kubernetes.io/backend-protocol` (which in turn defaults to `HTTP`) so that the health check protocol is set to `HTTPS` automatically if you set the backend protocol to `HTTPS`.

[2018-09-21 20:49] sashanka-kandala commented on #559
Thank you @M00nF1sh,
It is working now. But, pages are not loading properly while using those alb's.
I am using the latest version of alb controller and testing with 2048-game example.
target type:ip

<img width="1330" alt="2048" src="https://user-images.githubusercontent.com/42077021/45905349-0fb8b800-bdbe-11e8-8318-43478508aa03.png">

[2018-09-21 22:35] M00nF1sh opened #635 "2048 example not working"
the css/styles won't render

[2018-09-21 22:39] M00nF1sh commented on #559
Hi Sashanka,
The issue of 2048 can be resolved by https://github.com/kubernetes-sigs/aws-alb-ingress-controller/pull/636, (only need to update path:/ to path:/*)

I'll resolve this issue 😸

[2018-09-21 22:39] #559 closed

[2018-09-22 00:34] #635 closed

[2018-09-22 01:12] #363 closed

[2018-09-22 01:12] #536 closed

[2018-09-22 01:12] #603 closed

[2018-09-24 14:54] jeremyweber-np opened #638 "No targets registered with target-type instance"
Im working through example here: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/docs/walkthrough.md, without the EKS portion of things as I am running within rancher.  ALB gets created and the target group also gets created, but no targets have been registered in the Target Group.  If i switch to IP type I do see an instance registered, but the target is not routable as

[2018-09-24 18:15] abruehl commented on #343
@sashanka-kandala I had this issue on EKS and can confirm the PR from @lbernail fixes it.

Thanks @lbernail !

Side note, I also needed to grant `ec2:ModifyNetworkInterfaceAttribute` in addition to whats in the docs.  I'm not sure if this was related to @lbernail or something else I picked up

[2018-09-25 05:49] xdrus opened #639 "Better logging when AWS API endpoint is unreachable"
Hello,

This is a feature request to make troubleshooting easier :) I've spent a lot of time trying to figure out the issues with alb controller caused by network connectivity to AWS API:

Due to some proxy issues in our env ALB ingress controller couldn't reach out to AWS API endpoint, but instead of logging errors or something it just failed after "aws-max-retries" attempts, restarted and starte

[2018-09-25 21:40] cmachler commented on #625
I am seeing the same issue when I updated my rules:

Ingress Resource:

[code]

Here is the log from the alb-ingress-controller:

[code]

[2018-09-26 08:46] spucman opened #642 "No subnets defined or were discoverable when setting healthcheck-port"
When adding the annotation for a different `healthcheck-port` no subnet can be found or defined.

Environment:
* Kuberentes v1.10.5 (1 master, 2 nodes)
* kube2iam
* aws-alb-ingress-controller 1.0-beta.6 & latest

The setup is up & running and the provided echoservice example was working like a charm.

If the echoserver-ingress.yml gets a healthcheck-port added no subnet can be auto configured nor

[2018-09-26 13:25] disha1104 opened #643 "Healthcheck-interval-seconds not getting updated"
Hi,
I am using the annotation : `alb.ingress.kubernetes.io/healthcheck-interval-seconds: '250'` in my ingress yaml, but when I am trying to update this to some other value, it is not getting updated on ALB.
Also, there are no logs wrt to this in alb-ingress-controller pod.

Is there any config that I am missing?

[2018-09-26 18:31] tavisma opened #645 "1.0-beta.7 upgraded from beta.6 crashes over and over again with "ThrottledException: Rate exceeded""
Downgrading back to beta.6 works without issue
Here is the container log:

[code]

[2018-09-26 18:45] bigkraig commented on #645
Did it crash with an exception or was the throttle error repeated?

[2018-09-26 18:47] tavisma commented on #645
The pod crashed with no other output, and the whole process would repeat again and again

[2018-09-26 18:52] tavisma commented on #645
Turning on api debugging shows a very large number of requests that look like this:
[code]

[2018-09-26 18:53] tavisma commented on #645
Followed by:
[code]

[2018-09-26 18:54] tavisma commented on #645
I could email you the full debug log with api-debugging enabled if it would help

[2018-09-26 18:59] stevenpall opened #646 "1.0-beta.7 Changes Listener Rules to Fixed 404 Response"
Hi there,

I just tested the new beta tag and unfortunately noticed that all of my ingress load balancers' listener rules were altered to a single fixed response (404) rule instead of pointing at their corresponding target groups. Reverting to `1.0-beta.6` fixed the issue. This seems like a fairly major bug.

I'm wondering if this could be related to [this](https://github.com/kubernetes-sigs/aws-a

[2018-09-26 19:06] bigkraig commented on #645
shoot it to kraig.amador@ticketmaster.com and i'll have a look. It's normal to make those requests and depending on what is in the account, it may need to make a lot of them. It's not normal to quit and it should handle throttling.

[2018-09-26 19:10] bigkraig commented on #646
Yeah that is related to that PR. Can you describe how your ingresses are configured so I can check that there isn't something misconfigured or unexpected?

[2018-09-26 19:18] bigkraig commented on #645
Hold on, I believe the throttle error is being cached. Let me see if I can quickly reproduce and fix.

[2018-09-26 20:15] stevenpall commented on #646
Here's a sample ingress:
[code]

[2018-09-26 20:21] bigkraig commented on #646
You need the path to be `/*`, since the default route was leveraging the first rule in the ingress, this was working in the past. This is something that just happened to be working for a lot of people, even in the examples.

See how it is done now: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/blob/master/examples/2048/2048-ingress.yaml#L16

[2018-09-26 20:30] stevenpall commented on #646
Ah, makes sense. I'll give that a shot. Thanks!

[2018-09-26 20:30] #646 closed

[2018-09-26 23:04] oiny-jenkins commented on #625
Awesome👏🏽👏🏽👏🏽

Sent from my pocket
Get Outlook for Android

________________________________
From: M00nF1sh <notifications@github.com>
Sent: Wednesday, September 26, 2018 6:21:31 PM
To: kubernetes-sigs/aws-alb-ingress-controller
Cc: NYC Oiny Systems; Author
Subject: Re: [kubernetes-sigs/aws-alb-ingress-controller] attempts to reconcile ingress in valid state disrupts deployments (continuous attemp

[2018-09-26 23:12] M00nF1sh commented on #625
I'll replace the new release we just cut((1.0-beta.7) to include this change too 😄

[2018-09-26 23:44] jakubkulhan commented on #298
I've created another ingress controller that combines multiple ingress resources into a new one => https://github.com/jakubkulhan/ingress-merge

Partial ingresses are annotated with `kubernetes.io/ingress.class: merge`, merge ingress controller processes them and outputs a new ingress annotated with `kubernetes.io/ingress.class: alb`, then ALB ingress controller takes over and creates single AWS l

[2018-09-26 23:52] #645 closed

[2018-09-27 00:08] lemonshow commented on #577
We have a use case to poll ALB status once it is being created.
1. We use AWS SDK for this purpose now.
AWS ALB can be retrieved using either ALB ARN or Name(ingress controller will generate ALB name based on namespace, ingress name and hash prefix.). Otherwise we have to loop through all the list and find the match for hostname/IP.
We can add annotation for alb name, that will be helpful,
ingress

[2018-09-27 00:10] M00nF1sh commented on #628
@vallurupallikhetan
Would help try our new release: quay.io/coreos/alb-ingress-controller:1.0-beta.7
It fixed multiple issues for targetType:ip, should have solve your issue.

[2018-09-27 00:18] M00nF1sh commented on #568
@krmcbride
Hi Kevin
Sorry for the late update. I believe this issue is solve by our new release `quay.io/coreos/alb-ingress-controller:1.0-beta.7`.
And i just verified it with your testcase  😄

[2018-09-27 00:18] #568 closed

[2018-09-27 00:38] M00nF1sh commented on #577
Hi,
For now, you can still directly get the alb without looping through 😄
alb created with be tagged with below tags:
- kubernetes.io/cluster/{your cluster name}:  owned
- kubernetes.io/namespace: {your namespace}
- kubernetes.io/ingress-name: {your ingress name}
So you can directly get that alb by query using resource tagging api with above tags:  https://docs.aws.amazon.com/resourcegroupstagging

[2018-09-27 01:16] sagoon commented on #582
yes.

Best Regards,
*Govinda Giri*
*Architect of** Sagoon  *
[image: Related image] <http://www.sagoon.com/invest>
<https://play.google.com/store/apps/details?id=com.sagoon.connect.share.earn&hl=en>

CONFIDENTIALITY NOTICE: This message, including attachments, may contain
proprietary, confidential and privileged information for the sole use of
the intended recipient(s), and is protected by law. If

[2018-09-27 06:39] lemonshow commented on #577
Cool, resource tagging API should solve the current problem. thanks,

[2018-09-27 06:40] #577 closed

[2018-09-27 14:56] stevenpall commented on #543
@bigkraig Should I open a new issue for this ^?

[2018-09-27 14:59] bigkraig commented on #543
Yes please @stevenpall

[2018-09-27 15:41] bigkraig commented on #643
Do you have annotations on the services? There was a bug in pre 1.0-beta.7 versions that could have caused something like this.

[2018-09-27 15:41] bigkraig commented on #642
Can you try with 1.0-beta.7? we had some problems with annotations in .6

[2018-09-27 15:47] disha1104 commented on #643
Hi @bigkraig What exactly do you mean by annotations on services? Could you point me to some example?
I am just using annotations on the ingress.

[2018-09-27 15:49] bigkraig commented on #643
yeah that is what I meant, you can also configure healthcheck annotations on services incase you have multiple services in an ingress that need different settings.

Can you try with the `1.0-beta.7` image and see if this persists?

[2018-09-27 15:52] disha1104 commented on #643
No, we wanted to keep same settings for all services.
Also, currently I was using just a single service/host with that ingress. Should that be a problem? I am using 1.0-beta.6 right now.