[2022-04-27 15:47] kaykhancheckpoint commented on #2627
You can see my full terraform config i am creating a iam-assumable-role-with-oidc

[code]

[2022-04-27 16:02] kishorj commented on #2627
If IRSA was configured, I'd expect to see `arn:aws:iam::<redacted>:role/geeiq-test-k8s-aws-loadbalancer-controller` instead of `arn:aws:sts::700849607999:assumed-role/worker-group-eks-node-group-20220427070929725900000001/i-015251056f40ce440` in the error logs.

Please verify the following

- check if your serviceaccount has the annotation
[code]

- controller pods have the aws-iam-token volume
[c

[2022-04-27 17:04] kaykhancheckpoint commented on #2627
Just on the first one i can see the service account does not have that annotation.

[code]

Id assume it should given that i have set that in helm

[2022-04-27 17:21] kaykhancheckpoint commented on #2627
I'm not seeing the others

kubectl describe pod aws-load-balancer-controller-685b7dd97f-7wd65 -n kube-system

[code]

[2022-04-27 17:38] kaykhancheckpoint commented on #2627
Im sure IRSA has been enabled already (https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/setting-up-enable-IAM.html)

**aws eks describe-cluster --name geeiq-test-k8s --query "cluster.identity.oidc.issuer" --output text --region eu-west-2**

[code]

Not sure what's going on here...

[2022-04-27 18:14] ejholmes commented on #2366
That's an interesting finding. Is there some documentation you can point to that highlights this (assuming it's AWS side)?

[2022-04-27 19:38] mbyio commented on #2366
I believe it is all on AWS' side yes. No I couldn't find any documentation about this. All due respect to AWS engineers, their ELB documentation is horrible, missing a lot of important information. I found this by writing some programs that use raw TCP connections (so I can monitor every aspect) and manually triggering deregistration in various ELB configurations to record the timing. It consisten

[2022-04-27 22:10] kishorj commented on #2627
@kaykhancheckpoint, unless the service account has the `eks.amazonaws.com/role-arn: <role>` annotation before the lb controller pods start up, the IRSA configuration doesn't get injected to the controller pods. It looks like your workflow is not adding the annotation. You want to setup the service account with the annotation and the necessary IRSA setup first, then install the helm chart by settin

[2022-04-27 22:19] kaykhancheckpoint commented on #2627
The service account is being managed by helm, the Aws load balancer chart is the one creating the service account ?

Is the expectation that the service account should be created seperatly and prior to installing the chart ?

[2022-04-27 22:23] kishorj commented on #2622
@sjmiller609, one option is to use TargetGroupBinding - you create the NLB and the target groups with desired configuration, then use TargetGroupBinding to bind each of the target groups to the backend service.

/kind feature

[2022-04-27 23:38] kishorj commented on #2627
@kaykhancheckpoint, the only requirement is the service account exist with the `eks.amazonaws.com/role-arn:` annotation at the time controller pod gets created. In your case, the annotation is not set on the service account means the intended annotation values did not get passed to helm chart. Looking at your template, I see `rbac.serviceAccount.*`, not sure if you intended to set the `serviceAcco

[2022-04-27 23:42] BrianKopp commented on #2366
In your testing, did the target group state for the target show the ip as draining while it was receiving packets still? Did it receive packets after the target dropped completely out of the target group? I've got a project I'm working on to add a delay in the prestop hook to wait until the ip is out of the target group. Would that be helpful here?

[2022-04-28 05:29] Vieufoux opened #2628 "no matches for kind "IngressClassParams" in version "elbv2.k8s.aws/v1beta1""
**Describe the bug**
Getting the following error:
[code]

**Steps to reproduce**
Follow this guide https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/installation/#apply-yaml to add controller to cluster(Via YAML manifests)
kubectl apply -f v2_4_1_full.yaml

**Expected outcome**
Did not expect the error.

**Environment**
* AWS Load Balancer controller version 2.4.0
* Kubern

[2022-04-28 05:43] Vieufoux commented on #2628
[code]
fix my problem

[2022-04-28 05:43] #2628 closed

[2022-04-28 06:13] Eran-BenShahar commented on #1572
+1

[2022-04-28 07:04] kaykhancheckpoint commented on #2627
yeah ofcourse i intended to set these`serviceAccount.*` values.
[code]

Im very confused what you are trying to tell me. I fully understand that there is something one with the created serviceAccount, for example it not having any annotation (eks.amazonaws.com/role-arn:).

But what im trying to understand which has not been made clear to me so far,  **if i specify the above 3 (`rbac.serviceAccount

[2022-04-28 07:47] kaykhancheckpoint commented on #2627
Something ive noticed whether i set `rbac.serviceAccount.create` it always creates a service account called `aws-load-balancer-controller`

Which means if i create a service account, outside of this helm chart i get the following error.

helm_release.aws_load_balancer_controller: Creating...

[code]

[2022-04-28 08:39] kaykhancheckpoint commented on #2627
**If i install the chart via the helm cli**

[code]

 It installs successfully now

[code]

**But via terraform it does...**

[code]

[code]

Im using the same value for the variables...

[2022-04-28 08:48] kaykhancheckpoint commented on #2627
I finally found out the issue.

I have been using `rbac.serviceAccount.*` which was appropriate in an older version of this chart but the new values are `serviceAccount.*`

[2022-04-28 08:48] #2627 closed

[2022-04-28 08:58] kaykhancheckpoint commented on #2557
Im having the same problem now, can you detail how you fixed this issue?

[2022-04-28 11:08] obvionaoe commented on #228
Hi, any news on this? @M00nF1sh

[2022-04-28 13:08] nbourdeau commented on #1834
Anyone has any update on this ? Do we have a way to determine when the registration is actually completed and pod start receiving requests from the NLB ?

[2022-04-28 14:16] nabadger opened #2629 "Allow non-unique `group.order` to support more options around rule evaluation order"
**Problem**

I would like to have more control over rule evaluation order.

My goal is define a common Ingress (and set of rules) that get evaluated first.

In this instance, it would be to define global deny policies for urls such as `/healthz` and `/readiness` (that return http forbidden)

I would prefer to only define this once (not per `Ingress`) to avoid getting closer to rule limits on AWS.

[2022-04-28 14:29] keperry commented on #1834
@nbourdeau - use pod readiness gates. They are super easy to setup and essentially your pod will not be considered ready until the LB sees the target as healthy. Unfortunately, deployments are slow, but at least with pod readiness gates they are stable.

[2022-04-28 14:44] cpatanjali opened #2630 "Failed to create Ingress Address when updated the annotation alb.ingress.kubernetes.io/wafv2-acl-arn"
**Describe the bug**
We have had an old AWS WAF WebACL but we have updated our WAF so the arn and resource id has changed. Updated the same in our annotations and since then the ingress is not connected to External ALB. We are using helm chart for aws-load-balancer-controller. While describing the ingress we got the following warning

Failed build model due to conflicting WAFv2 WebACL ARNs: [arn:a

[2022-04-28 15:10] nbourdeau commented on #1834
Well in my use case this is not really usable because it is a singleton deployment with an EBS volume mounted and I cannot have 2 pods with same volume running at the same time ...

But the strange thing is the NLB target is marked healthy in the target group but there is still a delay before the pod actually start receiving requests ... will that even work with pod readiness gates ?

[2022-04-28 17:57] mbyio commented on #2366
Yes, it did correctly show the IP on the target list as draining as soon as I requested deregistration. And when it was removed from the target list, it also stopped receiving new connections. So, if a tool was monitoring the target list and used that to delay sending SIGTERM to a pod until the pod is out of the target list (eg. using preStop), that would solve the problem. It would be the opposit

[2022-04-29 14:01] rampn443 opened #2631 "Websocket Error: Invalid HTTP upgrade", code: 404"
**Describe the bug**
We have deployed an ALB for our spingboot application which consists of both Rest and Websocket services hosted in EKS cluster. We have added health check, ssl redirect etc. annotations in the ingress.yaml file. The listener is HTTPS: 443 and the SSL certificate is from ACM.

When we hit the ALB endpoint, rest service is working fine but receiving the following error with the

[2022-04-29 19:04] rampn443 commented on #669
Does ALB support adding custom headers for now ?

[2022-04-29 19:52] paul-civitas opened #2632 "No good story for http->https redirects when using a HTTP2 backend"
The general instructions for creating a http->https redirect with the ALB controller are thus:

[code]

What this does is creates the paths for both 80 and 443. But then in front of the 80 one it puts a redirect in front.

However if you have a HTTP2 backend, then it can't create a port 80 path directing http traffic to a HTTP2 backend. So it will freak out and say it couldn't build the model then

[2022-04-29 20:08] paul-civitas opened #2633 "alb.ingress.kubernetes.io/security-groups doesn't work"
When you add a security group, it won't allow access to it from the nodes basically.

It would be much more intuitive if the annotation could be used to add **additional** security groups in addition to the kube managed ones.

This way you could easily add access for VPN or bastion users or similar without getting a massive headache.

I ran into this while trying to work around #2632 I created a h

[2022-04-29 20:24] #2632 closed

[2022-04-29 20:24] #2633 closed

[2022-04-29 20:43] sjmiller609 commented on #2131
Update, this configuration has been working perfectly for a few weeks:

[code]

[2022-04-30 05:16] ngoyal16 commented on #2203
@kishorj  any ETA for v2.4.2 patch release

[2022-05-02 00:10] voldemortensen commented on #2373
/remove-lifecycle stale

[2022-05-02 07:12] cpatanjali commented on #2630
Closing this issue since, This is from our end, we are using same group-name for multiple services. By updating the value in one service it was conflicting with ARN's from other services.

[2022-05-02 07:12] #2630 closed

[2022-05-02 07:24] nfeltrin-dkb commented on #2234
@M00nF1sh wouldn't it be possible to implement it in a similar way to what has been done for ALBs? In that case (if I read the [docs](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#group.name) correctly), using the same `alb.ingress.kubernetes.io/group.name` annotation causes multiple k8s ingresses to be created as rules in a single ALB. I would expe

[2022-05-02 08:25] pk-hugo commented on #1182
@ns0092, can you please share some details on how you have added the `kubernetes.io/role/elb: 1` and  `kubernetes.io/role/internal-elb: 1 ` to your configuration?

[2022-05-02 09:10] vsaikrish commented on #1182
@pk-hugo, you need to add the as tags for your subnets on which you wanted your load balancers to be created.

[2022-05-02 09:59] pk-hugo commented on #1182
Is there way we can do without manually going to aws console and adding tags?

[2022-05-02 13:00] blevine commented on #228
@aramkarapetian could you give more specifics about how you use an Ingress group annotation to accomplish this?

[2022-05-02 13:38] GuilleAmutio commented on #1572
+1

[2022-05-02 13:39] vsaikrish commented on #1182
We used Terraform and python for the same to automate it.

[2022-05-02 21:55] mprimeaux commented on #2238
@mballoni To get proxy-protcol to work and to see the real IP addresses, we used both service annotations and config map settings on the [NGINX Ingress Controller](https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx) as follows:

[code]

You'll of course want to replace the `proxy-real-ip-cidr` with a value that is applicable to your VPC. Here is the full values file for ref

[2022-05-02 22:34] alanprot commented on #2354
/remove-lifecycle stale

[2022-05-02 22:35] alanprot commented on #2354
I think this is still relevant!

[2022-05-03 10:10] kaykhancheckpoint opened #2637 "Echoserver example alb returning 404"
Hi friends i have installed the aws-alb-load-balancer-controller v2.4.

I have followed the guide to create the example echoserver. https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/examples/echo_server/

Everything was successfull and the controller created the ingress which i can see in my aws dashboard.

However when i make a simple get request to the `generated dns name` i ex

[2022-05-03 13:08] vmasule commented on #2419
@kishorj Any updates pls?

[2022-05-03 13:12] lqychange opened #2638 "LoadBalancer Controller should not try to delete LB resource which is not created by itself"
**Is your feature request related to a problem?**

Have project "A "deployed in EKS "A" with service type of "LoadBalancer", alone with  LoadBalancer controller "A". The LB controller have provisioned an internal NLB, as well as a TargetGroup registered in this NLB as a listener.  And for this project, a VPC Link also being provisioned alone with the NLB, and being used in API GW.

Now we have pro

[2022-05-03 16:32] mballoni commented on #2238
Thank you @mprimeaux !

Still figuring out the correct values of proxy-real-ip-cidr, it already helped a lot.

One last think, my NLB is internal. For now the DNS points directly to it and its only accessible within our VPN. Is it relevant?

In the near future we will add an ALB with WAF outside this setup and stop pointing the DNS directly to our NLB, is it right to assume the only configuration

[2022-05-03 19:01] blackheaven commented on #2615
Updating to 1.21 fixed the issue.

[2022-05-03 19:01] #2615 closed

[2022-05-04 11:54] #2637 closed

[2022-05-04 22:19] kishorj commented on #2638
@lqychange,
In the current design, we don't support using an externally created load balancer. You could label an existing load balancer with the appropriate label, and the controller picks up the load balancer, however, controller will not be able to determine whether the resource is external. Using an externally created load balancer is a feature request.

You've also mentioned EKS "A" and EKS "

[2022-05-04 22:24] kishorj commented on #2631
@rampn443, could you check if the comments from a prior issue https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1090#issuecomment-561842212 helps?
If not, would you be able to share the ingress spec?

[2022-05-04 22:26] kishorj commented on #2629
/kind feature
thanks for the PR. we will review it and try to include in the next patch release.

[2022-05-04 22:27] kishorj commented on #2625
@samceena, I'm closing the issue. If you have further concerns, feel free to reach out or create a new issue.

[2022-05-04 22:27] #2625 closed

[2022-05-04 22:31] kishorj commented on #2623
@meyerkev, are you looking for the controller to automatically import the certificate into ACM in this case? The ALB listener certificate has to come from ACM.

[2022-05-04 22:36] kishorj commented on #2621
@sameer2800, I'm closing the issue. If you are unable to get it work with the recent v2 release, feel free to reopen or create a new issue.

[2022-05-04 22:36] #2621 closed

[2022-05-04 22:37] meyerkev commented on #2623
Yeah, I figured that out.

Right now as a workaround, I've got a 15-year cert until I can automate that.  Is that a requirement of ALB's or is it a limitation of the controller that can be fixed by me?   (Eventually when I'm not working nights and weekends)

[2022-05-04 22:45] kishorj commented on #2619
@sn-asownie,

We support this configuration.

From the logs we are not able to figure out any errors. If this issue still exists, would you be able to send the full controller logs to k8s-alb-controller-triage AT amazon.com. Also, please consider opening a support case with AWS support.

[2022-05-05 08:46] dcarley commented on #2366
We were told this by AWS support:

Sleeping for 180s (3m) still hasn't been reliable for us though, so we're currently at 240s (4m) 😭

[2022-05-05 08:55] nirnanaaa commented on #2366
we've actually started sharding our services across multiple aws accounts/eks clusters, just to lower the number of pending/throttled API requests and to increase the speed at which each controller can operate.

But then again: the probability of this error happening is still not zero. On a new AMI release we frequently experience dropped packages (even with X seconds of sleep as preStop)

[2022-05-05 13:32] genieai-vikas commented on #2599
@kishorj @M00nF1sh Thanks it is working now.  Also is there any way I can throw a custom error or error 510 when

`HttpHeaderName": "dummy"` value is wrong or missing?? Right now I get a 404 error can I change it to a 510 error?

[2022-05-05 22:06] mbyio commented on #2366
I think the controller should automatically add a preStop hook to pods, which waits until the controller indicates it is safe to start terminating. That would nip this in the bud once and for all.

[2022-05-05 23:28] kishorj commented on #1788
@rdubya16, the v2 controller adds a resource tag with the key `elbv2.k8s.aws/cluster` with the current clusterName as the value. You could also configure controller instance to add additional tags. Would it not be possible to lockdown the IAM permission per controller based on the specific tag values?

[2022-05-06 20:57] NathanFRuiz opened #2640 "Choose the ports to allow on nodegroup security group"
**Is your feature request related to a problem?**
During PCI audition the port range used on the nodegroup security group was raised as a issue.

**Describe the solution you'd like**
A way to restrict the rule to specific ports or a way to disable the rule creation and let the admin create the rule by themself?

[2022-05-07 13:21] #2253 closed

[2022-05-07 19:09] skamalj opened #2641 "Ingress Address not updated when cluster has Private Nodes"
**Describe the bug**
I have a cluster where nodes do not have internet access (no NAT or anything else).
ALB Controller creates a ALB, which I can see in the console, and this URL, taken from [AWS](url) console,  takes me to application page and it opens and works all ok.

The problem is ingress fails to update with this endpoint. The error is
" Failed Deploy Model due to Request error send reques

[2022-05-07 19:12] skamalj commented on #2641
I have tried this for both internet-facing and internal ingress,  both result in same error.

[2022-05-07 19:40] andradedpg commented on #699
It still happens :(
Anyone?

[2022-05-08 07:21] skamalj commented on #2641
I have worked around by adding these 3 settings while deployment.
  --set enableShield=false \
  --set enableWaf=false \
  --set enableWafv2=false

I think for now , if required, these will need to be enabled manually on load balancers later on.

[2022-05-08 07:49] tracycyx opened #2642 "unable to determine AWS Shield subscription state elasticloadbalancing.ap-east-1.amazonaws.com/\": dial tcp 13.248.36.93:443: i/o timeout"
creating alb ingress and meet below erros , i am using 2.4.2 ingress controller , sg outbound for all traffice , inbound already open to port 443 with cidr 13.248.0.0/16 and 52.94.0.0/16 . bUt still can not creaet alb successfully . While these events triggered during alb creation ? is it possible to disable ? or how to fix this issue ?

{"level":"error","ts":1651994781.9259355,"logger":"controlle

[2022-05-08 09:20] tracycyx commented on #2642
the elb has been solved after i added an elb endpoint , may i know whether we could disable below event even i add annotation alb.ingress.kubernetes.io/shield-advanced-protection: 'false' ; it is still there
{"level":"error","ts":1651994781.9259355,"logger":"controllers.ingress","msg":"unable to determine AWS Shield subscription state, skipping AWS shield reconciliation","error":"RequestError: sen

[2022-05-08 23:35] #2288 closed

[2022-05-08 23:48] obiordu opened #2643 "Upgrading from alb load balancer controller v2.1.3 and earlier incorrect documentation"
Describe the bug

From multiple tests carried out to upgrade AWS ingress from v2.1.2 on chart 1.1.4 to v2.1.4 on chart 1.4.1,

the use of the '--set service account.create=false' flag in the helm upgrade command causes the existing service account 'aws-load-balancer-controller' to be deleted and causing the entire upgrade to fail with consistent crashloopbackoff as the pods can no longer access th

[2022-05-09 12:22] viperx77 commented on #2065
I am still stumped if this is supposed on the 2.4.1 version of the controller. The documentation for TargetGroupBinding states _"This will allow you to provision the load balancer infrastructure completely outside of Kubernetes but still manage the targets with Kubernetes Service."_ I still am unable to understand how to make this work. I've provisioned an ALB and TargetGroup via terraform. I cann

[2022-05-09 15:09] ryanfaircloth opened #2644 "Enhance Helm chart to create CRDs"
**Is your feature request related to a problem?**
I'm frustrated that applying CRDs is not possible using helm. This makes bootraping a cluster more complicated than it should be especially with terraform

**Describe the solution you'd like**
Enhance the helm chart to use allow optional createCRDs flag

**Describe alternatives you've considered**
workarounds

[2022-05-10 07:57] rahul-chawla commented on #1182
i have also same error but i have done tagging on subnets but error is not fixed

[2022-05-10 07:58] rahul-chawla commented on #1182
I also want to do this with terraform can u give me idea how I can do this

[2022-05-10 11:34] albgus commented on #1719
I'm also seeing this issue, but I think it's not necessarily an issue with the LB Controller? It seems draining for NLBs doesn't work as I would have expected. Instead of stopping new connections and letting existing connections continue it continues to send new connections to the draining targets for a while.

From my testing the actual delay for a target to be fully de-registered and drained see

[2022-05-10 11:35] rahul-paigavan opened #2646 "Need parameter/option to set annotation for IngressClass in helm chart"
**Describe the bug**
Need an option/parameter to add annotations to IngressClass in helm chart.

**Steps to reproduce**
Values file currently do not have an option to specify the annotations for IngressClass the is getting created.
I would like to have below annotation set:
[code]

**Expected outcome**
After specifying the parameter with annotation it should get added to IngressClass.

**Environme

[2022-05-10 16:18] ryanfaircloth commented on #2644
Thanks docs don't mention that

[2022-05-10 19:51] roma28MFB opened #2647 "POD Not Running - alb ingress"
**Describe the bug**
Hello, I created an alb ingress pod but it does not run and shows me the following errors when consulting the log.

F0510 19:31:06.485643       1 main.go:107] no matches for kind "Ingress" in version "extensions/v1beta1"
W0510 20:02:08.403456       1 config.go:46] Environment variable configuration is deprecated, switch to the --aws-region flag.
W0510 20:02:08.403831       1 c

[2022-05-10 20:35] kishorj commented on #2647
@roma28MFB, you will not be able to run controller version 1.1.9 on k8s 1.22 or later. You will need at least controller version v2.4.0.

[2022-05-10 23:40] #2559 closed

[2022-05-11 19:22] Aminechakr commented on #1244
The link is broken

[2022-05-12 03:42] adammw commented on #2523
@kishorj any updates on this from the service team? we have started internally using the controller with the linked PR in the meantime to aid in management of BYOIP EIPs.

[2022-05-12 07:36] itskingori commented on #1571
/remove-lifecycle stale

[2022-05-12 08:30] rmalenko commented on #1181
I have got the same issue

[2022-05-13 01:09] crawforde commented on #2263
/remove-lifecycle stale

[2022-05-13 08:25] KamikazeZirou opened #2650 "[Feature] TargetGroupBinding for TargetGroup outside of ALB Controller's VPC"
## Is your feature request related to a problem?

I'd like to bind pods to a TargetGroup in a VPC outside the EKS cluster. A similar feature was added in #1862, but it does not work in my case.

The infrastructure configuration I would like to build is shown below.
![image](https://user-images.githubusercontent.com/33488934/168240993-e11b26c0-1857-4086-8592-fc4a12f487b0.png)

When registering the

[2022-05-13 10:40] aksharj commented on #1224
Hi i am trying the same but link returns  a 404 page https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/ingress/annotation/#actions

[2022-05-13 11:22] FernandoMiguel commented on #2558
Our team has gone with a different ingress controller, so I'm no longer actively working on this code base.
I'll close this for now, and may reopen in the future, if we are back to this controller.
thank you.

[2022-05-13 11:22] #2558 closed

[2022-05-13 19:42] roma28MFB commented on #2647
@kishorj, thanks for you asnwer

[2022-05-13 19:42] #2647 closed

[2022-05-16 21:27] mbeaucha opened #2651 "Existing targets removed when creating TargetGroupBinding for exisitng NLB TG"
**Describe the bug**
I have existing NLB and target groups using IP target mode. The TGs have existing targets in them from another deployment mechanism (in this case an ECS service). I defined/deployed a new TargetGroupBinding to add the same type of service under EKS, and when doing so all the existing targets in the TG are removed, and only the TargetGroupBinding targets are present.

**Steps t

[2022-05-17 10:52] TheMatrix97 commented on #2234
I think this is a needed feature, in our case, ALB isn't a feasible option, as our services use simple TCP / TLS. It makes no sense having to deploy one nlb per service, is a waste of resources. Adding some kind of  `service.beta.kubernetes.io/group.name` would be perfect :)

[2022-05-17 11:42] Skaopap opened #2652 "Add support for multiple VPC"
Hello,

In our use case we have :
- A fonctionnal multiple account/vpc transitgateway network architecture
- An EKS deployed in an account 1 within private subnets in a VPC A
- We need to create public ALB in an account 2 in a VPC-ingress B within public subnets

Will this be functional if we define correct cross-account access for the alb-controller and use the alb.ingress.kubernetes.io/subnets a

[2022-05-17 14:22] Typraeurion commented on #2271
/close

[2022-05-17 14:22] #2271 closed

[2022-05-17 19:34] angapov commented on #298
It seems this is still not implemented. Any plans for supporting it in future?

[2022-05-17 19:52] GoodMirek commented on #298
I am quite sure this feature is already implemented, I used it recently.
Look at https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#ingressgroup

[2022-05-17 20:19] angapov commented on #298
Oops, sorry, my bad. I actually thought about reusing existing ALB created outside of Ingress controller (sharing the ALB between multiple EKS clusters). But nevermind.

[2022-05-17 21:08] alexvaque commented on #2462
after checking, investigating and reading this thread , I saw your comment and your solution works! thanks for sharing the Terraform code as well :)

[2022-05-18 18:55] aokomorowski opened #2653 "Controller creates TargetGroup, but doesn't register any instances"
**Describe the bug**
I'm working on setting up a small k3s cluster with AWS integration as a proof of concept. My cluster currently is a single EC2 instance running k3s binary - I don't use AWS VPC CNI. I've installed AWS LB Controller using the official Helm chart from the EKS Chart repository. Then I created a service (type: NodePort) and exposed it with Ingress. The controller creates the LB, c

[2022-05-18 19:37] BryanStenson-okta commented on #2430
/remove-lifecycle stale

[2022-05-19 11:59] zswanson commented on #2471
Just documenting the expected configuration and logging a warning/error would be sufficient IMO. I only reported it because it was very difficult to diagnose the problem.

[2022-05-19 21:40] jpriebe commented on #1724
I wish the documentation had something like this table that @[nsubrahm-aws](https://github.com/nsubrahm-aws) was trying to create.  And even more, I wish it had pros/cons of each combination, and possibly a "recommended" configuration.  We found ourselves in a situation where we were using Ingress with LoadBalancer services, and it was indeed creating an NLB (clarification - not an ALB as in [nsub

[2022-05-20 17:35] vipulJain05 commented on #2653
You can find the issue/error in the logs of aws-alb-ingress-controller, it is mostly happen because of tags in eni which can be found in logs only.

[2022-05-20 17:54] vipulJain05 opened #2654 "Redirection from one domain to another with 308 status code"
We are using ALB-load-balancer-controller's helm chart 1.2.7 with AWS EKS to manage our ALB.
Now we want to redirect our site from `test.example.com` to `app.example.io` but because AWS doesn't support the 308 status code to redirect the domain, all POST calls are automatically converted into the GET endpoint and because of that POST endpoints of our services start failing.
Is there any way in ing

[2022-05-20 19:02] paul-civitas commented on #1598
/remove-lifecycle stale

[2022-05-20 19:03] paul-civitas commented on #1598
We're dealing with this also. There's no reason it can't just add all the certs that match, but we need to completely toss out the cert discovery functionality to use this controller it seems.

[2022-05-20 20:44] aokomorowski commented on #2653
@vipulJain05 thank you, you've inspired me to do a really deep dive into the docs. Turns out it was the label `node-role.kubernetes.io/master` that prevented the target's registration in the Target Group.

Reference:
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/targetgroupbinding/targetgroupbinding/#nodeselector

[2022-05-20 20:44] #2653 closed

[2022-05-20 22:14] Tzrlk commented on #298
I've been thinking to try manually adding the tags that the ingress controller uses to identify the ALBs it creates across restarts, so the ALB can be created outside kubernetes and simply controlled by the controller.
The benefits of this approach are that I wouldn't have to give the controller permission to create ALBs, only target groups, etc. and could reduce the complexity of my k8s config si

[2022-05-20 22:54] sysadmin-exe commented on #228
@aramkarapetian Please can you share how you achieved this with group.name annotation. The link shared does not give so much insight. Thanks.

[2022-05-23 02:20] marcosdiez commented on #2373
@Lngramos Although not perfect, I believe https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2655 might help you. One can use it today here: `marcosdiez/aws-alb-ingress-controller:20220522-2127`

[2022-05-23 10:58] kaykhancheckpoint commented on #1951
@kishorj I'm setting up the latest version of this controller in a new EKS cluster. I want to know if this is still the best/reccomended way of handling multiple services in a single aws ingress (using `alb.ingress.kubernetes.io/group.name`)

[2022-05-23 18:38] kishorj commented on #1951
@kaykhancheckpoint, latest controller release supports the ingress grouping feature via the annotation `alb.ingress.kubernetes.io/group.name`.

[2022-05-24 04:39] amazingguni commented on #2065
I also have same interest in this feature to automate alb related things using terraform(waf, route53.. and so on)

[2022-05-24 07:53] vprus commented on #298
@Tzrlk : just to clarify, you can configure these things with ALB controller. The `alb.ingress.kubernetes.io/certificate-arn` annotation allows to set SSL certificate, the `alb.ingress.kubernetes.io/ssl-policy` one sets SSL policy and to redirect HTTP you do something like
[code]

I agree that reusing an existing balancer might be a nice feature, but most of configurability was added to the ALB co

[2022-05-24 07:53] arthurk commented on #2071
Still happening. aws-lb-controller version is latest `2.4.1` and `keepTLSSecret` is true.

[2022-05-24 10:26] Tzrlk commented on #298
@vprus Indeed I've implemented that method previously. Looking through more of the issues, @angapov's requirement is answered as part of #228 with the release of [TargetGroupBinding](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/targetgroupbinding/targetgroupbinding/)s. In fact, the method I was suggesting above to hack it into place appears to have worked for one of

[2022-05-24 19:22] tleish opened #2656 "No ALPN Policy assigned to AWS Load Balancer"
**Describe the bug**
Create a new service of with a network load balancer, it creates an AWS Load Balancer with all the options except the ALPN Policy.

**Steps to reproduce**
Create a new service of with the following load balancer options

[code]

Check the AWS Web Console EC2 > Load Balancers > [New Load Balancer] > Listeners (tab) > TLS : 443 Security Policy = N/A.

**Expected outcome**
ALPN p

[2022-05-24 20:39] kishorj commented on #2656
Since you've specified the service annotation `service.beta.kubernetes.io/aws-load-balancer-type: nlb`, the NLB gets reconciled by the in-tree controller which does not support specifying ALPN policies.

If you want this controller to reconcile the NLB, you'd either need to specify the annotation `service.beta.kubernetes.io/aws-load-balancer-type: external` with the proper target type or set the s

[2022-05-24 21:48] kishorj commented on #2651
@mbeaucha, the controller assumes exclusive ownership of the targetgroup targets, so it will remove the existing targets if they are not part of the deployment (for ip targets), or the k8s cluster nodes for instance targets.

[2022-05-24 21:48] tleish commented on #2656
I tried updating to the following:

[code]

I also tried ip instead of instance (not clear on the difference).

[code]

Either configuration leaves the LoadBalancer in a pending state and never resolves.

With the helm chart I'm using, I do not have the option to add a `spec.loadBalancerClass`

I may just need to remember to always set the ALPN.  Thanks for the explanation.

[2022-05-24 21:55] kishorj commented on #2652
It is possible to create ALB in one account and the target-group targets in another account, but you will need to configure the following:
- vpc peering
- route table configuration
- subnet tagging for auto discovery
- cross account IRSA for the AWS LB controller

These are the limitations:
- security group rules for traffic access cannot be managed by the controller. You will have to manually con

[2022-05-24 21:58] kishorj commented on #2650
@KamikazeZirou, are the VPCs in the same account or different accounts?

[2022-05-24 22:45] kishorj commented on #2656
@tleish, with the `service.beta.kubernetes.io/aws-load-balancer-type` annotation change, I'd recommend to delete the existing service and create a new service with the desired value.

Since the state is pending, could you verify if aws-load-balancer-controller is installed and running?
[code]

[2022-05-25 01:00] KamikazeZirou commented on #2650
@kishorj

They are in the same account.

[2022-05-25 03:55] nikskiz commented on #2311
It would be nice to have `spec.params.targetGroupAttributes`

[2022-05-25 06:20] ranupratapsingh commented on #1712
Hi all,
I am also facing the same issue. I am trying to follow this guide. https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/targetgroupbinding/targetgroupbinding/.

The targets are getting registered but the security group rules to accept the traffic from existing ALB is not getting added in the node's security group.

As a newbie to this, I figured that the work around is

[2022-05-25 07:37] ranupratapsingh commented on #1712
Hi all,
I figured this out from [the spec doc section here](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/targetgroupbinding/spec/#elbv2.k8s.aws/v1beta1.SecurityGroup).

We can specify networking to use source target group like this

[code]

[2022-05-25 09:04] nikskiz commented on #2600
Similar issue: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2311

[2022-05-25 09:42] MartinEmrich commented on #1712
Hmm then you still would have to know the ID of the autogenerated security group in advance, still looks to me as a workaround.

/remove-lifecycle rotten

[2022-05-25 10:58] kaykhancheckpoint opened #2661 "Receiving 502 bad gateway when refreshing on a specific path"
Hi friends i have an issue with my ingress. This is a frontend application

- if i navigate to `staging.acme.com` it works
- if i click a button that takes me `/dashboard` it works
- now im on the page `staging.acme.com/dashboard` if i refresh the page i get a `502 bad gateway` error

Any idea what is happening here?

[code]

![image](https://user-images.githubusercontent.com/65535942/170247318-8e

[2022-05-25 11:03] #2661 closed

[2022-05-25 11:08] ranupratapsingh commented on #1712
@MartinEmrich in this case, because ALB is and target groups both already created outside of kubernetes cluster, `securityGroup` ID is a static value much like `targetGroupARN ` with reference to cluster.

But I agree this looks like workaround.

@kishorj instead of a security group ID, would an annotation/tag based selection of the ALB/SG a good suggestion to implement in the spec ?

[2022-05-25 13:45] MartinEmrich opened #2662 "v2.4.2 tag Helm chart references v2.4.1"
ATM, the Git tag "v2.4.2" points to a revision where the Helm chart still references the image version v2.4.1:

https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/77370be7f8e13787a3ec0cfa99de1647010f1055/helm/aws-load-balancer-controller/values.yaml#L9

[2022-05-25 17:24] kishorj commented on #2289
I'm closing the issue. If you have further concerns, or still facing the problem, feel free to reopen or create a new issue.

[2022-05-25 17:24] #2289 closed, assigned to nobody

[2022-05-25 18:11] nbourdeau commented on #1834
seems like the answer is no ... I contacted AWS support and the answer is: we are working on improving the delay ...
use pod readiness gates if you can ...

[2022-05-25 18:34] morariu commented on #2551
How is this solved in a private network then? I am not using Helm.

[2022-05-25 20:05] rahul-chawla opened #2663 "Frontend to backend traffic not routed even health check is passing"
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* AWS Load Balancer controller version
* Kubernetes version
* Using EKS (yes/no), if so version?

**Additional Context**:

[2022-05-25 20:06] rahul-chawla commented on #2663
Can u help me how I fix this

[2022-05-25 21:19] mprimeaux commented on #2238
@mballoni  If the [NLB service annotation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/service/nlb/) is 'internal facing' then you would change the value from `internet-facing` to its default value of `internal` or simply remove the annotation.

Yes, because you don't want to introduce an attack vector into your cluster.

You'd need to make a few changes based on the

[2022-05-26 00:49] mkantzer opened #2665 "IMDSv2 Doc Suggests Insecure Configuration"
**Describe the bug**
The [IMDSv2 section of the Installation Guide](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/installation/#using-metadata-server-version-2-imdsv2) suggests increasing the endpoint hop limit to 2, despite this being directly against the recommendation of [EKS best practices](https://aws.github.io/aws-eks-best-practices/security/docs/iam/#restrict-ac

[2022-05-26 01:53] ldemailly commented on #1834
I will comment with more details but note you can reduce de-registration to around 45s using http(s) instead of tcp healthchecks. which help a lot for spot.

[2022-05-26 12:52] morariu commented on #2551
@kishorj any suggestions on how to fix this in a network without internet access and without helm? I don't understand why the AWS is off - this is not an upgrade but a new installation. Thanks

[2022-05-26 16:17] kishorj commented on #2551
@morariu, the CRDs are included in the manifest. To overcome the error, you can either:
- apply the manifest again
or
- separate the `IngressClassParams` and `IngressClass` from the manifest and apply subsequently

[2022-05-26 19:33] tleish commented on #2656
I removed the LoadBalancer and re-applied, still same results.  The `aws-load-balancer-controller` is never deployed (neither when the NLB with the original configuration, or the new configuration).

[2022-05-27 05:52] #2382 closed

[2022-05-27 10:13] stozinho commented on #2551
I was hit by v similar issue yesterday:

`Failed deploy model due to the server could not find the requested resource (post targetgroupbindings.elbv2.k8s.aws)`

Fix was same as outlined above:
`kubectl apply -k "github.com/aws/eks-charts/stable/aws-load-balancer-controller//crds?ref=master"`

I am running version 2.4.1 of the Image. Seeing as this issue closed does that mean that it has been resol

[2022-05-27 10:18] stozinho opened #2666 "Failed deploy model due to the server could not find the requested resource (post targetgroupbindings.elbv2.k8s.aws)"
**Describe the bug**

After installation of AWS LBC I saw the following error on Ingress objects which were trying to update ALB Listeners accordingly:
`Failed deploy model due to the server could not find the requested resource (post targetgroupbindings.elbv2.k8s.aws)`

**Steps to reproduce**

Fresh install of AWS LBC via Helm chart. Helm chart ver 1.4.1; LBC ver v2.4.1. we set `enableCertManager

[2022-05-27 10:30] sergioteixeirabasecone commented on #2066
Hi, someone could solve the issue with /* ?

[2022-05-27 12:18] kakarotbyte opened #2667 "Application Load Balancer-type Target Group for Network Load Balancer"
**Is your feature request related to a problem?**

**Describe the solution you'd like**
A description of what you want to happen.

- It will be great if Service type LoadBalancer (NLB ) is allowed to attach an external or ingress [ALB as Target](https://aws.amazon.com/blogs/networking-and-content-delivery/application-load-balancer-type-target-group-for-network-load-balancer/#:~:text=Today%2C%20we%

[2022-05-27 15:32] akunszt opened #2668 "IPv6 target groups enforced in dual-stack environment"
**Describe the bug**
We are in the long-term process to support IPv6 in our clusters. We prepared all of our Services to use PreferDualStack and hoped that the next release of aws-vpc-cni will support that. It didn't. It supports IPv4 or IPv6 but not both - aka dual-stack. As we can't do the migration in one huge step we postponed it.
After upgrading aws-loadbalancer-controller we noticed that it

[2022-05-27 21:57] CPWu commented on #298
Maybe its me but it didn't work as intended for me. I created an ingress resource and it instantiated an alb, I created a secondary ingress and specified the group name and i did not see that a record was created in the hosted zone or in the rules of the alb's listener.

`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: hello-bye-ingress
  namespace: hello-world
  annotations:
    al

[2022-05-28 23:34] johnnyhuy commented on #2612
Hey sorry for the late response, yes I can confirm it was due to that extra space

## Broken

[code]

## Works

[code]

Should we fix this? In case new users encounter the same problem 🤞

[2022-05-30 10:15] theintz opened #2669 "Controller doesn't process request if stuck elsewhere (OIDC annotation missing secret)"
**Describe the bug**
When an ingress change request can't be fulfilled by the controller, it logs the error and then stops processing all other requests, even those that could be fulfilled.

**Steps to reproduce**
Create two deployments with ingresses, one that will deploy without errors, another one that doesn't (for example by requiring external resources such as a secret that aren't available).

[2022-05-31 06:17] matthewhembree commented on #2509
We have to ask ourselves if we'd keep referring to the original concern. If the limit was 10k, would we still cite the original concern? What about 10M?

I think the current limit of 2500/5000 nullifies the original concern. Organizations can make their own decisions at this point.

[2022-05-31 08:42] matdehaast opened #2670 "failed calling webhook "mtargetgroupbinding.elbv2.k8s.aws""
**Describe the bug**

I have deploy the sample `nginx` application and service through the docs to test out the `controller` working, as per the [docs](https://docs.aws.amazon.com/eks/latest/userguide/network-load-balancing.html). The service is stuck in a pending state with the following events of the service below.

[code]

When checking the logs of the controller I get the following

[code]

**

[2022-05-31 08:52] matdehaast commented on #2670
This is actually referenced here https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1591

The solution is to set `hostNetwork=true`

[2022-05-31 08:52] #2670 closed

[2022-05-31 08:55] matdehaast commented on #1591
I ran into this issue with Cilium CNI as well and have some questions.

* Is it safe setting the pod to hostNetwork?
* Can someone give me a more detailed explanation on what is happening under the hood as to why this is failing?

[2022-05-31 12:02] ryan4yin commented on #2173
We also find this feature very useful in some scenarios:

- migrate from one cluster to another
- deploy multi-cluster in different zones, and split traffic at the shared gateway, to reduce cross-zone traffic costs.

We also found similar products in Google Cloud: <https://cloud.google.com/kubernetes-engine/docs/how-to/deploying-multi-cluster-gateways>

waiting for further progress in this directi

[2022-05-31 13:59] tavlima opened #2671 "ECDSA certificates are not found by auto-discovery"
**Describe the bug**

ECDSA certificates are not found by auto-discovery

**Steps to reproduce**

1. import a ECDSA certificate into ACM, with a matching CN/SAN
2. create an ALB ingress object, with the same domain used by the certificate in (1).
3. watch errors like "none cert found for: <domain>" in the AWS LBC pod logs

**Expected outcome**
The controller should be able to locate/discovery ECDS

[2022-05-31 21:27] kishorj commented on #2612
@johnnyhuy, the annotation parser trims all leading and trailing whitespaces. Do you see the subnet names in the error logs?

[2022-06-01 11:46] dai-mk commented on #2039
Thanks @eocern . Saved my day. :)

A hint for people from the future struggeling to find why they get `failed calling webhook` from other projects => this should solve them too.

[2022-06-01 12:11] rittneje opened #2672 "Installing full yaml from scratch does not work"
**Describe the bug**
When running `kubectl apply` on the full yaml file from scratch (i.e., in a new cluster), we get an error:

From testing, this seems to happen because it tries to use the new CRDs before they are fully ready. We had to split the CRDs into their own file, apply that, and then run `kubectl wait --for condition=established`. After that, we are able to successfully apply the rest

[2022-06-02 05:51] ediezh commented on #2419
I'm seeing the same problem on our deployment.

I think the issue is with the IP target type, the load balancer controller registers the POD as targets directly which bypasses the node.

[2022-06-03 07:50] micemuni opened #2673 "AWS EKS LB - access log enable issue"
Hi All,
I am deploying application on AWS EKS cluster via terraform. As part of that i have created load balancer and now there is requrement to enable access log for those load balancer.
I have tried the below option and terraform showing applied but the same is not reflecting in AWS console ( meaning no changes on LB access log ) looks still access-log disabled.

https://kubernetes-sigs.github.i

[2022-06-03 09:22] AndrewChubatiuk opened #2674 "Add additional subnet tags filter"
**Is your feature request related to a problem?**
EKS workload is running in availability zones and local zones. Local and availability zone subnets use `kubernetes.io/role/internal-elb = 1` tags and alb ingress fails to spin up load balancer with `Failed build model due to couldn't auto-discover subnets: subnets in multiple locales: [availability-zone local-zone]` error.

**Describe the solution

[2022-06-03 09:43] thunder-spb commented on #298
@CPWu What's in alb ingress controller logs? and what's in external-dns logs?

[2022-06-03 11:05] marcosdiez commented on #298
To whom it may concern, I created a PR that partially solves this: https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2655

The idea is that you still generate your ALB, the alb rules and the target group with terraform (or whatever else)
but now it's possible for the aws load balancer controller to locate the target group via it's name (which happens to be unique).

[2022-06-03 14:37] eocern commented on #835
Well my problem is like many others that I want to have
/app1 ->container-app1
/app2 ->container-app2
and I want to rewrite/ignore the passing of the "/app1" or "/app2" path to the container.

I guess we just need to vote and monitor https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1571 as posted earlier on here.
or did somebody in the meantime found a solution for that speci

[2022-06-04 01:34] amazingguni opened #2676 "Fail to create WAFv2 webACL association on LoadBalancer"
**Describe the bug**

Fail to create WAFv2 webACL association on LoadBalancer, even if entering correct `wafv2-acl-arn`

**Steps to reproduce**

Enter correct `wafv2-acl-arn`, when creating ingress resource

[code]

**Expected outcome**

Create WAFv2 webACL association successfully

**Environment**

* AWS Load Balancer controller version  : 1.4.1
* Kubernetes version: v1.22.9-eks-a64ea69
* Using E

[2022-06-04 12:44] schollii commented on #835
I use subdomains instead:

app1.domain1/... -> container-app1/...
app2.domain2/... -> container-app2/...

Works like a charm.

[2022-06-04 23:39] hectoralicea opened #2677 "How does this chart create an ALB when there's no type: LoadBalancer defined option in kind: Service definition in the helm chart"
**Describe the bug**
Unable to get this helm chart to create an AWS ALB no matter what.

**Steps to reproduce**
create helm using the below values file.
following is output of services

[code]
See!! All EXTERNAL-IP are blank, because the helm chart template for service does not have  the `type: LoadBalancer` option

**Expected outcome**
kubectl get service -n kube-system should list EXTERNAL-IP

*

[2022-06-05 13:18] mbevc1 commented on #1990
/remove-lifecycle stale

[2022-06-06 10:09] blastik commented on #2257
/reopen

[2022-06-06 10:13] michaelkoro opened #2678 "Merge ALB rules by the same host"
**Is your feature request related to a problem?**
We would like to be able to merge rules in the ingress resource, on the ALB level.

For example, when creating the following -

[code]
We want the controller to merge the two paths in the first rule, and create one rule in the ALB.
We are aware of the `conditions` annotation, but unfortunately working with it dynamically is very complicated.
Is the

[2022-06-06 14:08] oc-christopher-billett commented on #2673
You will need to add annotations to your ingress

`alb.ingress.kubernetes.io/load-balancer-attributes: access_logs.s3.enabled=true,access_logs.s3.bucket=my-access-log-bucket,access_logs.s3.prefix=my-app`

[2022-06-06 15:15] v-sag commented on #2312
anyone any update on this?

[2022-06-06 20:40] M00nF1sh commented on #2672
Thanks for reporting this. we'll validate this and split the yaml into two if it's a valid race condition

[2022-06-06 20:48] M00nF1sh commented on #2673
@micemuni
It depends on what method you created the LoadBalancer.
If it's CLB(Classic LoadBalancer), then you have to use `service.beta.kubernetes.io/aws-load-balancer-access-log-enabled`
If it's NLB(Network LoadBalancer), then it can be either provisioned by either a built-in controller in Kubernetes or this AWSLoadBalancerController, depends on the `service.beta.kubernetes.io/aws-load-balancer-t

[2022-06-06 20:50] M00nF1sh commented on #2674
Do you have some LBs in normal AZ and some LBs in local AZs?
If so, there should be a way to tell the controller which AZ to provision the LB

[2022-06-06 20:56] M00nF1sh commented on #2677
@hectoralicea
The controller helm chart itself is the infrastructure and don't create any ALBs, the aws-load-balancer-webhook-service is expected to be ClusterIP.

You need to create a Service/Ingress yourself, and the controller will then provision NLBs/ALBs for you.

[2022-06-07 12:01] rittneje opened #2679 "v2.4.2 release is missing yaml asset"
The v2.4.2 release does not include any v2_4_2_full.yaml asset. https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.4.2

Even if there is no difference from the v2.4.1 yaml other than the image tag, it should still be published to avoid confusion.

[2022-06-07 12:43] blakepettersson commented on #228
This kind of works, once the `elasticloadbalancing:CreateLoadBalancer` and `elasticloadbalancing:DeleteLoadBalancer` permissions are removed from the service account role.

Creating an ingress works fine using the pattern above. What _doesn't_ work is removal of the ingress which has been created in this way.

This is due to fact that the associated target group(s) and security group(s) does not g

[2022-06-07 12:52] blakepettersson commented on #228
Example TF config:

[code]

[2022-06-07 18:16] ysam12345 commented on #2642
@tracycyx Maybe using [controller command line flags](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/configurations/#controller-command-line-flags) mentioned in #2641 will work?

[2022-06-07 20:58] aokomorowski commented on #2653
In my case, it was a matter of removing the annotation, but as far as I remember from [reading the code](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/pkg/backend/endpoint_utils.go#L19) you can't ignore these predefined expressions and if Custom Node Selector works like I think it does then the node has to satisfy all of the expressions to get matched, like [stated in K

[2022-06-08 08:17] AndrewChubatiuk commented on #2674
you mean zone list or a boolean flag `is-local` to identify a zone type?

[2022-06-08 14:59] blackheaven opened #2681 "Cannot exceed 10 minutes idle connections"
**Describe the bug**
Despite configuring all timeout attributes (see `ingress.yaml` below), I cannot keep a connection idle for more then 10 minutes.

**Steps to reproduce**

* Set up the controller
* Install a long running HTTP server (in my case [mercure.rocks](https://artifacthub.io/packages/helm/mercure/mercure), a SSE server)
* Setup the `ingress.yaml` below
* Try a get on the long/idling end

[2022-06-08 16:00] v1nc3nt27 opened #2682 "Setting the namespace for the serviceMonitor is not working"
I'm trying to set the namespace for the service monitor in the helm chart, but for some reason the service monitor is always getting installed in the same namespace where the resources are installed. Is it possible that https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2609 is not working correctly?

I'm installing the chart with the helm provider (terraform) and the other servi

[2022-06-08 18:35] jt-sh opened #2683 "Question: External resource IPs not being added to targetgroup"
Hello, I know this is maybe a bit unorthodox as I'm trying to use the ALB controller to create an ingress for an external service.

Trying to put AmazonMQ (rabbitmq) behind an ingress to get a custom domain and auth. My approach has been to get the IPs from the provided UI URI and create an `Endpoint` with the external IPs, attach that to a service, then create an ingress of type IP in hopes that

[2022-06-08 21:23] hectoralicea commented on #2677
yea, it took me a few days to figure this out.

Still having issues but learning more each day.

[2022-06-09 05:08] runningman84 commented on #1212
/remove-lifecycle stale

[2022-06-09 07:03] wwteo opened #2684 "routing to multiple hosts with different SSL certs ARN with NLB"
**Describe the bug**
The `service.beta.kubernetes.io/aws-load-balancer-ssl-cert` annotation can only assign one SSL certificate from ACM. According to documentation, it should be able to assign multiple SSL certificates as it takes in a StringList https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/guide/service/annotations.md
The controller issues a warning event that a

[2022-06-09 11:16] Cyanopus commented on #1859
/remove-lifecycle stale

[2022-06-09 12:18] empeekdev commented on #2684
We have exactly the same issue that happened to us few minutes ago

[2022-06-09 13:03] empeekdev commented on #2684
@wwteo was you able to solve this issue?

[2022-06-09 15:44] blakepettersson commented on #2065
See [this comment](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/228#issuecomment-1148617407)

[2022-06-09 18:33] wwteo commented on #2684
no

[2022-06-09 19:50] paul-civitas opened #2685 "When the service account role arn annotation is updated, it doesn't trigger a rollout restart of the deployment"
**Describe the bug**
When you update the annotation of the service account to reflect a new role, that role isn't picked up by the alb controller. It's required to manually do a rollout restart to get it picked up.

**Steps to reproduce**
Set up the ALB controller via the helm chart. Create a new IAM role, same role with a different name. Update the alb controller service account to point to the n

[2022-06-10 03:48] micemuni commented on #2673
@oc-christopher-billett  @M00nF1sh
I used kubernetes ingress terraform resources https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs/resources/ingress, please guide me how can i add access log..?

[2022-06-10 13:19] wildtapir opened #2686 "ALB ingress object to contain listener ARN"
**Is your feature request related to a problem?**
I am trying to integrate AWS HTTP API gateway using [apigatewayv2 ACK](https://aws-controllers-k8s.github.io/community/reference/apigatewayv2/v1alpha1/integration/) . One of the parameters I need to provide is `integrationURI` which is an ARN of ALB Listener.

**Describe the solution you'd like**
ALB ingress object to contain listener ARN so I can

[2022-06-10 22:30] derytim opened #2687 "HTTPS listeners not created / annotation options seemingly ignored"
**Describe the bug**
I have recently upgraded from the `aws-ingress-controller` to `aws-load-balancer-controller`
I have an ingress config that won't create listeners that aren't default.

Here's my config with sensitive info redacted:

[code]
**Steps to reproduce**

When I attempt to apply this config, the aws-lb-controller pod logs show the error `"error":"listener does not exist for SSLRedirect

[2022-06-12 19:56] #2286 closed

[2022-06-13 15:07] vincentheet opened #2688 "Support for referencing existing security groups for inbound traffic"
**Is your feature request related to a problem?**
Currently it is possible to reference CIDR's using the `alb.ingress.kubernetes.io/inbound-cidrs` annotation. This is great for allowing traffic from the public IP space. But for internal ALB's it would be great to have the ability to allow inbound traffic from specific security groups. For example allowing traffic from the API Gateway (via VPC Link

[2022-06-13 19:38] derytim commented on #2687
The error in my config is `listenPorts` should be `listen-ports`. I'm not sure how that crept in, but it did.
Closing issue.

[2022-06-13 19:38] #2687 closed

[2022-06-13 23:15] kuboraam commented on #2462
wow, 4 hours on this and finally got it to work. Thanks @DZDomi! You're a life saver. It would be nice if they can add this security group as part of the "complete" example somewhere on the module page or [here](https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/examples/complete/main.tf).

[2022-06-14 06:52] ngoyal16 commented on #2203
@kishorj @oliviassss  is it live? if not any ETA.. it is much awaiting feature.

[2022-06-14 12:14] ONordander opened #2689 "NLB: External IP pending with type: LoadBalancer"
**Describe the bug**
Creating a service of type LoadBalancer doesn't update the external IP of the service.
The LoadBalancer is successfully created and I can reach my service, but the `status.loadBalancer.ingress` of the service is never updated.

**Steps to reproduce**
Create service:
[code]

**Expected outcome**
The status of the service should be updated.

**Environment**

* AWS Load Balancer

[2022-06-14 12:27] MatthiasWinzeler commented on #2106
FWIW, if someone faces the same issue and stumbles upon this thread:

we ran into the same issue and contacted AWS support. The statement was that it can indeed happen that after deregistration the ALB still sends some requests to the target. This should be compensated with a pre stop sleep - they recommended 60 secs to be on the safe side.

with 60 secs, our load tests did not show any 502 errors

[2022-06-14 12:34] MatthiasWinzeler commented on #2366
we wondered that the - according to the comments in this thread - it would take up to minutes for the NLB to stop sending new request, so we reached out to the AWS support. Outcome:

- The issue with taking **minutes** until a target is properly drained apply only to NLB, not ALB (ALB reacts faster)
- The statement was that it can indeed happen that after deregistration the ALB still might send ne

[2022-06-14 15:35] wuyudian1 commented on #2651
Users should have the right to choose whether to enable this feature。

[2022-06-14 16:33] #2681 closed, assigned to nobody

[2022-06-14 23:27] mike-stewart commented on #1647
@kishorj @M00nF1sh Thanks for updating the documentation for the AuthorizeSecurityGroupIngress policy I originally asked about.

I have a few more questions about how to scope down this policy, in particular:
- Could this have a "aws:ResourceTag/elbv2.k8s.aws/cluster" condition? https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/9c79e45dd4b8cf94b97a1c6737bf1d47306460d0/docs/insta

[2022-06-15 00:21] johngmyers opened #2690 "Support flag to change the default target-type"
**Is your feature request related to a problem?**

The desired target type of an ALB or NLB is almost always determined by the the cluster's CNI. If a cluster's CNI uses ENIs (like AWS VPC CNI does) then the desired target type is `ip`. If a cluster's CNI uses masquerading, then the desired target type is `instance`.

When a cluster's CNI uses ENIs, it is a burden to require each workload's `Ingre

[2022-06-15 07:48] wuyudian1 opened #2691 "Allow user to set AvailabilityZone "all" or "null" or "autoDetect" when createing TargetGroupBinding"
**Is your feature request related to a problem?**
We have several business groups running in different VPCs,  and now we are trying to migrate them to a single EKS cluster.
Due to the huge complexity of our traffic path, we wanna migrate micro-services into EKS, and reuse the current ELB and target groups.
So, we need to bind PODs to different target group in multiple VPCs otherthan the EKS's nati

[2022-06-15 09:55] roumigus commented on #2203
As far as I can tell (by checking this repo), this is not live. https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2409 fixes the issue but has been merged after the release of 2.4.2

We're thus waiting for a release including the changes in the merged PR above.

It is a serious bug in my opinion. Using `prefix` in production without understanding this issue can be dangerous, dep

[2022-06-15 10:04] thejasn commented on #2543
/close Fixed by #2579

[2022-06-15 10:06] thejasn commented on #2543
/remove-lifecycle stale

[2022-06-15 10:06] thejasn commented on #2543
/close Fixed by #2579

[2022-06-15 10:07] thejasn commented on #2543
Fixed by #2579

[2022-06-15 10:07] #2543 closed

[2022-06-15 12:48] Glaaj commented on #2666
I can attest to this, we are running into the same problem here causing the LBC to fail as it misses CRD's inside the cluster.

Are you by any chance using something similar to this:
[code]

I found out the file is only read until it runs into the delimiter "---" in the crds.yaml which causes it to stop before it starts to create the targetgroupbindings CRD.

Quick fix for me was to read 2 seperat

[2022-06-16 07:32] Glaaj commented on #2666
When I check the [documentation](https://github.com/kubernetes-sigs/aws-load-balancer-controller/tree/main/helm/aws-load-balancer-controller#installing-the-chart) it shows to install the CRD's separately from the helm chart itself. (See screenshot)

![Screenshot 2022-06-16 at 09 31 40](https://user-images.githubusercontent.com/83582518/174016885-d6d9276a-01f6-4342-bb27-60c131210074.png)

[2022-06-16 07:46] stozinho commented on #2666
@Glaaj brill thank you

[2022-06-16 11:23] wallhided commented on #2297
bump

[2022-06-16 14:26] Glaaj commented on #2666
Did this fix it for you? Just curious :)

[2022-06-16 14:31] #2349 closed

[2022-06-16 14:53] croachrose opened #2692 "Failing to create target group with default policy"
**Describe the bug**
The controller is failing to create a target group based on the provided policy.

[code]

This error occurs after trying to create the target group and before reconciliation.

Based on my understanding of the policy, `AddTags` requires a `null` cluster tag in the request but also requires a non-`null` resource tag. I'm not sure how that can be possible during target group crea

[2022-06-16 15:01] stozinho commented on #2666
@Glaaj I'll let you know when we try i imagine it will

[2022-06-16 17:50] ravikiran-talluri opened #2693 ""controller-runtime.manager.controller.service","msg":"Reconciler error","name":"nginx-ingress-ingress-nginx-controller","namespace":"nginx","error":"UnauthorizedOperation: You are not authorized to perform this operation."
**Describe the bug**
aws-load-balancer-controller or nginx-controller is not able to create load balancer
**Steps to reproduce**
Used Helm charts:

    helm upgrade -i aws-load-balancer-controller eks/aws-load-balancer-controller \
        --wait \
        -n kube-system \
        --set clusterName=$cluster_nm \
        --set ingressClass=nlb \
        --version="1.3.3"

     helm upgrade -i nginx

[2022-06-17 07:25] kncesarini opened #2694 "Backend app & healthcheck using different protocol versions"
**Describe the bug**
We have a kong ingress controller (in EKS) sitting behind an ALB. The controller is listening on port 80 using http/2 as it's routing gRPC traffic. It additionally has its health check, using http/1.1, on port 10254.

It doesn't seem to be possible to reconcile these differences currently. When I set

alb.ingress.kubernetes.io/backend-protocol-version: HTTP2

the health check

[2022-06-17 13:01] tailrecur opened #2695 "Pod readiness gate shows two target groups"
**Describe the bug**
Pod readiness gate shows two target groups

**Steps to reproduce**
Don't know

**Expected outcome**
Pod readiness gate shows only one target group

**Environment**

* AWS Load Balancer controller version: 2.4.1
* Kubernetes version: v1.20.15-eks-a64ea69
* Using EKS (yes/no), yes

**Additional Context**:
I recently enabled Pod readiness gates in multiple EKS clusters to avoid d

[2022-06-17 13:08] bodgit commented on #2312
The workaround to use cert-manager isn't working 100% with ArgoCD as it's showing the two webhooks permanently out of sync.

The problem I think is that the Helm chart is templating in the "empty" `Cg==` CA bundle, and because the webhooks have the cert-manager annotations added, cert-manager's own mutating webhooks then replace the CA bundle fields with the correct values. ArgoCD then shows a dif

[2022-06-17 13:24] mikael-lindstrom commented on #2312
@bodgit We have the same issue when using the helm chart through [tanka](https://tanka.dev) and I came to the same conclusion. Have an open PR to add exactly what you are suggesting, https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2649.

[2022-06-17 13:31] bodgit commented on #2312
I'll delete my fork of the repo and keep an eye on your PR then :smile:

[2022-06-17 16:19] jaxxstorm commented on #2679
Also running into this. @M00nF1sh are you moving away from including the yaml asset with each release? If that's the case, we'll need to find a new strategy for some codegen stuff we do.

Anyone who is generating typed code would need the full yaml asset so I'm hoping it has just been forgotten. I'm happy to add a PR to fix it if it's just the same as `v2.4.1` but the release will need to be updat

[2022-06-17 16:20] jaxxstorm opened #2697 "Docs not updated for v2.4.2"
The official docs for installing it have a manifest install path, and it hasn'’t been updated for `v2.4.2`:

https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html

if you try to pull it down using the same URL with the right version, you get a `HTTP404 / not found.`

Even the official install docs for the v2.4.2 tag still points to the old v2.4.1 image: https://github.

[2022-06-17 19:03] AndreKR commented on #2627
I seem to be experiencing a similar issue. Are the troubleshooting steps mentioned above in https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2627#issuecomment-1111179197 still valid? The first one reads:

For me the service account is created without this annotation:
![image](https://user-images.githubusercontent.com/1188538/174386663-4e92d651-11d9-43f0-99fe-dc8faaf4710b.png)

[2022-06-18 00:20] AndreKR commented on #2627
Ok, I think I got it. Apparently you have to set the annotation manually, like this:
[code]
I inferred this from [this comment](https://github.com/aws/eks-charts/issues/334#issuecomment-727123387).

[2022-06-18 00:21] AndreKR commented on #2627
Ok, I think I got it. Apparently I had to set the annotation manually, like this:
[code]
I inferred this from [this comment](https://github.com/aws/eks-charts/issues/334#issuecomment-727123387).

[2022-06-18 03:47] #2338 closed

[2022-06-18 19:00] yasin-kismet opened #2698 "ingressclassparams.elbv2.k8s.aws "alb" already exists"
**Describe the bug**
I am trying to deploy 2 different applications on aws eks using pulumi. If I am applying ingress for the first time, there is no problem, but when I want to make an update, I get the error `ingressclassparams.elbv2.k8s.aws "alb" already exists`.

**Environment**

* AWS Load Balancer controller version: 1.4.2
* Kubernetes version: the latest version used on the aws eks
* Using

[2022-06-20 07:13] #2693 closed

[2022-06-20 11:31] berry2012 commented on #2692
@croachrose do you mind sharing a little more details about your EKS environment?
Also what does the IAM policy used by the role AWSALBIngressController_3f2bb898eae5ea79ebdb9cb3514f5ec6 looks like?
Look for block like this
[code]

[2022-06-20 13:22] croachrose commented on #2692
@berry2012 Not sure what other details would be helpful.

Our policy looks exactly like that. We applied the policy from docs/install.

In order to fix this, I temporarily removed

[code]

[2022-06-20 13:59] tanvp112 opened #2699 "Incorrect IP range set by LB controller for internal NLB"
**Describe the bug**

The IP range added by AWS LB Controller for the internal NLB does not cover the provisioned internal LB's IP. As a result, connection from the internal NLB to the registered target on EKS cluster is blocked.

**Steps to reproduce**

[code]

The internal NLB was provisioned successfully:

![image](https://user-images.githubusercontent.com/57385114/174613731-1c8fbb19-b525-4cc0-

[2022-06-20 16:37] croachrose commented on #2692
@berry2012 Any idea what is different about our environment? Is it the controller version? For what it's worth, this was working just fine and we changed nothing. It just stopped working suddenly.

[2022-06-20 17:34] kishorj commented on #2676
@amazingguni, the error is due to the additional whtespace in the ARN. What does the model look like? You can get the model from the controller logs. Also, would you be able to eliminate the whitespace from the ingress spec and retry?

[2022-06-20 17:57] kishorj commented on #2697
/kind documentation

[2022-06-21 11:16] amazingguni commented on #2676
@kishorj
After removing whitespace, It works perfectly!!! thanks for your help

[2022-06-21 11:16] #2676 closed

[2022-06-21 11:48] croachrose commented on #2692
@berry2012 update - AWS got back to us and our clusters were upgraded automatically to 1.18 when this started happening. Could k8s 1.18 have issues with controller 2.2.3?

[2022-06-22 04:20] r0bobo commented on #2572
/remove-lifecycle stale

[2022-06-22 06:38] mohitthakur3 commented on #898
I tried a lot methods, but finally adding the attribute in a single line works for me.

[2022-06-22 17:53] DTTerastar opened #2701 "Leader election not using leases"
**Describe the bug**
I blew away a pod and the leader didn't switch to other pod.  I also noticed it's using a configmap to do the lease instead of the built-in lease object.  Is there a reason for that?

**Steps to reproduce**
kubectl  delete pod aws-load-balancer-controller-58bb5b665-snsff

**Expected outcome**
Failover to other pod

**Environment**

* AWS Load Balancer controller version
* 2.42

[2022-06-22 18:01] romich opened #2702 "Controller doesn't deregister pods that are terminated by Graceful Node Shutdown feature"
**Describe the bug**
If GracefulNodeShutdown feature configured as described [here](https://kubernetes.io/docs/concepts/architecture/nodes/#graceful-node-shutdown), pods are not deregistered from ALB when kubelet does graceful shutdown.

**Steps to reproduce**
1. Configure GracefulNodeShutdown
2. Deploy a pod that AWS LB Controller would register in ALB in IP mode
3. Terminate instance

**Expected

[2022-06-22 20:50] kishorj commented on #2656
@tleish, you need to install the `aws-load-balancer-controller` and configure the `service.beta.kubernetes.io/aws-load-balancer-type` with value `external` for ALPN.

[2022-06-22 20:58] kishorj commented on #2682
@v1nc3nt27, the namespace support is not available on the eks-charts repo as of the current chart version v1.4.2. We will include the feature in the chart version v1.4.3 and later releases.

[2022-06-22 23:22] kishorj commented on #2663
@rahul-chawla, could you provide further details on this?
- ALB or NLB?
- internal or internet-facing
- whether the security group rules are configured as expected
- how you exposed your application? via ingress, or service type LoadBalancer

[2022-06-22 23:25] kishorj commented on #2662
The eks-charts repo has the correct reference to the v2.4.2 image tag

https://github.com/aws/eks-charts/blob/aaba08ea04affe98ed26c9b878e9109c67104796/stable/aws-load-balancer-controller/values.yaml#L9

We will modify the image tag in this repo for the next patch release.

[2022-06-22 23:25] kishorj commented on #2665
/kind documentation

[2022-06-23 01:59] tanvp112 commented on #2699
Yes, the NLB IP is assigned from one of the 3 subnets which has kubernetes.io/role/internal-elb tagged. Does cross-zone load balancing matters here?

[2022-06-23 07:54] v1nc3nt27 commented on #2682
@kishorj Great, thanks a lot! If there is a feature request or so for this already you can just close the issue then (couldn't find anything).

[2022-06-24 15:03] iamnoah commented on #2686
The `TargetGroupBinding` has `spec.targetGroupARN` which will let you query the load balancer for listeners.

[2022-06-24 15:14] iamnoah commented on #2173
/remove-lifecycle rotten

Came looking for this. Migration from one cluster to many is the use case.

[2022-06-24 16:45] chanpark commented on #2692
My EKS version is 1.20 (not fresh, but upgraded from 1.15 -> 1.16 -> 1.17 -> 1.18 -> 1.19 -> 1.20) with ALB Ingress Controller v 1.1.5.

When upgrading it to:
* AWS Load Balancer Controller v2.3.1
No error with the default IAM policy of the alb controller.  So, I will keep this version for my environment.

* AWS Load Balancer Controller v2.4.2
I had to apply @croachrose's workaround to get rid of

[2022-06-24 17:18] kishorj commented on #2701
@DTTerastar, if you have more than one replicas, the pod which gets the leader election lock is active. Could you verify there is an active controller pod by checking the logs?

We will migrate to using leases in future releases.
/kind feature

[2022-06-24 17:54] kishorj commented on #2695
@tailrecur, controller injects readiness gates during pod creation and includes the references to all of the matching target group bindings in the pod's namespace. In case of deleted tgb, the controller signals the corresponding condition as ready. In your case, could you verify whether there exist matching tgb in the pod's namespace with the reference to the non-existing target group ARN?

[2022-06-24 18:12] kishorj commented on #2702
The pod termination handling and the Endpoint/EndpointSlice update happen in parallel. Controller de-registers the targets after getting updated Endpoint from the API server.

There is a similar issue reported earlier: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2366

[2022-06-24 18:29] kishorj commented on #2685
@paul-civitas, this is not a controller limitation. You will have to restart the deployment manually if you make changes to the service account annotation.

[2022-06-24 18:31] kishorj commented on #2683
@jt-sh, the lb controller ignores the endpoint addresses that are not pod references. You will either have to use the endpoints with pod references or manage the target group manually.

[2022-06-24 18:32] kishorj commented on #2677
@hectoralicea, I'm closing the issue. If you have further concerns, feel free to reopen or create a new issue.

[2022-06-24 18:32] #2677 closed

[2022-06-24 18:42] kevin-lindsay-1 commented on #1064
I think I might be currently encountering this issue. I'll have to do further tests to verify, but it seems like this issue should be reopened.

[2022-06-24 18:46] paul-civitas commented on #2685
Isn't there any sort of way to make it so that making such a change wouldn't require manual intervention?

[2022-06-25 06:42] choeffer commented on #1834
/remove-lifecycle rotten

[2022-06-26 13:42] DTTerastar commented on #2701
I figured out my issue, it wasn't a problem with leader election.  My logging was filtering too much and I missed the other pod working.  I'm glad to hear you'll move to the leases at some point!

[2022-06-26 13:42] #2701 closed

[2022-06-27 00:59] abebars opened #2705 "NLB Attributes default value is not updated when unprovided"
**Describe the bug**
If you change a default attribute value to another value and then remove the annotation, the value will not be reverted to the default value and will be ignored on the new update.

**Steps to reproduce**
- create an IP target group with an NLB without providing attribute values.
- preserve_client_ip is false for IP Mode by default.
- set `preserve_client_ip.enabled=true`
- the

[2022-06-27 15:44] chjtwork opened #2706 "deletion_protection Issue when using IngressGroup"
**Describe the bug**
I upgraded the aws-load-balancer-controller version from 2.2 to 2.4.2 and get this problem.
It‘s about the ALB's deletion protection when using IngressGroup.

**Steps to reproduce**
We use the IngressGroup to make multi ingresses using the same ALB.
And we set `alb.ingress.kubernetes.io/load-balancer-attributes: deletion_protection.enabled=true` to turn on ALB's delete protect

[2022-06-27 16:47] chalford opened #2707 "`serviceAccount.create` not used when installing with CDK helm provider"
**Describe the bug**

When add `aws-load-balancer-controller` to a cluster with the EKS CDK construct, the `serviceAccount.create` and `serviceAccount.name` values seem to be ignored when Helm deploys the chart. This may be a bug with the CDK / CDK Helm provider, but need to check that the problem isn't with the Helm chart. I think the CDK Helm Provider uses `upgrade` to install charts.

This can

[2022-06-27 23:46] kishorj commented on #2705
@abebars, if you don't explicitly configure an attribute value, the controller will ignore such attributes. If you previously configure an attribute, but remove from the annotation later, your AWS resource will continue to have the previous value. If you want a different value, you will need to modify the attribute value instead. This allows us to support out-of-band changes to the unmanaged attri

[2022-06-27 23:53] kishorj commented on #2706
@chjtwork, on the ingress you want to delete you can first remove the specific attribute, or the `alb.ingress.kubernetes.io/load-balancer-attributes` annotation, and then delete the ingress.

[2022-06-28 01:59] chjtwork commented on #2706
@kishorj  Thanks, it works.
But I think now it is not very friendly with gitops / IaC.
Before that I only need to delete the specific Ingress file in the git repo. now I think it needs to commit twice, the first commit to modify the attribute, then wait for gitops system apply it in the cluster,  and finally commit to delete the specific Ingress file.
Do you have any idea about that?

[2022-06-28 11:16] goddini91 commented on #2066
no

[2022-06-29 15:58] kishorj commented on #2686
Here is one way to do it
- From the kubectl output, look for the status field, you will see the load balancer DNS name
- Extract the load balancer name, for example if dns name is `k8s-default-demoserv-xxx-yyy.REGION.elb.amazonaws.com`, lb name is `k8s-default-demoserv-xxx`
- describe load balancer, `aws elbv2 describe-load-balancers --names k8s-default-demoserv-xxx`, get the `LoadBalancerArn`
- d

[2022-06-29 17:30] kishorj commented on #2707
@chalford, is there a dry run option with CDK? If so, what does the spec look like?

[2022-06-29 17:52] kishorj commented on #2706
@chjtwork, one way to mitigate the double commit is to specify the load-balancer-attributes on only one of the ingress in the group.

[2022-06-29 18:33] gagan-eg opened #2708 "Allow service.beta.kubernetes.io/aws-load-balancer-target-group-attributes to specific port for nlb"
**Is your feature request related to a problem?**
We would like to apply target-group-attributes  (proxy-protocol) to only one of the ports (target groups) in the service object for the NLB. Currently based on reading the code I don't see how to do it

**Describe the solution you'd like**
NLB allows attributes such as proxy-protocol to be applied to individual target groups and we would like to co

[2022-06-30 09:52] BobDu opened #2709 "Publish image to ecr public."
**Is your feature request related to a problem?**
Now, docker hub exist [rate limits](https://www.docker.com/increase-rate-limits/)
So, use alb image docker.io/amazon/aws-alb-ingress-controller is a bad idea.
But, if we use ecr region image, we need to set different image path in different region eks infra.

Can push image in ecr [public](https://gallery.ecr.aws/?searchTerm=aws-load-balancer-contr

[2022-06-30 13:01] MartinEmrich commented on #1084
Hmm apparently the OP closed this issue just to stop the Github emails for him/herself, but it is not actually closed. Is there a new issue to keep track of? Would love to use this feature to import a 3rd party certificate into ACM/ALB...

[2022-06-30 14:59] Indigenuity commented on #2366
Can confirm that even after targets are marked as `draining` in an ALB target group, they still receive traffic.  In a test where I sent a constant load to a 2-pod hello-world web server with PodDisruptionBudget minAvailable=1, the timeline I saw was:
- 0 seconds: `kubectl drain`
- 1 second: pod 1 enters `Terminating`, receives SIGTERM
- 2 seconds: target marked as `draining` in target group and D

[2022-06-30 15:41] eric-kinsa commented on #2366
That test doesn't account for existing connections that need to finish during the draining process. If a request takes several seconds, (lets say a visual query app) V and is happening during a deployment, the possibility is high that request is going to be killed when the pod its running on is killed instead of letting it cleanly finish.

[2022-06-30 16:43] M00nF1sh commented on #2241
/remove-lifecycle stale

[2022-06-30 17:06] greenlaw commented on #228
I was getting hung up with the `TargetGroupBinding` approach as well (defining the load balancer/listener outside of Kubernetes and linking to the k8s service via `TargetGroupBinding`), but @bgaillard 's note helped me identify that the missing piece was an `aws_security_group_rule` allowing ingress from the ALB to the cluster nodes.

I think this was mostly confusing because I am using `ip` targe

[2022-06-30 20:55] BryanStenson-okta opened #2710 "typo: Listner => Listener"
**Describe the bug**
typo

https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/pkg/deploy/elbv2/listener_manager.go#L161
https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/test/framework/resources/aws/load_balancer.go#L18

[2022-07-01 01:04] sidewinder12s commented on #2071
I also ran into this today across multiple clusters. The TLS secret has not changed since deployment as far as I can tell and was not regenerated. Did anyone have any idea whats wrong?

As far as I can tell the TLS secret in the cluster from the helm chart should be valid for 10 years.

[2022-07-01 10:28] #1763 closed

[2022-07-01 11:23] tailrecur commented on #2695
@kishorj I wasn't aware of the `targetgroupbinding` custom resource.

As you said, deleting the addition tgb and rolling out a deployment fixed this issue.
Thanks a lot for your help!

[2022-07-01 11:23] #2695 closed

[2022-07-01 16:29] kishorj commented on #2709
We are already tracking this task, please refer to the issue #1990 for further details.

[2022-07-01 16:30] #2709 closed

[2022-07-01 17:25] sidewinder12s commented on #2312
@bodgit In the past we just ignored differences on webhooks in ArgoCD due to that reason. I recently hit this issue after applying ArgoCD on our aws-load-balancer-controller apps.

[2022-07-01 17:52] sidewinder12s opened #2711 "Allow configuration of the MutatingWebhook failure policy"
**Describe the bug**
I ran into issues with TLS certs being regenerated due to these bugs:

https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2312
https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2264

Once the TLS certs changed, the MutatingWebhook for PodReadinessGate started failing and blocking the rollout of pods on services using this feature.

This w

[2022-07-02 11:27] git4suvendu opened #2713 "Ingress path is not working on AWS ALB"
**Describe the bug**
I am using an EKS cluster on Fargate and deployed AWS Load Balancer Controller for ingress. Using a dummy application (taken Nginx image) deployed one service. Just for the test, I am trying to access the same service from 3 different ingress paths: / and /foo/ and /bar/

AWS is successfully provisioning an ALB while ingress kubernetes object is getting deployed. I am able to

[2022-07-02 14:49] bartmanus commented on #1879
I am hitting this issue after upgrade from controller v1.1.3 to v2.4.2.

It took a lot of research but I finally discovered it is due to a missing ingress rule description in the EKS worker node's security group. This exact case has a Backwards Compatibility [chapter](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/v2.4.2/docs/deploy/upgrade/migrate_v1_v2.md#backwards-compatib

[2022-07-02 22:44] #1776 closed

[2022-07-04 08:52] #2706 closed

[2022-07-05 04:19] tooptoop4 opened #2715 "swapping subnet position works"
my k8s ingress object definition had:
[code]

load-balancer controller pod logs showing:
[code]

then i changed the order of values in subnets tag like so:
[code]

and the pod logs started showing successful creation of my loadbalance and listeners.
i also verified that subnet-redact1 was still full.

so i think rather than me manually changing different positions, can the code try each subnet rat

[2022-07-05 08:03] trondhindenes opened #2716 "allow ALB to target service objects"
**Is your feature request related to a problem?**
It's my understanding that it is "hard-coded" to have ingress objects create ALBs, while Service objects create NLB. I would like to have the option of creating ALBs for service objects as well. This can be valuable especially for creating load balancers for the ingress controller itself.

**Describe the solution you'd like**
An Service annotation

[2022-07-06 11:08] #2257 closed

[2022-07-06 14:38] chalford commented on #2707
It doesn't look particularly useful, I'm afraid:
[code]

I'm planning on testing the installation of the chart manually with `helm upgrade` instead of `install`, to see if I can replicate the problem.

[2022-07-06 19:01] noamApps opened #2717 "support alb.ingress.kubernetes.io/n: GRPCS"
**Is your feature request related to a problem?**

As far as I'm aware, alb supports https/http/grpc backends

but in cases where the backend service is using grpcs (grpc+tls) - its not possible to use alb

kong and ingress-nginx seems to support the GRPCS annotation

**Describe the solution you'd like**

Support grpcs backends using alb.ingress.kubernetes.io/backend-protocol-version: GRPCS annota

[2022-07-06 20:52] trmiller opened #2718 "Documentation points to IAM policy beyond quota limits for ACLSizePerRole"
**Describe the bug**
Following the documentation posted on the [aws user guids](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html), under section 1 a - the example policies being shown are too large.  Doing so gets the error `Failed to create role <role name>.  Cannot exceed quota for ACLSizePerRole: 4096`

**Steps to reproduce**
* Create IAM Policy
* Select Custom

[2022-07-07 13:31] runningman commented on #2688
Would using the `security-groups` annotation in combination with `alb.ingress.kubernetes.io/manage-backend-security-group-rules: "true"` solve the issue? This way the load balancer controller still manages the node/pod sg's which I think you mean. This was the problem I was having and I came across this post when searching for a solution. It looks like this option was added in 2.4

[2022-07-07 13:39] conrad784 opened #2719 "Certificate Filter for Certificate Discovery supporting RSA 4096"
**Is your feature request related to a problem?**
For our frontends in our EKS we need certificates which are RSA_4096, which are currently not issued by AWS ACM. Therefore we have an external certificate provider and are importing the certificates via IaC to AWS.

When creating an ALB manually, I can select this certificate and everything is working fine. But the k8s load-balancer-controller only

[2022-07-07 16:29] iusergii commented on #2684
EKS - v1.22.9-eks-a64ea69, Controller - 2.4.2 works for me:
[code]

[2022-07-07 17:11] #2710 closed

[2022-07-07 19:18] scottgerring opened #2720 "Linkerd - set custom header"
**Is your feature request related to a problem?**
I'd like to be able to use linkerd with the ALB ingress, but I have no way of setting the `l5d-dst-override` header before traffic is passed from the ingress controller to linkerd.

**Describe the solution you'd like**
I'd like a way to configure custom headers on the ingress annotations.

**Describe alternatives you've considered**

- Passing all

[2022-07-07 19:20] #1742 closed

[2022-07-08 03:37] tkent commented on #2665
Just to chime in, we're using AWS Security Hub and we _can't_ set the hops to 2 without violating the [AutoScaling.4 rule](https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards-fsbp-controls.html#autoscaling-4-remediation) (which has a severity of High). A bit of a catch 22.

[2022-07-08 05:56] tooptoop4 commented on #1212
i can see prometheus metrics like:
[code]
but not at targetgroup level

[2022-07-08 08:32] roheetmeister opened #2721 "container "aws-privateca-issuer" in pod "aws-pca-issuer-aws-privateca-issuer-XXXXX-YYYYY is waiting to start: trying and failing to pull image"
Hi All,

Please help to guide the below issue:
I followed given steps in https://aws.amazon.com/blogs/containers/setting-up-end-to-end-tls-encryption-on-amazon-eks-with-the-new-aws-load-balancer-controller but it seems pod is not getting started and throwing below error.

**container "aws-privateca-issuer" in pod "aws-pca-issuer-aws-privateca-issuer-XXXXX-YYYYY is waiting to start: trying and fail

[2022-07-08 13:12] sqsous-plenty opened #2722 "Rate Limit"
**Is your feature request related to a problem?**
We have deployed our ingress with alb ingress controller, but we need to do some rate limiting on the services

**Describe the solution you'd like**
rate limiting annotations like in HAproxy or Traefik

**Describe alternatives you've considered**
We tried to move to Traefik, but its not working as needed as ALB ingress controller
also using WAF doe

[2022-07-08 13:34] #2282 closed, assigned to nobody

[2022-07-08 15:29] #2683 closed

[2022-07-08 15:56] kishorj commented on #2721
@roheetmeister, the error appears to be from the `aws-privateca-iussuer` package. Please follow up with the GitHub project https://github.com/cert-manager/aws-privateca-issuer.

[2022-07-08 16:57] #2697 closed

[2022-07-08 17:17] ptwohig commented on #1935
A little over a year later, I'm running into this issue. Why would DNS cause this? It seems to resolve just fine, but the assume role policy isn't correct.

And what exactly is the fix here? Is it the fix for #1360, or is it the fix posted by @kaykhancheckpoint.

I'm getting it without using any Fargate profiles. I've tried both (DNS config) as well as the Terraform bit and neither seem to work.

[2022-07-08 17:35] kishorj commented on #2686
This controller applies labels to all k8s resources it creates, for example all TargetGroupBinding resources created by this controller have the following labels:

* explicit IngressGroup
    * `ingress.k8s.aws/stack: groupName`
* implicit IngressGroup:
    * `ingress.k8s.aws/stack-namespace: namespace`
    * `ingress.k8s.aws/stack-name: ingressName`
* NLB (service of type LoadBalancer or with NLB

[2022-07-08 18:22] andreydrozd commented on #2272
Thank you for following up @kaykhancheckpoint, it was really helpful!

[2022-07-08 19:59] kishorj commented on #2722
@sqsous-plenty, would you not be able to use AWS WAF to achieve the rate limit? You can specify the waf acl arn via annotation, for further details, refer to the [addions](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#addons) live doc.

[2022-07-08 20:06] sqsous-plenty commented on #2722
The WAF is not flexible at all,
we cant define per second rate limit, which is what we need

[2022-07-08 20:06] kishorj commented on #2718
@trmiller, the aws doc section 1 talks about creating the IAM policy. Your error indicates error with role creation. Did you use content from iam_policy.json in the trust configuration in section 2?

[2022-07-08 22:31] ptwohig commented on #1935
Disregard my other comment. Figured it out.

For anyone else whose Googling lands them here, this is a ready-made drop-in for Terraform which correctly sets up the permissions using a freely available module.

If you find yourself here after many hours of frustration, as I did, note the following:

- Is the IAM Role aware of the service account name?
- Is the service account annotated with the pro

[2022-07-09 00:13] raisulislam541 commented on #1935
**constantly getting the following output after checking the logs of aws-load-balancer-controller:**

[code]
`kubectl describe ingress ingress_name `
**shows this :**
[code]
my role policy is :
[code]

[2022-07-09 13:39] r-erema commented on #2042
/remove-lifecycle stale

[2022-07-10 15:33] Volatus commented on #2572
/assign

[2022-07-11 04:56] roheetmeister commented on #2721
@kishorj I already followed the same link but no luck.
Even i tried to create another tag of image and pushed to our private repo. but still getting the same error as shown below.

repository does not exist or may require 'docker login': denied: User: arn:aws:sts::xxxxx:assumed-role/eksctl-eks-Cluster-dev-us-nod-NodeInstanceRole-yyyyyy/i-wewewew **is not authorized to perform:** ecr:BatchGetImage

[2022-07-11 05:49] scottgerring commented on #2720
Hey @kishorj thanks for the reply!
Is there a workaround you are aware of? I've seen allusions to working with ALB scattered throughout the documentation but nothing concrete on implementation.

[2022-07-11 05:58] roheetmeister commented on #2721
It's fixed now

[2022-07-11 16:52] wildtapir commented on #2686
Thank you @kishorj . Let me be more clear. What I need is `listener arn` of an ALB. `listener arn` is not the same as `targetGroupARN`. Do you know of any object in k8s that would contain `listener arn` of an ALB?

[2022-07-12 16:02] kishorj commented on #2715
@tooptoop4, in case you reorder the subnets, does the created ALB contain subnets that are full?

The subnet auto-discovery feature [[live-doc](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/subnet_discovery/)], excludes subnets without enough IP addresses. In case of manually specified subnets, controller doesn't perform further validation, the error is from the AWS EL

[2022-07-12 18:53] tooptoop4 commented on #2715
when I re-order, the created ALB contains the 3 subnets (2 with free space, 1 full) and it works well (listener/target group rules work and I can access my UI endpoints)

[2022-07-12 20:18] #2519 closed

[2022-07-12 20:57] olivernaaris commented on #1572
+1

[2022-07-13 06:00] roheetmeister commented on #1127
Hi All,
I am facing an issue while configuring the ingress rule, it's throwing **"ingress: Failed deploy model due to CertificateNotFound: Certificate"**
**NOTE:**  My cluster is in Different account and issued ACMPCA from different account, however i have attached the Resource based policy into ACM.
Please find the attached relevant screenshots.

![ingress-2](https://user-images.githubusercontent

[2022-07-13 08:28] vincentheet commented on #2688
No it won't. When using both property's the loadbalancer controller creates a managed backend security group which is attached to the ALB. That security group is being referenced in the nodes security group as an inbound rule source.
The security group that is configured and attached to the ALB based on the `alb.ingress.kubernetes.io/security-groups` annotation should be created and configured man

[2022-07-13 08:56] runningman commented on #2688
got it, nice suggestion

[2022-07-14 17:15] M00nF1sh commented on #2722
@sqsous-plenty. our controller cannot support it until ALB itself provides the rate limit feature.

the only workaround is the WAF solution above with the limitations.

all ALB features will be centrally tracked at https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1571, closing this.

[2022-07-14 17:15] #2722 closed

[2022-07-14 17:18] M00nF1sh commented on #2720
@scottgerring
I'm not aware of workaround with ALB itself given it don't support request/response modification. You might use a NLB -> Nginx Ingress Controller to achieve it.(Nginx Ingress supports header modification)

Closing this for now given the ALB feature itself is tracked via #1571

[2022-07-14 17:18] #2720 closed

[2022-07-14 17:39] M00nF1sh commented on #2716
@trondhindenes
Yes, it's sort of "hard-coded" to only create ALB for Ingresses instead of Services.
To create a ALB for your Service, you should create an Ingress targeting your Service.

[2022-07-14 17:42] M00nF1sh commented on #2715
@tooptoop4
This seems to be bug in ALB side.
Thanks for reporting this to us, we'll sync with ALB team internally on this one.

[2022-07-14 17:46] M00nF1sh commented on #2713
closing this for now as it ALB requires backend application to receive traffic at the incoming URL path.

[2022-07-14 17:46] #2713 closed

[2022-07-14 17:47] M00nF1sh commented on #2711
Thanks for requesting this feature.
We can add an option to specify it.

/kind good-first-issue

[2022-07-14 17:58] M00nF1sh commented on #2708
one workaround for now is to create the TargetGroups yourself(so you can customize the attributes), and the use the [targetgroupbinding](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/targetgroupbinding/targetgroupbinding/) resource to bind the Service to the TargetGroups(to dynamically update target group targets).

But i admit that this is a valid feature request to al

[2022-07-15 09:42] matej-basic opened #2726 "backend-protocol: HTTPS not working"
**Describe the bug**
I am trying to create an ingress that will forward HTTPS traffic to my pods, as the idea of the deployment is to have HTTPS all the way from pods to the client.
When using alb.ingress.kuberentes.io/backend-protocol: HTTPS, the target groups are still configured as HTTP.
alb.ingress.kubernetes.io/healthcheck-protocol: HTTPS works properly, as well as the alb.ingress.kubernetes.

[2022-07-15 09:56] #2496 closed

[2022-07-15 17:01] dfinucane commented on #1719
I completely agree with what @ardove has said.

The point of this readinessGate feature is to delay the termination of the pod as long as the LB needs it.  If I have to update my chart to put a sleep in the preStop hook then it means that this feature is not working.  If I have to use the preStop hook then i might as well not even use this readinessGate feature.

In my observation the pod is allow

[2022-07-15 17:39] kishorj commented on #2726
@matej-basic, did the controller create an HTTPS listener on your ALB as well? Do you see the SSL redirect configuration on your HTTP listener? Please share the model generated by the controller for your ingress, you can get it from the controller logs.

[2022-07-15 17:43] kishorj commented on #2671
@tavlima, this is a known issue, the ACM ListCertificates API doesn't return ECDSA or RSA-4096 certificates unless explicitly specified. Issue #2719 provides more details. We will either make the key type configurable, or explicitly include the key types in the ACM queries.

Since we will use issue #2719 to track the effort, I will close this one as a duplicate.

[2022-07-15 17:43] #2671 closed

[2022-07-17 01:09] #2490 closed

[2022-07-17 11:11] #2501 closed

[2022-07-17 22:18] awsitcloudpro commented on #1181
This is still an issue with the latest version of ALB controller and EKS 1.22. I have 2 security groups attached to the ENI. Only one of them has the cluster "owned" tag, but the ALB controller keeps giving this error and fails to create target group bindings.

[2022-07-18 08:29] r-erema commented on #2042
@aandrushchenko

Could you provide full manifests of both ingresses, please?

[2022-07-18 12:40] jmturwy opened #2727 "Webhook admissions as a bool"
**Is your feature request related to a problem?**
 We have older helmcharts and what not and we would like to migrate to using the AWS LB Controller. The problem is the chart forces the creation of a admissionwebhook.

**Describe the solution you'd like**
Allow users to set the creation/use of the admission webhooks with a true/false or enabled/disabled parameter

**Describe alternatives you've co

[2022-07-18 18:22] #2512 closed

[2022-07-19 10:28] hyerim-gn commented on #1571
Are there any updates?

[2022-07-19 12:29] ShonL commented on #2039
For me, I had to open TCP 9443 port from the control plane to the nodes

[2022-07-19 20:34] simplicbe commented on #2039
For those who are using AWS management interface (web), go to the security group that is attached to the EC2 instances (nodes) and enable Port 9443 / TCP. That is the same as mentioned in the terraform code above:

![image](https://user-images.githubusercontent.com/14359329/179843246-f0fd717f-7684-4e33-9fc1-beada4c81a41.png)

Thanks for the help!

[2022-07-20 12:17] BobDu commented on #1990
Any progress?

[2022-07-20 13:23] eligithubacc commented on #2686
I have similar a problem. @wildtapir any luck so far?

[2022-07-20 16:14] ldemailly commented on #1834
@roimor

[code]

combined with, istio/envoy wise:

[code]

to reach the envoy internal health endpoint:
[code]
and

[code]
and because the hc will come with IP as target you need to serve certs on *
[code]

[2022-07-20 19:50] sidewinder12s commented on #1608
/remove-lifecycle stale

[2022-07-21 01:02] jurgen-weber-deltatre commented on #2708
We could use this feature also, our use case is we have the standard http ports with it on but with ingress nginx behind it. I added a nginx streaming port (https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/). This port I need it disabled. Right now for that target group, I just manually disabled it.

[2022-07-21 04:05] ellistarn commented on #2367
@M00nF1sh any word on this one?

[2022-07-21 05:59] vumdao commented on #2234
Anyone can change this issue to feature type instead of question?

[2022-07-21 08:08] wildtapir commented on #2686
Hi @eligithubacc. Nope, I was not able to use `kubectl` only to get `listener arn`.

[2022-07-21 09:18] ilvez commented on #835
I'm currently trying to dig out how to make it work. Can you share configuration how to achieve this?

[2022-07-21 09:45] shuaiyy opened #2728 "support custom request header"
**Describe the solution you'd like**

I need to add a cookie value to http header, just like the nginx ingress controller

[code]

[2022-07-21 11:05] jozenstar commented on #2684
@empeekdev @wwteo Have you guys tried the solution suggested by @iusergii?

[2022-07-21 11:34] ilvez commented on #835
Thanks for tip. For others who are stumbling upon how to achieve it. Below's the example, but main pieces of glue were correct `alb.ingress.kubernetes.io/conditions` annotations and actually `pathType: Prefix` with `path: /`.
[code]

Crucial part was to have `service1` and `service2` health check annotation in Service's as well, if default `/` does not respond for example:
[code]

[2022-07-21 11:44] junzebao commented on #2638
Hi @kishorj , I'm wondering what labels are necessary for the LB to be picked up by the controller? is it these ones defined here? https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#resource-tags

[2022-07-21 13:28] niall-d-tw commented on #2521
/remove-lifecycle stale

[2022-07-21 13:33] niall-d-tw commented on #2521
Hi @kishorj and @M00nF1sh - I think adding something like this first -> https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2430#issuecomment-1042412589 would make a feature like this easy to implement. I'd be happy to work on #2430 before this issue, if you think the comment is still the correct approach.

[2022-07-21 20:13] yann-soubeyrand commented on #2173
Maybe I’m saying something stupid, but couldn’t this information be recorded in the TargetGroupBinding status?

[2022-07-22 11:53] cesarmira opened #2729 "Helm: add helm envFrom value parameter"
**Is your feature request related to a problem?**
We define our clusters name as a value in a Kubernetes secret. Then, we set the arg `- --cluster-name=$(CLUSTER_NAME)` (or `clusterName: $(CLUSTER_NAME)` in the chart. At the moment, as we can't set the envFrom from the chart, we need to template the chart and apply the resources via flux.

**Describe the solution you'd like**
Update chart to inclu

[2022-07-22 12:22] 030 opened #2730 "How to apply security updates if github.com/aws/eks-charts/stable/aws-load-balancer-controller/crds?ref=master returns 404"
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* AWS Load Balancer controller version
* Kubernetes version
* Using EKS (yes/no), if so version?

**Additional Context**:

[2022-07-22 22:10] M00nF1sh opened #2731 "[BUG] ALBs for Ingress might be recreated while updating corresponding IngressClass's spec.parameters"
**Describe the bug**
Users **using the default provided "alb" IngressClass** and are currently with controller installed by HelmChart with version 1.3.1-1.3.3 could be impacted when upgrade to version 1.4.0-1.4.2.

Since when upgrading the chart, there is [a change](https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2478) that will configure the default IngressClass `alb` to refe

[2022-07-24 08:00] akefirad opened #2733 "Old LoadBalancer Doesn't Get Deleted After Reconciliation"
**Describe the bug**
Old load balancer doesn't get deleted after reconciliation.

**Steps to reproduce**
(This is my case, not sure if there's other ways to reproduce the bug)
1. Deploy the AWS LB Controller with a wrong cluster name (interestingly despite what the docs says about the significance of correct value for `--cluster-name` the controller managed to deploy LB, maybe because my cluster i

[2022-07-24 09:37] hanyhesham opened #2734 "Stickiness not working with ALB weighted-routing"
I was working on a project that requires weighted routing between two versions of the application, I used ALB ingress controller and sticky sessions.

I tried to enable sticky sessions by following this [doc](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#actions)

Then I added weighted routing as following:

    alb.ingress.kubernetes.io/actions.wei

[2022-07-24 18:06] visit1985 commented on #2233
/remove-lifecycle stale

[2022-07-25 22:27] guillaumecle commented on #2553
/remove-lifecycle stale

[2022-07-26 20:59] kpersohn commented on #1647
I'm also curious if it's safe to scope these to specific clusters and if so why not just make that the default? I'm more than happy to submit a PR if it would be a welcome contribution.

I saw the null condition check for `"aws:ResourceTag/kubernetes.io/cluster/CLUSTER-NAME": "false"` recommended in the docs for adding/removing rules to security groups and just applied that everywhere there were c

[2022-07-27 10:10] pradyumna1 commented on #1273
Reopening as this was automatically closed
/reopen

[2022-07-27 12:24] FarhadF opened #2737 "Loadbalancer service type with internal annotation creates public loadbalancer"
Service:

[code]
Please note the annotations: [documentation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/service/annotations/#lb-scheme)

Controller version: ```aws-load-balancer-controller:v2.4.2```

The resulting loadbalancer is external instead of internal. From aws console:  ```Scheme: internet-facing```

[2022-07-27 14:37] Glaaj commented on #2692
Any update on this issue?

[2022-07-27 14:55] kishorj commented on #2737
@FarhadF, could you share the model generated by the controller for the service? The model is in the controller logs, also check if there are any errors in the logs.

[2022-07-27 15:07] kishorj commented on #2734
@hanyhesham, the annotation doc you referred to mentions the additional `TargetGroupStickinessConfig` as well in the annotation `alb.ingress.kubernetes.io/actions.forward-multiple-tg`. Could you confirm whether you enabled stickiness on the target group via the annotation `alb.ingress.kubernetes.io/target-group-attributes: stickiness.enabled=true,stickiness.lb_cookie.duration_seconds=60`, and the

[2022-07-27 15:25] hanyhesham commented on #2734
@kishorj

Yes I could see it, I just find it so confusing when referring to weighted-routing.

I was working on a PR that makes it more readable instead of mentioning it inside other parts, for e.g:

 - If you are using `alb.ingress.kubernetes.io/target-group-attributes` with `stickiness.enabled=true`, you should add `TargetGroupStickinessConfig` under `alb.ingress.kubernetes.io/actions.weighted-r

[2022-07-27 15:28] FarhadF commented on #2737
I couldnt see logs related to the change (service creation/removal) even after enabling debug log-level. I also scaled the controller down to 0 replicas. And recreated the service, loadbalancer is still getting created. I am not sure what is creating the loadbalancer (I am sure its not the alb controller).

[2022-07-27 15:44] FarhadF commented on #2737
Using [this](https://kubernetes.io/docs/concepts/services-networking/service/#internal-load-balancer) I can create an internal load balancer. Is it just a coincidence that the annotations are the same with alb controller? ``` service.beta.kubernetes.io/aws-load-balancer-internal: "true"```

[2022-07-27 16:13] kishorj commented on #2737
If your load balancer name looks like "k8s-<namespace>-<name>-<hash>", then it is provisioned by this controller, else if the name looks like "a...", for example "aaac1f7736bbb4c5088a58f8ec4923c1", then it is provisioned by the in-tree controller.

I suspect you either don't have the annotation `service.beta.kubernetes.io/aws-load-balancer-type` or it is set to `nlb`. If so, it is the in-tree cont

[2022-07-27 18:33] robertpolasek-brt opened #2738 "ingressClass cannot be set as default when deployed using helm chart"
**Describe the bug**
In the helm chart there is ingressclass.yaml  file which is responsible for creation of ingressClass resource. Annotations are omitted from this file which prevents creation of default ingressClass as a part of helm chart.

Default ingress class is specified by the annotation  `"ingressclass.kubernetes.io/is-default-class": "true"`.

There should be a way to supply annotations

[2022-07-27 20:48] hanyhesham commented on #2734
PR:

https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2740

[2022-07-27 20:48] #2734 closed

[2022-07-27 22:40] kishorj commented on #2730
Due to the `-k` flag, kubectl builds the resources using kustomize (ref: https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/) from the given URL and applies them. This URL is in go-getter format, you will get a 404 if you try with a normal http client.

You can do a dry-run of the kubectl apply to see what resources would be modified, for example:
[code]

If you use install t

[2022-07-27 22:42] kishorj commented on #2730
Not sure why you had the kubectl apply mixed up with security updates section.

For updating the controller, you can either update via helm, or apply a new manifest with the new controller version.

[2022-07-28 00:13] kishorj commented on #2733
@akefirad, the controller uses cluster-name to tag the AWS resources it manages. The subnet auto-discovery also utilizes cluster name based tags to filter subnets - since there are cluster management tools that tag the subnets with the cluster name. Since cluster name is specified via controller flags, it is not possible for an existing controller to keep track of the previous runs with a differen

[2022-07-28 00:18] kishorj commented on #2728
@shuaiyy, ALB doesn't support adding custom request headers at the moment. Feature request #1571 to keep track of the issue.

[2022-07-28 00:20] kishorj commented on #2727
@jmturwy, the controller relies on the admission wehbook to validate, as well as apply default values. We currently don't have plans to make the admission webhook optional.

[2022-07-28 00:21] #2716 closed

[2022-07-28 06:04] 030 commented on #2730
@kishorj

The important paragraph is mixed with helm and kubectl. When I read it I had the impression that one always should run the kubectl apply -k ... command even when helm was used in order to run an helm upgrade, but as I understand now I can just run a helm upgrade without issuing the kubectl apply -k ... command.

[2022-07-28 08:15] oliverpark999 opened #2741 "Service Type.Target Group Binding Settings Issues with ClusterIP."
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* AWS Load Balancer controller version -> latest
* Kubernetes version
* Using EKS (yes/no), if so version? yes/1.22

**Additional Context**:

Hello,
I have deployed Deployment, Service, and Ingress as follows.
If you de

[2022-07-28 08:51] #2737 closed

[2022-07-28 14:39] youwalther65 commented on #1834
Out of curiosity: Is this an issue for ALB IP target mode as well?

[2022-07-28 18:02] kishorj commented on #1834
@youwalther65, ALB IP target registration is faster than NLB.

[2022-07-28 18:17] #2299 closed

[2022-07-28 18:56] bennettellis commented on #1834
the issue being discussed is precisely NLBs, not ALBs. There are many cases where an ALB is not an appropriate solution.

[2022-07-28 22:05] ldemailly commented on #1834
ALB is a lot faster yes, which is puzzling - but as mentioned above this is about NLB which is what is needed for many cases, using ALB isn't an option for us

[2022-07-29 10:57] richkroll123 opened #2744 "The ability to create ALB rules without cognito"
Im not sure if ive missed something but i can create a ALB fine and create my rules and TGr based on the service but have the need for cognito on one rule and another rule that doesnt have Cognito and bypasses it based on the rule condition. the cognito annotation adds auth to both rules.
Is it possible for that or could it be added to have one ALB with mutliple rules over two ALBs and one with co

[2022-07-29 12:27] bennettellis commented on #1834
I've been trying to put some pressure on the services team through tickets, and the AWS teams I work with to get this fixed for some time now. No movement yet. Also FWIW, this is not specific to k8s. In my situation, I'm actually deploying Fargate ECS containers into a standard TargetGroup for my NLB. The contianers come up in 4+ seconds and respond to healthcheck requests they're receiving pretty

[2022-07-29 16:01] kishorj commented on #2741
@oliverpark999, what is the target tyoe of your target group? Looks like a mismatch between your target group type and the target group binding targetType. Could you verify the target type matches?

[2022-07-29 16:43] kishorj commented on #2738
/kind feature

[2022-07-29 16:44] kishorj commented on #2738
@robertpolasek-brt, thanks for raising the issue. Feel free to raise a PR to address this.

[2022-07-29 18:19] #2572 closed

[2022-07-29 22:41] Project0 commented on #2131
/remove-lifecycle stale

[2022-07-30 11:50] akefirad commented on #2733
Thanks for the reply. Makes sense. Feel free to close the issue.

[2022-07-30 14:30] oliverpark999 commented on #2741
After that, after changing the TargetGroup type to IP, the TargetGroupBinding configuration was successful.

[2022-07-30 14:30] #2741 closed

[2022-07-31 01:34] #2514 closed

[2022-08-01 01:40] #2347 closed

[2022-08-01 11:15] divvy19 commented on #298
I was able to resolve this using below steps :-
Add below tags in the already existing ALB --
1)  ingress.k8s.aws/resource  --> LoadBalancer
2)  ingress.k8s.aws/stack  --> exisitingalb
3)  elbv2.k8s.aws/cluster    --> name of your cluster

Once the above step is done add the below annotation mapping to your ingress.yaml file

alb.ingress.kubernetes.io/group.name: "exisitingalb"

Save and apply thi

[2022-08-01 14:03] MarvinCai commented on #2668
I am having similar issue. I am trying to create a LoadBalancer service in a ipv6 only EKS cluster, getting similar error `"error":"unsupported IPv6 configuration, lb not dual-stack"`. I am able to get it working by adding this annotation `"service.beta.kubernetes.io/aws-load-balancer-ip-address-type": 'dualstack'` to the service according to this doc: https://aws.amazon.com/blogs/containers/amazo

[2022-08-02 13:45] karthichu commented on #2553
+1. It would be nice to have this feature which will make the identification of ALB destinations much easier. Any ETA on when this can be made available? Atleast support to tag the target groups with custom labels?

[2022-08-02 22:04] chrisnegus opened #2747 "Recommendations for using ALB with Karpenter"
**Is your feature request related to a problem?**
Not particularly.

**Describe the solution you'd like**
Guidance for using ALB with [Karpenter](https://karpenter.sh/).

**Describe alternatives you've considered**
We are removing the FAQ entry from the Karpenter docs related to using the [AWS load balancer controller with Karpenter](https://karpenter.sh/v0.13.2/faq/#how-do-i-use-karpenter-with-th

[2022-08-03 07:32] fengjiang-v opened #2748 "aws loadbalancer missing attribute routing.http.preserve_host_header.enabled"
**Is your feature request related to a problem?**
Ingress aws loadbalancer annotation missing attribute routing.http.preserve_host_header.enabled
https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html#host-header-preservation

**Describe the solution you'd like**
the Ingress annotation should support something like
`alb.ingress.kubernetes.io/preserve-ho

[2022-08-03 07:34] #2748 closed

[2022-08-03 07:34] fengjiang-v commented on #2748
sorry, figured out that it could be achieved by setting alb.ingress.kubernetes.io/load-balancer-attributes

[2022-08-03 18:43] phajduk commented on #2667
@kakarotbyte is it a dupe of https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2297 ?

[2022-08-03 19:15] krishgu opened #2749 "SecurityGroup errors when setting up the ALB in a different VPC than the EKS"
We have an AWS setup with one common public-facing VPC(`vpc1`), and a private EKSs on a second private VPC (`vpc2`). There is routing between the two via another gateway, and these two vpc-s are not peered.

We are trying to run the AWS LB Controller 2.4 on the private EKS (on `vpc2`) - and running with command line option of `aws-vpc-id`=`vpc1`. However this is modifying the EKS Cluster's Securit

[2022-08-03 19:22] krishgu commented on #2749
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2232

[2022-08-03 19:49] neerajjain92 commented on #2289
In my case I followed this document https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html after following everything, my application shows right output for

[code]

but in AWS portal, there is no load-balancer being shown

[2022-08-03 21:31] kakarotbyte commented on #2667
Yup oyu are correct  it is a duplicate

[2022-08-04 15:26] xeivieni commented on #2553
I also agree that naming the target groups could be a useful feature, for example when monitoring the traffic handled by the target we may want to be able to clearly bind it to the service name, not guessing it from the X first letter.

[2022-08-04 17:01] anthonyliriano commented on #1571
Is  the HTTP Request Header manipulation still being considered?

[2022-08-04 17:10] #2392 closed

[2022-08-04 21:08] #2733 closed

[2022-08-04 21:45] kishorj commented on #2640
@NathanFRuiz
Since v2.3.0 release, controller adds port-range restricted security group rules to the nodegroup SGs. A user can choose to disable the security group rules management completely by creating a security group manually and specifying it via the `alb.ingress.kubernetes.io/security-groups` annotation on the ingress resource.

I'm closing the issue, let us know if you have further concerns

[2022-08-04 21:45] #2640 closed

[2022-08-04 22:58] kishorj commented on #2667
@kakarotbyte, closing the issue as duplicate.

[2022-08-04 22:58] #2667 closed

[2022-08-04 23:14] kishorj commented on #2668
@akunszt, at the moment the NLB/ALB must be dual-stack in order to attach to an IPv6 target group. The target type also has to be IP. The manifest snipped provided by @MarvinCai is the intended approach.

I'm closing the issue for now, if you have further concerns, feel free to reach out.

[2022-08-04 23:14] #2668 closed

[2022-08-05 01:28] kishorj commented on #2744
@richkroll123, you could create two ingresses - one with cognito, and one without. Then you could use the ingress group feature to share a single ALB with both the ingresses. You can refer to the live docs link https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#ingressgroup for more info on the ingress group feature.

[2022-08-05 01:28] kishorj commented on #2747
/kind documentation

[2022-08-05 09:12] richkroll123 commented on #2744
Absolute magic, that’s done exactly what I needed. If I’d read that annotation properly eh.

Thanks for that this ticket can be closed off

_____________________________________________
Rich Humphreys
Vice President, Cyber Risk, Cyber Managed Services
Technical Architect

M +44 755 127 6260

From: Kishor Joshi ***@***.***>
Sent: 05 August 2022 02:29
To: kubernetes-sigs/aws-load-balancer-controller

[2022-08-06 01:46] #2731 closed

[2022-08-06 06:46] neerajjain92 commented on #1571
Any update on this ?

[2022-08-06 14:17] krishgu commented on #2749
Hi - this works when we setup peering between the two vpc's. No need to add routes or additional details. Just the presence of the peering relationship between the two VPC's does make it work.

[2022-08-06 14:17] #2749 closed

[2022-08-08 09:17] yanivpaz opened #2751 "K8s gateway support"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
I want to use the new K8s gateway resource : https://gateway-api.sigs.k8s.io/
it can be either replacement for ingress resource  ( with more feature ) or replacement for this:
https://aws.amazon.com/blogs/containers/integrate-amazon-api-gateway-with-amazon-eks/

**Describe alternatives you've considered**
st

[2022-08-08 13:03] cmsmith7 commented on #2167
/remove-lifecycle stale

[2022-08-08 16:49] #2644 closed

[2022-08-08 19:26] minusv commented on #2684
It's not working for me as well. Have anyone of you found any solution for this?

[2022-08-09 09:26] nabadger opened #2752 "[Feature] Ability to configure target group tags separate from LB/SecurityGroup tags"
When we set tags on the `Ingress` resource I see them get set on the following AWS resources

- LoadBalancer
- SecurityGroups
- TargetGroups

via something like:

[code]

I would like to have a way to only have these set on the created TargetGroup resource only.

In our use-case we have shared ALB's per app, which are centrally maintained by a platform-team, and then we have per-app-team `Ingress`

[2022-08-09 09:29] nabadger commented on #2752
Note, maybe this only makes sense when the ALB is shared across multiple Ingress.

[2022-08-09 11:24] minusv commented on #2684
I tried the solution suggested by @iusergii but it didn't work for me. Does anyone else have a working solution for this? Meanwhile, @iusergii Can you share the full YAML config of your solution? Could be something else that we might be missing.

[2022-08-09 16:33] kishorj commented on #2752
@nabadger, you can specify target group specific tags in the backend service. Controller merges the tags from the ingress and the backend services, and the ones in the service gets precedence in case of conflict. For more details, please refer to the live docs at https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#tags.

[2022-08-09 16:35] kishorj commented on #2751
@yanivpaz, thanks for bringing it up. This item is already in our roadmap and we have the issue #1338 to keep track of the feature.

[2022-08-09 16:36] kishorj commented on #2751
I will close this as a duplicate.

[2022-08-09 16:36] #2751 closed

[2022-08-09 16:36] #2744 closed

[2022-08-09 16:39] kishorj commented on #2718
@trmiller, I'm closing the issue. If problem persists, feel free to reach out.

[2022-08-09 16:39] #2718 closed

[2022-08-09 16:39] kishorj commented on #2726
@matej-basic, any updates?

[2022-08-09 16:46] kishorj commented on #2684
@minusv, @wwteo, could you share the full manifest of the service? Did you ensure the NLB got provisioned by this controller? If the LB name starts with `k8s-`, then it is provisioned by this controller. Also, check if the ACM certificates are still valid and did not expire.

[2022-08-09 17:38] kishorj commented on #2672
@rittneje, we will provide a separate yaml for the IngressClass and IngressClassParams manifests starting v2.4.3 patch release and update the documentation.

[2022-08-09 17:50] kishorj commented on #2682
closing the issue since chart v1.4.3 is already released.

[2022-08-09 17:50] #2682 closed

[2022-08-09 18:18] rodrigc opened #2754 "Feature: log a warning if ARN of certificate is not in the same region where ALB is being created"
**Is your feature request related to a problem?**
If you create a Kubernetes cluster in AWS, and an ALB is being created
in a particular AWS region, the certificate must be stored in AWS Certificate Manager in the same region as the ALB, otherwise when creating an ingress, the ingress will fail.

A warning will look like:

[code]

See description of problem here: https://kubernetes.slack.com/archi

[2022-08-09 19:27] aboretum commented on #1602
@M00nF1sh Can you advise on what readiness gate condition format would that be? (Upon looking at the generated pod readiness gate condition by the webhook, it appears to be referencing a specific ALB as the
[code]
)

I'm in an organization where the responsibility between setting namespace tag and pod spec are split to different teams, so I can't count on the namespace tag `elbv2.k8s.aws/pod-readi

[2022-08-09 19:32] wwftw commented on #1602
@M00nF1sh Can you advise on what readiness gate condition format would that be? (Upon looking at the pod readinessgate template generated by the webhook, it looks like it references a specific ALB as the name contains a SHA
[code]
)

I'm in an organization where the responsibility of setting namespaces tags and pod template spec fall into different teams. I can't always relying on the `elbv2.k8s.a

[2022-08-09 21:23] dusansusic opened #2755 "Targets aren't registered until ALB ingress controller pods are restarted"
**Describe the bug**

In our particular case, we have 2 deployments, 2 services, and 1 ingress rule.
We are using the A/B deployment type where we update annotation to:
- Service/deployment A is receiving 100% of the traffic
- deploy B and wait until readiness gates are passing
- update annotation to forward 100% of traffic to go to service/deployment B

From this:
[code]

We update it to:

[code]

[2022-08-09 21:55] kishorj commented on #2705
@abebars, I'm closing the issue since this is the expected behavior.

[2022-08-09 21:55] #2705 closed

[2022-08-10 07:55] #2672 closed

[2022-08-10 08:06] #2679 closed

[2022-08-10 08:08] #2662 closed

[2022-08-10 08:10] kishorj commented on #2461
@poblahblahblah, I'm closing the issue. If you have further updates, concerns feel free to reopen or create a new issue.

[2022-08-10 08:10] #2461 closed

[2022-08-10 08:23] nabadger commented on #2752
Ah, I missed that! many thanks

[2022-08-10 08:23] #2752 closed

[2022-08-10 08:53] tushar-sg commented on #975
/remove-lifecycle stale

[2022-08-10 10:05] yanivpaz commented on #2751
its not the same  issue

[2022-08-10 10:14] yanivpaz commented on #1338
The correct link is https://gateway-api.sigs.k8s.io/
@kishorj  - what is needed to add it to the [roadmap ](https://github.com/kubernetes-sigs/aws-load-balancer-controller/projects/5?card_filter_query=label%3Akind%2Ffeature)?

[2022-08-10 12:20] minusv commented on #2684
@kishorj Thanks for pointing this out. The NLB created didn't have `k8s-` in the prefix. I checked this document [here](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/configurations/#limiting-ingress-class) and found that ALB-controller will only spawn an LB of type ALB when `--ingress-class=alb` is passed as argument. This was the case in my setup.

Any idea on how can

[2022-08-10 15:54] v1nc3nt27 commented on #2682
Yup, I also tested it now and it works as expected. Thanks!

[2022-08-10 18:02] kishorj commented on #2684
IngressClass is for ALB. For NLB, you will have to provision a service resource of type LoadBalancer, and the following annotations:
[code]
or
[code]

You could also set the service `spec.loadBalancerClass` to `service.k8s.aws/nlb` on k8s 1.22 or later in-lieu of the `aws-load-balancer-type` type annotation.

[2022-08-10 18:05] kishorj commented on #2755
@dusansusic, would you be able to share the controller logs? You can email them to k8s-alb-controller-triage AT amazon.com

[2022-08-10 20:39] saha-rajdeep opened #2757 "Target Group deregistering pods when reused for another set of pods with TargetGroupBinding"
**Describe the bug**
We want to use the same targetgroup in an ALB/NLB to send traffic to two different clusters. This ALB/NLB is managed outside of the cluster. This is to enable fallback, as well as A/B testing. When we run TargetGroupBinding using targetGroupARN from one cluster (Using https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/targetgroupbinding/targetgroupbindin

[2022-08-10 21:06] kishorj commented on #2203
Fix available in v2.4.3 release, closing the issue

[2022-08-10 21:06] #2203 closed

[2022-08-10 21:41] kishorj commented on #2757
The controller currently doesn't support sharing the same TargetGroupBinding across multiple clusters. This is expected behavior since controller assumes exclusive ownership over the target group binding. There is a feature request #2173 to support sharing tgb across multiple cluster/controllers. It is in our roadmap for the next minor release.

For ALB, you can use weighted target groups to split

[2022-08-10 21:45] kishorj commented on #2730
If you are upgrading the chart, then `kubectl apply -k` is required. The helm install command will take care of the CRDs as well, so a separate `kubectl apply -k` is not required. The URL is in go-getter format, so you will get a 404 if you try to access directly, this is expected.

I'm closing this issue. If you have further concerns, feel free to reach out.

[2022-08-10 21:45] #2730 closed

[2022-08-11 03:42] bagel-dawg opened #2758 "Unable to create an ALB in a different VPC than the one where EKS exists."
**Describe the bug**
I am using a single ALB ingress controller to deploy two ALBs (1 internet-facing, 1 internal) via ingress annotations. I am able to deploy the internal ALB without issue, it is deployed in the same VPC as EKS.

The internet-facing ALB is deployed into subnets that are shared with the account, and thus are in a different VPC than the VPC that EKS is in.

When deploying I receiv

[2022-08-11 03:53] bagel-dawg commented on #2758
I see [this comment](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2232#issuecomment-922080781) that having multiple VPCs is not supported. Is this still true in 2022?

[2022-08-11 10:09] dusansusic commented on #2755
@kishorj logs are sent to given mail. Thanks!

[2022-08-11 11:30] liubog2008 commented on #2221
@kishorj now security group can be set in pod level, does this problem can be resolved?

[2022-08-11 11:32] liubog2008 commented on #2221
See https://docs.aws.amazon.com/eks/latest/userguide/security-groups-for-pods.html

[2022-08-11 12:28] dhawal1304 opened #2759 "Multiple Protocols Not Supported (TCP+UDP)"
**Describe the bug**
If i specify multiple protocols for a AWS LB, aws load balancr controller gives error.

**Steps to reproduce**

apiVersion: v1
kind: Service
metadata:
  name: vvr-lb # the name of our service
  namespace: infoscale-vtas
  annotations:
      service.beta.kubernetes.io/aws-load-balancer-internal: "true"
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      #

[2022-08-11 12:31] dhawal1304 commented on #2759
Also , please let know  if there is a workaround for this.

[2022-08-11 16:25] kishorj commented on #2263
@m477r1x, @crawforde, would you be able to share your complete manifest and the model generated by the controller? You can get the model from the controller logs. Also if there are any errors, please share it with us.

[2022-08-11 16:30] kishorj commented on #2759
Since you've used the annotation ` service.beta.kubernetes.io/aws-load-balancer-type: "nlb"`, the load balancer is provisioned by the kubernetes in-tree/cloud-provider controller where mixed protocol support is not available. This controller supports mixed protocols, you'd have to create a service with the following annotation instead:
[code]
You could also set service `spec.loadBalancerClass` to

[2022-08-11 16:33] kishorj commented on #2221
@liubog2008, this problem exists until NLB support for security groups is available.

[2022-08-11 16:37] dhawal1304 commented on #2759
While you can mix TCP and UDP ports, but the TCP and UDP ports need to be distinct due to AWS NLB side limitations :  Does this mean that aws load balancer controller cannot provision tcp and udp on the same port.

We have a requirement of tcp and udp listening on the same port which is 4145.   Is this possible by any means.

[2022-08-11 18:50] kishorj commented on #2759
LB controller currently cannot provision TCP and UDP listener using the same port for an NLB, feature request #1608 is in our roadmap.

That being said, you can see if the following steps helps your case:
- create a k8s service of type ClusterIP for your application
- Provision an NLB from the AWS console, create a Listener of type TCP_UDP for the port you want to expose and create a new target gr

[2022-08-11 21:44] kishorj commented on #2643
@obiordu, the `--set service account.create=false` on helm upgrade causes the service account to be deleted only if it had been created by the previous chart installation. If the sa was created outside of the helm chart, it will not be deleted during the helm upgrade. If sa is not found, the pods will fail to start - this is expected behavior.

Please verify if the service account on v2.1.3 or ear

[2022-08-11 21:53] kishorj commented on #2654
@vipulJain05, ALB currently doesn't support HTTP 308 redirect. For the redirection, you can provision a NLB with your your application issuing the required redirect - this is a bit costly alternative.

[2022-08-11 21:58] kishorj commented on #2669
@theintz, in case of errors, controller will not reconcile the ingress or the group further. If you use ingress group feature, fatal errors encountered during processing of one ingress affects the entire group. Other ingresses not part of the group should still continue to work as expected.

Controller tolerates certain errors, for example if backend service doesn't exist, it configures a 404 resp

[2022-08-11 22:03] kishorj commented on #2678
@michaelkoro, we can optimize in limited situations - for consecutive rules so as to honor the ingress group order. Also the current ALB limit is max 5 conditions per rule.

Are you hitting the rules quotas or have other concerns?

/kind feature

[2022-08-11 22:11] kishorj commented on #2690
/kind feature
Currently, the default target type for Ingress and Service with loadBalancerClass is `instance`. The load balancer class is supported in k8s 1.22 and later versions. For legacy service, we want to rely on the load balancer type, and the target type attribute both and not depend on the default target type.

For the cases we use default `instance` type, we will provide a flag to config

[2022-08-11 22:17] kishorj commented on #2691
@wuyudian1, this is not something we can support at the moment. It requires at least the following features:
- Controller support multiple VPCs
- possibly run multiple controller instances in the same cluster

We will keep it in the roadmap

[2022-08-11 22:19] #2540 closed

[2022-08-11 22:29] kishorj commented on #2694
@kncesarini, I see you specified the healthcheck port/protocol/path manually and is different from the traffic port, it should have worked. I'm not familiar with kong-ingress proxy. Would you be able to post the model for your ingress group? And on your worker node running your application, could you check the requests to the health check port from the ALB?

[2022-08-11 22:30] kishorj commented on #2717
@noamApps, we brought it up to the ALB team and are investigating further on this matter.

[2022-08-11 22:31] kishorj commented on #2729
/kind feature

[2022-08-11 22:34] kishorj commented on #2754
@rodrigc, we can parse the certificates specified via annotation, and if the certificate is from a different region than the controller, return appropriate error while building the model. This way we can return a more descriptive error and  don't depend on the generic ALB errors.

[2022-08-12 08:24] igor-mendix opened #2761 "TargetGroupBinding creation fails because ALBC unavailable during deployment"
**Describe the bug**
When installing my ingress stack that includes AWS LB controller, I get errors similar to the following:

[code]

If `helm upgrade` is run second time it completes fine.

**Steps to reproduce**
Prepare a EKS cluster, create IAM role for ALBC (without ServiceAccount in k8s) and target group. Then deploy https://github.com/igor-mendix/ingress like this (**beware of hardcoded `in

[2022-08-12 09:56] igor-mendix opened #2762 "ALBC unexpectedly builds an empty model"
**Describe the bug**
Despite `Ingress` resource presence, ALBC builds empty model:
[code]
and as a result attempts to delete the target group.

**Steps to reproduce**
Prepare a EKS cluster, create IAM role for ALBC (without ServiceAccount in k8s) and target group. Then deploy https://github.com/igor-mendix/ingress like this (**beware of hardcoded ingress namespace**):
[code]

**Expected outcome**

[2022-08-12 10:51] ngoyal16 opened #2763 "ALB Rule order"
**Describe the bug**
If there are 2 ingress objects in EKS with following specs

[code]

above spec is creating rules in alb with following order

rule1:   host:example.com   path: /*  ->  example-1-svc
rule2:   host:example.com   path: abc or abc/*   ->    example-2-svc

**Expected outcome**
expected rule order should be

rule1:   host:example.com   path: abc or abc/*   ->    example-2-svc
rule2:

[2022-08-12 13:21] jyotibhanot commented on #2131
@shubham391 : I am implementing the same in my kubernetes cluster but unable to calculate the sleep time for prestop hook and terminationGracePeriodSeconds. Currently terminationGracePeriodSeconds is 120 seconds, deregistration delay is 300 seconds.Do we have any mechanism to calculate this?

[2022-08-12 13:42] jyotibhanot commented on #1719
@M00nF1sh I am implementing the same in my kubernetes cluster but unable to calculate the sleep time for prestop hook and terminationGracePeriodSeconds. Currently terminationGracePeriodSeconds is 120 seconds, deregistration delay is 300 seconds.Do we have any mechanism to calculate this?

[2022-08-12 15:49] kishorj commented on #2762
@igor-mendix, empty model implies the ingress got deleted or the ingress group, if configured, has no active members since the ingresses got deleted. Your ingress spec contains nonzero deletion timestamp:
[code]
Could you make sure you did not delete the ingress? The ingress resource stays around until the controller is able to clean up all of the underlying aws resources, and remove the finalizer

[2022-08-12 16:28] igor-mendix commented on #2762
Oooh, thanks a lot! This is indeed a remnant of previous Helm uninstall. I've just checked and it is not getting deleted when I uninstall the chart even though ALBC itself is removed (and pretty much everything with it). So it gets stuck forever. So finalizer there is this:
[code]
but a lot of things in this cluster are set up by Terraform separately, so I guess whatever in AWS it depends on would

[2022-08-12 16:43] kishorj commented on #2762
@igor-mendix, the ALBC adds the finalizer to ensure all underlying AWS resources get cleaned up successfully on ingress deletion. You need to ensure the controller chart does not get uninstalled before the ingresses get deleted.

[2022-08-12 16:47] kishorj commented on #2761
@igor-mendix, TargetGroupBinding depends on the validating and mutating webhooks which is part of the LBC. The controller needs to be fully functional for the webhooks to be successful. In your case, it looks like the CRDs and the webhooks got installed but the controller pod is not yet functional.

Did you create the `TargetGroupBinding` manually or it was done by the controller for your Ingress

[2022-08-12 17:33] kishorj commented on #2763
@ngoyal16, in this case you have two ingresses belonging to the same ingress group, without explicit ingress order so both of them get the default order of 0. Since both of them have the same order, the controller sorts them based on name/namespace so the rules from ingress-1 comes before the ones from ingress-2.

If you want different ordering, you can specify explicit group order. For more detai

[2022-08-12 23:13] rodrigc commented on #2754
@kishorj that would be helpful.

When we use the AWS API to attach a certificate to an ALB, does the AWS ALB return a useful error message to indicate that the cert is invalid because it is stored in a different region in the AWS Cert Manager?

If not, then implementing your suggestion is good to parse the certificate arn, and compare the arn region with the region of the ALB, and log the error if

[2022-08-13 20:18] saha-rajdeep commented on #2757
Thanks Kishorj, that's what I suggested currently. However, customer is using NLB with NGINx ingress. Will keep an eye out for the next minor release.

[2022-08-13 22:45] jyotibhanot commented on #2106
@MatthiasWinzeler : What should be the value of pre stop hook? Some posts suggest that   terminationGracePeriodSeconds > preStop sleep > deregistration delay and other suggests that  PreStop hook sleep only need to be controller process time + ELB API propagation time + HTTP req/resp RTT. How can we calculate the prestop hook value?

[2022-08-13 23:34] doctornkz commented on #1571
Waiting Rate Limit feature for ALB, WAF too slow to help out with spike-loads.

[2022-08-14 00:39] #2548 closed

[2022-08-14 04:39] #2545 closed

[2022-08-14 06:19] dhawal1304 commented on #2759
@kishorj   Thanks for the feedback. Used "You could also set service spec.loadBalancerClass to service.k8s.aws/nlb instead of the annotation."  as suggested by you, and was able to create mixed protocols(Not on the same port).

Will like you views on when we are planning to support mix protocol(TCP_UDP), as mentioned by you #1608

[2022-08-15 04:47] liubog2008 commented on #2221
@kishorj I'm sorry could you explain it with more detail? I think if client ip is reserved, security groups for pods can detect the source ip and block it.

[2022-08-15 08:01] igor-mendix commented on #2761
It is being created as part of the chart that I linked above. I don't know if there is a way to tell helm to wait for ALBC to become available before creating it, I'll research this.

[2022-08-15 08:04] igor-mendix commented on #2762
It's all part of a single chart (ALBC is a dependency) and I don't know if there's a way to control the order in which stuff is deleted during uninstall. Will have to dig a bit deeper.

[2022-08-15 09:15] dai-mk opened #2764 "Existing targetgroupbinding cannot be patched"
**Describe the bug**
Why is it that you can create and delete targetgroupbindings, but you can't modify an existing one. Use case is my targetgroup's name in AWS has changed I now want to update in Kubernetes.

**Steps to reproduce**
[code]
**Expected outcome**
Targetgroupbinding can be always changed like other Kubernetes resources.

**Environment**

* AWS Load Balancer controller version: 1.4.2

[2022-08-15 11:09] dusansusic commented on #2755
It just happened again. Described one of the pods and caught this:

[code]

[2022-08-15 11:17] dusansusic commented on #2755
It seems we are hitting the same issue as it is described in https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1205

[2022-08-15 16:57] #2757 closed

[2022-08-15 17:03] kishorj commented on #2515
/reopen

[2022-08-16 07:27] evgpisarchik commented on #1577
I resolved this issue by extending the Role "AWSLoadBalancerControllerIAMPolicy" from
https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html
with adding permissions to add tags (and more) for whatever was mentioned in the errors I was getting.

At least this permissions were added:
ec2:CreateTags
elasticloadbalancing:AddTags
elasticloadbalancing:SetSecurityGroups

[2022-08-16 08:00] MatthiasWinzeler commented on #2106
@jyotibhanot We don't have long running requests (which I think would require to respect the deregistration delay). So for us only `terminationGracePeriodSeconds > preStop` and `controller process time + ELB API propagation time + HTTP req/resp RTT` appear to matter.

To figure it out for your use case, AWS recommended us to just test it with your applications under some realistic load.

[2022-08-16 13:27] jpriebe commented on #1734
We had a similar setup -- EKS nodes in private subnets, no NAT gateway.  We have HTTPS proxies, however.  And we can't disable WAF.  So we worked around this by setting the `https_proxy` and `no_proxy` environment variables.  We had AWS support look at our proposed idea; they never came right out and said "yeah, that's how you do it", but they didn't have any objections, either.  When we tried it,

[2022-08-16 20:31] M00nF1sh commented on #2764
We explicitly to make targetGroupARN immutable to avoid dealing with edge cases/unclear semantic.
e.g. If we allow change targetGroupARN, we might have to clean targets from old targetGroup when changed.

such semantic exists in Kubernetes world as well, like pod resources including volume mounts are immutable, you need to delete and recreate for such scenario.

[2022-08-17 05:27] olemarkus commented on #2430
@M00nF1sh @kishorj any update on this?

/remove-lifecycle stale

[2022-08-17 07:23] AndriySidliarskiy opened #2766 "Listener certificates for SNIInfo"
**Is your feature request related to a problem?**
A description of what the problem is. For example: I'm frustrated when [...]

Listener certificates for SNI
Additional certificates support Server Name Indication (SNI). This enables the load balancer to support multiple domains on the same port and provide a different certificate for each domain.

Now I don't see annotation for this feature in alb

[2022-08-17 13:08] zswanson commented on #2471
/remove-lifecycle stale

[2022-08-17 15:51] kishorj commented on #1629
The issue is highly likely due to upgrade from the previous 1.1.x version of the aws-alb-ingress-controller to the v2 version. While upgrade supports existing resources, there are additional IAM permissions needed, as well as the SG rules comments as mentioned in the upgrade guide https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/upgrade/migrate_v1_v2/

The controller fail

[2022-08-17 15:51] #1629 closed

[2022-08-17 16:40] antonyRoberts opened #2767 "App routing if url is not root 404 response."
**Describe the bug**

Single Page web application, where app loads fine if the url is the root, when the app is loaded routing within the app works as expected.  But if the page is to be opened, on anything but the root have 404 not found responses.

So, https://example.com/ works as expected, but opening a page directly like https://example.com/home results in a 404.

**Steps to reproduce**

`
ap

[2022-08-17 16:45] kishorj commented on #2766
@AndriySidliarskiy, you can either configure multiple certificates via the annotation `alb.ingress.kubernetes.io/certificate-arn` [1], or let the controller automatically discover the certificates [2].

[1] https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#certificate-arn
[2] https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingr

[2022-08-17 17:31] OHsechun opened #2768 "Ingress is not created when provisioning ALB controller and Ingress through terraform."
**Describe the bug**
When I provisioning EKS, ALB Controller and Ingress, below error occurs. (helm chart version 1.4.4, not until 1.4.3)
[code]

I read issue about this error message, but that was not my case. (https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2462)
Because I already added rule for cluster security group to access eks-node security group through 1025-65535 po

[2022-08-17 17:51] kishorj commented on #2767
@antonyRoberts, your ingress spec indicates all paths for thestateofcomedy.com be forwarded to your soc-frontend service. Do you not see the ALB rules for this host? If the ALB listener rules are in place, check if the 404 is from your application.

[2022-08-17 17:58] kishorj commented on #2768
@OHsechun, could you confirm whether the ALB got provisioned as expected when  you apply the remaining resource with with "terraform apply"? It is possible the controller is starting up and not ready to serve the webhook. What is the delay you observe?

[2022-08-17 23:05] kishorj commented on #2758
@bagel-dawg, we still do not support multiple VPC. You can configure the controller to a specific vpc than the default, but as you mentioned, it will be limited to that particular VPC only.

[2022-08-17 23:07] #2758 closed

[2022-08-17 23:07] kishorj commented on #2758
Closing this issue in favor of feature request #2652

[2022-08-17 23:29] duchoa2015 commented on #2768
I'm having the same problem but in my case I deploy the helm chart pointing out the values.yml that should be used.

[code]

Here is my values.yml to do helm install

[code]

I downloaded the policies and created them via terraform.

`https://raw.githubusercontent.com/kubernetes-sigs/aws-alb-ingress-controller/main/docs/install/iam_policy.json`

When I use the same policy and create the IAM Servic

[2022-08-18 00:48] OHsechun commented on #2768
@kishorj
Yes, ALB was provisioned as expected at second apply.
It is not exact, but it was not long because I applied again as soon as failed to create ingress through terraform.
(But there was a term for terraform to compare resources before applying remaining resources.)

I suspect that point like you, but with 1.4.3 helm chart no error occurs.
Is there any changes to affect webhook service read

[2022-08-18 07:09] andrewkwok2022 opened #2769 "Failed to use TargetGroupBinding in EKS"
I want to adopt TargetGroupBinding from AWS Load Balancer Controller to bind my existing target group. However, after trying to apply the below yaml file several times, I still cannot bind the target group.

**tgb.yaml**

[code]

**ingress.yaml**

[code]

The system preferred to create its own target group rather than followed my tgb.yaml.

[code]

Both targetgroupbindings show the same event by u

[2022-08-18 07:51] gsusI commented on #2366
The same issue happens when using the kind _Service_ of type _Load Balancer_, which generates a Network Load Balancer (NLB)

[2022-08-18 13:01] antonyRoberts commented on #2767
Here are the rules in aws,
IF Path is/auth/* Host isthestateofcomedy.com THEN Forward to k8s-default-socauths-7b4fbd3e1c: 1 (100%) Group-level stickiness: Off
IF Path is/* Host isthestateofcomedy.com THEN Forward to k8s-default-socfront-d0b1ecf3ad: 1 (100%) Group-level stickiness: Off
last HTTPS 443: default action This rule cannot be moved or deleted IF Requests otherwise not routed THEN Return f

[2022-08-18 13:44] OHsechun commented on #2768
@kishorj
Sorry, I have tested more, then I realize the errors are not caused by helm chart version.
But I can not find radical reason about this uncommon behavior.

[2022-08-18 14:10] igor-mendix commented on #2761
So I had to redo my deployment scheme to install ALBC chart separately, before `TargetGroupBinding` resource is created. My initial idea to have it as a dependency apparently wouldn't work because Helm just generates one huge template with all resources at once. Would still be nice if it was supported and `TargetGroupBinding` could be installed without ALBC pods running.

[2022-08-18 16:26] kishorj commented on #2769
@andrewkwok2022, controller automatically creates targetgroup bindings for the ALB/NLB it provisions. In your case the tgb `k8s-fargatea-k8sco1de-cc5c487714` is created by the controller for the ALB and `k8s-co1-dev` created by you. Both of them track the same backend service k8s-co1-dev and update the target based on the service endpoints.

Based on the description, I'm not certain about your use

[2022-08-18 19:24] ErfanY opened #2771 "Controller is trying to modify user provided security groups"
**Describe the bug**
ALB Ingress Controller works perfectly fine with HTTP backend, you can feed it your own security groups. The targets are registered properly and everything works normally. However if I switch to GRPC as backend protocol version, the controller tries to add an ingress rule in the security groups. Since we do not allow EKS to modify existing security groups it get stuck on this

[2022-08-18 20:49] nsandhu-godaddy commented on #2612
I am still getting this error:
[code]

[2022-08-18 21:11] kishorj commented on #2612
@nsandhu-godaddy, if your subnet name start with the prefix `subnet-`, then controller currently is not able to resolve by name, you need to specify the subnet id instead.

[2022-08-18 21:15] nsandhu-godaddy commented on #2612
oh! bummer! yeah, they all do. And I just realized I am posting this with my corporate account. Probably shouldn't do that. :D

[2022-08-18 21:25] kishorj commented on #2771
@ErfanY, can you share the model for your ingress? It is in the controller logs. Did you set the annotation [alb.ingress.kubernetes.io/manage-backend-security-group-rules](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#manage-backend-security-group-rules) to true?

[2022-08-18 21:28] kishorj commented on #2759
@dhawal1304, the feature #1608 is in our roadmap. There is also a PR for the same. We will include it in future release. I'm closing the issue for now, if you have further concerns, feel free to reach out to us.

[2022-08-18 21:28] #2759 closed

[2022-08-18 22:07] kishorj commented on #2767
You could send request via curl with the -v option and check the response headers. If it is from ALB, you would have something similar to`server: awselb/2.0` in the header. If it is from your app, it would look something like `server: nginx`.

[2022-08-19 01:31] andrewkwok2022 commented on #2769
thank you @kishorj. So that I only need to setup either ingress or targetgroup bindings in my case?

[2022-08-19 03:35] danilouchoa opened #2772 "Failed build model due to RequestError: send request failed"
**Describe the bug**

I am deploying AWS Load Balancer Controller service via helm using below command with following values ​​and I am getting below error.

[code]

**Steps to reproduce**

[code]

**values.yml**

[code]

**Expected outcome**
I hope AWS LoadBalancer is able to create the target groups, security groups and my listener in the ALB that I have created in AWS.

**Environment**

* AWS L

[2022-08-19 03:39] dhawal1304 commented on #2759
Thanks @kishorj.

[2022-08-19 06:27] mih-kopylov commented on #1598
It could be an extra option that enables such a feature, so that compatibility is not broken.
Any change to have it?

[2022-08-19 10:48] igor-mendix commented on #2762
My experiments lead me to this: if I delete last `Ingress` resource, ALBC tries to remove the target group it is pointing at. But this TG is created outside k8s (and is attached to ALB), so it cannot be deleted, which results in the resource hanging in this "deleted" state indefinitely. Is there a way to tell ALBC not to touch TG?

[2022-08-19 16:38] kishorj commented on #2769
@andrewkwok2022, correct, you create ingress resource and let lb controller manage the AWS resources, or create targetgroup bindings for the controller to keep the targets up to date.

[2022-08-19 21:28] danilouchoa commented on #2768
@OHsechun

In my case I had the same error, but it was the helm chart version. I was using AWS LBC version v2.4.2 and on helm using version 1.3.3. After I removed the helm version the error stopped occurring.

[2022-08-19 23:34] antonyRoberts commented on #2767
It was the nginx server, conf needed to have
location / {
    try_files $uri $uri/ /index.html =404;
  }
thanks @kishorj for the help

[2022-08-19 23:34] #2767 closed

[2022-08-22 00:48] #2769 closed

[2022-08-22 09:58] jdomag commented on #2349
/reopen

[2022-08-22 12:02] dusansusic commented on #2755
@kishorj anything new here? Did you have any chance to take a look at the logs?

[2022-08-22 12:47] inductor commented on #2349
/reopen

[2022-08-22 14:11] danilouchoa commented on #2768
@OHsechun

Yes it is correct, removing the version it takes the lastest. Did you do any troubleshooting between the Control Plane x Worker Nodes security groups validating if there is communication on port 9443?

[2022-08-22 14:26] mdiez-modus commented on #2373
/remove-lifecycle stale

[2022-08-22 20:52] kishorj commented on #2728
Closing the issue since we are already tracking the feature request.

[2022-08-22 20:52] #2728 closed

[2022-08-22 23:49] OHsechun commented on #2768
@danilouchoa
I added rule for control plane to access worker nodes through 1025-65535 port already.
Do I need to add for worker nodes to access control plane through 9443 port?
I think above additional rules is not needed because second applying work well.

[2022-08-23 05:30] stevehipwell commented on #2311
/remove-lifecycle stale

[2022-08-23 14:46] visit1985 commented on #2600
/remove-lifecycle stale

[2022-08-23 21:04] zekena2 commented on #1608
Hi
I need some help understanding why would quic need TCP with UDP as the same listener? isn't the whole point of using UDP is that it's available in most of devices??
The question is mainly for knowledge if someone can point me somewhere I would be thankful.

[2022-08-24 04:53] TBBle commented on #1608
Assuming you're asking about https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1608#issuecomment-937346660, the TCP support is for HTTP/1 and HTTP/2. As of July 2022 [according to Wikipedia](https://en.wikipedia.org/wiki/HTTP/3) only 75% of web browsers support HTTP/3, so not also supporting HTTP/2 and HTTP/1 would cut off a significant fraction of users.

Also, as noted in [t

[2022-08-24 12:01] zekena2 commented on #1608
Aha so the TCP is basically needed to fix the problem when UDP gets blocked by middle boxes in order to fallback to HTTP/1 or 2 on the same LB or if the client want to use them first and then upgrade to HTTP/3. Thanks @TBBle for the through answer.

[2022-08-24 12:59] fstr commented on #2175
I am also interested in re-using a single NLB to expose multiple services. This reduces complexity and cost.

Full ack from my side. I don't understand this statement either.

It would be great if the LB controller would be able to create target groups. This would help to avoid the procedure of creating target groups with Terraform/CF/CDK and then referencing their ARNs in YAML files. As we can se

[2022-08-24 13:10] nickvanwegen opened #2775 "configure feature gates with helm chart"
Hi,

I opened a blank issue because I don't think its a bug but maybe something that is missing.

I am trying to use feature gates when deploying using the helm chart maybe I am blind but I cannot see a way to configure them.

In the docs I see that there is a flag to use `--feature-gates=key1=value1,key2=value2` but I cannot see a way to use this with the helm chart. I would maybe expect somethin

[2022-08-24 15:53] kishorj commented on #2775
/kind feature

[2022-08-24 20:39] khizunov commented on #2775
@kishorj can I take this?

[2022-08-24 20:47] kishorj commented on #2775
/assign @khizunov

[2022-08-24 22:21] kishorj commented on #2772
@danilouchoa, looking at the name `elasticloadbalancing.sa-east1.amazonaws.com`, the region sa-east1 is incorrect. It should be `sa-east-1` instead. Did you specify custom endpoint config via env variables?

[2022-08-24 22:21] kishorj commented on #2771
@ErfanY, any updates?

[2022-08-24 22:25] kishorj commented on #2768
@OHsechun, this error is likely due to the aws-load-balancer-controller pods not being ready. It can happen when the webhook is configured and the controller pods are just starting up. The controller pods needs to be ready when you create the ingress.

[2022-08-24 22:26] kishorj commented on #2766
@AndriySidliarskiy, I'm closing the issue. If you have further concerns, feel free to reach out to us.

[2022-08-24 22:26] #2766 closed

[2022-08-24 22:27] kishorj commented on #2764
@dai-mk, I'm closing the issue since the targetGroupARN field is immutable as intended.

[2022-08-24 22:27] #2764 closed

[2022-08-24 22:28] danilouchoa commented on #2772
@kishorj Thank you so much man, what a small detail that made all the difference. I didn't stop to think about whether this URL was correct. Problem solved! thanks for the help

[2022-08-24 22:28] #2772 closed

[2022-08-24 22:32] kishorj commented on #2763
Currently path types from multiple rules in an ingress aren't merged. The sorting done as part of issue #2203 applies to the paths within a single rule only. We plan to merge paths from multiple rules for feature request #2678 where we will apply path type sorting.

Since the ingress groups in an ingress still follow the group.order, the behavior mentioned in this issue is as per the expectation.

[2022-08-24 22:32] #2763 closed

[2022-08-24 22:36] kishorj commented on #2762
@igor-mendix, unless you manually create TargetGroupBinding to bind to an out-of-band TG, controller assumes ownership of the ALB/target groups and delete them when there are no more ingresses in the group.

[2022-08-24 22:39] kishorj commented on #2761
@igor-mendix, the webhook provides validation and default values for the target group binding resources - this simplifies the controller implementation. The TargetGroupBinding resources are custom resources specific to this controller.

The controller needs to be up and running when you create/modify TGB resources. I'm closing the issue for now, if you have further concerns, feel free to reach out

[2022-08-24 22:39] #2761 closed

[2022-08-24 22:41] kishorj commented on #2727
@jmturwy, closing the issue since we don't plan to support disabling the webhook.

[2022-08-24 22:41] #2727 closed

[2022-08-24 22:42] kishorj commented on #2726
@matej-basic, I'm closing the issue for now. If the issue still persists, feel free to reach out to us.

[2022-08-24 22:42] #2726 closed

[2022-08-24 22:54] kishorj commented on #2707
@chalford, could you verify whether the syntax for specifying helm chart values is correct?

[2022-08-24 22:59] kishorj commented on #2707
Please refer to https://github.com/aws/aws-cdk/issues/11475#issuecomment-855220507

I'm closing the issue since it is not related to this controller.

[2022-08-24 22:59] #2707 closed

[2022-08-25 07:29] Yagyansh opened #2777 "Not able to enable Automatic Application Layer Mitigation in AWS Shield Advanced."
**Is your feature request related to a problem?**

After enabling the AWS Shield Advanced protection for an ALB via `alb.ingress.kubernetes.io/shield-advanced-protection: 'true'`, the protection gets created but the **Automatic application layer DDoS mitigation** is Disabled by default.
I see no flag or annotation to enable it.

https://aws.amazon.com/blogs/aws/aws-shield-advanced-update-automatic

[2022-08-25 12:36] maxgda opened #2778 "Support for app_cookie Target group attributes"
**Is your feature request related to a problem?**
We are trying to set a custom app_cookie for stickiness
in the annotation docs the following link is given for the target group attributes:
https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html#target-group-attributes
In the code it seems that only 2 properties are actually supported(stickiness.enabled

[2022-08-25 15:31] kishorj commented on #2778
@maxgda, the controller does not restrict the target group attributes you can specify in the annotation. What version of controller are you running?

[2022-08-25 22:51] #1959 closed

[2022-08-26 08:07] lc32781971 opened #2781 "How should i debug this CRD?"
i want to add some logics to this crd and rebuild it again .
is there a way to start it up locally ? how should i do the debugging ?

Thanks

[2022-08-26 09:13] igor-mendix commented on #2762
With the help of someone on Slack I figured that if I only want ALBC to control targets on the TG I don't need `Ingress` resource at all. `Ingress` dictates ALBC how to configure ALB and attached TG. Unfortunately, this difference between `Ingress` and `TargetGroupBinding` is not clear from the documentation and neither it is obvious from observing `kubectl` outputs or entities in AWS.

Would be n

[2022-08-26 09:13] #2762 closed

[2022-08-26 10:53] HariomSaini commented on #2131
To fix this issue when using Istio + NLB (IP Tragets), here are the working defaults.

Ingress gateway Deployment-
[code]

[code]

[2022-08-26 13:00] OHsechun commented on #2768
@kishorj
You're saying that I should check if the webhook is configured and controller pods are ready before applying kubernetes_ingress resources with terraform, right?

[2022-08-26 15:09] gsusI opened #2782 "AWS Load Balancer controller created public-facing Load balancer bound to private subnet"
I wanted to share a situation that I've come across, which is puzzling me.

I found a Load Balancer created by the AWS Load Balancer Controller linked to one public subnet and one private subnet:

My subnets are adequately tagged to be automatically discovered by load balancers and ingress controllers, as described in [the documentation][1] and clarified in an ever more clear way in [this question

[2022-08-26 17:08] kishorj commented on #2777
@Yagyansh, the DDoS mitigation is a new feature, the controller doesn't support configuring it yet as of v2.4.3 release. We will add the feature in future. In the meantime, you should be able to enable it manually from the AWS console, the controller will not overwrite the protection configuration.

/kind feature

[2022-08-26 17:15] kishorj commented on #2781
@lc32781971, are you looking to modify the CRDs or the validation? The current CRDs are defined in apis/elbv2/v1beta1, you can run `kustomize build config/crd` to generate new CRDs. The mutating/validating webhooks are in the webhooks/ directory.

[2022-08-26 17:29] kishorj commented on #2698
@yasin-kismet, I'm closing this issue since it doesn't appear to be an issue with the controller. If you have further concerns, feel free to reach out to us.

[2022-08-26 17:29] #2698 closed

[2022-08-26 17:45] kishorj commented on #2782
@gsusI, the subnet auto-discovery request uses the `vpc-id` and the `role` key as the filter. Controller auto-discovers the subnets during NLB creation only, it does not update the subnets later. It is possible the subnets had the public tag at the time of the service creation, could you verify the tags were not modified in your case?

[2022-08-26 18:22] gsusI commented on #2782
It might have happened that the subnets didn't have tags when the controller first created the NLB. I'm more hesitant to believe that the subnets had the wrong tags when the service was first created, but it is a possibility.

I did, however, delete the service, and even the cluster (not the NLB, though), and after re-creating the cluster, node groups, deployment and service the NLB linked to the

[2022-08-26 21:53] kishorj commented on #2782
Controller doesn't modify the NLB subnets after creation. If you were to preserve the NLB somehow (possible, but a bit hacky), NLB will continue to have the original subnets.

[2022-08-26 22:06] kishorj commented on #2656
@tleish, I'm closing the issue. If problem persists, feel free to reach out to us.

[2022-08-26 22:06] #2656 closed

[2022-08-26 22:08] kishorj commented on #2663
@rahul-chawla, I'm closing the issue since we don't have enough details to provide further assistance. If you still have concerns, feel free to reach out to us.

[2022-08-26 22:08] #2663 closed

[2022-08-26 22:16] kishorj commented on #2654
Controller will not be able to support this unless it is available on the ALB side. We are tracking this request in issue 1571.

[2022-08-26 22:16] #2654 closed

[2022-08-27 02:14] jeromeinsf commented on #2354
/remove-lifecycle stale

[2022-08-27 05:28] shubhamsre commented on #2173
@kishorj @oliviassss Hey we are really looking for a feature like this. Can you please provide an update on the same or any progress whatsoever would be really helpful? Thanks

[2022-08-28 05:16] lc32781971 commented on #2781
i'm looking to customize the CRD , i need to start it up locally and debug , is there a developer guide ? there should be something i need to prepare before running it . can i know how did you guys do the development?

[2022-08-29 07:36] maxgda commented on #2778
Hey @kishorj thanks for the quick response.
So my above 2 lines should work completely fine? I should receive a SERVERID cookie instead of AWSALB?

[2022-08-29 13:38] p-palanis commented on #2185
/remove-lifecycle stale

[2022-08-29 14:24] ErfanY commented on #2771
@kishorj Thanks for the reminder.

I've got everything up and running now. Unfortunately I can't figure out what did the trick. I did not have the `alb.ingress.kubernetes.io/manage-backend-security-group-rules` annotation set initially, which should default to `false` but it still was trying to modify the security groups. But I did end up trying to set it explicitly to `false` and then removing it

[2022-08-29 14:24] #2771 closed

[2022-08-30 11:10] goldnetonline commented on #2039
Thanks @eocern this is the solution for me

[2022-08-30 13:29] b2jude opened #2784 "Error: Waiting for default secret of "kube-system/aws-load-balancer-controller" to appear"
**Describe the bug**
I'm getting the error below when creating service account for aws-load-balancer-service.  Hashicorp kubernetes provider v2.13.0 release note below stated that the bug is fixed.  I have configured the kubernetes provider v2.13.0 and tried to create the service account but i'm still getting the same error. As per release note, there are new resources that were added to the provi

[2022-08-30 18:04] timharsch opened #2785 "Overly restricitve permissions in v2.4.3 policy AWSLoadBalancerControllerIAMPolicy"
**Describe the bug**

When attempting to build my ingress resource with the aws-load-balancer-controller I saw the following error when describing the resource:

[code]

Which I then decoded like so:
[code]

and then copied the DecodedMessage into an editor and formatted it for reading:  Once I was able to read the message I deduced that AmazonEKSLoadBalancerControllerRole was choking on a long se

[2022-08-31 13:39] johurul000 commented on #2754
@kishorj Hi, I am new to open source and would like to work on this issue. If you could help me it would be wonderful.

[2022-08-31 19:09] carozuniga commented on #2071
Still happening. The controller version is `2.4.3`

[2022-08-31 20:37] M00nF1sh opened #2786 "Support NLB's IPv6Address"
**Is your feature request related to a problem?**
We should add support for NLB's IPv6Address when create load balancer

**Describe the solution you'd like**
an new annotation like
service.beta.kubernetes.io/aws-load-balancer-ipv6-addresses which behaves similar to [service.beta.kubernetes.io/aws-load-balancer-private-ipv4-addresses](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v

[2022-08-31 20:43] kishorj commented on #2684
@wwteo, I'm closing the issue since it is possible to attach multiple SSL certificates to the NLB  provisioned by this controller. if you still face issues, feel free to reach out.

[2022-08-31 20:43] #2684 closed

[2022-08-31 21:11] kishorj commented on #2673
@micemuni, I'm closing this issue. If issue persists, feel free to reach out to us.

[2022-08-31 21:11] #2673 closed

[2022-08-31 22:11] M00nF1sh commented on #2785
@timharsch
by default the permission should be sufficient to create AWS API Objects in the LBController.
Did you have any non-trival setup such as used a resource already exists such as upgrade from a previous version before v2.0.0? It would be good if you can share the CloudTrail event for request got denies.

We wants to provide the minimal permissions by default, TAGs in AWS resources are indee

[2022-08-31 22:16] kishorj commented on #2784
@b2jude, this is not specific to the aws-laod-balancer-controller. In previous releases, the `automount_service_account_token` needed to be set to true - it was false by default. Not sure what might have changed recently. Would you be able to follow up in the upstream?

[2022-08-31 22:18] kishorj commented on #2781
You can refer to the contributing guidelines at https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/CONTRIBUTING.md. If there is anything missing or need further clarification, feel free to reach out to us.

[2022-08-31 22:21] kishorj commented on #2775
Closing the issue. The change will be included in the next chart release.

[2022-08-31 22:21] #2775 closed

[2022-08-31 22:22] kishorj commented on #2768
@OHsechun, you're right - the controller pods need to be up and running before you can create ingress resources.

[2022-08-31 23:52] kishorj commented on #2699
If cross-zone load balancing is disabled, the DNS records corresponding to the AZs without any targets get removed from the NLB. Could you verify whether cross zone load balancing is disabled in your case?

[2022-09-01 00:00] xgengsjc2021 opened #2787 "load-balancer-attributes, Reconciler error, Failed build model due to conflicting attributes"
**Describe the bug**
I tried to enable access_log for my elb in eks cluster. After update the config of my ingress it did not take effect and returned errors. The below is the ingress setting

[code]

The error from ingress service:
[code]

The error from alb-aws-load-balancer-controller pod:
[code]

**Expected outcome**
expected to see the access_log enabled.

**Environment**

* AWS Load Balancer

[2022-09-01 00:00] kishorj commented on #2692
@croachrose, if you ran the aws-alb-ingress-controller previously, then you'd need to be on v1.1.3 or later before upgrading to the aws-load-balancer-controller v2.x. You'd also need additional IAM permissions. With appropriate IAM permissions, controller v2.2.3 works with k8s 1.18.

In your case, is the target group an existing one, or controller is trying to create a new target group?

[2022-09-01 01:26] croachrose commented on #2692
@kishorj We were happily running v2.2.3 for months with no issue and no changes. We were using the exact policy from the install docs (with the tag conditions). It just stopped working one day and removing those conditions fixed it. The target group was not an existing group.

[2022-09-01 02:20] arthurk commented on #2071
I've fixed the problem by generating a cert manually and set it via `webhookTLS`. Also using the certManager integration works fine, both fix the problem for me. I've seen a few other charts that generate TLS certs via webhook and all of them have a similar problems

[2022-09-01 04:13] cove commented on #2485
I'm seeing this issue with controller v2.4.3, @kishorj @oliviassss can we reopen? I'll email the logs over.

[code]

[2022-09-01 14:28] krishgu opened #2788 "Multiple aws-load-balancer-controllers being able to share a single ALB"
Does the AWS LB Controller support sharing a single ALB with multiple EKS's?

The tags that are seen on the load-balancer are:
Tag|Value
-- | --
`ingress.k8s.aws/resource` | LoadBalancer
`ingress.k8s.aws/stack` | alb-name
`elbv2.k8s.aws/cluster` | cluster1-name

Does the `elbv2.k8s.aws/cluster` tag's value be a comma-separated set of values? How is it used in the "reconciliation" process by the AW

[2022-09-01 14:53] lgallard commented on #1990
ECR Public images would be handy!!

[2022-09-01 15:57] kishorj commented on #2787
@xgengsjc2021, if you have an ingress group, then you need to ensure the load-balancer-attributes across ingresses don't conflict. You can either specify attributes on a single ingress or specify the same attributes across all ingresses in the group. The error indicate you have two values for the bucket names - one with quotes, and one without.

[2022-09-01 16:12] krishgu opened #2789 "Does the AWS LB Controller support sharing a single ALB with multiple EKS's?"
Does the AWS LB Controller support sharing a single ALB with multiple EKS's?

The tags that are seen on the load-balancer are:
Tag|Value
-- | --
`ingress.k8s.aws/resource` | LoadBalancer
`ingress.k8s.aws/stack` | alb-name
`elbv2.k8s.aws/cluster` | cluster1-name

Does the `elbv2.k8s.aws/cluster` tag's value be a comma-separated set of values? How is it used in the "reconciliation" process by the AW

[2022-09-01 16:38] xgengsjc2021 commented on #2787
@kishorj Thank you so much. The issue got fixed.

[2022-09-01 16:38] #2787 closed

[2022-09-01 20:24] kishorj commented on #2789
@krishgu, Since this issue is similar to #2788, I'm closing it as a duplicate.

[2022-09-01 20:24] #2789 closed

[2022-09-03 14:20] asim-reza commented on #2738
/assign

[2022-09-03 17:59] johurul000 commented on #2754
@kishorj should I try to recreate the issue in Aws Eks

[2022-09-04 00:42] asim-reza commented on #2729
/assign

[2022-09-05 14:07] fabianberisha commented on #2711
/assign

[2022-09-06 04:58] kkhushboo121 commented on #2389
@kishorj  recently update the ingress-controller from 1.1.9 to 2.43, using the helm but  getting following error :
`:"controller-runtime.manager.controller.ingress","msg":"Reconciler error","name":"ingressxx","namespace":"na","error":"UnauthorizedOperation: You are not authorized to perform this operation. Encoded authorization failure message:`

Also the set --enable-backend-security-group=false

[2022-09-06 07:34] k1rk commented on #1598
/remove-lifecycle stale

[2022-09-06 08:28] Glaaj commented on #2692
We also ran into the same problem with **existing** target groups across multiple EKS clusters.

[2022-09-06 16:19] kishorj commented on #2642
@tracycyx, you can disable shield, waf and wafv2 via controller command line flags, or specify in helm values during chart installation. I'm closing the issue for now, if you still face issues, feel free to reach out to us.

[2022-09-06 16:19] #2642 closed

[2022-09-06 16:21] kishorj commented on #2641
@skamalj, I'm closing the issue. If problem persists, feel free to reach out to us.

[2022-09-06 16:21] #2641 closed

[2022-09-07 06:59] #2699 closed

[2022-09-07 13:26] seh commented on #1859
/remove-lifecycle stale

[2022-09-07 14:48] adabuleanu commented on #228
How are the workaround presented here

I got the solution working on version 2.4.0. So actual steps were to:
- create an ALB of outside aws-lb-controller with tags: `ingress.k8s.aws/stack`, `ingress.k8s.aws/resource`, `elbv2.k8s.aws/cluster`
- create one deployment, service and an Ingress on a k8s cluster (make sure you set the annotation `alb.ingress.kubernetes.io/group.name` in the Ingress resou

[2022-09-07 17:55] kishorj commented on #2754
@johurul000, you can use any k8s on AWS.

[2022-09-07 18:32] kishorj commented on #2612
@johnnyhuy, I'm closing the issue. The current limitation is the subnet name cannot have the `subnet-` prefix. The resolver should be able to discover other subnet names. If you still face problems, feel free to reopen or create a new issue. You could also email the log details to `k8s-alb-controller-triage AT amazon.com`.

[2022-09-07 18:32] #2612 closed

[2022-09-08 06:34] somnathpawar commented on #2683
Hello, I got the similar use case. Did you get solution on this?

I have external IP which is configured as endpoint for the service. It works completed fine with classic load balancer using nginx ingress  controller. But when I am trying to use AWS LB controller, the target group is getting created for the ingress, but an external endpoint Is not getting registered on the Target Group rules as th

[2022-09-08 06:51] somnathpawar commented on #2683
@jt-sh

[2022-09-08 10:10] somnathpawar opened #2794 "TargetGroupBinding can't bind external ip to the ALB target group rule"
Hello, I am trying to use the ALB controller to create an ingress for an external service with IPv4 as endpoint.

I have external IP which is configured as "Endpoints" for the service. It works completely fine with classic load balancer using nginx ingress controller. But when I am trying to use AWS Load Balancer controller & ALB, the target group rule is getting created for the ingress, but an ex

[2022-09-08 16:49] #2738 closed

[2022-09-08 16:53] kishorj commented on #2794
@somnathpawar, classic load balancer does not support IP targets. You could configure your ALB to use instance targets intead of ip targets. The LB controller doesn't support endpoint addresses that are not pod references. If you intend to use IP targets, you will require endpoints with pod references.

[2022-09-08 16:53] kishorj commented on #2794
This is similar to #2683

[2022-09-08 16:57] kishorj commented on #2782
@gsusI, I'm closing the issue. If you are able to repro the issue or have further concerns, feel free to reach out to us.

[2022-09-08 16:57] #2782 closed

[2022-09-08 17:29] kishorj commented on #2781
@lc32781971, I'm closing the issue. If you have further concerns, you can email us at `k8s-alb-controller-triage AT amazon.com`, or reach out on kubernetes slack, or reopen this issue.

[2022-09-08 17:29] #2781 closed

[2022-09-08 17:30] kishorj commented on #2778
@maxgda, I'm  closing the issue. If you are still unable to address your problem, feel free to reach out to us.

[2022-09-08 17:30] #2778 closed

[2022-09-08 19:45] #2786 closed

[2022-09-09 02:10] jpo-tu commented on #874
/reopen

[2022-09-09 02:11] jpo-tu commented on #874
1 year later, how's this feature coming? Boy it sure would be great to be able to pass a bearer token to an ALB configured for cognito Authentication.

[2022-09-11 06:17] ArpanShah2k commented on #2715
I am interested in solving this bug. It will be request you to allot me this issue to solve it. @M00nF1sh @tooptoop4 @kishorj @EppO @mortent

[2022-09-11 10:47] #2533 closed

[2022-09-12 09:30] alexcpn commented on #2253
Issue still exists -
First error

[code]
Added  the policy  `AmazonEC2ContainerRegistryReadOnly` to  `arn:aws:iam::xxxxx:role/workernoderole`

Still error (event)

[code]
Followed the workaround above - https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2253#issuecomment-927704737

Worked

[code]

[code]

[2022-09-12 12:45] kennedy-dan opened #2796 "not authorized"
I installed the aws load balancer in my kube-system namespace. I was given 2 pods  kubectl get pods -n kube-system
[code]
when i logged the first pod, I got no error, but when i log the second pod i got this error

[code]

If i go to the dns url http://k8s-kerberos-factory-****6.us-east-1.elb.amazonaws.com/login, I get the login page, but when i try to log in I get : **http://api.k8s-kerberos-fact

[2022-09-12 16:36] kishorj commented on #2715
@ArpanShah2k, thanks for your interest, I will assign it to you.

/assign @ArpanShah2k

[2022-09-12 20:07] romogo17 opened #2797 "Cannot disable shield protection in private cluster resulting in time outs to `shield.us-east-1.amazonaws.com` and `wafv2.us-east-1.amazonaws.com`"
**Describe the bug**
I have a private EKS cluster whose worker nodes are hosted in private-only subnets. As part of the setup, I've enabled VPC endpoints to the following services to be able to deploy a working cluster.

<details>
<summary>VPC Endpoints</summary>
<ul>
<li>com.amazonaws.us-east-1.ec2</li>
<li>com.amazonaws.us-east-1.ec2messages</li>
<li>com.amazonaws.us-east-1.ecr.api</li>
<li>com.

[2022-09-12 20:28] kishorj commented on #2797
@romogo17, you can disable shield, waf and wafv2 via controller command line flag. For example:
[code]

You could also specify via helm values during chart install/upgrades as follows
[code]

[2022-09-12 21:07] romogo17 commented on #2797
Hi @kishorj — thanks for the prompt response. I didn't realize this needed to be configured in the controller itself rather than in each `Ingress` resource.

I'm guessing when these flags are disabled the `alb.ingress.kubernetes.io/shield-advanced-protection` annotation is not needed anymore / it's ignored

[2022-09-13 07:42] somnathpawar commented on #2794
Perfect, this works with target type "instance". Thanks for the quick reply @kishorj!

[2022-09-13 07:48] #2794 closed

[2022-09-13 09:44] ahmednawaz10p commented on #1133
any update on this ?

[2022-09-13 14:09] dudicoco commented on #2509
It can take time for the ACM certificate validation to complete (sometimes even hours).
Should be taken into consideration.

[2022-09-14 09:10] dev-hanz-ops commented on #2553
same here, we have both 80 and 443 listening and would like to see at first glance what targetgroup handles what traffic.
as often times, the same service exposes multiple ports, we actually would not only need a custom prefix, but on top an option to include the service-port in the targetgroup's name

so there could be 2 annotations:
`alb.ingress.kubernetes.io/targetgroup-name-prefix`
 and `alb.i

[2022-09-14 11:30] useownyxis opened #2799 "Controller does not create target group without specifying "certificate-arn" annotation"
Hello, I got a problem with using aws-lb-controller. I'm trying to provide access to EKS cluster via Ingress Rules.

My setup:
[code]

My idea was to setup "base" ingress rule which should setup LB with general attributes (like ingress rules, certification-arn, group.name, ssl-redirect and so on) and then deploy application's helm chart with application's ingress rule with the same group.name and

[2022-09-14 15:58] ShonL commented on #1572
Any updates? 2.4 is out

[2022-09-14 16:58] nickvanwegen commented on #2775
@kishorj Sorry to bother you but is there any idea of when the next helm chart release will be?

[2022-09-14 17:58] lucas-howard-macmillan opened #2800 "Self Healing: Allow AWS Controller to Detect and Fix AWS Resource Changes on Interval"
**Is your feature request related to a problem?**

If a load balancer is deleted through the AWS Console, the AWS load balancer does not notice or re-create the load balancer.

The AWS load balancer controller must be restarted, and then the missing load balancer is recreated.

**Describe the solution you'd like**

An argument that could be passed into the controller indicating that it should do a

[2022-09-14 18:06] nickvanwegen opened #2801 "Option to disable ingress validation webhook"
**Is your feature request related to a problem?**

I am already using ingress-nginx for my ingress objects. Sometimes I encounter some issues where the LB-controller wants to validate ingress objects while its not even handling them

**Describe the solution you'd like**

I would like to be able to disable the ingress validating part of the lb-controller validating webhook

**Describe alternatives

[2022-09-14 22:04] kishorj commented on #2801
/kind feature

[2022-09-14 22:07] kishorj commented on #2800
/assign @M00nF1sh
Investigate further on the periodic sync issue
This is similar to https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2515

[2022-09-14 22:10] kishorj commented on #2799
@useownyxis, the backend service for your app-ingress need to exist in the same namespace as the ingress. Otherwise, the controller will add a default 404 response for the ingress. Would you be able to share your logs with us? You can email to k8s-alb-controller-triage AT amazon.com.

[2022-09-14 22:14] kishorj commented on #2796
@kennedy-dan, are there other pods in the cluster with similar errors (unable to talk to the api server) or this is the only pod? Does the pod get restarted after this error, if so what happens?

[2022-09-14 22:17] kishorj commented on #2785
@timharsch, I'm closing the issue. Feel free to reach out to us if you have further concerns.

[2022-09-14 22:18] kishorj commented on #2784
@b2jude, I'm closing this issue for now. If you have further concerns, feel free to reach out.

[2022-09-14 22:18] #2784 closed

[2022-09-14 22:26] kishorj commented on #2694
@kncesarini, since we've not heard back for a while, I'm closing the issue. If you have further concerns, feel free to reach out to us.

[2022-09-14 22:26] #2694 closed

[2022-09-14 22:29] kishorj commented on #2692
@Glaaj, @croachrose, do you have any automation removing tags on resources? Please share the cloudtrail events from the failure. You can email to k8s-alb-controller-triage AT amazon.com

[2022-09-15 06:41] eager-yu opened #2802 "TargetGroupBinding not working after configuring networking"
EKS version: 1.22
aws-load-balancer-controller : 2.4.3

I have referenced the following documentation：

https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/targetgroupbinding/spec/

I am plan to update aws-load-balancer-controller version from 2.3.0 to 2.4.3 but it is not working

config info(v2.3.0):
[code]

check logs :

kubectl logs -f -n kube-system deployment.apps/aws-lo

[2022-09-15 16:52] kishorj commented on #2785
@micksabox, which 1.x version were you on previously?

[2022-09-15 16:57] micksabox commented on #2785
@kishorj I was using the latest 1.x version, v1.1.9.

[2022-09-15 17:08] lamebear opened #2804 "Cannot use HTTP health check with gRPC Backend Version"
**Describe the bug**
I am unable to create an ALB Ingress with the backend protocol set to GRPC and the health check protocol set to HTTP. The controller givers me the following error:

[code]

**Steps to reproduce**

[code]

**Expected outcome**

I would expect for the load balancer to be created with health checks reachable over HTTP

**Environment**

* AWS Load Balancer controller version: v2.4

[2022-09-15 18:04] kishorj commented on #2804
@lamebear, this error is from the AWS, not the controller. With the target group protocol version GRPC, the success codes are limited to the range 0-99. For further details, please refer to the docs https://docs.aws.amazon.com/elasticloadbalancing/latest/application/target-group-health-checks.html

[2022-09-15 18:33] kishorj commented on #2802
@eager-yu, The controller error indicates your ENIs have more than one security groups and none of the security groups is tagged for the current cluster - don't contain the tag `kubernetes.io/cluster/your-cluster-name`. In case you have multiple security group, controller expects one (and only one) security group with the cluster tag.

You can check the SGs attached to your eni via:
[code]

You ca

[2022-09-15 19:49] #2804 closed

[2022-09-15 20:02] kishorj commented on #2799
@useownyxis, the listen ports defaults to `'[{"HTTP": 80}]` if you don't specify the certificate-arn. Please refer to the earlier issue for details: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2471#issuecomment-1021778043

[2022-09-16 01:27] eager-yu commented on #2802
Thank you for your reply,
 I have the first time to check the security group tags settings on my instance ENI, because my EKS is installed using terraform, and all the configurations are correct. Because the previous version of aws-load-balancer-controller was 2.3.0, the IAM policy was not updated after the EKS upgrade.
When I recreate EKS, and update IAM policy to latest configuration (Verify tha

[2022-09-16 01:27] #2802 closed

[2022-09-16 10:12] StefanTUI opened #2806 "load-balancer-source-ranges does not add 0.0.0.0/0 by default"
**Describe the bug**
A security group entry of source 0.0.0.0/0 was not added to the worker-sg, which results in ERR_EMPTY_RESPONSE errors when
service.beta.kubernetes.io/aws-load-balancer-target-group-attributes: preserve_client_ip.enabled is set to true.

**Steps to reproduce**
Deploy NLB with the following service yml
[code]

**Expected outcome**
According to the [load-balancer-source-ranges do

[2022-09-16 15:44] kishorj commented on #2806
In case of internal NLB, the default rules will be for the VPC CIDRs not '0.0.0.0/0'. Please refer to the live docs for further details - https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/service/nlb/#worker-node-security-groups-rules

For internal NLB, we don't recommend allowing`0.0.0.0/0` since the NLB itself is not accessible from the internet, however, the added rule c

[2022-09-16 16:42] mkkatica opened #2807 "ALB Controller not creating Target Groups for Istio Ingress Service"
**Describe the bug**
I'm trying to setup an ALB in front of the Istio Ingress Gateway service. For some reason, when provisioning the listener and setting up the rules, the controller creates fixed response 503 rules for the specified path instead of a rule pointing to a target group. I am able to create ALB ingresses to other services correctly.

**Steps to reproduce**
Ingress Definition:
[code]

[2022-09-16 16:50] kishorj commented on #2807
@mkkatica, the generated model indicates the backend service you specified in the ingress does not exist. Can you verify if the service named `istio-ingressgateway` exists in the namespace `istio-ingress`?

[2022-09-16 16:52] mkkatica commented on #2807
Ah, thanks. Seems the service was misnamed. What line in the logs indicates that the service that is referenced in the ingress does not exist?

[2022-09-17 23:53] #2578 closed

[2022-09-17 23:53] #2588 closed

[2022-09-19 07:14] useownyxis commented on #2799
Hello, @kishorj, yeap, that's a problem, I added `listen-ports:'[{"HTTPS": 443}]'` to my app-ingress and it works. Thanks you very much. You can close this issue.

[2022-09-19 13:32] awoimbee commented on #2253
@M00nF1sh this is a real issue.

Workaround using pulumi:
[code]

[2022-09-19 16:15] #2799 closed

[2022-09-19 16:20] kishorj commented on #2807
@mkkatica, I suspected the issue based on your ingress and service specs, then I confirmed in the controller logs. The line says "successfully built model" and here is the relevant section which shows the 503 rule:
[code]

[2022-09-19 16:22] mkkatica commented on #2807
Thanks! My point being it might be helpful to throw in a log message to the tune of "Hey, your LB won't have any target groups to connect back to your cluster. Is this what you meant to do?" That would have made this easier to troubleshoot. I'll go ahead and close this since it's resolved.

[2022-09-19 16:22] #2807 closed

[2022-09-19 17:13] #2617 closed

[2022-09-19 20:33] timharsch commented on #2785
Sorry for the delay.  Here is a redacted version of the decoded message.  I shortened it to the pertinent parts and removed ids to my environment.   you can see the load balancer is tagging resources.  I did not do a a careful comparison of the resources here to those in the conditions, but I think I can see it is attempting to tag resources not in the permissions list.

[code]

I was doing a from

[2022-09-20 13:54] JamieSinn commented on #2366
We've also seen this happen as a result of an EC2 Spot based node being killed/taken. The pod gets removed, and the ALB (via ingress) fails to remove the target in time.

[2022-09-20 13:57] sftim commented on #2366
Is that Pod removal happening due to node problem detector / EC2 node termination handler, whilst the kubelet is still alive?

I'm wondering in particular about what the timeline is for that removal and what finalizers might or might not be set on the Pod during its deletion.

[2022-09-20 15:05] JamieSinn commented on #2366
Technically yes- the node is killed because it is marked unhealthy - but the reason it's marked as unhealthy is because AWS is taking the instance back into their pool. `BidEvictedEvent` is the exact message of why this happens - and it triggers a 2 minute warning on the removal of node as a whole - so instances start to shut down, which then (either doesn't at all, or is delayed) doesn't properly