[2021-09-15 22:38] alexku7 commented on #2231
Yep , You are right. Confirmed :)

Sorry for false alarm but may be need to document it somewhere :)

[2021-09-15 22:51] kishorj commented on #2231
@alexku7, no worries. Feel free to raise a doc PR with the information - a note/warning in the docs/deploy/installation.md or docs/deploy/configurations.md

[2021-09-15 22:55] #2231 closed

[2021-09-16 07:55] mahaffey commented on #2071
We are using an alb ingress with an acm cert. This error is happening periodically with no configuration changes.

[code]
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    alb.ingress.kubernetes.io/backend-protocol: HTTP
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:us-east-2:omit:certificate/omit
    alb.ingress.kubernetes.io/healthcheck-interval-second

[2021-09-16 13:21] christianlafleur opened #2232 "Question: Can the controller support multiple VPC (internal/external) ?"
Just figure it out if i can use the same controller (v2.2.0) on multiple VPC since no annotation seem to exist for that. Subnet work but fail with security group and target group later (vpc id mishmah). Im running on EKS private cluster.

[2021-09-16 13:41] darekg11 commented on #2229
After enabling `debug` log level on both `v2.1.3` and `v2.2.4` I can see that `v2.2.4` is trying to enqueue events for `IngressGroup` that `v2.1.3` does not try to.

`v2.2.4` runs:
[code]

while `v2.1.3` never runs anything related to:
`"ingressGroup": "production/*"`

I don't yet understand how `production/tools-internal-alb` ingressGroup is created in `v2.2.4` version since we dot not use `produ

[2021-09-16 17:29] dnutels opened #2233 "Installing multiple instances of the ALB controller with different configuration and ingress class into the same namespace (kube-system)"
**Describe the bug**
I am trying to install multiple, differently configured instances of the ALB controller into `kube-system` namespace. It won't work because the first instance claims ownership of `aws-load-balancer-tls` in the target namespace via `meta.helm.sh/release-name` and prevents the second instance to do the same.

**Steps to reproduce**

`values.yml` for the **first** instance:

[cod

[2021-09-17 16:13] dnutels commented on #2233
Additional information...

Installing `alb-a` and `alb-b` controllers into different namespaces doesn't work either. After installing `alb-a` into `infra-a` namespace (worked fined), while trying to install `alb-b` into `infra-b` namespace:

[code]

It appears that the webhook is non-shareable and is installed into a different namespace from the controller?

[2021-09-17 21:02] M00nF1sh commented on #2233
@dnutels
The current controller is designed to run as a single deployment, and we have updated our docs to reflect that: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/configurations/

what's your use case to run multiple deployments instead of a single one?

[2021-09-17 21:04] M00nF1sh commented on #2232
@christianlafleur
Hi, the controller works with a single vpc only.
working with multiple vpc/accounts is also requested by multiple customers, and we are planning to design and support it.
Would you mind share your use case so that we can evaluate?
    e.g. your vpc setup/ traffic flow and expected alb/targetgroup/securitygroup setup by the controller.

[2021-09-17 21:44] adamdonahue commented on #2222
I tried and that it didn't seem to address our use case.  To be clear, this should be an _external_ (_internet facing_) load balancer that exists in a subnet _without_ an IGW (because that subnet is in a DMZ).

[2021-09-17 23:36] mahaffey commented on #2071
Update, I found that when I remove the annotation `alb.ingress.kubernetes.io/target-type: ip` this error ceases to occur

[2021-09-18 07:09] dnutels commented on #2233
Thank you for clarifying. It's somewhat academic.

The main use case it to be able to configure the controller differently for different namespaces/ingress classes.
I realize that at this point most (but not all) of the controller configuration can be overridden on the Ingress level.

I would imagine that having different service accounts might be useful...

[2021-09-18 10:02] acim commented on #2071
I do not have this annotation at all but still facing the problem.

[2021-09-18 10:46] acim commented on #2071
I use helmfile and it shows diff of certificates on each run, like described in this issue: https://github.com/aws/eks-charts/issues/347

There is non-documented value enableCertManager which is false by default so certificates get regenerated on each run of helmfile apply. I suspect that this may be the reason because if I run helmfile with --selector flag and update just on chart, the error seem

[2021-09-18 18:07] papigers commented on #2216
I was planning to work on adding support for a lambda target but after thinking it through I'm not sure what kind of support is missing.
One could create a target group with a lambda target and add it as a rule to the ingress using the ingress annotations, for example:

[code]

@igrowheart @kishorj is there something I'm missing?

[2021-09-19 07:47] przemolb opened #2234 "Question: one NLB with multiple listeners fully managed from k8s/YAML - possible ?"
When creating new NLB in AWS GUI we can add several listeners for _one_ NLB (cost savings !) and redirect traffic from different ports to different target groups.
When defining new k8s Service to create new NLB (using annotations like `service.beta.kubernetes.io/aws-load-balancer-*` ) is it possible to define multiple listeners at the k8s level ?
In general: is it possible to create new NLB with m

[2021-09-19 19:26] kishorj commented on #2234
@przemolb, you can add multiple ports to the service spec which will translate to multiple listeners on the NLB.

[2021-09-20 00:20] kishorj commented on #1875
/reopen

[2021-09-20 03:13] blueice123 commented on #1604
Neither do I have any idea why this ticket was closed.
When a pod is replaced in the NLB IP target group, the connection is unconditionally disconnected.

There doesn't seem to be a way to gracefully disconnect.
This problem can be proven with a simple test.
EKS env: 1.21v
aws-load-balancer-controller: v2.2.4
 -> https://github.com/blueice123/grpc_server/blob/server-1/tcp_docker/tcp.yaml

[2021-09-20 09:12] przemolb commented on #2175
I am also interested in multiple services working with a single NLB and the way to achieve this configuration: just with YAML or manually in AWS Console + YAMl config ?

[2021-09-20 09:19] ameeet commented on #2182
Hello, I would like to help.

[2021-09-20 09:57] infakt-HNP commented on #2234
It looks great. But how to use different selector for different NLB listeners?
My current config is:
`apiVersion: v1
kind: Service
metadata:
  name: nlb-testing
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: external
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
    service.beta.k

[2021-09-20 14:43] christianlafleur commented on #2232
Hello, good to know you are panning this feature ! My usecase is simply to use spcific VPC for public ingress and another VPC for internal ones. Thanks

[2021-09-20 14:43] #2232 closed

[2021-09-20 16:23] M00nF1sh commented on #1826
/reopen

[2021-09-20 16:43] gsabatini2016 opened #2237 "Failed to calling webhook"
I've an EKS Cluster in AWS with Fargate and I've a weird error when i want create an Ingress resource.

![imagen](https://user-images.githubusercontent.com/48037187/134039626-33878cb6-aa75-43b1-b303-3ebff5f11461.png)

The controller pods are all running, same for the cert-manager pods.
![imagen](https://user-images.githubusercontent.com/48037187/134040900-61a023d8-2819-4cac-bf6d-0928ece23d20.png)

[2021-09-20 16:44] gsabatini2016 commented on #2237
Update: I updated the load-balancer-controllers to the latest version and i've a new error:
![imagen](https://user-images.githubusercontent.com/48037187/134041163-44b5fa92-18ea-41c7-8b6c-c5268f3161ac.png)

[2021-09-20 16:49] mprimeaux opened #2238 "Proxy protocol v2 not enabled for NLB"
**Describe the bug**
I am attempting to create an NLB of target type 'instance' with proxy protocol v2 enabled but the proxy protocol v2 is still disabled on the target groups.

**Steps to reproduce**

Apply the following ingress controller values to an existing EKS cluster.

<details>
<summary>Values File</summary>
<p>

[code]

</p>
</details>

**Expected outcome**
I would expect to see the targe

[2021-09-20 17:34] mahaffey commented on #2071
Hey sorry about the confusion, I am still seeing this error!

[2021-09-20 18:26] kishorj commented on #2238
@mprimeaux, since you have set the service annotation  `service.beta.kubernetes.io/aws-load-balancer-type` to `"nlb"`, the service gets reconciled by the kubernetes in-tree controller, not the one from this project. The in-tree controller doesn't support proxy protocol v2.

If you prefer the external controller manage the NLB for your service, you can specify the following annotation instead
[code

[2021-09-20 18:30] kishorj commented on #2237
@gsabatini2016, it seems you installed using helm chart. Helm chart currently re-creates the TLS certificates/keys on every install. If you used helmfile, the re-creation of TLS cert/keys could cause issues in your setup. This is the eks-charts issue https://github.com/aws/eks-charts/issues/555, and the description has a diff that could potentially help.

[2021-09-20 18:33] kishorj commented on #2234
You could use the targetgorupbinding. If you use tgb, you 'd need to create the NLB and its target groups manually. You can use targetgroupbinding to associate a NodePort (for instance targets) or ClusterIP (for IP targets) type services with the NLB target groups.

[2021-09-20 18:43] mprimeaux commented on #2238
@kishorj Thanks for your reply.

Why does the in-tree controller not support proxy protocol v2 for NLB? I ask because if I manually set the "Proxy protocol v2" attribute of the target group to "Enabled" then I can confirm that real client IP addresses are available to consumers. Here is an excerpt from the Ingress Controller k8s logs:

<details>
<summary>Ingress Controller Logs (Real-IP)</summary>

[2021-09-20 18:50] gsabatini2016 commented on #2237
@kishorj yes, the controller was installed using Helm but i tried the Kubernetes Manifest way like the documentation says because the helm way give me a lot of errors. Anyway i'll read the issue, maybe i find something who can help me. Thanks for you reply! Regards.

[2021-09-20 18:53] mprimeaux commented on #2238
@kishorj Thanks.

I've opened [7675](https://github.com/kubernetes/ingress-nginx/issues/7675) in the [ingress-nginx](https://github.com/kubernetes/ingress-nginx) project.

[2021-09-20 19:13] mprimeaux commented on #2238
@kishorj  I attempted to set the annotations as recommended above.

[code]

However, when doing so there is no NLB that is created. Is this the expected behavior?

[2021-09-20 20:10] kishorj commented on #2238
@mprimeaux,  If you did not install the aws-load-balancer-controller - https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/installation/, then there won't be any NLB created.

This is not an issue on the ingress-nginx.

[2021-09-20 20:12] mprimeaux commented on #2238
@kishorj Thanks again for your help. We will try this and reply back.

[2021-09-20 21:17] przemolb commented on #2234
@kishorj can we achieve this _only_ with targetgorupbinding ? If yes then it requiores manual operations (create NLB + target groups). My question was: "create new NLB with multiple listeners using just k8s YAMLs".
I am assuming at the moment it is not possible ?

[2021-09-21 05:56] huangxan opened #2239 "AWS Load Balancer Controller Helm chart"
Reposting to this repo as suggested by @kishorj
Original post from  #aws/eks-charts#555
---

Describe the bug
We use the AWS Load Balancer Controller Helm chart from https://github.com/aws/eks-charts but hit an issue when we use it as a subchart with Helm generated TLS certs for the WebHook https://github.com/aws/eks-charts/blob/master/stable/aws-load-balancer-controller/templates/_helpers.tpl#L78

[2021-09-21 09:04] papigers commented on #2176
Resolved by #2179

[2021-09-21 09:04] #2176 closed

[2021-09-21 11:49] VladMasarik commented on #1621
ping, this is still an issue

[2021-09-21 14:33] mprimeaux commented on #2238
@kishorj Thanks again for your help. We were able to get everything working using the AWS Load Balancer Controller combined with the NGINX Ingress Controller. Again, thanks.

[2021-09-21 14:59] mkasinat opened #2240 "UnauthorizedOperation: You are not authorized to perform this operation"
**Describe the bug**
A concise description of what the bug is.
I am trying to install the aws-load-balancer-controller V2.2.2 in my kubernetes cluster(v1.19) but after applied the kind ingress we are getting the below error message and it is not allowed to create an alb load balancer .
Events:
  Type     Reason            Age   From     Message
  ----     ------            ----  ----     -------

[2021-09-21 15:07] thanhma commented on #2240
@mkasinat

Make sure the ServiceAccount used for aws-load-balancer-controller has correct IAM policy attached, and the policy has enough permissions.

I recommend you to double check this step from the Installation Guide:
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/installation/#setup-iam-role-for-service-accounts

[2021-09-21 15:20] mkasinat commented on #2240
@thanhma We have tried the same steps without changing any order but we got the below error mesage.

{"level":"error","ts":1632237330.6128585,"logger":"controller","msg":"Reconciler error","controller":"ingress","name":"simple-ingress-8","namespace":"default","error":"UnauthorizedOperation: You are not authorized to perform this operation.\n\tstatus code: 403, request id: 2e212740-f1cb-492d-b23c-d

[2021-09-21 15:24] thanhma opened #2241 "Ingress group stuck with one ingress certificate error"
**Is your feature request related to a problem?**
I have been using ingress group to group about 30 ingresses in a single ALB. Each ingress has its own SSL certificate that was imported into ACM.

When a certificate is expired and for some reasons, we are unable to renew it, ALB Controller starts failing to reconcile the whole ingress group with logs like this:

[code]

This stops us to create new

[2021-09-21 15:31] kishorj commented on #2238
@mprimeaux, I'm closing the issue. If you encounter problems, feel free to reopen or create a new one.

[2021-09-21 15:31] #2238 closed

[2021-09-21 15:35] thanhma commented on #2241
@kishorj

Yes, I use certificate auto-discovery. But if the certificate renewal takes time, or is not able to renew, it will affect reconciliation of other ingresses in the group.

[2021-09-21 18:35] gsabatini2016 commented on #2237
@kishorj Hi, i was doing some changes and now i get this error. Do you have any idea that could be happening?
![imagen](https://user-images.githubusercontent.com/48037187/134227814-8e7cb8f4-9823-411d-9e14-ca5c954658b6.png)

[2021-09-21 22:46] kishorj commented on #2237
@gsabatini2016, the cert manager is similar to a previous issue https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1563#issuecomment-846219688, please check if the workaround mentioned in the comments help your case.

[2021-09-21 23:32] ricky1265 opened #2242 "SSL Redirect not supported in networking.k8s.io/v1 api version"
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**
Use networking.k8s.io/v1 in the ingress resource yaml file instead of extensions/v1beta1
and use ssl redirect as in the port number we have to set as "use-annotation", which gives a validation error as integer is expected
**Expected outcome**
A concise description of what you expected to happen.

**Environment**

[2021-09-21 23:50] kishorj commented on #2240
@mkasinat, did you configure IRSA?

[2021-09-22 04:12] jbg commented on #2028
Yes, this still persists (we've done this type of migration multiple times in production on multiple clusters and we've always had to delete the orphaned ALBs afterwards).

Most recently, we reproduced it yesterday: We had four existing Ingress objects. We added an annotation to each of them with the same value for `alb.ingress.kubernetes.io/group.name`. The controller created the new ALB for the

[2021-09-22 04:33] jbg commented on #2028
I've emailed some details to yyyng@

[2021-09-22 07:47] mkasinat commented on #2240
Hello, I am followed the below link and same step .

https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fkubernetes-sigs.github.io%2Faws-load-balancer-controller%2Fv2.2%2Fdeploy%2Finstallation%2F%23setup-iam-role-for-service-accounts&data=04%7C01%7Cmakeshkumar.kasinathan%40volvocars.com%7Cb327491176dc4ad675f308d97d118b8c%7C81fa766ea34948678bf4ab35e250a08f%7C0%7C0%7C637678336580880199

[2021-09-22 13:46] Rahul-D78 commented on #2239
/assign

[2021-09-22 13:49] Rahul-D78 commented on #2239
I am new to Kubernetes can you please guide me how to fix this bug

[2021-09-22 19:34] gsabatini2016 commented on #2237
Well, I could fix the error. Aparently Cert-Manager uses the same port than kubelet. I re-deployed the Cert-Manager with Helm with the "--set webhook.securePort" flag and works!. I found the solution on a comment on this issue <a href="https://github.com/jetstack/cert-manager/issues/3237">#3237</a> on the Cert-Manager repository.

[2021-09-22 19:34] #2237 closed

[2021-09-23 01:03] dectl commented on #2240
I'm having the same problem after updating to 2.2.4. Checked the IAM policy over and over, no luck.

[2021-09-23 01:41] james-pollard-leapyear commented on #2100
/remove-lifecycle stale

[2021-09-23 08:57] mason-liu commented on #2182
Thanks @ameeet, are you going to upgrade the sample apiVersion to networking.k8s.io/v1 at the same time?

[2021-09-23 11:08] natsumemaya commented on #1846
In my case cant use-annotation it require number not string...
[code]

error: error validating "../ingress/......": error validating data: ValidationError(Ingress.spec.rules[0].http.paths[0].backend.service.port.number): invalid type for io.k8s.api.networking.v1.ServiceBackendPort.number: got "string", expected "integer"; if you choose to ignore these errors, turn validation off with --validate=fa

[2021-09-23 20:37] TechnoChimp opened #2244 "Load balancer not setting forward rule"
**Describe the bug**
When deploying an Ingress resource of type alb, the target group is not getting applied to the listener rule of the load balancer. Instead only a default rule with 404 is applied.

The target group is created correctly, but not applied to the load balancer listener rule. I can manually remove the default 404 rule and add the forward rule to the new target group.

**Steps to re

[2021-09-24 00:09] kishorj commented on #2244
@TechnoChimp, do you see any errors in the controller logs, something similar to the following -
[code]

As per the AWS doc https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html, "You must include at least one "." character. You can include only alphabetical characters after the final "." character."

[2021-09-24 04:03] shukla2009 commented on #2078
What is the outcome suddenly start facing the same issue on EKS 1.18

[2021-09-24 04:05] kuroneko25 commented on #228
Would a similar mechanism exist for NLBs?

[2021-09-24 10:41] Erokos opened #2247 "Unable to create controller"
When trying to deploy the AWS Load Balancer Controller, following the instructions for using the latest Helm chart in the Live Docs, the pods are kept in "CrashLoopBackOff" status. Their logs state:
[code]

I'm trying to deploy it on a self-managed kubernetes cluster in AWS using EC2 instances.
EBS volume type used: `gp3` (before I used `gp2`)
It's created using `kubeadm`, the latest `1.22.2` kube

[2021-09-24 15:24] kishorj commented on #228
@kuroneko25, you can use targetgroupbindings for NLB as well.

[2021-09-24 16:46] maciekwisniewski opened #2249 "Controller does not see the subnet"
Load Balancer Controller does not see the subnets, the automatic discovery did not work even though I tagged the subnets, so I tried setting the subnets using annotation and it just say:

{"level":"error","ts":1632501611.3785017,"logger":"controller","msg":"Reconciler error","controller":"ingress","name":"alb-ingress","namespace":"automatedtests","error":"InvalidSubnetID.NotFound: The subnet ID 's

[2021-09-24 17:52] rsmets opened #2250 "Add Flag to Enable ALB Access Logs"
**Is your feature request related to a problem?**
There is seemingly no way to enable access logs on the ALB.
Reference: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/configurations/

**Describe the solution you'd like**
A flag on the controller itself which one can set to enable access logs

**Describe alternatives you've considered**
The controller checks for an anno

[2021-09-24 19:26] dickeyf opened #2252 "Increase the maximum number of Security Group rules the controller can create"
**Is your feature request related to a problem?**
The Controller needs to create many rules in the Security Group of the Worker Node's ENIs when it create an instance-type NLB or ip-type NLB.

The instance type NLB requires considerably more rules as the backend ports are NodePort which are unique, unlike ip-type back port that tends to have standard values such as `80` or `443`.

**Describe the s

[2021-09-24 20:49] kishorj commented on #2250
You could enable access logs via annotation on your ingress, for example
[code]

For further details:
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#custom-attributes

[2021-09-24 20:49] kishorj commented on #2250
We are also adding support to specify lb attributes via ingress class params starting v2.3.0 release. For details - https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2190

[2021-09-24 20:51] kishorj commented on #2249
@maciekwisniewski, could you verify the subnets you've specified are in the same VPC as the controller?

[2021-09-24 20:53] kishorj commented on #2252
@dickeyf, thanks for reporting the issue. We cannot increase SG rule quotas beyond the current AWS limit, however I'm working on options to optimize SG rules for NLB as well.

/kind feature
/assign

[2021-09-24 20:59] kishorj commented on #2240
If you've set IRSA, please verify the following

- check if your serviceaccount has the annotation
[code]

- controller pod has the aws-iam-token volume
[code]

- and the mount
[code]

If you set IRSA after the controller pod, you will have to restart the lb controller deployment.

[2021-09-24 21:00] rsmets commented on #2250
Thanks you very much for the info and the link directly in the docs. Missed that!

Closing.

[2021-09-24 21:00] #2250 closed

[2021-09-24 21:05] dickeyf commented on #2252
Is there an issue for this, or a PR?  I'm interested to know what those options are.

[2021-09-24 21:26] kuroneko25 commented on #2015
Did you get a chance to work on the docs? We are in a similar situation and would appreciate more details on the steps you took here.

[2021-09-24 21:30] apeschel commented on #2240
@kishorj Just checked, and IRSA isn't mentioned anywhere in the documentation, but it seems like the `eksctl utils associate-iam-oidc-provider` command enables it. If that's the case then we definitely have IRSA enabled, but are getting this error.

[2021-09-24 21:34] apeschel commented on #2240
@kishorj  Following your guide, I see the following:

[code]

There are two controller pods running, is this correct?

Pod1

[code]
      - mountPath: /var/run/secrets/eks.amazonaws.com/serviceaccount
        name: aws-iam-token
        readOnly: true
[code]
    volumes:
    - name: aws-iam-token
      projected:
        defaultMode: 420
        sources:
        - serviceAccountToken:

[2021-09-24 21:39] apeschel commented on #2240
@kishorj It looks like the IAM policy isn't getting attached to the IAM role used by the service account by following the guide.

[2021-09-24 21:50] kishorj commented on #2240
IRSA => IAM Roles for ServiceAccounts
It is mentioned in the installation guide https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/installation/. Note: If you use IRSA, and using helm chart, you'd need to pass the options `serviceAccount.create=false` and `serviceAccount.name=aws-load-balancer-controller`  during installation.

If the serviceaccount doesn't get updated by t

[2021-09-24 21:58] apeschel commented on #2240
I don't see any explicit mention of IRSA in the installation guide though

![Screen Shot 2021-09-24 at 2 57 28 PM](https://user-images.githubusercontent.com/567739/134743888-19006f4e-8f56-4b93-b539-e99d0ccc17a1.png)

[2021-09-24 22:28] apeschel commented on #2240
I tried this, and it seemed to correctly attach the policy this time. However, I'm still getting errors:

[code]

[2021-09-24 22:40] apeschel commented on #2240
Is there some kind of DNS issue at play here?

From my local machine:

[code]

[code]

From a pod on the EKS cluster:

[code]

[code]

---

There's nothing special with the DNS for the cluster:

[code]

[code]

[code]

[2021-09-25 09:05] maciekwisniewski commented on #2249
Thank you for the answer @kishorj, the VPC is the same for those subnets and the EKS cluster. My cluster is using Fargate only, so when creating the cluster I provided it with 2 private subnets from the VPC. Now I am specifying 2 other, public subnets from that VPC. But could this be an issue? They are still in the same VPC and are tagged. My Kubernetes version is 1.20 and controller 2.2.4

[2021-09-27 08:54] aholbreich opened #2253 "Docker image aws-load-balancer-controller:v2.2.4 cannot be download"
**Describe the bug**
The image mentioned in the latest helm cannot be downloaded.
602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon/aws-load-balancer-controller:v2.2.4

**Steps to reproduce**
 1. Follow the installation documentation (with helm)
  last step is: `helm install aws-load-balancer-controller eks/aws-load-balancer-controller -n kube-system --set clusterName=<cluster-name> --set servic

[2021-09-27 09:38] aholbreich commented on #2253
It's also interesting that the "alternative" manually installation points to different repository:
`amazon/aws-alb-ingress-controller:v2.2.1`

image is 3 version behind btw.  but this image location works!

[2021-09-27 09:48] aholbreich commented on #2253
Found a workaround for now.
Actually exchanging repo with a working one: amazon/aws-alb-ingress-controller
`helm upgrade aws-load-balancer-controller eks/aws-load-balancer-controller -n kube-system ... --set image.repository=amazon/aws-alb-ingress-controller`

[2021-09-27 17:01] apeschel commented on #2240
So it turns out there were two overlapping issues at play here:

The first was the auth issue, which seems to have been caused by the IAM policy not getting attached to the IAM role used by the service account. There seems to be something wrong with the `eksctl create iamserviceaccount` that can cause this to happen without any warnings. Just deleting and recreating the IAM service account fixed t

[2021-09-27 17:04] mkasinat commented on #2240
Yes even my issue also got fixed after deleted the service and recreated again .
Additionally I have added the annotation for service account.
Now everything looks good.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Aaron Peschel ***@***.***>
Sent: Monday, September 27, 2021 7:01:43 PM
To: kubernetes-sigs/aws-load-balancer-controller ***@***.***>
Cc: Kasin

[2021-09-27 17:16] kishorj commented on #1776
/reopen

[2021-09-27 17:19] kishorj commented on #1927
/reopen

[2021-09-27 18:31] adamdonahue commented on #2222
Any update here?  Is there a way to force the controller to (try to) create an internet-facing load balancer even if a subnet does not have an IGW attached?   If not, can we get this as a feature?

[2021-09-27 18:59] TechnoChimp commented on #2244
Just tested again by deleting and re-deploying the resource and I'm getting the same problematic behavior. I'm seeing no errors, and the host value does contain "." characters.

Full logs:

[code]

[2021-09-27 23:15] #1963 closed

[2021-09-28 14:22] dickeyf commented on #2252
This issue seems to address the same problem: Optimized security group rules #2118

I understand that once NLBs supports Security Group, you will extend the same restricted port ranges behavior to the NLBs.

[2021-09-28 16:07] kishorj commented on #2253
@aholbreich, you'll have to attach the `AmazonEC2ContainerRegistryReadOnly` policy to your EC2 instance IAM role, could you verify this is the case? Also please check the whether the AWS region is correct.

[2021-09-28 16:30] kishorj commented on #2244
@TechnoChimp,
I checked the controller logs, the model is correct - it has the listener rule with the host header. The controller also has the log entry `successfully deployed model` - this implies there were no errors from the ELBv2 apis, your load balancer listener should have the correct rules, could you verify?

[2021-09-28 16:57] adamdonahue commented on #2222
I'm going to close this out and try a simpler test with an ingress based on this controller, see if it still raises an issue if we try to put an internet-facing load balancer in a DMZ.

Thanks for the feedback.

[2021-09-28 16:57] #2222 closed

[2021-09-28 17:36] TechnoChimp commented on #2244
No, the load balancer was deployed with just the default rule to return a 404. As before, I see that the target group was created, just not associated with the ALB. I can manually remove the default 404 rule and add the target group.

Note: I do have to first remove the default 404 rule as the ALB will not let me select the target group while that rule is present.

[2021-09-28 17:46] kishorj commented on #2244
did you modify the ALB listener rules manually? If so, the manual changes gets overwritten by the controller during next reconcile.

Would you be able to open an AWS support case for this issue?

[2021-09-28 17:52] kishorj commented on #2247
@Erokos, do you see any events reported for the aws-load-balancer-controller pods? What do you see when you run `kubectl describe pod -n kube-system aws-load-balancer-controller-xxx-yyy` pods

[2021-09-28 19:30] TechnicalMercenary opened #2254 "Question, Why does the Security Group open 0.0.0.0/0 to a high port and what to do about it"
My group just started using the AWS Load Balancer Controller and I'm unsure as to how to fix an issue.  I don't think it's an actual bug but more just my understanding.  We are using the AWS LBC with the Ingress Nginx controller as well.  We have added the following annotations to the Service name ingress-nginx-controller.  We are also on EKS 1.18 and using the 2.2.3 version of the AWS LBC

[code]

[2021-09-28 21:21] patrykcloudmind opened #2255 "Multiple ingress resources with multiple hosts base routing"
I am not sure if that is a bug, but I have multiple ingress resources grouped under one ALB.

Example:
[code]
and another one:
[code]
If I go to ALB rules, I can see only rules for service2.
Host1 and service1 rules are missing.
No errors on ALB controller or ingress resource.

I am not sure if that is bug or just not supported feature to have multiple hosts group together under one ALB.

**Expect

[2021-09-28 22:07] przemolb opened #2256 "Question: traffic from Target group go to a service or a pod ?"
We are using AWS Load Balancer controller 2.2.4 with the latest EKS 1.21. We create ALB using the following manifests:
[code]
The pod behind this service is listening on port 8080. When we apply this configuration it is working correctly (from external IP through the ALB then to Service and then to pod) . Normally kubernetes `Service` (logically) is the "face" of a pod and all traffic to a pod(s)

[2021-09-28 22:16] kishorj commented on #2256
@przemolb, with IP targets (based on your `alb.ingress.kubernetes.io/target-type` annotation), load balancer forwards traffic directly to your pods. The controller still uses the endpoint for your service to keep the targets up-to-date.

For instance targets, the load balancer sends the traffic to the NodePort on the worker node instances, and from there the traffic follows the path setup by the k

[2021-09-28 22:22] kishorj commented on #2212
@irl-segfault, I'm closing the issue. If you have further concerns, feel free to reopen or file a new one.

[2021-09-28 22:22] #2212 closed

[2021-09-28 22:24] kishorj commented on #2207
@tfn220189, closing the issue. If the problem still exists, feel free to reopen or create a new issue.

[2021-09-28 22:24] #2207 closed

[2021-09-28 22:26] kishorj commented on #2202
@gsabatini2016, if your issue is still unresolved, could you share the AWS case id?

[2021-09-28 23:12] gsabatini2016 commented on #2202
@kishorj yes, the support case's 8844464001 and keeps open. That seems like an error in how Terraform creates the fargate profile. I'nt get an answer from the EKS Engineers.

[2021-09-29 00:06] Shreya027 commented on #2249
Hi @maciekwisniewski could you please tell me the arguments you provided to the controller install using helm? For Fargate, we need to specify `--set region=<region>` and `--set  vpcId=<vpc-id>` while doing the alb controller install using helm.

[2021-09-29 07:19] blastik commented on #1959
/remove-lifecycle stale

[2021-09-29 08:42] blastik opened #2257 "Unable to use action to create type -authenticate-cognito- rule"
**Describe the bug**
When adding a `alb.ingress.kubernetes.io/actions` annotation of type `authenticate-cognito` to be used in the `paths` section I get the following error message:

`json: cannot unmarshal array into Go value of type ingress.Action`

**Steps to reproduce**

Applying the following ingress config does not work:

[code]

**Expected outcome**
ALB created with the corresponding rules

[2021-09-29 09:18] blastik commented on #2257
BTW I've seen [this](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1465#issuecomment-752776455) issue related but i was wondering if I could use the actions instead of creating several services?

[2021-09-29 09:32] blastik commented on #2257
and perhaps because of https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/754 I'm mistaken and we cannot use an action ?

[2021-09-29 09:37] jdomag commented on #2041
@project-administrator
Did you solve it?

[2021-09-29 09:41] przemolb commented on #2256
@kishorj thanks for your explanation.
Is there any documentation explaining that ? I'd like to refer to it while designing proposed solution.

[2021-09-29 09:56] project-administrator commented on #2041
@jdomag Yes, I had to change all ingress resources to use the `Path: /` instead of `Path: /*`. I don't remember, but maybe I had to delete and re-create all ingress resources.
Actually, it's better to make the change while running the older version of the controller to avoid getting these errors.

[2021-09-29 12:33] tmetodie opened #2258 "Wrong YAML of Ingress objects blocks other Ingress updates"
**Describe the bug**
When an Ingress object is deployed in the Kubernetes cluster and has wrong YAML, this results in:
- the YAML is consumed without any issues
- As the YAML is incorrect, the alb ingress controller cannot perform an update to the ALB rules
- The biggest problem is that this wrong Ingress object blocks any other update/create actions on other Ingress objects to not happen.

**Step

[2021-09-29 15:04] typez commented on #2253
I also observe this issue. The instruction seems to be incorrect or incomplete. Attaching `AmazonEC2ContainerRegistryReadOnly` policy isn't mentioned there and it's not present on EKS nodes by default.

[2021-09-29 16:09] kishorj commented on #2256
@przemolb, check if https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/how-it-works/ is helpful.

[2021-09-29 17:12] oliviassss commented on #2239
@Rahul-D78 Hi are you working on this issue currently? If not I can take it, thanks

[2021-09-29 22:08] kishorj commented on #2258
@tmetodie, this failure will limit only a single ingress group from getting updated - listener and listener rules specifically. The target group reconcile will continue as usual.

We can enhance our current webhook to reject this type of errors.
/kind feature

[2021-09-29 22:12] kishorj commented on #2257
@blastik,
for cognito authentication, you'd want to use the annotation `alb.ingress.kubernetes.io/auth-idp-cognito` - For more details https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#authentication.

For the action annotation, you've specified an array instead of single struct as expected. This is different from the ELBv2 api where you can specify an

[2021-09-29 22:19] kishorj commented on #2255
@patrykcloudmind, could you add the listen port configuration explicitly for port 443 to the first ingress? The default listener port for the first ingress is 80, but due to ssl redirect configuration the port 80 rules do not get added. You will also have to specify the certificate arn for your host `host1.example.com`.

[2021-09-29 22:21] kishorj commented on #2253
@typez  how does kube-proxy, aws-node work for you without `AmazonEC2ContainerRegistryReadOnly`? Do you use custom container images?

[2021-09-29 22:27] kishorj commented on #2242
@ricky1265, I'm closing the issue for now. If the problem persists, feel free to reopen or file a new issue.

[2021-09-29 22:27] #2242 closed

[2021-09-29 22:28] kishorj commented on #2240
@mkasinat, I'm closing the issue. If you have further problems, please reopen or file a new issue.

[2021-09-29 22:28] #2240 closed

[2021-09-29 22:31] oliviassss commented on #2239
/assign

[2021-09-30 06:03] blastik commented on #2257
Thanks for your answer. I cannot use that annotation because I want **different cognito params per path**. I could use different services for that purpose but then I cannot use an `action` to forward the requests wherever I want.
Are you saying is still possible to use an action annotation for that purpose ? Could you put an example?

Long story sort. I believe the alternative number 2 in the comm

[2021-09-30 07:12] jdomag commented on #2041
@project-administrator
The problem is that when you use `Path: /` the new controller creates `/*` in ALB rule on AWS, once the old one creates `/` - so deleting `/*` first is not an option.
I wish the migration docs mentions this, I would plan it much better ;)

[2021-09-30 07:40] jkroepke commented on #1687
I would also like expose my VPC connected OpenSearch Service through this. I could create a dedicated as workaround, but to save some money, I would like to re-use an existing one

[2021-09-30 23:04] yahavb opened #2259 "kubectl apply does not work after adding readinessGates"
**Describe the bug**
I added readinessGates with `conditionType: target-health.alb.ingress.k8s.aws/` and run `kubectl apply` and I got a new replicaset with the new pods but left with pods from the old replicaset

**Steps to reproduce**
Configure ALB ingress
Deploy svc and ingress
Deploy a workload (e.g., nginx)
Access the service via the ALB ingress

add readinessGates with conditionType `target-

[2021-09-30 23:10] kishorj commented on #2259
@yahavb, the guide you mentioned is for the v1 version of the controller. Could you refer to the new guide
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/pod_readiness_gate/ instead?

[2021-09-30 23:18] kishorj commented on #2254
AWS LB controller adds rules to the EC2 instance SG to allow ingress traffic from the NLB. The rules have the source CIDR from the load balancer source ranges configuration (service `spec.loadBalancerSourceRanges` or the annotation `service.beta.kubernetes.io/aws-load-balancer-source-ranges`) and the service NodePort for the instance targets. Without the SG rules, clients would not be able to reac

[2021-10-01 00:56] technotaff-nbs commented on #2050
This is causing us some grief, we are prepping all of our clusters for future releases and block most deprecated APIs.

Will this be fixed in 2.3?

[2021-10-01 05:21] #2259 closed

[2021-10-01 10:06] senpot opened #2260 "Question: Do you have a reason that's not include new installation manifest in v2.2.4?"
I'd like to use an installation manifest in release v2.2.4 (v2_2_4_full.yaml).
And I can see an installation manifest in main but I can't see an installation manifest in v2.2.4.
Do you have a any reason that's not include new installation manifests in v2.2.4?
If possible can you include installation manifests?

[2021-10-01 10:40] cybrox opened #2261 "Cannot install chart on Fargate-only cluster"
**Describe the bug**
I have a cluster that has been created with `eksctl` using a config file that specifies multiple `fargateProfiles` but no `nodeGroups`. As such, all pods scheduled to that cluster are running on Fargate nodes.

When attempting to install aws-load-balancer-controller via its Helm chart, the pods never get deployed. Checking the event log  yields the following output (tried mult

[2021-10-01 11:30] cybrox commented on #2261
Turns out I was too focused on what could be wrong with this chart instead of just figuring out what could be wrong in general.

In my cluster configuration (for creating the cluster), I only added a `fargateProfile` specifically for `kube-dns`, not for any kind of pod scheduled in `kube-system`, so there was no place for other pods (such as the ones from this chart) to launch:
[code]

If you have

[2021-10-01 11:30] #2261 closed

[2021-10-01 15:31] kishorj commented on #2260
Please refer to the earlier reported issue on this matter - https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2180

With the current process the installation yaml gets released only after the release tag is cut. For now, please use the main branch for the manifests.

[2021-10-01 22:39] m477r1x opened #2263 "alb provisioned with incorrect redirect rules?"
**Describe the bug**
I am using the loadbalancer controller to configure an internal ALB for a service. I am using the following docuemntation to configure the automatic HTTP to HTTPS redirection on the loadbalancer listeners. https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/guide/tasks/ssl_redirect/

This does provision the loadbalancer however the rules on the loadbalancer for

[2021-10-02 02:26] senpot commented on #2260
@kishorj Thank you for the answer. I understood it.

[2021-10-02 02:26] #2260 closed

[2021-10-02 06:34] zxkane commented on #2258
We deployed some Helm chart using ALB, and we are using [annotation for redirecting action](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#actions), not sure how to migrate this capability to ingress spec v1(`networking.k8s.io/v1`) due to the upstream chart already uses it.

[2021-10-02 12:07] #1756 closed

[2021-10-02 12:21] bgaillard commented on #228
Hi, thanks for all the details in your comments @jwenz723 @Erokos @christophebeling, they helped me making my setup work correctly.

However I struggled a little so I think complete explanations can help others, here is how I managed to make it work in my case (after this if i'm right about the setup IMO it could be great to create a PR to add more details in the documentation).

Here are the step

[2021-10-04 10:00] richardsonmbr commented on #2211
@kishorj Yes If I put only "/" it's working as expected.
But I have deployed lot of other micro services ex. /api/v1/abc, /api/v1/xyz
If I put "/" other url will not work

[2021-10-04 10:45] patrykcloudmind commented on #2255
Thanks, @kishorj That was it. All good.

[2021-10-04 10:45] #2255 closed

[2021-10-04 14:36] MartinEmrich commented on #1712
/remove-lifecycle stale

[2021-10-04 16:09] syscll commented on #2015
I will try and PR some docs this week! Will comment here once it's done.

[2021-10-04 18:28] Yasumoto opened #2266 "Edit button on Docs goes to 404"
**Describe the bug**

The documentation's hardcoded link to submit a fix is not setup correctly.

**Steps to reproduce**

1. Open up [a documentation page](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/installation/)
2. Click the [`Edit this page`](https://github.com/kubernetes-sigs/aws-alb-ingress-controller/edit/master/docs/deploy/installation.md) button
3. Receive a

[2021-10-04 18:46] kishorj commented on #2266
@Yasumoto, thanks for bringing it up. This issue exist since we switched active development to 'main' branch starting v2, however, the mkdocs would still use the 'master' branch by default. Here is the diff that would fix the problem -
[code]

Feel free to raise a PR. Note: you can run `make docs-preview` at the top level to generate the docs preview locally.

[2021-10-04 19:14] Yasumoto commented on #2266
Submitted at https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2267; thanks for teaching a new contributor how to fish @kishorj ! 🙇🏼

[2021-10-04 23:30] #1855 closed

[2021-10-05 02:14] amustaque97 commented on #2209
:wave: @nelaaro, I would love to work on this issue. Could you please guide me in understanding
* Little bit background about the existing behaviour
* What needs to be done as part of this issue?
* After making changes, how can I test it and verify?

[2021-10-05 12:26] Dgadavin opened #2269 "Exact path shouldn't contain wildcards"
**Describe the bug**
After updating ALB ingress controller to 2.2.4 I faced with warning

[code]
but without wildcard listener rule not work

**Steps to reproduce**
- update to the latest version
- have `pathType: Exact` and path `/*`

[2021-10-05 16:27] kishorj commented on #2269
@Dgadavin, wildcards are not supported for `Exact` or `Prefix` path types. If you need to use wildcard, you can specify `ImplementationSpecific` path type.

[2021-10-05 17:39] Dgadavin commented on #2269
Thanks a lot.

[2021-10-05 17:39] #2269 closed

[2021-10-06 00:39] Typraeurion opened #2271 "Adding group.name to existing Ingress creates a new ALB"
**Describe the bug**
This morning I replaced the alb-ingress-controller (v1.1.4) in our dev cluster with aws-load-balancer-controller (v2.2.0).  Reading the “Migrate from v1 to v2” document I expected this would preserve our existing load balancer, which it did after the new controller was started.  But then I modified the Ingress configuration to add “alb.ingress.kubernetes.io/group.name” since I

[2021-10-06 06:35] Erokos commented on #2247
@kishorj sorry for the late reply, was away a bit. The only things that I could see are the things written above. Further testing with different ebs type etc. led me to the conclusion that it was somehow incompatible with the newest version of kubernetes which I believe you now confirmed.
I switched to using the nginx ingress controller with an NLB and it serves our needs well. Can't say I like th

[2021-10-06 07:01] tmetodie commented on #2258
@kishorj , exactly - we will have to move from one ALB for all of our ingresses to ALB per ingress. However if we can utilize the cost optimization that we get from having them consolidated , would be better. Your proposal of making the AdmissionWebhook to check the YAML is a great option. Other one being API call to create/update listener rules to be separate, but I am not sure if there is curren

[2021-10-06 10:17] devprojectsme commented on #1810
Dear @M00nF1sh , could you please provide any info or an url for further details on the: "we'll add new annotation to allow user use a external LB without deletion the LB on Ingress deletion in the future."?

Thanks in advance!

[2021-10-06 10:48] kaykhancheckpoint opened #2272 "Experiencing Irregular 502 errors when using ALB"
We have a service on our EKS cluster, this service is an API that receives many thousands of requests per day. Occasionally, we have noticed when making a request we get a 502 error. If i were to guess out of 100 requests maybe 10-to-20 would be 502 errors.

**example response**

[code]

**Troubleshooting**

1. The service is not crashing and does not receive the requests being made ( which return

[2021-10-06 15:56] kishorj commented on #2272
@kaykhancheckpoint, are all the instance targets in your target groups healthy? I see that the health check interval is 300 seconds, do you see any indication in your application on whether all of the health checks pass? You could also try sending requests to the NodePorts on the instances and see if you can isolate the failing instances.

[2021-10-06 17:06] kishorj commented on #2271
The v2 version of the lb controller uses tags to keep track of aws resources. Here are the tracking tags -
[code]
Also refer to the live docs - https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#resource-tags

The stackID is based on the ingress group name, if an explicit group is not specified, then controller assigns an implicit group name to the ingre

[2021-10-06 17:30] wojciechatencompass opened #2273 "TargetGroupBinding - useless documentation"
Basically, any documentation you provide without a proper use case is useless.

How may I even know how to apply this feature and for what kind of scenarios.

You should elaborate this further in your docs.

[2021-10-06 17:35] #2273 closed

[2021-10-06 17:38] Typraeurion commented on #2271
Does this mean we can expect this behavior any time the group name is changed — i.e. it will provision a new LB while leaving the old LB running?  That definitely at least needs documenting, since it means the administrators will need to manually clean up the old resources.  Although my preference would be that the controller keeps track of what it had already created and just change its stack ID

[2021-10-06 22:17] kishorj commented on #2271
@Typraeurion, controller should automatically cleanup existing load balancer resources if you modify the group name. If the old lb still exists in your case, could you send us the ingress spec by running kubectl get ingress ingressname -n namespace -oyaml, we'd want to look at the finalizers, also share your controller logs.

The group name namespace/ingressname is not valid.

You could modify the

[2021-10-06 22:18] #2266 closed

[2021-10-06 23:33] herbertgoto commented on #2065
any ETA for v2.3.0?

[2021-10-07 00:31] kishorj commented on #1608
@Yasumoto, I've included the design details if you are interested
- model_build_listener.go is a good place to start
- also need to modify the deployer code to create TCP_UDP type listener

# TCP_UDP listener support for NLB

## Overview

NLB has support for both TCP and UDP listeners and the k8s `LoadBalancer` service with mixed protocol is deployed as NLB configuration using both type of listene

[2021-10-07 03:58] ajaymdesai commented on #1124
We are running into this every time we deploy 502 alarms from our upstream services

[2021-10-07 15:40] SPONGE-JL opened #2276 "IAM Policy Create SLR with star in resource"
### Describe the bug

Hi team,
When create IAM Policy using [this raw json file (v2.2.4)](https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.2.4/docs/install/iam_policy.json) with CLI and Console, I met below error.

- `AWS CLI v2`

[code]

- [`AWS IAM Console` > `Create Policy with JSON`](https://console.aws.amazon.com/iam/home#/policies$new?step=edit)

  ![v2 2 4-p

[2021-10-07 15:48] SPONGE-JL commented on #2276
In fact, when I used [the version of `2.1.3`](https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.1.3/docs/install/iam_policy.json), I did not meet this error **at that time**.

I don't understand why this warning has appear. 🤔

[2021-10-08 07:59] #2272 closed

[2021-10-08 09:24] Shikhakush opened #2278 "Http-Header condition not working with ALB ingress v1.1.9 & v.1.1.4"
**Describe the bug**
Hi,

I'm trying to setup advanced header based routing condition through Ingress manifest but it's not working. you can find the configuration i'm pushing below:

--------------------------
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: example
  namespace: example
  labels:
    app: example
  annotations:
    meta.helm.sh/release-name: example
    meta.

[2021-10-08 10:04] tomiszili commented on #2182
Hello,
Any updates on this?

I want to use this configuration in eks 1.19 or later.

in 1.18 i use the following:
[code]

[2021-10-08 10:06] davidgiga1993 opened #2279 "Service healthcheck annotation not working"
**Describe the bug**
When using the `service.beta.kubernetes.io/aws-load-balancer-healthcheck-path` annotation on a service used by the ingress, the ALB target group doesn't get updated and still uses the default `/` path.

**Steps to reproduce**
[code]
![image](https://user-images.githubusercontent.com/3924958/136538225-2ed22043-6ff9-4ca9-be33-eef0bb9a985f.png)

This also happens when deleting th

[2021-10-08 10:27] StianOvrevage commented on #1721
Shouldn't this be included (optionally) in the Helm chart?

[2021-10-08 12:01] jdomag commented on #2239
@oliviassss
Yesterday I've fetched the latest master of the helm chart and set below value in values.yaml  and upgrade my release. Existing pods were not recreated, but I believe they don't need to be. However I noticed today that my argoCD detected the change in TLS secret, so I'm not sure if it works as expected or maybe I should take some extra steps to make a use of your change?
[code]

[2021-10-08 15:40] kishorj commented on #2279
@davidgiga1993, the annotation `service.beta.kubernetes.io/aws-load-balancer-healthcheck-path` is used for NLB, not for ALB/ingress. For ALB/ingress configuration, you will have to use the annottaions with the prefix `alb.ingress.kubernetes.io`.

[2021-10-08 15:42] kishorj commented on #1721
PR #2248

[2021-10-08 16:44] davidgiga1993 commented on #2279
Is this available for services as well?
Because in the [documentation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/annotations/)  about service annotations it doesn't mention that it's NLB specific, nor that you should use another prefix to make it work with an ALB

[2021-10-11 06:24] #2279 closed, assigned to nobody

[2021-10-11 10:05] jrsherry opened #2282 "MutatingWebhook prevents cluster restoration"
**Describe the bug**
I recently came across an interesting scenario where the MutatingWebhook will prevent restoration of the cluster following a complete loss of the nodes.

What's happening is that in a healthy, 'typical', EKS cluster, the mutating webhook is adding a readiness gate to the aws-node pods in the kube-system namespace (amazon-vpc-cni-k8s).  This is fine, unless you suffer a complet

[2021-10-11 18:04] TechnoChimp commented on #2244
Oh also, I just checked out the ALB to manually set the target group and it appears the target group was not created automatically by the controller. Going to dig in more into that issue since that may be what's going on with this deployment.

[2021-10-11 22:57] d-shi opened #2285 "[Feature Request] Is it possible to support NLB proxy protocol v2 for internal LBs?"
**Is your feature request related to a problem?**
I searched the docs and issues and haven't seen this brought up before. I would like to use ingress-nginx for handling grpc traffic, which required it to be fronted by an NLB instead of an ELB. I would also like to have `force-ssl-redirect` enabled, which then requires proxy protocol v2 be set on the NLB target groups. Lastly, I would like for this

[2021-10-12 01:16] lxlxok opened #2286 "Failed to initial the AWS credentials with ProcessProviderExecutionError"
**Describe the bug**
The v2.2.4 use a minimal base docker image, it failed to initial the AWS credentials mounted to the aws-load-balancer-controller, we mount the AWS credentials through a secret to the aws-load-balancer-controller pod.

Here is the error message.
[code]

**Steps to reproduce**

1. Create a secret file with AWS credentials
[code]

2. Mount the secret and specify the location of a

[2021-10-12 01:45] #1728 closed

[2021-10-12 15:05] kishorj commented on #2285
@d-shi, you can set proxy protocol v2  for both internal and internet-facing load balancers provisioned by the aws-load-balancer controller. The load balancer type `external` indicates the lb resources are managed by an external controller (for example the aws-load-balancer-controller) and not the kubernetes in-tree kube-controller-manager.

When you set the aws-load-balancer-type to `nlb`, the re

[2021-10-12 20:26] dmayott opened #2287 "AWS Load Balancer Controller timing out when registering large number of pods in a deployment"
We have been running into this issue when trying to deploy an app to EKS. We're seeing a behavior during our deploys where pods are created but the AWS controller takes a significant amount of time to register the targets with the targetgroups. We're only seeing that issue with our biggest deployment (18 pods), we don't experience this with any of our smaller deployments. When not encountering the

[2021-10-12 22:09] #2285 closed, assigned to nobody

[2021-10-13 08:42] ismailyenigul commented on #1629
I had the same issue.
`"error":"failed to delete securityGroup: timed out waiting for the condition"`

I migrated ALB ingress from v1 to v2 but I did not have `elbv2.k8s.aws/targetGroupBinding=shared` in the description of inbound rule  added to EKS worker node securityGroup.
The rule cannot be deleted because `elbv2.k8s.aws/targetGroupBinding=shared`  is missing in the rule description.
ALB can't

[2021-10-13 15:17] d-shi opened #2288 "[Feature Request] Support different target group attributes per listener"
**Is your feature request related to a problem?**
It is currently possible to create multiple listeners/target groups for a single NLB, but it does not seem possible to specify a different set of target group attributes for each of the target groups.

For example, I am currently trying to use nginx-ingress-controller to route many types of ingresses into the cluster. Most of them are HTTP/HTTPS, b

[2021-10-13 15:20] scardena opened #2289 "no endpoints available for service "aws-load-balancer-webhook-service""
**Describe the bug**
I upgraded the ALBc from 2.0.1 to 2.2.4 by running a helm upgrade but i am getting an error when deploying a load balancer
[code]

**Steps to reproduce**
* Upgrade ALB from 2.0.1 to 2.2.4:
[code]
* redeploy our application
* application won't deploy with the above error.

**Expected outcome**
a load balance is provisioned and the application gets deployed properly, as it would

[2021-10-13 22:05] kishorj commented on #2288
/kind feature

[2021-10-13 22:08] kishorj commented on #2288
@d-shi, for attributes other than the proxy protocol v2, the controller doesn't override the settings that you manually configure from the AWS console. Would it help your use case if similar support is available for proxy protocol v2 configuration?

[2021-10-13 23:00] d-shi commented on #2288
@kishorj I am configuring all of this via Terraform + Terraform Helm Provider, and would like to avoid any manual steps if possible. We need to run these Terraform modules quite frequently to set up new clusters, so any manual steps become very cumbersome. It's also not always the same person who sets up new clusters, so manual steps will often be forgotten, and then it becomes very confusing and

[2021-10-15 04:15] Nuru opened #2296 "Missing documentation for aws-load-balancer-backend-protocol and ...-ssl-ports"
Although listed in the list of annotations, in Documentation version 2.2.4 there is no further documentation for the annotations
- `service.beta.kubernetes.io/aws-load-balancer-ssl-ports`
- `service.beta.kubernetes.io/aws-load-balancer-backend-protocol`

The correct settings for these annotations are not obvious. I still don't understand why `aws-load-balancer-backend-protocol` has both `https` an

[2021-10-15 16:53] gshutler opened #2297 "Support for NLBs targeting ALBs"
A [few weeks ago](https://aws.amazon.com/blogs/networking-and-content-delivery/application-load-balancer-type-target-group-for-network-load-balancer/) it was announced that NLBs could now use and Application Load Balancer-type Target Group ([docs](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/application-load-balancer-target.html)).

We are currently using the [previously documen

[2021-10-16 04:17] Nuru commented on #2296
@kishorj wrote:

Thank you for explaining these 2 annotations. I am surprised about your statement "Other values for this annotation have no effect" for the `aws-load-balancer-backend-protocol` annotation. Since opening this ticket I have found [this unofficial documentation](https://unofficial-kubernetes.readthedocs.io/en/latest/concepts/services-networking/service/) which says valid values for t

[2021-10-16 06:32] #1918 closed

[2021-10-16 23:39] #1996 closed

[2021-10-18 11:13] sthristov opened #2299 "Ingress not found error on deletion"
**Describe the bug**

I have a cluster that is used for pull-request preview environments.
The setup is as follows:
- An Ingress in the `default` namespace that is used to persist the ALB with a group annotation that is shared with all preview ingresses.
- Each preview environment is deployed in an individual namespace with an Ingress that has the same group annotation as the above. Each preview I

[2021-10-18 12:59] SidAceJog opened #2300 "K8s server version v1.22.2: groupcontroller failing"
For the resource **networking.k8s.io**, the version **v1beta1** does not exist anylonger.

As a result the ingress controller does not get created. And fails with a very generic error:

`{"level":"error","ts":1634560543.029553,"logger":"setup","msg":"unable to create controller","controller":"Ingress","error":"the server could not find the requested resource"}`

Error occurs in the file: group_con

[2021-10-19 05:18] rifelpet commented on #1859
/remove-lifecycle stale

[2021-10-19 09:37] hintofbasil commented on #1777
/remove-lifecycle rotten

[2021-10-19 15:51] nitrogear opened #2302 "The maximum number of targets per load balancer '1000' has been reached"
**Describe the bug**
Ingress controller can't add rule to ALB

**Steps to reproduce**
Add 33-34 rules to ingress controller. Example of rule:
[code]

**Expected outcome**
ingress controller was able to reconcile ingress and create rules in ALB

**Environment**
EKS v1.19

* AWS Load Balancer controller version
v2.2.4
* Kubernetes version
* v1.19.13
* Using EKS (yes/no), if so version?
yes, v1.19.13

[2021-10-19 17:21] dseravalli opened #2303 "Internal NLB - EKS worker node security group does not allow traffic from 0.0.0.0/0"
**Describe the bug**
When creating an internal NLB, the security group for the EKS worker nodes is modified to allow ingress to the NLB traffic port from the VPC CIDR, but not from `0.0.0.0/0`, as [the documentation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/annotations/#access-control) says this is the default when source CIDRs are not specified.

**Steps t

[2021-10-19 20:11] kishorj commented on #2303
Thanks. The targetgroupbinding resource has rule for CIDR "10.0.0.0/16", not 0.0.0.0/0. Could you confirm whether you have the `service.beta.kubernetes.io/load-balancer-source-ranges` annotation or `Spec.LoadBalancerSourceRanges` configured on your service.

[2021-10-19 20:13] dseravalli commented on #2303
@kishorj I can confirm that we have neither of those set.

[2021-10-19 22:02] lxlxok commented on #2286
Hi @M00nF1sh, can you help to triage this issue, since this PR https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2197 is the only diff between v2.2.3 and v2.2.4.  Thanks

[2021-10-20 03:02] acjohnson commented on #1569
/remove-lifecycle stale

[2021-10-20 09:45] lewiscowper opened #2307 "Unauthorized to perform: `elasticloadbalancing:CreateTargetGroup`"
**Describe the bug**

I'm trying to set up a cluster with IRSA enabled, and having some difficulty with the load balancer controller and permissions.
The error that I'm seeing is:

[code]

It is as if the resource tag `elbv2.k8s.aws/cluster` is not being correctly applied in this case (based on trying the policy that the role is attached to in the IAM policy simulator), and I'm not sure what the f

[2021-10-21 00:13] kishorj commented on #2180
@chris-mac, starting v2.3.0 release the manifest is now part of the release artifacts. I'm closing the issue.

[2021-10-21 00:16] #2303 closed, assigned to nobody

[2021-10-21 00:20] kishorj commented on #2300
@SidAceJog, the controller doesn't support networking.k8s.io/v1 yet, there is an outstanding feature request #2050. I'm closing this issue as a duplicate.

[2021-10-21 00:21] kishorj commented on #2247
@Erokos, I'm closing this issue since there is already a feature request to support networking.k8s.io/v1

[2021-10-21 00:21] #2247 closed

[2021-10-21 00:23] kishorj commented on #2100
There is already a feature request #2050, and support for `networking.k8s.io/v1` is in our roadmap. I'm closing this issue as a duplicate.

[2021-10-21 00:23] #2100 closed

[2021-10-21 00:23] #2300 closed

[2021-10-21 09:17] stevehipwell opened #2310 "Missing docs for IngressClassParams loadBalancerAttributes"
**Is your feature request related to a problem?**
There is currently no documentation for the new `loadBalancerAttributes` field in `IngressClassParams` objects added in https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2190 and released in [v2.3.0](https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.3.0).

**Describe the solution you'd like**
I'd lik

[2021-10-21 09:54] stevehipwell opened #2311 "Replace ALB annotations with IngressClassParams"
**Is your feature request related to a problem?**
I'd like to be able to replace more of the `alb.ingress.kubernetes.io` annotations with the `IngressClassParams` to abstract away the ALB specification from the `Ingress` resources using it. I mistakenly thought that #2190 was doing this, but after re-reading I think that's just replacing the `alb.ingress.kubernetes.io/load-balancer-attributes` ann

[2021-10-21 12:24] lcaproni-pp opened #2312 "keepTLSSecret value not being honoured"
**Describe the bug**

There was an update here https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2264 - to allow users of the helm chart to keep the TLS secrets as they are and to stop non-empty diffs running every plan/apply.  However upon setting the value the chart still generates diffs for the TLS certs.

**Steps to reproduce**

1 - Install helm chart & set the keepTLSSecret

[2021-10-21 16:14] stevehipwell opened #2313 "Add ServiceMonitor to chart"
**Is your feature request related to a problem?**
It'd be great if the Helm chart had a `ServiceMonitor` resource that could be enabled.

**Describe the solution you'd like**
Add an optional `ServiceMonitor` resource to the chart.

**Describe alternatives you've considered**
I currently have to manually create this resource.

[2021-10-21 18:57] ykumthekar4929 commented on #1090
If anyone stumbles into this with the following setup

ALB
ALB Ingress Controller
ALB Ingress
SocketIO App

In addition to suggestions from @M00nF1sh

One thing missing for me was having withCredentials set to true in socket io initialization. And since my server was cross-domain from my web application, ALB cookies were not being included in HTTP polling requests. The trick was to init socket io

[2021-10-22 00:50] cmiller-exos opened #2314 "Ingress controller fails to retrieve credentials from sts"
[After following the instructions -](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/deploy/installation/)

And trying to use the example "echoserver" deployment, i see the logs from the `aws-load-balancer-controller` point to a credential issue.

`{"level":"error","ts":1634863220.3985133,"logger":"controller-runtime.manager.controller.ingress","msg":"Reconciler error","name":"

[2021-10-22 03:23] sathya0803 opened #2315 "No OpenIDConnect provider found in your account for https://oidc.eks.us-east-1.amazonaws.com/id"
I'm facing this error on trying to check logs from cloudwatch pod .
[code]

[2021-10-22 07:57] #2307 closed, assigned to nobody

[2021-10-22 11:47] #2302 closed, assigned to nobody

[2021-10-22 15:12] serhiiromaniuk opened #2316 "Error: "couldn't auto-discover subnets: unable to discover at least one subnet""
**Describe the bug**
ALB cannot discover subnets

**Steps to reproduce**
1. Deploy simple cluster within AWS via Terraform
2. Deploy ALB `v2.3.0 ` with 0 customiazations
3. Create iam-role and map it into serviceaccount via `eksctl create iamserviceaccount`
4. Deploy sample ingress

**Expected outcome**
200 response

**Environment**

* AWS Load Balancer controller version: `v2.3.0`
* Kubernetes ve

[2021-10-22 22:43] ody opened #2317 "TG and SG ingress rules not created with correct port"
**Describe the bug**
When creating a new Ingress all listeners on the ALB (80, 443) and back end ports for Targets (3000), and their associated ALB forwarding rules are created correctly but TargetGroup and SecurityGroup ports are set to 1, causing health checks to fail and traffic to be dropped by ALB

**Steps to reproduce**

- Deploy EKS cluster via eksctl
- Install Replicated based application

[2021-10-22 23:00] vinayan3 opened #2318 "Document how to create internal nlb-ip which supports setting service.beta.kubernetes.io/aws-load-balancer-ssl-cert"
**Is your feature request related to a problem?**
I would like to be able to set a SSL cert the LB can do the TLS termination and then pass along the traffic to a pod using IP targeting.

I've tried to use this setup and the SSL cert never gets set on the LB:

[code]
AWS LB Controller image:
`602401143452.dkr.ecr.us-east-1.amazonaws.com/amazon/aws-load-balancer-controller:v2.2.1`

**Describe the s

[2021-10-23 00:40] vinayan3 commented on #2318
Yes it is because proxy protocol v2 was on. I've turned on an istio filter which allows it to decode the extra data.

Really thanks for helping out!

[2021-10-26 12:12] shiouen opened #2322 "AccessDeniedException: ... with an explicit deny in a service control policy"
An organizational policy is explicitely blocking access to perform: waf-regional:GetWebACLForResource in our AWS accounts. I have already double checked the controller pod role and policies, I confirm they include the necessary waf actions as described by the [EKS user guide](https://github.com/awsdocs/amazon-eks-user-guide/blob/master/doc_source/aws-load-balancer-controller.md).

I deployed a sam

[2021-10-26 16:23] Vijayg14 opened #2323 "AWS EKS CLUSTER ISSUE"
Dear all,
I am unable to expose application  with public ip which is deployed in AWS EKS cluster?
can any help me to sort out this issue

[2021-10-26 18:54] #2310 closed, assigned to nobody

[2021-10-26 19:02] #2318 closed, assigned to nobody

[2021-10-26 19:05] #2276 closed, assigned to nobody

[2021-10-27 07:54] #2322 closed, assigned to nobody

[2021-10-27 13:59] blackdog0403 opened #2325 "Cannot resolve private-ips for NLB when it uses annotation "service.beta.kubernetes.io/aws-load-balancer-private-ipv4-addresses""
AWS Load Balancer Controller Version: 2.2
Amazon EKS Version: 1.20

I'm trying to use internal NLB with AWS Load Balancer Controller and want it to have private-ip that I want to assign on NLB. And I found that annotation "service.beta.kubernetes.io/aws-load-balancer-private-ipv4-addresses" does not work as I expected.

It does not fix private-ips that are set with the annotation but NLB just get

[2021-10-29 08:14] visit1985 opened #2328 "Support for IngressClass.spec.parameters and IngressClassParams in Helm chart"
**Is your feature request related to a problem?**
We would like to use the new IngressClass.spec.parameters and IngressClassParams with the aws-load-balancer-controller Helm chart.

**Describe the solution you'd like**
Please add support for [IngressClass.spec.parameters](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/ingress/ingress_class/#ingressclass) and [IngressClas

[2021-10-29 17:59] #2317 closed, assigned to nobody

[2021-10-29 18:32] nitingadekar opened #2330 "AWS ELC v2.3.0 requires subnet with ipv6 CIDR associated with it."

[2021-10-29 18:45] #2330 closed

[2021-10-29 18:50] nitingadekar commented on #2330
I was using annotation lb.ingress.kubernetes.io/ip-address-type: dualstack , changed the value to ipv4 to resolve the issue.

[2021-10-30 08:00] #1687 closed

[2021-10-30 08:43] ShakeelHussain commented on #727
Hi can we set timeout on specific path instead of whole service ?

[2021-10-30 18:52] ketronkowski commented on #2299
I am seeing the same error with v2.3.0 of the AWS Load Balancer controller.
[code]
I am working with only one application in my k8s cluster.
In my case, I do not have an ingress defined in default; it is defined in the namespace of the deployment.

[2021-10-31 17:50] IliaGe commented on #1572
+1 for needed use cases :)

[2021-10-31 19:34] mycoditcodihub commented on #2050
Just ran into the same issue. Is there an update?

[2021-11-01 10:23] whereisaaron commented on #329
You can use the `group.name` annotation to combine multiple Ingress on one ALB load balancer.

https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html
![image](https://user-images.githubusercontent.com/1109585/139657075-55e5db31-c3f8-47e4-bacb-5d70c1652109.png)

[2021-11-01 16:43] oliviassss commented on #2203
/assign

[2021-11-01 19:04] matthewmrichter commented on #1598
Is this bug still happening in v2.3?

[2021-11-02 00:42] genieai-vikas opened #2334 "ALB controller with Godaddy is giving me too many redirects"
* AWS Load Balancer controller version: 1.0.2
* Using EKS (yes/no), if so version? 1.19

**Additional Context**: I am trying to use ALB ingress controller in my EKS cluster but my domain is in GoDaddy and currently I can't move it to route53.

So what I did is I created an ingress and when ALB is created I added its IP to the subdomain in GoDaddy but keep getting "Too Many redirect" error.

Could

[2021-11-02 10:22] stevehipwell commented on #2313
@kishorj we've not had a response from @mikhailadvani and I'm not 100% in agreement with the approach taken there so I'll open a PR to add this in to this repo. Would be good to get this working.

[2021-11-02 12:06] henrysachs commented on #2071
I just ran into this via the CDK HelmChartProvider. Solution was to try it 3 times... As this is done via Cloudformation the Stack just rolled back and I could do this easily but feels kinda hacky.

[2021-11-03 05:40] aarajbhattarai opened #2336 "no endpoints available for service "aws-load-balancer-webhook-service""
**Describe the bug**
Error from server (InternalError): error when creating "ingress.yml": Internal error occurred: failed calling webhook "vingress.elbv2.k8s.aws": Post "https://aws-load-balancer-webhook-service.kube-system.svc:443/validate-networking-v1beta1-ingress?timeout=10s": no endpoints available for service "aws-load-balancer-webhook-service"

**Steps to reproduce***
I deployed using the

[2021-11-03 14:56] ggermis commented on #2050
I wouldn't categorize this as a feature request anymore but a high priority issue since kubernetes has a stable 1.22 release since august 4th (almost 3 months). This is blocking anyone from upgrading (or even preparing to upgrade) their cluster

[2021-11-03 15:15] mariomerco commented on #2050
Same in here, this is blocking us to prepare ourselves to upgrade our EKS clusters whenever 1.22 comes available.

[2021-11-03 15:21] lucazz commented on #2050
Same here, different stack but the same issue.
This prevents us from rolling out newer versions of EKS clusters w/ terraform.

[2021-11-03 21:07] julienperignon opened #2337 "aws-load-balancer-private-ipv4-addresses annotation is ignored"
**Describe the bug**
Hey everyone
Creating a new service with the annotation `aws-load-balancer-private-ipv4-addresses: 10.20.0.120,10.20.1.120`  does not create an NLB with specified static IP addresses but assigns a dynamic IP from the subnet CIDR instead.

I don't see any error in the controller logs.

**Steps to reproduce**
[code]
Subnets CIDRS :
`subnet-0892c76f: 10.20.0.0/24`
`subnet-d401479

[2021-11-03 22:21] julienperignon commented on #2337
Maybe a pointer in the right direction, the annotation to specify the name of the NLB is also ignored (`service.beta.kubernetes.io/aws-load-balancer-name: test-new-nlb`)

If I switch to target IP via this annotation : `service.beta.kubernetes.io/aws-load-balancer-type: nlb-ip` the NLB gets the name from the annotation and the correct static ip address. Am i missing something here ?

[2021-11-04 00:54] tekenstam opened #2338 "Controller not updating resource status if reconcile fails"
**Describe the bug**
We have observed several cases where the reconcile of an `Ingress` object failed. For example:
[code]

We also observed reconciliation failures when a non-existent SG was specified in the `alb.ingress.kubernetes.io/security-groups` annotation.

An event for the resource is generated, but the status of the resource does not indicate any error. Currently the only values in statu

[2021-11-04 02:26] matheushent opened #2339 "TargetGroupBinding is not created by the ingress resource"
**Describe the bug**
The issue is pretty much the title: the ingress resource doesn't create the TargetGroupBinding resource. The controller version were installed by helm (version 1.2.7) and that's how my ingress resource looks like:

[code]

The strangest thing is everything is deployed in place when I deploy using CDK, but doing `kubectl apply` the ingress doesn't work properly. The logs of the

[2021-11-04 14:20] kferrone opened #2340 "Target Groups always unhealthy"
**Describe the bug**
The target groups for the ALB are always unhealthy.

**Steps to reproduce**

Here are the values I used with the helm chart:
[code]
The service account is using irsa with this policy: https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/install/iam_policy.json

**Expected outcome**
Healthy target groups

**Environment**

* AWS Load Balancer controller

[2021-11-04 14:55] kferrone commented on #2340
Wow! I simply updated the helm chart from `1.3.1` to `1.3.2` and everything works now. Yeesh what a battle I went through.

[2021-11-04 14:55] #2340 closed, assigned to nobody

[2021-11-04 17:53] SidduAngadi commented on #1181
I am facing same issue in EKS 1.21. Any update on this how to resolve ?

[2021-11-04 18:02] tmehlinger opened #2341 "Unable to delete TargetGroupBinding if Target Group is missing"
**Describe the bug**
I'm receiving the following errors in the ALB controller after creating a TGB resource with an incorrect Target Group ARN:

[code]

When I try to delete the offending TGB, it repeats the above error and never deletes the resource.

**Steps to reproduce**

Create a `TargetGroupBinding` resource with an syntactically-valid but nonexistent Target Group ARN.

**Expected outcome**

[2021-11-04 20:32] tmehlinger commented on #2341
I was actually able to work around this following the advice here: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1629#issuecomment-731011683

The controller wouldn't delete the resources because it couldn't finalize them, so editing the TGB resources to remove the finalizers allowed the API server to clean them up.

[2021-11-05 06:00] yungyili commented on #1415
This solution works for me. Thank you so much!

[2021-11-05 16:51] oliviassss commented on #2336
Seems similar to this issue: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2289

[2021-11-05 18:19] dmayott commented on #2287
@kishorj Since changing the flag to 60 seconds we have not had an issue. Going to monitor it more but it seems to have fixed the problem! Thanks!

[2021-11-05 22:12] M00nF1sh commented on #2341
/kind bug
It looks like you specified an invalid TargetGroup ARN instead of not found one.
Currently we only handled not found TargetGroup case: https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/c60d5e63485fe1c4dd726c5aa0fff8bb6459e073/pkg/targetgroupbinding/resource_manager.go#L203

we should add a check for invalid TargetGroup ARN error as well and ignore it.

[2021-11-05 22:15] M00nF1sh commented on #2339
@matheushent
There shouldn't be difference between CDK and YAML.
would you provide logs in the controller after you applied the YAML?
also, is the Ingress created in cluster when applied the YAML?

[2021-11-05 22:26] M00nF1sh commented on #2338
@tekenstam
Thanks for reporting this use case.
We cannot add additional fields into status as the structure is fixed by upstream Kubernetes API. (there is only this loadBalancer field available).
Also, it feels impropriate to clean up the loadBalancer status upon reconcile fails since people may still want to be able to use existing LB even they mistakenly updated the ingress to contain errors.

I

[2021-11-05 23:27] M00nF1sh commented on #2337
@julienperignon
You missed the `service.beta.kubernetes.io/aws-load-balancer-type: external`.
`service.beta.kubernetes.io/aws-load-balancer-type` decides which controller is responsible and how to provision the LBs.

the possible values are:
* `service.beta.kubernetes.io/aws-load-balancer-type: nlb`:  The in-tree controller(built inside Kubernetes) will be used, and it provision NLB with instance

[2021-11-06 00:02] herbertgoto opened #2343 "Security vulnerability of LB controller image"
**Describe the bug**
When uploading the amazon/aws-alb-ingress-controller:v2.3.0 image to ECR, it reports the image has this high security vulnerability:

ca-certificates:2020.2.41-70.0.amzn2.0.1 - [ALAS2-2021-1710](https://alas.aws.amazon.com/AL2/ALAS-2021-1710.html)

**Steps to reproduce**
docker pull --platform=linux/amd64 amazon/aws-alb-ingress-controller:v2.3.0
docker tag amazon/aws-alb-ingre

[2021-11-06 17:26] matheushent commented on #2339
So, the base manifest I will talk about is:

[code]

Apply using `kubectl apply -f manifest.yaml` I can see the controller logs:

[code]

As we can see, there's no TargetGroupBinding being created. Now let's see the logs when I apply the manifests using CDK:

[code]

As we can see, the target group is created successfully
[code]

[2021-11-07 07:16] julienperignon commented on #2337
@M00nF1sh Thanks so much for those details.
Indeed this was my issue and it worked properly once I set the `service.beta.kubernetes.io/aws-load-balancer-type: external` annotation.

Closing the issue

[2021-11-07 07:16] #2337 closed

[2021-11-08 13:05] levya4 commented on #228
Hey, can you provide any updates on this feature?
I struggled with the same issue while trying to automate the ALB controller together with AWS Global Accelerator.
BTW, support for AWS Global Accelerator will be much better in my case :)

[2021-11-08 16:26] oliviassss commented on #2343
@herbertgoto We will fix it in the next patch release, thanks!

[2021-11-08 16:59] BuffaloWill commented on #2050
Same here. This is a blocker for us as well.

[2021-11-09 00:50] DameonSmith opened #2344 "Ingress Not Forwarding Subpath Requests to Service"
**Describe the bug**
No requests to the alb, other than root `alb.amazon.com/` are being passed to the service despite the path being set to prefix. Any request made to the service that is not explicitly the `/` root path (like `/public/asset.png`) hangs and never resolves.

**Steps to reproduce**
Deploying an ingress service using the default helm create templates.

**Expected outcome**
When requ

[2021-11-09 06:05] DameonSmith commented on #2344
Turns out it's something misconfigured in the app.

[2021-11-09 06:05] #2344 closed

[2021-11-09 13:13] Cyanopus commented on #1859
This is a very important business case. Adding a private link as a single annotation is a great way to expose your service B2B without network-level trust.

[2021-11-09 16:14] jayeshnazre opened #2345 "My controller pod is unable to reconcile even when I have type: NodePort"
**Describe the bug**
I have ingress defined for a service with type: nodeport and for some reason its logging an error  -
Error: InvalidParameter: 1 validation error(s) found.\n- minimum field value of 1, CreateTargetGroupInput.Port.\n
**NOTE: This is not the same as what others have reported, I do have the service exposed as NodePort type.**
So its not the same as below
https://github.com/kuberne

[2021-11-09 16:15] jayeshnazre commented on #2345
@kishorj  Kishore can you take a look at this for me? Its not the same issue as discussed before where the service type was incorrectly defined

[2021-11-09 17:13] FelipeLujan opened #2346 "Unable create ingress to gRPC service running on EKS"
**Describe the bug**
In a properly tagged subnet I can create http-based Ingresses and access my applications from the internet
I am experiencing issues exposing the thanos-sidecar gRPC endpoint using the example labels

**Steps to reproduce**
*  installed the prometheus-operator and thanos sidecar.
*  created a service to expose the thanos sidecar port 10901. This port is accessible and works as

[2021-11-09 17:27] johnkeates opened #2347 "ALB Support for Service NodePorts"
**Is your feature request related to a problem?**
I can't use ServiceAnnotations to attach Service NodePorts to an ALB. I cannot use an NLB because I need to use Security Groups. The Service resource is created by Istio as it is an IngressGateway.

**Describe the solution you'd like**
Annotations that allow ALB targets that are Services with NodePorts.

**Describe alternatives you've considered**

[2021-11-10 02:44] Dohbedoh opened #2349 "Failures to handle a specific Ingress resource prevent other Ingress resources to be handled."
**Describe the bug**

A bad Ingress resource should not prevent other Ingresses to be handled by the controller. I believe that this should not happen. A single "bad" ingress should not prevent other "good" ingress to be processed.

**Steps to reproduce**

* Deploy EKS 1.19+ the AWS Load Balancer Controller 2.3.0 (reproduced also in 2.2.4)
* Create an app with a broken Ingress, like for example:

[2021-11-10 09:02] froblesmartin opened #2350 "Force this controller to manage "nlb" type or any way to use instance Target Groups"
Hello! :smile:

In my project, I need to use the annotation to always keep the same private IPs in my private/internal NLB. The problem is that I can not use "nlb-ip", and as the docs say (https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/service/annotations/#legacy-cloud-provider), a regular "nlb" will be managed by the legacy provider.

**Describe the solution you'd like*

[2021-11-10 09:49] codenow99 opened #2351 "ALB not working for Kubernetes Dashboard or Kibana"
I am trying to create an ALB for **Kubernetes Dashboard** and **Kibana using opendistro-es** Helm chart that was previous running on Ingress nginx. They are working fine with Ingress Nginx. But I want to move them to ALB controller.

They seem not to be working actually, the ALB are deployed but I am not able to navigate to applications. I have other multiple charts they are seem to be working fin

[2021-11-10 09:59] froblesmartin commented on #2350
I have seen the annotation `service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance`, which makes me think that even specifying `nlb-ip` type, the AWS Load Balancer Controller would configure the Target Group as instance, but sadly it does not. :(

[2021-11-10 12:47] Bhashit commented on #228
Looks like version 2.3 is out.

[2021-11-10 13:11] blevine commented on #228
Congratulations @bgaillard on figuring this out. IMO, if that level of complexity is required to make use of this feature, I'll forgo managing the ALB in Terraform and continue to create the ALB from my Helm charts. Once you have the Terraform boilerplate in place to setup for using the load-balancer controller, the rest is relatively easy.

[2021-11-10 13:29] kcrawley-supernatural commented on #1571
@M00nF1sh is there anywhere we can track the upstream issues on the AWS side for these features?

[2021-11-10 13:57] blevine opened #2352 "Supporting authenticated and unauthenticated paths for single ALB and shared ALB"
This is related to issue #2151.

From the comments, it's unclear to me how to proceed to support the following scenarios:

1. Single ALB in which some paths are secured via OIDC and some are not.
Do I define 2 NodePort services using the same ports, one of which includes the `alb.ingress.kubernetes.io/auth-type` (and related annotations) and one that does not.  And then associate the different pat

[2021-11-10 17:36] tah-mas opened #2353 "AWS load balancer fails to start using the latest helm chart (2.3.0)"
**Describe the bug**
The aws-load-balancer-controller fails to start with the below error, using the latest chart (new install):

kubectl logs aws-load-balancer-controller-5c8d6f4467-w5nr6
{"level":"info","ts":1636564689.7425728,"msg":"version","GitVersion":"v2.0.0","GitCommit":"1028fa4f363a9a8e37b07ff6a093b7b422923512","BuildDate":"2020-10-21T22:17:18+0000"}
unknown flag: --disable-restricted-sg-

[2021-11-10 23:02] M00nF1sh commented on #2353
@tah-mas
Looks like you specified a custom image tag via `--set image.tag="${LBC_VERSION}"`. is LBC_VERSION set to some older version?

The `--disable-restricted-sg-rules` is a new field introduced in v2.3.0 only, and the latest helm chart sets it by default.

[2021-11-10 23:05] M00nF1sh commented on #2352
@blevine
For #1, yes, you can define 2 nodePort services to achieve it. The auth annotation on service takes priority.
For #2, yes as well. If both Ingress are within same group with [alb.ingress.kubernetes.io/group.name](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/ingress/annotations/#group.name) annotation

Both option can achieve your desired effect.

[2021-11-10 23:11] M00nF1sh commented on #2351
@codenow99
I'm not familiar with Kibana application, when you say it's not working properly, that's the response code/body returned when you access the ALB?
Also, i saw you used `path: /`, and by default the [PathType](https://kubernetes.io/docs/concepts/services-networking/ingress/#path-types) is "ImplementationSpecific":
* with NginxIngressController, it matches all paths including path like `/s

[2021-11-10 23:14] M00nF1sh commented on #2350
@froblesmartin
With newer controller version(e.g. v2.3.0), you can create a instance type NLB by this controller as well
You need to specify both annotation below:
* `service.beta.kubernetes.io/aws-load-balancer-type: external`
* `service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance`

Note, we cannot make `service.beta.kubernetes.io/aws-load-balancer-type: nlb` work as the in-tre

[2021-11-10 23:19] M00nF1sh commented on #2349
@Dohbedoh
We have an existing feature request for this one. Currently the hard part to implement above is how to deal with bad Ingresses, and there can be multiple types of bad as well.
we already handle cases such that if you referencing a non-exist service in a Ingress, we replaced it with a 404 rule.

For your use case, what's the "bad" part of the bad Ingress, and how would you expect it's rul

[2021-11-10 23:22] M00nF1sh commented on #2347
@johnkeates
Not sure whether i understand this properly.
Could you create an Ingress for your case which will result in a ALB to forward traffic to your NodePort services.

[2021-11-10 23:28] M00nF1sh commented on #2346
@FelipeLujan
ALB only supports GPRC with HTTPS protocol.

You'll need to remove `{"HTTP": 80}` from `alb.ingress.kubernetes.io/listen-ports`, and  remove `alb.ingress.kubernetes.io/actions.ssl-redirect` as well since it's not needed.

BTW, if you want to keep the HTTP port(I'm not sure whether the HTTP->HTTPS works for GPRC, and i don't think so), you can try it out with the new redirect annotatio

[2021-11-10 23:48] Dohbedoh commented on #2349
In that case, the ingress has a wrong path: `/*` with pathType `Prefix`.

I would definitely expect the ingress with the wrong path `/*` with pathType `Prefix` to be skipped because of that error. And AWS Load Balancer controller logs make it clear that something is wrong with that ingress in particular.

The problem is more about the fact that one bad ingress - such as an ingress using `/*` with

[2021-11-11 00:04] #1784 closed

[2021-11-11 01:31] M00nF1sh commented on #2345
@jayeshnazre
Would mind post your full Service & IngressSpec here.
Also, from the controller logs, there should be a log like "Successfully built model: <someJson>", would you help post it here as well. (you can redact sensitive fields such as domain name)

[2021-11-11 01:59] alanprot opened #2354 "Add support labels selector to `target-node-labels` and `aws-load-balancer-target-node-labels` annotations"
**Is your feature request related to a problem?**

We may need to remove from a target group all nodes from a given AZ in case of a AZ outage. Currently
`service.beta.kubernetes.io/aws-load-balancer-target-node-labels` and `alb.ingress.kubernetes.io/target-node-labels` only supports the `=` operator which makes this not feasible.

https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3

[2021-11-11 02:16] johnkeates commented on #2347
@M00nF1sh Yes, that is possible, there are many constructions where we can add something in between, but we don't really want to add anything in between.

The NLB can be directly attached to an Istio IngressGateway, but an ALB cannot (at least not via annotations). I also can't really find the reasoning or information on the choices why NLB was made to attach to Services directly and the ALB for I

[2021-11-11 03:14] kevin-lindsay-1 opened #2355 "Models being built but then the controller stops"
**Describe the bug**

I'm creating an ingress gateway via istio's ingress gateway helm chart v1.10.3 with a container image of 1.10.3, which shouldn't really matter, but my issue that I discovered is that if I create the service with the following settings:
[code]

Which appears to be the preferred way according to the docs, it literally doesn't do anything at all.

However, if I take that config

[2021-11-11 08:23] froblesmartin commented on #2350
Thanks a lot for your answer @M00nF1sh! I got it working now :smiley:

I have opened this PR to try to clarify this a little bit in the docs, as seeing the type as `external` makes the impression that you can not get an `internal` NLB: https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2356

[2021-11-11 09:13] tah-mas commented on #2353
Thank you @M00nF1sh , removing the image.tag version worked. :-) I was following the instructions here: https://www.eksworkshop.com/beginner/180_fargate/prerequisites-for-alb/

[2021-11-11 09:14] Erokos commented on #228
To me it comes down to a separation of concerns. I don't want my load balancer terminated as I terminate my cluster, because I could be having target groups pointing to servers not managed by kubernetes or to services like lambda functions. I don't think that creating a load balancer through kubernetes manifests is a good practice. Infrastructure components should be created in the same way to mai

[2021-11-11 11:59] junzebao opened #2357 "Non managed TargetGroupBindings get deleted"
**Describe the bug**
We create a `TargetGroupBinding` ourselves to bind the pods to an existing ALB because we need to reuse the existing ALB, but the TGB gets deleted every night when we scale down the dev cluster. After digging into the code, I found out the non managed TGBs get deleted in the [TargetGroupBindingSynthesizer#PostSynthesize](https://github.com/kubernetes-sigs/aws-load-balancer-con

[2021-11-11 12:04] blevine commented on #2352
Thank you @M00nF1sh !  Closing.

[2021-11-11 12:04] #2352 closed

[2021-11-11 15:23] kevin-lindsay-1 commented on #2355
Ah, I see, the `nlb` annotation is apparently handled by EKS itself, so it seems like the controller is not picking it up or otherwise not working, although I cannot determine why based on the logs I'm seeing from it.

It just says "creating load balancer" and then "deleting load balancer" a few minutes afterwards, but I don't see anything actually created.

[2021-11-11 16:14] kevin-lindsay-1 commented on #2355
I can see that the service-controller states that it's ensuring the load balancer, I can see that the model is successfully built, and then nothing happens.

I have double-checked auth, and nothing appears to be off.

All of my subnets are tagged appropriately, as they were before this stopped working.

[2021-11-11 16:43] kevin-lindsay-1 commented on #2355
I have tried a number of different versions to see if there's different behavior; each one simply seems to say that the model is built and that it's ensuring load balancer, but then it never does anything.

[2021-11-11 16:59] kevin-lindsay-1 commented on #2355
I have looked at the build being created. Everything looks correct from what I can tell, for some reason it seems like the ALBC is simply not doing anything once it builds this, and I have no idea why.

[2021-11-11 17:49] kevin-lindsay-1 commented on #2355
I have investigated further, and I see that the model eventually fails to deploy (after like 5-10 minutes), and it gives the following:

[code]

[2021-11-11 18:03] M00nF1sh commented on #1598
@dsaydon90
To disable it, you have to manually specify at least one TLS certificate per Ingress.

@matthewmrichter
There isn't any changes made to this logic yet. We have been planning to relax to restriction of discover one certificate per Ingress, so that you should be able to specify certificates in a centralized Ingress.

[2021-11-11 19:11] M00nF1sh commented on #2349
@Dohbedoh
Thanks for these valuable feedback, we'll take include it into our design.
An another alternative solution we have been considering is using the mutation Webhook to prevent modifications that will fail cause model build fail for the existing Ingress(or IngressGroup) in cluster.  Which can also address this problem from happening.

[2021-11-11 19:53] M00nF1sh commented on #2354
/kind feature
Thanks for raising this issue. I believe use labelSelectors is the way to go and it should be backwards compatible as well 👍

[2021-11-11 21:34] RommelLayco opened #2358 "Disable adding security group rules to worker node security group for nlb"
**Is your feature request related to a problem?**
When creating an NLB. The controller adds inbound rules to the node security group or ENI security group.

<img width="839" alt="Screen Shot 2021-11-12 at 10 26 06 AM" src="https://user-images.githubusercontent.com/8358460/141371635-6505e677-3ee6-4feb-952b-e33615df2e32.png">

https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide

[2021-11-11 22:24] oliviassss commented on #2353
@tah-mas You can follow our [live doc](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/deploy/installation/) in the future.

[2021-11-12 00:07] M00nF1sh commented on #2358
/kind feature
i think option1 makes sense for now before NLB security group support. we'll make it into the v2.4.0 release if NLB SG is not ready by then

[2021-11-12 00:23] M00nF1sh commented on #2357
@junzebao
Hi, what's the labels you supplied on your TargetGroupBinding?
It shouldn't conflicts with our `ingress.k8s.aws/stack` or `service.k8s.aws/stack`. See https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/c60d5e63485fe1c4dd726c5aa0fff8bb6459e073/pkg/deploy/tracking/provider.go#L25

[2021-11-12 00:28] M00nF1sh commented on #2355
@kevin-lindsay-1
Hi, I'm sorry for the frustration caused.

You are right, below is the correct annotations to spin up an NLB by this controller
[code]

would you share us the logs from the aws-load-balancer-controller pod? (there is two pod, and one of the leader pod will have the logs).

[2021-11-12 01:54] kevin-lindsay-1 commented on #2355
I am in the middle of a migration, but I will get back to this probably by monday.

[2021-11-12 03:43] tan-i-ham commented on #1629
I am not sure if it is the same problem
but maybe is similar question?
https://github.com/kubernetes/kubernetes/issues/95983

[2021-11-12 07:21] junzebao commented on #2357
Hi @M00nF1sh, thanks for the quick reply! Indeed, it turns out I accidentally copy pasted the labels from a managed TGB. I just removed it and it works expected. Thanks!

[2021-11-12 07:21] #2357 closed

[2021-11-12 16:07] #2353 closed

[2021-11-15 08:34] DevOpserzhao opened #2359 "MountVolume.SetUp failed for volume "cert" : secret "aws-load-balancer-webhook-tls" not found"
**Describe the bug**
[code]

**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* AWS Load Balancer controller version
aws-alb-ingress-controller:v2.3.0
[code]

* Using EKS (yes/no), if so version?
[code]
[code]
**Additional Context**:

china cn-northwest-1

[2021-11-15 10:07] xeivieni commented on #1572
+1 needed here to 🙏

[2021-11-15 11:54] antmordel opened #2361 "Multiple Deployments under the same Target Group"
**Is your feature request related to a problem?**
I would like to have multiple deployments; i.e. `http-echo-a` and `http-echo-b` listed under the same target group. This will mean that I would have multiple deployments load balanced by the same path; i.e. http-echo.my-domain.dev:8080 can hit different deployments.

Is that possible with the v2.3.0 of the ALB? Many thanks in advance.

[2021-11-15 12:44] benzch opened #2362 "Access denied using default iam-policy"
Getting the following error when using default iam-policy:
https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.3.0/docs/install/iam_policy.json

We used alb-ingress-controller version 1.1.7.

error logs:
{"level":"error","ts":1636979057.3285396,"logger":"controller-runtime.manager.controller.ingress","msg":"Reconciler error","name":"xxxxxxxxx","namespace":"default","e

[2021-11-15 15:36] tyrken opened #2363 "Enable setting custom objectSelector for webhook"
I'd like to introduce pod readiness gates to my ALB ingress setup, but am concerned the mutating webhook will set it on all pods in my application's namespace - even those not using the test ALB ingress.

The opt-in objectSelector solution first suggested in https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1789#issuecomment-774635284 and now documented seems a good method - o

[2021-11-15 17:50] alfredkrohmer commented on #2358
This would help us a lot. We can't manage NLBs through the aws-load-balancer-controller right now due to this issue (our cloud governance doesn't allow us to modify security groups).

[2021-11-15 18:50] WilliamsDL commented on #835
Agreed with igoratencompass...  Why is this closed?  What is the solution?

[2021-11-15 19:30] M00nF1sh commented on #2363
/kind feature

[2021-11-15 19:33] M00nF1sh commented on #2362
@benzch
If i understand correctly, you were migrating from v1.1.7 to v2.3.0.
if so, then you'll need these **additional** IAM policy: https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/install/iam_policy_v1_to_v2_additional.json. (you can remove them once you finished migration, i.e. at least one successful reconcile event posted by new controller for each ingress).

Al

[2021-11-15 19:35] M00nF1sh commented on #2361
@antmordel
We don't support this feature yet. But ALB supports a feature called weighted targetGroup which can achieve same effect.

checkout the `alb.ingress.kubernetes.io/actions.forward-multiple-tg` example in https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/ingress/annotations/#actions

[2021-11-15 19:39] M00nF1sh commented on #2359
@DevOpserzhao
Would you help post how you installed the controller?
seems the some step is incorrect during setup

[2021-11-15 19:43] tekenstam commented on #2338
@M00nF1sh Yes, we wouldn't want the existing LB to be removed on a reconcile failure. Would it violate the Ingress spec schema to also include a [Condition](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#condition-v1-meta) array in addition to [LoadBalancerStatus](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#loadbalancerstatus-v1-core)? IOWs, [IngressS

[2021-11-16 00:10] y0zg commented on #1384
@M00nF1sh where is TLS terminated if we use ALB controller in conjunction with nginx controller? Tried to run some tcpdumps but would like double check here as well

[2021-11-16 01:34] DevOpserzhao commented on #2359
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2359#issuecomment-969254093

[2021-11-16 01:35] DevOpserzhao commented on #2359
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2359#issuecomment-969254093

[2021-11-16 01:35] DevOpserzhao commented on #2359
[https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2359#issuecomment-969254093](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2359#issuecomment-969254093)

[2021-11-16 01:42] DevOpserzhao commented on #2359
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/deploy/installation/

[2021-11-16 05:06] DevOpserzhao commented on #2359
install

https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/deploy/installation/

[2021-11-16 06:37] sergeyshevch commented on #2203
Also same behavior if we have multiple kind:Ingress with the same domain and different paths:
Example:

Ingress a contains host example.com and path /
Ingress b contains host example.com and path /blog/

[2021-11-16 07:44] sergeyshevch commented on #2203
@oliviassss Is there any estimations when it can be fixed?

[2021-11-16 10:33] antmordel commented on #2361
Many thanks @M00nF1sh ! I'll leave the issue open just in case someone else has the same doubt.

[2021-11-16 14:09] nirnanaaa opened #2366 "pod termination might cause dropped connections"
**Describe the bug**
When a pod is Terminating it will receive a SIGTERM connection asking it to finish up work and after that it will proceed with deleting the pod. At the same time that the pod starts terminating, the aws-load-balancer-controller will receive the updated object, forcing it to start removing the pod from the target group and to initialize draining.

Both of these processes - the

[2021-11-16 19:30] ellistarn opened #2367 "Modify all SecurityGroups tagged with `kubernetes.io/cluster/$name`"
**Is your feature request related to a problem?**
Currently, the controller fails if there are multiple security groups tagged with `kubernetes.io/cluster/$name`.

**Describe the solution you'd like**
It's common to tag both controlplane and dataplane resources with `kubernetes.io/cluster/$name`. This is a powerful discovery mechanism to simplify the end user configuration burden. Right now, the l

[2021-11-16 19:30] M00nF1sh commented on #2367
/kind feature

[2021-11-16 23:52] gmorse-gd opened #2368 "TLS1.0 - Disable (or make configurable) for the controller webhook"
**Is your feature request related to a problem?**
TLS1.0 is outdated and can be seen as a security issue.

**Describe the solution you'd like**
I'd like TLS1.0 to be disabled or optionally/additionally add that configuration to be adjusted in the running deployment.

[2021-11-17 11:11] przemolb opened #2369 "Small documentation improvement around IAM policy"
The docs https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/deploy/installation/#setup-iam-role-for-service-accounts says that there is a way to further restrict access to security groups tagged for the particular k8s cluster:
[code]
Can anyone clarify in the docs what is the `CLUSTER-ID` ? Is it the name of the cluster ?
For example grepping for `id` in `aws eks describe-cluster

[2021-11-17 13:54] adrianmiron opened #2370 "Different healthcheck paths for the same ingress resource ( different target groups )"
Hello,

Does the controller support configuration of multiple healthcheck paths on the same ingress , based on the routing path ? I know  you can do this on target groups serving the same ALB but i am not sure how to do this for the controller.

Thanks,
Adrian

[2021-11-17 14:39] adrianmiron commented on #2370
Nevermind, i found that i need to set the annotation on the service level instead, thanks.

[2021-11-17 14:39] #2370 closed

[2021-11-17 19:49] M00nF1sh commented on #2369
/kind document

@przemolb Yes, it's the clusterName of your cluster. You can find such tag on your worker security group which will be modified by the controller automatically.

[2021-11-17 20:09] M00nF1sh commented on #2368
/kind feature
@gmorse-gd yeah, it's possible to enforce maybe tls 1.2 by default(since tls 1.3 is supported by k8s 1.19+ only), but would like to understand the implications:

1. what's the security risk of such TLS min version?
   from what i understand, the negotiation will pick the highest supported TLS version among client/server, so i suppose TLS1.3 will be picked by default.  Is the risk som

[2021-11-17 20:22] M00nF1sh commented on #2366
@nirnanaaa
I'm not aware of any general solution that is better than a preStop hook. Since after all, it's the connection is controlled by both end of application(client/server) instead of LBs.

In my mind, it can be handled in a protocol specific way by client/server if you have control over server's code
e.g. If the server receives a sigTerm, it can
*  continue listen for incoming connections. (

[2021-11-17 22:50] gmorse-gd commented on #2368
@M00nF1sh thanks for the response.

For question 1, the concerns around TLS 1.0 is the ability to decrypt the traffic (or other exploits) if one was able to cause the client/server to negotiate to use that protocol. The protocol should be disabled, but I can't speak to the implications of point 2.

[2021-11-18 02:23] #1569 closed

[2021-11-18 03:51] nirnanaaa commented on #2366
Hey @M00nF1sh thanks for your input. I fear this is exactly what I thought was supposed to fix it. But thinking about it: if the server does all of this: what does prevent the LB from still sending traffic to the target - even for a brief period. Unfortunately We're hitting this exact scenario quite often.

[2021-11-18 09:18] przemolb commented on #2369
I used the cluster name and all worked fine. However in AWS (and not only) the "ID" has quite different purpose than name. And thought that docs clarification would remove any doubts.

[2021-11-18 10:36] #2350 closed

[2021-11-18 15:15] #1972 closed

[2021-11-18 17:14] #2162 closed

[2021-11-18 17:26] GuyGrin commented on #899
@yadavcbala can you explain what you changed for health checks?

[2021-11-18 20:55] ejholmes commented on #2366
We also ran into this issue. The preStop hack generally works, but it's still a hack and it still seems to fail to synchronize the "deregistration before SIGTERM" properly. Even with this in place, we've seen intermittent cases where the container still seems to get a SIGTERM before the target is deregistered (possibly by the DeregisterTargets API call getting throttled).

This is a pretty serious

[2021-11-19 00:07] M00nF1sh commented on #2368
@gmorse-gd
Thanks, i believe all eks supported k8s versions supports TLS 1.2, i'll double check it and set TLS 1.2 as minimal.

[2021-11-19 00:15] M00nF1sh commented on #2366
@nirnanaaa
I see. The remaining gap is that the pods itself finishes draining too fast before LBs deregister them.

For this case, a sleep is indeed needed since we don't have any information available on when the LBs actually stops sending targets. (even when the targets shows as draining after the controller made the deregisterTargets call, it still takes time for the changes to be actually prop

[2021-11-19 00:57] BrianKopp commented on #2050
This is handled OOTB in other mainstream helm charts, eg kube-prometheus-stack.

https://github.com/prometheus-community/helm-charts/blob/09b3de4d351d81841e0d5231dad184e2902ba64f/charts/kube-prometheus-stack/templates/prometheus/ingress.yaml#L9

And here

https://github.com/prometheus-community/helm-charts/blob/09b3de4d351d81841e0d5231dad184e2902ba64f/charts/kube-prometheus-stack/templates/_helper

[2021-11-19 03:56] nirnanaaa commented on #2366
I was just wondering whether this should be solved at a lower level - that's why I also opened an issue on k/k. This is not something just limited to this controller (although in cluster LBs are less likely to have this issue, it's still present).

And you're absolutely right. Client side retries would probably solve this. There are even some protocols like GRPC which could work around this proble

[2021-11-19 08:32] ggermis commented on #2050
@BrianKopp The issue is not the creation of the `Ingress` object with the v1 version, but that the aws-loadbalancer-controller looks for it using v1beta1

Code that looks for the ingress objects is at: https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/controllers/ingress/group_controller.go#L224

The definition of `ingressResourcesGroupVersion` is at: https://github.com/kub

[2021-11-19 11:49] john-jun opened #2371 "InvalidSecurityGroup: The security group"
{"level":"error","ts":1637322446.2133129,"logger":"controller-runtime.manager.controller.ingress","msg":"Reconciler error","name":"gateway","namespace":"gateway","error":"InvalidSecurityGroup: The security group 'sg-005646f2913a5dbe4' does not exist (Service: AmazonEC2; Status Code: 400; Error Code: InvalidGroup.NotFound; Request ID: 19afdaba-4d40-42cd-bdbf-1d7e691dfe6c; Proxy: null)\n\tstatus cod

[2021-11-19 11:53] BrianKopp commented on #2050
Ah, thank you for that clarification! I totally misunderstood!

I see this being a feature tracked in 2.4.0. Is there already a WIP on these changes? Or are you seeking contributions?

[2021-11-19 15:44] Yitaek opened #2372 "Not able to override NLB healthcheck port"
**Describe the bug**
Specifying the healthcheck port in the annotations of the LB svc type does not override the healthcheck port (always defaults to "target-port")

**Steps to reproduce**

Create a svc and set healthcheck port:

[code]

**Expected outcome**
I expect the healthcheck port to be set to 31002 instead of target port. Port 31002 is a nodeport that is open.

**Environment**

* AWS Load

[2021-11-19 16:14] Lngramos opened #2373 "Add support for selecting a Target Group using AWS resource tags"
**Is your feature request related to a problem?**

Provide an alternative tag-based method of selecting the Target Group resource in the `TargetGroupBinding` config.

As it stands, the only currently supported method for selecting a target group to bind against is hardcoding its ARN to the resource config.

Unfortunately, it's common to see K8s config written to VCS systems, and hardcoding unique

[2021-11-19 20:52] jescarri commented on #2241
This also fails if the certificate ARN  that is set on the ingress does not exists.

How to test:

- Create an ingress and set the annotation for an non existent ACM Cert

[code]

- Controller logs will look like:

[code]

- The aws-load-balancer controller stops processing ANY updates to new or existing ingresses, we are running:
- aws-load-balancer-controller:v2.2.4

[2021-11-19 20:56] jescarri commented on #2241
And I think is not related to ACM certificates, if any malformed ingress gets created in the cluster, the controller operation just halths.

This seems to be a regression, the alb-ingress-controller suffered from this and got fixed.

Let me know If I can help testing etc, @M00nF1sh tnx!.

[2021-11-19 21:37] M00nF1sh commented on #2241
@jescarri
I don't think it's a regression since if the controller is behavior is always stop reconciliation if Ingress configuration is invalid.
I'm assuming you are using IngressGroup, and the current behavior is if a single Ingress within IngressGroup contains invalid configuration, the entire IngressGroup will stop reconciliation, but other IngressGroups will be un-impacted.

We do have plans t

[2021-11-19 21:44] jescarri commented on #2241
hrrm we are not using ingress-groups yet, so I guess all ingresses in the cluster are part of the default ingressGroup?

[2021-11-19 21:52] M00nF1sh commented on #2241
@jescarri
No, by default ingresses didn't belong to any IngressGroup. So in your case a single non-exists cert prevents other ingress from reconcile? Let me do a test to confirm it.

[2021-11-19 21:53] jescarri commented on #2241
@M00nF1sh  yep and not only the certs, is any invalid alb setting like subnets or certs, timeouts etc.

[2021-11-19 22:14] M00nF1sh commented on #2241
@jescarri
I just tested it and cannot reproduce the issue. Are you on kubernetes slack? if so, you can find me on @M00nF1sh and we can live debug there

[2021-11-19 23:43] jescarri commented on #2241
hey @M00nF1sh sure, let me set up something, I will ping you there.

tnx!

[2021-11-21 12:35] benzch commented on #2362
@M00nF1sh  that fixed the issue. Thank you!!!

[2021-11-22 02:02] tiwarisuraj9 commented on #2071
I face this issue on a regular basis while applying new/updating nginx ingress configured to use LB via AWS load balancer controller. The only solution I found is to delete all resources of AWS lb controller and reinstall. (I usually do it though argocd, so it's pretty quick reinstallation)

[2021-11-22 11:36] raresserban commented on #835
Also bumped into this issue. I guess I can modify my Nginx config to strip the path, but it should be supported natively...

[2021-11-22 14:34] ismferd opened #2377 "External DNS creates an entry in both zones private and public"
**Describe the bug**
External DNS builds the ingress in both zones private and public.
I have this kind of manifest, which creates entry in both zones:
[code]

**Steps to reproduce**
We have 2 controllers of external dns, one for the public hosted zone and the other one for the private hosted zone:
[code]
[code]

**Expected outcome**
I would like to create a new entry on route53 depending on the i

[2021-11-22 15:53] #2377 closed

[2021-11-22 18:55] #2102 closed

[2021-11-22 19:37] BKnights commented on #2359
Same outcome following: https://github.com/awsdocs/amazon-eks-user-guide/blob/master/doc_source/aws-load-balancer-controller.md

on eks with kubernetes 1.21

tried with cert manager 1.5.4 specified in the link. Same result with the current 1.6.1

[2021-11-22 22:02] M00nF1sh commented on #2373
@Lngramos  thanks for creating this feature request. Would you help us understand the desired behavior?
* Is the TargetGroup selected by tags already created during the TargetGroupBinding creation?
* What's the expected behavior if you removed the tags on a previous selected TargetGroup?
   * What if the original TargetGroup's tags is deleted, and the tags is applied to another TargetGroup.
* What

[2021-11-23 15:37] sgielen opened #2381 "Failing to set up NLB when it is in another VPC than the EKS cluster"
**Describe the bug**
We have a platform setup where the load balancers are in another VPC (the Ingress VPC) than the Kubernetes cluster (the Cluster VPC). The aws-alb-ingress-controller is running with `--aws-vpc-id` set to the **ingress VPC**.

When we create ALBs from Ingresses in the Kubernetes cluster, they are correctly created in the Ingress VPC, pointing correctly at targets within the Clus

[2021-11-23 16:07] sgielen commented on #2381
Closing for now. I think this was because I was reading documentation from the wrong aws-alb-ingress-controller version. I was reading v2.2, where `service.beta.kubernetes.io/aws-load-balancer-internal: "true"` was deprecated in favor of `service.beta.kubernetes.io/aws-load-balancer-scheme: internal`, so I only used the second annotation. However, I was **using** v2.1, where the second is not supp

[2021-11-23 16:25] sgielen commented on #2381
With `aws-load-balancer-internal: "true"` added, the error just returned in the logs, I've updated the description accordingly.

[2021-11-23 16:52] sgielen commented on #2381
I think `nlb-target-type: ip` should be the option that should work, but from the code I can't figure out yet why it works for ALB's, but not for NLB's.

[2021-11-23 18:14] absmith82 commented on #2341
I'm also having this issue and removing the finalizers does delete the ingress, but the ingress controller still tries to find the target group even though it doesn't exist.

[2021-11-23 18:44] absmith82 commented on #2341
was able to resolve my issue, delete the targetgroupbinding resource in kubernetes, and there was another ingress that was causing issues rebuilding the alb ingress controller configuration, once I removed that ingress everything started working fine again.

[2021-11-23 19:09] M00nF1sh commented on #2381
@sgielen
To create a NLB with this controller, you should use both
[code]
BTW ```service.beta.kubernetes.io/aws-load-balancer-type: nlb-ip``` achieve same effect as above two annotation but it's deprecated.

Seems the root cause is `cannot resolve pod ENI for pods: [<application Pod>]"`, since we don't support `Cilium CNI`.
It won't work for ALB as well, unless you explicitly specified `alb.ingres

[2021-11-23 19:36] kishorj commented on #2371
@john-jun, did you specify the security group via annotation?

[2021-11-23 19:39] kishorj commented on #2372
@Yitaek, could you share the complete list of annotations you've specified on the service?

[2021-11-23 21:49] Yitaek commented on #2372
@kishorj yup here's the entire file: i have nodeport 31002 open in another service (i want to expose port 21000 but have healthcheck ping on port 31002)

[code]

[2021-11-24 01:49] kishorj commented on #2372
@Yitaek, thanks. Since the service annotation `service.beta.kubernetes.io/aws-load-balancer-type` is `nlb`, your service gets reconciled by the in-tree controller. In k8s 1.19, the in-tree controller doesn't support the health check annotation `service.beta.kubernetes.io/aws-load-balancer-healthcheck-port` for NLB.

You have either of the following two options
1. Update to k8s 1.20 or later, where

[2021-11-24 08:30] sgielen commented on #2381
Perfect, I will try that. Thanks a lot!

[2021-11-24 11:49] sgielen commented on #2381
@M00nF1sh I can confirm that the issue is resolved with [that change](https://github.com/sgielen/aws-load-balancer-controller/commit/50116c0a489a8a666894d0814aa1293498b7701a). The Docker image `shoekstra/aws-alb-ingress-controller:5d8695-nlb-no-network` correctly creates working NLBs with a target in its TG pointing directly towards the Pod IP with the following Service definition:

[code]

[2021-11-24 11:50] sgielen commented on #2381
I'll close this issue since you say a fix is coming in v2.4.0 :) Do you have any idea when that version may be released? Would it be possible to have an 'interim fix' for this issue in v2.3.1, so that we can go back to using unpatched upstream versions?

[2021-11-24 11:50] #2381 closed

[2021-11-24 15:46] maruina commented on #2173
/remove-lifecycle stale

[2021-11-24 18:47] M00nF1sh commented on #2381
@sgielen
At this point it will be in Q1 2022 and before EKS 1.22 launch. (it depends on how many changes we want to pack into that, which haven't finalized yet).
we cannot have a `interim fix` in v2.3.1 due to this is a breaking change and requires knobs to lets customer to opt-out. :(

[2021-11-24 19:10] avivgold098 commented on #2050
Thx for the update!

Blocker for our organization upgrade to `1.22.*`

[2021-11-24 23:03] M00nF1sh opened #2382 "Add a webhook to prevent new usage of in-tree controller support"
**Is your feature request related to a problem?**
Users wants to prevent accidental usage of in-tree controller

**Describe the solution you'd like**
block new usages of NLB Services supported by in-tree controller via a webhook if certain knob is set.

**Describe alternatives you've considered**
A description of any alternative solutions or features you've considered.

[2021-11-24 23:04] M00nF1sh commented on #2382
/kind feature

[2021-11-24 23:12] M00nF1sh commented on #2362
@benzch glad it solves the issue.

[2021-11-24 23:12] #2362 closed

[2021-11-24 23:12] Shreya027 commented on #2363
/assign @Shreya027

[2021-11-24 23:12] M00nF1sh commented on #2361
@antmordel
Thanks for confirming this. we'll close this one as it's supported use case.  old closed issues can be searched as well :D

[2021-11-24 23:12] #2361 closed

[2021-11-24 23:19] M00nF1sh commented on #2359
@DevOpserzhao

It looks like you were installing with the YAMLs instead of helm charts. Which requires a cert-manager installation in your cluster to generate the `aws-load-balancer-webhook-tls` secret: https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/install/v2_2_4_full.yaml#L840
Would you help check cert-manager logs to see why the certificate is not issued.

@BKnig

[2021-11-24 23:21] M00nF1sh commented on #2351
@codenow99
Did above recommendation addresses your issue? If not, feel free to cut a new issue instead 😄

[2021-11-24 23:21] #2351 closed

[2021-11-24 23:28] M00nF1sh commented on #2347
@johnkeates
But if you create an Ingress Object for your service, It will be setup a ALB that forward traffic to IngressGateway right?
The Ingress merely describes how the ALB rules like, in your case it's forwarding all requests to ALB(you can specify such rule by make Ingress.Spec.defaultBackend to be your NodePort service).

The traffic went directly from ALB to IngressGateway, Ingress Object i

[2021-11-24 23:34] johnkeates commented on #2347
@M00nF1sh yes, there are many ways to work around it, but I still don't see why the LB Controller is limited to only NLB-for-NodePort and doesn't allow ALB-for-NodePort.

We are already working around it, but extra work just because of an arbitrary rule that doesn't have any explanation is a bit strange to me.

[2021-11-25 01:16] Lngramos commented on #2373
Hi @M00nF1sh

Yes, ideally yes. If there were no valid target group to bind to, I'd expect the controller to keep checking for matches as part of its reconciliation.

I would expect the target instances to be deregistered from the target group when the controller runs its next reconciliation cycle.

The controller should swap them, deregister the target instances from the previously targetted old

[2021-11-25 02:46] Yitaek commented on #2372
@kishorj thanks for the response. Does that mean until k8s 1.20, healthcheck port is only supported on internet-facing LBs or can I still use it for internal LBs as well?

[2021-11-25 11:04] nirnanaaa commented on #2366
![shutdown-behavior](https://user-images.githubusercontent.com/1064750/143430091-2d042b5b-9140-4608-9a34-3f82389795f5.jpg)
I've also drawn up a convenient picture detailling the issue further - the big, organge box is where things are happening decoupled from one another.

[2021-11-25 15:41] sav-work opened #2383 "Error Reconciler error and NoCredentialProviders: no valid providers in chain"
**Describe the bug**
Hi, there are errors in work aws-alb-ingress-controller
I didn't change anything on my configuration between the period it worked and the period is broken. :(
Access Rights - IAM Policy have not changed.
So any hints and already existing tickets would be very welcome :)

logs output on controller this msg a lot off, for all alb services:
[code]

* AWS Load Balancer controller

[2021-11-26 05:10] DevOpserzhao commented on #2359
yes, i use installing ws-alb-ingress-controller2.3   with the YAML, I restarted the pod and no more errors were reported, I think it may be related to the configuration order of the yaml file, the certificate had not been applied when the pod was created

[2021-11-26 05:10] DevOpserzhao commented on #2359
yes, i use installing ws-alb-ingress-controller2.3 with the YAML, I restarted the pod and no more errors were reported, I think it may be related to the configuration order of the yaml file, the certificate had not been applied when the pod was created

[2021-11-26 14:04] seh commented on #2050
Is anyone working on fixing this, or is this project intending on hanging back at Kubernetes version 1.21? The "networking.k8s.io/v1" GV has been available for a year and a half—before [this project's first release using the new name](https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.0.0).

[2021-11-26 22:58] runningman84 commented on #1212
/remove-lifecycle rotten

[2021-11-26 23:38] Nuru commented on #1573
/remove-lifecycle rotten

[2021-11-27 16:48] BKnights commented on #2359
I am installing via YAML.
The cert manager 1.6.1 works with ALB Controller 2.3 as long as I wait some time after applying the cert manager.

When applied one after another as part of a script I consistently get the following as the last few lines of output

[code]

[2021-11-28 00:38] #2045 closed

[2021-11-28 00:38] #2083 closed

[2021-11-28 14:40] BrianKopp commented on #2366
This is indeed a problem that exists in kubernetes generally, not just ALB. We ran into this a lot using classic load balancers in proxy mode to nging ingress with external traffic policy local to get real IPs.

Using the v2 ELBs with ip target groups is a big improvement over the external traffic policy local mechanism requiring health check failures to get the node out of the instance list.

Tha

[2021-11-28 18:43] kbelosevic opened #2384 "Cannot assign ELBSEcurityPolicy-TLS13-1-2-2021-06 to TLS Listener on NLB"
**Describe the bug**
aws-load-balancer-controller cannot assign `ELBSEcurityPolicy-TLS13-1-2-2021-06` to the listener:
(needed for compliance reasons)

[code]

While when I go to AWS Console, I can change/create same listener, with same target group with `ELBSEcurityPolicy-TLS13-1-2-2021-06`

If this is left empty, or older TLS12 policy used, all works well.
Also, above will partially deploy resou

[2021-11-29 06:02] nirnanaaa commented on #2366
@BrianKopp we've thought about running a sidecar, which provides a statically linked binary to a common - in mem - volume, that the main container could use as preStop. I just couldn't come up with a generic solution to check for "is this pod still in any target group" - without either running into API throttles (and potentially blocking the main operation of the aws-lb-controller) - or completely

[2021-11-29 09:25] dudicoco commented on #1598
@M00nF1sh this doesn't seem like the same behavior as V1.

We have ingresses which match two certificates - `*.example.com` and `foo.example.com`. These ingresses were created with V1 and the controller added the `*.example.com` cert via the discovery feature.
Now, with V2 we get the error regarding the multiple certificates (for the existing ingresses), so this does seem like there were breaking

[2021-11-29 14:58] arundathi-nirmata commented on #2359
I am installing using YAML, facing same issue! Even after waiting for some time after applying cert manager I get the error while applying controller YAML
[code]
The aws controller is stuck in ContainerCreating state when I describe pod
[code]
Any solution?

[2021-11-29 16:45] kishorj commented on #2372
@Yitaek, health check port is supported for both internal and internet-facing load balancer if you use the aws-load-balancer-controller. If you don't specify the `service.beta.kubernetes.io/aws-load-balancer-scheme` annotation, the controller provisions an internal load balancer. For details, please refer to https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/service/annotati

[2021-11-29 17:04] kishorj commented on #2384
@kbelosevic, the policy name is case-sensitive. There is a typo in the policy name you specified. You specified `ELBSEcurityPolicy-TLS13-1-2-2021-06` instead of `ELBSecurityPolicy-TLS13-1-2-2021-06`

[2021-11-29 18:55] Yitaek commented on #2372
@kishorj thank you, just want to make sure since you included `service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing` in your example that it wasn't some limitation

[2021-11-29 18:55] #2372 closed

[2021-11-29 20:00] BKnights commented on #2359
I have a shell script that runs after the cluster is set up.

[code]

[2021-11-29 20:28] pshen commented on #2075
Hi,

I just want to understand if it's really a UX issue.

Looking at the AWS doc https://docs.aws.amazon.com/service-authorization/latest/reference/list_elasticloadbalancingv2.html

The resource types look like below:
listener/net*
listener/app*
listener-rule/app*
listener-rule/net*
targetgroup*

Thanks,
Chenjun

[2021-11-29 21:41] Shreya027 commented on #2139
The issue  has been addressed in #2217, so closing the issue

[2021-11-29 21:41] Shreya027 commented on #2139
/close

[2021-11-29 21:42] #2139 closed

[2021-11-29 21:52] BrianKopp commented on #2366
IIRC, sidecar for this sort of thing is a trap since a prestop hook interrupts the sigterm for *its* container, not all containers. Your http container would get its sigterm immediately.

I've actually begun thinking about starting a project to address this. My thought is to have an http service inside the cluster, say at `drain-waiter`. And you could call `http://drain-waiter/drain-delay?ingress=

[2021-11-30 03:58] nirnanaaa commented on #2366
Oh I was not talking about processing the sigterm in the sidecar. If you read closely I only spoke about providing the binary ;)

For our use case even a simple HTTP query will not work if not done through some statically linked binary, since we cannot even rely on libc to be present.

[2021-11-30 05:33] BrianKopp commented on #2366
Ok I see what you were suggesting. I mean, if the requirement is that we cannot place any runtime demands on the http container, then yes we would need some kind of sidecar to be injected to provide some functionality, along with a mutating webhook to add the container and prestop hook, in case a prestop hook wasn't already present. That part seems like a bit of a minefield.

I was thinking about

[2021-11-30 13:58] p-palanis commented on #2185
/remove-lifecycle stale

[2021-11-30 16:27] lcaproni-pp commented on #2312
Hey @oliviassss @kishorj is there any update on this at all? Is the offical recommended way to do this generate our own secrets and store them inside the cluster or is there a bug that needs addressing? Happy to help out in some way if possible :)

[2021-11-30 18:06] tamirhad commented on #2377
@ismferd hey,
What was the issue? Thinking doing the same thing

[2021-11-30 20:54] froblesmartin opened #2386 "Configure SecurityGroup rule to allow extra CIDR ranges"
**Is your feature request related to a problem?**
I have a Transit Gateway that connects multiple VPCs. If I create an NLB with `service.beta.kubernetes.io/aws-load-balancer-scheme: "internal"`, only the same VPC CIDR ranges are configured in the Security Group to connect using the K8s service port (as I use an instance Target Group type).

This means that anything coming from the Transit Gateway

[2021-11-30 23:50] kishorj commented on #2386
@froblesmartin, you should be able to specify the CIDRs via the service  `Spec.LoadBalancerSourceRanges` field, or the annotation `service.beta.kubernetes.io/load-balancer-source-ranges`.  Controller adds SG rules to allow `0.0.0.0/0` only if you create an internet-facing NLB.

[2021-12-01 01:00] caleb15 commented on #2071
@kishorj I've created a ticket with AWS support. CaseID 9282832861

[2021-12-01 04:41] unacceptable opened #2388 "Documentation out of date for IAM perms needed"
**Describe the bug**
Documentation is out of date on the website when compared to what's in the repo on trunk.
- https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/5d86951a2c58917e6a3f795eb96047515d1e8569/docs/deploy/installation.md#setup-iam-manually
- https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/v2.3.0/docs/deploy/installation.md#setup-iam-manually

**St

[2021-12-01 08:27] froblesmartin commented on #2386
Thank you a lot @kishorj! I missed that one :disappointed:

[2021-12-01 08:27] #2386 closed

[2021-12-01 10:29] yws-ss commented on #1687
/reopen

[2021-12-01 16:41] kishorj commented on #2388
@unacceptable, this is fixed by PR #2378. We will publish the new live docs based on the recent changes.

[2021-12-01 17:12] Tenzer opened #2389 ""Failed to auto-create backend SG" with 2.3.0"
**Describe the bug**
After upgrading from AWS Load Balancer Controller version 2.2.4 to 2.3.0 we started seeing messages from the daemon that it couldn't create the backend security group:

<details><summary>Log lines</summary>

    {"level":"info","ts":1638375014.2486198,"logger":"backend-sg-provider","msg":"creating securityGroup","name":"k8s-traffic-private-715dc8493c"}
    {"level":"error","ts

[2021-12-01 17:42] kishorj commented on #2389
@Tenzer, would you be able to send the controller logs to k8s-alb-controller-triage@amazon.com? Also check the cloud trail for the failed CreateSercurityGroup event and verify the assumed role has the correct permissions.

[2021-12-01 23:08] #2384 closed

[2021-12-01 23:11] kishorj commented on #2383
@sav-work, how did you configure IAM permissions - directly specified on your worker nodes, or via IRSA. If you specified IAM on the worker node configuration, did you happen to disable IMDSv1?

[2021-12-01 23:16] kishorj commented on #2371
@john-jun, I'm closing the issue. If you still encounter problems, feel free to reopen or file a new issue.

[2021-12-01 23:16] #2371 closed

[2021-12-01 23:25] kishorj commented on #2359
@arundathi-nirmata, can you ensure that the cert-manager is installed and running first before applying the lb controller manifests?

[2021-12-02 02:11] David-Tamrazov commented on #2316
Posting this in case anyone else runs a similar setup - if you're deploying your clusters onto subnets shared from a different account, be sure that the subnets are tagged **_in the account you're deploying the clusters to_**, not the account that the subnets belong to/originated from. That is, if you have an AWS account with ID `11111111` that owns `subnet-abc444`, and I share it with AWS account

[2021-12-02 14:13] varun-lb opened #2392 "Self Health Check for AWS LB Controller - ALB"
The Issue:
I currently have a setup of (Ingress ALB) based AWS LB controller. This has multiple services setup behind a single ALB using the group annotation feature. While this works great, when using this ALB as part of a TargetGroup that acts as a listener for an existing NLB, the (TG) target group (of this NLB)  keeps failing all health checks as the Ingress ALB created by AWS Load Balancer it

[2021-12-02 14:44] michael-careplanner opened #2393 "New deployment pods never being added to new target group"
**Describe the bug**
Changing an ingress group and doing a deployment rollout at the same time can cause new pods to never be registered on the new target group. This causes the readiness gate on the pod to never pass, stalling the deployment rollout. The only fix is to delete the unready pod, at which point a new one is created that gets added to the new target group as expected.

**Steps to repr

[2021-12-02 15:15] Tenzer commented on #2389
Sure! I have done that now.

[2021-12-02 18:23] huytran1ibm commented on #899
@hieu29791  did you ever get this working with new controller v2.3.0?

I am trying to expost my peer/orderers with alb as well and the connection seems to be getting dropped. Enabling grpc debugging form the client side, i can see its state changed from connecting to ready but after that the transport gets close

[2021-12-02 18:44] huytran1ibm commented on #2346
Also another note, in the examples the annotation
```alb.ingress.kubernetes.io/backend-protocol```

is left out, i noticed that if this is left out, the default is HTTP and your target group will use http instead of https, which is required for grpc

[2021-12-03 00:14] #2368 closed

[2021-12-03 03:33] suhyun-baek opened #2395 "Can I use the aws-alb that I used to move the EKS cluster?"
Can I use the aws-alb that I used to move the EKS cluster?

I want to use the aws-alb that I used When my application move to new eks cluster.
I know that aws-load-balancer-controller find aws alb through tag when we use alb ingress.

ingress.k8s.aws/stack
ingress.k8s.aws/resource
elbv2.k8s.aws/cluster

I tested.
- Update elbv2.k8s.aws/cluster Tag to new cluster.
- Deploy Ingress to new cluster

I

[2021-12-03 11:52] uripre opened #2396 "Cannot specify path/query longer than 128 characters for custom action"
When using a custom action `alb.ingress.kubernetes.io/actions.__`, a validation error is thrown if any property is long than 128 characters. This is especially problematic with the path/query fields in redirects, for example.

What's the underlying reason for this limitation? Any way to bypass or solve this?

**Steps to reproduce**
Have a custom `alb.ingress.kubernetes.io/actions.__` action with p

[2021-12-03 13:02] Erlichooo commented on #2071
Did you have any reply?

[2021-12-03 17:31] kferrone commented on #1598
@dudicoco I am in the same situation, the other cert is a wildcard. Why can't it do exact match?

[2021-12-03 17:45] caleb15 commented on #2071
Yep, they said they were working on fixing it but couldn't share an ETA.

[2021-12-03 17:52] pdbogen opened #2398 "InvalidInstanceID.NotFound when creating load balancer on shared VPC in separate account from worker nodes"
**Describe the bug**

In our environment, we run worker nodes in account `compute-platform` and I would like load-balancer-controller to manage a load balancer in account `workload`. Correspondingly, `aws-load-balancer-controller` is running with a pod-linked IAM role, such role is in account `workload`.

The controller is able to create load balancers, create target groups, etc., properly. It's n

[2021-12-03 21:30] kishorj commented on #2396
@uripre, This limitation is from the AWS ALB side, not a controller issue. For details, please refer to the ALB documentation https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#redirect-actions.

[2021-12-03 21:36] #2369 closed

[2021-12-03 22:29] uripre commented on #2396
Thanks for clarifying @kishorj

[2021-12-03 22:29] #2396 closed

[2021-12-04 01:11] kishorj commented on #2392
@varun-lb, would TCP based health check not work for your use case?

[2021-12-05 00:18] #2048 closed

[2021-12-05 16:23] #1810 closed

[2021-12-05 20:00] Shreya027 commented on #2363
Created PR  [here](https://github.com/aws/eks-charts/pull/650) in eks-charts

[2021-12-06 09:50] varun-lb commented on #2392
Hey @kishorj, I dont think we get an option for the Health Check Protocol to be set as TCP when trying to add an Application LoadBalancer to a TargetGroup.

[2021-12-06 10:18] csaba-g opened #2399 "Annotations in values.yaml"
**Is your feature request related to a problem?**
We would like to define the alb.ingress.* annotations for the k8s Ingress as a variable in values.yaml. Is that possible?

**Describe the solution you'd like**
The **ingress.yaml** file will have variables, like:
[code]

**values.yaml**
[code]

**Describe alternatives you've considered**
Or is there any other suggested way if we have a multi-cluste

[2021-12-06 16:22] ManuelMueller1st commented on #1573
still required vor private link

[2021-12-06 18:50] mbevc1 commented on #1990
/remove-lifecycle stale

[2021-12-07 11:03] ngoyal16 opened #2402 "ALB not allowed in Managed node groups"
**Describe the bug**
We were using unmanaged nodegroup now recently we switched to managed node group.. managed node groups security group was not having permission for request from ALB. To fix the issue i have to add manual entry in managed node group SG

**Expected outcome**
ALB security group shoule be allowed managed node group SG

**Environment**

* AWS Load Balancer controller version: 2.2.4

[2021-12-07 12:12] Sparkton opened #2403 "Ingress gets deployed but target group IP is incorrect"
Hi,
I deployed the [2048 example](https://github.com/kubernetes-sigs/aws-load-balancer-controller/tree/master/docs/examples/2048) but the target groups deployed are taking the endpoints IP. I have gone through multiple documentations but cannot seem to get it working.
[code]
Endpoints
[code]

[Target Groups](https://i.stack.imgur.com/UtrOL.png)

[2021-12-07 21:53] mike-stewart commented on #1647
/remove-lifecycle stale

[2021-12-08 09:02] Project0 commented on #2131
/remove-lifecycle stale

[2021-12-08 09:05] Project0 commented on #1719
This is still a serious issue, any update on it? We use currently the solution from @foriequal0  which is really doing a great job so far. I wish this would be officially handled by the controller project itself.

[2021-12-08 10:57] davidy718 opened #2404 "grpc not being applied on target group"
I have an application that uses grpc and I'm trying to have it behind an ingress
ingress in terraform

[code]

service in terraform
[code]
it creates everything but my backend protocol version is HTTP1 and I cant sent grpc traffic (if I put a https application behind the ingress it work)

[2021-12-08 10:57] przemolb opened #2405 "Push all egress traffic through particular NatGW"
We have EKS cluster with X node groups each in different AZ (+ the latest LB controller installed). It obviously means we have dedicated Nat GW for egress traffic for each AZ (and in general we wouldn't like to change that). But for some specific scenarios (internal testing) we would like to enforce all egress traffic through one of the Nat GWs.
Is it somehow possible ?

[2021-12-08 11:54] sotiriougeorge commented on #2253
I am facing a similar issue. The log from my alb pods states:

`
Failed to pull image "602401143452.dkr.ecr.eu-west-1.amazonaws.com/amazon/aws-alb-ingress-controller:v2.3.1": rpc error: code = Unknown desc = Error response from daemon: pull access denied for 602401143452.dkr.ecr.eu-west-1.amazonaws.com/amazon/aws-alb-ingress-controller, repository does not exist or may require 'docker login': deni

[2021-12-08 12:54] wttat opened #2406 "Is there a way to route same url but different port in the same alb by IngressGroup?"
For example, I got two apps deployed in eks.
use abc.com:8888 to access app1, abc.com:9999 to access app2. both needs https

By this document, only route by path like abc.com/v1 and abc.com/v2 is supported .
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/ingress/annotations/#traffic-listening

could you please give an example for my case?
or how should I do this graceful

[2021-12-08 14:19] davidy718 commented on #2403
try setting `alb.ingress.kubernetes.io/target-type: instance`

[2021-12-08 14:24] Sparkton commented on #2403
I tried both ip and instance target types but both lead to the same issue

[2021-12-08 14:29] davidy718 commented on #2403
if you set `alb.ingress.kubernetes.io/target-type: instance` it should be instance id and not ip in the target group

[2021-12-08 14:49] Sparkton commented on #2403
On using instance as target-type I get the following as my target group and load balancer.

![Screenshot from 2021-12-08 20-16-40](https://user-images.githubusercontent.com/47005364/145228672-99d39922-fd89-4b8c-a2e0-b449307bd761.png)
The target group does not attach to a load balancer

No listeners get added in the load balancer and no targets are registered in the target group

[2021-12-08 15:22] davidy718 commented on #2403
can you run `kubectl logs -f -n kube-system $(kubectl get po -n kube-system | egrep -o alb-ingress[a-zA-Z0-9-]+)` and see if you get any errors

[2021-12-08 18:05] tien1214 commented on #1572
+1

[2021-12-08 19:46] #2325 closed

[2021-12-08 23:04] kishorj commented on #2406
@wttat, you could create two ingresses one ingress using port 8888 and another using 9999, then group them together into the same ingress group so that a single ALB gets provisioned.

[2021-12-08 23:07] kishorj commented on #2405
@przemolb, unfortunately, this is not an issue with the load balancer controller. We recommend to cut a support ticket to the AWS EC2 to get further guidance.

[2021-12-08 23:07] #2405 closed

[2021-12-08 23:14] kishorj commented on #2404
AWS ALB requires an HTTPS listener for gRPC support. Could you also specify the following annotation on your ingress?
[code]

[2021-12-08 23:16] kishorj commented on #2402
@ngoyal16, would you be able to share the controller logs when things don't work as expected? WHat manual entry did you add to the managed node group SG? You can email the logs to **k8s-alb-controller-triage AT amazon.com**.

[2021-12-08 23:19] kishorj commented on #2399
@csaba-g, you can create a helm chart for your application and install using different values for multiple clusters.

You could also leverage subnets auto-discovery and certificate auto discovery features. For details you can refer to the following live docs -
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/deploy/subnet_discovery/
https://kubernetes-sigs.github.io/aws-load-bal

[2021-12-08 23:23] kishorj commented on #2398
For ALB, you can disable security groups management by specifying the annotation `alb.ingress.kubernetes.io/security-groups`. We don't have similar feature for NLB, but we plan to provide a mechanism to disable security groups rules management in future releases.

[2021-12-08 23:26] kishorj commented on #2395
You can migrate the ALB to a different cluster by modifying the tags. However, you need to scale the lb controller deployment down to 0 replicas in the original cluster to prevent the controller from inadvertently modifying your AWS ALB resource while you make the changes.

[2021-12-08 23:29] kishorj commented on #2393
/assign @M00nF1sh

[2021-12-09 00:05] #1993 closed

[2021-12-09 00:06] kishorj commented on #1993
v2.3.1 release has the feature to restrict SG rules to the the port ranges required for ingress access. Closing the issue.

[2021-12-09 00:10] kishorj commented on #2343
addressed in v2.3.1 release.

[2021-12-09 00:10] #2343 closed

[2021-12-09 00:19] kishorj commented on #2345
@jayeshnazre, you can email the specs and the controller logs to **k8s-alb-controller-triage AT amazon.com**

[2021-12-09 00:22] kishorj commented on #2355
@kevin-lindsay-1, I'm closing the issue for now. If you still encounter errors, feel free to reopen or create a new one.

[2021-12-09 00:22] #2355 closed

[2021-12-09 00:45] wttat commented on #2406
i am not familiar with ingress group setting , could you please give me a example for that , it would be really helpful, thanks

[2021-12-09 06:21] Sparkton commented on #2403
[code]
This is the error I get

[2021-12-09 06:25] kishorj commented on #2403
@Sparkton, what is your controller version? EKS/k8s version?

[2021-12-09 06:32] Sparkton commented on #2403
Kubernetes: 1.18
And I am not using EKS

[2021-12-09 06:33] kishorj commented on #2403
@Sparkton, did you set up the cloudprovider as AWS? looks like your k8s node resources are not setup appropriately for AWS.

[2021-12-09 06:39] Sparkton commented on #2403
@kishorj  I have no errors with IP targets but the target groups ends up like shown in this [image](https://i.stack.imgur.com/UtrOL.png).
Also, could you tell what Ill need to change to set up the node resources appropriately.

[2021-12-09 06:58] wttat commented on #2406
I tried like this

[code]

but all four ports return 502 bad gateway, could anyone check this for me please?

[2021-12-09 08:19] wttat commented on #2406
turns out the container port should be set in 80
fixed
[code]

[2021-12-09 08:19] #2406 closed

[2021-12-09 08:32] wttat commented on #2406
@kishorj  thanks again for support

[2021-12-09 08:48] davidy718 commented on #2403
if your are not using EKS I don't think you can use `type: instance` but if your using IP you need to make sure your pod can get an IP that can be communicate from out side the cluster when using `type: IP` it will sent it to the IP of the pod
[https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#target-type](url)

[2021-12-09 09:07] przemolb commented on #2405
I didn't claim it is an issue. I didn't find any discussion forum dedicated for LB controller and I let myself ask here. It was more technical question than issue topic.

[2021-12-09 09:17] olemarkus commented on #2050
With 1.23 being out, users are now stuck two minor versions behind. K8s 1.21 is EOL as 1.24 is released in April, and users need time to upgrade before then as well.

[2021-12-09 09:53] Sparkton commented on #2403
Any idea how I would go about to rectify this issue??
How can I make sure that the pods get IPs assigned to them that can be accessed from outside the cluster?

[2021-12-09 10:05] davidy718 commented on #2403
you can use [https://github.com/aws/amazon-vpc-cni-k8s](https://github.com/aws/amazon-vpc-cni-k8s)

[2021-12-09 15:45] kishorj commented on #2050
We will move to the v1 apis for 2.4.0 and later releases. This issue is on the top of our list at the moment.

[2021-12-09 21:20] imduffy15 commented on #2288
+1 for this feature having a similar issue with self hosted gitlab, need proxy protocol for http/https traffic but not for ssh traffic.

[2021-12-10 01:10] #2116 closed

[2021-12-10 04:27] timharsch commented on #2359
@kishorj Isn't that what his `kubectl wait` is doing?

I ran into the same error.  I also script the installation steps as I gather from following https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html,  though my script doesn't currently do a kubectl wait..  should it?  In my case i see:

output of kubectl describe pod/aws-load-balancer-controller...
[code]

[2021-12-10 04:41] timharsch commented on #2359
I do see a number of errors in the logs of pod/cert-manager-cainjector...

[code]

I also see some warnings at the top of the logs via `kubectl logs -f pod/cert-manager-webhook-...`
[code]

[2021-12-10 09:05] #2403 closed

[2021-12-10 09:16] davidy718 commented on #2404
turns out I was using and old version GRPC only works from v2.1.0
thanks

[2021-12-10 09:16] #2404 closed

[2021-12-10 11:43] alex-treebeard commented on #2071
Hi there, quick data point on this one.

I find that I get this error when I install both the controller and a CRD which uses it in the same helm chart. I.e. my chart has the conroller as a subchart, and a targetgroup binding as a template.

Here is my error:
[code]

If I install the controller first, then install the targetgroupbinding after a delay, it works.

[2021-12-10 14:00] michelzanini opened #2411 "[Feature request] Merge tags from alb.ingress.kubernetes.io/tags between service and ingress"
**Is your feature request related to a problem?**

When monitoring healthy/unhealthy targets on a monitoring system it is really hard to identify what K8S service it came from since the target name only contains 8 first chars, and we have services with long names and the same prefixes.

This are two examples of targets that look very much the same and we can't distinguish:

[code]

**Describe the

[2021-12-10 18:19] #1724 closed

[2021-12-12 07:38] sbkg0002 commented on #1084
Sad to see this iw still not possible after years.

Anyone found a workaround by syncing tls secrets to ACM?

[2021-12-12 09:25] vainkop commented on #1084
Option 1: have certbot/cert-manager running somewhere + cronjob to check if there are newer certificate issued & import it into acm like
[code]
Option 2: same but use Terraform instead of AWS cli to switch the resources you have to newer cert after it was renewed.

Add some monitoring & alerts for the above.

Weird indeed that some kind of controller/cert-manager addon or similar hasn't been imple

[2021-12-12 21:00] mhamzarazzaq97 opened #2412 "nginx ingress controller type nlb with static ip giving error "AllocationIdNotFound""
Hi,
I am creating nginx ingress controller of type nlb with static ips, but for static ips I am getting this error **`AllocationIdNotFound`**. Although this allocation id is valid and eip with this id is present in the same region. Here are the annotations that I am using with nginx ingress controller service
[code]
If I comment service.beta.kubernetes.io/aws-load-balancer-eip-allocations annotati

[2021-12-13 06:38] suhyun-baek commented on #2395
We are planning to develop an automation process to move clusters using Tag in the future.
Is there a possibility that the alb control will be changed due to Tag?

[2021-12-13 10:57] alexandrud opened #2413 "[Question] Disable SG Rule creation on worker node SG"
Hi,

Is there a way to disable the creation of SG rules in the worker node security group?
![image](https://user-images.githubusercontent.com/2543941/145800060-a9677da2-14a4-49e6-9a59-d1f654a12128.png)
In the attached image we have 3 rules for 3 load balancers (that we added from terraform) plus all the highlighted rules that are added by the controller. We would like to tell the controller not to

[2021-12-13 11:32] tanvp112 opened #2414 "Listener port for NLB TLS cannot set to 443"
Managed to figure out, thanks!

[2021-12-13 15:22] #2414 closed

[2021-12-13 17:57] yashpotu opened #2415 "Creating Custom DNS using aws-load-balancer-controller"
**What am I trying to achieve?**
We have an app, that wants load balancer type :**External NLB.** We used aws-load-balancer controller to create this load balancer for us. It created a DNS something like this **k8s-xxxxxx-xxxxxxx-545656-345454**.elb.us-east-1.aws.com

**Describe the solution you'd like**
Is there any way I can customize this DNS to something like this Example:k8s-myappName-env.elb

[2021-12-13 21:51] M00nF1sh commented on #2415
@yashpotu
You can specify the NLB name via [annotation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/service/annotations/#load-balancer-name). However, NLB will still automatically append other identifiers to the NLB name when generating the DNS name.

To get a fixed domain, you'll need to register your own domain name and setup alias records to point your domainName t

[2021-12-13 22:59] saasglue commented on #1846
This didn't work for me.

[2021-12-14 22:49] MatviyivR commented on #1846
for 2.3 alb ingress controller version >, here is new annotation:

[2021-12-14 23:36] kishorj commented on #1791
/reopen

[2021-12-14 23:37] kishorj commented on #2413
@alexandrud, we don't offer this capability for NLB. There is already a feature request #2358 we've scheduled for the v2.4.0 release.

[2021-12-15 22:30] kishorj commented on #2412
@mhamzarazzaq97, you need to specify EIPs that have not been previously associated with any interface. You can verify from the AWS console whether the EIPs have been associated or not.

[2021-12-15 23:04] kishorj commented on #2415
@yashpotu, I'm closing the issue. If you have further concerns, feel free to reopen the issue.

[2021-12-15 23:04] #2415 closed

[2021-12-15 23:06] kishorj commented on #2413
@alexandrud, since we already have a tracking issue for the v2.4.0 release feature, I'm closing this issue. Feel free to reopen if you have further concerns or put your comments in the issue #2358.

[2021-12-15 23:06] #2413 closed

[2021-12-15 23:18] kishorj commented on #2411
@michelzanini, the targets group for ALB will have the following tag:
ingress.k8s.aws/resource: <namespace>/<ingress-name>-<service-name>:<port>
check if parsing the tag works for your case

We will look into supporting merging of the tags specified via annotation between ingress and service.

[2021-12-15 23:20] kishorj commented on #2399
@csaba-g, I'm closing this issue. If you have further concerns feel free to reopen or create a new issue.

[2021-12-15 23:20] #2399 closed

[2021-12-15 23:22] kishorj commented on #2398
@pdbogen, We plan to support disabling NLB SG rules in management in v2.4.0, feature request #2358. I'm closing this issue. If you have further concerns, feel free to reopen or create a new issue.

[2021-12-15 23:22] #2398 closed

[2021-12-15 23:25] kishorj commented on #2395
@suhyun-baek, could you clarify what you mean by "Is there a possibility that the alb control will be changed due to Tag?" Did you mean whether the controller behavior of identifying resources via tag will change? The current behavior of identifying lb resources by tag will not change abruptly - unless we have a migration plan in place, we don't have any plans at the moment.

[2021-12-15 23:30] kishorj commented on #2388
We've published new live docs. The links are point to the correct IAM configuration.

[2021-12-15 23:30] #2388 closed

[2021-12-16 08:52] ismferd commented on #2377
@tamirhad Sorry for the delay.
the thing this annotation:
`--annotation-filter=kubernetes.io/ingress.class=alb`
both controllers are listening this annotation, it means both will write an entry on route53.
If you want to get different behaviors you have to change this annotation

[2021-12-16 10:03] zops opened #2417 "Inaccessible from the public network"
**Describe the bug**
Hello, I used EKS to create [2048](https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.2.0/docs/examples/2048/2048_full.yaml). I can access it inside the cluster, but I cannot access it on the public network.
![image](https://user-images.githubusercontent.com/76082537/146348479-c2a7ae8a-6e24-4d54-b5d1-74ad40025cdc.png)

**Steps to reproduce**

**E

[2021-12-16 10:31] Tenzer commented on #2389
I have tried to upgrade to version 2.3.1 and it still gives the same errors when I remove the `--enable-backend-security-group=false` flag.

[2021-12-16 11:21] michelzanini commented on #2411
Because the monitoring tool (Datadog) is limited, I can't really parse `ingress.k8s.aws/resource`, which contains some more info in the string besides the service name.
Another problem with `ingress.k8s.aws/resource` is that this tag is also at the load balancer, not only the target group, then Datadog reads that tag too and the value of `ingress.k8s.aws/resource` becomes something like `ingress.k

[2021-12-16 11:23] michelzanini commented on #2411
Do you want me to create a separated issue - or maybe rename this one to do that? I guess if you can merge the `tags` annotation then it solves my problem anyway.

[2021-12-16 18:13] kishorj commented on #2417
@zops, since your cluster is in the China region, the inaccessibility could potentially be due to the ICP license, could you check whether the license is applied to your account?

You could confirm whether the restriction is due to licensing by configuring the ALB to listen on ports other than 80, 443, or 8080. For example, you could specify the following annotation on your ingress to configure a

[2021-12-16 18:15] kishorj commented on #2411
@michelzanini, feel free to rename the issue.

/kind feature

[2021-12-17 01:22] #1986 closed

[2021-12-17 03:04] zops commented on #2417
hi @kishorj
Thank you very much for your reply, it made me realize that I may not be careful enough to check.

Later, I found through inspection that the subnet where the tagged alb is located is not public (it can only access the public network-only out and not in).

Please forgive my carelessness.
thanks again.

[2021-12-17 03:04] #2417 closed

[2021-12-17 08:07] inductor commented on #2349
This would help a lot!

[2021-12-17 14:50] michelzanini commented on #2411
I have renamed the issue and added this description to it:

The issue has been renamed to track the implementation that will merge tag values from alb.ingress.kubernetes.io/tags at service and ingress levels.

For example, adding this annotations:

service:
[code]

ingress:
[code]

Will tag the AWS target group with:

[code]

Current behaviour only tags ServiceTag.
I recommend if the same tag is f

[2021-12-17 17:33] #1768 closed

[2021-12-19 00:49] #2013 closed

[2021-12-19 13:54] #1692 closed

[2021-12-19 19:12] vmasule opened #2419 "Not Working!! restrict CIDR IP addresses for a LoadBalancer type"
**Describe the bug**
A concise description of what the bug is.
I am using NLB with `nlb-target-type: ip`, I want to whitelist IP using `loadBalancerSourceRanges` but it seems there some issue with the AWS Load Balancer Controller as this feature is not working but it works for `nlb-target-type: instance`.

Make no mistake, I am also setting `preserve_client_ip.enabled=true` as per documentations a

[2021-12-20 09:13] vmasule commented on #2419
Hi @kishorj any chance looking into this? I have done exactly what documentation says.

[2021-12-20 11:02] #2128 closed

[2021-12-20 17:11] fgendc commented on #1870
Hello, having the same issue with the same DuplicateListener error.

Got an existing LoadBalancer, type is nlb, with both HTTP and HTTPS listeners but when adding annotation "service.beta.kubernetes.io/aws-load-balancer-ssl-cert" it fails to either remove HTTPS listener or change it to TLS.

[2021-12-20 17:28] laurie-kepford opened #2420 "pods become deregistered then after re-register healthstatus reports still registering"
It seems that containers become unregistered, maybe because of a pod restart or a host gets terminated and the pod gets moved to the new host.

1. we get 503 error
2. look at target group for the pod and it shows no registered targets
3. wait 5 to 10 minutes and pod shows up again. (alternatately manually add the pod IP address to the registered targets)
4. Application is back up

**However:**

Re

[2021-12-20 21:06] kishorj commented on #2419
@vmasule, could you email the controller logs to **k8s-alb-controller-triage** AT **amazon.com**?

[2021-12-20 21:39] kishorj commented on #2420
@laurie-kepford, could you provide the following?
- how you expose your application? NLB or ALB?
- Target type - IP or instance
- What is the pod churn rate? Does your application scale up/restart every 4 to 6 hours?
- are the application pods terminated gracefully?

Also refer to a similar issue https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2366#issuecomment-971956268

[2021-12-20 22:09] laurie-kepford commented on #2420
how you expose your application? NLB or ALB?
**ALB**
Target type - IP or instance
**IP**
What is the pod churn rate? Does your application scale up/restart every 4 to 6 hours?
**Pods do not churn during the day normally. However I did notice the following:  There are 4 containers in the pod.  Two of the 4 seem to be restarting.  The pod itself shows as being up for 2 days.  Could this be the issue

[2021-12-21 07:33] mhamzarazzaq97 commented on #2412
@kishorj I did specify only those EIPs that I newly created. But didn't work. Dont know what am I doing wrong here.

[2021-12-21 09:29] sftim opened #2421 "Document support for service.kubernetes.io/service-proxy-name annotation"
**Is your feature request related to a problem?**
When reading through https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/service/annotations/ I wanted to know whether I can use the annotation [`service.kubernetes.io/service-proxy-name`](https://k8s.io/docs/reference/labels-annotations-taints/#servicekubernetesioservice-proxy-name). My aim is to use the AWS load balancer con

[2021-12-21 09:30] sftim commented on #2382
Also see #2421

[2021-12-21 09:32] sftim commented on #1777
BTW, https://kubernetes-sigs.github.io/service-apis/ is now a 404 page.

[2021-12-21 09:36] sftim commented on #2050
If there's a related need to select a default version of the controller in its Helm chart, try something like:
[code]
in a helper.

[2021-12-21 09:46] sftim commented on #2366
I think this is best addressed by extending the Pod API. Yes, that's not a trivial change. However, the Pod API is what the kubelet pays attention to. If you want the cluster to hold off sending SIGTERM then there needs to be a way in the API to explain why that's happening. _This_ code doesn't have the levers to pull to make things change how we'd need.

Another option is to redefine SIGTERM to m

[2021-12-21 10:10] sftim commented on #2421
/close

I think the docs do make this clear (though there's room to improve)

[2021-12-21 10:10] #2421 closed

[2021-12-21 10:22] gazal-k commented on #2071
Reasonably confident this is the same as #2239.
https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/2e181b2cf31d41ce812deb18da629a5b0631144e/helm/aws-load-balancer-controller/values.yaml#L137

We have set `keepTLSSecret: true`. Our GitOps pipeline that uses `helmfile sync` has executed a dozen times after the change and we have yet to see this issue.

[2021-12-21 12:41] TobiasLierzer opened #2422 "controller does not set clientSecret correctly for auth-idp-oidc"
**Describe the bug**
The clientSecret from an ingress secret is not set correctly on the AWS ALB Listener Rule for OIDC Auth with external IDP

**Steps to reproduce**
Deploy an ingress for the alb controller like:
[code]
Deploy a k8s secret with
[code]
Try to access the application.
-> AWS ALB returns http 561. IDP logs error "invalid_client_credentials"

**Expected outcome**
The clientSecret is s

[2021-12-21 14:15] Project0 commented on #1764
/remove-lifecycle stale

I just ran into a similar issue with the same root cause. When deleting a ingress and updating the deployment at the same time it ends up in the same situation, the readiness gate is attached to the new pods, but the targetgroup is eventually gone and can never become healthy.

Please note i have two ingress controller attached (a ALB for internal and one for external)
[co

[2021-12-21 21:44] Nuru opened #2423 "Fix Ingress API version in documentation example"
https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/2e181b2cf31d41ce812deb18da629a5b0631144e/docs/guide/ingress/spec.md?plain=1#L30
[code]

should be
[code]

I do not want to sign the CLA and create a pull request. I hereby place this post in the public domain and invite any contributor to create a corresponding pull request.

[2021-12-22 06:14] johngmyers opened #2424 "Fails to tag security group with default-tags"
**Describe the bug**

The controller is failing to tag the "k8s-traffic-*" security groups with the values specified in the `default-tags` flag.

**Steps to reproduce**

Run aws-alb-ingress-controller v2.3.1 with flags:

[code]

Create an `Ingress` with `kubernetes.io/ingress.class: alb` and `alb.ingress.kubernetes.io/scheme: internet-facing`.

**Expected outcome**

The `k8s-traffic-k8sredactedclu

[2021-12-22 17:41] kishorj commented on #2424
@johngmyers, thanks for reporting the issue. The controller currently doesn't apply default tags to the backend SGs, we will fix it in a patch release.

/kind bug

[2021-12-22 23:11] M00nF1sh commented on #2422
The spec looks fine. Would you help double check whether you have encoded correctly the client id and client secret?
There was a case in the past and it turns out there is a extra space used in the secret.

[2021-12-22 23:14] kishorj commented on #2420
@laurie-kepford, if issue persists, do you mind opening a support ticket with AWS support. You could also email your cluster ARN to **k8s-alb-controller-triage** AT **amazon.com**.

[2021-12-22 23:18] kishorj commented on #2395
@suhyun-baek, I'm closing the issue for now. If you have further concerns feel free to reopen or create a new issue.

[2021-12-22 23:18] #2395 closed

[2021-12-22 23:23] kishorj commented on #2383
@sav-work, I'm closing the issue. If you still encounter problems, feel free to reopen or create a new issue.

[2021-12-22 23:23] #2383 closed

[2021-12-22 23:25] kishorj commented on #2363
closing issue. We will include the fix in the next eks-charts release.

[2021-12-22 23:25] #2363 closed

[2021-12-22 23:28] kishorj commented on #2359
@DevOpserzhao, alternatively you can use use the helm template to generate the manifest and apply it. The helm template will generate necessary certificate/keys and has no dependency on cert-manager. Would this option work for your case?

[2021-12-22 23:33] kishorj commented on #2346
@FelipeLujan, I'm closing this issue. If problem persists, feel free to reopen or create a new issue.

[2021-12-22 23:33] #2346 closed

[2021-12-22 23:34] kishorj commented on #2345
@jayeshnazre, I'm closing the issue. If problem persists, feel free to reopen or create a new one.

[2021-12-22 23:34] #2345 closed

[2021-12-22 23:35] kishorj commented on #2341
/assign @oliviassss

[2021-12-22 23:36] oliviassss commented on #2341
/assign

[2021-12-22 23:43] kishorj commented on #2339
@matheushent, in case of applying the manifest, we see the following in the generated model
[code]

This implies, the backend service did not exist int he namespace at the time of building the model. Could you ensure the backend service exists when you apply the yaml manifest?

[2021-12-22 23:49] kishorj commented on #2336
closing as duplicate, since there is already a similar issue.

[2021-12-22 23:49] #2336 closed

[2021-12-22 23:51] kishorj commented on #2334
@genieai-vikas, would you be able to update to the most recent version of the aws-load-balancer-controller (v2.3.1), and see if the ssl-redirect feature helps your use case - https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/ingress/annotations/#ssl-redirect?

[2021-12-22 23:53] kishorj commented on #2328
/kind feature

[2021-12-22 23:55] kishorj commented on #2323
@Vijayg14, I'm closing the issue for now. If you have further concerns, feel free to reopen or create a new issue.

[2021-12-22 23:55] #2323 closed

[2021-12-22 23:56] #2316 closed

[2021-12-23 00:24] todd-dsm opened #2426 "Update aws-load-balancer-controller ingress/spec to proper apiVersion values"
This is a simple documentation update request.

On the [Ingress specification] page the examples should reflect the appropriate `apiVersion` values:

* 1.19 and above: `extensions/v1 -> networking.k8s.io/v1` ?
* 1.18 and below: `apiVersion: extensions/v1beta1` seems okay?

**Steps to reproduce**
1. Open the [Ingress specification] page
2. Copy the "1.19 and above" example
3. Deploy it: ERROR

[cod

[2021-12-23 00:38] todd-dsm opened #2427 "logging output command is broken on page; ez fix"
**Describe the bug**
This line produces >1 pod and breaks as a result:
`kubectl logs -n kube-system $(kubectl get po -n kube-system | egrep -o 'aws-load-balancer-controller[a-zA-Z0-9-]+')`

Subsequently, `egrep` should not be used; it's generally an alias on newer systems to keep backward compatibility. Should use this instead: `grep -Eo...`

Something like this should work

`kubectl logs -n kube-

[2021-12-23 08:32] rudian commented on #835
Surprised that the cloud provider with the largest market share in the world does not have this feature, very disappointed...... meaningless to use EKS 👎

[2021-12-23 08:35] rudian opened #2428 "Does ALB annotation support URL rewrite?"
I have set up an ingress with a custom path, it happened 404 issues.

here's my deployment YAML file
[https://drive.google.com/file/d/1Q2McLDDf9bc0zipwA3yZwMJroOIPDhHp/view?fbclid=IwAR0fbT3Opizd1RFI4dTfBcm_SLGod_cSQxuu__JgozoUxT6mI-wnSsdutEY](url)

[2021-12-23 14:12] matheushent commented on #2339
I'm sure the backend service exists when I apply the manifest

[2021-12-23 17:06] laurie-kepford commented on #2420
So we had a setting in our app that was causing one of the 4 containers inside the pod to restart.  We have resolved that and this problem has now resolved.

[2021-12-23 17:06] #2420 closed

[2021-12-24 19:59] NIKU-SINGH commented on #2423
Hey, I have created a PR resolving this [issue](https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2429)

[2021-12-24 23:57] #1938 closed

[2021-12-24 23:57] #1939 closed

[2021-12-25 18:53] olemarkus opened #2430 "Auto-discovery of VPC"
**Is your feature request related to a problem?**
When deploying a cluster with LBC through IaC, it is not that easy to inject the VPC ID into the LBC Deployment resource. That is, however, necessary when LBC runs with IRSA and with metadata is unavailable.

**Describe the solution you'd like**
It would be nice if VPC could be discovered through tags the same way subnets are.

[2021-12-26 00:09] #1273 closed

[2021-12-26 00:09] #1466 closed

[2021-12-26 00:09] #1585 closed

[2021-12-26 01:10] #2112 closed

[2021-12-26 12:06] vmasule commented on #2419
@kishorj Below is the controller logs generated for exact above configuration except IPS IP is diff this time, I can also see in SG there are rules added for this and one of them is whitelisting ISP IP, also enabled NLB logs and I can't see any logs generated when I try to access the service using NLB DNS.

Can you please look into this, as this is bit urgent and we have committed to provide this

[2021-12-26 18:43] Throckmortra opened #2432 "NLB created without registered targets"
**Describe the bug**
When deploying an NLB with this controller for my consul cluster, the NLB is created, the target group is created, but there are no registered targets in the target group

**Steps to reproduce**
deploy a consul server cluster with the following helm chart:
[code]

and attempt add NLB for this service with this manifest:

[code]

**Expected outcome**
NLB deploys as expected and

[2021-12-27 09:05] d3p4rt opened #2434 "Application unreachable"
Good morning everyone.
I have a problem with the ingress controller.
Three days ago I installed the latest version of the controller following the instructions here:
https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html

Then I installed the amazon vpc-cni plugin:
https://github.com/aws/amazon-vpc-cni-k8s

The problem is that when I try to access the application in the

[2021-12-27 14:24] d3p4rt commented on #2434
Sorry guys!
I found the problem, I use private subnets with an ALB internet-facing.
Setting it as internal works!

[2021-12-27 14:24] #2434 closed

[2021-12-27 15:50] Throckmortra commented on #2432
turns out it was an issue with the selectors! The app tag for this was actually `consul` and I incorrectly used the service name.

[2021-12-27 15:50] #2432 closed

[2021-12-28 03:51] johngmyers commented on #2382
It seems a little odd for one service controller to block use of a different service controller. Assuming it's not possible to simply disable the in-tree controller, the appropriate place to implement a block would be in a generic policy-enforcing controller, such as Gatekeeper.

[2021-12-28 15:41] blastik commented on #1959
/remove-lifecycle stale

[2021-12-28 18:22] oliviassss commented on #2427
@todd-dsm I tried the command `kubectl logs -n kube-system "$(kubectl get po -n kube-system | grep -Eo 'aws-load-balancer-controller[a-zA-Z0-9-]+' | tail -1)`, it works on my side, I can see the logs output for the pod.
Can you please double check:
1. If your pods / deployment are running
2. If you have multiple pods, like 2 pods, 1 of them is standing by, and the other one will stream the logs fo

[2021-12-28 18:39] oliviassss commented on #2428
@rudian Hi I couldn't open the link. Can you please send the yaml file to k8s-alb-controller-triage AT amazon.com? It would be good if you can also share the logs / error message. Thanks.

[2021-12-28 23:48] M00nF1sh commented on #2430
/kind feature
we have been think about new ways to discover vpc, clusterName.
One possible way is to use the labels on nodes where the controller run

[2021-12-28 23:49] M00nF1sh commented on #2428
@rudian
we don't support URLRewrite. ALB itself currently don't support such feature yet

[2021-12-28 23:51] M00nF1sh commented on #2427
@todd-dsm
Where do you see the command above? is it somewhere in our docs?

[2021-12-28 23:52] M00nF1sh commented on #2426
/kind documentation
we'll work to update all docs to latest api and  provide instructions per version

[2021-12-28 23:55] M00nF1sh commented on #2423
@NIKU-SINGH
thanks so much for the PR to fixing this 😃

[2021-12-28 23:55] #2423 closed

[2021-12-29 04:50] olemarkus commented on #2430
There are no labels for this information today, but I could definitely help out adding at least a VPC label through Cloud Controller Manager.

cluster name is less of a problem since we do know that up front.

[2021-12-29 15:50] dj-wasabi opened #2437 "Fargate: NoCredentialProviders: no valid providers in chain."
**Describe the bug**

Keep getting the error:
[code]

**Steps to reproduce**

Open the page: https://github.com/aws/eks-charts/tree/master/stable/aws-load-balancer-controller

Copied the content of JSON on "Setup IAM manually" and deployed with Terraform a Policy and attached it to the Fargate Profiles (And even for the EKS Cluster).

Executed the command:
[code]

Install the AWS Load Balancer con

[2021-12-30 17:59] rsmets commented on #895
I am having no luck with the annotation suggested annotations from the [docs](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#:~:text=enable%20sticky%20sessions).
[code]

Curious if anyone has gotten these annotations to properly enable sticky sessions?
I am using `NodePort` for my service types though. Not sure how that should matter at the ALB level

[2021-12-30 18:22] jacktwilliams commented on #2191
Agreed, for example I have UDP and TCP ports for the same service/NLB, and I'm using ingress-nginx-controller that doesn't handle proxy protocol for UDP, I don't think. So I would like to provision the target group for the UDP ports to not have proxy_protocol_v2.

[2021-12-31 04:36] M00nF1sh commented on #2437
@dj-wasabi
For Fargate, you need to use iam for service account feature to grant IAM permissions to the controller.
The fargate pod execution role is merely used by kubelet, but not the pod it runs.

[2021-12-31 04:50] M00nF1sh commented on #2419
@vmasule
from the logs, looks like the inbound rule is added to the worker SG correctly:
[code]
I assume it's `106.214.135.249/32` in this case.

You mentioned `I am currently whitelisting my ISP's public IP for testing which works fine when nlb-target-type: instance.`. How did you do the whitelist? isn't it the IP get added to SG automatically?

[2021-12-31 04:57] M00nF1sh commented on #2430
we could get the region from the zone label possibly, and then find the vpcID by the instanceID of node(spec.providerID).
and hopefully we can get the clusterName from the tags on instance as well.

on the other hand, using tags on the vpc is also a good idea.

We'll evaluate which one is better.

[2021-12-31 08:00] dj-wasabi commented on #2437
Hi @M00nF1sh

Thank you for your answer. I did not find that by reading the documentation, or I have overlook it. Will figure out how to do that with Terraform. Thanks! 👍

[2021-12-31 08:00] #2437 closed

[2021-12-31 15:51] #2144 closed

[2022-01-01 17:04] #2150 closed

[2022-01-03 08:17] TobiasLierzer commented on #2422
I validated the clientId by reviewing it in the AWS console, looked good.
I validated the clientSecret through kubectl. It matches with the correct secret from the OIDC provider.

I also had a colleague double check to make sure I don't miss something.

[2022-01-03 08:34] MartinEmrich commented on #1712
/remove-lifecycle stale

[2022-01-03 08:53] vmasule commented on #2419
@M00nF1sh and @kishorj

That's right rules are added correctly but when I access the web app through browser it becomes unreachable(i.e it does fail and I did trying enabling the NLB logs but nothing gets logged there)

That's right, that is public IP added in SG rules.

That's right, IP gets added to SG automatically and I can access the web app in this case, but we don't want to use `nlb-target-

[2022-01-03 10:33] TobiasLierzer commented on #2422
Just had a post christmas review with another colleague. I verified that the clientSecret works when set through API and that the base64-encoded values are correct.

[2022-01-03 14:06] doctornkz opened #2438 "Json policy document improving"
Hello everyone!

For a sake of consistency we can improve our AWS policy JSON document:

Instead of https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/e7bc45885e052b6734056fea7497bdfd2fb46e81/docs/install/iam_policy.json#L6

[code]
we can use :
[code]
We are using this syntax here already : https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/install/iam

[2022-01-03 14:56] TobiasLierzer commented on #2422
I've re-build the app and removed the redaction of the values. Logs show that a newline character has smuggled itself into the string that has been overseen by 3 people...

Now it's working fine.
thank you.

[2022-01-03 14:56] #2422 closed

[2022-01-03 18:41] jescarri commented on #2241
hey @M00nF1sh we are still experiencing this, its a weird situation that takes time to develop.

We have seen it happen when this conditions happen:

- An ingress is created without certificate.
- That same ingress is updated with an invalid certificate ( Updates will fail for this ingress which is ok).
- Worker nodes are replaced ( this can be gradually ).
- Some previously healthy ingresses/albs

[2022-01-03 18:48] jescarri commented on #2241
hey @M00nF1sh  I've made a new discovery, if the certificate exists but it has failed renewal.

The controller says the certificate does not exists/is not found, instead of just continuing the work.

[2022-01-03 23:23] #2164 closed

[2022-01-04 08:17] boney9 commented on #1953
Hi @kishorj - when you say not supported, is that because of some technical limitations or is it just something that is not implemented yet? Is it possible to create an internal load balancer with this setting?

[2022-01-04 13:04] rdeteix opened #2439 "ssl-redirect not found in alb ingress"
**Describe the bug**
I've created an ingress following the grpc example and I've got `error: endpoints "ssl-redirect" not found`

**Steps to reproduce**

[code]

I've got :

[code]

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* AWS Load Balancer controller version: v2.3.1
* Kubernetes version v1.21
* Using EKS (yes/no), if so version? yes

**Additio

[2022-01-04 14:33] rdeteix commented on #1791
Hi
Is there any news on this matter?

[2022-01-05 04:07] bennettellis commented on #1834
I have same issue with NLB fronting ECS containers. Very frustrating. The container is up and receives and responds to healthchecks in seconds, yet the TG takes minutes to recognize a container has healthy. If containers go down for some reason and need to be re-run this could potentially leave a major gap in service availability. Makes the NLB problematic to use, but I have to use it in order to

[2022-01-05 04:33] jbg commented on #1834
@bennettellis since it is a problem with AWS internal implementation rather than any open-source component, the best place to "pile on" is your AWS support

[2022-01-05 06:22] akshay-bharatdwaj opened #2440 "Change CLB to ALB"
Hi Team,

Ee are using ingress-controller version of this repo in our project that creates a classic load balancers by default

  annotations:
    {{/* The hostname should match the CN of the certificate */}}
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.service.dnsHostname | quote }}
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "{{ .Values.service.sslCert }}"

    {{- if

[2022-01-05 11:11] dbs-gong commented on #1572
+1

[2022-01-05 12:54] TBBle commented on #1608
/remove-lifecycle stale

[2022-01-05 13:21] timothyclarke commented on #1384
@y0zg TLS is terminated on ALB

[2022-01-05 14:36] burkempers opened #2441 "kubernetes api-version should not be hard coded"
https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/e7bc45885e052b6734056fea7497bdfd2fb46e81/controllers/ingress/group_controller.go#L39

I am running k8s version 1.22.  K8s 1.22 deprecated many v1beta1 api versions including "ingress" and "ingressClass".  With this line being hard coded it doesnt not allow for the k8s cluster to be upgraded.

[2022-01-05 14:52] burkempers commented on #2441
https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122

[2022-01-05 16:20] johngmyers commented on #2441
API versions need to be hard-coded. Otherwise, how would the code know how to format or parse the data being sent over the API?

[2022-01-05 16:43] drop-rahul commented on #1846
Has anyone got weighted routing working? Still getting /   weighted-routing:use-annotation (<error: endpoints "weighted-routing" not found>) Below is my manifest - >
`apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "proxy-ingress-multi-tg"
  namespace: dev
  annotations:
    alb.ingress.kubernetes.io/group.name: aws-registry-proxy-multi
    external-dns.alpha.kubernetes.io/hostnam

[2022-01-05 16:54] burkempers commented on #2441
Query k8s api-version to get a list of available api versions to then pass one of those values down into this method instead of hard coding.  The code might have to have different methods for any api version.

[2022-01-05 17:01] johngmyers commented on #2441
One would still need to hard-code a list of API versions that the code understands.

[2022-01-05 17:05] burkempers commented on #2441
Correct.  if there is a breaking change between the api versions.  if the api version is just getting upped to be an official version then there shouldnt have to be any code change.

[2022-01-05 20:53] #2050 closed

[2022-01-05 20:53] #2426 closed

[2022-01-05 20:56] kishorj commented on #2441
We've recently merged PR #2433 which migrates to ingress api version networking.k8s.io/v1. This enables the controller to support k8s 1.22 and later versions.

[2022-01-05 21:01] kishorj commented on #2439
@rdeteix, we've simplified the ssl-redirect configuration via annotation `alb.ingress.kubernetes.io/ssl-redirect` since v2.2.0 release of the controller. For details, please refer to the live docs - https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/tasks/ssl_redirect/

[2022-01-05 21:03] kishorj commented on #2438
@doctornkz, thanks for letting us know. Feel free to raise a PR with the changes.

/kind feature

[2022-01-05 23:05] kishorj commented on #2440
@akshay-bharatdwaj, you might have use service of type LoadBalancer to provision an AWS CLB before, and the load balancer got provisioned by the kubernetes kube-controller-manager. This controller has not supported CLB.

If you want to provision an ALB, you'd need to create an ingress resource instead. The ingess resource would use your kubernetes service for backend traffic - convention is to use

[2022-01-05 23:14] kishorj commented on #2428
This requires support from the ALB side. Feature request #1571 to track this issue.

[2022-01-05 23:14] #2428 closed

[2022-01-05 23:27] kishorj commented on #2402
@ngoyal16, would you be able to share the controller logs with us?

[2022-01-06 06:42] rdeteix commented on #2439
@kishorj thx
I've made the change:

[code]
and my service looks like this :
[code]

The ingress doesn't give me any address.
Have the fields `alb.ingress.kubernetes.io/scheme` and `target-type` disappeared ?
Is it because of the port 8080 ?

[2022-01-06 12:36] mhamzarazzaq97 commented on #2412
Thanks @dev-rowbot, yes this solution worked for me as well.
Thanks @kishorj  for your suggestion.

[2022-01-06 15:59] goruha commented on #1572
+1

[2022-01-06 18:13] dalgibbard opened #2446 "Unable to discover at least one subnet error"
**Describe the bug**
Running an EKS Cluster with Managed Node Groups, but a custom AMI. When attempting to deploy an NLB via a k8s Service with the AWS Load Balancer Controller, I'm getting the following error from the LBC:
[code]

I'm passing both the ```vpcId``` and ```region``` params to the Helm deployment of LBC, and the VPC and Subnets are tagged appropriately:
[code]

* Confirmed that this

[2022-01-06 18:29] dalgibbard commented on #2446
Update; I've just realised that all three of those subnets have less than 8 IPs available. Could this be the cause?
Setting the annotation ```service.beta.kubernetes.io/aws-load-balancer-subnets``` presented a more interesting error of ```ELB requires at least 8 free IP addresses in each subnet```.
If this is why the subnet auto-detection failed, it would be very good to actually make the user awa

[2022-01-06 18:41] dalgibbard commented on #2446
Side question; I thought NLBs were 1x IP per AZ; why does it want 8 IPs per AZ for an NLB? Is that a mistake from the assumed ALB defaults?

[2022-01-06 19:48] oliviassss commented on #2173
/assign

[2022-01-06 22:08] kishorj commented on #2412
@dev-rowbot, @mhamzarazzaq97 the whitespace issue exists in the kube-controller manager. The annotation `service.beta.kubernetes.io/aws-load-balancer-type: nlb` causes the kube-controller-manager to reconcile the service, not this controller. This controller trims leading/trailing whitespaces from the comma separated string list annotations.

Since we've identified the problem, I'm closing the iss

[2022-01-06 22:08] #2412 closed

[2022-01-06 22:49] oliviassss commented on #2446
@dalgibbard Hi, yes the insufficient available IP address is the root cause. Right now we require internet-facing NLB to have at least 8 available IP addresses per subnet; And for internal NLB, this is only required if you let AWS select private IPv4 address from the subnet. This is consistent with the ELB's requirement to respond to increased traffic when scale up. For more info, you can refer to

[2022-01-07 02:08] #2424 closed

[2022-01-07 09:06] blastik commented on #2257
/remove-lifecycle stale

[2022-01-07 09:24] dalgibbard commented on #2446
Thanks for the info @oliviassss - appreciate it.

A few things that are bothering me:
* It would be good to have a way to force deployment when there's less-than-ideal amounts of IPs would be helpful (our subnets are pretty small, and in this particular use case, i'm just fronting some ephemeral test environments with NLBs for ease-of-use where scaling is not a requirement) -- is this a restrictio

[2022-01-07 09:34] LechG commented on #1598
AWS has an algorithm for choosing the best cert if multiple are provided.
I see no reason for us to do the same login on our part.

Their algorithm*
1. Public key algorithm (prefer ECDSA over RSA)
2. Hashing algorithm (prefer SHA over MD5)
3. Key length (prefer the largest)
4. Validity period

[2022-01-07 15:36] mkozal opened #2449 "Controller cannot recover from TooManyCertificates ALB error"
**Describe the bug**
Since ALB allows multiple certificates per single listener that feature seen some use from me (using group.name). Unfortunately in deployment frenzy we've hit the limit and crossed 25/26 certificates limit. That resulted in errors so we started removing ingress resources but controller cannot really recover on its own.

**Steps to reproduce**
Deploy an ALB with single listener

[2022-01-07 18:40] oliviassss commented on #2446
@dalgibbard I think it's from the ELB's implementation restriction, some similar [discussion](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1333).
There's a [log](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/pkg/networking/subnet_resolver.go#L391) to tell how many subnets left after filtering by available IP address, but it's on verbosity 4. Th

[2022-01-07 20:21] dalgibbard commented on #2446
Makes sense, thanks!
Do you want me to leave this ticket open for the logging enhancement changes?

[2022-01-08 04:33] abebars opened #2451 "Certificate Default Listener is not matching the first host."
**Describe the bug**
I am not sure if this behavior is expected, However, if the `alb.ingress.kubernetes.io/certificate-arn` is not specified, I am assuming the first host that has a matched certificate will be the default one but this wasn't the case. It's usually the first however I ran into a couple of cases where the order wasn't accounted for

**Steps to reproduce**
the ingress with annotatio

[2022-01-08 23:31] #2166 closed

[2022-01-09 00:24] shimont commented on #2039
Following this official AWS guide helped me [https://aws.amazon.com/premiumsupport/knowledge-center/eks-alb-ingress-controller-fargate/](https://aws.amazon.com/premiumsupport/knowledge-center/eks-alb-ingress-controller-fargate/)

[2022-01-09 07:29] r-erema commented on #2042
I would like to take it
/assign @r-erema

[2022-01-10 17:00] kurtbomya commented on #2297
Oh this is critical for an architecture I'm working on!

[2022-01-10 18:15] #2438 closed

[2022-01-10 19:38] #2163 closed

[2022-01-11 14:21] fibert opened #2455 "File 2048_full_latest.yaml doesn't exist"
**Describe the bug**
When doing this workshop, at Beginner > Exposing a Service > Ingress Controller > [Deploy Sample Application](https://www.eksworkshop.com/beginner/130_exposing-service/ingress_controller_alb/#deploy-sample-application) When running the given command:

[code]

`https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/main/docs/examples/2048/2048_full_lates

[2022-01-11 16:32] kvnreddy6680 opened #2456 "How to configure CORS in AWS Loadbalancer ingress controller"
**Describe the bug**
Need to configure options http method  in AWS loadbalancer controller for CORS

**Steps to reproduce**

**Expected outcome**
Need to configure options http method  in AWS loadbalancer controller for CORS

**Environment**

* AWS Load Balancer controller version :2.2
* Kubernetes version:1.19
* Using EKS (yes/no), Yes

**Additional Context**:

[2022-01-11 16:40] aramkarapetian commented on #228
hi @bgaillard, thank you for the note with instructions, it does work but with a small problem:

it does not create target group binding when target group port does not match service's internal port (e.g. 31045) which cannot actually be predicted but maybe hard coded when service is created.

Am I doing something wrong?

[2022-01-11 17:25] antigenius0910 opened #2457 "security-groups annotation attachment not working"
**Describe the bug**
I have my aws-loadbalancer-controller create with follow arg
[code]
based on documentation here. https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#security-groups

when I add annotation
[code]
then this particular security group should be attach to my loadbalancer, however, a new security group has been created
[code]

**Steps to re

[2022-01-11 18:36] oliviassss commented on #2457
@antigenius0910 Hi, from the YAML, you are actually creating a NLB, but this annotation `alb.ingress.kubernetes.io/security-groups` is an annotation for ALB. Right now we do not support the security-group annotation for NLB. Please refer to our [live doc](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/service/annotations/) for the annotations supported for NLB.

[2022-01-11 18:54] oliviassss commented on #2451
@abebars Hi, I think you need to explicitly specify to use HTTPS listener with` listen-ports` annotation, if `certificate-arn` is not specified. Please refer to our live doc for [certificate discovery](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/ingress/cert_discovery/) and [setup external DNS](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/

[2022-01-11 19:49] y0zg commented on #1384
Do you mean AWS ALB or ALB controller? If it's AWS ALB, what is needed in order to ensure TLS is terminated within k8s cluster?

[2022-01-11 20:13] M00nF1sh commented on #2393
This is a similar race condition for https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1764.
It's due to the TGBs are not created when the pods are created.

we can address this issue by mark pods with corresponding readinessGates to be healthy when deleting a TGB

[2022-01-11 20:13] M00nF1sh commented on #2393
/kind bug