[2020-11-30 17:22] kishorj commented on #1695
@bugok, Is your service type NodePort? This error is similar to #1656.

[2020-11-30 17:32] Pluies commented on #1455
Running into the same issue here, and @madhu131313 's fix is correct: removing the `host` definition in the rule fixes it!

I can only assume the AWS Load Balancer Controller sees both the annotation and the `host` field, and tries to create two separate `Conditions` that end up being the same, and that's then rejected by AWS in an error 400.

The other way around (removing the condition annotatio

[2020-11-30 17:47] #1683 closed

[2020-11-30 18:15] M00nF1sh commented on #1648
@keperry
I did check into the code. You should use `aws_api_call_retries_sum` instead for the "retry count" metric.
`aws_api_call_retries_count` merely records how many calls are made.

[2020-11-30 18:24] bugok commented on #1695
@kishorj : no, it's `ClusterIP`.

[2020-11-30 18:39] M00nF1sh commented on #1693
@tiagocborg
Did the controller have correct `--cluster-name` flag set? it should be `eks-mycluster` in your case(which matches the `kubernetes.io/cluster/eks-mycluster` tag)

[2020-11-30 18:41] bugok commented on #1695
@kishorj : I misinterpreted your previous message. After changing the service type to `NodePort`, the applying the ingress worked.

Can you please explain why this is happening? Is there any documentation about setting services as `NodePort` as a requirement for using as-load-balancer-controller which I missed?

[2020-11-30 18:42] M00nF1sh commented on #536
@rakhee-balaraman
When migrate to v2, You'll need to manual actions on worker node's securityGroup rules added by v1.
checkout this [migration doc](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/upgrade/migrate_v1_v2/) for instructions :D `If security-groups annotation isn't used, the SecurityGroup rule on worker node's SecurityGroup that allow LoadBalancer traffic sho

[2020-11-30 18:44] M00nF1sh commented on #536
@Morriz as long as you make sure to delete ingresses(and wait for ingress's deletion), there won't be resource leaks.
i don't think EKSCTL automatically delete ingresses for u.

[2020-11-30 18:53] kishorj commented on #1695
Instance mode will require at least NodePort service type. With NodePort service type, kube-proxy will open a port on your worker node instances to which the ALB can route traffic.
Doc references -
https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/ingress/spec/
https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/ingress/annotations/

[2020-11-30 19:02] yspreen commented on #1563
This article might be helpful:
https://medium.com/@yspreen/get-started-with-fargate-on-aws-https-ingress-991a09020cc0

On Mon, Nov 30, 2020 at 6:09 AM Ali <notifications@github.com> wrote:

[2020-11-30 19:28] bugok commented on #1695
Thanks for the clarification and the doc references.

Closing.

[2020-11-30 19:28] #1695 closed

[2020-11-30 22:21] ghostsquad opened #1699 "Support GRPCs protocol (supercedes #899)"
supercedes #899

https://aws.amazon.com/about-aws/whats-new/2020/10/application-load-balancers-enable-grpc-workloads-end-to-end-http-2-support/
https://aws.amazon.com/blogs/aws/new-application-load-balancer-support-for-end-to-end-http-2-and-grpc/

[2020-11-30 22:30] ghostsquad commented on #1699
I believe GRPC is actually already supported, but it doesn't appear in the documentation. I'll test and report back.

https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/a08ca0d9ad49cf7ffb4234c9ee466c9517944521/pkg/annotations/constants.go?ts=4#L27

https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/f95827224a66cae20a1af999d8ef1d46ec462547/pkg/ingress/model_build

[2020-11-30 22:52] ghostsquad commented on #1699
this appears to have created an ingress successfully:

[code]

However, it appears the Target Groups don't reflect the protocol version as GRPC

[2020-11-30 23:42] M00nF1sh commented on #1699
@ghostsquad
Hi, the GRPC support will be released as part of our v2.1.0 release soon. stay tuned.

[2020-12-01 21:22] timothymahoney opened #1700 "Documentation for Required OIDC Secret has a typo"
The secret that you're instructed to create has a typo, which causes the ingress controller to throw an error

https://kubernetes-sigs.github.io/aws-load-balancer-controller/guide/ingress/annotations/#auth-idp-oidc

In the data section, instead of clientID for the key it should be clientId with a lowercase "d"

[2020-12-01 21:51] M00nF1sh commented on #1700
@timothymahoney
Hi, we changed it to be clientID for AWSLoadBalancerController(v2.0.0+). and clientId also works to be backward-compatible.

If you are using AWSALBIngressController, only `clientId` works. Our doc version for AWSALBIngressController is https://kubernetes-sigs.github.io/aws-load-balancer-controller/v1.1/guide/ingress/annotation/.

[2020-12-01 21:53] M00nF1sh commented on #1699
closing this as v2.1.0 is released :D

[2020-12-01 21:53] #1699 closed

[2020-12-01 23:34] Nuru opened #1702 "Paths of type "Prefix" do not work as expected"
According to the [Kubernetes documentatio](https://kubernetes.io/docs/concepts/services-networking/ingress/#path-types), a `pathType` of `Prefix` and value `/` should match all paths, but with `aws-load-balancer-controller` v2.0.1 it only matches `/`

My ingress:

[code]
gives me `404 Not Found` errors for all paths except exactly `/`:
[code]
It should behave exactly the same way as the implementa

[2020-12-01 23:40] M00nF1sh commented on #1702
@Nuru
We only support ImplementationSpecific currently. Prefix PathType is planned.
/kind feature

[2020-12-02 05:24] goodboyMa opened #1703 "Listen 80 & 443, two ports use different rules"
hello,
  I want to set redirect https on 80 port. and The traffic on 443 port enters normally.
  so what should I do?

Thanks

[2020-12-02 07:27] goodboyMa commented on #1703
annotations:
    alb.ingress.kubernetes.io/actions.redirect-to-ssl: >
      {"type":"redirect","redirectConfig":{"port":"443","protocol":"HTTPS","statusCode":"HTTP_302"}}

spec:
  rules:
    http:
      paths:
      - backend:
          serviceName: redirect-to-ssl
          servicePort: use-annotation
        path: /*
      - backend:
          serviceName: ambassador
          servicePort: 443

[2020-12-02 07:30] goodboyMa commented on #1703
`annotations:
    alb.ingress.kubernetes.io/actions.redirect-to-ssl: >
      {"type":"redirect","redirectConfig":{"port":"443","protocol":"HTTPS","statusCode":"HTTP_302"}}
    alb.ingress.kubernetes.io/healthcheck-path: /ambassador/v0/check_alive
    alb.ingress.kubernetes.io/healthcheck-port: "31453"
    alb.ingress.kubernetes.io/healthcheck-protocol: HTTP
    alb.ingress.kubernetes.io/ssl-redire

[2020-12-02 07:33] goodboyMa commented on #1703
I done

[2020-12-02 07:33] #1703 closed

[2020-12-02 15:07] mitchya1 opened #1704 "2.1.0 docs point to old specs"
If you go to the [2.1 installation docs](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/guide/controller/installation/) and click "Via YAML manifests", the steps to "Download and apply the yaml spec" tell you to use the `2.0.1` manifests.

`https://raw.githubusercontent.com/kubernetes-sigs/aws-alb-ingress-controller/main/docs/install/v2_0_1_full.yaml` should be `https://raw.gi

[2020-12-02 16:38] #1704 closed

[2020-12-02 22:13] #1700 closed

[2020-12-02 22:20] kishorj commented on #1687
/kind feature

[2020-12-02 22:23] kishorj commented on #1672
/kind feature
we will add an annotation to simplify this configuration.

[2020-12-02 23:06] tdyas opened #1706 "add gRPC ingress example"
Are there any available examples of how to enable a GRPC-only endpoint?

I'm trying to use v2.1.0 of the controller on EKS and the controller reports the following error:

[code]

I can supply the annotations I'm using and the Ingress resource, but would rather first try and use a known-good example of how to use gRPC, and then see if the issue still persists.

(As for the error at issue, looking

[2020-12-02 23:49] kishorj commented on #1706
This issue is similar to #1656.

For instance mode, you'd need to use service of type NodePort instead of the default type ClusterIP.

[2020-12-02 23:55] #1613 closed

[2020-12-02 23:56] #1592 closed

[2020-12-03 00:00] #1578 closed

[2020-12-03 00:00] #1577 closed

[2020-12-03 08:04] antkit commented on #1690
Recreated the cluster, the problem is gone.

[2020-12-03 12:54] toneill818 opened #1707 "Allow Reuse Of NLB when using NLB-IP For A Service"
If we have multiple services that serve TCP traffic, using NLB-IP mode currently creates a new NLB for each service. It would be nice to be able to name an NLB and add to it like the new ALB ingress does. This would save a lot of money giving the option to reuse an NLB.

[2020-12-03 15:28] jackie-JD opened #1708 "what's difference between ingress-Nginx and this ?"
I have a question that what's the difference between ingress-Nginx(https://github.com/kubernetes/ingress-nginx) and this project ?
Thank you

[2020-12-03 15:42] vdahmane commented on #1483
Hello, do you have ETA for this feature?

[2020-12-03 18:48] M00nF1sh commented on #1708
@jackie-JD
nginx ingress is using in-cluster nginx instances to do load balancing. that controller configure the nginx instances to do load balancing.
Pros:
    * More features available.
Cons:
    * You need to manage the scale/security of the nginx instances.

this project is do load balancing using AWS managed ALB.
Pros:
    * managed by AWS(scale/security).
    * tightly integrated with AWS ec

[2020-12-03 19:20] M00nF1sh commented on #1707
@toneill818
NLB is different from ALB. It's solely port based. And services supports multiple ports, which closing maps to a nlb.
You should use a service with multiple port instead 😄

[2020-12-03 19:42] toneill818 commented on #1707
@M00nF1sh I understand that, my use case is I have two separate services in the EKS cluster. One listens on TCP port 6651 and a separate service listens on TCP port 8091. When I add the nlb-ip annotation to these services, I would like to be able to group them to the same NLB instead of two separate NLB's being created. Since they listen on different ports NLB should be able to handle this.

[2020-12-03 19:53] M00nF1sh commented on #1707
@toneill818
would it be possible to merge that two service into a single one? since it models a multi-port service better?

with the existing IngressGroup features, we have security concerns like who can create Ingresses join a IngressGroup, which we plan to address by enforce a namespaceSelector on IngressClass.
we don't have similar solution to use for service's case for now.

[2020-12-04 12:40] jackie-JD commented on #1708
And which is better ?

[2020-12-04 15:41] solarchad opened #1711 "Kustomize support"
Would you be open to a PR which adds support for Kustomize? This way we can consume this controller via both Helm and Kustomize (as a base).

[2020-12-04 16:03] MartinEmrich opened #1712 "wrong SG port for TargetGroupBindings in instance mode"
Hello!

When configuring a targetGroupBinding for a Target Group in instance mode, it registers every K8s node with the service NodePort (31000 plus X).

But the security Groups generated are for the port of the service. Example:

[code]

Indeed it creates a security group rule allowing port 1883 from 10.41.0.0/16.
But K8s assigns e.g. a nodeport of 31252 to the service, so the security group rule

[2020-12-04 16:05] MartinEmrich commented on #1712
FYI: as a workaround, I specified the `NodePort` in the service and added it to the ports list. But I'd prefer the automatic port assignment by K8s, to avoid conflicts.

[2020-12-04 17:19] kishorj commented on #1712
If you are using NLB, then we don't support instance mode yet. Did you create the targetgroupbinding manually?

If you want to allow all ports, you can specify the following for the ports,
[code]
We recommend more restricted security group configuration.

[2020-12-04 17:35] kishorj commented on #1711
@solarchad could you elaborate more on the kustomize support you are referring to? We do have kustomize base to generate the manifests.

[2020-12-04 19:29] solarchad commented on #1711
@kishorj sorry, I must have missed it! I see the `kustomization.yaml` files in `./config/`. Is there an example of how this should be referenced?

For example:

[code]

[2020-12-04 21:39] M00nF1sh commented on #1708
@jackie-JD
I'd recommend ALB if you can implement your functionality on top of ALB's existing features.

[2020-12-04 22:29] tdyas commented on #1706
Using NodePort mode fixed the issue for me. Thanks!

Also, what is the right place to document this? (I can submit a PR.)

[2020-12-04 23:25] kishorj commented on #1706
It is documented in these places -
https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/ingress/spec/
https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/ingress/annotations/#target-type

Let us know if it is not clear, or feel free to raise a docs PR.

[2020-12-05 04:25] xdays commented on #1672
You can give this yaml a try, it works to me https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/487#issuecomment-428262702

[2020-12-05 07:38] #1311 closed

[2020-12-05 23:54] #1312 closed

[2020-12-07 23:03] mseverin opened #1714 "Unable to Support HTTP health checks with nlb-ip type load balancer"
When using the following annotations to configure an NLB:

service.beta.kubernetes.io/aws-load-balancer-type: "nlb-ip"
service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
service.beta.kubernetes.io/aws-load-balancer-target-group-attributes: stickiness.enabled=true, stickiness.type=source_ip
service.beta.kubernetes.io/aws-load-balancer-healthcheck-path: ‘/test’
se

[2020-12-07 23:46] M00nF1sh commented on #1714
@msau42 i believe it should be `"HTTP"` or  `'HTTP'` or simply `HTTP`, instead of `‘HTTP’`. similar issue for `‘/test’`.
`‘` is not `'` :D

[2020-12-08 00:13] mseverin commented on #1714
That was a bad copy paste I guess, still having the issue:

    service.beta.kubernetes.io/aws-load-balancer-type: "nlb-ip"
    service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
    service.beta.kubernetes.io/aws-load-balancer-target-group-attributes: stickiness.enabled=true, stickiness.type=source_ip
    service.beta.kubernetes.io/aws-load-balancer-healthcheck

[2020-12-08 01:01] kishorj commented on #1714
Try adding these annotations for HTTPS -
[code]

For HTTP, set the timeout to 6

Target group will get re-created if you modify the health check protocol.

What region is your cluster currently in?

[2020-12-08 01:03] kishorj commented on #1714
Could you also get the model for the load balancer from the controller logs?

[2020-12-08 01:41] mseverin commented on #1714
Tried adding the extra annotations, no change...

Model Built by the controller:
{"level":"info","ts":1607391430.3511727,"logger":"controllers.service","msg":"successfully built model","model":"{\"id\":\"custom-tg/echo-server\",\"resources\":{\"AWS::ElasticLoadBalancingV2::Listener\":{\"80\":{\"spec\":{\"loadBalancerARN\":{\"$ref\":\"#/resources/AWS::ElasticLoadBalancingV2::LoadBalancer/LoadBalanc

[2020-12-08 02:16] kishorj commented on #1714
@mseverin, in the model you provided above, the healthCheck protocol is HTTP, timeout is 10. For HTTP timeout needs to be 6. Please specify the following annotation -
[code]

Currently it is not possible to modify healthcheck timeout for NLB target groups. It has to be 6 for HTTP, 10 for TCP and HTTPS.

[2020-12-08 02:40] arvind1976 opened #1715 "Unable to pull cognito:roles or cognito:preferred_role claims"
Hello: Using the AWS Load Balancer Controller, I am able to get an authenticated user to come to my app. X-Amzn-Oidc-Data is set and looks good, X-Amzn-Oidc-Accesstoken is also set.

The user claims in the OIDC data have the cognito group(s) but are missing the roles and the preferred role.

I have a single user pool with 2 users and 2 groups. I am using the hosted UI for login. Each group ["users

[2020-12-08 03:29] arvind1976 commented on #1715
Here are the contents of the oidc-data block
2020-12-08 03:25:51,057 [INFO] Sub payload: {'sub': '24f59737-6c30-445e-8bc4-d29e04672b39', 'address': 'blah', 'email_verified': 'true', 'name': 'xxxx', 'email': 'xxxx, 'username': '24f59737-6c30-445e-8bc4-d29e04672b39', 'exp': 1607398070, 'iss': 'https://cognito-idp.us-east-1.amazonaws.com/us-east-1_abcde'}

And the contents of the Accesstoken block
20

[2020-12-08 06:48] #1259 closed

[2020-12-08 10:10] MartinEmrich commented on #1712
Yes, I created the TargetGroupBinding manually... I did not know that Instance Mode ist not supported yet. But with my little workaround, it works fine... Are there any traps in front of me if I keep it that way? Will instance mode be supported in the future?

Until AWS EKS supports pod topology spread constraints, It's either instance mode or cross-zone load balancing to guarantee availability fr

[2020-12-08 13:24] literalice commented on #1629
In my environment, this error occurred.

[code]

* The SG that cannot  be deleted is associated to `eks-cluster-sg-xxx` 's inbound rule. It might prevent deleting the SG.
* I'd upgraded the Load Balancer Controller from ALB Ingress Controller (v1)

Thank you.

[2020-12-08 13:25] solarchad commented on #1711
Looks like this will work for me, closing. Thanks!

[2020-12-08 13:25] #1711 closed

[2020-12-08 14:56] mseverin commented on #1714
Thanks for all the help, with the timeout 6, I was able to instantiate as expected

[2020-12-08 14:56] #1714 closed

[2020-12-08 17:25] diranged commented on #1629
I am seeing the exact same issue with the AWS Load Balancer Controller v2.1.0.. would love to see this fixed ASAP.

[2020-12-09 02:37] techdragon commented on #1212
/remove-lifecycle stale

[2020-12-09 03:42] tkms0106 opened #1717 "[v2] ALB is deleted and recreated"
when running `kubectl apply -f ingresses.yaml` .

Is it intended behavior? (Perhaps yes, I guess)
If that's the case, what was wrong with me?

# Status before applying

- One Ingress resource in default Namespace
- One ALB (created by v1 controller)
- Migration of controller to v2(2.1.0) is completed

# What I applied

Two ingresses in one yaml

[code]

# What I expected

`<some rules B>` are adde

[2020-12-09 07:44] tkms0106 commented on #1717
Hmm, it seems changing IngressGroup which an Ingress belongs to cause recreation of ALB.

[2020-12-09 10:01] tkms0106 commented on #1717
📝 My current understanding (Please point it out if there are any mistakes):

If I change `alb.ingress.kubernetes.io/group.name` of existing Ingress which has already corresponding ALB, [findSDKLoadBalancers](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/800f50f9226acf4e34a251593473b95a312e7680/pkg%2Fdeploy%2Felbv2%2Fload_balancer_synthesizer.go#L84) doesn't find the ALB beca

[2020-12-09 13:14] fabiorauber commented on #1693
I'm experiencing the same problem in EKS cluster created by Rancher. After installing aws-load-balancer-controller, it outputs the following line repeatedly:
[code]
The subnets were created automatically by Rancher, and have the tags that are recommended by the docs at https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/subnet_discovery/:

[code]

[2020-12-09 19:56] AirbornePorcine opened #1718 "PodReadinessGates with Helm"
So I understand that, with the current implementation of PodReadinessGate injection, the service needs to be created before the deployment in order for the admission controller to properly add the gates to your pods (as it relies on the service definition).

The problem we've found with this method is when deploying a new ingress/service/deployment via helm3, the service/ingress are often created

[2020-12-09 20:13] kishorj commented on #1630
/assign kishorj

[2020-12-09 20:23] kishorj commented on #1615
/assign kishorj

[2020-12-09 22:08] kishorj commented on #1717
@tkms0106 When the ingress group name is modified, controller creates a new ALB, this is expected behavior. When no group is specified, the ingess belongs to a default group which is the fully qualified ingress name namespace/ingress name.

[2020-12-09 22:09] kishorj commented on #1715
/assign m00nf1sh

[2020-12-09 22:10] M00nF1sh commented on #1718
Hi @AirbornePorcine

It's expected behavior. The purpose of pod readinessGate is to protect pod rolling deployment when used as Target.
If during pod creation, there is no Ingress/Service(or it haven't been initialized), there is nothing to protect, so it's not needed.

Please note that pod readinessGates can only be added during pod creation.

[2020-12-09 22:12] AirbornePorcine commented on #1718
But what happens when the service is created a few moments later, and all but 1-2 pods in your deployment have the readinessgate, and then you try to do a deployment? Does the missing readinessgate on those pods that started before the service not increase the chances of an outage? Maybe I'm understanding wrong here.

[2020-12-09 22:16] kishorj commented on #1706
We will add a walkthrough example for gRPC.

[2020-12-09 22:18] M00nF1sh commented on #1718
@AirbornePorcine
During a deployment after everything is correctly setup, new pods will get the readinessGate and block deployments correctly.

The existing pods(without readinessgate) didn't increase the chance of outage.

[2020-12-09 22:22] kishorj commented on #1405
/kind feature

[2020-12-09 22:24] kishorj commented on #1433
@namm2 This should be fixed in v2.0.1 and later releases.

[2020-12-09 22:24] #1433 closed

[2020-12-09 22:24] M00nF1sh commented on #1439
it's supported in v2.1.0 😄

[2020-12-09 22:24] #1439 closed

[2020-12-10 00:47] tkms0106 commented on #1717
Thank you, glad I could confirm that.

[2020-12-10 00:47] #1717 closed

[2020-12-10 02:13] calvinbui opened #1719 "Getting 502/504 with Pod Readiness Gates during rolling updates"
I'm making use of the [Pod Readiness Gate](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/pod_readiness_gate/) on Kubernetes Deployments running Golang-based APIs. The goal is to achieve full zero downtime deployments.

During a rolling update of the Kubernetes Deployment, I'm getting 502/504 responses from these APIs. This did not happen when setting `target-type: in

[2020-12-10 06:04] anemptyair opened #1720 "Does EKS1.17 support aws-load-balancer-controller?"
I always get the error in aws-load-balancer-controller pod.
Already add tags for subnets via https://kubernetes-sigs.github.io/aws-load-balancer-controller/guide/controller/subnet_discovery/

{"level":"error","ts":1607579134.4313915,"logger":"controller","msg":"Reconciler error","controller":"ingress","name":"hpbp-test-ingress-grpc","namespace":"istio-system","error":"couldn't auto-discover subnet

[2020-12-10 07:10] cw-sakamoto opened #1721 "How to write IngressClass"
Starting from 2.1.0, aws-load-balancer-controller supports for IngressClass, but is there any documentation on how to write `IngressClass`?

I would like to know what can be specified for `spec.controller` and what can be specified for `spec.parameter`.

https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#ingress-controller-support

[2020-12-10 13:02] abhinavkhanna-sf opened #1723 "Alb controller stops working if a valid ingress is pointed to ClusterIP service"
Version: 2.1.0
Installed-by: helm

ALB controller works for me when i deploy a totally new app/ingress in the environment. However, it does not if I delete the same app and reinstalled it as-is.
Ing is stuck without a Load Balancer ARN and there is no new TargetGroupBinding created for the app when deployed second time.

Couple of more points:
1. While deleting the app, it got stuck due to finaliz

[2020-12-10 13:54] abhinavkhanna-sf commented on #1723
Found the issue. it is not related to app recreation.
One more app was deployed in a different namespace on the same cluster using same LB with bad ingress/service resource values.
It was blocking whole AWS LB Controller Model to do a reconcile. This was the error that blocked the global reconcile.
`
{"level":"error","ts":1607601360.880526,"logger":"controller","msg":"Reconciler error","controller

[2020-12-10 15:57] zhujik commented on #1647
I'll just highjack this issue to tell you my findings, because we are migrating to v2 and the iam permissions are a bit different.

There are some iam permissions that are now missing that have been used in the previous v1 version, namely:

* acm:GetCertificate
* ec2:DescribeInstanceStatus
* ec2:ModifyInstanceAttribute
* ec2:ModifyNetworkInterfaceAttribute
* shield:DescribeSubscription
* shield:Li

[2020-12-10 18:29] kishorj commented on #1723
@abhinavkhanna-sf The backend service referred by your ingress in of type ClusterIP, this is the cause of the reconciler error. Your ALB is configured to use instance targets, so the service type should be NodePort.

[2020-12-10 19:24] kishorj commented on #1720
EKS 1.17 supports aws-load-balancer-controller. The error indicates that the IAM roles are not setup correctly in your case. The [installation guide](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/installation/) provides the steps to setup the IAM permissions.

You can also refer to for further details https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-

[2020-12-11 03:06] anemptyair commented on #1720
Thank u

[2020-12-11 03:06] #1720 closed

[2020-12-11 07:50] rono4321 commented on #996
For aws-load-balancer-controller, the below flag may be used:

--log-level=debug

[2020-12-11 07:51] nsubrahm-aws opened #1724 "Security group for NodePort with AWS Load Balancer controller"
The documentation on [Application load balancing](https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html) on Amazon EKS does not explicitly mention that the traffic type `ip` also requires the `Service` definition to use `type:NodePort`. Whereas, the [example](https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/main/docs/examples/2048/2048_full.yaml) uses traf

[2020-12-11 10:41] kdyakova opened #1725 "Ingress controller overwrites an existing load balancer"
I have two helm charts for two different services. Here is how the definition of the ingress controller looks like in both of them:
[code]

Those charts are used for deploying PR and UAT environments in the same AWS EKS cluster. Usually, it works great, but on very rare occasions(I have seen this 2 times for 5 months) two deployments start using the same load balancer.

Example: Service A has been

[2020-12-11 11:06] khacminh commented on #1707
@M00nF1sh

Similar with #1545

[2020-12-11 12:04] rich commented on #1569
@M00nF1sh I just ran into this issue and it's a blocker for us. This is our use case.

We have an old monolithic application running in one VPC and new EKS/K8S based services running in another VPC. The VPCs are peered. I was planning on using a TargetGroupBinding to support splitting some traffic hitting an ALB between an endpoint in the old monolith and a new service running on EKS.

Seems like

[2020-12-11 13:50] apolegoshko commented on #487
Unfortunately, loadbalancer which is created by this Ingress resource is not acceptable by AWS Security Hub.

[2020-12-11 17:58] kishorj commented on #1725
What is the controller version? Do you see any errors in the controller logs?

Also, if possible, can you share the two ingress specs?

[2020-12-11 19:03] M00nF1sh commented on #1707
@khacminh
Yeah, i remember that. wondering whether this use case could be supported with a single service.

[2020-12-11 20:46] AirbornePorcine commented on #1718
Thanks @M00nF1sh for the clarification!

[2020-12-11 20:46] #1718 closed

[2020-12-11 20:47] kishorj commented on #1721
Example ingressclass
[code]

The `spec.controller` is string, and in the current version (v2.1.0) the supported value is  `ingress.k8s.aws/alb`. The `spec.parameter` is ignored in `v2.1.0`, it will be supported in future releases.

[2020-12-11 20:49] AirbornePorcine commented on #1719
We've been having the same issue. We confirmed with AWS that there is some propagation time between when some target is marked draining in a target group, and when that target actually stops receiving new connections. So, at the suggestion of other issues I've seen in the old project for this, we added a 20s sleep in a `preStop` script. This hasn't entirely eliminated them though, they still happe

[2020-12-11 20:57] M00nF1sh commented on #1719
@calvinbui  The pods needs to have a preStop hook to sleep. since most web framework(e.g. nginx/apache) will stop accept new connections once requested soft stop(sigTerm). and it take some time for the controller to deregister pod(after got endpoint change event), and take time for elb to propagate target changes to it's dataplane.

@AirbornePorcine did you still saw 502 with 20s sleep? have you e

[2020-12-11 20:59] AirbornePorcine commented on #1719
@M00nF1sh that's correct, even with a 20s sleep and the auto-injected readinessGate, doing a rolling restart of my pods results in a small amount of 502s. For reference this is like 5-6 502s out of 1m total requests in the same time period, so a very small amount, but still not something we want. I'm using IP mode here.

[2020-12-11 21:32] M00nF1sh commented on #1719
@AirbornePorcine in my own test, the sum of `controller process time`(from pod kill to target deregistered) and `ELB API propagation time`(from deregister API call to targets actually removed from ELB dataplane) takes less than 10 second.

And the PreStop hook sleep only need to be `controller process time` + `ELB API propagation time` + `HTTP req/resp RTT`.

Just asked ELB team whether they have

[2020-12-11 22:08] AirbornePorcine commented on #1719
Ok, so, we just did some additional testing on that sleep timing.

The only way we've been able to get zero 502s during a rolling deploy, is to set our `preStop` sleep to the target group's deregistration delay + at least 5s. It seems almost like there's no way to guarantee that AWS isn't actually sending you new requests, until the target is fully removed from the target group, and not just marke

[2020-12-13 13:55] abhinavkhanna-sf commented on #1723
Thanks @kishorj thats what i figured. However, the issue was broader. With this bad ingress/service deployed, it was taking down whole controller reconciliation. ALB Controller stops working if i I point an alb annotated ingress ClusterIP service

[2020-12-14 05:44] toytown opened #1728 "BUG: Reconcile error InvalidIdentityToken due to use of regional STS endpoint"
I am using EKS v1.18 with Fargate profile in public +  private mode with IRSA enabled. The Fargate is deployed to a private cluster and Load balancer is internal. When I try to switch OIDC provider client or audience setting to use regional STS endpoint it gives InvalidIdentityToken error. But if switched to global STS endpoint works fine. I suppose this behaviour is a bug.

I configured  OIDC to

[2020-12-14 12:36] kdyakova commented on #1725
Can you tell me how to see the controller version and logs?

Here is what I was seeing when I described the two ingresses:
[code]

[2020-12-14 18:42] jasonmiraglia opened #1729 "Mix of SSL and non-SSL listeners"
I'm looking for some guidance on how to configure a load balancer that requires a mix of security policies. We can use the following annotations to control the policy and cert for **all** listeners
[code]

which is fine for configuring an NLB like:
TLS: 1000 | Security Policy: ELBSecurityPolicy-TLS-1-2-Ext-2018-06 | SSL Certificate: ...
TLS: 1001 | Security Policy: ELBSecurityPolicy-TLS-1-2-Ext-20

[2020-12-14 23:03] chrisleck opened #1731 "Security Group ports attached to node security group are overly broad"
I have three ingresses, one each with a different port set via `alb.ingress.kubernetes.io/listen-ports`: (80, 443, 8081) which route to various pods (via named ports) all serving on port 80.

Example of one of these:
[code]

This results in three targetGroupBindings being autogenerated, none of which specify a port number?
[code]

The resulting inbound SG rule attached to the node SG has all TCP p

[2020-12-14 23:09] chrisleck commented on #1731
This might be the code causing this?  https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/f95827224a66cae20a1af999d8ef1d46ec462547/pkg/ingress/model_build_target_group.go#L90

[2020-12-15 00:17] calvinbui commented on #1719
Thanks for the comments.

Adding a preStop and sleep, I was able to get all 200s during a rolling update of the deployment. I set deregistration time to 20 seconds and sleep to 30 seconds.

However during a node upgrade/rolling update I got 503s for around one minute. Are there any recommendations from AWS about that? I'm guessing I would need to bump up the deregistration and probably the sleep t

[2020-12-15 02:01] kishorj commented on #1731
The source for each of these rules is the SG of the corresponding ALB. All the port based restrictions are put in the ALB specific SG.

[2020-12-15 02:09] chrisleck commented on #1731
Sure, but then we add a new rule into the node SG that opens up all ports coming from the port-limited ALB SG.  That sets off all kinds of warnings & errors in security scanning tools (e.g., ScoutSuite).

[2020-12-15 02:21] kishorj commented on #1724
For instance mode, Service type of `NodePort` is required. Service type `LoadBalancer` will also work since it is built on top of NodePort, but you might not need the extra LB that gets provisioned for the service.

Controller adds the security rules to the node SG to allow traffic from the ALB SG.

[2020-12-15 02:26] #1721 closed

[2020-12-15 02:53] kishorj commented on #1729
You can use the `service.beta.kubernetes.io/aws-load-balancer-ssl-ports` annotation to mix tls and non-tls listeners. But the certs and security policies will be the same for all TLS listeners for the given NLB.

Here is a possible solutoin -
You can use the `TargetGroupBinding` resources to bind to each of the externally managed target group on your NLB.
- Create NLB and add the listeners and tar

[2020-12-15 03:12] kishorj commented on #1725
It looks like you are running controller v1.1.x. You can get the exact version as follows -
`kubectl describe deployments.apps -n kube-system alb-ingress-controller |grep Image`

To get the logs, find the name of the ingress controller pod,
`kubectl get pods -n kube-system |grep alb-ingress-controller`

and then run kubectl logs
 `kubectl logs -n kube-sustem alb-ingress-controller-xxx`

[2020-12-15 06:34] nsubrahm-aws commented on #1724
Thanks, @kishorj  for the response!

Can you please help compiling this type?

| Traffic Type | Service Type | Valid (Y/N) |
| ------------ | ------------- | ----------- |
| `ip` | `ClusterIp` | |
| `ip` | `LoadBalancer` | `Y` |
| `ip` | `NodePort` | `Y` |
| `instance` | `ClusterIp` | |
| `instance` | `LoadBalancer` | `Y` |
| `instance` | `NodePort` | `Y` |

I understand that, using `LoadBalancer`

[2020-12-15 06:41] toytown commented on #1085
Could you provide some more info where you set this AWS_STS_REGIONAL_ENDPOINTS - ALB ? or pods or configmaps ?

[2020-12-15 07:03] toytown commented on #1728
This is happening due to use of global endpoint "sts.amazonaws.com" and even when switching the OIDC audience settings to use regional sts settings like sts.eu-central-1.amazonaws.com it is not working. Looking forward to set AWS_STS_REGIONAL_ENDPOINTS as part of the env variable of the container

[2020-12-15 11:23] rich commented on #1569
@M00nF1sh Yes, ALB weighted load balancing was the plan. We would be managing all of the ALB pieces with Terraform and depending on the controller to keep the Terraform managed TargetGroup up to date with current targets.

[2020-12-15 12:52] kdyakova commented on #1725
Unfortunately, I have a user with restricted access in the cluster. I can only access my namespace. I can't access anything in kube-sustem

[2020-12-15 14:14] nsubrahm-aws opened #1732 "How does traffic flow into a pod?"
In my `Deployment`, I have used a `nodeSelector` such that the pod will be placed in an EC2 instance that is in a private subnet. This means, the EC2 instances - where the `Pod` gets scheduled - will not have a public IP address. My `Ingress` object uses `target-type` as `ip`. When the ALB is provisioned, I noticed that the AZs points to _public_ subnets only.  However, the registered target is th

[2020-12-15 14:15] john-auld commented on #1085
Via values.yaml (extraEnv)

https://github.com/helm/charts/blob/master/incubator/aws-alb-ingress-controller/templates/deployment.yaml. (Line 51)

`           - name: AWS_DEFAULT_REGION
               value: eu-west-1
            - name: AWS_SDK_LOAD_CONFIG # Required by golang to observe the AWS_DEFAULT_REGION env var
               value: "1"
            - name: AWS_STS_REGIONAL_ENDPOINTS

[2020-12-15 14:16] nsubrahm-aws commented on #1724
#1731

[2020-12-15 16:34] jasonmiraglia commented on #1729
@kishorj Thanks so much for the quick response. `service.beta.kubernetes.io/aws-load-balancer-ssl-ports` seems to be exactly what I was looking for here. However, it's producing some unexpected results.

[code]

Results in an error creating a listener for port 4209:
[code]

Seems that the `service.beta.kubernetes.io/aws-load-balancer-ssl-negotiation-policy` can maybe not be used in conjunction wit

[2020-12-15 17:09] kishorj commented on #1729
The reconciler error is due to issue #1661. It has been fixed in 2.1.0, your service spec should work as expected after you upgrade the controller.

This annotation is not required in your case - `service.beta.kubernetes.io/aws-load-balancer-backend-protocol=tcp`.

[2020-12-15 19:21] jasonmiraglia commented on #1729
You rock @kishorj . Upgrading to `2.1.0` totally did the trick and now working as expected. Thanks so much for the assistance on this.

[2020-12-15 19:21] #1729 closed

[2020-12-15 21:22] darkn3rd opened #1733 "Helm Chart Support"
Would there be interest to host the helm chart here under chart directory?  Currently it is no longer available, under incubator.

- https://github.com/helm/charts/tree/master/incubator/aws-alb-ingress-controller

[2020-12-16 06:33] ttres commented on #1693
@tiagocborg and @fabiorauber , try to run this AWS CLI command and check it returns expected subnets (replace <clusterName> with real cluster name:

[code]

If it don't return them, list all subnets for the cluster, and review tags don't have hidden chars:

[code]

I've just fixed an issue like this caused by a dangling '\t' char. Add `--region <region>` to above commands if necessary.

[2020-12-16 09:55] Larry-JJ opened #1734 "Failed to post request to wafv2 with EKS Private Cluster"
EKS Version:**1.18**
aws-load-balancer-controller version: **v2_1_0**
I followed the below instructions
https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html

The EKS cluster is a private cluster, doesn't have a NAT gateway associated. I have created the below VPC endpoints required by private cluster:
com.amazonaws.<region>.ec2
com.amazonaws.<region>.ecr.api
com.amazonaws.<region>.ecr

[2020-12-16 11:10] ziabs opened #1735 "Multiple Protocol version support with ALB Ingress ( V2.1.0)"
In ALB ingress controller how can we support multiple backend protocol types ?
According to the current annotation **alb.ingress.kubernetes.io/backend-protocol-version: GRPC** we can have only one protocol version.
_Example : In one of the app want to access with the same DNS with diffrent protocol (abc.xyz)
abc.xyc:5002 for **GRPC** and
abc.xyz:80 for **HTTP**_
Also how to provide mutliple heatlt

[2020-12-16 11:35] yanyixing commented on #1693
I also meet this issue in aws China

[2020-12-16 11:50] tiagocborg commented on #1693
thanks, @ttres.
I just did that, and my subnets were retrieved correctly. Although, I am not using the `shared` value, but `owned`

[2020-12-16 11:52] v4mpir0ck opened #1736 "docker pull unauthorized"
Hi,
im getting problems pulling the image, right after deploying the operator with helm in the namespace kube-system,
`  Normal   Pulling         46m (x4 over 48m)     kubelet            Pulling image "602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon/aws-load-balancer-controller:v2.1.0"
  Warning  Failed          46m (x4 over 48m)     kubelet            Failed to pull image "602401143452.dkr.ec

[2020-12-16 12:35] ziabs commented on #1735
Using `alb.ingress.kubernetes.io/group.name:` annotation we can achive this.
closing the ticket.

[2020-12-16 12:35] #1735 closed

[2020-12-16 13:48] fabiorauber commented on #1693
I second @tiagocborg's conclusion, and thanks for the tip @ttres. In my case, the subnets in my VPC were correctly retrieved by the first command above.

[2020-12-16 13:53] toneill818 commented on #1707
@M00nF1sh I might be able to rewrite combine the charts and create a single service.

[2020-12-16 14:32] malcolm061990 opened #1737 "Can't be deployed"
Hi. I am trying to deploy this LB using [official guide](https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html)
My versions:
[code]

Deploying (previous steps from guide are completed):
[code]

Some issues with CRDs "Certificate" and "Issuer"... Please, help.

[2020-12-16 15:08] michaelasper commented on #1734
in the helm chart, you can disable the waf/wafv2 plugin

[2020-12-16 15:31] michalpacholczyk commented on #1439
Supercool! Can you please tell how to properly set `spec.controller` value in `IngressClassResource` ?

[2020-12-16 16:09] kishorj commented on #1734
If using helm chart, you can set the following during installation
`--set enableWaf=false --set enableWaf2=false --set enableShield=false`

If you installed the manifest, you need to pass the following args to the controller
`--enable-shield=false --enable-waf=false --enable-wafv2=false`

[2020-12-16 16:10] kishorj commented on #1733
Chart is currently hosted in the eks-charts repo
https://github.com/aws/eks-charts/tree/master/stable/aws-load-balancer-controller

[2020-12-16 19:03] evagonz commented on #1737
I ran into the same thing earlier, I think the formatting on [this page](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/deploy/installation.md) is a bit messed up.

Basically, I think you didn't install the cert-manager, as detailed

[code]

specifically, the correct one for your version of kubernetes. Do that, and it'll take care of those specific errors.

[2020-12-17 01:11] kishorj commented on #1737
@malcolm061990 It looks like you already had some version of cert-manager installed when you applied the cert-manager manifest. You need to make sure the supported version is installed in your cluster.

The `unable to recognize "v2_1_0_full.yaml": no matches...` means that the cert-manager will not create a secret resource for the controller.

You can try installing the helm chart, it doesn't have

[2020-12-17 01:22] kishorj commented on #1736
@v4mpir0ck Check if your node instance role grants ECR access permissions.

[2020-12-17 01:38] kishorj commented on #1732
@nsubrahm-aws check if this document helps you https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/how-it-works/

In case of IP mode, ALB forwards the traffic directly to the pod, without going through the instance. The target group entries in this case should contain the IP address of your application pods. It is not clear to me what you mean by "Target group points to public su

[2020-12-17 01:40] Larry-JJ commented on #1737
Hi @kishorj, are we able to install AWS LB Controller without cert-manager via kubectl instead of helm? As we are using internal ALB which not requires a certificate, we would like to keep it lightweight.

[2020-12-17 01:44] Larry-JJ commented on #1737
Hi @kishorj, you mentioned helm chart doesn't have a dependency on the cert manager. may I know is there any guide to install AWS LB Controller without cert-manager via kubectl instead of helm? As we are using internal ALB which not requires a certificate, we would like to keep it lightweight.

[2020-12-17 01:59] kishorj commented on #1737
@Larry-JJ, the certificate is not for the ALB, but for the mutating and validating webhooks used by the controller. It is a one time configuration. Helm generates the certificate/secrets during chart installation.

If you want to use kubectl instead of helm, you will have to modify your manifests accordingly. Here are the tentative steps -
1. Remove the certificate and Issuer resources from the ma

[2020-12-17 02:02] kishorj commented on #1728
/triage needs-investigation

[2020-12-17 02:04] kishorj commented on #1723
@abhinavkhanna-sf did the controller recover once you modified the service type? Were there any other error messages in the log? did you modify the default concurrent reconciles?

[2020-12-17 02:10] nsubrahm-aws commented on #1732
This is not clear; since the pod is running on an instance, what does it mean when you say _the traffic directly to the pod, without going through the instance. _ ?

Sorry, the Target Group should read AZs - I have edited the question.

I noticed that, the subnets of the AZs of the provisioned ALB are all public subnet. In my case, the pod is scheduled in a private subnet. So, my question is, how

[2020-12-17 03:17] abhinavkhanna-sf commented on #1723
@kishorj i did not notice any other  error. Controller recovered once the bad service was removed.  No other modifications done.

[2020-12-17 03:48] Larry-JJ commented on #1737
@kishorj Thanks very much, this makes me better understand how it works. I will try it soon.

[2020-12-17 06:32] malcolm061990 commented on #1737
I launched the command you mentioned and showed it in my first message:
[code]

I didn't have any cert-managers. Some months ago I installed cert-manager in cert-manager namespace (by default). But I deleted that namespace before installing the new one.

**Solution**:
I changed the apiVersion for "kind: Certificate" and "kind: Issuer" from cert-manager.io/v1alpha2 to cert-manager.io/v1 in v2_1_0_f

[2020-12-17 06:35] sandeepnanda2 opened #1738 "IP whitelisting aws-load-balancer-controller"
This is my working ingress for my app, please suggest how can I allow my app to access from certain IPs or cidrs.
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "ingressName"
  annotations:
    kubernetes.io/ingress.class: "alb"
    alb.ingress.kubernetes.io/group.name: internal-apps-dev
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/certificate

[2020-12-17 07:07] kishorj commented on #1738
@sandeepnanda2 you can use the annotation `alb.ingress.kubernetes.io/inbound-cidrs` to specify the CIDRS that are allowed to access the load balancer.
https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/ingress/annotations/#inbound-cidrs

[2020-12-17 08:16] Larry-JJ commented on #1734
Thank you @kishorj and @michaelasper, after I set up the below flag, it's working properly.
--enable-shield=false --enable-waf=false --enable-wafv2=false

[2020-12-17 08:16] #1734 closed

[2020-12-17 10:35] vrathore18 commented on #1141
I am getting this issue quite a lot on EKS. Is anyone able to get the fix for this?

[2020-12-17 16:01] jtprom opened #1739 "[v2] Wildcard in host"
With the release of v2 and the introduction of `alb.ingress.kubernetes.io/group.name` the suggested workaround in a similar ticket [#987](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/987) does not work when using multiple ingresses with the same `group.name`.

Is there a new workaround in v2 or plans to support this in the next few releases?

**I would like to be able to

[2020-12-17 21:03] kclinden opened #1740 "Add GovCloud ECR Repos"
013241004608.dkr.ecr.us-gov-west-1.amazonaws.com/amazon/aws-load-balancer-controller

I had to search for these by going to my node and running docker image ls

[2020-12-18 02:31] kishorj commented on #1740
We post image to all supported regions, including Gov cloud.

[2020-12-18 14:29] kclinden commented on #1740
Yea the problem I had is when I was trying to use helm to install the aws lb controller it couldn't connect to the repo since I was coming from govcloud. After that it took me a while to find out what the repo ID should be for govcloud.

On the Release Notes pages you list the ERC Repo URL for all environments except govcloud. It would be helpful to include the govcloud ECR images too.

https://gi

[2020-12-18 22:57] #1094 closed

[2020-12-20 09:31] #1320 closed

[2020-12-20 09:31] #1326 closed

[2020-12-20 17:39] #1317 closed

[2020-12-20 23:30] orong-pp opened #1742 "how to merge listener routing rules on same group.name ingress objects to get weighted routing"
I want to deploy microservices each with it's own ingress object, but using the same
alb.ingress.kubernetes.io/group.name annotation, to have the ingress rules merge under the same ALB

this works fine as long as I'm using different a hostname or HTTP header value.
but when I want to have 2 ingress rules with weight forwarding rules, I want the merging process to put them together
under the same l

[2020-12-21 15:31] mberkow opened #1743 "Reuse of existing ALBs after version upgrade"
Issue: After migration from alb-ingress-controller to aws-load-balancer-controller new ALBs are created instead of managing the existing ALBs

Expected behavior: When migration between versions existing ALBs would continue to be updated.

Observed behavior: A new ALB with a different name is created and updates to the ingress/service resources are only reflected in the new ALB.

Steps to reproduce

[2020-12-22 04:01] jurgenweber opened #1744 "nlb instance support"
As per this; https://github.com/kubernetes/kubernetes/issues/57250#issuecomment-723390608

Apparently this project is taking over the NLB instance support, for those that need proxy-protocol v2 on + NLB and are not on k8s 1.20 (which is a [prerequisite for nlb-ip](https://kubernetes-sigs.github.io/aws-load-balancer-controller/guide/service/nlb_ip_mode/)). We are on eks, so 1.18.

Any status update

[2020-12-22 04:45] jurgenweber opened #1745 "nlb ip, what is the min requirement for eks/kubernetes?"
[this](https://github.com/aws/containers-roadmap/issues/981#issuecomment-715571153) says eks 1.18

[this](https://kubernetes-sigs.github.io/aws-load-balancer-controller/guide/service/nlb_ip_mode/) says kubernetes 1.20...

specifically looking at service type loadbalancer. I have run it up on eks 1.18 and it looks to be working, more testing required.

[2020-12-22 05:25] kishorj commented on #1745
The AWS cloud-provider fix needed for NLB IP is included in Kubernetes 1.20 and later. We backported the changes to EKS 1.18 release. This is the updated documentatoin - https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/service/nlb_ip_mode/.

New platform releases of EKS 1.16 and 1.17 also support the NLB IP mode.

[2020-12-22 05:30] kishorj commented on #1744
@jurgenweber, It is in our roadmap, we are working on it.

[2020-12-22 05:31] kishorj commented on #1744
/assign kishorj

[2020-12-22 05:31] kishorj commented on #1744
/kind feature

[2020-12-22 05:33] jurgenweber commented on #1745
nice, thank you!

[2020-12-22 05:33] #1745 closed

[2020-12-22 05:43] jurgenweber commented on #1744
since you answered this question; https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1745 meaning I don't specifically need this but there are people out there going from those threads that are crying out for it. It was hard to find good information so hopefully this helps those whom are searching.

[2020-12-22 08:18] Igor96Poli commented on #1569
Hi,
it should be great to have that features. I have a similar environment, with a VPC-A, which is public and a VPC-B that is private. On the VPC-A I have a ALB with IP target group, on VPC-B I have an EKS cluster and I spend my last week trying to register pods without success.
Now I see why it happened!
I hope that feature will be taken into account soon as possible.

[2020-12-22 13:21] andr3adc commented on #1569
It would be great!

[2020-12-23 00:30] M00nF1sh commented on #1743
@mberkow
would you help share your service and ingress specs? it should be reused.
BTW, if possible, would you share the AWS tags on aws console for the old ALB and new ALB?

[2020-12-23 00:32] lays147 commented on #1601
Please add this to the docs. I spend my whole day trying to figure out why the controller was not able to start. Maybe a troubleshooting page should help.

[2020-12-23 21:21] M00nF1sh commented on #1738
seems this issue is addressed per the doc.

[2020-12-23 21:21] #1738 closed

[2020-12-23 21:30] M00nF1sh commented on #1742
@orong-pp
You need to specify the weighted rule in a single Ingress. currently each Ingress rule will result in a ALB rule.

I can see this can be an issue where the weighted backend services are from different namespaces, is it the reason that you want to create two ingress instead of one?

[2020-12-23 22:08] M00nF1sh commented on #1742
/kind feature
/kind needs-design

[2020-12-23 22:17] M00nF1sh commented on #1737
@malcolm061990

We'll add a YAML/scripts without cert-manager dependency.

We don't intend to support multiple cert-manager versions and 1.15 will be deprecated soon, so closing this issue.

[2020-12-23 22:17] #1737 closed

[2020-12-23 22:18] M00nF1sh commented on #1736
@v4mpir0ck
Does this issue still exists? If so, please reopen or create a new issue.

[2020-12-23 22:18] #1736 closed

[2020-12-23 22:19] #1733 closed

[2020-12-23 22:24] M00nF1sh commented on #1731
@chrisleck
the reason we did that is
1. save rule to stay within rule limit per SG. (you can only add 60 rules per SG).
1. to maintain backwards-compatibility with old controller.

There is no real threat as the traffic is already limited by the SG and that SG is only used by ALB.

[2020-12-23 22:25] M00nF1sh commented on #1731
Is the port restriction really necessary for your setup? If so, we can consider to have some controller-level settings to control this behavior. (so other customers can still benefit from the SG rule saving by default)

[2020-12-23 22:31] kishorj commented on #1725
@kdyakova Could you upgrade your controller to aws-load-balancer controller v2.1.0 and see if you still see this issue?
The new controller is backwards compatible. You do not need to delete the existing ingress resources.

[2020-12-23 23:29] M00nF1sh commented on #1732
@nsubrahm-aws
1. When you creating a public ALB, the controller provisions the ALB with public subnets and ALB will create one ENI in each of the configured public subnet, let's call it ALB-ENI.
2. When you use aws-vpc-eni, each pod's IP is actually a secondary IP on ENI attached to your node(may not be the primary ENI).
3. When client traffic arrives at ALB, ALB will use these ALB-ENIs in your pu

[2020-12-24 00:45] calvinbui commented on #1719
After increasing sleep to 90s and terminationGracePeriod to 120s there are no downtimes during a cluster upgrade/node upgrade on EKS.

However, if a deployment only has 1 replica, there is still ~1 min of downtime. For deployments with >=2 replicas, this was not a problem and no downtime was observed.

The documentation should be updated so I'll leave this issue open.

[2020-12-24 05:44] obeleh commented on #1273
/remove-lifecycle stale

[2020-12-24 14:56] orong-pp commented on #1742
@M00nF1sh
thanks for the reply
the reason to make 2 ingress objects is - I want to achieve a microservices deployment behavior,
where each microservice has its own ingress object.
These microservices should implement a canary deployment.

For example, The first one is the current version with weight 90 and the second is the new release with weight 10. When the second one is deployed, a single list

[2020-12-25 03:00] moonape1226 commented on #1693
I encountered the same problem as well, but it turned out that there was a mistake in my Helm configuration. I configured the `clusterName` with my cluster arn `arn:aws:eks:us-west-2:xxx:cluster/test-cluster`, but it should contain only cluster name `test-cluster`. Not sure if you are having the same issue.

[2020-12-28 23:40] M00nF1sh commented on #1570
Hi, TargetGroupsAttributes support is already released in v2.1.0. closing this

[2020-12-28 23:40] #1570 closed

[2020-12-29 14:42] v1nc3nt27 opened #1747 "NoCredentialProviders: no valid providers in chain"
Hey there,

I'm running a self managed (kubeadm) cluster on EC2 instances and running into some problems with installing the load balancer controller. I've created the [IAM policy manually](https://github.com/aws/eks-charts/tree/master/stable/aws-load-balancer-controller#setup-iam-manually) and added it to my worker node IAM role. The LB controller was installed with the helm chart. I first encoun

[2020-12-29 19:30] M00nF1sh commented on #1747
@v1nc3nt27
Hi, the controller needs IAM permission to work on-behalf of you(e.g. create ALB).
Since you are using a self-managed cluster, this left you a few options:
1. grant IAM permission to node, and allow container to access EC2Metadata.
2. use iam per pod solutions like kube2iam.

Seems access to EC2Metadata was blocked and you didn't use any other solutions to grant iam permission to the po

[2020-12-30 10:37] v1nc3nt27 commented on #1747
@M00nF1sh Thanks a lot for your suggestion. In fact, I've set IMDSv2-only and hop limit to 1. Does this mean I cannot use IMDSv2 at all?

Anyhow, I restored IMDSv1 on the worker instance and the error of the controller logs changed to

`{"level":"error","ts":1609323024.1760008,"logger":"controller","msg":"Reconciler error","controller":"ingress","name":"echoserver","namespace":"echoserver","error"

[2020-12-30 15:50] colearendt opened #1748 "Control loop does not reconcile NLB SSL Ports"
I have an NLB defined via annotations:

[code]

Then I updated to:
[code]

However, after leaving things this way for a while (a day), the ALB load balancer controller still has not set port 8443 to use the ssl certificate. I have confirmed that deleting and creating a new NLB from scratch will attach the SSL certificate to both ports.

Using `    Image:       602401143452.dkr.ecr.us-west-2.amazon

[2020-12-30 18:18] M00nF1sh commented on #1747
hi, If you want to use imds-v2 only, you need to set the hop-limit to at least 2. so that containers can access IMDS.
As for the new issue, the controller need to access EC2 service(ec2.eu-central-1.amazonaws.com) to work on behalf of you, so i don't think there are any issue in the controller binary itself.
Have you tried exec into the controller and verify you have access to ec2.eu-central-1.ama

[2020-12-30 18:42] kishorj commented on #1748
@colearendt, do you see any errors in the controller logs? What does your service spec look like? Also, could you share the model generated for your service after the modification?

I tried using a similar configuration, but wasn't able to reproduce the issue.

[2020-12-30 22:13] M00nF1sh commented on #1481
@JayselDC
Hi, sorry for late reply. The advanced routing feature is only available for 1.1.5.
If this issue still exists, please upgrade to our v2 version.
Please reopen a new issue if the conditions annotation doesn't work in v2 version

[2020-12-30 22:13] #1481 closed

[2020-12-30 22:16] M00nF1sh commented on #1480
@stuzfuz please create a new issue if the problem still exists.
Also, if EC2Metadata is not accessible from the controller, please check my comment at this issue: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1747#issuecomment-752215264

[2020-12-30 22:16] #1480 closed

[2020-12-30 22:23] M00nF1sh commented on #1465
@ghost
The auth annotation applies to entire Ingress. so every rule inside the Ingress will have the cognito auth rule.
To specify auth(or disable auth) for specific path only, you can add the `auth-type` annotation to the k8s Service for your path. If the same service is used by two path one using cognito while another one didn't, you need to create two service for this use case)

For anyone who

[2020-12-30 22:23] #1465 closed

[2020-12-30 22:46] M00nF1sh commented on #1455
@madhu131313 , @Pluies is correct. the controller will add both the host-header condition for Ingress rule and conditions annotation together. Please keep one of them only.

In future versions, we can make the controller to be smarter by automatically merge/dedupe the header rule

[2020-12-31 14:39] emmaroberts-nbs commented on #1736
I get this issue when trying to deploy the helm chart in the eu-west-2 region.

My instance profile for the nodes have ecr readonly access, the following policy is attached to the role I'm using: AmazonEC2ContainerRegistryReadOnly

[2021-01-01 11:13] LahiruSenevirathne commented on #976
I am facing this issue as well gets random 502 even though pod is up and running without restart. Never happened with nginx ingress though.

[2021-01-01 18:33] naimiaziz opened #1751 "auto discovring webacl"
Hello,

First of all I would like to thank you for you amazing work, I'm using AWS LoadBalancer Controller which  gladly respond to all my need except one:

there is a way to auto discover the WebAcl arn available in the region without mentioning it in the ingress annotation and thanks.

[2021-01-01 21:06] sukrit007 commented on #1622
@kishorj  Thanks for the workaround.  Is it possible to get this added to the main document?   Took me a few hours to figure out why my NLB was not getting created.

[2021-01-03 07:29] guan840912 commented on #1594
@allamand I use this method to remove the SecurityGroup tag `kubernetes.io/cluster/${cluster.clusterName}` created by cluster.addAutoScalingGroupCapacity().
[code]

[2021-01-03 12:37] apolegoshko opened #1752 "Loop when defining custom ssl redirect"
Hey there,

I'm using snippet below, to satisfy ([ELBv2.1] Application Load Balancer should be configured to redirect all HTTP requests to HTTPS)[https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards-fsbp-controls.html]. Unfortunately, I'm getting an error in logs:

[code]

[code]

Setup:
- aws lb controller installed via latest helm chart with latest image

[code]

[2021-01-04 10:32] rokarajan commented on #1452
Looks like this thread is open so wanted to ask few questions:
- We have multiple ingress controllers deployed with old(now deprecated incubator/aws-alb-ingress-controller) helm chart and they serve different purposes.

- We have migrated one of the controller with the new chart aws-load-balancer-controller from eks-charts repo however we came across an issue that prevents deploying the second con

[2021-01-04 16:07] skyfox675 opened #1753 "Listner fails AWS Config Rules"
Team,

It appears that ALB's/Listeners created by this controller that have HTTPS enabled are not properly configured for HTTPS redirection per AWS Config.

Please see the below findings from AWS config:
[code]

The AWS Config rule `alb-http-to-https-redirection-check` is noting:

I can verify that HTTP>HTTPS is working but unsure if this is a false positive.

Thanks!

[2021-01-04 18:12] apolegoshko commented on #1753
Hi @skyfox675 I've raised the question of how to configure it properly in https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1752. Absolutely the same situation is for me.

[2021-01-04 19:44] M00nF1sh commented on #1452
@rokarajan

You should only install one controller only(a single deployment with multiple replicas) for this new `aws-load-balancer-controller`. Currently, it doesn't support to run multiple different deployments.

[2021-01-04 21:11] M00nF1sh commented on #1752
Hi @apolegoshko
The HTTP->SSL redirect trick don't work for the default Ingress rule(Ingress.spec.backend). The HTTPS port also need a default rule, and it cannot be a redirect.

The correct way to implement HTTP->SSL redirect without using IngressGroup for your example is.
[code]
Alternatively, with IngressGroup feature, you can define two Ingress one for HTTP port, another one for HTTPS port. an

[2021-01-04 21:19] M00nF1sh commented on #1753
@skyfox675 It's false positive from security perspective as the policy checks whether it's the default rule doing the SSL direct, while with our ssl-redirect solution provided by this controller, the SSL-redirect is implemented by a catch-all rule. (there is no technical difference).

BTW, it is possible to implement SSL-redirect with a default rule to make AWS Config happy for now, but you need t

[2021-01-04 21:27] M00nF1sh commented on #1751
@naimiaziz
technically we can support it by checking tags on waf rules, but it will become inefficient as we have to try check `waf` rules on every reconcile even for users not using waf. (unless we do things like `alb.ingress.kubernetes.io/wafv2-acl-arn: auto`)

Alternatively, we'll providing support for configuration via IngressClass's parameter soon, which allow you to define configurations via

[2021-01-04 21:27] M00nF1sh commented on #1751
/kind feature

[2021-01-04 21:43] apolegoshko commented on #1752
Hey @M00nF1sh, thanks for quick response. I've already tried example you've provided above before opening issue here, http -> https redirect works as expected, but it's not accepted by AWS SecurityHub standards. That the main reason to clarify things.

Thanks for letting us know about upcoming release feature to implement this.

[2021-01-04 21:54] #1752 closed

[2021-01-04 22:08] mantasmatelis commented on #1745
@kishorj, what was the backported fix?

I'm able to use the aws-load-balancer-controller to create and manage an NLB backed by pod IPs using Kubernetes 1.15.10 (self-managed, not EKS) with:
[code]

Is there an issue I'll run into if I'm on 1.15.10 and not 1.20?

[2021-01-04 22:22] rokarajan commented on #1452
@M00nF1sh
- We have multiple load balancers to serve varieties of traffic ( some service specific, private, public etc), with our current setup we have different sets of alb ingress controllers deployed in different namespace handling them. We also use NGINX ingress controllers for the services so that we could run multiple services under one ALB. Only the problem we have is the current helm chart

[2021-01-04 22:41] skyfox675 commented on #1753
Perfect, thanks @M00nF1sh! Do you have an estimated release date for the minor release?

[2021-01-05 00:51] kishorj commented on #1745
We don't recommend configuring nlb-ip on 1.15 using k8s service of type LoadBalancer. If you do, you will end up with two NLBs - one created by the in-tree controller, and another by the AWS load balancer controller. You'd need the fix similar to the PR https://github.com/kubernetes/kubernetes/pull/92839 on your in-tree controller.

For 1.15, you can use service of type NodePort instead of LoadBal

[2021-01-05 08:30] apolegoshko commented on #1752
Thanks @M00nF1sh for your suggestion with ingressGroup feature (Please note that ssl-redirect action is actually a bit different as in example above).

Posting an example, which works for me and it's compliant according [AWS Foundational Security Best Practices controls](https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards-fsbp-controls.html) ([ELBv2.1] Application Load B

[2021-01-05 08:30] apolegoshko commented on #1753
[Here](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1752#issuecomment-754487973) is an example for existing lb controller.

[2021-01-05 12:36] naimiaziz commented on #1751
@M00nF1sh thank you for your response I've wanted to use `alb.ingress.kubernetes.io/wafv2-acl-arn: auto` but unfortunately I had this error :`InvalidParameter: 1 validation error(s) found.\n- minimum field size of 20, AssociateWebACLInput.WebACLArn.\n"}`

and for the feature that you will propose it doesn't suits my need because I want to automate the deployment full stack including aws-loadbalanc

[2021-01-05 15:06] jianghuiyou opened #1754 "Is it required that healthcheck-interval-seconds should be bigger than healthcheck-timeout-seconds"
In my k8s usage, I use the conditionType of readinessGates in K8S deployment.yaml. If I set the healthcheck-interval-seconds equals to healthcheck-timeout-seconds, such as both are 5 seconds,  the pod can't startup successfully with `ReadinessGatesNotReady` Error, as the pic below shows. But if I set healthcheck-interval-seconds bigger, like healthcheck-interval-seconds  is 10 seconds,  healthchec

[2021-01-05 18:00] M00nF1sh commented on #1753
@skyfox675 we are planning to release it in Q1 2021 along with other new features.

[2021-01-06 04:13] guan840912 commented on #1572
any update 😊

[2021-01-06 16:45] v1nc3nt27 commented on #1747
@M00nF1sh Hi, so you were actually right, the pods had no internet access. As it turns out, my CNI (flannel) needs UDP Port 8472 to be open. After that, I didn't have to specify the subnets in the Ingress annotations anymore and AWS load balancer controller is running fine. I think all issues are solved then, thanks again!

[2021-01-06 16:45] #1747 closed

[2021-01-06 20:51] M00nF1sh commented on #1754
@jianghuiyou
`healthcheck-interval-seconds` and `healthcheck-timeout-seconds` can be set independently.
However, for ALB, `healthcheck-interval-seconds` must be within [5-300], and `healthcheck-timeout-seconds`  must be within [2-120].
Did you set `healthcheck-interval-seconds` to a lower value than 5? otherwise, it should work.
Also, if there any errors from the controller's logs?

[2021-01-06 22:16] M00nF1sh commented on #1751
@naimiaziz
The `alb.ingress.kubernetes.io/wafv2-acl-arn: auto` is not supported for now.
we'll discuss in roadmaps meeting whether this feature should be included.

In the meantime, what's the UX you expect for this feature? how should the controller know whether `WAF-XXX` should be attached to `LoadBalancer-YYY`

[2021-01-06 22:24] M00nF1sh commented on #1566
@avasquez614

I believe you reused the cluster-name for a previous cluster, and there are dangling TargetGroup created for your old cluster but left uncleaned up.
So when the controller runs in new cluster(with same cluster-name), it found the old TargetGroup and tries to use it.

We'll fix this behavior by filter TargetGroup by vpc-id. however, customers is responsible to delete Ingresses before

[2021-01-06 22:59] genehand opened #1755 "Using ingressClass, the status section is updated with the IP of the node"
After upgrading to EKS 1.18, I'm trying out v2.1.0 for the new `IngressClass` support.  It's mostly working but I'm seeing odd behavior in the status section.  When an ingress is first created I see the standard output:

[code]

However after ~30s, it's updated to:

[code]

This IP is for the node where the aws-load-balancer-controller is running (not the pod IP).  external-dns then uses this fiel

[2021-01-07 02:36] jianghuiyou commented on #1754
I met the issue when I set  both `healthcheck-interval-seconds` and `healthcheck-timeout-seconds` are 5 seconds~ Not lower than 5. And I only changed them to 10s and 4s, it worked, but it's really wierd~

I don't know the errors logs from the controller you said, could you give me some hint how to get them? But as a dev, I don't have the permission to our company's k8s cluster, only can use `kubec

[2021-01-07 06:12] jianghuiyou commented on #1754
after asking devops in my company, I got this error message from alb-controller-logs `kubebuilder/controller "msg"="Reconciler error" "error"="failed to build SG association config: healthcheck timeout must be less than healthcheck interval. Timeout was: 5. Interval was 5"  "controller"="alb-ingress-controller" "request"={"Namespace":"service-name","Name":"service-name-perf-ingress"}`, which requi

[2021-01-07 07:01] ozaditya opened #1756 "Missing validation when using Annotation"
While using creating service with target type set as IP in case NLB. I have noted that calls goes via Load balancer controller but there is no validation when using annotations.

Example to configure backend target group protocol to TLS value should be passed as ssl because service accept parameter value as http,https,tcp,ssl only but in all NLB documentation its referred as TLS everywhere so I be

[2021-01-07 19:36] M00nF1sh commented on #1755
@genehand The controller don't have any code that writes IP in status.
Do you have any other component running in your cluster did that? You can check the audit log of APIServer to figure it out.

[2021-01-07 19:38] M00nF1sh commented on #1756
/kind feature
we currently don't have any webhooks for service/ingress, so there isn't validation in place. we'll add them in future releases

[2021-01-07 19:41] #1754 closed

[2021-01-07 22:51] genehand commented on #1755
Ah you're right, it's coming from the nginx ingress controller:

```I0107 22:49:12.870660       7 status.go:275] updating Ingress ingress-system/ambassador status from [{ k8s-ingresss-ambassad-<unique id>.us-east-1.elb.amazonaws.com}] to [{10.8.31.112 }]```

Thanks! I'll dig into that now

[2021-01-07 22:51] #1755 closed

[2021-01-08 15:23] csgaiger-hiya opened #1757 "--restrict-scheme and --restrict-scheme-namespace flags are missing from v2 versions"
As per this document: [https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/deploy/upgrade/migrate_v1_v2/](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/deploy/upgrade/migrate_v1_v2/)
the AWSLoadBalancerController(v2.0.1) is backwards-compatible with AWSALBIngressController(>=v1.1.3), but actually it is not exactly true, because the --restrict-scheme and --rest

[2021-01-08 21:57] amitde69 opened #1758 "migration from v1 to v2 doesn't register targets to TG"
version: aws-alb-ingress-controller:v2.1.1

Hey,
I have been performing the migration steps documented here
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.0/guide/upgrade/migrate_v1_v2/

everything seems to work as expected except 1 thing, after the whole process is done, all the TGs are getting recreated and added to the ALB rules (as expected), but the Targets in the TargetGro

[2021-01-09 02:08] amitde69 commented on #1758
Seems like the problem was solved (Targets registered) when upgarding to version v2.1.1 although I am still getting these errors on a loop:
[code]

Is it expected ?

[2021-01-11 15:52] M00nF1sh commented on #1757
@csgaiger-hiya
Hi, there is no equivalent functionality in v2 currently. we'll add support for it via IngressClass in future versions.

[2021-01-11 16:41] M00nF1sh commented on #1757
/kind feature

[2021-01-11 16:43] M00nF1sh commented on #1758
@amitde69
would you help share your Ingress spec here.

[2021-01-11 17:35] kishorj commented on #1740
@kclinden, We will publish the govcloud ECR repo URLs in the release notes moving forward. The recent [v2.1.1](https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.1.1) release lists the govcloud ECR repos as well.

[2021-01-12 11:13] root1250 opened #1760 "ingress controller paths for different paths."
Hi Team,

i have 2 apps one front end and one is backend and both uses a same host but different services i have regex rule which works with nginx but not with aws ingress controller.

see my config.

# To route requests between API and UI
# you should have installed IngressController in your K8S cluster,
# see https://kubernetes.github.io/ingress-nginx/deploy/
apiVersion: networking.k8s.io/v1beta

[2021-01-12 13:02] csgaiger-hiya commented on #1757
Thanks!

[2021-01-12 19:58] chrisleck commented on #1731
Yeah, I think for defense-in-depth, we really want to restrict the open ports here.

[2021-01-13 18:00] M00nF1sh commented on #1760
@root1250
ALB Ingress controller currently only supports the "ImplementationSpecific" path type(which is the default).
We'll support "prefix" path in future versions, but we won't be able to support Regex before ALB itself supports it.

The supported path syntax can be viewed here: https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#path-conditions.

[2021-01-13 18:27] arhea opened #1761 "Needs additional permissions to provision ALB on AWS Outpost with customer IPs"
**Description:**
When running Amazon EKS in a VPC with an AWS Outpost, the AWS Load Balancer Controller needs two additional permissions to provision an ALB on the AWS Outpost when using customer provided IPs.

- `ec2:DescribeCoipPools`
- `ec2:GetCoipPools`

These will work in conjunction with the `alb.ingress.kubernetes.io/customer-owned-ipv4-pool` annotation.

[2021-01-13 22:23] kishorj commented on #1761
@arhea, thanks for letting us know. We will update the iam policy docs.

[2021-01-13 22:28] #1740 closed

[2021-01-14 08:57] chandankashyap19 commented on #1758
Hey, Getting similar error in my case as well.
"level":"error","ts":1610614059.2585454,"logger":"controller","msg":"Reconciler error","controller":"ingress","name":"prometheus-server-lb-02","namespace":"kube-system","error":"the server could not find the requested resource (post targetgroupbindings.elbv2.k8s.aws)"}
Please suggest

[2021-01-14 14:16] TjeuKayim commented on #1110
This configuration works for me:

[code]

[2021-01-14 14:31] alexandrud commented on #1452
@rokarajan With v2 of the alb ingress controller you can setup multiple ingresses on the same ALB. Have a look at:
https://kubernetes-sigs.github.io/aws-load-balancer-controller/guide/ingress/annotations/#group.name
and
https://kubernetes-sigs.github.io/aws-load-balancer-controller/guide/ingress/annotations/#group.order

[code]

[2021-01-15 02:13] amitde69 commented on #1758
So after some playing, I figured out I messed up the TargetGroupBindings and they pointed to non-existing TargetGroups.
To resolve it I wiped all the TargetGroupBinding resources with the following command :
[code]

[2021-01-15 02:14] #1758 closed

[2021-01-15 03:17] mda590 commented on #1628
@kishorj I wanted to follow-up on this. We are facing a similar issue as what @jmriebold mentioned. I understand what you are saying about putting the AWS Load Balancer Controller in a namespace without the `elbv2.k8s.aws/pod-readiness-gate-inject: enabled` label. However, we have all of our system components deployed into a namespace together (not kube-system, but org-system) and for some of thos

[2021-01-16 18:20] fernando-villalba opened #1763 "Installation procedure is convoluted and not very IaC friendly"
I don't know if it's just me, but I find the installation procedure described for this controller is all over the place and hard to work with. Let me explain...

In [here](https://github.com/aws/eks-charts/tree/master/stable/aws-load-balancer-controller) you have installation instructions for Helm, where you are asked to first install a CRD with Kustomize and then do a Helm install. I fail to see

[2021-01-17 23:42] #1218 closed

[2021-01-17 23:42] #1251 closed

[2021-01-18 12:57] foriequal0 opened #1764 "Race condition between pod readiness gate injection and ingress model update?"
I've once tried to update both ingress and deployment at once.
But then new pod's readiness gate stuck at this state for few minutes.
[code]

This is a brief timeline of logs of the `aws-load-balancer-controller`. This happened in < 3 seconds.
[code]

I also wonder why the events are in this order for the old pod:
[code]
not in this order:
[code]
Wouldn't modifying the listener to forward traffic

[2021-01-18 16:16] foriequal0 commented on #1065
@kishorj You mean `sleep 30` on `preStop` lifecycle hooks?

[2021-01-18 17:34] rphipps commented on #835
@M00nF1sh can you explain what part of the ALB does not support the rewrites?  The AWS UI for load balancers seems to support it, Is there a part of the AWS API that does not support it?  Or some other part of the software in the stack?

Thanks.

[2021-01-19 00:17] cch0 commented on #1649
* Is there a way to restrict traffic based on SG rules (or other means) for the IP mode? (instead of open to the internet)
* Can you elaborate on the reason that source IP cannot be preserved for the IP mode?

[2021-01-19 11:53] nanasi880 opened #1765 "FailedUpdateStatus keeps being reported continuously."
I am using TargetGroupBinding in EKS.
TargetGroupBinding is working and the request is reaching the Pod, but it keeps reporting the following error continuously.
[code]
Which specific resources are missing in this error?

--- Information about EKS and installation ---

EKS Cluster Version: 1.18

I installed aws-load-balancer-controller in the following way.
[code]

Then, I bound the service named

[2021-01-20 01:16] M00nF1sh commented on #1765
@nanasi880
Hi, thanks for reporting this issue.

Would you help paste the TGB crd here, it might be out-dated.

You should be able to get it by `kubectl get crd/targetgroupbindings.elbv2.k8s.aws -o yaml`

[2021-01-20 07:03] rraisal commented on #835
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ingress-restheart-user-assets
  annotations:
    kubernetes.io/ingress.class: "nginx"
    enable-underscores-in-headers: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    **nginx.ingress.kubernetes.io/rewrite-target: /product/user_assets.files/$2**
spec:
  tls:
    - hosts:
      - XXXXXXXXX
      secretName:

[2021-01-20 08:12] nanasi880 commented on #1765
@M00nF1sh
Thank you for reply.
The execution result is as follows.

[code]

[2021-01-20 12:14] leo-viridis opened #1766 "SSL Passthrough"
Hi,

Is it possible to do SSL passthrough  and skip terminating TLS on the load balancer but do it in the service instead?

I've seen only two issues mentioning that, referring to GRPC. I am interested in having HTTPS on the service. I wasn't able to find anything in the documentation.

Thanks.

[2021-01-20 14:01] dustnic commented on #1452
@M00nF1sh is configuring ingresses as new target groups on an existing ALB now available? You mentioned you were going to work at that post 2.0.0.

[2021-01-20 17:17] foriequal0 commented on #1719
How about abusing (?) validationAdmissionWebHook for pod deletion? Here's the sketch of the idea:
1. ValidataionAdmissionWebhook intercepts pod deletion. It won't allow deletion of the pod if the pod is is reachable from the alb, `ip` type ingress first.
2. However, it patches the pod. It removes labels and ownerReferences so it is removed from ReplicationSet and Endpoint. Also ELB starts draining

[2021-01-20 19:53] shivani-hotstar opened #1767 "EKS - service lb adding additional sg entry to worker node groups"
When i am creating a kubernetes load balancer type service . It adds the load balancer security group to worker node group security group as an inbound rule . Which i don’t want.

The service config i am using .

`kind: Service
apiVersion: v1
metadata:
  name: hello-world
  namespace: test
  annotations:
    service.beta.kubernetes.io/xyz-load-balancer-healthcheck-request: /
spec:
  type: LoadBala

[2021-01-20 21:50] M00nF1sh commented on #1767
@shivani-hotstar
this issue should be long to https://github.com/kubernetes/kubernetes repo.

With the config you provided, it will provision an CLB(classic LoadBalancer), which is supported by the in-tree controllers built inside k8s. The default logic will create a SG for LB and grant ingress permission to allow traffic from SG-For-LB to each worker nodes.  we currently do not have annotations t

[2021-01-20 21:51] M00nF1sh commented on #1766
@leo-viridis
Yes it's possible, if you are using NLB, i believe a tcp service will work.

[2021-01-20 22:29] M00nF1sh commented on #1763
Hi @fernando-villalba,
1. we separated the CRD install from helm because helm [currently doesn't manage CRD updates](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/). And when we release new controller versions, the CRD might contain changes, so we always ask user to apply the CRD first. (when installing in a fresh cluster, helm install will work without apply the crd explic

[2021-01-20 22:30] M00nF1sh commented on #1763
/kind feature

[2021-01-21 00:25] M00nF1sh commented on #1739
Hi @jtprom,
The Ingress spec in k8s<1.18 doesn't allow wildcard in host. and in k8s>=1.18, Ingress allow a single wildcard in host, e.g.(*.signup.dev.example.com).

For your case, the same workaround also works with IngressGroup :D, e.g. to achieve the desired effect, your Ingresses should look like below:
[code]

[2021-01-21 00:41] fernando-villalba commented on #1763
hi @M00nF1sh Yeah I saw that link about the CRDs after posting this and I figured all the rest myself by getting stump and looking at the code. I guess my point is that everything you said here, should be part of your documentation so it is clear, otherwise it's confusing. It's only a few extra lines and I think it would help a lot.

I was just going to suggest your solution for the cert generatio

[2021-01-21 11:05] leo-viridis commented on #1766
@M00nF1sh
Thanks. Is this documented somewhere?

[2021-01-21 11:30] betabandido opened #1768 "Specifying attributes for a group load balancer only once"
We are trying to move from using an NLB + nginx ingress controller to using the AWS Load Balancer Controller. We want to share a single controller among multiple applications. We have managed to do so by using the alb.ingress.kubernetes.io/group.name annotation.

This shared controller will also share the same configuration for all the applications it serves traffic to (e.g., the SSL certificate a

[2021-01-21 13:02] fernando-villalba commented on #1763
@M00nF1sh Jesus, I actually went through and clarified the documentation as best as I could and was excited to help but doing a pull request for this repo is more work than signing up for a bank account. I am being asked all kinds of legal requirements and to sign all these documents and give out my home address. As much as I want to help, this spooked me out of my desire to do so. I was happy to

[2021-01-21 17:43] woodmicha opened #1771 "Controller isn't creating ALB for EKS in existing VPC"
We're working on moving into EKS from a simple ALB->Target Group construct as we're about to scale up.

I was able to get everything working when I used the eksctl to create the cluster using defaults but that posed a problem in that our RDS is in an existing VPC.  I attempted doing it from the console and again doing with eksctl and specifying the existing vpc and subnets.  Everything applies w/o

[2021-01-21 20:58] sirlori commented on #329
@os-virtualretail I did not have time to check thoroughly if this solution was already proposed elsewhere but here is how I managed to get around this "limitation" without using any other ingress type, only ALB.

Basically,  it is possible to create a single Ingress resource in any namespace, let's say "default", annotating it like this `"alb.ingress.kubernetes.io/group.name" = "<PUT_HERE_GROUP_NA

[2021-01-22 00:43] riponbanik commented on #1693
same to me not able to discover subnet, {"level":"error","ts":1611275327.654821,"logger":"controller","msg":"Reconciler error","controller":"ingress","name":"ingress-2048","namespace":"game-2048","error":"couldn't auto-discover subnets: unable to discover at least one subnet"}

[2021-01-22 14:20] rajeevchukkapalli commented on #850
Why my Target groups are not recreating even after I changed the backend protocol to HTTPS from HTTP. I changed at both INgress and service.

[2021-01-22 16:26] Nunuzac commented on #1693
I'm getting the same message "error":"couldn't auto-discover subnets: unable to discover at least one subnet" for private subnets, even tough when I run

aws ec2 describe-subnets \
  --filters "Name=tag:kubernetes.io/cluster/<*cluster_name*>,Values=shared" \
                "Name=tag:kubernetes.io/role/internal-elb,Values=1"

it retrieves them correctly

[2021-01-23 13:46] annakulakrishna opened #1774 "How to name the Load balancer and target group"
Every time an ingress is deployed, a random load balancer and target group name is generated, is there any way to give specific name to load balancer and target group

[2021-01-24 05:29] infa-sanaik commented on #1604
@imgnid Did you find any solution for this issue? We are also facing same issue.

[2021-01-25 19:44] BoucheeMalcolm opened #1776 "Ingress Group is failing to propagate certificate arn changes (Enterprise Impact)"
Hello Everyone,

I'm submitting this using my personal GitHub account, but it's impacting my enterprise's EKS Platform management.

Our current design for ingress file management is to have one primary ingress file with most of the shared annotations, while limiting any dependent ingress file to just these annotations:

kubernetes.io/ingress.class: alb
alb.ingress.kubernetes.io/group.name: groupna

[2021-01-25 20:25] leo-viridis commented on #1766
I managed to setup NLB-IP using the following as annotations:
[code]
And ports are mapped as:

[code]

And that seems to setup everything properly. Services are properly added to NLB, health check passes OK too. However, my intention is to get SSL passthrough to an nginx sidecar pod that serves valid SSL on port 443. For some reason NLB doesn't really pass the traffic to pods. I have added CNAME f

[2021-01-25 23:49] M00nF1sh commented on #1776
@BoucheeMalcolm
The TLS cert is determined per Ingresses. The idea is like this.
1. You have IngressA with host `hostA.example.com`, IngressB with host `hostB.example.com`
2. It make more sense if you specify the certs for `hostA.example.com` on IngressA, and certs for `hostB.example.com` on IngressB.

So in your case, on the secondary Ingresses, it cannot find the TLS certificate for `sharedhostn

[2021-01-26 00:11] BoucheeMalcolm commented on #1776
Thank you for the prompt response.

I may not have expressed it well but Solution 1 was the expected behavior. If I set a certificate on one member of a particular ingress group, it should be shared across all members except for when a different cert is specified in the certificate.arn annotation.  In that case, that unique member will reconcile with its own certificate.

Does certificate discover

[2021-01-26 01:48] M00nF1sh commented on #1452
@dustnic
We'll support this in v2.3.0 (which should be Q2 2020 or sooner). In the meantime, we'll start to tag listener and listener rules to be forward compatible for this feature in next versions.

[2021-01-26 15:31] dbirks commented on #1573
/remove-lifecycle stale

[2021-01-26 16:34] leo-viridis commented on #1766
Update: this now works as expected. For anyone running into the same problem in the future, make sure that the app behind NLB supports Proxy Protocol v2. If that's not the case then drop:

`service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"`

Or enable Proxy Protocol in your backend.

[2021-01-26 16:34] #1766 closed

[2021-01-26 16:55] hintofbasil opened #1777 "Support for cross-cluster load balancer"
We are trying to add pods from two clusters to a single target group.  In one cluster we create a service with `service.beta.kubernetes.io/aws-load-balancer-type: nlb-ip` to create an NLB, in the other we create a TargetGroupBinding to add pods to the target group of the created NLB.

When a controller in either cluster reconciles it removes the pods from the other cluster and adds its own.

It is

[2021-01-26 20:43] rswail opened #1778 "Creating TargetGroupBinding without specifying Ingress"
We have a number of services that are configured with type: ClusterIP.

What we want to do is bind these to a known target group that is already existing.

Created the ALB and the target group as type IP and mapped to port 8080.

Do I need to do something weird with the ALB's routing to be able to see the cluster IPs?

Or should I be creating the target group as type instance and somehow specifyin

[2021-01-26 23:07] Elyahou commented on #1064
Having the same issue here, I have a prestop hook of 60s sleep, but I still get 504 from ALB after deleting a pod manually or scaled down the deployment, the timeout requests are always received 8s after the deregistration started, and are timed out 10s after that so 18s after the deregistration started. At this time, the pod still works and reply correctly to requests that I send manually to it d

[2021-01-26 23:12] rparsonsbb commented on #1064
@Elyahou I don't feel too bad because this is an ongoing issue of over a year at this point but I moved on to kong-ingress-controller and have been very happy with it.  The things that ALB handled nicely - for me primarily was the AWS certs - have now all been handled by adding a couple more pieces, namely cert-manager and external-dns so that I no longer worry about the ALB lifecycle conflicts.

[2021-01-26 23:19] kishorj commented on #1778
@rswail, The targetType should be automatically inferred from the AWS TargetGroup. Do you see `couldn't determine TargetType` errors in the controller logs?

For IP targets, the pod IPs must be from the VPC CIDR range. If you have [Amazon VPC CNI plugin](https://github.com/aws/amazon-vpc-cni-k8s), pods will get the VPC native networking configuration.

[2021-01-26 23:24] kishorj commented on #1777
@hintofbasil, Are you looking for both the controllers to modify the same target group?

Assuming your clusters are on the same VPC, if you have different target groups, then you can create the NLB and target groups externally and create appropriate targetgroupbindings in each of the clusters to reconcile the individual target groups.

[2021-01-26 23:30] kishorj commented on #1774
Feature request #1483 for making the load balancer name configurable. For the custom target group names, you can create targetgroupbinding to attach to an externally managed target group.

[2021-01-27 02:52] rswail commented on #1778
Hmm, OK, I originally saw that error, then added the target type of instance. I'll explore what the Pods are getting as their IP. The plugin/addon is enabled for the cluster.

Should the service not have a ClusterIP definition?

[2021-01-27 02:56] kishorj commented on #1778
did you mean service type ClusterIP?

[2021-01-27 03:45] JacobHenner commented on #1161
I know this issue was closed by #1172, but I am curious if there are plans to incorporate the label suggestion mentioned here:

This would be very useful. My cluster is running with instance targeting, and occasionally the autoscaler will drain and terminate a node before the ingress controller is able to remove the node from all of the ALB target groups. If the controller added this label once ta

[2021-01-27 04:24] rswail commented on #1778
I'm sorta a newbie to K8S. :)

We have a Service (as per the yaml above) that is configured as a Deployment of n replicas, each of which expose port 8080.

What I want to happen is that when that service starts, it's registered in a known Target Group that's already associated with a listener (on port 443) on an ALB.

What I _think_ should happen is that incoming HTTPS traffic to the ALB on port 4

[2021-01-27 06:54] rswail commented on #1778
The nodes are definitely getting IPs in the VPC's range, as is the pods for the service.

Changed the service definition to type NodePort and specified the nodePort as 30081.

I can wget on the node IP:30081 and get a response (there's a web UI serving HTTP).

However, the target group, which is specified in the targetGroupARN and is forwarding traffic to port 30081 doesn't show any targets regist

[2021-01-27 07:09] kishorj commented on #1778
The pods for your deployment would get IP addresses from the VPC CIDR range. The pod IPs are the one that your LB target group uses for IP mode. You can list the pods using the `kubectl` command as follows -
[code]
For IP target mode, service type ClusterIP works fine.

Any reason you'd want to manage the target group separately? It is easier to create an Ingress resource to provision an ALB, or a

[2021-01-27 07:13] kishorj commented on #1771
@woodmicha, Did you add a new CIDR to your VPC after creating the k8s cluster? If you are using EKS, you can send us your cluster ARN and we can troubleshoot further.

[2021-01-27 07:13] kishorj commented on #1768
/assign m00nf1sh

[2021-01-27 07:26] rswail commented on #1778
Get the error: "error: the server doesn't have a resource type "logs""  and kubectl doesn't seem to know about it.

Need to provision the ALB externally because it's routing other stuff not related to the EKS services. So the plan is to use the TargetGroupBinding with pre-existing TGs that are routed at the ALB.

It works when I manually add the node to the TG. I've changed the TG to all be instan

[2021-01-27 07:48] blhagadorn commented on #1604
@infa-sanaik Do you have podReadinessGate and prestop hook configured? What are you seeing, exactly?

[2021-01-27 08:18] woodmicha commented on #1771
Thanks for the reply Kishor.  I tried various things but don't think I
added new cidr's when I created clusters in our legacy VPC.  Maybe
eksctl did.  I ended up getting things working by peering the two VPCs (new
and legacy) and tweaking security groups.

I'll check to see if the cluster in question is still out there and if so
I'll FW you the ARN.  We were pressing hard to get done over the week

[2021-01-27 08:39] syahdeini commented on #1221
Hi I got the same error
[code]

This is my ingress
[code]

I seriously have no idea why is this happening, since my other ingress works fine.

[2021-01-27 09:39] rswail commented on #1778
Once I worked out that "kubectl get logs" should be "kubectl logs" it started to make sense :)

The problem was that in the TargetGroupBinding, I was referring to the nodePort of the service, not the port.

Once I configured the TargetGroupBinding properly it worked :)

So to summarize:

1. If you have a service running on port X, with nodePort Y
2. The TargetGroupBinding is for port X, not port Y

[2021-01-27 11:04] hintofbasil commented on #1777
Hi Kishorj,

Yes, we need both controller to modify the same target group.
NLBs only support one listener per port, and each listener only supports a single target group.  So to have an NLB load balancer traffic between two clusters using the same port we need to add pods form both clusters to the same NLB.

This is all happening in the same VPC.

[2021-01-27 14:33] rswail commented on #1778
I'm going to close this out because I worked out my particular problem, thank you to @kishorj for the very quick response and the pointers in the right direction. I'm probably not exactly using things as they should be, but it definitely does what we need, so thank you for the awesome development work.

[2021-01-27 14:33] #1778 closed

[2021-01-27 14:39] betabandido commented on #1768
As an update, we tried creating an ALB beforehand and later use target group bindings (as instructed here: https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/targetgroupbinding/targetgroupbinding/).

While it worked, it turns out there is quite a bit on overhead when going down that route. For instance, in order to have the ALB send traffic to different services based on t

[2021-01-27 16:01] fhopeman opened #1779 "Using Webproxy to connect internet"
Hi there,

I want to use a webproxy to connect to the internet. In AWS there is no VPC Endpoint for AWS WAF V2. The alb ingress controller is calling this url and I see timeouts to that service api url.

Is it possible to configure a webproxy for the alb ingress controller?

Best regards
Fabian

[2021-01-27 17:15] sbussard commented on #835
this is still very much a problem
/reopen

[2021-01-27 22:04] kishorj opened #1780 "The targetgroupbindings.elbv2.k8s.aws CRD not to be included in the `all` category"
https://github.com/aws/eks-charts/issues/437

Describe the bug
After this CRD is created and because it specifies all in .spec.names.categories, project admins who issue the kubectl get all command, even if they have no targetgroupbindings resources in their namespace, get a permission denied error because by default their clusterrole does not specify any explicit permissions for this kind of reso

[2021-01-27 22:12] kishorj commented on #1779
If you are not using WAF V2, you can disable the waf v2 feature by --enable-wafv2=false controller flag. If you indeed require WAF V2, you should be able to configure HTTP proxy for the controller via the HTTP_PROXY environment variable. Let us know if you run into issues.

[2021-01-27 22:21] M00nF1sh commented on #1765
Hi @nanasi880
The TargetGroupBinding CRD seems good to me. would you send me your clusterARN so i can take a look?

[2021-01-27 22:25] kishorj commented on #1760
This requires support from the ALB side. Adding to https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1571.

[2021-01-27 22:26] kishorj commented on #1757
We plan to support this in the upcoming release with the IngressClassParams feature. Targeted for Q1.

[2021-01-27 22:27] kishorj commented on #1753
We will simplify the SSL redirect in the upcoming 2.2.0 release.

[2021-01-28 09:20] stimmerman commented on #1569
Hi,

Just wanted to add, that we have the same use-case. We currently have a central ingress vpc/egress vpc setup with AWS Network Firewall to centralise the security. The EKS cluster is in it's own VPC and would need to provision the ALB's that are in the Ingress VPC. If we can help with anything, like testing or writing more about the use-case please let me know!

[2021-01-28 12:33] fhopeman commented on #1779
Thanks a lot! We've set the enable-wafv2 flag to false and it works.

[2021-01-28 12:33] #1779 closed

[2021-01-28 15:38] patstrom opened #1781 "Feasibility of running v1 and v2 in parallel"
Hello!

I am wondering about the feasibility of running v1 and v2 in parallel when upgrading. The idea is to use a different ingress class for the controller running v2 and then re-create all the existing ingresses for that class to make sure everything is working correctly before actually committing to it (and updating DNS and whatnot).

Is there anything I need to think about if I were to do thi

[2021-01-28 19:00] kishorj commented on #1781
The v2 controller is backwards compatible with the ALB/target groups configured by v1. You should be able to uninstall v1 and then install v2 controller without incurring a downtime. Are there specific concerns you have with this recommendation?

You should also be able to run v1 and v2 controllers on the same cluster as long as you specify distinct values to the ingress-class controller flag.

[2021-01-29 01:14] hemanthkini commented on #1751
One option here (although slightly different from the OP's request) would be to specify the ACL ARN to the controller, and have the controller associate that ACL with all of the ALB instances it creates. Put differently, it would be ideal (at least for something I'm working on) if we could specify `alb.ingress.kubernetes.io/wafv2-acl-arn: <arn>` to the controller, and have that annotation be merge

[2021-01-29 04:13] ratokeshi commented on #1515
/remove-lifecycle stale

[2021-01-29 07:54] cw-sakamoto opened #1782 "ReadinessGates are removed even for ingress that do not have a targetgroupbinding before the migration to v2."
In our environment we are running multiple ingress classes with each aws-alb-ingress-controller to increase parallelism.

When I tried to installing v2 with `ingress-class:alb`, readinessGates that have not yet been migrated to v2 removed from the pod.

I think this is due to this [process,](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/v2.1.1/pkg/inject/pod_readiness_gate.g

[2021-01-29 08:36] patstrom commented on #1781
My concerns are mainly about the stakes of this. If something goes wrong with the ingress controller more or less everything becomes unavailable. That's why running both in parallel feels like a good option.

The idea is also to use the new controller and ingress API added in Kubernetes 1.18 and the current controller has run since version 1, which is why I am a little hesitant to just go for it.

[2021-01-29 10:17] nanasi880 commented on #1765
Since the problem is occurring on my company's cluster, I cannot publish the ARN right away.

We will prepare a recreated environment and prepare to publish the ARN of the recreated environment.

Do I need to grant some kind of access privileges to this cluster?

[2021-01-29 10:21] rlanore opened #1783 "Ingress ALB not created subnet count 1 < 2"
Hi i following this doc to create an ALB from my EKS.
I was searching since two days now but unable to find anything that help full
https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/installation/
But i receive this error message. All subnet are correctly tagged i think

[code]
To check my subnet tagg i use awscli like

[code]

The route table of one of this subnet is cor

[2021-01-29 12:07] mitom opened #1784 "Dynamically allocating groups for 100+ rules?"
ALBs have a service limit of maximum of 100 rules per ALB. This is very likely not an issue in most environments. In my usecase, there are development environments which may have ingresses associated with them but in reality see barely any traffic. Keeping the ingresses is important so developers can work in production like environments. I'd like to reduce the number of load balancers as much as p

[2021-01-29 17:16] kishorj commented on #1783
@rlanore, ALB requires at least two subnets from different AZs. NLB requires minimum 1 subnet, that is why service of type LoadBalancer works fine.

You have two subnets tagged as `kubernetes.io/role/internal-elb` and one tagged as public `kubernetes.io/role/internal-elb`. By default, when the controller attempts auto discovery it gets only one subnet - your ingress scheme is `internet-facing`, so

[2021-01-29 17:55] kishorj commented on #1782
@cw-sakamoto, thanks for reporting the issue.

In your case, do you have the same pods being targeted by ingresses from v1 and v2 controllers?

[2021-01-29 22:13] M00nF1sh commented on #1784
Hi @mitom
I have thought about add things like `group.name: auto` to support such functionality.
However, we don't have a good design to capture all use case/scenarios in a clean way. There are restrictions on how we can break the rules:
1.  rules for same Ingress shouldn't be break into different ALBs.
2. rules for hostname shouldn't be break into different ALBs.
However, there are a lot of sharp

[2021-01-29 22:13] M00nF1sh commented on #1784
/kind feature

[2021-01-29 22:43] MarvinCai opened #1786 "Question about target group ready time."
Hi there,
We notice it takes about 4 ~ 5min from creating a Service of type LoadBalancer till we can actually hit the endpoint successfully.
We've tested with our deployment and service and with sample ngnix deployment and service provided here: https://docs.aws.amazon.com/eks/latest/userguide/load-balancing.html.
And we've tried both `service.beta.kubernetes.io/aws-load-balancer-type: nlb` and `s

[2021-01-29 23:05] M00nF1sh commented on #1786
@MarvinCai
Hi, it's due to new targets will take 4~5mins to be ready when registered into a NLB's targetGroup.
NLB team have a roadmap Item to optimize this delay this year.

[2021-01-29 23:51] ghostsquad opened #1787 "no matches for kind "Certificate" in version "cert-manager.io/v1alpha2""
the latest example docs point to requiring cert-manager installed, which apparently has graduated to `v1`, so the manifests don't match in the instructions.

[2021-01-31 11:39] haalcala commented on #298
Can you guys improve your documentation system like how mongodb or elasticsearch does it? Like in a way that I can select which version of the library/system documentation I want to view?  I mean, can you not overwrite the published url with the latest one, coz I have to maintain some old versions, coz it gets confusing trying remember what I did before (with 1.1.4 for example) and looking at vers

[2021-02-01 00:58] cw-sakamoto commented on #1782
@kishorj

No, pods are targeted by v1, so aAdding and deleting to the AWS targetgroup is done by the ingress controller of v1.

Only `readinessGates` is managed bu v2 with mutation webhook, and ingress is v1, so its `readinessGates` is set to null by v2.

[2021-02-01 01:12] #1365 closed

[2021-02-01 05:05] schollii commented on #835
@nitrag I don't see how this will work: the redirect action will notify client to redirect to another URL which is not what is desired

[2021-02-01 13:26] rlanore commented on #1783
Thanks for reply. I don't realise that alb as a requirement to two public subnet.

[2021-02-01 13:26] #1783 closed

[2021-02-01 16:21] kpulgam opened #1788 "[v2] Support for --alb-name-perfix"
We use --alb-name-perfix in our current v1 alb ingress controller implementation , which helps us craft our IAM policy for controller to make it resource bound based on the prefix.
I see there was similar discussion in  https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1302 to see if --alb-name-perfix is also supported in v2 ( this will help us along with tag based conditions

[2021-02-01 17:07] weskerfoot commented on #1223
@M00nF1sh Can you please explain how that addresses the problem? Is there some documentation with an example on how to expose a service with a load balancer running in another namespace using IngressGroup?

[2021-02-01 17:47] dudicoco opened #1789 "Disable pod readiness gate for a specific ingress?"
Hi,

Is it possible to have the webhook skip injecting a pod with the readiness gate configuration, according to an annotation perhaps?

Thanks

[2021-02-01 21:32] #1379 closed

[2021-02-01 21:54] enummela opened #1790 "Migration from v1 to v2 results in downtime due to no registered targets"
Hello, I followed all of the steps in the [upgrade guide](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/upgrade/migrate_v1_v2/), going from ALB Ingress Controller 1.1.5 to AWS Load Balancer Controller 2.1.1. The upgrade caused all of the targets from our existing ALB target groups to be unregistered and I cannot figure out what went wrong. No matter what I try the ta

[2021-02-01 22:33] #1380 closed

[2021-02-01 22:53] Gowiem commented on #1081
@wmorgan @nicholasgcoles was there ever any workaround found here? Is it not possible to use Linkerd with aws-load-balancer-controller?

[2021-02-02 03:42] skerava opened #1791 "Controller can't attach ALB security group to eks cluster security group"
Hi,
The alb controller provides two ingress annotations to work with AWS security groups to restrict traffic access.
[code]

In my scenario, `alb.ingress.kubernetes.io/security-groups` is applied.

![image](https://user-images.githubusercontent.com/50441394/106543614-08cf1200-6541-11eb-9756-0cc88c251a57.png)

However, while trying to navigate to the ingress URL, the website application was not acc

[2021-02-02 08:57] moonek opened #1792 "Does this controller work on vanilla k8s?"
Hi, I have a question.

Can I use this controller on my own k8s cluster in AWS other than EKS nodes?

[2021-02-02 17:06] kishorj commented on #1792
It works, here are a couple of things to be aware of
- IAM for service account doesn't work, so you will have to attach the IAM permissions to the worker node IAM roles
- you will have to tag your subnets appropriately for auto-discovery to work

If you run into other issues, please share it with us as well.

[2021-02-02 18:17] schollii commented on #1791
I have same issue. The docs provide an explanation for this:

The annotation supports multiple security groups being on ALB, so I can see why the controller does not automatically apply them to the nodes' security group. However the controller should automatically add the specified SG if there is only one in the annotation, AND it should support having some SG that are added automatically, and som

[2021-02-02 18:27] wmorgan commented on #1081
@Gowiem I'm not sure. From Linkerd's perspective we need that `l5d-dst-override` header to be set by ingress. If aws-load-balancer-controller supports that then we're good. If not, then they cannot be used together.

[2021-02-02 18:42] Gowiem commented on #1081
@wmorgan gotcha, yeah I had a similar discussion with a Charles from ya'lls team (I think) in Slack. He mentioned that I could try routing at the Service layer instead of the LB layer and see if that works for my use-case, but I would like to understand if this is something that might be 100% supported in the future.

@M00nF1sh, sorry to ping you out of the blue, but since you've helped me out in

[2021-02-02 21:56] kishorj commented on #1787
@ghostsquad, could you confirm your kubernetes version and the cert-manager manifests you applied? I'm not aware of any recent changes to the cert-manager manifests based on the links we documented.

[2021-02-03 12:43] Ph4rell opened #1794 "AWS Internal ALB unreachable"
Hello guys,

I'm facing some difficulties when i want to setup an Ingress ressource with scheme internal. When i setup this same config in internet-facing everything works fine.

If someone got an idea of where it fail, i would appreciate :)

Below my ingress configuration:
[code]
Below my service configuration:
[code]
My External-DNS configuration:
The records are well created in private and publ

[2021-02-03 16:24] dudicoco commented on #999
/reopen

[2021-02-03 16:52] dudicoco commented on #999
@davidhao3300 I was able to partially workaround this by giving the controller only list and watch permissions, so at least it can't read the secrets contents.

@M00nF1sh I think that it is too permissive to give this kind of permissions to the controller, can we do something about it please?

[2021-02-03 21:32] johnjeffers commented on #1223
Another request for clarification of how this solves the problem, please.

I created two ingresses in two different namespaces, and gave them the same group name. This created two different ALBs instead of honoring the group name request.

[code]

[2021-02-03 21:51] yyurov commented on #1264
Any updates ?
I'm using last version "amazon/aws-alb-ingress-controller:v2.1.0" and still have same issue.
When I'm creating **ingress** in ALB I see same default actions with _return fixed response 404_.
This is reason why I can't use CNAME's in R53 with "A" records associated with ALB.

I'm making ALB thru **ingress** + I'm using external-dns-controller which create **A** records in R53 when ALB

[2021-02-03 22:03] M00nF1sh commented on #1794
@Ph4rell
Where did the curl executed from? for internal load balancers, you need to curl from within VPC.

also, did the ALB and TargetGroups setup correctly in your AWS console? (i.e. is the targets in TargetGroups healthy?)

[2021-02-03 22:06] M00nF1sh commented on #1792
closing this issue as it can work on vanilla k8s. (e.g. kops)

In addition to the tips @kishorj  posted,  If aws-vpc-cni is not been used, you have to manage the worker node securityGroups yourself. (e.g. via the alb.ingress.kubernetes.io/security-groups annotation for ALB/Ingress). Note: it's possible to use `aws-vpc-cni ` even on vanilla k8s(kops supports it).

[2021-02-03 22:06] #1792 closed

[2021-02-03 22:09] M00nF1sh commented on #1791
@skerava @schollii we currently don't support worker node securityGroup management when customized ALB securityGroup is specified(via the `alb.ingress.kubernetes.io/security-groups` annotation).

We'll review and work on features that support it.
/kind feature

[2021-02-03 22:13] M00nF1sh commented on #1790
@enummela
Hi, migrating from v1 to v2 shouldn't have deregistered the targets.
would you share the model definition json in the controller logs(before the `successfully deployed model` log message)?

Also, it would be better if you can share with us your cluster ARN.

[2021-02-03 22:18] M00nF1sh commented on #1789
@dudicoco
Currently we only support to enable/disable readiness gate per namespace(via labels). so you need to create your pods in a separate namespace if different readinessGate configuration is needed.

BTW, it's technically feasible to disable readinessGate per Ingress(e.g. by have a field like enableReadinessGate in the generated TargetGroupBinding for the Ingress).  What's your use to disable

[2021-02-03 22:23] M00nF1sh commented on #1788
@ketan-sdeuser
The v2 Controller doesn't support the `--alb-name-perfix` flag. we now used a fixed name pattern for ALB/NLBs: `k8s-<namespacedName>-<hash>`. The fixed name pattern allows us to have fine-grain control to stay within ELB's naming limits.

What's your use case to use this `--alb-name-perfix` flag? will a new feature to allow you specify the whole ALB name(instead of a prefix) for Ing

[2021-02-03 22:26] M00nF1sh commented on #1786
closing this, but feel free to create a new issue if there are further questions :D

[2021-02-03 22:26] #1786 closed

[2021-02-03 22:35] enummela commented on #1790
Hi @M00nF1sh, our cluster's ARN is `arn:aws:eks:us-west-2:021659412776:cluster/toothless`. FYI I already downgraded back to ALB Ingress Controller to fix the downtime issue. Fortunately I still have access to the [logs](https://github.com/kubernetes-sigs/aws-load-balancer-controller/files/5921935/logs.zip) from when AWS Load Balancer Controller was running in our cluster.

[2021-02-04 00:26] ska-ibees commented on #669
Looks like an old issue. But do we have this possibility now?
I have been scratching my head to implement a custom header to pass some value that can be used by backend application. Unfortunately couldn't find any thing in docs and elsewhere. The only solution have found is to adopt ALB+nginx-ingress.

[2021-02-04 03:21] schollii commented on #1791
@m00nf1sh Cool, I'd be happy to help

[2021-02-04 05:46] ghostsquad commented on #1787
per: https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/installation/

[code]

[code]

[code]

[code]

as you can see, cert-manager has graduated to `v1beta1` and aws-load-balancer-controller is still referring the `v1alpha2` apiVersion.

[2021-02-04 05:48] ghostsquad commented on #1787
for further clarification, the instructions for kubernetes 1.16 or greater refer to:

[code]

which contains:
[code]

so neither version is correct.

[2021-02-04 06:45] kishorj commented on #1787
@ghostsquad, If you are installing on K8s version 1.15 with the legacy cert-manager, you will have to modify the yaml manifest as follows -
[code]
Please refer to issue #1737 for more details

If you are installing on 1.16 and later, the cert-manager and yaml manifests should work without modifications. If cert-manager doesn't work in your case (for example, cert-manager will not work in Fargate),

[2021-02-04 07:05] skerava commented on #1791
@M00nF1sh great，my pleasure to help

[2021-02-04 08:39] dudicoco commented on #1789
Thanks @M00nF1sh.

My use case is for internal facing critical components.
For example, I don't want prometheus to be dependent on the readiness gate, I would rather have some 5xx in the internal facing UI (ingress) than the possibility of the prometheus pods not being ready within the cluster.

[2021-02-04 08:43] sabirmmoglad opened #1796 ""couldn't auto-discover subnets: unable to discover at least one subnet""
**Background**:

- I have a `VPC` with 4 `subnets`, 2 public and 2 private: here is the yaml I used to create the cluster:
[code]

- I used  tutorial from the official aws documentation, I managed to set my ALB controller and the controller is running perfectly:

The cluster contains two node groups:
- First node group has one node of type: `t3a.micro`
- Second node group has one node of type: `t3

[2021-02-04 11:03] patstrom commented on #1721
Maybe this should be documented somewhere? :sweat_smile:

[2021-02-04 11:11] Ph4rell commented on #1794
My bad, it was a routing issue between two VPC, missing routes in one routeTable :(.

[2021-02-04 11:11] #1794 closed

[2021-02-04 13:02] arnikasky commented on #1629
Have the same issue as @diranged

[2021-02-04 14:08] dudicoco opened #1797 "Metrics are broken in v2"
Hi,

The following metrics are missing from the v2 release:
aws_alb_ingress_controller_errors
aws_alb_ingress_controller_aws_api_errors
aws_alb_ingress_controller_aws_api_retries

Is there a reason why these metrics were removed?

Thanks

[2021-02-04 14:10] sabirmmoglad commented on #1796
Closing, when I deployed my load balancer, I did not change `your-cluster-name`

[2021-02-04 14:10] #1796 closed

[2021-02-04 14:13] dudicoco commented on #1797
Looks like these metrics were renamed to `aws_api_..`.

It would be nice if the metrics could be documented.

[2021-02-04 20:55] M00nF1sh commented on #1797
@dudicoco
Thanks for raising this issue.  we'll provide documentation for these metrics.

[2021-02-04 20:56] M00nF1sh commented on #1797
For now, you can refer the description in this PR for metrics usage: https://github.com/aws/aws-app-mesh-controller-for-k8s/pull/167

[2021-02-04 20:59] enummela commented on #1790
Update: I tried again and still all the targets are deregistered.

Right after installing AWS Load Balancer Controller Helm chart:

![Screen Shot 2021-02-04 at 12 36 52 PM](https://user-images.githubusercontent.com/5798441/106953773-a106fb80-66e7-11eb-87e9-260458a6ed36.png)

A few seconds later:

![Screen Shot 2021-02-04 at 12 51 37 PM](https://user-images.githubusercontent.com/5798441/106953846-b

[2021-02-04 20:59] M00nF1sh commented on #1782
@cw-sakamoto
I think we can introduce a flag to see whether automatically remove v1 readinessGates. (which default to true)
Will it suit your use case?

 BTW, V2 only supports a single controller per cluster(it's scalable enough, so no need to run multiple controllers)

[2021-02-05 02:18] yadavcbala commented on #899
Is this still on the road map ? - The documentation currently says it supports `GRPC` from ALB to Pods using `backend-protocol-version` but only if the actual protocol is either HTTP or HTTPS

[2021-02-05 12:15] patstrom commented on #1781
I solved this by running v2 in parallel to v1 but with different ingress classes! Everything worked very well and I didn't even need to shut down external DNS, I just deleted the old ingress and everything was updated accordingly.

Thank you for the help!

[2021-02-05 12:15] #1781 closed

[2021-02-05 12:28] gauravachatrath opened #1799 "getting error when using image 2.1.1"
Hi,

I am getting this below error when i use image 2.1.1. in alb-ingress. Any help i can get on how to use the image or what am i missing ?

{"level":"info","ts":1612527706.0665936,"msg":"version","GitVersion":"v2.0.0-dirty","GitCommit":"1028fa4f363a9a8e37b07ff6a093b7b422923512","BuildDate":"2020-10-23T01:34:38+0000"}
{"level":"info","ts":1612527709.2469158,"logger":"controller-runtime.metrics","

[2021-02-05 16:20] kishorj commented on #1799
@gauravachatrath The logs indicate that you are running version 2.0.0, not 2.1.1. How did you install the controller? Also, the CRDs appear to be missing. You can find the installation instructions in the live docs [[link]](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/installation/).

[2021-02-05 18:17] M00nF1sh commented on #1789
@dudicoco
could these internal facing critical components running in a separate namespace which didn't enable readiness gate? (or they have to leave in same namespace with other components that requires readinessGate)

[2021-02-05 21:53] #1761 closed

[2021-02-05 22:28] s2504s commented on #1144
/remove-lifecycle rotten

[2021-02-07 08:37] dudicoco commented on #1789
@M00nF1sh I was able to do this by adding `objectSelector` to the mutating webhook configuration:
[code]

[2021-02-07 09:19] dudicoco opened #1806 "Mutating webhook availability concerns"

[2021-02-07 09:19] #1806 closed

[2021-02-07 09:27] dudicoco opened #1807 "Mutating webhook availability concerns"
Hi,

With the addition of the mutating webhook in v2 the aws-load-balancer-controller has become a cluster critical component. If the controller pods are not available to serve the mutating webhook requests **pods cannot be created within the cluster**.

This important detail is not documented anywhere, I ran into it during my tests of the new controller version.

I recommend the following to be d

[2021-02-08 00:57] #1403 closed

[2021-02-08 08:30] gauravachatrath commented on #1799
Hi,

i followed the steps as said but now i am getting this error

unable to recognize "v2_1_0_full.yaml": no matches for kind "Certificate" in version "cert-manager.io/v1alpha2"
unable to recognize "v2_1_0_full.yaml": no matches for kind "Issuer" in version "cert-manager.io/v1alpha2"

Any suggestion what values are needed or anything i need to change ?

[2021-02-08 16:09] kishorj commented on #1799
@gauravachatrath, did you install the cert-manager appropriate to your kubernetes version?
[code]

You can install the helm chart, it doesn't require cert-manager to be installed.

[2021-02-08 17:46] M00nF1sh commented on #1807
/kind documentation
Thanks for the valuable suggestions. I think we should make these changes into our default provided yamls.
* The controller should have a PDB of maxUnavailable: 1
* The controller should have a priority class of system-cluster-critical
* The controller should have a hard pod anti affinity with topologyKey: kubernetes.io/hostname
* mutating webhook configuration by changing the

[2021-02-08 19:12] dudicoco commented on #1807
@M00nF1sh note that PDB should not be used with 1 replica as it will prevent the pod from ever being evicted from the node.
Also  pod anti affinity of `topologyKey: kubernetes.io/hostname` is not useful without at least two pods.

[2021-02-08 19:28] akash0710 opened #1808 "Pod Readiness Gates Not Working"
Hi,
I have a deployment with a service attached via labels. I have created a target group binding and controller is able to add the pods to the target group.

Now i am trying to enable readiness gates. I added the required label(`elbv2.k8s.aws/pod-readiness-gate-inject=enabled`) to the namespace.

Things which i tried:

- restarted all the pods
- fresh new deployment using kubectl apply
- restart

[2021-02-08 19:30] M00nF1sh commented on #1807
@dudicoco
It's seems to be the right time to change it to be more than 1 replica. we will have to offer multiple replica install manifests before EKS provide managed addons.

[2021-02-08 19:34] M00nF1sh commented on #1808
@akash0710
not sure what's wrong here from the giving information. in the past, similar issue were reported but the user added the required label as annotations instead of labels. Note: it need to be label on the namespace where your pods runs, instead of the namespace of this controller(kube-system).

Would you help paste the output of `kubectl get namespace <your-ns-name> -o yaml` and `kubectl g

[2021-02-08 19:44] M00nF1sh commented on #1764
@foriequal0
The controller currently doesn't support zero downtime when u modify the Ingress/Service in such way that result in TargetGroup changes(e.g. changed the backend service).  The Targets won't be health-checked before added to LoadBalancer. However, we indeed can do optimizations like modify the rule once new targets are registered(but not health-checked) to reduce the downtime in such ca

[2021-02-08 20:00] akash0710 commented on #1808
`kubectl label namespace <ns>  elbv2.k8s.aws/pod-readiness-gate-inject=enabled`
 This is what is ran to enable label.
I will need sometime to get the config. I have 3 applications running in separate namespaces having a controller of their own in that namespace. Is this a wrong way to set it up?
Also it seems the MutatingWebhookConfiguration has got created only once for only one of the namespaces

[2021-02-08 20:14] akash0710 commented on #1808
Mutating Webhook Configuration
<details>
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: "2021-01-20T12:46:37Z"
  generation: 2
  labels:
    app.kubernetes.io/instance: <ns>
    app.kubernetes.io/managed-by: Tiller
    app.kubernetes.io/name: aws-load-balancer-controller
    app.kubernetes.io/version: v2.0.1
    helm.sh/chart: aws

[2021-02-08 20:47] akash0710 commented on #1808
Update:
This seems to be working, since i was running controllers in individual namespaces, i had passed watchNamespace param which restricts the scope to a single namespace.

Is the setup to run only 1 ALB controller in kube-system namespace by design?
Reason for this question:

- I am only working with different target group binding in different namespaces so the setup doesnt cause any issues in

[2021-02-08 21:37] M00nF1sh commented on #1808
@akash0710
You should only run a single controller deployment for v2.0.0+. The controller view itself as the sole owner of worker node securityGroup rules (rules with `elbv2.k8s.aws/targetGroupBinding=shared` description). There will be conflicts if multiple controller is running. (technically it's possible to allow multiple controller by provide a flag to override the `shared` keyword for each co

[2021-02-09 02:34] nanasi880 commented on #1765
I don't know why, but I can't reproduce it anymore, so I'm closing the issue. Thank you for your support.

[2021-02-09 02:34] #1765 closed

[2021-02-09 07:30] akash0710 commented on #1808
Thanks this helps closing this issue.

[2021-02-09 07:30] #1808 closed

[2021-02-09 08:38] gauravachatrath commented on #1799
Thank you issue solved.

[2021-02-09 08:38] #1799 closed

[2021-02-09 09:30] s4mur4i opened #1809 "[Question] ELB security group"
We are currently using alb-ingress-controller 1.1.6
We were currently investigating to add inbound CIDRs to the ELB. But according to annotations there is no option for this:
We have following annotatations currently:
[code]
`service.beta.kubernetes.io/aws-load-balancer-internal` should be boolean, so setting there cirdr ranges doesn't help.
In ALB docs I see possibility for defining CIDR range: h

[2021-02-09 10:20] AhmadMS1988 opened #1810 "[Question] Attached to an already built ALB"
Hi;
Can I attach the ingress target groups to a manually built ALB if I added the following tags to it?

ingress.k8s.aws/resource: LoadBalancer
ingress.k8s.aws/stack: my-awesome-group
elbv2.k8s.aws/cluster: dev-eks

and annotate my ingress with
alb.ingress.kubernetes.io/group.name: my-awesome-group

or there are configs that are stored in a configmap or in Etcd?
Thanks

[2021-02-09 16:11] siqusoft opened #1811 "Upgrading from v1.2.0-alpha.1 to V2"
Hi @M00nF1sh
we are currently using the beta feature of v1.2.0 in kuberentes 1.16 version of eks cluster and currently have about ~ 100 services with single load balancer.  i wanted to upgrade to the v2 version  with out any impact  since  tier one applications are hosted on the cluster.  wanted to see if we can simply upgrade the image and update the i am role to add the additional  required role

[2021-02-09 18:04] chancez commented on #1714
I'm also noticing that if you specify `externalTrafficPolicy: Local` with `nlb-ip` mode, it creates health checks on the traffic port instead of the healthCheckNodePort.

[2021-02-09 18:12] chancez opened #1813 "nlb-ip mode with externalTrafficPolicy: Local not using HTTP health check against healthCheckNodePort"
When creating a `type: LoadBalancer` service with `externalTrafficPolicy: Local`, the service creates a separate health check port (healthCheckNodePort) that is used to determine which hosts actually have a pod for the service in question.

Normally, it fails the health check if the pod is not on a given host, and that causes the cloud loadbalancer to not send traffic to that node, which does not

[2021-02-09 18:37] kishorj commented on #1714
@chancez, for IP mode, the node port and the healthCheckNodePort gets ignored since NLB can target traffic directly to the pods. You can override the health check configurations via annotations, however, you need to make sure it is the pods that have the ports open, not the nodes.

[2021-02-09 18:39] kishorj commented on #1813
@chancez, for IP mode, the node port and the healthCheckNodePort gets ignored since NLB will target traffic directly to the pods, not the instances. You can override the health check configurations via annotations, however, you need to make sure it is the pods that have the ports open, not the nodes.

[2021-02-09 18:43] kishorj commented on #1811
@siqusoft, you should be able to upgrade from v1 to the latest version of v2 (v2.1.2) without incurring downtime. You'd need to uninstall the v1 version completely, the ingress resources can stay as is, then install v2 following the upgrade instructions [[link]](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/upgrade/migrate_v1_v2/).

[2021-02-09 18:45] chancez commented on #1813
Right, does this also mean the healthCheckNodePort wouldn't even be reachable on the podIP since the nodePort is bound to the instance's IP? What can I do to make it so I can use UDP with nlb-ip such that the health check passes?

[2021-02-09 19:19] M00nF1sh commented on #1813
@chancez
NLB currently don't support health check with UDP. if your pods only have UDP, the workaround should be add a sidecar container to your pod which merely listens for tcp traffic. (a simple shell script can work)

[2021-02-09 19:19] kishorj commented on #1813
Here are couple of options in this case
- Leave as is and rely on the fail-open mode if health check fails for all of the targets
- Modify your application to listen on a TCP port as well to respond to the health check queries
- Add a sidecar to your deployment, this sidecar will open up a TCP port to perform the health check and respond to the queries. You should be able to use HTTP/HTTPS for hea

[2021-02-09 19:51] kishorj commented on #1809
@s4mur4i It is apparent that you wanted to create a Classic Load Balancer (based on the annotation). Let us know if it is otherwise.

In this case, you can specify the source ranges via the service annotation, for example
[code]
or the service spec
[code]

The default source range is 0.0.0.0/0.

[2021-02-09 21:14] M00nF1sh commented on #1810
@AhmadMS1988 the controller is stateless. so if you tag the resources correctly, it will be picked up by the controller.

Just one caveat, if you delete the Ingress, the controller will try to delete the loadBalancer(as it thinks it owns it), is it the expected behavior for your use case?
we'll add new annotation to allow user use a external LB without deletion the LB on Ingress deletion in the fu

[2021-02-09 21:34] M00nF1sh commented on #1809
adding to @kishorj 's suggestion, prefer to use `spec.loadBalancerSourceRanges` than annotation. 😄

[2021-02-09 22:15] mberkow commented on #1743
@M00nF1sh
Sorry for the delay in replying. Checking the AWS Tags I realized I had a mistake in one of the options and the tags did not match. Closing this.

[2021-02-09 22:15] #1743 closed

[2021-02-10 00:48] cw-sakamoto commented on #1782
@M00nF1sh
Thank you for your comments.

I would like to have v1 and v2 coexist in one cluster, since our team prepares for the migration to v2, but the dev side has the decision to switch from v1 to v2.

[2021-02-10 13:43] markrity commented on #1279
so there is still no native solution for this issue ?

[2021-02-10 14:18] s4mur4i commented on #1809
Thank you, it solved my problem!

[2021-02-10 14:18] #1809 closed

[2021-02-10 21:11] itskingori opened #1814 "Issue with pod readiness gates not getting injected"
I've been trying to understand why pod readiness gates are not being injected into my pods. After double/triple checking everything I'm starting to think that the issue might be because of this code ...

https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/9c719f75e7c3e8252343e5b1eaf2192d87dfb374/pkg/inject/pod_readiness_gate.go#L90-L93

Correct me if I'm wrong but that piece of co

[2021-02-10 21:40] itskingori commented on #1814
I'm realising now that the issue is likely because my target type is `instance` and not `ip` ... 🤦🏽‍♂️ ... [and I quote from here](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/deploy/pod_readiness_gate/):

There's also https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1348#issuecomment-675783036:

Maybe we should state it clearly on the "Pod readiness ga

[2021-02-10 22:02] M00nF1sh commented on #1814
/kind documentation
Yes, we should do that. PRs are welcome too 😄

[2021-02-10 22:05] kishorj commented on #1811
/assign m00nf1sh

[2021-02-10 22:10] M00nF1sh commented on #1807
/assign kishorj

[2021-02-10 22:11] kishorj commented on #1807
/assign kishorj

[2021-02-10 22:12] kishorj commented on #1797
/assign

[2021-02-10 22:14] M00nF1sh commented on #1791
also, i think we can change the default behavior, so that we reuse a single LB-securityGroup shared for all ALBs in the cluster, and create a another additional LB-securityGroup per ALB. the shared LB-securityGroup will be granted access to worker nodes at **any port number** in your cluster. while the additional LB-securityGroup per ALB is used to encode the inbound client CIDRs that is allowed t

[2021-02-10 22:18] itskingori commented on #1814
Done; https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1815.

[2021-02-10 22:20] M00nF1sh commented on #1789
@dudicoco
That's actually a brilliant solution 👍
We should add objectSelector to our pod webhook to un-select the controller pod itself. and add documentation to podReadinessGate feature page about this solution.

/kind documentation

[2021-02-10 22:20] kishorj commented on #1789
/assign

[2021-02-10 22:22] M00nF1sh commented on #1787
@ghostsquad
Is this issue solved per kishor's comments? If not, feel free to open a new issue

[2021-02-10 22:22] #1787 closed

[2021-02-10 22:25] M00nF1sh commented on #1782
@cw-sakamoto
Thanks for the response :D
In such case, i think the controller-level flag(e.g. `--remove-legacy-readiness-gate=true`) should be able to help here. Would you mind doing a PR to add it?

[2021-02-10 22:47] #1814 closed

[2021-02-10 22:51] M00nF1sh commented on #1814
😃 thanks soo much for the super quick PR 👍

[2021-02-10 22:56] M00nF1sh commented on #1279
@markrity
are you still facing this issue in version v2.1.1+? the controller now honers the the clusterAutoscaler's taint. So it the node is been shutdown by CA, it will be excluded.

For node been shutdown manually, the controller's built-in retry should be able to handle it correctly.

[2021-02-10 23:05] johnjeffers opened #1816 "Which annotations are needed to use multiple ingresses in a group?"
Apologies for asking a question instead of reporting an issue, but this isn't answered in the docs anywhere that I can find.

When you are creating a group of ingresses with `alb.ingress.kubernetes.io/group.name` what annotations are required to be present on all of the ingresses in the group?

From my testing, it looks like you need:

[code]

If I'm missing one of those annotations, the target gr

[2021-02-10 23:14] johnjeffers commented on #1816
I should probably ask this question more clearly.

If I have multiple ingresses in a group, do I have to set every single annotation on every single ingress? Or can I have a "default" ingress that has the majority of the annotations I need, while the other ingresses simply inherit from that one?

Let's say I have a "default" ingress that looks like this:

[code]

Which of those annotations need to

[2021-02-11 00:02] M00nF1sh commented on #1816
@johnjeffers thanks for creating this issue(and feel free to do it as it means our docs isn't good) 😄

It's currently documented as "MergeBehavior" column in the [annotation table](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/ingress/annotations/).
In general,
 * annotation based settings specific to LoadBalancer are MergeBehavior "Exclusive", which means you should

[2021-02-11 00:26] schollii commented on #1791
@m00nf1sh I understand the possible need for different CIDR per ALB, makes sense, but can you clarify (maybe an example) the ingress and egress rules on the shared LB?

[2021-02-11 02:43] johnjeffers commented on #1816
Thank you for the explanation, super helpful. I'm embarrassed that I missed the stuff on merge behavior in the docs 😳

[2021-02-11 02:43] #1816 closed

[2021-02-11 05:18] dhavaln commented on #835
Using EKS for a dry run and bumped into this issue.

[2021-02-11 09:37] rraisal commented on #835
@dhavaln have look at https://github.com/kubernetes/ingress-nginx/issues/6292#issuecomment-763765042

[2021-02-11 12:12] qoobic opened #1817 "Document advised resource 'request' and 'limit' settings"
We're using the Ingress controller and wondering what constraints (request and limit) we can apply.

We only have one ingress point currently but it might extend to two or more in the near future.

What values should we be using here?

[2021-02-11 12:50] AhmadMS1988 commented on #1810
Thank you for your response;
Let's suppose I have two ingresses on the same group, if one of them deleted, will the alb be deleted, or will just be deleted if no other ingresses are defined on the same group.

[2021-02-11 14:56] mitom commented on #1784
Hi @M00nF1sh sorry for the slow response.

I've tried to come up with an idea of how could this work but I don't think I have a good design suggestion.

To your points:

1. I don't think this is in itself a huge problem. (combining with point 3) Having 100 rules in 1 ingress could potentially be a hard limit here. If it's 100+ rules for the same host, there is just no way to achieve it due to the

[2021-02-11 22:59] M00nF1sh commented on #1810
@AhmadMS1988
it will be deleted when no other ingresses are defined on the same group.
when you delete a single Ingress while there are other ingresses within group, it merely cleanup rules for the deleted ingress from the ALB

[2021-02-11 23:23] M00nF1sh commented on #1790
@enummela Found the problem now 😄
it's due to your node have the label: `alpha.service-controller.kubernetes.io/exclude-balancer: `false``.

In ALBController v1.15, in addition to check whether label `alpha.service-controller.kubernetes.io/exclude-balancer` exists on node, it also checks the whether value is `true`.
In later versions, e.g. ALBController v1.18, we changed the logic to only check wh

[2021-02-12 00:41] cw-sakamoto commented on #1782
@M00nF1sh

Good idea!  Thanks.
It's no problem, because dev team will remove v1 `readiness-gate`  in manifests when migrating to v2.

[2021-02-12 02:09] Quentin-M commented on #1161
PR https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1172 leads to unexpected behaviors, and in our case - downtime.

Marking a node Unschedulable **does not** mean that the workload on that particular node is unhealthy or should be taken out of service. This is the core difference between Unhealthy and Unschedulable, cordon and drain, etc. Unschedulable simply flags the node to

[2021-02-12 05:13] nicroto opened #1819 "Documentation Request: A guide on setting up ALBC on an unmanaged cluster."
Hey folks,

The information I find about setting up the ALBC on a non-EKS cluster (in my specific case I still use AWS, but manage my cluster with kops) is only in the form of very short pointers of closed issues (where people are asking "Can I use it in a vanilla k8s cluster?" or similar), here in the repo.

Would it be possible to make a short guide?

[2021-02-12 08:28] seivan commented on #1573
Yeah this is pretty important (for me) and would solve https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1116

Right now, there is no way to get access to the ALB after it has been created for further use, like getting its address and dealing with Route53.

[2021-02-12 10:02] mikalai-t opened #1820 "Lack of logging settings"
Hello.

**What happened**:
It seems AWS LB controller only have 2 options for `--log-level` setting because despite `--log-level=error` it keeps recording messages with `info` and even `debug` severity:
[code]

**Expected behavior**
Logger must show messages with severity equal or lower than configured only.

**Environment**
* AWS EKS
[code]
* Installed from the Helm repo `https://aws.github.io/ek

[2021-02-12 12:57] mivanovaxway commented on #1132
/reopen
Is there a way to get gzip working with ALB?

[2021-02-12 15:50] mikariekkinen commented on #1629
For this particular problem of errors in controller log, looks like it is enough to just create those missing namespaces.

[2021-02-12 16:59] enummela commented on #1790
@M00nF1sh you're right, `alpha.service-controller.kubernetes.io/exclude-balancer=false` was the problem. Your help with this is really appreciated. Thanks!

[2021-02-12 17:39] kishorj commented on #1660
/assign

[2021-02-12 18:37] leandro-loos opened #1821 "annotation "aws-load-balancer-subnets" not taken into account"
According to the documentation (https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/guide/service/annotations.md):

I have a `v1.18.15` and a `v1.16.15` kubernetes clusters created with `kops` on top of EC2 instantes.

Deploying the following service as part of a nginx-controller-deployment:
[code]
Where `subnet-XXXX, subnet-YYYY, subnet-ZZZZ` are valid subnets on the VP

[2021-02-12 21:30] ZillaG opened #1822 "How to apply this in my AWS EKS cluster?"
The README.md file doesn't tell me how to apply this in my AWS EKS cluster. How do I do it? Or should I expect it to already "be there" if I create an AWS EKS cluster?

[2021-02-12 21:39] M00nF1sh commented on #1822
Hi, the installation guide can be found here: https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/installation/

[2021-02-12 21:39] M00nF1sh commented on #1822
it's not installed by default in EKS

[2021-02-12 22:22] philomory commented on #1608
As far as I'm aware this shouldn't be stale. I'd still love to see this, at least.

[2021-02-12 23:21] M00nF1sh commented on #1608
@philomory
This controller currently supports NodePort service as well. If you use the NLB-IP mode annotation `service.beta.kubernetes.io/aws-load-balancer-type: "nlb-ip"` on services, even it's a nodePort service, the controller will manage the loadbalancer and targetGroups for you automatically.

Also, there have been proposal in upstream to allow dual TCP/UDP.

[2021-02-12 23:21] M00nF1sh commented on #1608
/kind feature

[2021-02-12 23:24] M00nF1sh commented on #1790
@enummela Glad able to help 😄
closing this. feel free to open a new issue if there are further issue/questions 😃

[2021-02-12 23:24] #1790 closed

[2021-02-13 06:39] rohitnss opened #1823 "ALB Ingress Permission Issue"
Hello this is regarding the ALB Ingress lesson

Following are the commands I've fired to start the ALB Ingress

# Create the Cluster

[code]

# Associate OIDC

[code]

# Create Private Node Group

[code]

# Create SA in K8s for ALB controller

`kubectl apply -f eks/awsalb/rbac-role.yaml
`

Contents of rbac-role.yaml

[code]

# Mapping SA in K8s with IAMRole in AWS

[code]

# Policy File used for c

[2021-02-14 16:52] git-kote commented on #1629
after upgrading to newer version we are able to delete the ingress resources (and we realized that load balancers are not getting deleted as the security groups are not created by ingress instead we created manually)

[2021-02-15 07:02] rohitnss commented on #1823
For all the poor souls attempting to get this working below is the reference I used for getting things working.

https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html

[2021-02-15 07:02] #1823 closed

[2021-02-15 13:20] dignajar commented on #1384
Hi @raunyoliveira-hotmart how do you manage the DNS records with Nginx and Route53 ?

For example, if I have an application `echo` and I want to expose it to `echo.yourhost.com` the ingress for that app should be pointing to the `nginx` ingress class to generate the backend config in `nginx.conf`, but not sure how to manage the DNS to point to the ALB.

[2021-02-15 14:09] seivan opened #1824 "Reference to created ALB via infrastructure code."
It seems like a lot of tickets could be resolved if there was an easy way to refer to the ALB via whatever infrastructure tools being used to deploy the rest of the stack, e.g Terraform.
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1116
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1086
https://github.com/kubernetes-sigs/aws-load-balancer-controll

[2021-02-16 06:15] kishorj commented on #1821
@leandro-loos, did you specify the subnets annotation after creating the service, or modify the annotation? Do you see any errors in the controller logs? The issue could be on the AWS side where it is not allowing modifications to the NLB subnets after creation. You can check if the AWS has a "temporary limitation"  when you try to edit the NLB subnets from the AWS console

[2021-02-16 06:21] kishorj commented on #1819
/kind documentation
Similar Issue #1792

We will mention it in the installation guide.
@nicroto feel free to raise a PR to update the installation guide.

[2021-02-16 06:27] kishorj commented on #1817
If you install the v2.1.2 yaml manifests, here are the resource limitations currently used
[code]

If you use the helm chart, you can specify similar limits.

[2021-02-16 07:08] junojuno90 opened #1825 "Is there no way to `Preserve client IP addresses` when use `nlb-ip` mode?"
Dear, alb-controller developers.

We changed `service.beta.kubernetes.io/aws-load-balancer-type` annotation located on `Service` template recently from `nlb` to `nlb-ip`.
And after that, `x-forwarded-for` client ip was changed as internal ip `10.x.x.x`.
So we eanbled `Preserve client IP addresses` option on `Target Group` options manually.
But when after that changes, all request seems not reached

[2021-02-16 07:29] nicroto commented on #1819
@kishorj Thanks. I would submit a PR, but unfortunately I am one of those people in need of the docs. :D (opting for haproxy ingress controller until I can test this out)

[2021-02-16 07:50] qoobic commented on #1817
Thanks @kishorj, I missed that somehow

[2021-02-16 07:50] #1817 closed

[2021-02-16 11:10] alexanderaucobo commented on #1132
/reopen

[2021-02-16 15:07] dudicoco commented on #1751
@M00nF1sh I like the suggestion of `alb.ingress.kubernetes.io/wafv2-acl-arn: auto`, or alternatively, as a flag when starting up the controller.

I don't think the WAF arn should be hardcoded in any configuration (annotations/IngressClass/controller) because it's a unique ARN similar to a VPC/subnet ID, not something you want to hardcode but rather auto discover.

Are there any plans on implementi

[2021-02-16 15:47] viorelvintan opened #1826 "Support for exposing private hostnames / IP addresses outside of Kubernetes"
We have to expose an AWS Elasticsearch domain with advanced security enabled, deployed in a VPC (whose endpoint hostname resolves into a private IP address) and we couldn't find a way of doing it by creating Ingress / Service / Endpoints objects with annotations supported by aws-load-balancer-controller.

There was a [similar issue](https://github.com/kubernetes-sigs/aws-load-balancer-controller/i

[2021-02-16 16:45] kishorj commented on #1825
You can specify the preserve client IP configuration via the following annotation
[code]

For more details on the annotation, you can check the live docs [[link](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/service/annotations/#target-group-attributes)].

[2021-02-16 19:48] seivan commented on #1810
@M00nF1sh Sorry to hijack this thread, but can you actually create an ALB outside of K8, and attach it via annotations alone?
Will it set up targetGroupBindings and everything else?

[2021-02-16 19:51] seivan opened #1827 "What annotations are supported when creating ALB & TargetGroupBinding manually?"
Are the options defined here available?
https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/service/annotations/

Or just the ones under `service.beta.kubernetes.io/aws-load-balancer-target-group-attributes`

Like could I define something like
`service.beta.kubernetes.io/aws-load-balancer-healthcheck-path` ?
And have it apply?

What I am really interested in, is creating th

[2021-02-17 01:29] junojuno90 commented on #1825
Thanks. I'll check :>

[2021-02-17 01:29] #1825 closed

[2021-02-17 03:54] johnjeffers opened #1828 "Certificate rotation expected?"
I've deployed the Helm chart with ArgoCD, and it Argo keeps marking it out of sync because certificates for the webhooks are changing. This seems to happen about once per day. Is this expected?

![Screen Shot 2021-02-16 at 8 51 15 PM](https://user-images.githubusercontent.com/11821214/108153747-06b89780-7099-11eb-97f5-14020abf64d5.png)

[2021-02-17 04:02] kishorj commented on #1820
@mikalai-t, the `log-level` flag currently can have only two values - info or debug. If anything else is specified, the debug level gets set on the logger. That is why you see debug logs when you specify level of error.

We will add more configuration options to the log-level flag in the upcoming releases.

[2021-02-17 04:11] kishorj commented on #1828
@johnjeffers, the keys are generated when the helm template gets rendered. The controller doesn't modify the keys/secret. If your CD workflow involves rendeering a new helm template for the aws-load-balancer-controller chart then the new keys will generated every time the template gets rendered. You can use the cert-manager to manage the keys/certificates instead.

[2021-02-17 04:12] kishorj commented on #1813
@chancez, I'm closing the issue. If you still face problems, feel free to reopen or file a new one.

[2021-02-17 04:12] #1813 closed

[2021-02-17 04:12] johnjeffers commented on #1828
Got it. Thank you for the quick reply!

[2021-02-17 04:13] #1828 closed

[2021-02-17 04:16] kishorj commented on #1708
@jackie-JD closing the issue. Feel free to reopen or create a new one if you have further questions.

[2021-02-17 04:16] #1708 closed

[2021-02-17 04:18] kishorj commented on #1693
closing the issue. Feel free to reopen or create a new one if issue persists.

[2021-02-17 04:18] #1693 closed

[2021-02-17 04:29] kishorj commented on #1132
We will keep track of this in the AWS ALB feature list. Closing this.

[2021-02-17 04:29] #1132 closed

[2021-02-17 04:31] kishorj commented on #1760
Keeping track of the issue in AWS ALB feature list.

[2021-02-17 04:31] #1760 closed

[2021-02-17 06:51] zmarouf commented on #1439
Define the `IngressClass`
[code]
Reference it like so
[code]

[2021-02-17 10:29] zickzackv commented on #1254
https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DeleteLoadBalancer.html

The current version of the api docs state that you can *not* delete an LoadBalancer when the deletion_protection is set.
If this controller does not delete first the protection and then deletes the LB, the LB will not be automatically deleted.

[2021-02-17 16:52] johnjeffers commented on #1828
For anyone else who runs across this, the solution is to add the following to the ArgoCD `Application` object. This will tell Argo to ignore when the certificates change.

[code]

[2021-02-17 17:42] danvaida commented on #1352
/remove-lifecycle rotten

[2021-02-17 21:39] M00nF1sh commented on #1827
@seivan
Currently we don't support to use a ALB created outside for a Ingress. so no annotations were available.(support for external-provisioned ALB with Ingress is on our roadmap).

What you can achieve currently is to create ALB and TargetGroup and ListenerRules all from outside. and create the TargetGroupBinding resource in k8s for the TargetGroups created.

[2021-02-17 21:41] M00nF1sh commented on #1826
/kind feature
@viorelvintan this is currently not supported but should be supported as a feature (there is already a feature request for this).

Currently we expect all endpoints to be associated with a pod. we should change this behavior.

[2021-02-17 21:43] M00nF1sh commented on #1824
@seivan
What is the feature request here? is it to use a externally-provisioned ALB or expose the managed ALB ARN(by the controller) to the Ingress object?

[2021-02-18 02:12] kishorj opened #1830 "Controller not adding health check SG rules for NLB with preserve source IP and source ranges configured"
The v2.1.2 controller is does  add the SG rules for health check for NLB if all of the following conditions are met
- Preserve client IP is set via target group attributes annotation
- Load balancer source IP range is configured via annotation or service spec
- Health check port is the same as the traffic port
If the configured source ranges does not include the load balancer subnet CIDRs, health

[2021-02-18 02:22] yanyixing commented on #1693
In aws China region, the service account's annotation must be set
`eks.amazonaws.com/audience: sts.amazonaws.com.cn`

[2021-02-18 09:28] sppwf commented on #1767
Hi,

@M00nF1sh you are right, with this config, Kubernetes will add CLB.
However the idea with ALB controller is the same. ALB Controller will add for each ALB new entry in node Security Group. If it reaches the Limit (60 by default - You can have 60 inbound and 60 outbound rules per security group), ALB controller will fail to add finish the configuration (basicaly it will not add targets to Traf

[2021-02-18 12:14] nandeeshb09 opened #1833 "After moving our service to ALBv2 getting server unavailable"
Hi Team,

One of our service were in CLB and if we try to move to ALBv2 getting server is unavailable.

From frontend to backend traffic is not routing even though health checks are passing.

alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig":
      { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'
    alb.ingress.kubernetes.io/certificate-arn: a

[2021-02-18 15:30] abatilo opened #1834 "NLB IP Target registration is extremely slow"
I've configured an NLB with IP targets to point to an instance of Traefik 2 and noticed that when I have pod readiness gates enabled, it might take upwards of 5 minutes for a single target to register and be considered healthy. Is this normal/expected?

[2021-02-18 16:25] kishorj commented on #1830
/kind bug

[2021-02-18 18:01] kishorj commented on #1834
The NLB target registration can take from 90 to 180 seconds to complete. After registration, the targets are marked healthy only after the configured health check passes. This delay is from the AWS NLB and is currently expected. It is not due to the pod readiness gate configuration.

In case of rolling updates to your application, the pod readiness gate helps mitigate the effects of this delay by

[2021-02-18 18:08] #1830 closed

[2021-02-18 18:09] M00nF1sh commented on #1833
@nandeeshb09
Is the targets healthy in targetGroups created? (you can check them in aws console).
also, how do you access your service? since you used `scheme: internal` and specified a hostname in IngressRules, you have to access the LB from within your VPC and access it using the hostname(e.g. configure a cname to point hostname to the ALB's DNS).

[2021-02-19 02:29] leonardorifeli commented on #899
@yadavcbala same problem here.
Do you solved that?

[2021-02-19 02:53] yadavcbala commented on #899
We were able to - but as mentioned above, it needs to be behind `HTTPS`. Below is the example setup [Courtesy: @M00nF1sh ]. We went ahead and tweaked the below example to suit us with `instance` type and also updated the health check [the default AWS ALB health check wasn't accurate for us]

[code]

[2021-02-19 03:26] #1630 closed

[2021-02-19 04:15] kishorj commented on #1771
@woodmicha, closing the issue. If you still encounter problems, feel free to reopen or create a new one.

[2021-02-19 04:15] #1771 closed

[2021-02-19 04:19] kishorj commented on #1732
@nsubrahm-aws, do you still have further concerns on this matter? I'm closing this issue, feel free to reopen or file a new one if you still have questions/concerns.

[2021-02-19 04:19] #1732 closed

[2021-02-19 04:40] woodmicha commented on #1771
Thanks

On Thu, Feb 18, 2021 at 8:16 PM Kishor Joshi <notifications@github.com>
wrote:

[2021-02-19 05:41] kishorj commented on #1668
@arohner, apologies for late response, I remember I had drafted the response but somehow I missed posting it.

I did review your cluster's configuration, and the service account annotation appeared correct. However, the aws-load-balancer-controller pod did not have the aws-iam-token configuration when I checked. It could be possible that the controller pod got created before the service account go

[2021-02-19 05:42] kishorj commented on #1668
I'm closing the issue for now. Feel free to reopen or create a new one if you still have problems.

[2021-02-19 05:42] #1668 closed

[2021-02-19 08:28] nandeeshb09 commented on #1833
Is the targets healthy in targetGroups created? Yes...target groups are healthy.
how do you access your service? since you used scheme: internal -- we have set VPN and using vpn will access url.
cname is pointed to the ALB's DNS has configured already.

[2021-02-19 10:57] abatilo commented on #1834
Ah, thank you. Is there anything at all I can do to help speed that up?

[2021-02-19 11:13] nandeeshb09 commented on #1833
@M00nF1sh And giving the 200 code in the developer mode and response is in the html mode instead JSON mode, and UI is not loading and not routing the traffic to the  backend pod.

[2021-02-19 13:38] leonardorifeli commented on #899
@yadavcbala
Thanks a lot.
Do you can explain an example of your gRPC server/client?

[2021-02-19 16:13] yadavcbala commented on #899
The server is a simple application which is hosting grpcserver and I used [grpcurl](https://github.com/fullstorydev/grpcurl) as client to basically check (simple queries) if I can query and confirm the GRPC works. If you are looking for a client application - I do have below python application (Courtesy: M00nF1sh ) which can also be used to confirm the working of GRPC

For more details - Please ch

[2021-02-19 17:39] bbacker opened #1836 "alb.ingress.kubernetes.io/certificate-arn ordering: first certificate arn should be load bal default"
Thank you for all your work on this project.

We are running aws-load-balancer-controller:v2.1.1 and have a couple load balancers with multiple certificates.
It was our understanding that the first listed certificate should be the default certificate.

However after applying an alb definition starting like this:

    apiVersion: extensions/v1beta1
    kind: Ingress
    metadata:
      name: "ingre

[2021-02-20 01:07] M00nF1sh commented on #1836
/kind bug
@bbacker
It is the extract behavior. This is a bug we introduced during v1->v2 rewrite. we'll fix this in next release.

[2021-02-20 02:45] bbacker commented on #1836
@M00nF1sh - thank you for the quick reply, and glad to hear it's on the list to fix. thanks

[2021-02-21 15:40] trucnguyenlam commented on #1821
@kishorj I have exactly the same problem that @leandro-loos have
- there is no error in the controller logs, and
- this happens when creating service
Please fix this.

[2021-02-21 19:39] Topher-the-Geek opened #1838 "Troubles configuring clientSecret for OIDC auth"
I have a lot of things working with this controller, and I'm delighted. Now I'm trying to configure the load balancer to use my Dex instance as an IDP, and I'm having troubles.

I've setup a secret with my `clientID` and `clientSecret`. I've setup the annotation `alb.ingress.kubernetes.io/auth-idp-oidc` on my ingress. I can verify in the EC2 Web UI that the rule is created on the load balancer as

[2021-02-21 20:37] Topher-the-Geek commented on #1838
I couple additional helpful details. I'm running EKS with 1.18, and I installed the load balancer controller using the helm chart 1.1.5.

[2021-02-22 03:11] darren-steven commented on #1629
We have noticed this inability to delete behavior as well. If you deploy a targetGroupBinding that is mis-configured, it cannot be deleted without removing the finalizer

[2021-02-22 17:31] dsaydon90 opened #1839 "Failed build model due to conflicting loadBalancerAttribute idle_timeout.timeout_seconds: 900 | 1200"
I'm getting the following error
[code]
relevant logs from `kubectl -n kube-system logs -f system-alb-ingress-controller-56d67bcb8b-txwwm`
[code]

ingress
[code]

ingress details:
[code]

I have other `ingress` resources with the annotation `alb.ingress.kubernetes.io/load-balancer-attributes` with different values. Is that can be an issue?

workaround:
remove the annotation `alb.ingress.kubernetes.

[2021-02-22 17:59] kishorj commented on #1821
@leandro-loos, the lb you are trying to create is reconciled by the AWS in-tree controller since the `service.beta.kubernetes.io/aws-load-balancer-type` is `nlb. The in-tree controller in the k8s versions that you mentioned does not support this annotation.

The fix for the in-tree controller was introduced by the PR https://github.com/kubernetes/kubernetes/pull/97431 and will be available in k8s

[2021-02-22 18:04] kishorj commented on #1839
@dsaydon90, this is expected behavior. If you specify the load balancer attributes, then it needs to be the same across all ingresses in your group.

Once you specify the same attributes across all ingresses in your group, this error will not be there.

[2021-02-22 18:07] kishorj commented on #1838
@Topher-the-Geek, what does your ingress spec look like? Could you share the redacted version?

[2021-02-22 19:27] Topher-the-Geek commented on #1838
@kishorj Thank you for your reply. I got creative and intercepted the token request to see what in fact was being passed through to Dex for client_secret. That lead me right to the problem. I'm going to save you some steps.

[Here](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/9776d298fddc1bb7fe9245510467d2507580ec96/internal/ingress/auth/auth.go#L167-L168)
[code]

clientId

[2021-02-22 19:40] #1575 closed

[2021-02-22 19:46] ficofer opened #1840 "Example (doc) for 1 Ingress - > Multiple Services in different namespaces"
Sorry team I got confused on ing-controller.

[2021-02-22 21:01] #1840 closed

[2021-02-22 21:27] kishorj commented on #1840
@ficofer, I saw your earlier query in my email. This project is for the ingress controller for AWS ALB.

As for your query, the ingress has to be in the same namespace as your service. You can group multiple ingresses together via ingress group feature. If you create an ingress group, the controller will provision a signle ALB for the group and reconcile rules from all of the ingresses.

[2021-02-23 13:11] seivan commented on #1827
@M00nF1sh Just to be clear, if I am using `TargetGroupBindings` to wire things up, I can't annotate my Service with `service.beta.kubernetes.io/aws-load-balancer-healthcheck-path`?
Why is that the case, it seems like it shouldn't make a difference, whatever the annotations do to configure the TargetGroups on AWS, should work here as well?

[2021-02-23 13:16] seivan commented on #1824
@M00nF1sh The feature request would be some way to identify said ALB once created.

Maybe the annotations on the `Service` or `Ingress` would be updated with the `ARN` and allow a `kubectl jsonpath` to traverse and extract it.

[2021-02-23 13:19] seivan commented on #1824
Closing this in favour of https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1573 that would pretty much support all those issues, but it's not the best solution as it requires some logic on whatever infrastructure as code to "wait" until the load balancer is set up and then execute kubectl functions to fetch the jsonpath - but it's a good start!

[2021-02-23 13:19] #1824 closed

[2021-02-23 13:46] imbohyun1 opened #1841 "Migrate manifests to apiextensions.k8s.io/v1, admissionregistration.k8s.io/v1"
Observed warning messages because of using `admissionregistration.k8s.io/v1beta1`, `apiextensions.k8s.io/v1beta1`.

    W0223 02:11:14.340757    5248 warnings.go:70] apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition
    W0223 02:11:15.329475    5248 warnings.go:70] admissionregistration.k8s.io/

[2021-02-23 14:31] jonathanjuursema commented on #1763
@fernando-villalba would you be willing to share the steps you've taken to deploy to deploy the ALBCv2 without the cert manager? We're facing a similar issue (deploying via IaC, and trying to minimize what we run in our cluster, so if we can work without cert-manager we'd like to).

[2021-02-23 15:12] hyprnick commented on #976
/remove-lifecycle rotten

[2021-02-23 15:13] hyprnick commented on #976
/reopen

[2021-02-23 15:18] hyprnick commented on #976
This is still an open issue.  Random 502 errors after a period of no activity.  Pods are not restarting, nodes are stable.

[2021-02-23 16:43] atulaggarwal commented on #1609
PR has been merged. Closing the issue.

[2021-02-23 16:43] #1609 closed

[2021-02-23 17:06] kishorj commented on #1841
@imbohyun1, thanks for raising the concern. We are aware of this and it is in our roadmap to update the apiversions for the affected resources. We are waiting for the EOL of EKS 1.15 version.

/kind feature

[2021-02-23 20:24] M00nF1sh commented on #976
/reopen
@hyprnick If the pods are not restarted, then there shouldn't be any activity made by the controller(which should be validated through Cloudtrails). Have we created support cases to ALB team to investigate where the 502 error came from?

[2021-02-23 21:20] NickPhillipsCFA commented on #976
@M00nF1sh No, I haven't created a support ticket from the console. Should I do that?

[2021-02-23 21:21] hyprnick commented on #976
@M00nF1sh No, I haven't created a support ticket on the AWS Console. Should I do that or are you able to do it?

[2021-02-23 22:03] M00nF1sh commented on #976
@hyprnick You should do it since it will need your customer information.

[2021-02-24 00:03] acjohnson commented on #1569
I ran in to this as well today and need to be able to update a target group with IPs from a dedicated VPC for our EKS cluster.

[2021-02-24 00:44] M00nF1sh commented on #1838
@Topher-the-Geek
Thanks for the troubleshooting. We didn't do the same thing to clientSecret because we are not sure whether there will be cases whether clientSecret can end with whitespace or not..
should check whether there is RFC for such thing.

[2021-02-24 00:45] M00nF1sh commented on #1838
/kind documentation
Also, no matter what the behavior will be, we indeed should document it clearly.

[2021-02-24 00:59] M00nF1sh commented on #1833
@nandeeshb09
Given you are migrating from CLB to ALB, do you aware of ALB's behaviors? I'm wondering where is the "server unavailable" came from, is it from ALB or from your backend application?

e.g. ALB currently didn't do any path rewrites, so if you access your app with `www.example.com/home/path`, then your backend pods must be able to handle http traffic with PATH "/home/path".

[2021-02-24 02:10] acjohnson commented on #1569
This worked for me for the time being: https://github.com/acjohnson/aws-load-balancer-controller/commit/9b55e701a70f1f011b117defaf6b0cd7ea7e6ee0

[2021-02-24 03:34] jeffingn opened #1842 "Use target IP instead of POD IP while configuring Target as IP method in NLB"
Hello,

Currently we have an option to use NLB with Target as IP using  AWS Load Balancer Controller as per the link [1]. But it uses POD IP instead of actual instance IP.

We would like to configure it using TargetIP instead of POD IP.

Customer use case:

1. Pods are more destructive than Instance IP - ie internal scheduling of K8s, deployments etc..

2. We run our services on spot instances

Re

[2021-02-24 06:17] cw-sakamoto commented on #1782
I modified it so that it could be handled without the `--remove-legacy-readiness-gate` option.

[2021-02-24 12:35] jonathanjuursema commented on #1763
Figured it out. For anyone interested in running ALBCv2 without cert-manager:

Create a secret like so (this is what cert-manager does under the hood, when creating the Certificate resource):
[code]
The ca.crt and tls.crt are the same (self-signed) certificate. The certificate needs to have the following properties:
- CN: aws-load-balancer-serving-cert
- SAN: aws-load-balancer-webhook-service.kube

[2021-02-24 16:12] kishorj commented on #1842
@jeffingn would instance targets not work for your use case? This controller will support instance mode in the upcoming v2.2.0 release. Support for instance targets is already there in the k8s in-tree controller.

[2021-02-24 20:33] Kunamatata opened #1846 "Migrating from networking.k8s.io/v1beta1 to networking.k8s.io/v1"
I was wondering if it was possible to migrate to the new apiVersion for networking.k8s.io
Some of the changes involve `serivceName` and `servicePort` as well as the annotations deprecating `kubernetes.io/ingress.class: alb` from what I understand. Does this also mean that we must use `kind: IngressClass` with a `metadata.name: alb` ?

The examples on the live documentation still use the `v1beta1`

[2021-02-24 22:10] awoimbee opened #1847 "EKS 1.19 compatibility admissionregistration.k8s.io/v1beta1/ValidatingWebhookConfiguration"
This doesn't work with kubernetes 1.19 (helm chart 1.1.5 -> aws-load-balancer-controller v2.1.3)
[code]

[2021-02-24 22:22] M00nF1sh commented on #1847
@awoimbee
We tested on our 1.19 EKS cluster, it's a warning instead error, and "deprecated" instead of "removed" in our case.
[code]

wondering what could caused the behavior you saw in your case.
/kind investigation.

Also, i think it's time to vend YAMLs for different k8s versions anyway given it's a deprecated API.

[2021-02-24 22:26] M00nF1sh commented on #1846
@Kunamatata
We'll keep support `kubernetes.io/ingress.class` annotation and it takes priority than spec.ingressClassName.
In the next release, we'll offer a flag called "--disable-ingress-class-annotation", where we have a  webhook for Ingress will prevent new Ingress creation(or updates) that have `kubernetes.io/ingress.class: alb` annotation(which basically enforce the adoption of IngressClass r

[2021-02-25 01:54] M00nF1sh commented on #1847
This is actually a bug in pulumi. the API removal is postponed to v1.22.
Upgrade to latest pulumi should fixed it:
https://github.com/pulumi/pulumi-kubernetes/pull/1474
https://github.com/pulumi/pulumi-kubernetes/pull/1475

[2021-02-25 05:15] Vieufoux commented on #1309
Beak this in two separate ingress should be wokr, but it will set two separate ALB, which is more costly

[2021-02-25 11:32] awoimbee commented on #1847
I indeeed use pulumi. I didn't think it would have any impact on this issue
Thanks for the quick response !

[2021-02-25 11:32] #1847 closed

[2021-02-25 18:20] #1839 closed

[2021-02-25 19:27] #1782 closed

[2021-02-25 20:01] jesstracy opened #1848 "Set custom headers"
Hi, Looking through the documentation I'm trying to find a way to set a custom header before the request is sent to the backend, like can be done in the k8s nginx ingress controller here: https://kubernetes.github.io/ingress-nginx/examples/customization/custom-headers/#custom-headers
(I want to set the header `X-Request-Start: "t=${msec}"`)

Is that something that is already possible, or would you

[2021-02-25 23:22] TBBle commented on #1608
[Mixed-protocol (TCP/UDP) Service is alpha in k8s 1.20](https://kubernetes.io/docs/concepts/services-networking/service/#load-balancers-with-mixed-protocol-types), is this the feature ticket to track for support for the `MixedProtocolLBService` feature gate?

Or is this for multiple Services contributing to a single NLB, similar to #1707 and #1545?

[2021-02-26 02:00] #1307 closed

[2021-02-26 23:59] kishorj commented on #1608
@TBBle, this is the correct issue for mixed protocol support.

Once the MixedProtocolLBService feature gate is enabled, service of type LoadBalancer with mixed protocols should work fine without further changes with the following limitations -
- cannot have same port for both UDP and TCP, for example TCP port 53 and UDP port 53. This is a limitation on the AWS side.
- NLB dual-stack currently does

[2021-02-27 00:35] philomory commented on #1608
@TBBle What, exactly, is the limitation on the AWS side that causes this? Doesn't the NLB listener protocol `TCP_UDP` cover the case of the same port over both TCP and UDP?

[2021-02-27 01:41] TBBle commented on #1608
I assume you meant @kishorj with that question.

[Per the docs](https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html), `TCP_UDP` is explicitly for the "same port in TCP and UDP" case.

[2021-02-27 01:46] philomory commented on #1608
@TBBle You're absolutely right, I meant @kishorj. My apologies.

@kishorj, what's the cause of the limitation that a Load Balancer service with mixed protocols cannot use the same port for both TCP and UDP? It's definitely supported on the AWS side in the form of the TCP_UDP protocol type. But maybe I'm misunderstanding something here?

[2021-02-27 04:07] kishorj commented on #1608
@philomory, you are correct, AWS supports TCP_UDP protocol type. In my prior response, I was referring to the current controller code without further changes handling services with TCP and UDP protocols.

As you mentioned, It is possible to utilize the TCP_UDP protocol type supported by AWS to combine matching TCP and UDP ports from the service spec as long as the target ports or node ports for TC

[2021-02-27 05:31] lvargas0584 commented on #1159
kubernetes version?

[2021-02-28 00:17] sylr commented on #1084
/remove-lifecycle stale

[2021-03-01 21:02] M00nF1sh commented on #1848
@jesstracy
Sorry, that feature is not available currently since ALB itself doesn't support it yet.
Once ALB supports requests modification, we'll support it in this controller.

[2021-03-02 15:57] jesstracy commented on #1848
ah, got it. Thanks for getting back to me!

[2021-03-02 15:57] #1848 closed

[2021-03-02 16:43] LevonBecker commented on #1483
How about now?  We're on v2.1.3... This feature is important to us for chargeback of stacks etc. Plus it makes easy to filter ALBs for a specific stack etc.

Thanks in advance!

[2021-03-02 21:52] clayvan opened #1851 "v2 no longer supports AWS Local Zone ALBs"
We run in a Local Zone currently using ALB Ingress Controller v1, which is similar but different from AWS Outposts.

In v1 (ALB ingress controller) our ALB was able to be created by the following annotations:
[code]
Because we are using private IPs for the ALB, but it needs to be internet facing to grab a customer owned IP, we had to specify the subnets as we don't want to tag them as internetfaci

[2021-03-02 22:39] #1744 closed

[2021-03-02 23:36] jdevine-avtx commented on #1569
+1 running into this too. Any update on when it will be fixed in the man branch @M00nF1sh ?

[2021-03-02 23:59] kishorj commented on #1851
/kind feature
/assign m00nf1sh
we will be adding support for the Local Zone in the upcoming v2.2.0 release.

[2021-03-03 01:26] jerry153fish opened #1852 "x-forwarded-proto been reset by alb"
Hi all, we have an ingress using

user -> (https ) -> alb ->(http) pod

We can get the correctly x-forwarded-for header but the x-forward-proto one has been reseted. We had similar ingress but using inginx-ingress which can disable the proxy-proto.

Is it possible to do the same for alb ?

[2021-03-03 12:38] tru-cstavares opened #1853 "Multiple tagged subnets in AZ not working correctly when creating AWS ELB"
Our network setup has 4 subnets (in each AZ) as follows:

    1 subnet is public (1 AZ-a, 1 AZ-b, 1 AZ-c)
    1 subnet is private (1 AZ-a, 1 AZ-b, 1 AZ-c)
    1 subnet is private (1 AZ-a, 1 AZ-b, 1 AZ-c)
    1 subnet is private (1 AZ-a, 1 AZ-b, 1 AZ-c)

We use public subnet to create public ELBs. It happens that we run out of IPs on our public subnet, so the solution was to add additional CIDR blo

[2021-03-03 16:02] kishorj commented on #1853
@tru-cstavares, you could try specifying the subnets via annotation.

For NLB,
[code]
The limitation for NLB is that you will have to specify the annotation during service creation, and not edit it later.

For ALB,
[code]

[2021-03-03 20:48] M00nF1sh commented on #1852
@jerry153fish
What do you mean by `x-forward-proto one has been reseted`. from the [documentation](https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/how-elastic-load-balancing-works.html), ALB supports X-Forwarded-Proto. currently ALB didn't have any knobs to adjust the behavior.

[2021-03-03 22:04] M00nF1sh commented on #1853
auto-discovery is designed for simple use case where a set fixed subnet is always used as ELB subnets.
For cases like this, you have to specify the subnets.
Also, in future releases, we might allow you to specify subnets in IngressClasses(for ALB) to avoid specify it on every Ingress.

[2021-03-03 22:14] M00nF1sh commented on #1842
closing this as the instance mode support PR is merged, we'll release it in v2.2.0.

[2021-03-03 22:14] #1842 closed

[2021-03-03 22:19] M00nF1sh commented on #1834
@abatilo
You can contact NLB team via support ticket to accelerate it.

From the controller's perspective, we will add some docs to note this limitation on our docs.

/kind documentation

[2021-03-03 22:22] M00nF1sh commented on #1827
@seivan
You can annotation your services with such annotation, but that annotation won't be used to configure targets(since seems you created the targetGroups outside of this controller).

currently, the solo purpose of TargetGroupBindings is to only register/deregister targets(and optionally manage securityGroup rules), instead of configure the targetGroup attributes.

[2021-03-03 22:24] kishorj commented on #1822
@ZillaG, closing the issue. Feel free to reopen or file a new one if you still have issues.

[2021-03-03 22:24] #1822 closed

[2021-03-03 22:32] jerry153fish commented on #1852
@M00nF1sh

[code]

This is how the ingress looks like, I was expecting that x-forward-proto should be https but it is HTTP. The echo outputs

[code]

[2021-03-04 09:51] strada501 opened #1854 "Can't access a game-2048 page with an ALB."
I tried install an aws load balancer controller on my kops cluster(k8s v1.17.8) on my AWS account.
After installing an aws load balancer controller and sample game-2048 applications, but I can't reach game-2048 page.
I found the following errors in the logs of an aws-load-balancer-controller pod:

{"level":"info","ts":1614850333.0976968,"logger":"controllers.ingress","msg":"creating securityGroup"

[2021-03-04 10:14] jeffingn commented on #1842
Hello,

The target as instance do not work in this sceenario. The use case would require accessing the load balancer from the backend target . But Internal load balancers do not support hairpinning or loopback. Please refer the below link and check the topic "Connections time out for requests from a target to its load balancer"

https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-

[2021-03-04 12:16] jbenoit2011 commented on #1264
Here is how to configure the default rule with a 403 response for example:
[code]
To work, you have to defined your default rule with an annotation then reference it in `spec.backend.serviceName` and add set `spec.backend.servicePort` to `use-annotation`.

[2021-03-04 16:12] Smirl commented on #1777
Hi @M00nF1sh, @kishorj

I work with @hintofbasil and we spoke with our TAM/SA the other week and they suggested that the fixes outlined in #1452 would also fix this.

We are happy to talk in a zoom/chime call or over slack if that is quicker than github.

[2021-03-04 16:31] adamdonahue opened #1855 "Services used by the controller."
This is not so much an issue as a question - but it might be worth documenting.

We run our services in an airgapped environment, and require VPC endpoints for any AWS service our EKS nodes access.  The ingress controller is not functioning because it can't reach several services we haven't created endpoints for.  We've been going through the logs (with debugging) and VPC flow logs and have determ

[2021-03-04 17:15] jackdpeterson opened #1856 "Too Many rules results in an uncleanable state"
Hello, I'm observing an interesting failure mode that most people probably won't hit at small-scale. My use case is to spin up a test environment per open pull-request on a project with a handful of developers. We have a highly variable number of open PRs at any given point in time.

Once an ALB hits 100 rules plus the last rule I'm unable to terminate other ingresses to get the system into a clea

[2021-03-04 17:18] jralph opened #1857 "Service with NLB - Target Group Not Being Updated"
I have a service (traefik) running with the following annotations:

[code]

This service exposes 2 ports, 80, and 443.

I'm running the load balancer controller v2.1.0.

When scaling up the cluster node groups, the target group for port 80 gets updated, but the target group for 443 is not updated.

80 target group now has 12 nodes registered (3 healthy, as expected).
443 target group now has 5 nod

[2021-03-04 17:26] kishorj commented on #1857
@jralph, your service resource gets reconciled by the k8s in-tree controller since the load balancer type is "nlb" (annotatoin `service.beta.kubernetes.io/aws-load-balancer-type: "nlb"`). This controller doesn't support instance mode yet.

What is your k8s version?
Do you see any error events reported when you run `kubectl describe svc <service_name>`?

[2021-03-04 17:33] jralph commented on #1857
Hi @kishorj

Thanks for the info! I'm getting the following error from the service:

[code]

Whats odd is that this is working for one target group but not the other!

[2021-03-04 17:35] jralph commented on #1857
If it helps, this issue happened using the previous version of the controller as well. We were running 1.1.5 previously. This issue happened and I hoped that updating would help correct the problem!

[2021-03-04 17:41] #1856 closed

[2021-03-04 17:55] kishorj commented on #1857
@jralph, it looks like you modified the service spec.ExternalTrafficPolicy after creating the service. The in-tree controller uses TCP/traffic-port if external traffic policy is cluster, HTTP/health-check-node-port if external traffic policy is local. The NLB target group currently has a limitation on modifying the health check protocol after creation - this will in effect cause the reconcile to f

[2021-03-04 18:10] jralph commented on #1857
Ah great, that is the case! Thanks very much!

Whats currently supported for the `service.beta.kubernetes.io/aws-load-balancer-type` annotation? Can I use `nlb-ip`?

[2021-03-04 18:45] kishorj commented on #1857
Here are the supported values -
- not specified, in-tree controller provisions a CLB
- `nlb`, in-tree controller provisions a NLB with instance targets
- `nlb-ip`, the aws-load-balancer controller provisions NLB with IP targets, prerequisites
   - EKS 1.16 and later, or for kops/vanilla k8s k8s 1.20 and later
   - aws-load-balancer-controller is installed

You should consider the annotation to be

[2021-03-05 16:51] johnjeffers commented on #1598
This still happens even when you explicitly use the `certificate-arns` annotation. It's happening to me right now, and it's what got me looking for this issue.

[2021-03-05 18:48] M00nF1sh commented on #1855
@adamdonahue
You can get the list of services from our iam policy: https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/install/iam_policy.json
In addition
1. `waf-regional`, `wafv2`, `shield` API access can be disabled via [flags](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/configurations/): `enable-shield`, `enable-waf`, `enable-wafv2`.

[2021-03-05 18:51] M00nF1sh commented on #1854
@strada501
the example uses `alb.ingress.kubernetes.io/target-type: ip`, which relies on `amazon-vpc-cni-k8s`. (you can also create a kops cluster with this CNI too, but by default kops uses kubenet as cni).

you can remove that annotation, or use `alb.ingress.kubernetes.io/target-type: instance` instead.

[2021-03-05 22:25] mfmbarros opened #1858 "downtime when using readiness gates?"
Hi,

My setup:
    EKS: 1.18
     AWS LB Controller: 2.1.2

I recently configured AWS LB controller in my EKS in order to enable NLB-IP mode in my services and noticed the following:
 when rolling out my deployment, I see new pods being scheduled in cluster and consequently, a new set of pods entered in registering phase in NLB target group. When everything is healthy, the older pods are being der

[2021-03-05 22:43] rifelpet opened #1859 "[Feature Request] PrivateLink Support"
We have a need to create PrivateLink Endpoint Services with our NLBs. A Service resource would correspond to one NLB as well as one Endpoint Service configured to use that NLB.

I imagine the annotation design would be something like:

[code]

I don't have a good idea for how to conditionally add the DNS verification record... typically external-dns would handle that but given that both the name a

[2021-03-05 23:52] fluxx-sleblanc commented on #1598
/remove-lifecycle stale

This is an issue especially when you are using wildcard subdomains. You might want *.test.company.com but *.company.com already exists. There's no reason you can't add both.

So, for an org using wildcard subdomains, we have to manually specify the ARN for every ingress we provision?

[2021-03-06 01:14] kishorj commented on #1858
@mfmbarros, you will have to add a preStop hook to ensure that your application pods don't get killed before the de-registration is complete, also modify terminationGracePeriodSeconds as appropriate. Try 4 to 5 mins of delay to ensure the target pod gets completely deregistered in the worst case.

[2021-03-06 10:25] ctison opened #1861 "Unrecognized resource types in iam_policy.json"
When creating an IAM policy for the Kubernetes AWS load balancer controller as specified in step 3 of the [Installation Guide](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/deploy/installation/), AWS IAM displays the following message in the console (after creation):
[code]

![image](https://user-images.githubusercontent.com/17789536/110203138-a7b29b00-7e6c-11eb-967b-3cbad8

[2021-03-06 12:09] eibay commented on #1854
I am not sure if this issue I am having right now below is related to this. @M00nF1sh I tried setting it to "instance" but it didn't work..

`{"level":"error","ts":1615031885.1953833,"logger":"controller","msg":"Reconciler error","controller":"ingress","name":"ingress-2048","namespace":"game-2048","error":"couldn't auto-discover subnets: WebIdentityErr: failed to retrieve credentials\ncaused by: V

[2021-03-06 21:28] shoekstra commented on #1569
Hi!

We recently ran into this (with @stimmerman) and I created PR to fix it. For those facing the issue and waiting for a fix to be merged you can do one of the following:

1. use the `shoekstra/aws-alb-ingress-controller:v2.1.2-patch` image I built based off [this commit](https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1862/commits/e39d35401362e612217bf18b4d8c6c950e848b37)
2

[2021-03-08 02:56] strada501 commented on #1854
@M00nF1sh Thank you for your reply.
I can resolve my issue.
After I remove `alb.ingress.kubernetes.io/target-type: ip` , I can access game-2048 top page!!!

[2021-03-08 02:56] #1854 closed

[2021-03-08 07:23] jeffingn opened #1864 "Use target IP instead of POD IP while configuring Target as IP method in NLB - (workaround target as instance is not a viable solution also)"
Hello,

I am unable to reopen the issue #1842 (https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1842). Hence creating a new issue.

Currently we have an option to use NLB with Target as IP using AWS Load Balancer Controller as per the link [1]. But it uses POD IP instead of actual instance IP.

We would like to configure it using TargetIP instead of POD IP.

Customer use case

[2021-03-08 11:09] ashishagarwal1983 commented on #889
Worked for me

[2021-03-08 12:11] ajtrichards commented on #1601
We also experienced this issue and it was due to  automount_service_account_token = false in Terraform. However, the docs in Terraform imply that it is `true` by default

[2021-03-08 17:52] mfmbarros commented on #1858
Thanks. I've just tested and it works with no downtime. However, I'm wondering,  let's say my 2 replicas' deployment is being served by a NLB-IP and the EC2 where one of those replicas is running goes down suddently or become unresponsive. At same point, NLB will start to drain/unregister my faulty pod and assuming it takes about 4/5 minutes, some requests to my service will fail during that amoun

[2021-03-09 06:12] dijeesh commented on #1563
If you are trying to set up on EKS Fargate it currently doesn't support the cert-manager setup, use the Helm chart to install ALB Controller without cert-manager dependency

Ref: https://aws.amazon.com/premiumsupport/knowledge-center/eks-alb-ingress-controller-fargate/

[2021-03-09 11:21] BenSlabbert opened #1867 "Support ElasticIPs"
Hello,

From what I can see there is no support to attach Elastic IPs to the created load balancer.

Am I mistaken or will this require a feature request?

Thanks in advance.

[2021-03-09 16:01] mikhailadvani opened #1868 "load-balancer-attributes removal does not reconcile"
Unsetting of attributes on `alb.ingress.kubernetes.io/load-balancer-attributes` annotation does not reconcile. I have tried with omitting the attribute key as well as omitting the entire annotation but both are not working.

The logs that appear on attribute addition
[code]

The logs that appear on attribute removal
[code]

Version: v2.1.3
Platform: EKS v1.18.9-eks-d1db3c

[2021-03-09 17:48] kishorj commented on #1867
@BenSlabbert, you can specify the EIPs via the annotation `service.beta.kubernetes.io/aws-load-balancer-eip-allocations`. The number of EIP allocations must match the number of subnets.

[2021-03-09 17:51] thanhma commented on #1048
I'm getting the Rate exceeded errror in v2.1.3

[code]
The `targetgroupbindingMaxConcurrentReconciles` is left to None (as by default).

After query the `ThrottlingException` as guided in https://aws.amazon.com/premiumsupport/knowledge-center/cloudtrail-rate-exceeded/, I found that exception thrown on `DescribeTargetHealth`, `DescribeTargetGroups`, `DescribeTags`, `RegisterTargets`... events

Not

[2021-03-09 17:53] kishorj commented on #1868
@mikhailadvani, only those attributes that you specify in the annotation get modified, other LB attributes will retain the existing values. This is expected behavior.

[2021-03-09 18:04] kishorj commented on #1861
@ctison, this is a UX issue, we've verified the permissions work. The ELB service in IAM policies refer to the classic load balancer which doesn't support targetgroup resources. The ELB v2 service in IAM policy is the one for NLB/ALB and it should have no errors.

[2021-03-09 18:05] mikhailadvani commented on #1868
what is the recommended way to unset attributes then? I did not come across anywhere in the documentation that unsetting is not supported. Am I missing something?

[2021-03-09 18:08] kishorj commented on #1048
@thanhma please file a new issue with the details, the number of ingresses/services, #targets, instance or ip targets, NLB/ALB

[2021-03-09 18:11] M00nF1sh commented on #1864
@jeffingn
Do you mean use instance mode(use nodePort) but register instance IP instead of instanceID to bypass hairpinning issue?
it's not supported currently. we'll sync with ELB team whether they will provide features to disable perserveSourceIP when using instanceID.

/kind feature

[2021-03-09 18:21] kishorj commented on #1868
@mikhailadvani, recommended way is to specify new value for the attribute in the annotation. Controller will not modify the attributes that are not mentioned in the annotation, so those attributes can be managed separately without running into conflicts.

[2021-03-09 20:28] kishorj commented on #1858
@mfmbarros, readiness gates doesn't help in case the pod goes down suddenly, or becomes unresponsive. In this case the NLB health probes fail, and the target is marked unhealthy. Targets are unregistered only when the pod gets deleted.

[2021-03-09 20:47] kishorj commented on #1821
@leandro-loos, I'm closing the issue. If you have further concerns, feel free to reopen or create a new issue.

[2021-03-09 20:47] #1821 closed

[2021-03-09 21:35] geoffcline opened #1870 "bug report: adding ssl cert annotation to existing service of type load balancer"
**What happened:**
1. existing service with type load balancer on port 80
2. add "service.beta.kubernetes.io/aws-load-balancer-ssl-cert" annotation to the service
3. updating configuration of AWS NLB fails
4. I got this error in the console:

[code]

**workaround:**
- deleting the AWS NLB in the console triggers a new NLB to be created with the proper SSL/TLS configuration.

**what I expect to hap

[2021-03-09 21:35] geoffcline commented on #1870
any insights @M00nF1sh ? :)

[2021-03-09 22:16] kishorj commented on #1870
@geoffcline, what does your service annotation look like? Especially `service.beta.kubernetes.io/aws-load-balancer-type`. If the annotation value is not `nlb-ip`, then the load balancer is reconciled by the kubernetes in-tree controller, not this controller.

[2021-03-09 23:09] kishorj commented on #1748
@colearendt, based on the annotation `service.beta.kubernetes.io/aws-load-balancer-type` value being `nlb`, the NLB gets reconciled by the k8s in-tree controller, not this external load balancer controller. The in-tree controller has limitations with modifying the listener protocol after service gets created.

This controller does not have such limitations. The upcoming v2.2.0 will support instanc

[2021-03-09 23:09] #1748 closed

[2021-03-09 23:42] colearendt commented on #1748
Oops. Sorry for missing the prior notification / request for more info! Still happy to provide that if it would be helpful. I don't completely follow the "in-tree controller" vs. "external load balancer controller." Is there a doc on how to ensure that I am using the aws-load-balancer-controller? Or to tell the difference between the two? I have to admit I haven't been enlightened by the docs, unf

[2021-03-10 01:35] colearendt commented on #1748
Amazing clarification, thank you!! That's hilarious - I had deployed the aws-load-balancer-controller and then used the built-in 😄 Thanks so much for your help!

[2021-03-10 01:59] thanhma opened #1871 "Throttling: Rate exceeded error when reconcile ALB"
I'm getting the Rate exceeded error in v2.1.3
[code]
The `targetgroupbindingMaxConcurrentReconciles` is left to None (as by default).

After query the `ThrottlingException` as guided in https://aws.amazon.com/premiumsupport/knowledge-center/cloudtrail-rate-exceeded/, I found that exception thrown on `DescribeTargetHealth`, `DescribeTargetGroups`, `DescribeTags`, `RegisterTargets`... events

The nu

[2021-03-10 02:59] ectogon commented on #1384
@dignajar I think you'll need something like: https://github.com/kubernetes-sigs/external-dns

[2021-03-10 08:16] BenSlabbert commented on #1867
thank you @kishorj I found it in the documentation [here](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/service/annotations/#annotations)

[2021-03-10 08:16] #1867 closed

[2021-03-10 08:34] stephan-hartmann opened #1872 "Use existing load balancer"
Is it possible to use an existing load balancer (NLB) instead of creating a new one when deploying a service?
Background: I'm building my infrastructure stack with Pulumi. When I tear down my stack, the NLB that has been created by the aws load balancer controller won't get deleted and I have to delete it manually.
To address this issue, I would like to create the load balancer (NLB) with Pulumi a