[2022-09-21 17:27] mreardonx commented on #1572
+1

[2022-09-21 17:27] WaffleThief123 commented on #1572
+1 here as well

[2022-09-21 20:17] kishorj opened #2809 "configure default API throttle for ELBv2 apis"
**Is your feature request related to a problem?**
I'd like to configure client side throttle for ELBv2 APIs so as to avoid the throttling on the server side. Server side throttling causes the target-group-reconcile to end up in an error thus kicking the reconciler into exponential backoff. This can delay the target registration with pod readiness gate enabled.

**Describe the solution you'd like**

[2022-09-21 20:17] kishorj commented on #2809
/assign

[2022-09-21 20:18] kishorj commented on #2809
/kind feature

[2022-09-21 22:08] kishorj commented on #2806
@StefanTUI, since this is the default behavior for internal load balancer, I'm closing the issue. If you have further concerns, feel free to reach out to us.

[2022-09-21 22:08] #2806 closed

[2022-09-21 22:09] lakshkeswani commented on #2801
@kishorj I am interested on working on this and I am new to this repository, can you please guide me from where I should start

[2022-09-21 22:14] kishorj commented on #2788
@krishgu, we currently don't have this feature in the immediate roadmap as it is difficult to share the load balancer level config between multiple controllers. There is a possibility of merging the listener rules configuration and utilizing weighted target groups to forward traffic to targets in different clusters.

[2022-09-21 22:18] kishorj commented on #2768
Need to check if there is any delay between the controller pods being in ready state and the controller pod is able to handle the webhook.

[2022-09-21 23:23] chriskinsman opened #2811 "backendSecurityGroup setting ignored"
**Describe the bug**
ALB not using Backend sg

I am specifying --enable-backend-security-group=true
--backend-security-group=sg-XXXXXXXXXXXXX

**Steps to reproduce**

Setup aws-load-balancer-controller with above options
Launch an app that uses ingress, in our case an AWS EMR managed endpoint started with created-managed-endpoint
Check security groups on ALB.  They do not include group in command

[2022-09-22 00:06] chriskinsman commented on #2811
Found that this setting won't affect already running ALBs.  Only affects newly created ones...

[2022-09-22 00:29] chriskinsman commented on #2811
Actually it looks like what might be happening is this setting gets overriden by the security-groups annotation on the ingress perhaps?  Is there a way to make this additive?

In this case aws emr-containers create-managed-endpoint is creating the ingress and we have no control over it.  The ALB is broken because we need an additional group added to ensure that the ALB can connect to the nodes.

[2022-09-22 04:41] hiteshghia opened #2812 "Failed build model due to couldn't auto-discover subnets: unable to discover at least one subnet"
When trying to deploy the sample application [here](https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html) the controller is failing to create the load balancer with the following error:
[code]

Followed [this](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html) guide to deploy the aws load balancer controller.
Using the iam policy linked in that doc.
Al

[2022-09-22 05:37] hiteshghia commented on #2812
After I added this annotation explicitly listing out the subnets, it did the needful -
`alb.ingress.kubernetes.io/subnets:`
but its not ideal.

[2022-09-22 16:11] kishorj commented on #2811
@chriskinsman, you can annotate your ingress as follows to configure backend rules:
[code]

For further details you can refer to the live docs at https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#manage-backend-security-group-rules

[2022-09-22 16:18] kishorj commented on #2812
Check if you are able to query the subnets via the aws-cli:
[code]
Also verify if the cluster name is configured correctly in the controller command line flags.

[2022-09-22 16:26] chriskinsman commented on #2811
I don't control the ingress.  It is created by the aws cli.

I think you are saying the only way to make this work is to manually update the ingress after the aws cli creates it.

[2022-09-22 16:54] hiteshghia commented on #2812
Thanks @kishorj , yes I did run that and it correctly returns the 3 public subnets in different azs.
Also the clusterName is correctly configured in the controller command args.

[2022-09-22 17:40] timharsch commented on #2785
@micksabox can you reopen this issue?  Or should I file another?

[2022-09-22 18:18] kishorj commented on #2785
/reopen

[2022-09-22 18:55] #2809 closed

[2022-09-22 21:05] kishorj commented on #2811
@chriskinsman, if Ingress is managed by some other component, any manual changes could get overwritten.

With the security-groups annotation, the ingress SG rules need to be configured separately unless the `alb.ingress.kubernetes.io/manage-backend-security-group-rules` annotation is set to `true`. Is your use case different than the one configured by emr?

[2022-09-22 21:08] kishorj commented on #2812
@hiteshghia, could you send the cloud-trail trace for the `DescribeSubnets` calls in both cases:
- When you run the aws describe-subnets cli
- The call made by the lb controller
You can email the details to k8s-alb-controller-triage AT amazon.com.

[2022-09-22 21:11] chriskinsman commented on #2811
The aws cli with emr-containers just sets it up manually so adding the annotation manually shouldn't get overwritten.

We will follow up with that team to offer an option to set that annotation when they create the ingress.

[2022-09-22 21:11] #2811 closed

[2022-09-23 00:51] owyah opened #2813 "Invalid ingress class: IngressClass.networking.k8s.io "alb" not found"
**Describe the bug**
I got this error when apply https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.4.3/docs/examples/2048/2048_full.yaml

**Steps to reproduce**
I follow this tutorial:
- https://www.youtube.com/watch?v=TUS8KWaGKco
- https://aws.amazon.com/premiumsupport/knowledge-center/eks-alb-ingress-controller-setup/

**Expected outcome**
successful install **ing

[2022-09-23 15:44] winterrobert opened #2814 "Why does AWS LB Controller delete the load balancer when a target is deregistred?"
We are trying to expose Keycloak (using the Keycloak operator) through this ingress:

[code]

This is what our AWS LB Controller does when one of our three keycloak pods is deleted (`kubectl delete pod keycloak-0`):

1: Deregisters the target (pod with ip 10.103.9.62) - this seems intuitive
[code]

2: Deletes the load balancer - this seems harsh
[code]

3: Deletes the target group and the two rema

[2022-09-23 16:47] winterrobert commented on #2814
Ok solved it this was an application issue; naming our custom ingress the same as the default Keycloak ingress (`keycloak-ingress`) was a death sentence even when specifying `disableDefaultIngress: true`; changing it to anything else made it stay alive when a keycloak pod was deleted.

[2022-09-23 16:47] #2814 closed

[2022-09-23 18:07] kishorj commented on #2813
@owyah, did you install the controller via manifests instead of helm chart? If so, can you verify you have the ingress class named alb in your cluster?

You can apply the following manifest for ingress class and params:
https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/download/v2.4.3/v2_4_3_ingclass.yaml

[2022-09-24 22:28] owyah commented on #2813
@kishorj I use manifests, based on the tutorial. I do not know yet about helm chart. I confused because to many manifest that should I apply.
So, I just apply that manifest, right? let me try as soon as possible.
I just curious, maybe it is not good question, why this manifest:
https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/download/v2.4.3/v2_4_3_full.yaml
did not include

[2022-09-26 09:33] sleep-dev opened #2818 "Question: create LB on other VPC doesn't work."
Currently we have the eks on "A" VPC, and I want to make LB on "B" VPC which is connecting via Transit Gateway.

In the EKS on "A" VPC, I install the aws-load-balancer-controller by below command
helm install aws-load-balancer-controller eks/aws-load-balancer-controller \
  -n kube-system \
  --set clusterName=my-cluster \
  --set serviceAccount.create=false \
  --set serviceAccount.name=aws-load-

[2022-09-26 10:10] fkrestan commented on #1990
Hi, is there anything I could help with in order to resolve this issue?

In the meantime, for those wondering how to get the image outside of AWS. You need to have an AWS account and login into the container registry with [`aws-cli`](https://aws.amazon.com/cli/):
[code]

Otherwise you'll see an error like this:
[code]

My use-case is mirroring the image into a private registry.

[2022-09-26 10:12] jbg commented on #1990
For this use case, pulling the image from `docker.io` probably makes sense; you are unlikely to hit limits pulling it once per version...

[2022-09-26 11:05] BobDu commented on #1990
nonono, the pull rate limit is per by account, in a big cluster, we need pull more image from different repo.

[2022-09-26 11:10] jbg commented on #1990
But you said you were mirroring it into a private registry... You only need to do that once, your big cluster can pull from your private registry...

[2022-09-26 11:19] BobDu commented on #1990
Sorry, I accidentally ignored the context.

In this case, absolutely not necessary mirror to youself private ecr repo.
Actually, aws push the image in all region in their account, see it.
https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases#:~:text=%40jalessio)-,ECR%20images,-013241004608.dkr.ecr

This issue only request aws push it to aws public ecr.
Then, we need not to set d

[2022-09-26 11:23] fkrestan commented on #1990
Could you point me to the repository on docker.io please? I don't see `amazon/aws-load-balancer-controller` repo. Only `amazon/aws-alb-ingress-controller`. Is that the same thing? [The Helm chart default values](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/v2.4.4/helm/aws-load-balancer-controller/values.yaml) reference `602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon/aw

[2022-09-26 11:32] fkrestan commented on #1990
Oh, I've missed the `docker.io/amazon/aws-alb-ingress-controller:v2.4.4` in the release notes. So it is the same thing as `amazon/aws-alb-ingress-controller` then.

Would it make sense to reference the Docker.io repo from the Helm Chart default values instead and/or re-name the docker.io repository to `amazon/aws-load-balancer-controller`?

This is a bit confusing.

[2022-09-26 13:29] shivakumar5 opened #2819 "Error while configuring annotations for OIDC authentication in ALB"
**Describe the bug**
I have added all the required oidc annotations in ingress like below:

[code]
but I'm getting the error as "**ingress  Failed deploy model due to InternalFailure:  status code: 500, request id: d25fe190-0c80-4c0e-a65c-8447f5a10ee8"**

Also, If I go to ALB via aws console, listener rules are not showing up, it ll be blank as below:
<img width="1396" alt="image" src="https://use

[2022-09-27 16:52] kishorj commented on #2818
@sleep-dev, could you provide the following info:
- controller version, k8s version
- Are the VPCs in the same AWS account?
- Target type: ip or instance
- do you see any errors in the controller logs

[2022-09-27 17:00] kishorj commented on #2819
@shivakumar5, what is your AWS region? Also verify whether you have https listeners, the secret is in the same namespace as the ingress.

[2022-09-27 19:31] sleep-dev commented on #2818
@kishorj thank you for comment.

controller version :	v2.4.1  ( helm chart version 1.4.1 )
vpc are in same account
both target type doesn't work basically we use the ip type.

with the ip type, controller shows the below log.

{"level":"error","ts":1664306754.7946818,"logger":"controller-runtime.manager.controller.targetGroupBinding","msg":"Reconciler error","reconciler group":"elbv2.k8s.aws","rec

[2022-09-27 20:32] kishorj commented on #2818
Could you verify you setup VPC peering between the two VPCs - you will need peering to be setup if you intend to share security groups across the VPCs. The reconcile failure is on the AuthorizeSecurityGroupIngress call where controller is trying to setup ingress rules on the ENI(instance) security group on your VPC with the EKS cluster.

[2022-09-27 20:42] kishorj commented on #2813
In v2.4.3 patch release, we separated the IngressClass and IngressClassParams from the full manifest due to race condition with the kubectl apply - issue #2672.

Starting recent v2.4.4 patch release, we stripped down the IngressClassParams reference from the IngressClass and included in the full manifest. You should be apply just the full manifest in this case - https://github.com/kubernetes-sigs/

[2022-09-28 06:12] sleep-dev commented on #2818
It is hard to peering cause we already use the Transit Gateway.
is there any other option? like setting security group manually.

[2022-09-28 14:42] reubenavery commented on #1598
Seems like the most sensible and straightforward deterministic way is to select the most recent valid cert arn, or provide an annotation to do the same.

[2022-09-28 15:00] onacht opened #2820 "error with chart version 1.4.5"
**Describe the bug**
upgrading chart version from 1.4.2 to 1.4.5 and the new pod enters a state of crashloopback with the error:
standard_init_linux.go:228: exec user process caused: exec format error
this is the only log that is avalible

**Expected outcome**
pod should have been running

* Kubernetes version
Client Version: v1.24.3
Kustomize Version: v4.5.4
Server Version: v1.22.11-eks-18ef993
*

[2022-09-28 17:24] kishorj commented on #2820
@onacht, which AMI do you use for the worker nodes?

[2022-09-28 20:14] christian1607 commented on #1597
If you're working with S3 VPC endpoints, make sure to attach the correct policy because ECR under the hood  is a S3.

[2022-09-28 21:00] kishorj commented on #2631
@rampn443, closing the issue since we did not hear back from you. For websocket, you need to ensure:
- your ingress has rule for the initial request path to the websocket
- you configure larger idle timeout (default is 60 seconds), or setup heartbeat from the application layer

[2022-09-28 21:00] #2631 closed

[2022-09-28 21:05] kishorj commented on #2619
@sn-asownie, I'm closing the issue. If problem persists, feel free to reach out to us.

[2022-09-28 21:05] #2619 closed

[2022-09-28 22:05] M00nF1sh commented on #2820
is it amd64 or arm64 for your worker nodes?

[2022-09-29 07:37] onacht commented on #2820
hi, thank you for your answers
i pulled the image, tagged it and pushed to our ecr using my mac
the problem was that my mac have a m1 processor which caused the format error

[2022-09-29 07:38] #2820 closed

[2022-09-29 12:36] jennyli-z opened #2821 "Configure ingress with new group name does not delete old alb automatically"
**Describe the bug**
Configure ingress with new group name does not delete old alb automatically

**Steps to reproduce**
1. create ingress with name A
2. change ingress name to B(it already created alb before for other ingress)
3. the ingress change to bind with new alb
4. check the aws console ,the old one still exists.

**Expected outcome**
The old one should be deleted automatically.

**Environ

[2022-09-29 20:25] sleep-dev commented on #2818
@kishorj  It works now thank you

[2022-09-29 20:25] #2818 closed

[2022-09-30 08:37] guntiseiduks opened #2822 "Preserve existing third-party AWS Load Balancer tags."
**Is your feature request related to a problem?**
Kubernetes AWS Load Balancer controller is removing all tags and recreating only k8s managed tags during update operation, i.e. third party tags are removed. That creates resource governance problem in case there are tags that must not be deleted due to, for example, IAMs or organization wide SCPs set on tags.

**Describe the solution you'd like**

[2022-09-30 20:49] fkrestan opened #2823 "Prometheus endpoint is exposing high cardinality unbounded metrics"
**Describe the bug**

It seems that the `rest_client_request_latency_seconds` histogram metric exposed on the Prometheus metrics endpoint has unbounded cardinality. At the minimum, it seems to include a `url` label which contains URIs of all API versions registered in a given Kubernetes API server including it's query parameters. In my clusters, this is 742 time series per controller instance.

An

[2022-09-30 20:54] fkrestan commented on #2823
The `Helm Chart` changes to `ServiceMonitor` seems like a quick solution that should be useful beyond the scope of this issue. I can send a PR for this if you think that's the best course of action.

That being said, dropping the metrics, either via a flag or unconditionally, seems like the more correct long term solution.

[2022-10-01 05:10] alex-b-helios commented on #2419
Facing same issue. No SG rules added when target is ip

[2022-10-01 23:52] #2623 closed

[2022-10-03 00:59] #1788 closed

[2022-10-03 05:06] higauravkohli commented on #2553
+1

[2022-10-03 05:12] a-tharva commented on #2553
+1

[2022-10-03 09:28] paras-pac commented on #2553
+1

[2022-10-03 18:03] M00nF1sh commented on #2822
@guntiseiduks
For this use case, the controller exposed a flag called `--external-managed-tags` where you can supply a list of tagKeys to be whitelisted and these tags will then be not touched by the controller.  see https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/configurations/
e.g. `--external-managed-tags=TagKeyA,TagKeyB`.

[2022-10-04 00:56] carlosrochap commented on #298
This didn't work for me.  If you change the ingress name the existing ALB gets deleted and a new ALB is provisioned

[2022-10-04 04:00] zentavr commented on #1258
Had you implemented [these recommendations](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/installation/#option-a-iam-roles-for-service-accounts-irsa)?

[2022-10-04 07:02] guntiseiduks commented on #2822
Got it. Thank you for the tip that should do the trick.

[2022-10-04 07:02] #2822 closed

[2022-10-04 07:17] lukonjun commented on #2800
Experienced the same behaviour. I assumed when I delete the LB via the AWS Console the ALB Controller would automatically recreate, however it did not.

[2022-10-05 10:11] nabadger commented on #2669
Is there a more general solution/roadmap in this area to allow valid ingresses within the same group to reconcile if 1 or more are in an error state?

Seems somewhat similar to https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2042

[2022-10-05 15:22] dolv opened #2825 "Add annotation about aws-load-balancer-ssl-cert exclusion for some port numbers defined in k8s service manifest."
**Is your feature request related to a problem?**
Yes the request is related to the following issue.

I'm frustrated when creating the service of the LoadBalancer type which has several ports defined and has annotation of `service.beta.kubernetes.io/aws-load-balancer-ssl-cert` it associates the certificate with **every Listener** and there is no way to exclude some particular Listener/ports from t

[2022-10-05 20:32] khumps opened #2826 "service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled annotation doesn't work"
**Describe the bug**
Adding the annotation `service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled="true"`
Causes the service to not be able to create an NLB with the error `Error syncing load balancer: failed to ensure load balancer: error parsing service annotation: service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled="true"`
**Steps to reproduce

[2022-10-05 20:37] psyhomb commented on #914
Hi @M00nF1sh, I have one concern, let's say I have multiple grouped ingress objects and first one I've created was the one that triggered provisioning of the AWS ALB, what will happen if I try to delete that ingress object while other ingress objects that belongs to the same group are still active and using ALB?

I'm asking this question because I just tried to do that and I received following err

[2022-10-05 20:48] psyhomb opened #2827 "Would removing first ingress object from the ingress group deleted ALB as well?"
**Describe the bug**
Hi, I have one question, let's say I have multiple grouped ingress objects and first one I've created was the one that triggered provisioning of the AWS ALB, what will happen if I try to delete that ingress object while other ingress objects that belong to the same group are still active and using ALB?

**Steps to reproduce**
I'm asking this question because I just tried to do

[2022-10-05 21:08] psyhomb commented on #2827
I just realized that `alb.ingress.kubernetes.io/load-balancer-attributes: deletion_protection.enabled=true` annotation applies not only to ALB but also to individual ingress object, that's this operation is blocked and I'm seeing this error message.
It would be really helpful if this behavior could be explained in more details in the documentation, it is really confusing becasue I was 100% sure it

[2022-10-05 21:12] psyhomb commented on #914
I just realized that alb.ingress.kubernetes.io/load-balancer-attributes: deletion_protection.enabled=true annotation applies not only to ALB but also to individual ingress object, that's why deletion operation of the ingress object was blocked in my case and that's why I'm seeing this error message above.
It would be really helpful if this behavior could be explained in more details in the documen

[2022-10-05 22:19] M00nF1sh commented on #2827
@psyhomb
You are correct. We did an explicit check for `deletion_protection.enabled=true` when we handle Ingress deletions(not when handle ALB deletion). The original idea is explicitly alert users to confirm they want to delete the ALB/Ingress.

I agree there is some confusing here, as now this attribute applies to Ingress instead of the LoadBalancer. we'll need to revisit this to see what's the

[2022-10-05 22:24] psyhomb commented on #2827
@M00nF1sh
Thank you for your reply. 👍🏼

[2022-10-05 22:24] #2827 closed

[2022-10-05 22:33] M00nF1sh commented on #2826
@khumps
I think what you were doing is
[code]
So the value became `"true"` instead of `true`
You should use either
[code]
[code]

[2022-10-05 22:38] M00nF1sh commented on #2825
@dolv
There is a annotation `service.beta.kubernetes.io/aws-load-balancer-ssl-ports` that let you specify the ports, by default it's all ports in your service.

e.g. ```service.beta.kubernetes.io/aws-load-balancer-ssl-ports: port-x, 443```, where `port-x` can be the port number or port name.

[2022-10-05 22:49] M00nF1sh commented on #2823
@fkrestan
The metrics cames from our controller-runtime dependency. With some research, seems that they have removed this metrics in new versions: https://github.com/kubernetes-sigs/controller-runtime/issues/1423

We'll update the dependencies to have this change in up-coming releases.

[2022-10-05 22:50] M00nF1sh commented on #2823
/good-first-issue

[2022-10-05 22:52] jdn5126 commented on #2823
@M00nF1sh feel free to assign this to me

[2022-10-05 23:02] dolv commented on #2825
@M00nF1sh
Thank you so much - this is exactly what we were looking for.

[2022-10-05 23:02] #2825 closed

[2022-10-06 02:26] jennyli-z commented on #2821
finalizers:
    - group.ingress.k8s.aws/[New group]

Yes, it has  a finalizer with new created group of alb.

[2022-10-06 08:07] tooptoop4 commented on #1212
/remove-lifecycle stale

[2022-10-06 16:01] khumps commented on #2826
Interesting, when I run `kubectl describe service <my-service>` it outputs
[code]

But when I run `kubectl get <my service> -o yaml` it outputs
[code]

The service manifest is being generated by helm. Using `--set-string` instead of `--set` solved my issue. Thanks for help troubleshooting!

[2022-10-06 16:01] #2826 closed

[2022-10-07 12:45] #2646 closed

[2022-10-07 13:02] lemeurherve commented on #2646
FTR, this is (now) possible by setting `ingressClassConfig.default` value to `true`.

https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/helm/aws-load-balancer-controller/templates/ingressclass.yaml#L29-L32

[2022-10-07 15:16] RoryCrispin opened #2828 "Dry Run Mode"
This is a Feature Request

Has a Dry Run mode been considered?

Use Case:
We are currently working towards rolling out an upgrade from the legacy in-tree controller to this much improved controller but are finding a few issues in assuring ourselves that the migration will not cause downtime for in-use Load Balancers.

I have read through the source code and understand that so long as we tag the ex

[2022-10-07 17:22] blakepettersson commented on #2065
/remove-lifecycle rotten

[2022-10-09 16:38] oleg-ku-32768 opened #2829 "TargetGroupBinding for NLB and IP TG (protocol: UDP)"
Sort of follow up to [the closed issue](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2582):
It's pretty much same setup, except protocol is UDP, not TCP.
It shouldn't matter, I guess.
But it doesn't work and I don't know how troubleshoot it...

[code]

There are 2 target-groups and with corresponding target group bindings and services:

[code]

* TGs are NOT configured as

[2022-10-10 00:12] alam0rt commented on #2523
/reopen

[2022-10-10 00:13] alam0rt commented on #2523
would like to see this feature supported, are we able to reopen?

[2022-10-10 00:33] adammw commented on #2523
/reopen

[2022-10-10 01:13] jbg commented on #2582
@oleg-ku-32768 it should be the CIDRs of your NLB subnets (whole VPC CIDR also works, if you don't mind making it that broad). This `ingress` object describes the rule that will be added to the security group for your nodes/pods to allow the inbound traffic. The source IP for that traffic is the NLB's IP.

It may be different if you have client IP preservation enabled. We don't use it so I haven't

[2022-10-10 11:18] RoryCrispin commented on #2638
Hi @kishorj ,

Plus one to this;
I find myself in an unsupported use case which I'd have thought was quite common;

The in-tree controller is now deprecated and many are planning a migration to this controller, but doing an all-in-one leap is sadly not possible in all cases,

Users in this situation are may consider deploying this controller into a cluster which was previously using the in-tree co

[2022-10-10 16:41] #2829 closed, assigned to nobody

[2022-10-10 17:15] #2263 closed

[2022-10-10 17:55] M00nF1sh commented on #2828
@RoryCrispin
Thanks for this feature request. How would you prefer to let the dry-run output the details? e.g. in logs to outline changes will be done?

I think for now, it would work if you remove all "write" IAM permissions assigned to the controller(except for write tags).

[2022-10-11 13:42] acrazing commented on #1572
+1 again, any updates?

[2022-10-11 17:49] rafaellabegalini-vwi commented on #2039
Thanks @eocern, this solution works for me too =)

[2022-10-11 22:04] felipeng opened #2830 "Ability to define custom name and tags for Security Groups"
**Is your feature request related to a problem?**
Yes, because is hard to identify which Security Groups is for each LB because the SecurityGroups are created without name nor tags

**Describe the solution you'd like**
It would be very useful to be able to define the Security Groups' name and tags via annotations

**Describe alternatives you've considered**
No idea

[2022-10-12 17:34] M00nF1sh commented on #2830
@felipeng
With v2.0.0+ version, the security groups already have tags like below
[code]
will above be sufficient? the `ingress.k8s.aws/stack` is the Ingress's name/namespace

[2022-10-12 20:40] RoryCrispin commented on #2828
Hey @M00nF1sh,

As you say - running the service with only tag write permission effectively puts it into dry-run mode, having a `--dry-run` flag would simply be a convenience factor. It's generally supported across the ecosystem of controllers, for instance `external-dns` supports a `--dry-run` and also an `--upsert-only`

I find that the controller is pretty good at logging what it wants to do an

[2022-10-13 02:52] shivakumar5 commented on #2819
This is resolved:

I was not encoding my secrets as base64 , so AWS was not accepting it as plain text.
I have encoded it in base64 and added in secrets, it worked.

it is mentioned here : https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#auth-idp-oidc

[2022-10-13 02:52] #2819 closed

[2022-10-13 04:32] chetandhembre opened #2832 "Subnet getting selected for launching load-balancer(classic) even if required tags absent"
**Describe the bug**
I created subnet with proper tags so that it will be consider while creating load-balancer. But after sometime removed all tags, I was expecting going forward subnet wont be use when new load-balancer created.

**Steps to reproduce**
1. create subnet
2. add all required tags so that loadbalancer will be created in subnet
3.  remove all tags from subnet
4. create new loadbalanc

[2022-10-13 10:52] Nuru commented on #2311
Really, I think any of the 14 annotations that are "Exclusive" (must only be set once per Group) should be configurable via IngressClass (possibly via IngressClassParams). Then we can move that configuration out of the individual services so we do not have to worry about them fighting over control of them.

As of version 2.4, the following annotations are marked "Exclusive", but only a few of them

[2022-10-13 17:50] felipeng commented on #2830
I am using 2.4.4, I've noticed that the AWS Load Balancer Controller created a SG rule in existing SecurityGroup, however,
and the description is: `elbv2.k8s.aws/targetGroupBinding=shared` it would be nice to link with the NLB resource adding the name or DNS name there

[2022-10-14 07:11] futurelm commented on #1571
bro, it is Oct,  where is Q2 2022?

[2022-10-14 07:23] dejwsz commented on #1571
you know - they store so much data so relativistic time dilation appeared ;)

[2022-10-14 16:37] kishorj commented on #2755
@dusansusic, With readiness gates, controller waits for the pod `ContainersReady` to be true before registering the target. If containers ready is not true, the tgb controller requeues the reconcile request. If it takes longer for the containers ready to be true, the target registration could get delayed up to `targetgroupbinding-max-exponential-backoff-delay` configuration.

Could you check if th

[2022-10-14 16:39] kishorj commented on #2832
If the subnets do not have any cluster tags at all, the subnets do get considered for auto-discovery. If there are multiple subnets for the same AZ, then subnets tagged for the cluster gets precedence.

[2022-10-17 15:11] hitsub2 commented on #2367
It does not get fixed, right?

[2022-10-17 21:30] nickjj opened #2834 "Pod readiness gate checks are being inserted into pods unassociated to a service or ingress, how can you disable it for a specific pod?"
**Edit**

This issue is invalid because the docs for the readiness gate states that the gate will get attached if:

[code]

One key piece of information I didn't include in the ticket below is my `web` and `worker` deployments both have the same `app.kubernetes.io/name` label and the `web` deployment does have a service, so since the labels have a shared name the load balancer controller thinks th

[2022-10-18 10:05] JeremieDoctrine commented on #846
I shamelessly copied your code @mathieux51 but used kubectl to get the lb.

[code]

Thanks !

[2022-10-18 14:30] dusansusic commented on #2755
@kishorj it seems there's 40 seconds between `Initialized` and `ContainersReady` conditions:
[code]

What happens when `targetgroupbinding-max-exponential-backoff-delay` is reached? Will the controller retry to reconcile failures?

[2022-10-18 14:30] dusansusic commented on #2755
@kishorj it seems there's 40 seconds between `Initialized` and `ContainersReady` conditions:
[code]

What happens when `targetgroupbinding-max-exponential-backoff-delay` is reached? Will the controller retry to reconcile failures?

[2022-10-18 17:54] vmasule commented on #2419
@kishorj  Other people also facing this issue, any updates on this?

[2022-10-18 18:15] jdn5126 commented on #2823
This issue can be closed

[2022-10-18 21:29] thefirstofthe300 opened #2837 "Add annotation for drain state of nodes"
My company's k8s clusters make use of Flatcar as the node OS and we make use of [FLUO](https://github.com/flatcar/flatcar-linux-update-operator) for automatic updating. FLUO coordinates reboots across nodes through the use of annotations and labels to ensure that no more than one node is rebooting at a time. The reboot sequence essentially starts with the node being cordoned, followed by an annota

[2022-10-18 23:01] #2834 closed

[2022-10-19 10:08] przemolb commented on #2234
/remove-lifecycle stale

[2022-10-19 14:08] romich opened #2838 "Default tags don't get applied to previously created "backend" security group"
**Describe the bug**
Tags from `--default-tags` argument don't get applied to previously created "backend" security group.

**Steps to reproduce**
1. Deploy chart with minimal config.
2. Create at least 1 ALB Ingress.
3. Update chart, providing `defaultTags` option.
4. Observe default tags only on frontend security group.

**Expected outcome**
Both frontend and backend security groups get provided

[2022-10-19 21:15] captify-sjunaid commented on #298
This doesn't work for me. I have tested it in ALB chart 1.4.5/2.4.4 and set the same group.name but ingress creates a new ALB instead of using the existing one created manually

[2022-10-19 22:14] kishorj commented on #2838
/kind feature
@romich, Thanks for letting us know, we will fix it in a patch release. Currently the tags are applied only during backend SG creation.

[2022-10-19 22:25] kishorj commented on #2837
@thefirstofthe300, you can apply the label `node.kubernetes.io/exclude-from-external-load-balancers` to your node resources. On seeing this label, controller will de-register the instance target from the load balancer target group. You could start the cordon process and the reboot after the label is applied. In case of de-registration, the target will be in Draining until the existing connections

[2022-10-19 22:27] kishorj commented on #2832
@chetandhembre, what is the tag you removed? kubernetes.io/cluster/${cluster-name} or something else? Please refer to https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/subnet_discovery/ for further details.

[2022-10-20 08:04] anilerencelik commented on #1572
+1

[2022-10-20 09:57] jakubbujny opened #2841 "alb.ingress.kubernetes.io/wafv2-acl-arn annotation allows only one value"
`alb.ingress.kubernetes.io/wafv2-acl-arn` annotation allows to provide only one value as string when actually it's possible in AWS console to attach multiple ACLs in AWS Console. Why is it actually designed like that?
If some bigger set of WAF rules is used it's really easy to hit max WCUs limit.

[2022-10-20 13:57] atilsensalduz opened #2842 "opentelemetry support on alb controller"
Hi folks,

is there a way configure distributed tracing on ingress controller? I would like to send span data to my observability backend.

Regards,

[2022-10-20 16:27] ypicard commented on #2312
/remove-lifecycle stale

[2022-10-21 01:37] jaksonwkr opened #2843 "Controller creates multiple target groups"
**Describe the bug**
I have the following scenario:
[code]
Both ingresses are on the same group and the controller is creating different target group for service-auth for each ingress and the problem is that the service-auth has a custom health check path which is not replicated into Ingress 2.
If I enable readiness gate the pods from service-auth never get ready because the target group from Ingr

[2022-10-21 08:27] chetandhembre commented on #2832
I removed all tags only Name tag is present.

[2022-10-21 16:23] tariq1890 commented on #1859
@rifelpet @M00nF1sh  I think it's no longer required to have an NLB to create a VPC endpoint service.

Source: https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/vpc_endpoint_service#network-load-balancers

[2022-10-21 16:43] rifelpet commented on #1859
What in that link leads you to believe an NLB or GWLB are not required? the latest AWS CLI still requires it:

[code]

[2022-10-21 16:50] DanielMcAssey opened #2844 "Listener gets deleted on NLB"
**Describe the bug**
We deploy 2 services with different NodePort's and after deploying the 2nd service, the first services Listener is deleted from the NLB.
They are 2 different UDP ports targeting different nodes.

**Steps to reproduce**
Create a service with UDP port 5000 on Node 1
Create a service with UDP port 5001 on Node 2
Apply both
Only 2nd service listener is added

**Expected outcome**

[2022-10-21 17:14] tariq1890 commented on #1859
I was going based off the terraform documentation. `acceptance_required` seems to be the only required field for the `aws_vpc_endpoint_service ` resource. Seems like the TF docs may be misleading

[2022-10-21 17:21] rifelpet commented on #1859
Yea it looks like each individual ARN field is optional but the docs don't mention that one of the two ARN fields must be provided

[2022-10-21 17:30] kishorj commented on #2841
@jakubbujny, as per the doc https://docs.aws.amazon.com/waf/latest/developerguide/web-acl-associating-aws-resource.html, a given AWS ALB can't be associated with multiple ACLs. It is not a limitation of this controller.

[2022-10-22 19:55] visit1985 commented on #2233
We are still here…
/remove-lifecycle stale

[2022-10-23 08:59] devopsmash opened #2846 "Keep albs even if the ingress has been deleted"
**Is your feature request related to a problem?**
I have a scenario, which I need to remove my apps every **evening** and turn it back on every **morning**.
I'm removing my apps by using `helm uninstall`, which removes all of the relevant resources for each app, including the **Ingress** resource.
The ALB ingress controller detects  every **evening** that no Ingress resource exist and **removes**

[2022-10-23 13:09] anoopmun opened #2847 "Multiple ALB controllers"
Having issues when creating ingress.

Have two ALB controllers ss-dev-external and ss-dev-internal  in 2 different namespaces. When configuring ingress in the ss-dev-internal namespace, the following errors in noticed in the ALB controller logs.

{"level":"error","ts":1666470035.5002139,"logger":"controller-runtime.manager.controller.ingress","msg":"Reconciler error","name":"aws-alb-ingress-intern

[2022-10-24 03:04] acgs771126 commented on #2678
+1, maybe this feature can prevent hit AWS ELB listener rule api throttle

[2022-10-24 11:37] chalford commented on #2131
Just to check my reading of the docs (https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#deregistration-delay):

If that's correct. then implies to me that there is only a small amount of time in which the load balancer will send the old pod new connections: From the point at which graceful termination is initiated by kubernetes, to the point at which

[2022-10-24 14:24] omrishilton commented on #2638
#228 try to upvote the feature request and maybe some day this will be available..

[2022-10-24 16:00] johngmyers opened #2848 "Creating internal IPv6 ip-target NLB in public subnet results in broken target group"
**Describe the bug**

In an IPv6 cluster with public dual-stack subnets, when a `Service` specifies the creation of an internal load balancer with target-type "ip", LBC will create an NLB with a non-working target group. The resulting NLB will get stuck in "Provisioning" state and all targets will be stuck in "Initial" state.

**Steps to reproduce**
1. Create an IPv6 kOps cluster with "public" top

[2022-10-24 21:16] kishorj commented on #2846
@dsaydon90, you could use an ingress group with a "resident" ingress which doesn't get deleted and add/remove the app ingress to/from the group when needed. You can have separate group for each application. You can still deploy/uninstall your application helm chart as normal.

I agree with @M00nF1sh on the cost part, and the route53 option.

[2022-10-24 21:21] kishorj commented on #2847
@anoopmun, we currently don't support deploying multiple installations of the aws load balancer controller in the same cluster. While it is possible to configure multiple deoloyments, you'd need to disable the webhooks and SG rule management on subsequent controllers. Please refer to #2185 for further details.

[2022-10-24 21:29] dsaydon90 commented on #2846
First, this can help me to be on the safe side, so if someone will ever remove ingress resource by mistake, the alb will still be there so I won't need to change my dns records accordingly.

Second, the best solution for my case is to change the dns record when new alb is created, but I can't due to permissions & security reasons.

So instead of creating a resident ingress beforehand, I'll have on

[2022-10-24 21:42] kishorj commented on #2844
@DanielMcAssey, what does your service spec look like?

[2022-10-25 01:41] mike-stewart commented on #1647
/remove-lifecycle stale

[2022-10-25 05:17] johngmyers commented on #2846
Perhaps this should be a field in IngressClassParams which specifies the ALB for the group should be retained despite the group having zero Ingresses? One would then manage the IngressClass and IngressClassParams outside of the application's Helm chart, possibly in a second chart that doesn't get removed.

[2022-10-25 05:27] johngmyers commented on #2747
Whether the node provisioner is Karpenter or not has little relevance to the choice of target type. The only thing is that Karpenter is more likely than other provisioners to end up with nodes of disparate sizes.

If one is using a CNI with a masqueraded pod network then one needs to use "instance". Otherwise one should use "ip".

[2022-10-25 06:22] johngmyers commented on #1647
Instead of documentation, perhaps we could provide a tool which takes a cluster name and generates a policy scoped to that cluster?

[2022-10-25 08:54] 0xF4D3C0D3 commented on #2800
I'm experiencing the same issue. It only gets recovered when the number of replicas behind the service is changed.

[2022-10-25 09:41] bruceforlearn opened #2850 "need function $request_time | $upstream_response_time in alb"
I'm frustrated when I want to check application latency from aws alb to pod

a easy nginx docker could do it very well,just like that:
log_format main | $request_time | $upstream_response_time |
log:
XXX.IP - - [25/Oct/2022:09:20:07 +0000] "POST /client/user/logout HTTP/2.0" 200 2 "-" "XXX/1.0.1 (com.luiz.XXX; build:25; iOS 14.7.1) Alamofire/5.6.2" "- "|0.011|0.012

this is a aws testing method,it

[2022-10-25 12:38] DanielMcAssey commented on #2844
Sure, here are both services:
`apiVersion: v1
kind: Service
metadata:
  namespace: scalable-cluster
  labels:
    service: service-0
  name: service-0
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-name: "primary-nlb"
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
    service.beta.kubernetes.io/aws-load-balancer-attributes: "deletion_protection.enabled=true,load_balanc

[2022-10-25 15:47] zhukovsd commented on #2039
The same problem is possible when using recent AWS Load Balancer Controller Docker images (2.4.x) with an outdated Helm chart.

My setup:
- CDK stack with EKS cluster and AWS load balancer installed using `aws-eks` CDK package.
- CDK version 2.28.1, implicitly uses AWS Load Balancer Controller Helm chart of version 1.2.7 - https://github.com/aws/aws-cdk/blob/v2.28.1/packages/@aws-cdk/aws-eks/lib/a

[2022-10-25 18:10] asim-reza commented on #2729
/unassign

[2022-10-25 21:49] jin-ahn commented on #2797
Is there documentation explaining what the flags do? I have a similar setup env but I DO use wafv2.

In my ingress I have this annotation
`alb.ingress.kubernetes.io/wafv2-acl-arn: arn:aws:wafv2:us-west-2:*****:regional/webacl/****`

But my ALB is not able to properly reconcile until I disable wafv2 by adding the `--enable-wafv2=false` flag. Will setting this to false somehow break my wafv2 annotat

[2022-10-25 22:57] luis02lopez opened #2851 "Docs: apiVersion outdated"
**Describe the bug**
Hello, in the [docs](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/) is being used the apiVersion `extensions/v1beta1` but this is now deprecated, should be `networking.k8s.io/v1`

Additionally, other parts of the YAML have an old configuration, for example:

[code]

Should be now:

[code]

* AWS Load Balancer controller version:

[2022-10-26 02:22] bruceforlearn commented on #2850
ALB：
─────┬───────┬───────┬───────┬────────┬────────┬────────┬────────┬────────┬────────┬────────
 time│ Concurrency│ success│ failed│   qps  │long time│short time│average│download bytes │per/bytes│ error code
─────┼───────┼───────┼───────┼────────┼────────┼────────┼────────┼────────┼────────┼────────
   1s│      0│      0│      0│    0.00│    0.00│    0.00│    0.00│        │        │
   2s│     2

[2022-10-26 02:23] bruceforlearn commented on #2850
direct http ip:port
─────┬───────┬───────┬───────┬────────┬────────┬────────┬────────┬────────┬────────┬────────
time│ Concurrency│ success│ failed│ qps │long time│short time│average│download bytes │per/bytes│ error code
─────┼───────┼───────┼───────┼────────┼────────┼────────┼────────┼────────┼────────┼────────
   1s│     52│     52│      0│ 1594.06│  689.09│  517.38│  627.33│     104│     103│20

[2022-10-26 18:30] wilief opened #2852 "[Feature Request] Update documentation and add IPv4 to IPv6 Access Control on NLBs"
**Is your feature request related to a problem?**
I am trying to perform access control on services behind a Network Load Balancer on an IPv6 EKS Cluster. I have found that when setting the service annotation "service.beta.kubernetes.io/load-balancer-source-ranges" it indeed adds the IP to the Security Group of the Node with the service. However, due to failure to preserve the IPv4 Client IP when

[2022-10-26 21:53] M00nF1sh commented on #2850
@bruceforlearn
ALB have cloudwatch metrics such as TargetResponseTime to track the delay,  maybe you can check out: https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-cloudwatch-metrics.html

Also, have you changed to use "ip" mode to minimize latency? the default "instance" mode have two traffic hop(i.e. the kube-proxy) for traffic from ALB to reach backend pod.

[2022-10-26 21:54] M00nF1sh commented on #2852
@wilief
This is known behavior, currently NLB don't have any features to support it. We can wait till NLB supports security group.

[2022-10-26 21:57] M00nF1sh commented on #2851
/kind good-first-issue
/kind doc

[2022-10-26 22:08] M00nF1sh commented on #2851
@luis02lopez
Seems we already updated the docs, you were referencing an old version docs(v2.2)
Here is the latest one: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/
or https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest

[2022-10-26 22:11] M00nF1sh commented on #2848
@johngmyers
Sounds like a IPv6 NLB issue that don't work with public subnets? (pending confirm with ELB team).

Have you tried manually create a NLB in public subnet?

[2022-10-26 22:13] M00nF1sh commented on #2846
/kind feature

[2022-10-26 22:16] wilief commented on #2852
Okay, I understand.

Could you please add a statement in the documentation here "https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/service/annotations/#access-control" mentioning this for the benefit of other customers?

[2022-10-26 22:20] M00nF1sh commented on #2844
@DanielMcAssey
You used the same NLB name for both service: 'primary-nlb'. Currently we don't support reuse the same NLB for two different service.
You have to either a single Service with two port in service spec instead of two service or have two NLB.

We can improve our code to error out if we detects a NLB was used by two Services.

[2022-10-26 22:23] M00nF1sh commented on #2843
@jaksonwkr
We choose to use a dedicated TargetGroup because we support define TargetGroup attributes from Ingress's annotation as well. So in theory, you can define different healthy check from the two Ingresses for same service, and that's why we created unique target group for Ingress+Service combination.

[2022-10-26 22:24] M00nF1sh commented on #2842
@atileren
I haven't tried opentelemetry, but seems AWS offers a https://aws.amazon.com/blogs/opensource/distributed-tracing-with-opentelemetry/, and the `X-Amzn-Trace-Id ` tracking header is supported by ALB.

[2022-10-26 22:26] johngmyers commented on #2846
For the Listener/TG, the question would be what the preferred behavior is to incoming connections. Should it ECONREFUSED or return a 404? I suspect it should ECONNREFUSED, which means to delete the Listener.

Are the SGs likely to be referenced by resources not under control of LBC? If so, it might be worth keeping them around. Otherwise, it doesn't matter.

[2022-10-26 22:32] M00nF1sh commented on #2852
documentation updates makes sense to me.

/kind documentation

[2022-10-26 22:35] johngmyers commented on #2848
It's not surprising that a non-internet-facing IPv6 NLB doesn't work in a public subnet. If it's in a public subnet, then it would get IPv6 traffic from the public internet.

I agree that it is a kops bug that it tagged a public, IPv6-capable subnet with `kubernetes.io/role/internal-elb`. I've filed kubernetes/kops#14451 on that.

The issue here is the lack of a diagnostic. It was extremely diffic

[2022-10-26 22:44] DanielMcAssey commented on #2844
Ah, any reason why? As AWS NLB supports this use case.
Is there scope to change it? Would you accept a PR?

[2022-10-27 02:05] bruceforlearn commented on #2850
@M00nF1sh thank you
1. cloudwatch is not free. I deploy a loki(a opensource log system) to collect my all logs. alb logs store in s3 with gz format and the log don't contain $request_time | $upstream_response_time function
2. so customer deploy log system couldn't collect alb latency information, this is a issue.
3. all my target type is ip mode, please look my photo.
4. I found alb latency questi

[2022-10-27 10:22] JoranLive commented on #1608
Hi,

Any news on this?

I have a container sharing camera stream over RTSP.
RTSP needs UDP and TCP on same port.

We added a NLB but we are not able to set port as TCP_UDP (allowed values are TCP, UDP or SCTP).

spec.ports[0].protocol: Unsupported value: "TCP_UDP": supported values: "SCTP", "TCP", "UDP"

 AWS allows TCP_UDP (https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-bala

[2022-10-27 12:12] Adriks976 opened #2854 "Certificate RSA 4096 not accepted with autodiscovery"
**Is your feature request related to a problem?**

When I import a certificate in ACM (RSA_4096), Alb controller is not able to use it with autodiscovery. If I put the certificate arn in the annotations it is working.
When I import a certificate in ACM (RSA_2048), Auto discovery is working. No need to add the annotation.

**Describe the solution you'd like**

My guess is that the request to aws is

[2022-10-27 13:13] Naenil opened #2855 "Not able to supply values for RegisterTargets and DeregisterTargets events to avoid concurrent version ingress on new version rollout"
**Describe the bug**

We are moving from one nlb per service to a general alb for all the services.
There is an issue at rollout where, for 16 seconds traffic gets sent to two replicasets at the same time during a rollingdeployment.
We want to avoid that behavior, as two versions of an api can't necessarily work together.

AWS side, we do see registerTargets and deregisterTargets events separated

[2022-10-27 14:07] or-navon commented on #1571
Any progress with setting response headers?

[2022-10-27 21:27] kishorj commented on #2854
Issue #2719 to keep track of the fix.
I'm closing this one as a  duplicate.

[2022-10-27 21:27] #2854 closed

[2022-10-28 05:23] mattjamesaus opened #2856 "Allow security group to be specified for the NLB health check and traffic ports"
**Is your feature request related to a problem?**
In heavily regulated environments using the generic worker node security group (SG) isn't always an option, this leaves the user to create specific SGs for each node group and remove the generic worker node security group. When creating an NLB however it appears that it's not possible to explicitly specify a SG to have the AWS LB Controller write t

[2022-10-28 08:09] Naenil commented on #2855
Update: The issue was caused by the readiness gates injection of ALB health checks. Removing that fixed the situation, however it makes so you can't work with readiness gates and avoid this situation of concurrent traffic.

I suggest that the RegisterTargets|DeregisterTargets behavior should take account of that to avoid that split traffic while the readiness gates have to open.

[2022-10-28 08:09] #2855 closed

[2022-10-28 08:20] hmeerlo opened #2857 "Readiness gate reports wrong status"
**Describe the bug**
I have enabled pod readiness gates on one of my deployments. But the pod never start receiving traffic because one of the conditions stays on false. This is 'Health checks' condition which has reason `Target.FailedHealthChecks`. This looks ok except that when I check with the targetgroup in AWS it says that the targets are all healthy (which they are). Without the readiness ga

[2022-10-28 16:07] #2823 closed

[2022-10-31 18:16] Charles-Johnson commented on #1897
For those using `terraform-aws-eks` it looks like you can disable the cluster security group via the [`attach_cluster_primary_security_group` setting](https://registry.terraform.io/modules/terraform-aws-modules/eks/aws/18.16.0#security-groups)

[2022-10-31 18:30] mjacksonest commented on #1719
I followed the recommendation to use a preStop hook with sleep, and it did initially appear to reduce errors, but I found evidence the sleep is being terminated:
[code]
This behavior is backed up by description of lifecycle on this page:
https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-terminating-with-grace
"Kubernetes does not wait for the preStop hook to fi

[2022-11-01 09:33] hmeerlo commented on #2857
Can anybody help me with this? It is blocking me from properly deploying to production. Do you need more information or is there a test that I can perform?

[2022-11-02 07:58] enjoycx opened #2861 "readinessProbe success ,the req data has not been switched to the new pod"
**config**
[code]
**description**
After the ready probe takes effect, the traffic should be switched to the new pod immediately. However, the current situation is that the traffic is still requested in the old pod. When the pod stops, the traffic arrives in the new pod, causing 502 bad gateways

[2022-11-02 10:58] catalinmer opened #2862 "Health-checks per target-group on ingresses managed by the controller"
**Is your feature request related to a problem?**
Hi,
For ingresses it would be nice to be able to specify the health-check path per rule. Since each rule that routes to a service is a target-group we could potentially specify different health-checks for each rule/service. Something similar to target-group annotations

**Describe the solution you'd like**
Extension of target-group annotations to i

[2022-11-02 13:07] andrei693 commented on #2297
/remove-lifecycle rotten

[2022-11-02 19:49] Ashtonian opened #2863 "Does this support elb aka classic lb?"
Does this or did this support provisioning elbs for service types? I'm trying to figure out what is creating a classic elb in my cluster based on the service annotations and I have an older version of this controller running. The docs seem to indicate that it only supports the newer alb/nlb. If it did change - what version?

nlb has a much smaller keep alive window compared to a elb.

[2022-11-02 20:46] uklg opened #2864 "Ingess get shows wrong port number instead of one created via annotation"
Added mulitiple listeners to a single ALB via sequential ingress applies.

Visible in console and accessible via browser.

(works as expected but bug in kubectl output:

[code]
Added  another ingress without the listen ports annotation as well.

Buggy response ports shows 80 in both entries but in AWS console it is 80 and 83 present in listeners list.

[code]

v1.23.9-eks-ba74326
aws-load-balancer

[2022-11-02 22:05] drewcorlin1 commented on #1598
I have the use case of rotating my certificate in a multi step process where I
* Create a new cert
* Update all associations to the old cert to use the new one
* Delete the old cert

It would be convenient for me to have the controller pick the latest certificate (I'm taking inspiration from terraform's [`aws_acm_certificate`'s `most_recent` attribute on data sources](https://registry.terraform.io

[2022-11-02 22:18] M00nF1sh commented on #2864
@uklg
The Kubectl don't understand vendor-specific application ports(i.e. it don't recognize the `alb.ingress.kubernetes.io/listen-ports` annotation). It will only show `80` or `443` no matter that port you were actually listening. And there isn't a mechanism to us to control it.

see also: https://github.com/kubernetes/kubectl/issues/500

[2022-11-02 22:19] M00nF1sh commented on #2863
@Ashtonian
Hi, we only support NLB(Service) and ALB(Ingresses). Given NLB is preferred than ELB, we don't have plans to support ELB in this controller.

[2022-11-02 22:22] M00nF1sh commented on #2862
@catalinmer
You can specify these health-check annotation on either Ingress or Service. The annotation on Service takes priority.
So if you put the health-checks on the Ingress instead of Service, then you can achieve different rules per targetGroup for same service.

However, we don't support to customize it per rule(you need to put it one the Service if customized health-check is specific to a s

[2022-11-02 22:25] M00nF1sh commented on #2861
@enjoycx
How is your application looks it? Is it using NLB or ALB, and whether it's using instance mode or IP mode.
e.g. If you are using instance mode with ALB and have HTTP-keepalive enabled, then when old pod terminates, traffic will still send to these pods due to ALB will use the HTTP-keepalived connection to backend(nodes)

[2022-11-02 22:30] M00nF1sh commented on #2857
@hmeerlo
Looks like the Pod is been used in 3 target groups, did you checked the correct targetGroup?
The `Target.FailedHealthChecks` is from ELB API, so it must failed health-check at least once. Also, the controller have a back-off retry mechanism to poll health check status from ELB API for failed health-check pods, do you saw that pod is stuck in wrong status over 16mins after been healthy?
If

[2022-11-02 22:35] M00nF1sh commented on #2856
@mattjamesaus
We expect one security group with the `kubernetes.io/cluster/cluster-name` tag. would it be possible for you to tag the security group desired with that tag only?
If not we might consider expose a cluster-level setting for the tagKey instead of this per Ingress override.

BTW, once NLB supports security group like ALB, would this request still matters?

[2022-11-03 03:07] enjoycx commented on #2861
hello my ingress config  I should disable keep alive  thanks
[code]

[2022-11-03 07:29] sunysaurabh opened #2865 "Manage ALB LCU via ALB ingress controller for K8S ALB ingress"
**Is your feature request related to a problem?**
When ALB get overload with requests it scales up and during this time lots of requests get rejected as ALB can't handle those requests. Pre-warming the ALB helps in such scenario but this is time bound and involves AWS support in advance. LCU is better approach then prewarming as respective team have control over it. I know LCU is covered under Pro

[2022-11-03 08:16] hmeerlo commented on #2857
Thanks man, this really helped. I was totally under the assumption that I had one targetgroup and that these readiness gates were all related to that single targetgroup. But you opened my eyes!

[2022-11-03 08:16] #2857 closed

[2022-11-03 19:58] micmel5997 opened #2867 "No Targets registered in Target Group"
So I have been working with the ALB controller in order to control ALB spend on our AWS EKS cluster. While I have a working application and listener for the default listener rule, I am unable to add a secondary listener successfully. Below is what I am using in my values file for an ingress in a new helm project. The Listener rule gets created, and a target group gets created, but there are no tar

[2022-11-04 10:37] FalconerTC commented on #2684
I'm also running into this issue, with EKS 1.21 and controller 2.4.4. If @iusergii got it to work, I assume it's fixed in EKS 1.22+

[2022-11-04 17:53] johngmyers commented on #2848
Another issue is that there is a single `kubernetes.io/role/internal-elb` tag used for both ipv4-only and dualstack load balancers. A public dual-stack Subnet is useful for internal ipv4-only loadbalancers, but not internal dual-stack loadbalancers.

Perhaps there needs to be a new tag or a different vale of the tag for such subnets?

[2022-11-05 09:43] #2674 closed

[2022-11-06 09:53] xuanhai266 commented on #1264
I confirmed that it works well.
Many thanks.

[2022-11-07 16:34] alexistimic opened #2870 "CertificateNotFound Error (loadbalancer still trying to use a previous certificate)"
**Describe the bug**

Ingress cannot be deployed (stuck at CertificateNotFound) because it is trying to use a previous (expired) certificate.
This certificate does not exist anymore as I've deleted it (ACM and directly to the loadbalancer) and I have attached the new certificate to the ALB.
I have changed the ingress annotion to the new one using:  `alb.ingress.kubernetes.io/certificate-arn: {{ .V

[2022-11-08 09:34] marcincuber opened #2873 "Support Gateway Load Balancer"
**Describe the solution you'd like**
I would like to deploy Gateway Load Balancers using this controller from within EKS cluster.
https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/introduction.html

As this controller is already responsible for deploying NLBs and ALBs, I believe adding support for GLBs is reasonable.

**Describe alternatives you've considered**
Apigatewayv2 controlle

[2022-11-08 15:52] Vamsi0473 opened #2874 "Vulnerabilities reported while scanning v2.4.1 image"
**Describe the bug**
While scanning the v2.4.1 docker image of alb ingress controller we see following vulnerabilities
controller (gobinary)
![image](https://user-images.githubusercontent.com/46375277/200612155-0d2ff3a7-cd35-4f0d-826d-e7d7033f4d73.png)

**Steps to reproduce**
Scan the image for vulnerabilities
**Expected outcome**
No vulnerabilities

**Environment**
non prod

* AWS Load Balancer c

[2022-11-08 16:47] sosheskaz commented on #1834
@ldemailly was able to use your solution as a basis for my own (but via sidecar instead of operator). Thank you for putting your info here.

I do have a thought though. I don't think this works because it is HTTP instead of TCP, but instead because the health check starts failing artificially. The NLB responds to failed health checks (~45s in my experiments) faster than it responds to target dereg

[2022-11-08 17:31] kishorj commented on #2874
@Vamsi0473, we are currently working on the v2.4.5 patch release to address the recent CVEs.

[2022-11-08 23:25] bearrito opened #2875 "CertificateNotFound"
**Describe the bug**
[code]
**Steps to reproduce**
I created a wild-card cert in ACM *.domain.mycorp.com. The certificate is valid in ACM.
I'm using the chart found at https://github.com/aws-samples/eks-alb-istio-with-tls/tree/main/helm/ALB-Istio-TLS to create the ingress.

Created with
[code]

The json found here https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.4.

[2022-11-09 02:57] kishorj commented on #2523
/reopen

[2022-11-09 05:19] e6c31d commented on #1338
/remove-lifecycle stale

[2022-11-09 09:57] #2865 closed

[2022-11-09 10:10] alexistimic commented on #2870
Hi @kishorj

Yes we have several ingresses grouped together to a single ingress-group (dev)

[code]
As I can see from the logs, 3 certificates seems to be attached, or detected by the controller to be attached to the ALB (if my guess is correct).
However, only a single one is in reality attached to the ALB (cf: VALID_CERTIFICATE in the snippet).

[2022-11-09 16:29] kishorj commented on #2870
It is possible some of your ingresses have the certificate-arn annotation referring the expired certificates. You either need to update the expired certificates from AWS ACM, or use new certificate in the ingresses.

[2022-11-09 16:36] kishorj commented on #2875
@bearrito, your certificate arn `arn:arn:aws:acm:us-west-2:XXXXXXX` is not valid. It should have looked like `arn:aws:acm:us-west-2:XXXXXXX`

[2022-11-09 16:42] kishorj commented on #2867
@micmel5997, since the target-type is IP, could you verify whether the backend service app-name has ready endpoints? You can check for the Endpoint/Endpointslice resource corresponding to the app-name service. Do you see any errors in the controller logs?

[2022-11-09 17:18] kishorj commented on #2812
@justinrlee, controller provisions internal NLB by default unless you specify the scheme via the annotation  `service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing`.

Since you've specified the loadBalancerClass, the annotation  `service.beta.kubernetes.io/aws-load-balancer-type: external` has no effect.

[2022-11-09 18:54] jerryhe1999 commented on #2801
/assign

[2022-11-09 19:16] justinrlee commented on #2812
Ah, thank you! Somehow I missed that documentation note.

[2022-11-09 23:22] johngmyers commented on #2690
/remove-lifecycle stale

[2022-11-10 23:28] ldemailly commented on #1608
Is there an EKS version that can do TCP_UDP on NLB 1 port somehow/anyway?

Is there a way to enable MixedProtocolLBService ?

[2022-11-11 16:54] thalescosta commented on #1572
+1

[2022-11-11 16:56] #2651 closed

[2022-11-13 16:18] #2666 closed

[2022-11-14 10:55] alexistimic commented on #2870
I can confirm none of our manifests refer to the expired certificate.

I tested a few things:
  1) Deleting the ALB and applying a manifest with the same `ingress-group` will create the same ALB, experiencing the same issue
  2) Changing the `ingress-group` will create a new ALB and everything works.

[2022-11-14 11:46] s9r-5 opened #2883 "Adding wrong target_group to alb"
**Describe the bug**
I am trying to create ingress for argocd but alb controller is adding wrong targetgroup to the alb

**Steps to reproduce**
I am using argocd helm chart to create ingress.
**Expected outcome**
It should create proper target group for alb.

**Environment**

* AWS Load Balancer controller version
 Image : `602401143452.dkr.ecr.us-east-2.amazonaws.com/amazon/aws-load-balancer-cont

[2022-11-14 18:50] kishorj commented on #2870
@alexistimic, wold you be able to email your controller logs and the ingress-group manifests to k8s-alb-controller-triage AT amazon.com. Please include all of the ingresses from your old ingress group.

[2022-11-15 01:48] raonitimo commented on #2652
Hey @kishorj, I'm trying to setup something very similar except I don't want to create an ALB. I want to use a target rule binding to register pods into an existing target group living in another account. Can you please give some pointers on what not to miss?

I have the VPC peering in place, cross account IRSA working, currently trying to figure out how `alb.ingress.kubernetes.io/security-groups`

[2022-11-15 06:03] Colstuwjx opened #2884 "Shall we expose informer factory to watch resource changes"
**Is your feature request related to a problem?**
I'm frustrated when I want to subscribe the targetgroupbinding resource change and do some customized stuff, like argo-rollout, it has [informer pkg](https://github.com/argoproj/argo-rollouts/tree/master/pkg/client/informers/externalversions) and works well, but for our repo, I can't find a way to use the informer since we're using kubebuilder.

**

[2022-11-15 06:23] Colstuwjx commented on #2884
How about use informer-gen to generate these client libs, just like argo-rollout project did.
/cc @M00nF1sh

[2022-11-15 12:57] julian-labuschagne opened #2885 "Deploying an AWS load balancer controller gives error events in ingress in me-central-1 only"
**Describe the bug**
Deploying an AWS load balancer controller gives error events in ingress in me-central-1 only.

[code]

**Steps to reproduce**

Create a new service role:

[code]

Install ALBC using helm:

[code]

I also tried with the following:

[code]

When creating ingress and looking at the events I keep getting this message:

[code]

I noticed on the latest release 2.4.5 there does not s

[2022-11-15 14:11] RamazanKara commented on #1212
+1

[2022-11-15 14:26] RamazanKara opened #2886 "Feature Request: Ingress Metrics like Request per Seconds"
**Is your feature request related to a problem?**
We want to scale our applications based on metrics featured from the ingress - like nginx ingress controller is able to do.

**Describe the solution you'd like**

Provide Ingress Metrics for Scaling

**Describe alternatives you've considered**
Cloudwatch is not a good solution for this - as scaling with for example Keda based on Cloudwatch Metrics

[2022-11-15 17:56] kishorj commented on #2885
@julian-labuschagne, WAFv2 is not available in the me-central-1 region yet.
you can disable  wafv2 via controller command line flag. For example:
[code]

You could also specify via helm values during chart install/upgrades as follows
[code]

[2022-11-16 10:22] evyros commented on #1571
Still waiting...

[2022-11-16 12:17] julian-labuschagne commented on #2885
Hey @kishorj , Thanks for the response it is much appreciated.

I uninstalled the aws-load-balancer-controller helm chart: `helm -n kube-system uninstall aws-load-balancer-controller`

I then reinstalled the helm chart with the following flags: `--set enableWaf=false --set enableWaf2=false --set enableShield=false` like this:

[code]
I still get the following events when describing my ingress obje

[2022-11-16 15:45] kishorj commented on #2885
The helm value to set is `enableWafv2=false`, you have `enableWaf2=false` - note there is a v in between Waf and 2. You can upgrade the chart without uninstall/reinstall with new value.

[2022-11-16 17:15] lucasfnds commented on #2553
+1

[2022-11-16 17:20] nuwansa commented on #1571
badly need this.....

[2022-11-16 23:12] kishorj commented on #2886
/kind feature
Unlike nginx ingress controller, this controller doesn't get visibility into the created load balancer. It is possible for the controller to read the cloudwatch metrics and expose as prometheus metrices, however, there are potential performance issues. We will keep it in the backlog for the time being. It also possible to have a generic controller translate the cloudwatch metrics.

[2022-11-16 23:16] kishorj commented on #2884
You should be able watch for the CRD changes via the controller runtime similar to what this controller does. You should also be able to do similar steps on your side - either import the CRD definition from this controller, or copy it over.

If you are not able to use the dynamic informer using the controlelr runtime, you can raise a PR for the changes, we will include it in our repo.

[2022-11-16 23:17] kishorj commented on #2875
@bearrito, I'm closing the issue. If problem persists, feel free to reach out to us.

[2022-11-16 23:17] #2875 closed

[2022-11-16 23:22] kishorj commented on #2873
@marcincuber, could you provide further details on your use-case?

[2022-11-16 23:23] kishorj commented on #2864
@uklg, I'm closing the issue, please refer to the earlier response from @M00nF1sh for further details on the kubectl behavior.

[2022-11-16 23:23] #2864 closed

[2022-11-16 23:24] kishorj commented on #2863
@Ashtonian, closing the issue since we don't plan to support classic LB from this controller.

[2022-11-16 23:24] #2863 closed

[2022-11-16 23:24] kishorj commented on #2862
@catalinmer, were you able to follow earlier recommendation from @M00nF1sh? I'm closing the issue for now, if you have further concerns, feel free to reach out to us.

[2022-11-16 23:24] #2862 closed

[2022-11-16 23:25] kishorj commented on #2861
@enjoycx, I'm closing the issue. If the matter is still unresolved, feel free to reach out to us.

[2022-11-16 23:25] #2861 closed

[2022-11-16 23:26] kishorj commented on #2852
closing since we merged the linked PR.

[2022-11-16 23:26] #2852 closed

[2022-11-16 23:27] kishorj commented on #2851
closing since it is no longer an issue on the latest version.

[2022-11-16 23:27] #2851 closed

[2022-11-17 07:22] yudiz-amanm commented on #2553
+1

[2022-11-17 11:35] julian-labuschagne commented on #2885
Hi @kishorj Please note that I have used all three these switches.

* `--set enableWaf=false`
* `--set enableWaf2=false`
* `--set enableShield=false`

According to the docs you need to set those three switches to false to skip the WAF.

I also tried each switch separately and in combination each time I get the same result with the same error.

The WAF is also not enabled by annotation in my ingres

[2022-11-17 11:44] julian-labuschagne commented on #2885
Thank you very much @kishorj  That was indeed the issue. You have quite an Eagle Eye! Your help was really appreciated!

[2022-11-17 11:44] #2885 closed

[2022-11-17 12:16] antonyfray commented on #1571
![pulp-fiction-waiting](https://user-images.githubusercontent.com/15817659/202444014-b0e41381-fb31-461d-9542-e989a723757d.gif)

[2022-11-17 13:38] #2883 closed

[2022-11-17 13:38] s9r-5 commented on #2883
It's working .... problem was with ingress. Thanks

[2022-11-17 15:35] johngmyers commented on #1571
This is a tracking issue for features needed from an upstream project. Querying the status of those features here is less than productive. Such queries should be directed to the upstream project.

[2022-11-17 17:29] antonyfray commented on #1571
Would you mind directing us to the upstream project in question please?

[2022-11-17 18:33] wilief commented on #2852
I don't see the comment added through the PR on the "https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/service/annotations/#access-control" section. Could you verify that?

[2022-11-17 18:45] kishorj commented on #2852
I just updated the live docs, your changes should be included.

[2022-11-17 18:58] johngmyers commented on #1571
The upstream project would be AWS Elastic Load Balancing.

[2022-11-17 23:22] #2874 closed

[2022-11-18 01:36] hitsub2 commented on #1834
Any Updates on this?

[2022-11-18 12:07] ChrisV78 commented on #2800
Experienced the same by accident, removed a ALB from the AWS console and the lb-controller only recreates the ALB the moment you restart the lb-controller deployment.

[2022-11-18 15:17] jacobpella opened #2890 "Controller times out when calling elasticloadbalancing.us-east-2.amazonaws.com"
The controller is unable to create an alb and I see the following timeout error:

[code]

I exec'd into a container in the cluster and was able to verify outbound 443 works:

<img width="189" alt="image" src="https://user-images.githubusercontent.com/106621459/202734451-24feb0bd-dea5-42a0-95b5-8e59a83ca9af.png">

<img width="512" alt="image" src="https://user-images.githubusercontent.com/106621459

[2022-11-18 15:29] kishorj commented on #2890
@jacobpella, do you have custom aws endpoints? If so, can you verify the route exists between your cluster and the custom endpoints?

[2022-11-18 15:48] jacobpella commented on #2890
Not that I am aware of.

[2022-11-18 15:59] jacobpella commented on #2890
I stand corrected.
![Screenshot 2022-11-18 at 9 50 37 AM](https://user-images.githubusercontent.com/106621459/202746678-b84a801a-121c-4224-a2e5-3ac12028b530.png)

I was attempting to setup apigateway -> vpclink -> privatealb. Deleting the endpoint I created allowed the lb to be created.

[2022-11-18 16:07] jacobpella commented on #2890
Thank you @kishorj I'll close as this is user error; not relating to the plugin.

[2022-11-18 16:07] #2890 closed

[2022-11-20 01:41] gwynnebaer commented on #2553
+1

[2022-11-21 05:51] johngmyers opened #2891 "LBC 2.4.5 fails the k/k Ingress Suite"
**Describe the bug**

Since upgrading from 2.4.3 to 2.4.5, LBC is consistently failing the k/k Ingress suite

**Steps to reproduce**

Look at https://testgrid.k8s.io/kops-misc#kops-aws-aws-load-balancer-controller

It started failing after kubernetes/kops#14540 merged.

**Expected outcome**

The k/k e2e tests should pass.

**Environment**

* AWS Load Balancer controller version 2.4.5
* Kubernetes

[2022-11-21 11:21] marcosdiez commented on #2373
/remove-lifecycle stale

[2022-11-21 17:54] MartinEmrich commented on #1712
/remove-lifecycle stale

[2022-11-21 19:40] yodaflomaster commented on #2823
Hello @jdn5126 @M00nF1sh
I updated helm chart version current version

- Chart version: 1.4.6
- AWS Load Balancer controller: v2.4.5
- EKS: 1.21.14-eks-fb459a0

And redeploy helm chard (delete and install) but i still see exposed rest_client_request_latency_seconds_bucket metrics from aws-load-balancer-controller.
`# HELP rest_client_request_latency_seconds Request latency in seconds. Broken down

[2022-11-21 23:48] GouseAligne commented on #1897
Using terraform-aws-eks and this issue has just started to show up. Any help will be appreciated.

[2022-11-22 01:25] kishorj commented on #2891
I tried with kops 1.25.4, tests were successful. I will test with 1.26 next.

[2022-11-22 05:19] khteh opened #2893 "NoCredentialProviders: no valid providers in chain. Deprecated"
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* AWS Load Balancer controller version: 2.4.5
* Kubernetes version: 1.24
* Using EKS (yes/no), if so version? yes. `eksctl 0.120.0`

**Additional Context**:

[2022-11-22 15:58] project0 commented on #1719
Does anyone have a update on this? After almost two years i cannot see that it has been solved natively yet.

[2022-11-22 17:45] project0 commented on #1719
I wonder if finalizers would solve this problem nicely here :thinking:

[2022-11-23 02:56] khteh opened #2894 "`kubectl delete ingress` gets stuck"
**Describe the bug**
A concise description of what the bug is.
[code]
Nothing is deleted. Neither the ingress resource nor the LB.
**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* AWS Load Balancer controller version: 2.4.5
* Kubernetes version: 1.24
* Using EKS (yes/no), if so version? yes. `eksctl 0.120.0`

**Additional Contex

[2022-11-23 12:06] catalinmer commented on #2862
Sorry for getting back this late. I have an ingress and multiple services using it as rules (distinct target groups). I couldn't find a way to write the specific health-check per target-group (service).
My understanding of service health-checks was if we use the service controller to create internal LBs for every service. but this is not our setup.

[2022-11-23 16:51] kishorj commented on #2894
@khteh, the ingress resource gets deleted only after the lb controller is successful in cleaning up the underlying AWS LB resources. Do you see any errors in the controller logs?

[2022-11-24 08:08] khteh commented on #2894
[code]
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2893

[2022-11-24 10:14] ezorita opened #2896 "Shared node security group rules not accessible from all LB subnets"
**Describe the bug**
I have an `internal` load balancer of type `nlb-ip`. The load balancer applies accross 5 different AZ in the same VPC. It gets created correctly and the shared node security group gets updated with the exposed ports, but the sources of these SG rules only allow specific subnets.

Example, Load Balancer is created for VPC `10.10.0.0/16`, in 5 subnets  in different AZs:
- `10.10

[2022-11-25 02:32] jeromeinsf commented on #2354
/remove-lifecycle stale

[2022-11-25 07:29] thefirstofthe300 commented on #2837
Unfortunately, this solution doesn’t address the issue at all. The set of steps you laid out is currently what our clusters do. The issue lies in timing. As you acknowledge, there is a stretch of time after deregistration when requests are drained away from the node. If all of the pods are evicted before the drain completes, the reboot occurs, forcibly closing the connections proxied through the n

[2022-11-25 09:47] ezorita commented on #2896
Definitely the issue was that cross-zone load balancing is disabled by default. Solved by adding annotation:
[code]

[2022-11-25 15:33] yodaflomaster opened #2897 "AWS load balancer controller continues to provide high cardinality unbounded metrics to prometheus endpoint"
**Describe the bug**
After upgrading version of aws load balancer controller using helm, i keep seeing rest_client_request_latency_seconds histogram metric exposed on the Prometheus metrics endpoint. It includes a `URL` tag containing the URI of all API versions. It's about ~900 metrics. I've delete chart, check dependencies and redeploy. But the problem didn't go away
https://github.com/kubernete

[2022-11-27 11:40] davidvuong commented on #2460
Also having this issue, along with a few others but this explains the connectivity problem and provides a solution.

https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/docs/network_connectivity.md

[2022-11-27 16:35] visit1985 commented on #2185
/remove-lifecycle stale

[2022-11-27 17:42] #2241 closed

[2022-11-28 08:13] RamazanKara commented on #2886
Thank you for the answer. It would be awesome if this feature gets implemented to scale workloads based on request counts.

[2022-11-28 08:40] youzipi commented on #1702
@kishorj
is there any way to achieve the `prefix` rule in before version?
we use `v1.1.5` ☹️

[2022-11-28 08:48] youzipi commented on #1702
is these two configuration can achieve the same effect?
if so, why we need the prefix config? it provide better performance with limited scenario?
[code]

[2022-11-28 10:44] sukki37 commented on #2456
Hi, sorry to bother u, the problem I'm having is that it seems that ingress is intercepting all cross-domain requests, and the back-end service is not receiving them at all. Could u give me some advice on this?

[2022-11-28 15:48] project0 opened #2898 "Service NLB health check timeout annotation is ignored."
**Describe the bug**
When creating a new NLB the health check interval timeout is not used and is set to the same value as the interval. The given timeout is ignored.
**Steps to reproduce**

Create a service with both annotations:
`service.beta.kubernetes.io/aws-load-balancer-healthcheck-interval: "6"`
`service.beta.kubernetes.io/aws-load-balancer-healthcheck-timeout: "2"`

full example:

[code]
*

[2022-11-28 18:46] McPatate commented on #2694
Hello, I'm having the same issue when trying to deploy grafana tempo to EKS.

I would like the traffic to be routed via GRPC to my pods (so HTTP2 traffic IIUC), but my healthcheck be HTTP1.x, on the same backend, path & port.

Currently, I'm getting `400`s by tempo with the following logs:
[code]

It seems it would be useful to have a `alb.ingress.kubernetes.io/healthcheck-protocol-version` the sa

[2022-11-29 08:53] jslatterycnvrtr commented on #2234
FYI, this is possible in ingress-nginx ingress controller. See [docs](https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/#exposing-tcp-and-udp-services). I agree that it would be nice to see in AWS Load Balancer controller.

[2022-11-29 14:42] fabianberisha commented on #1572
+1

[2022-11-29 15:40] rosscdh opened #2900 "China Region - Access Denied"
hi there, just a report in the hope that its something obvious that ive missed;

**Describe the bug**
aws lbc should work in china region

**Steps to reproduce**

setup for china
add the env var for region
update images to pull from cn repo

**Expected outcome**
NLB gets deployed

**Environment**

* AWS Load Balancer controller version
2.4.3

* Kubernetes version

* Using EKS (yes/no), if so versi

[2022-11-29 15:42] rosscdh commented on #2900
Lots of warnings in the roles (including missing services for china of course)

![Screenshot 2022-11-29 at 15 59 13](https://user-images.githubusercontent.com/397106/204574886-316da5f6-cc2d-44d6-93bc-89627cf8688a.png)

[2022-11-29 19:51] kishorj commented on #2900
@rosscdh, the CN region sample policy is in the file `iam_policy_cn.json`, not `iam_policy.json`. For the latest controller release, the link is https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.4.5/docs/install/iam_policy_cn.json.

[2022-11-29 19:53] rosscdh commented on #2900
Thanks will try that

[2022-11-29 19:55] kishorj commented on #2900
You'd also need to disable shield/waf in cn region.

[2022-11-29 20:01] rosscdh commented on #2900
Yep thanks already spotted that much! I'll make a or to add the China policy in the docs tomorrow!

[2022-11-29 20:05] kishorj commented on #2893
@khteh, this error indicates the lb controller pod doesn't have proper IAM permissions configuration in place. You could do either of the following:
- setup IRSA (https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html), you can refer to the live docs for further steps, link: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/deploy/installation/#optio

[2022-11-29 20:06] kishorj commented on #2894
Closing since the it is due to the IAM permissions setup as mentioned in the linked issue.

[2022-11-29 20:06] #2894 closed

[2022-11-29 23:54] rajaie-sg opened #2901 "sts.us-west-2.amazonaws.com net/http: TLS handshake timeout"
**Describe the bug**

We are running aws-load-balancer-controller in our EKS cluster on nodes with public IPs in public subnets (access Internet through Internet Gateway).

The controller pod runs fine at startup and for an unspecified time interval afterwards, but at some random point, it starts failing with the following error

[code]

The EKS cluster is running `v1.12.0-eksbuild.1` of the Amazo

[2022-11-30 00:58] kishorj commented on #2813
@owyah, I'm closing the issue since recent releases have a separate manifest for IngressClassParams.

[2022-11-30 00:58] #2813 closed

[2022-11-30 01:48] khteh commented on #2893
I have followed through https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html but after applying and modifying the `sa` reference, I see different errors:
[code]
The alb pods are using `regional` STS endpoints.

[2022-11-30 02:26] khteh commented on #2893
Resolved. I used the wrong `sa` name in the IAM Role trust relationship.

[2022-11-30 02:30] khteh commented on #2893
Spotted another error in the logs:
[code]

[2022-11-30 05:08] #2893 closed

[2022-11-30 05:09] khteh opened #2902 "expect exactly one securityGroup tagged with kubernetes.io/cluster/mycluster for eni eni-<eniid>, got: [sg-<sgid1> sg-<sgid2>] (clusterName: mycluster)"
**Describe the bug**
A concise description of what the bug is.
[code]
There are indeed 2 SGs:
"[k8s] Shared Backend SecurityGroup for LoadBalancer" - 0 Permission entries (Inbound rules)

Tags:
elbv2.k8s.aws/resource | backend-sg
elbv2.k8s.aws/cluster | mycluster

Description: [k8s] Shared Backend SecurityGroup for LoadBalancer

"[k8s] Managed SecurityGroup for LoadBalancer". - 2 Permission entrie

[2022-11-30 19:38] kishorj commented on #2902
@khteh, the SGs you mentioned in the description don't have the cluster tag `kubernetes.io/cluster/mycluster`, these are created automatically by the controller to attach to the ALB.

The error you mention is related to the Security group attached to your EC2 instance (or ENI). You'd need ingress rules on the instance (or ENI) SG to permit traffic from the ALB. In your case, the controller attempt