[2021-06-06 15:21] EKami commented on #2037
I found why it didn't work with the help of the Kubeflow community: I was trying to patch the `Ingress` object on Kubeflow 1.3 but version 1.3 doesn't actually have any Ingress object, thanks to you @kishorj ! Your command pointed me in the right direction.

[2021-06-06 15:21] #2037 closed

[2021-06-06 15:43] thapakazi commented on #2054
and little bit of digging, i think I found my answers here: https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/pkg/targetgroupbinding/networking_manager.go#L412-L438

tagging used is common tag: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/subnet_discovery/#common-tag

[code]

I think documentation could be improved so next person doesn't get lo

[2021-06-06 17:53] shraddha-paghdar opened #2055 "Error: key "app.kubernetes.io/managed-by" must equal "Helm": current value is "eksctl"; annotation validation error: missing key "meta.helm.sh/release-name": must be set to "aws-load-balancer-controller"; annotation validation error: missing key "meta.helm.sh/release-namespace": must be set to "kube-system""
While installing the AWS Load Balancer Controller using Helm V3
[code]

[2021-06-06 21:51] JacekDuszenko commented on #2051
Hey, I'd like to take a stab at implementing this :)
/assign @JacekDuszenko

[2021-06-07 00:43] ilpyoung commented on #2049
Oh.. Couldn't read release notes
Thanks for help

[2021-06-07 00:43] #2049 closed

[2021-06-07 02:04] anthonysuterag opened #2056 "Feature Request: Subnet discovery to be able to select subnet based on available address spaces"
We have public subnets that span across 3 AZs, and we use these subnets to host our internet facing LBs.
Recently, we started to run out of address spaces, so we would like to extend those by adding new subnets, which means we currently have 6 public subnets (two in each availability zone).

However, I figured out that subnet discovery will select subnet based on lexicographical order by the Subne

[2021-06-07 04:37] shinji62 commented on #2056
I would like this to happen too, and happy to make a PR if required.

[2021-06-07 04:40] fabasoad commented on #2056
Would be great to have it 👍

[2021-06-07 11:03] kaykhancheckpoint commented on #2036
Managed to get around to doing this. However now the pod gives the error

[code]

I can also see that the helm version app did not change to 2.2.0

[code]

[2021-06-07 12:03] kaykhancheckpoint commented on #2036
Forgot to run `helm repo update`

[2021-06-07 12:11] kaykhancheckpoint commented on #2039
@dilip-joveo I'm facing the same proble in eks 1.19, how did you redeploy the serviceaccount?

[2021-06-07 15:52] kishorj commented on #2053
@mbimbij, the image tag is incorrect. You've specified
[code]
instead of
[code]

The release notes provide list of ECR images for all supported AWS regions [[v2.2.0 release notes link](https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.2.0)].

[2021-06-07 15:58] kishorj commented on #2054
@thapakazi, thanks for sharing the details. Feel free to open a PR to update the documentation.

[2021-06-07 16:02] mbimbij commented on #2053
oh, you're right.
What a silly mistake, right under my nose. Thank you for pointing it out.

I am closing the ticket

[2021-06-07 16:03] #2053 closed

[2021-06-07 19:21] M00nF1sh commented on #2047
@marcelobartsch thanks, it would be good if you can share the reproduce helm template.
There isn't changes related to readinesGate in v2.2 compared with v2.1

[2021-06-07 22:37] JacekDuszenko commented on #2051
On the ALB attributes annotation parsing we use a generic approach of parsing the whole config map provided by the `alb.ingress.kubernetes.io/load-balancer-attributes` annotation (https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/pkg/ingress/model_build_load_balancer.go#L280) whereas on the NLB we are essentially hardcoding supported lb attributes (https://github.com/kubern

[2021-06-08 00:00] kishorj commented on #2051
@JacekDuszenko, I'm inclined more towards specifying load balancer attributes annotation since it will be consistent with the ALB. Here is what I recommend -
1) Parse `service.beta.kubernetes.io/aws-load-balancer-attributes` into a string map
2) If there are specific annotations defined for access logs, cross zone load balancing, override the configmap from step 1.
3) Do not use a default values l

[2021-06-08 00:02] JacekDuszenko commented on #2051
OK, understood. This will take some more time but I'll be able to do it and submit a PR amendment shortly

[2021-06-08 00:03] JacekDuszenko commented on #2051
We should also think about reusing code from ingress, because service will use essentially the same code for attributes config map parsing

[2021-06-08 00:06] kishorj commented on #2051
Ingress has other features like ingress groups, and also the annotations have different prefixes and keys. Other than building the model, we do have common code for NLB/ALB 😄

[2021-06-08 00:10] kishorj commented on #2056
@anthonysuterag,
Controller already supports configuring custom subnets via annotation.
`alb.ingress.kubernetes.io/subnets` for ALB
`service.beta.kubernetes.io/aws-load-balancer-subnets` for NLB

Would this not be helpful for your use case?

[2021-06-08 00:15] kishorj commented on #2055
@shraddha-paghdar, what annotations does your existing serviceaccount resource have? If you configured IRSA, you can omit the contents of `eks.amazonaws.com/role-arn` annotation. Could you also share the steps you followed to create the service account?

[2021-06-08 02:49] anthonysuterag commented on #2056
@kishorj Might be a workaround, but if it is possible, I would like to avoid assigning subnets statically to the Ingress, because in the long run, it would be difficult to maintain and also to keep track as we have a lot of ingresses. So, I would prefer to let subnet discovery to handle the subnets assigning process.

[2021-06-08 04:09] lucaspanayiotou opened #2058 "Add annotation to manage egress rules"
Currently there is an annotation to manage ingress:
alb.ingress.kubernetes.io/inbound-cidrs

To manage egress, you need to create a security group, and then attach this to the load balancer via annotations.

Why is there not an annotation to manage egress?
_alb.ingress.kubernetes.io/outbound-cidrs_

[2021-06-08 08:30] kaykhancheckpoint opened #2059 "Internal error occurred: failed calling webhook "vingress.elbv2.k8s.aws": the server could not find the requested resource"
**Describe the bug**

After upgrading from 2.13 -> 2.2.0. I now get the following error when i try to update an ingeress file.

`
kubetl apply -f monitoring.ingress.yml
`

**Steps to reproduce**

Upgrade from 2.13 to 2.20 on eks 1.19

**Expected outcome**
Expect the ingress to successfully paply

**Environment**

* Chart name: aws-load-balancer-controller
* Chart version: 2.2.0
* Kubernetes versio

[2021-06-08 08:51] marcelobartsch commented on #2047
@M00nF1sh Hey , sorry I was kind busy with the upgrade of our EKS clusters, and to be honest after a lot of think on your comment we realize we are doing it wrong as having readiness gates on the initial deploy make no much sense, so we just remove that from our helm chart, and we were unable to reproduce the problem using just yaml files. so I will close this Issue unless we have enough data to r

[2021-06-08 08:51] #2047 closed

[2021-06-08 08:56] scila1996 opened #2060 "[2.2.0] couldn't auto-discover subnets: UnauthorizedOperation: You are not authorized to perform this operation"
Before, I was deploy AWS ALB Ingress follow this guide

https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html

and it work with older version before 2.2.0. But when i upgrade or install AWS ALB on new EKS with version 2.2.0, I using helm to deploy and just replace version chart 1.1.6 (2.1.3) to 1.2.0 (2.2.0). And Ingress was not created, this is log from Controller

[code]

{"level":"e

[2021-06-08 12:29] usman-github commented on #2060
For aws-load-balancer-controlle version 2.2.0 new IAM Permissions needed.

Check out release notes here :
https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.2.0

Sample IAM policy :
https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.2.0/docs/install/iam_policy.json

[2021-06-08 13:16] eldadpuzach commented on #2060
Means that You have resources created by ALB ingress controller v1.
Upon [required IAM permissions json](https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/main/docs/install/iam_policy.json) add additional permissions from [iam_policy_v1_to_v2_additional.json](https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/main/docs/install/iam_policy_v1_

[2021-06-08 16:17] kishorj commented on #2059
@kaykhancheckpoint, are the controller pods up and running?
[code]

There should be two pods if you installed the helm chart and used the default replicas configuration. One pod should be waiting for the leader election lock and another pod should be active. Could you check if there are any errors in the controller pod logs?

[2021-06-08 17:20] kishorj commented on #2058
@lucaspanayiotou, since the traffic is ingress from the clients to your application, the egress rules would have no effect.

[2021-06-08 17:41] iAnomaly commented on #2059
Hey @kaykhancheckpoint , it looks like you are using Helm which doesn't manage the CRD lifecycle such as updates or deletions. Did you perform this manual CRD upgrade step mentioned in the [upgrade guide](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/installation/#summary)?
`kubectl apply -k "github.com/aws/eks-charts/stable/aws-load-balancer-controller//crds?ref=maste

[2021-06-08 18:16] booleanbetrayal commented on #2059
I am also experiencing this issue and have manually updated the CRDs and IAM policy according to the upgrade guide ...

[2021-06-08 18:31] kaykhancheckpoint commented on #2059
@kishorj

I modified the original settings a little you can see the full values.yml below ( i set replicaset=0)
<details>
  <summary>values.yml click here</summary>

[code]
</details>

<details>
  <summary> kubectl logs -f aws-load-balancer-controller-kube-system-5bb74df678-8wl6b -n kube-system
</summary>

[code]
</details>

 **kubectl get deployment -n kube-system**

[code]

**kubectl get deploy

[2021-06-08 18:39] kishorj commented on #2059
Why is the deployment named aws-load-balancer-controller-kube-system? What arguments did you pass to helm install/upgrade?

[2021-06-08 18:42] kaykhancheckpoint commented on #2059
@kishorj

This is how i initially installed it during 2.1.3 version and i know this because i have docs like this.

Ive just ran an upgrade again

[code]
Now the image is correct

**kubectl get deploy -n kube-system aws-load-balancer-controller-kube-system -owide**

[code]

The pod log is showing something different now...

[code]

[2021-06-08 18:59] kaykhancheckpoint commented on #2059
Just to conclude,  after doing an upgrade today (running the same command)

[code]

everything is working. I don't know whats changed because i tried the same thing yesterday, except yesterday i ran into that issue.

[2021-06-08 20:59] mike-stewart commented on #1647
/remove-lifecycle stale

[2021-06-08 21:03] kaykhancheckpoint commented on #2059
@kishorj
Ah okay , thank you good spot, i think that hsould have been namespaceOverride

Anyway, is it safe to uninstall the helml chart and reinstall, will it still recognize the existing lb and be able to modify them?

[2021-06-08 22:42] kishorj commented on #2059
@kaykhancheckpoint, you should be able to reinstall the load balancer chart, and barring the breaking changes mentioned in the release notes, existing services/lbs continue to work as expected post upgrade.

I'm closing the ticket. If you have further concerns, feel free to reopen or create a new issue.

[2021-06-08 22:42] #2059 closed

[2021-06-08 23:33] gaganapplatix opened #2061 "Dealing with Blue/Green Deployment/Argo Rollouts and Readiness Gates"
We have some requirements where we need to use argo-rollouts, but the situation would be the same with any sort of blue green implementation which swaps service object selectors.

The problem is lets say you have a stable replicaset which is pointed to by the stable service object which is pointed to by a stable TargetGroup (and a Listener for it) which is taking most of the traffic. Lets say thes

[2021-06-09 01:58] scila1996 commented on #2060
Thank ! it's worked 👍

[2021-06-09 01:59] #2060 closed

[2021-06-09 09:01] JacekDuszenko commented on #2051
Hey @kishorj, I faced a small issue while working on the task and could use your help. While parsing the config map we have nondeterministic ordering of particular properties because of how `range` on maps work. Tests at `model_builder_test.go` , particularly this line:https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/pkg/service/model_builder_test.go#L2100 assert the order

[2021-06-09 09:53] sergeevo commented on #1879
Hi @M00nF1sh, @kishorj  - It looks like we're facing the same issue with the latest version. The Ingress resource deletion gets stuck on the security group deletion. Here is the controller log:

{"level":"error","ts":1623228812.7212946,"logger":"controller","msg":"Reconciler error","controller":"ingress","name":"my-ingress","namespace":"my-namespace","error":"failed to delete securityGroup: timed

[2021-06-09 10:00] JacekDuszenko commented on #2051
Actually, I've just pushed my changes and they are available for the review. I haven't found a quick-win solution for the above issue and just went with sorting the keys alphabetically at the end. Please look into #2057 in your free time. Thanks!

[2021-06-09 12:09] vumdao commented on #1264
`aws-load-balancer-controller:v2.2.0` still not solve the problem
![image](https://user-images.githubusercontent.com/37215642/121351681-3e07c880-c956-11eb-856b-69b151029e23.png)

[2021-06-09 14:18] infakt-HNP opened #2064 "Cross namespace ALB"
Hello,

is it possible to create one ALB which will point to services in different namespaces? I've tried, but requires separate ALB per namespace.

Thank you.

[2021-06-09 16:42] kishorj commented on #2051
@JacekDuszenko, for deterministic test results, you can always sort and compare in the unit tests.

[2021-06-09 16:45] kishorj commented on #2064
@infakt-HNP, did you try the ingress group feature and see if it helps with your use case? This feature allows you to group multiple ingress across namespaces to provision a single ALB.

[2021-06-09 16:45] kishorj commented on #1990
/kind feature

[2021-06-09 17:02] kishorj commented on #1879
@sergeevo, what is the version of your controller? If it is v2.2.0, please open a new issue.

[2021-06-09 18:05] JacekDuszenko commented on #2051
Thank you very much for the quick review Kishor! I'll work on your comments and submit a fixed version shortly

[2021-06-09 20:06] M00nF1sh commented on #2056
If we add a logic based on available IP addresses, we might need to restrict the subnet auto-discovery for new LB creation only. for existing LBs, we shouldn't invoke subnet auto-discovery as it might change subnets and cause downtime.

we can do similar things as we currently did for service model builder here: https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/pkg/service/

[2021-06-09 21:59] mikeinton commented on #2032
Just updating here that I opened a ticket with AWS support and they were able to narrow it down to our node's security group not allowing 0.0.0.0/0.  This makes sense because for VPC security, we are not allowed to have a NAT GW attached to our public subnets so all of our ELB/ALB/NLB's are set as "internal" despite them actually being able to expose services publicly.

Since security groups aren'

[2021-06-10 03:06] wu0407 commented on #1065
you need set up at least  preStop sleep 90.

https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1064

[2021-06-10 03:21] foriequal0 commented on #1065
I tried to fix this PR #1775, I've ended up with a separate package: https://github.com/foriequal0/pod-graceful-drain

[2021-06-10 09:40] infakt-HNP commented on #2064
Thank you, It works :)
May I ask where should I put ```--disable-ingress-class-annotation```? To annotations in ingress definition or via helm?

[2021-06-10 13:37] ArtunSubasi opened #2065 "Create an option to reuse an existing ALB without specifying target group bindings"
### Problem description
If a workflow requires the provisioning of a load balancer outside of Kubernetes, the only way of doing that seems to be the usage of `TargetGroupBinding`custom resources ([source](https://aws.amazon.com/blogs/containers/introducing-aws-load-balancer-controller/)). That also implies that the target groups must be managed outside of Kubernetes. Creating the load balancer bef

[2021-06-10 16:27] kishorj commented on #2064
This `--disable-ingress-class-annotation` flag has to be specified as controller container command line argument. You could edit the `aws-load-balancer-controller` deployment.

Helm chart doesn't support it yet. I will add support in the new chart version 1.2.2.

[2021-06-10 16:41] kishorj commented on #2065
/kind feature
duplicate issues
 - https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2001
 - https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/228
 - https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1452
 - https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1573

We are targeting this support in the v2.3.0 release.

[2021-06-10 17:36] tlliddle opened #2066 "The spec for Ingress resource is incorrect"
The manifest for `apiVersion: networking.k8s.io/v1` has the incorrect specs.
https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/3a6ba6a7c16e5fe9f63949381b24cebadd7e8c9f/docs/examples/2048/2048_full.yaml#L52-L59

The spec should conform to the spec referenced here:
https://kubernetes.io/docs/concepts/services-networking/ingress/#the-ingress-resource
[code]

[2021-06-10 17:42] kishorj commented on #2066
In v2.2.0, If `pathType` is not specified, it will default to `ImplementationSpecific`. The spec you provided will fail validation since `pathType: Prefix` will not allow wildcards `?` or  `*`.

Did you encounter any issues with the provided manifest?

[2021-06-10 18:21] ArtunSubasi commented on #2065
Sure. We are going for full automation with the [GitOps](https://www.gitops.tech/) concept combining Terraform and [Flux](https://fluxcd.io/). Ideally, Terraform would provision our K8s cluster and install Flux into the cluster. Then Flux would kick in, fetch all Kubernetes resource manifests from a git config repository and fill the cluster with life. Our Kubernetes resource manifests in the git

[2021-06-10 21:10] M00nF1sh commented on #2066
@kishorj we should revert this PR: https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2040

`networking/v1` is not supported in 1.16 yet, but this file needs to support all supported eks versions as it's used in docs.
also, the backend schema changed in `networking/v1` and it's incorrect.

[2021-06-10 21:20] #2066 closed

[2021-06-10 21:30] JacekDuszenko commented on #2051
Hey, code is ready for the next review!

[2021-06-11 00:03] briancaffey opened #2069 "ALB's loadBalancerDnsName value in AWS console different from CfnOutput value"
I'm seeing some odd behavior that I can't trace or explain when trying to get the loadBalacnerDnsName from an ALB created by the controller. I'm using v2.2.0 of the AWS Load Balancer Controller in a CDK project. The ingress that I deploy triggers the provisioning of an ALB, and that ALB can connect to my K8s workloads running in EKS.

Here's my problem: I'm trying to automate the creation of a Rou

[2021-06-11 04:28] jwitko commented on #2059
@kaykhancheckpoint @kishorj FYI I actually just had this happen to me as well.

[2021-06-11 05:57] ecrousseau opened #2070 "Delay of 6m15s between building a model and applying it"
I am using aws-load-balancer-controller v2.2.0 in an EKS cluster and seeing a delay that I don't understand between when I update a Kubernetes service and when the controller begins to perform actions via the AWS API.

After noticing the controller seemed slow, I reduced the deployment to a single replica, added debug logging, and performed two tests - changing the port of an existing service, and

[2021-06-11 06:11] gazal-k opened #2071 "aws-load-balancer-webhook-service error for non alb Ingresses"
We are trying to migrate from `ingress-nginx` to `aws-load-balancer-controller`. We are starting by just installing the controller chart. The plan is to template our applications to use the new ingress.class `alb` and then migrate them.

But after installing `aws-load-balancer-controller`, we are seeing errors on our existing applications like:

`cannot patch "app1-ingress" with kind Ingress: Inte

[2021-06-11 06:38] M00nF1sh commented on #2071
@gazal-k
It seems the webhook's CA is configured incorrectly. If you install from helm, did you reverted the webhookConfiguration/cert Secret to make them drift?

The webhook for Ingress is merely validate changes(for security features we included with IngressClassParams support), and it'll skip Ingresses using other IngressClasses

It's fine to delete the ValidatingWebhookConfiguration if it's a

[2021-06-11 07:34] gazal-k commented on #2071
I'm not entirely sure what may have happened. Because this wasn't me personally who  installed the chart. @anilkumarpasupuleti do u know if we reverted webhookConfiguration/cert Secret during installation?

I just checked the installation instructions now. It's not a straight helm install, is it? Do the CRDs have to be done manually first?

[2021-06-11 07:41] gazal-k commented on #2071
Is this the `Secret` we are talking about: https://github.com/aws/eks-charts/blob/master/stable/aws-load-balancer-controller/templates/webhook.yaml#L131-L159 ?

[2021-06-11 07:55] gazal-k commented on #2071
We also checked this somewhat related #1909. Verified that the caBundle in the webhooks matched the `Secret`; `aws-load-balancer-tls`

[2021-06-11 08:04] gazal-k commented on #2071
Is that `validatingwebhookconfigurations/aws-load-balancer-webhook`? I'm no sure what you mean by "single cluster use". We plan on installing `aws-load-balancer-controller` on each of our clusters. Wasn't aware a single installation can manage across clusters. (not that we'd need it even so)

[2021-06-11 08:50] anilkumarpasupuleti commented on #2071
This issue does not exist on chart version 1.1.6, its on k8s v1.18

[2021-06-13 04:15] ffoysal commented on #1571
any ETA on such a important feature?

[2021-06-13 05:16] tanvp112 opened #2073 "2048 example will not load on second tab, or new browser, or close and restart browser"
Hi,

I ran the [2048 example](https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/main/docs/examples/2048/2048_full_latest.yaml) and able to access the application running on EKS (worker node on private network) **initially**. But I noticed if I try to access the app with new tab in the browser (with the first and successful one), the page will fail to load. If I close t

[2021-06-13 14:52] briancaffey commented on #2069
I learned that I need to use external DNS, so that the DNS records can be synchronized with the Ingress. I'll try following this example: https://github.com/aws-samples/nexus-oss-on-aws/blob/master/src/lib/sonatype-nexus3-stack.ts#L388

external-dns: https://github.com/kubernetes-sigs/external-dns

[2021-06-13 14:52] #2069 closed

[2021-06-13 21:48] FlorinAsavoaie commented on #1784
/remove-lifecycle rotten

[2021-06-13 21:55] FlorinAsavoaie commented on #1784
So actually I think the group: auto is a very good idea and it can be fairly simple to define a scenario:

Define `AlbIngressGroup` as an actual resource and it should support a parameter called `ingressSelector`.

What do you think about this?

[2021-06-14 00:46] dbaba opened #2074 "NLB created after the second time didn't route UDP packets in IP mode"
I'm trying to use IP mode NLB for my UDP app but UDP packets didn't seem to arrive at the app container in a pod after TargetGroup showed IP target was healthy.
On the first attempt, IP mode seemed to work (meaning UDP packets were reachable to the destination pod) but after destroying and recreating NLB by `kubectl delete` and `kubectl apply`, it has never worked.
In Instance mode, NLB worked as

[2021-06-14 06:49] shinji62 commented on #2056
@M00nF1sh Sounds ok for me.

[2021-06-14 14:56] BanutC opened #2075 "Unrecognized resource types after installing ALB Controller 2.2.0"
A couple of days ago i performed an upgrade for ALB Controller from version 2.1.3 to version 2.2.0 using Helm.
The upgrade itself performed great, alb-controller pod doesn't show any errors and all components work fine.

But in AWS Console in IAM Policy created for ALB-Controller there are some Resources which appear as Unrecognized.
`arn:aws:elasticloadbalancing:*:*:listener/net/*/*/*`
 `arn:aws:

[2021-06-14 15:08] cloudlady911 commented on #1738
I have a question related to this.  I am using a shared ALB.  I have 175 apps using the same alb.  I would like to be able to whitelist certain CIDR's to certain apps. How can I use this setting?  For instance, AppA should be accessable from 123.345.23.45/24 and AppB should be accessible from 456.567.89.76/24

[2021-06-14 15:40] cloudlady911 opened #2076 "IP whitelisting SHARED aws-load-balancer-controller"
There was a question similar to this before.  But in my case I am using a SHARED ALB.
I have a question related to this. I am using a shared ALB. I have many apps using the same alb. I would like to be able to whitelist certain CIDR's to certain apps.

I know about this annotation: `alb.ingress.kubernetes.io/inbound-cidrs`

How can I use this setting for a shared ALB? For instance, AppA should be

[2021-06-14 17:06] kishorj commented on #2074
VPC CNI older than v1.8.0, has an issue that prevents the pods attached to secondary ENI from receiving client source IP preserved traffic (udp traffic has client source IP preserved). CNI issue - https://github.com/aws/amazon-vpc-cni-k8s/issues/1392.

The fix is included in v1.8.0 release. For details, please refer to the VPC CNI release notes [[link](https://github.com/aws/amazon-vpc-cni-k8s/rel

[2021-06-14 17:07] kishorj commented on #2071
@anilkumarpasupuleti, the validating webhook is included in chart v1.20 (app v2.2.0) and later.

[2021-06-14 17:10] kishorj commented on #2075
@BanutC, this is a UX issue. The ELB service in IAM policies refer to the classic load balancer which doesn't support targetgroup/listener/listener-rule resources. The ELB v2 service in IAM policy is the one for NLB/ALB and will not show the unrecognized errors.

[2021-06-14 20:14] gazal-k commented on #2071
We got the error in chart version 1.20. We tried downgrading and obviously, no validating webhook no errors.

Anil was just mentioning that we're trying all of this in EKS 1.18. (not to be confused with the chart version)

[2021-06-15 00:10] dbaba commented on #2074
Thank you for the helpful info.
I'm using Helm for installing VPC CNI but the chart is not yet released. I will try v1.8.0 after the chart is coming.

[2021-06-15 07:40] #2075 closed

[2021-06-15 09:56] infakt-HNP commented on #2064
thank you

[2021-06-15 09:56] #2064 closed

[2021-06-15 10:04] ChristianHersevoort opened #2077 "Common tag prevents subnet discovery after upgrade"
The old v1 ALBIngressController automatically added the "common tag" with the value "shared" to a subnet when it was discovered, unless it was "owned" by another cluster.  This auto tagging behavior seems to have been removed from the v2 loadbalancer controller.

As expected; after upgrading to v2 the previously created "common tags" remain and are not created for new clusters.

However when I cre

[2021-06-15 14:12] ArchiFleKs opened #2078 "No IP/Instances are registered in target group"
Suddently stopped working. Provisioning LB is working fine but IP target are no registered. I'm using 2.2.0.

The only thing that changed is that I updated my cluster form EKS 1.18 to 1.19

I have other cluster where registering target is working fine (either on 1.19 or 1.20).

Here load balancer is created but no target are registered

[code]

[2021-06-15 15:39] kishorj commented on #2077
@ChristianHersevoort, in addition to the cluster tagged (shared or owned) subnets, controller will also consider subnets without the cluster tag during auto discovery. I suspect your subnet is tagged only for cluster `existing-cluster-name` and not for the new cluster you created. You can either remove the cluster tag altogether, or tag the subnet for the new cluster as well.

[2021-06-15 22:59] Ashtonian opened #2079 "No target group registration and no error"
I'm trying to hack this [tf module](https://github.com/GSA/terraform-kubernetes-aws-load-balancer-controller/pull/8) to deploy the controller. Trying to do ip binding.

Previously when I tried to use a TargetGroupBinding cr it would complain in the controller logs "can't access port x on service" so it seemed to find the service but couldn't access which I think is a permissions issue. But now tha

[2021-06-15 23:58] jessesuen commented on #2061
Related: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1764#issuecomment-775396332

[2021-06-16 00:15] dbaba commented on #2074
I close the issue as it's resolved by VPC CNI plugin v1.8.0.
I tested with [aws/eks-charts v0.0.53](https://github.com/aws/eks-charts/releases/tag/v0.0.53).

[2021-06-16 00:15] #2074 closed

[2021-06-16 08:54] ChristianHersevoort commented on #2077
@kishorj Yes you are correct, the subnet is only tagged for a cluster named "existing-cluster-name" and not for "new-cluster-name"

When creating a new cluster I expect the subnet to be discovered even when a "shared" tag exists for an existing cluster

I've tested the following scenario's:

|Scenario   |  expected subnet to be discovered  |  actual result  |
|---|---|---|
|  "new cluster", subnet

[2021-06-16 17:28] kishorj commented on #2071
@gazal-k
could you compare the caBundle configured in your validating webhook `aws-load-balancer-webhook` and the secret `aws-load-balancer-tls`?

caBundle configured in webhook
[code]

CA certificate from the secret
[code]

Also verify the webhook certificate is issued by the configured CA
[code]

[2021-06-16 20:44] blhagadorn commented on #1064
Any update on this? This should be reopened given the comments here, IMO.

[2021-06-16 22:02] M00nF1sh commented on #2079
@Ashtonian
Have you confirmed the TargetGroupBinding CR is created in your cluster? would you help do a kubectl describe on the TargetGroupBinding and paste it here?

[2021-06-16 22:03] M00nF1sh commented on #2079
also, we don't have the "can't access port x on service" in our logs i believe, is that logs from somewhere else?

[2021-06-16 22:06] M00nF1sh commented on #2078
I'm wondering whether there are some issues with EKS dataplane as the logs is `Failed to list *v1.Secret`.

Is there more logs?
also, would you mind create a EKS support ticket? or share the clusterARN to us(yyyng AT amazon.com or joshikis AT amazon.com)

[2021-06-16 22:14] M00nF1sh commented on #2077
@ChristianHersevoort
We currently didn't defined any semantic around the "owned/shared" keyword.
Previously before k8s 1.19, subnets is required to have the `k8s...cluster/new-cluster: owned/shared` tag.
on k8s 1.19, we relaxed the restriction to also consider subnets without any other cluster Tags. we did this change to both in-tree code and this AWSLoadBalancerController.

we are still discussin

[2021-06-16 22:18] M00nF1sh commented on #2076
@cloudlady911
There is two way to achieve it.
1. use the sourceIPConfig condition to limit the rules of AppB to have sourceIP restriction : https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#conditions
2. use wafV2 to do the source limit and attach wafv2 to ALB via annotation.
3.
I recommend the second approach as it's more flexible. The first one requir

[2021-06-16 22:19] M00nF1sh commented on #2073
@tanvp112
We haven't noticed the behavior before. Is it due to some issues in your network? Have you tried access the game from another network environment?

If it still don't work, would you help check whether the targets in your TargetGroups shows healthy in your AWS console.

[2021-06-16 22:29] M00nF1sh commented on #2070
@ecrousseau
Hi, is your cluster runnings in some environment that is fully-private?
The controller by default will reach-out to AWSShield API to check whether shieldService is enabled or not. It might be causing the delay if your network environment cannot access the shield API.
If so, would you mind try add a flag `--enable-shield=false` to the controller?

[2021-06-16 22:31] ecrousseau commented on #2070
The cluster is in a fully private network, yes - access to certain AWS APIs is enabled via VPC endpoints. I'll give that option a try and report back.

[2021-06-16 22:35] M00nF1sh commented on #2061
@gaganapplatix @jessesuen
The recommended way to implement blue/green deployment is using the weighted routing feature of ALB.

Swapping the labels of Kubernetes is a simple way to do blue/green deployment for in-cluster services only. It don't suits LoadBalancer case for the reasons you outlined. (1. it take time for controller to register new pods, 2. podReadinessgate cannot be mutated on create

[2021-06-16 22:58] ecrousseau commented on #2070
Yep - much faster. (For those who come across this later: I also disabled WAF and WAFv2).
Thankyou @M00nF1sh!

[2021-06-16 22:58] #2070 closed

[2021-06-17 02:34] gazal-k commented on #2071
- The caBundle in the webhook & CA certificate in the secret match.
- webhook certificate is issued by configured CA.

I was able to verify installing & updating apps using other ingress controllers using `helm` & `helmfile` just fine. It seems like a `hemlfile` execution from our CI/CD pipeline is where we are seeing the error. This might be a tooling issue. We'll try updating our pipeline contai

[2021-06-17 07:55] ArchiFleKs commented on #2078
Thanks I have contacted you and also opened a support ticket :)

[2021-06-17 09:14] sechunOH commented on #2014
@M00nF1sh
Okay. I will go along that way.
Maybe it cannot be handled with just terraform and helm provider..

Thanks a lot.

[2021-06-17 09:14] #2014 closed

[2021-06-17 09:23] sechunOH opened #2080 "Can I specify application loadbalancer name?"
Hello,
I'm using ALB with aws eks.

I should use static IP for ALB because of security reasons, so I'll use AWS global accelerator.
But in terraform, I cannot know the name or arn of ALB created with Ingress, so I cannot create global accelerator endpoint group with ALB using Terraform.
(it maybe like this pattern: k8s-\<namespacedName\>-\<hash\>)

Is there a way to specify ALB's name or to imply

[2021-06-17 09:25] Mattie112 opened #2081 "Path / with Kind Prefix does not work"
When looking at the spec of the ingress (https://kubernetes.io/docs/concepts/services-networking/ingress/#examples) I see the following:

Kind: Prefix
Path: /
Matches: ' all paths'

I have something like:
[code]
The resulting rule in the loadbalancer is:
![image](https://user-images.githubusercontent.com/662896/122369059-2932c280-cf5e-11eb-893f-7b229577ec4c.png)

The following url works `xx.xx.io`

[2021-06-17 12:00] andor44 commented on #2080
Yes, the most recent version allows specifying the name (note, NOT the ARN) of the load balancer: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#load-balancer-name

[2021-06-17 12:52] onagorodniuk commented on #1629
Thank you! It helped!

[2021-06-17 16:07] darrenwhighamfd commented on #2071
I have also had this issue when using Polaris https://artifacthub.io/packages/helm/fairwinds-stable/polaris on version 4.0.4

`Error: UPGRADE FAILED: cannot patch "polaris" with kind Ingress: Internal error occurred: failed calling webhook "vingress.elbv2.k8s.aws": Post "https://aws-load-balancer-webhook-service.kube-system.svc:443/validate-networking-v1beta1-ingress?timeout=10s": x509: certificat

[2021-06-17 19:52] Ashtonian commented on #2079
Thanks for the response @M00nF1sh - here it is:

k describe TargetGroupBinding -n kube-system
[code]

[2021-06-17 19:53] Ashtonian commented on #2079
Also just to clarify does the backend service need any annotations when using target group binding?

[2021-06-17 21:52] cloudlady911 commented on #2076
Yes.  I think I will go with the AWS WAF method.  It makes the most sense.

[2021-06-17 21:52] #2076 closed

[2021-06-18 05:54] igoratencompass commented on #835
Why is this closed? What's the go with the support for the `ingress.kubernetes.io/rewrite-target` annotation?

[2021-06-18 06:07] igoratencompass opened #2082 "Support for URL rewite annotation"
Please provide support for `ingress.kubernetes.io/rewrite-target` annotation as provided by all other ingress controllers. Example usage stripping leading part of the URL before sending upstream:

[code]
I found similar issue from like two and a half years ago https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/835 that was just closed without any action.

[2021-06-18 10:43] jlpettersson opened #2083 "Manifests for kubectl apply and Helm are very different"
In the documentation, the Deployment-manifests for `kubectl apply` and Helm are very different.

Some major differences:
* Different number of replicas
* Different Affinity rules configured
* Different Labels

There are probably more differences.

This makes it hard to switch from Helm to `kubectl apply` or the other way. It is also hard to understand what configuration is recommended.

[2021-06-18 11:19] yuliyantsvetkov commented on #1571
Any ETA here, guys ? Its the 21st century !

[2021-06-18 12:11] trallnag opened #2084 "Are alb.ingress.kubernetes.io/ annotations whitespace agnostic?"
Let's say I want to enable access logging to S3. Can I do the following?

[code]

This gets rendered as a string with whitespaces:

[code]

Does this work or are white spaces forbidden?

[2021-06-18 18:03] Ashtonian commented on #2079
Here are the rest of the pods in the cluster. I just noticed cni image is still based on 1.7 so I'm going to fix that. I'm using [this](https://github.com/GSA/terraform-kubernetes-aws-load-balancer-controller/pull/8) tf for the controller.

kdp -n kube-system
[code]

[2021-06-18 18:39] Ashtonian commented on #2079
recreated the cluster with the latest cni plugin, same issue, here is the rest of the pods.

kdp -n kube-system
[code]

[2021-06-19 05:37] tanvp112 commented on #2073
I have AWS console opened and access it with no issues during the tests, Health status all green. Other common task like google browsing etc all work as normal. Have you tried the example with the steps as described? What sort of network issue would you suspect that could cause an issue on the LB end?

[2021-06-19 08:49] Deepak1100 opened #2085 "Ingress Controller causing whole data plane to go down"
So we had some issues with Node Authorizer and which caused all nodes to go into the NotReady state. and at that time alb-ingress-controller deregister all the pods from all the alb.
Which cause all service to give 503.
I don't think this is the right way. As it is taking the whole data plane down while all containers and nodes were fine.
Or at Atleast we should follow some kind of policy like PDB

[2021-06-19 21:27] reifnir commented on #1138
I made the same, exact mistake. Thanks for calling that out!

[2021-06-20 04:11] #2073 closed

[2021-06-20 07:17] thanhma commented on #1994
@kishorj There's a case that an ingress that belongs to an Ingress Group, but having the certificate expired, the other ingresses within the group also cannot be reconciled. Do we have any fix or workaround for this?

[2021-06-20 13:15] LiorLieberman commented on #1788
Any updates regarding this feature?, we just move to work with the new version and we need the as well need the prefix option that was in the old controller

[2021-06-21 13:35] elFarto commented on #1972
@M00nF1sh It would be nice if we could apply any of the Ingress/Service annotations to IngressClassParam, and have them all merged together. I was hoping v2.2.0 would let me clean up my 30+ Ingress manifests to remove the ALB specific cruft from them, as it stands I'd be left with target-type and listen-ports (and healthcheck-path, but that's a harder one to fix).

[2021-06-21 14:51] Deepak1100 opened #2086 "Building.md is giving 404"
its giving 404 https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/BUILDING.md

I wanted to build and test for [this](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2085) but there are no contribution docs.

[2021-06-21 18:46] jinzishuai commented on #1937
For people's reference, this is how the new configuration works:
[code]
The code is much simpler and the resulting HTTP listener would have a single redirect rule as
![image](https://user-images.githubusercontent.com/1074685/122812251-b17ed380-d28e-11eb-8dc3-588b3e37b686.png)

This is perfect!

[2021-06-21 22:28] fawadkhaliq opened #2087 "Host aws-load-balancer-controller Helm chart in the controller repo"
**Description**
Helm chart is the preferred way of packaging and installing the AWS Load Balancer controller. Not having the chart source code in the `aws-load-balancer-controller` repo leads to reactive/post-merge/post-release/manual validation of the chart. We would like maintain the charts in the controller repo and sync with the eks-charts on releases (controller release or just a Helm chart r

[2021-06-21 22:33] M00nF1sh commented on #2087
/assign fawadkhaliq

[2021-06-22 14:51] manideepl commented on #2045
![Screenshot 2021-06-22 at 8 21 20 PM](https://user-images.githubusercontent.com/52558700/122946952-6a303a00-d397-11eb-9eee-1a1ea245eed5.png)
Would you please help me understand this?

[2021-06-22 16:57] shyr commented on #814
/reopen

[2021-06-22 19:06] Ashtonian commented on #2079
@M00nF1sh anything I can do to debug this further?

[2021-06-22 20:35] M00nF1sh commented on #2086
@Deepak1100
Thanks for your interest in contributing :D. We'll fix the `BUILDING.md` shortly.
For now you can checkout the main branch of this repo and execute
[code]
above command will build the image as `repo/name:v2.2.0-dev` and push to the repository(you need to setup your ECR/dockerHub credentials before run above command)

[2021-06-22 20:37] M00nF1sh commented on #2084
@trallnag Yes, This will work, white spaces is permitted around `,` but not permitted around `=`

[2021-06-22 20:41] M00nF1sh commented on #2083
@jlpettersson
Thanks for the feedback. The yaml version is pretty limited for us to implement features available via helm, and they are currently maintained separately.

We'll converge them to be a single source of truth. (e.g. using helm chart to render the YAML version and have different YAMLs for different settings).

we recently moved the helm-chart to be maintained in this controller(https://

[2021-06-22 20:46] M00nF1sh commented on #2082
@igoratencompass
The URLRewrite is tracked by https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1571
It's a feature currently been developed by ALB team.

[2021-06-22 20:47] M00nF1sh commented on #1571
@ffoysal @yuliyantsvetkov the latest ETA i got from ELB team for request manipulation is Q2 2020.

[2021-06-22 20:48] rothgar opened #2091 "Documentation links to old alb-ingress-controller"
**Describe the bug**
Some links are still linking back to alb-ingress-controller pages which no longer exist. An example is the controller docs on this page https://kubernetes-sigs.github.io/aws-load-balancer-controller/v1.1/

It should be updated to https://kubernetes-sigs.github.io/aws-load-balancer-controller/v1.1/guide/controller/setup/

[2021-06-22 21:12] #2084 closed

[2021-06-22 21:30] M00nF1sh commented on #2079
@Ashtonian
Sorry for the late reply. Seem the TGB is bouncing between
`Warning  BackendNotFound         18m (x62 over 44h)  targetGroupBinding  backend not found: unable to find port 8443 on service kube-system/kubernetes-dashboard`
and
`Normal   SuccessfullyReconciled  18m (x46 over 44h)  targetGroupBinding  Successfully reconciled`

Do you have some automated system that keeps adds and removes t

[2021-06-22 21:54] Ashtonian commented on #2079
No worries, thanks for the response! I sent the arn over. I don't have anything automated. The whole thing was deployed with terraform here are the tf files from our two in house modules. This is the [aws-load-balancer-controller](https://github.com/GSA/terraform-kubernetes-aws-load-balancer-controller/pull/8) - where I suspect the problem but it seems to be following the instructions pretty consi

[2021-06-23 20:46] fawadkhaliq opened #2092 "Prevent creation of TargetGroupBinding if its already referenced by an existing TargetGroup"
**Describe the bug**
TargetGroupBinding has a one-to-one mapping with TargetGroup as per the datamodel, however, the controller does not enforce this behavior. This can lead to two TargetGroupBinding resources point to the same TargetGroup.

**Steps to reproduce**
Create a TargetGroupBinding-1 that maps to TargetGroup-A. Create a TargetGroupBinding-2 that maps to same TargetGroup-A. The controller

[2021-06-23 20:47] wild-endeavor opened #2093 "[Documentation] svc account creation"
On https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/installation/

The last step 3. where it begins "Install the helm chart if using IAM roles..." shouldn't the note read `serviceAccount.create=true` instead of `serviceAccount.create=false`?

[2021-06-23 20:48] M00nF1sh commented on #2092
/kind bug
/assign fawadkhaliq

[2021-06-23 21:29] kishorj commented on #2093
@wild-endeavor, in this case,  the serviceaccount is created before helm install, `eksctl create iamserviceaccount ...`. So the `serviceAccount.create=false` is correct.

[2021-06-23 21:32] wild-endeavor commented on #2093
Oooh got it thanks, I missed that step.

[2021-06-23 21:32] #2093 closed

[2021-06-23 22:08] M00nF1sh commented on #2091
thanks for reporting this. we'll fix the readme shortly

[2021-06-23 22:12] M00nF1sh commented on #2085
@Deepak1100
Do you have a good strategy to differentiate the case of node accidentally moved to NotReady state or nodes moved to NotReady on purpose manually?
also, node might entering NotReady one by one (if it's due to failed healthcheck)

[2021-06-23 22:14] M00nF1sh commented on #2082
@igoratencompass
I'll close this ticket as all features to ELB will be tracked via https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1571. (The controller cannot support such feature until NLB/ALB themself supports it).

The current ETA is Q2 2022

[2021-06-23 22:14] #2082 closed

[2021-06-23 22:17] M00nF1sh commented on #2081
@Mattie112
Ingress Path type is only supported in v2.2.0, you'll need to follow the Action Items in https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.2.0 to upgrade to v2.2.0

It seems you might be on a older version, where `pathType: Prefix` is not respected at all.

[2021-06-23 22:19] M00nF1sh commented on #2080
@andor44 Thanks for the clarification 👍
@sechunOH Did the load-balancer-name works for you? note(it must be a unique name across your entire AWS account, so you'll need to generate the name dynamically by yourself to make it unique in your Terraform)

Closing this, feel free to open a new one if you facing any new issues.

[2021-06-23 22:19] #2080 closed

[2021-06-23 22:26] M00nF1sh commented on #2077
closing this since the "owned/shared" semantic is not something we plan to support in near future.
but feel free to open a feature request to https://github.com/aws/containers-roadmap if you feel this is essential.
As this semantic need to be honored for AWS-cloudprovider  as well.

[2021-06-23 22:26] #2077 closed

[2021-06-23 22:30] M00nF1sh commented on #2071
@darrenwhighamfd Is this issue still happening in your cluster? have you checked whether the cert stored in secret matches the CA configured in `aws-load-balancer-webhook` ValidatingWebhookConfiguration?

[2021-06-23 22:32] M00nF1sh commented on #2061
closing this as service label swapping is not intended for 0 downtime deployment and cannot leverage the podReadinessgate feature.

feel free to create a new issue if you facing problems using the weighted routing feature. (you can also continue do the service label swapping as well without enable podReadinessgate on your namespace)

[2021-06-23 22:32] #2061 closed

[2021-06-23 22:33] #2058 closed

[2021-06-24 00:39] DmitriyStoyanov commented on #2071
Faced with the same issue, with 2 ingress controllers installed on one cluster aws-load-balancer controller and nginx-ingress controller with
We have automated CI with updating every week for new versions from helm, and after some upgrade during creation of ingresses with annotation `kubernetes.io/ingress.class: "nginx"` we faced with issue:
aws-load-balancers validation webhook started to handle

[2021-06-24 07:59] darrenwhighamfd commented on #2071
@M00nF1sh yes we still have this issue, currently we have had to revert to 1.1.6
Similar to @DmitriyStoyanov this issue did not every time happen but spontaneously. One out of every three or so runs. The cert and secret look to match.

[2021-06-24 08:32] gazal-k commented on #2071
I guess that's our experience too. Maybe it wasn't the tooling. It was just that the issue was sporadic. We had verified the certs and secrets matching; https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2071#issuecomment-862869696

[2021-06-24 08:40] MaorPaz opened #2095 "Specify a source of ip address when provisioning load balancer controller"
The main goal:

When provisioning a aws eks cluster, and installing the aws-load-balancer-controller, i would like to specify the source of accepted ip addresses within the security group of the auto generated security group

[2021-06-24 11:18] runningman84 opened #2097 "ingressClass vs Annotations kubernetes.io/ingress.class"
**Describe the bug**
Right now you cannot deploy a resource with ingressClass set to alb and annotation kubernetes.io/ingress.class set to alb at the same time.

Other ingress controllers like treafik do not complain here.

**Steps to reproduce**
deploy a resource with ingressClass set to alb and annotation kubernetes.io/ingress.class set to alb at the same time

**Expected outcome**
Just print a

[2021-06-24 14:29] Mattie112 commented on #2081
Hi @M00nF1sh
Thank you! We did indeed have the previous version. Updating resolved this issue. Simply using a path of `/` works again.
Thanks!

[2021-06-24 18:23] DmitriyStoyanov commented on #2071
ha, found that uninstallation of helm chart, do not remove secrets.

[code]

So I've tried again

[code]

and then install it again, by the way, it created 3 new secrets:

[code]

[2021-06-24 19:50] M00nF1sh commented on #2097
@runningman84
The validation is enforced by Kubernetes instead of our controller: https://github.com/kubernetes/kubernetes/blob/v1.19.0/pkg/apis/networking/validation/validation.go#L228

I don't think treafik will work with this case as well on 1.19 😃

[2021-06-24 21:52] logicminds opened #2100 "Warning: extensions/v1beta1 Ingress is deprecated in v1.14+"
**Describe the bug**
A deprecation notice is displayed when creating the 2048 game

`Warning: extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress`

**Steps to reproduce**
https://aws.amazon.com/blogs/opensource/kubernetes-ingress-aws-alb-ingress-controller/

**Expected outcome**
No errors, The Dns of the game

**Environment**

* AWS Load Bala

[2021-06-24 22:01] fawadkhaliq commented on #2100
@logicminds thanks for reporting this. This is a work in progress. The new CRDs will be available soon/before 1.22

[2021-06-24 22:07] fawadkhaliq commented on #2086
@Deepak1100 added the devel docs here https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2101

[2021-06-24 22:16] logicminds commented on #2100
I did find other minor issues in that article.  Should I make separate issues?

[2021-06-24 22:17] #2086 closed

[2021-06-24 22:18] fawadkhaliq commented on #2100
@logicminds that'd be great, thanks!

[2021-06-24 22:27] logicminds opened #2102 "egrep is incorrect in blog article"
**Describe the bug**
A bad egrep fails the command

**Steps to reproduce**
kubectl logs -n kube-system $(kubectl get po -n kube-system | egrep -o alb-ingress[a-zA-Z0-9-]+)

Follow https://aws.amazon.com/blogs/opensource/kubernetes-ingress-aws-alb-ingress-controller/
**Expected outcome**
The ingress controller instance is returned

**Environment**

* AWS Load Balancer controller version
* Kubernete

[2021-06-24 22:29] logicminds opened #2103 "cannot create policy outlined in blog article"
**Describe the bug**
For some reason creating the policy from the CLI fails with a syntax error.

**Steps to reproduce**
https://aws.amazon.com/blogs/opensource/kubernetes-ingress-aws-alb-ingress-controller/

[code]

**Expected outcome**
A policy would be created

**Environment**

* AWS Load Balancer controller version
* Kubernetes version
* Using EKS (yes/no), if so version?

**Additional Context

[2021-06-25 00:12] fawadkhaliq commented on #2092
Fixed it here https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2098

[2021-06-25 00:12] #2092 closed

[2021-06-25 00:36] kishorj commented on #2103
@logicminds what error do you get?
The URL you've specified in the description is truncated. The file extension should have been `.json`. Also, if the policy already exists, you'd get EntityAlreadyExists from the AWS.

[2021-06-25 02:55] logicminds commented on #2103
[code]

[2021-06-25 05:54] sechunOH commented on #2080
@andor44 @M00nF1sh
Thanks for the explanation.
Maybe I'm using ALB controller v2.1.x.
We should update the ALB controller version to use that specification.

[2021-06-25 06:31] sechunOH commented on #1719
@M00nF1sh

I configured preStop hook with 60s, but I'm getting 502 bad gateway error.
Maybe it is because alb target group's deregistration dealy is set to 300s, I think.

According to your comment above, should I sleep {target group's deregistration delay + ELB API propagation time + HTTP req/resp RTT} for zero downtime deployment?

And We are using target as instance type.
Is it right that we do

[2021-06-25 07:07] Erokos commented on #2065
Hi,
sorry to interject but I'm very interested in this feature because it would suit my usecase perfectly. My goal is to create a single load balancer that will route traffic to two clusters based on the hostname. That means I don't want it created within kubernetes of any cluster but I'd like it managed. I'm fairly new regarding ALBs and this controller and when I bumped into the same link listed

[2021-06-25 08:37] runningman84 commented on #2097
ok yes I have also seen errors in our traefik deployment now....

[2021-06-25 08:37] #2097 closed

[2021-06-25 16:38] kishorj commented on #2103
@logicminds, looks like you are using aws cli v2 which doesn't support http:// or https:// urls for parameters. For details, please refer to the breaking changes outlined in https://docs.aws.amazon.com/cli/latest/userguide/cliv2-migration.html#cliv2-migration-paramfile

The workaround is to download the file locally, and pass the `--policy-document file://iam-policy.json` argument instead.

[2021-06-25 16:44] kishorj commented on #2102
@logicminds, with the `egrep -o`, the additional cut isn't required.
- What is the version of your `egrep` command? Does it support the `-o` option?
- What output do you get from the egrep command before passing to cut?

[2021-06-25 16:48] kishorj commented on #2095
@MaorPaz, you can specify a list of CIDRs that can access the load balancer. Please refer to the following documentation -
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#inbound-cidrs

[2021-06-25 17:06] logicminds commented on #2102
Adding quotes around the egrep pattern seems  to fix the issue.

## Incorrect way
[code]

## Correct way
`kubectl logs -n kube-system $(kubectl get po -n kube-system | egrep -o "alb-ingress[a-zA-Z0-9-]+")`command

## Egrep version
I am using OS X so I think egrep is compiled differently than the linux version.  There is no -o option but it still seems  to work.

[code]

[2021-06-25 17:11] kishorj commented on #2102
The quotes requirement is due to zsh. It works without the quotes on bash.

egrep on OS X does support the -o option, I have the same version of egrep as well. Here is the section from the man page -

[code]

[2021-06-25 20:24] juozasget commented on #1834
Can confirm that I've observed the same behaviour when testing NLB ingress with IP targets @abatilo.
The controller registers a new pod with the target group within few seconds. I'd expect the NLB health check to kick in and register the service in 20-30s (2 or 3 health cheks, 10s interval). Instead of 20-30s, it's 3-5minutes.

[2021-06-25 20:30] MaorPaz commented on #2095
@kishorj Hi, thank you for the reply, I am talking about the aws eks load balancer controller himself,
When deploying it via it's YAML file,
Not on the ingress,
By default, when deploying it, it's automatically assigned to a nodes and assigning to  theme a SG so the source of it becomes the load balancer,
The security group of the load balancer,
By default open to the world,
I would like to restri

[2021-06-27 05:00] eldadpuzach commented on #1937
@jinzishuai
Thanks for the reference!
This is how the new **ssl-redirect** configuration works with the V1 API:
`apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mytest
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
    alb.ingress.kubernetes.io/bac

[2021-06-27 08:47] nooop3 commented on #1081
/reopen

[2021-06-28 01:56] sechunOH opened #2106 "How can we find right value of sleep time for zero downtime rolling update?"
Hello,
I'm using ALB controller v2.2.0 and Ingress with instance target type.

I want to know how to rollingupdate with zero downtime.

I investigated some tests.
[code]

According to the comments, is it not proper to set 40s? https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1719#issuecomment-743437832, https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/17

[2021-06-28 08:13] MuriukiPM opened #2107 "Unable to use cert-manager generated TLS certificate for ALB TLS Termination"
**Ingress resource not able to use TLS certificate**
We have AWS Load Balancer Controller installed for a test EKS set up and paired with cert-manager for ingress TLS management. We are able to generate valid TLS certificates, but attaching them to the ingress resource does not work as expected. From the documentation [here](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/guide

[2021-06-28 15:33] kishorj commented on #1774
/reopen

[2021-06-28 19:00] M00nF1sh commented on #2107
@MuriukiPM
Hi, we currently don't support TLS certificate attached to Ingress via secret.
The ALB's certificate needs to be an ACM certificate and we currently don't automatically import the secret into ACM.

[2021-06-28 22:13] M00nF1sh commented on #2079
@Ashtonian
Were you able to resolve the issues through the email? 😄

[2021-06-28 22:22] #2051 closed

[2021-06-29 00:02] M00nF1sh commented on #2091
closing this as the docs have been updated :D

[2021-06-29 00:02] #2091 closed

[2021-06-29 03:17] rossigee opened #2109 "Unable to create non-OIDC listener rule condition when IDP configured"
**Describe the bug**

We have an ALB with IDP enabled.

[code]

This works fine. However, the application also serves as a REST API endpoint, and the REST clients are not OIDC-capable. So, we need an extra listener condition rule (before the OIDC one) that allows requests through if the 'Authorization' header is set.

I can add annotations to the Ingress which creates the listener:

[code]

Howeve

[2021-06-29 06:38] dzmitry-lahoda commented on #1090
I have issue. HTTPS/HTTP work well with Route 53 DNS. WS does work with ingress, but when I give name to ingress - it stops to work.

[2021-06-29 07:27] MuriukiPM commented on #2107
@M00nF1sh understood. I did use the ACM in the end and it is effective. Thank you for the reply.

[2021-06-29 16:06] kwarunek commented on #2060
It would be great if the controller could log an operation (IAM name) which failed  in a debug level . I know I can get it through cloudtrail, but nevertheless it would be helpful.

[2021-06-29 18:58] Nuru commented on #1573
/remove-lifecycle stale

[2021-06-29 21:29] Ashtonian commented on #2079
@M00nF1sh yes Thank you very much! closing.

[2021-06-29 21:29] #2079 closed

[2021-06-30 00:10] M00nF1sh commented on #2109
@rossigee
Currently we don't offer a way to enable/disable auth per rule basis. you can only enable/disable auth per entire Ingress or per Service. In your case, since you applied the auth rule on the Service, it will be merged even you used actions/conditions annotations.

The current way to achieve it is to leverage the [IngressGroup](https://kubernetes-sigs.github.io/aws-load-balancer-controlle

[2021-06-30 02:56] nanasi880 opened #2110 "Unrecognized resource types"
**Describe the bug**
I created an IAM policy using the following JSON file to use the AWS LoadBalancer Controller, but it is treated as an "unrecognized resource type" on the AWS Management Console.

https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.2.1/docs/install/iam_policy.json

**Steps to reproduce**
Create an IAM policy using JSON as is.

**Expected outcome**

[2021-06-30 06:30] nanasi880 commented on #2110
Oh, I'm sorry. This is apparently a display issue in AWS ManagementConsole, and since there was no problem with the JSON document, I'm closing this issue.

[2021-06-30 06:30] #2110 closed

[2021-06-30 18:15] #2054 closed

[2021-06-30 22:02] kishorj commented on #2107
@MuriukiPM, closing the issue for now. Feel free to reopen or create a new one if you have further concerns.

[2021-06-30 22:02] #2107 closed

[2021-06-30 22:04] kishorj commented on #2103
@logicminds, I'm closing the issue. Feel free to reopen or file a new one if you have further concerns.

[2021-06-30 22:04] #2103 closed

[2021-06-30 22:09] kishorj commented on #2095
@MaorPaz, what is the controller version you are using? The controller doesn't create security groups during controller startup.

[2021-06-30 22:12] kishorj commented on #2085
@Deepak1100, this is the designed behavior for the instance targets. I'm closing the issue. If you have a suggestion for new new strategy feel free to create a feature request.

[2021-06-30 22:12] #2085 closed

[2021-06-30 22:15] kishorj commented on #2078
@ArchiFleKs, @M00nF1sh responded back to your email. Could you confirm the issue is no longer there?

I'm closing the ticket for now. Feel free to reach out if you have further issues.

[2021-06-30 22:15] #2078 closed

[2021-06-30 22:19] kishorj commented on #2071
@DmitriyStoyanov, @gazal-k, @darrenwhighamfd if you are able to reproduce the issue, could you please create a support ticket with AWS support?

[2021-06-30 22:24] kishorj commented on #2055
@shraddha-paghdar, I'm closing the issue for now. Feel free to reopen or create a new one if you have any concerns.

[2021-06-30 22:24] #2055 closed

[2021-06-30 22:28] kishorj commented on #2045
@manideepl
SuccessfullyReconciled event means controller has reconciled the lb target groups based on the changes to your endpoints/nodes.

You will need to enable ALB access logs and share it on the AWS ticket.

[2021-06-30 22:34] M00nF1sh commented on #2044
@flyguybravo
If you enable debug log, you should see the events triggering reconcile, e.g. from https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/controllers/elbv2/eventhandlers/endpoints.go#L75

However, we don't have more context information from the controller's perspective. e.g. why a pod is been removed from the endpoints. doing that would couple this controller with s

[2021-07-01 04:26] MaorPaz commented on #2095
@kishorj He is creating SG and attaching theme to the instances,
The SG of the load-balancer is open to the world

This is the version:
gitthub.com/aws/eks-charts/stable/aws-load-balancer-controller/crds?ref=master

Implement it via helm,

This is the guide:
https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html

[2021-07-01 14:13] rmgpinto opened #2112 "auth-scope not updating"
**Describe the bug**
Changing from `alb.ingress.kubernetes.io/auth-scope: "email openid"` to `alb.ingress.kubernetes.io/auth-scope: "openid"` doesn't remove the scope from the `x-amzn-oidc-data` header.

**Steps to reproduce**
Create an ingress with `alb.ingress.kubernetes.io/auth-scope: "email openid"` then change to `alb.ingress.kubernetes.io/auth-scope: "openid"`

**Expected outcome**
The scope

[2021-07-01 16:31] zachfeldman-koneksahealth commented on #2025
@M00nF1sh @kishorj I seem to be having the same issue here.

After switching to IngressClass and IngressClassParams my internet-facing alb's are coming up as internal. Running v1.2.0 of the helm chart which should be v2.2.0+ of the controller.

[code]

my deployments have:
[code]

I don't see anything unusual in the logs, the load balancers reconcile it just looks like the Params that deem the LB

[2021-07-01 18:43] zachfeldman-koneksahealth commented on #2025
My ingress objects still had the `kubernetes.io/ingress.class: alb` annotation. It seems like that was causing the conflict for me in some capacity.

[2021-07-02 11:51] vnugent commented on #1269
I'm also confused about the duplication of K8s health checks and those defined as annotations.

[2021-07-02 18:01] jchoi926 opened #2113 "New Ingress does not get picked up from aws-load-balancer-controller"
**Describe the bug**
I have two existing ingresses each in their respective namespace. The aws-load-balancer-controller picked up both ingresses and provisioned all AWS alb's, target groups, etc as expected.
I created an additional ingress in a namespace with an existing ingress mentioned above. The aws-load-balancer-controller does not process the new ingress and as a result no AWS resources are

[2021-07-02 18:36] kishorj commented on #2113
@jchoi926, the ingress class annotation is set to `ingress-alb`
[code]
Could you confirm if the LB controller is setup to correctly recognize `ingress-alb` class? This is the value of the `--ingress-class` controller flag and by default it is `alb`.

Also check if you have the `disable-ingress-class-annotation` flag set to true.

[2021-07-02 19:06] jchoi926 commented on #2113
That was it, thanks for the eyes @kishorj!

[2021-07-02 19:06] #2113 closed

[2021-07-04 19:38] DebojyotiGhosal opened #2115 "Issue in iam-policy.json"
In the post the iam-policy.json document giving error malformed policy.

Policy Document: https://raw.githubusercontent.com/kubernetes-sigs/aws-alb-ingress-controller/v1.1.4/docs/examples/iam-policy.json

[2021-07-04 20:47] johnny-fuse commented on #1629
aws-load-balancer-controller requires a target group binding custom resource to be created.
I can't delete this crd, it keeps coming back no matter what I do...

Tried to edit it and delete the finalizers section as well, and still nothing. anyone?

[2021-07-06 14:01] MartinEmrich commented on #1712
/remove-lifecycle stale

[2021-07-06 14:20] anetanel opened #2116 ""cannot resolve pod ENI for pods" error on migration from v1.1.8 to v2.2"
I'm testing the migration process on a test cluster.
While on version 1.1.8 I was able to create an ALB with "target-type" ip, and had traffic flowing to the pods IPs without issues.
Once I upgraded to the new version, I started getting "cannot resolve pod ENI for pods" errors in the "aws-load-balancer-controller" pod.
Cluster Version is 1.16.9
As far as I understand, we are using "kubenet" plugin

[2021-07-06 14:32] simmessa commented on #1124
I can confirm what  @varuzam said, this issue is still here and having a workaround like that as our only option for zero downtime on EKS + ALB controller is frankly unacceptable for what aims to be "enterprise-grade", hopefully something will be done about this.

[2021-07-06 14:41] setevoy2 commented on #1629
Got a similar issue after upgrading from V1 to V2, but with new Ingresses, i.e. being created by using the V2 Controller.

1. created an Ingress
2. deleted it
3. its ALB was deleted (!), but its Namespace is still present in the _Terminating_ state

The error is:

The "_sg-093334fe379aeff03_" has references from WorkerNodes SGs, **but** they all has the "elbv2.k8s.aws/targetGroupBinding=shared" in

[2021-07-06 14:43] Erokos commented on #228
Hi, can anyone please clarify a bit if my understanding is correct - Currently we have to create an ALB, listeners and target groups externally, e.g. Terraform, and then within the cluster reference the target group arn in a target group binding right?
The listener rules we don't have to create externally because we would manage it using ingress right?
I appreciate any info on this subject because

[2021-07-06 17:09] setevoy2 opened #2117 "SecurityGroups are not deleted after deleting an Ingress"
**Describe the bug**

We've updated the Controller from 1.14 to 2.2.1 and are faced with an issue when after creating and deleting an Ingress and an AWS LoadBalancer - its Namespace hangs in the Terminating state.
The Controller's logs reports:

The "_sg-093334fe379aeff03_" has references from WorkerNodes SGs, but they all have the "_elbv2.k8s.aws/targetGroupBinding=shared_" in the Description fie

[2021-07-06 21:23] kishorj commented on #2115
@DebojyotiGhosal what error do you get?
Could you also provide further details on the following?
- controller version you are trying to deploy
- aws cli version. Note: If you use aws cli v2, it does not support http:// or https:// urls for parameter. You will have to download the file locally and pass the --policy-document file://iam-policy.json argument

[2021-07-07 03:20] jwenz723 commented on #228
It is possible to create only the ALB with terraform and then create the target groups and listeners with the aws-load-balancer-controller, but it isn't yet officially supported. I believe there is planned support for this in v2.3. Basically the aws-load-balancer-controller will automatically update any ALB which has the appropriate AWS tags. So if you set the tags on your ALB in Terraform then th

[2021-07-07 07:31] Erokos commented on #228
Thank you very much for the explanation, I'll try it out immediately.

[2021-07-07 08:08] setevoy2 commented on #2117
Found a weird thing while watching CloudTrail logs.

So, we have a Test cluster, we have an old, Dev, cluster.
The issue happens on the Dev, and everything is working on the Test.

During an Ingress deletion - I can see the "`RevokeSecurityGroupIngress`" requests happened on the Test env to update WorkerNodew SG to drop the rule, but no such requests are made on the Dev cluster.

[2021-07-07 09:29] Nurlan199206 commented on #1955
i have same issue, how u updated this policy json file? help pls

[2021-07-07 12:36] Nurlan199206 commented on #1955
In my case i'm added these tags in subnets, now its works!

[code]

[2021-07-07 12:46] anetanel commented on #2116
I found out that I had multiple subnets with appropriate annotations, and I think that the subnet discovery got confused.
Anyway, after removing old, unneeded subnets, those errors were gone, only to be replaced with a new kind of error:

{"level":"error","ts":1625661491.395464,"logger":"controller","msg":"Reconciler error","reconcilerGroup":"elbv2.k8s.aws","reconcilerKind":"TargetGroupBinding","c

[2021-07-07 14:02] christophebeling commented on #228
@jwenz723 this is actually not working for me. If I set the tags you mentioned, my alb gets deleted, and then a new ALB is being created by the controller.

[2021-07-07 14:23] anetanel commented on #2116
Using this image: "shoekstra/aws-alb-ingress-controller:latest-patch" instead of the official one, as suggested here: https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1862, seems to solve my issue.
Hopefully it will be merged soon, as we are somewhat reluctant to use a private build in production.

[2021-07-07 16:29] kishorj opened #2118 "Optimized security group rules"
# AWS Load balancer controller - optimized SG rules

## Overview

There are two limitations to the security groups handling currently

* If custom security groups are specified for ALB, i.e. controller doesn’t auto-create one for the ingress group, then we expect the users to manually configure their ENI/Node security groups to permit the ingress traffic from the load balancer.
* In case of auto-g

[2021-07-07 17:32] mylespollie commented on #1846
Do you know of a way to fix this?

[2021-07-07 17:52] vito-laurenza-zocdoc commented on #1572
/remove-lifecycle stale

[2021-07-07 22:06] M00nF1sh commented on #2117
@setevoy2
When migrate from v1 to v2, you'll need to follow the migration guide: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/upgrade/migrate_v1_v2

The above issue could happen if you didn't finish the steps of `If security-groups annotation isn't used, the SecurityGroup rule on worker node's SecurityGroup that allow LoadBalancer traffic should be manually adjusted p

[2021-07-07 22:11] M00nF1sh commented on #2116
@anetanel
Yes, the `amazon-vpc-cni-k8s` currently is mandatory for V2 when using targetType: IP.

We'll evaluate #1862 . Note, with 1862, you'll need to manage the worker node SGs yourself, as the controller won't check which instance supports the pod IP.

[2021-07-07 22:21] M00nF1sh commented on #2106
@sechunOH

"controller process time": it depends on the size/load of your cluster, you should be able to get that from the controller's metrics.
`ELB API propagation time`: we checked with ELB team, they don't have P99 for that. but it should be less than 60 second for ALB.
`HTTP req/resp RTT`: depends on your application
`kubeproxy's iptable update time`: ranges between 10-30 second. so it's take

[2021-07-07 22:24] M00nF1sh commented on #2095
@MaorPaz
The controller creates a SG per Ingress(ALB) by default. And it's open to public if the ALB is public-facing.
And that SG's inbound permission can be adjusted via https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#inbound-cidrs on Ingresses.

Apart from above SG, there is no other created SG by this controller/helm chart.

[2021-07-07 22:29] M00nF1sh commented on #2048
@lmgnid
Please check the repo: https://github.com/M00nF1sh/ReInvent2019CON310R, which presents an application to be able to perform deployment in zero downtime. check the commits message there for factors involved.

in short, podReadinessGate should be enabled, proper prestop sleep time should be added, protocol specific shutdown should be considered as well(e.g. if HTTP keep alive is enabled by d

[2021-07-07 23:12] korenyoni commented on #1254
Confirming that as of `v2.2.0` when the annotation `alb.ingress.kubernetes.io/load-balancer-attributes: deletion_protection.enabled=true` is present, `alb-controller` outputs the following error:

[code]

[2021-07-07 23:13] korenyoni commented on #1254
/reopen

[2021-07-08 00:06] kishorj commented on #1254
@korenyoni, There is an open issue to handle the delete protection in v2 - https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1900. Please direct any comments/feedback to the v2 issue.

[2021-07-08 04:43] setevoy2 commented on #2117
Do you mean the "elbv2.k8s.aws/targetGroupBinding=shared", @M00nF1sh?
I've added a note about this in the first message:

[2021-07-08 08:29] anetanel commented on #2116
@M00nF1sh thanks. I think this needs to be mentioned in the migration docs.
Luckily we are already managing the SG via CloudFormation, so that wont be a problem.
One last question, why was the solution that worked in v1 (setting the Target `AvailabilityZone` to `All`) removed in v2?

[2021-07-08 09:29] Erokos commented on #228
@christophebeling  I didn't observe this behaviour. To successfully manage it I need to use the target group binding as well as an ingress describing the rules right?

[2021-07-08 09:52] akash-gautam commented on #2056
/assign

[2021-07-08 10:01] setevoy2 commented on #2117
So, let's try to reproduce the issue step-by-step.

1. create an Ingress, an associated ALB will be created:
[code]
2. WorkerNodes SecurityGroups are updated, and this reflected in EKS logs
![Screenshot_20210708_124943](https://user-images.githubusercontent.com/7965314/124901783-fe7edb80-dfea-11eb-9851-2f84838f34ad.png)
![Screenshot_20210708_124834](https://user-images.githubusercontent.com/796531

[2021-07-08 10:30] ceroloy commented on #1763
/remove-lifecycle rotten

[2021-07-08 13:38] rossigee commented on #2109
@M00nF1sh - Thank you very much for the explanation.

Based on your suggestion I was able to get it to work by using two Ingress resources.

Here's a cut-down version in case it helps anyone else in a similar situation...

[code]

[2021-07-08 13:38] #2109 closed

[2021-07-08 14:25] Lenguti commented on #976
/remove-lifecycle rotten

[2021-07-08 16:42] korenyoni commented on #1900
https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1254#issuecomment-875993654

@kishorj as you implied when adding the `kind/documentation` label, I think this should definitely be documented. I might make a PR to add this.

[2021-07-08 17:05] korenyoni commented on #1900
@kishorj I've opened up a documentation PR: #2119

[2021-07-08 17:06] korenyoni commented on #1254
I've opened #2119 in light of this.

[2021-07-08 18:45] kishorj commented on #1900
@korenyoni, thanks.
Long term fix would be to force delete the lb resources once the delete.protection is set to false via annotation. We will keep this issue open to track the fix.

[2021-07-08 20:29] kishorj commented on #2056
/assign oliviassss

[2021-07-08 20:53] oliviassss commented on #2056
/assign

[2021-07-09 07:11] innovia commented on #2013
for me the issue was OOM Killed pods, make sure you have enough memory for it

I found that from the number of restarts on the pods, and describe pod showed `Reason:       OOMKilled`

[2021-07-09 16:05] Erokos commented on #228
Update: I've managed to get the ALB, created by terraform, to work with the load balancer controller.
First step is to create the ALB along with a target group and a listener.
Second is to deploy the controller and a targetgroup binding in which the target group arn is referenced.
The only thing is I don't think any ingress is working in this case and everything should be defined in terraform, but

[2021-07-09 21:30] M00nF1sh commented on #2117
@setevoy2
Is there other error logs from the controller?

Another possible cause is there is some error in other targetGroupBinding's reconciles.

The current logic is the controller keep tracks the networking requirement from all targetGroupBindings, and only delete a worker SG rules if it have captured the networking requirement from all targetGroupBinding at least once since its startup.

e.g.

[2021-07-10 22:59] #1797 closed

[2021-07-12 11:03] setevoy2 commented on #2117
@M00nF1sh Sure, there are logs from the Controller, just not sure what exactly I need to check there as there is a lot of information. Any suggestions?

Regarding broken TargetGroupBinding - any way to check them?

And the fix for the issue in [#1888](https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1888) was merged, so I guess it's added to the latest 2.2.1?

Anyway - many tha

[2021-07-12 11:39] setevoy2 commented on #2117
@M00nF1sh Many thanks!
So, the point was the "broken TGBs's(TargetGroupBinding)".
I've found, that we had an old Ingress with incorrect Service configuration ("Service type must be nodePort or LoadBalancer" and so on).
After deleting this Ingress - everything works as expected (so far... :-) )

[2021-07-13 00:00] M00nF1sh commented on #2116
@anetanel
The support for other VPC CNI plugin is not considered during we plan for v2. since we cannot support the securityGroup management if the CNI plugin is not been used.

There is a open PR to add that back: https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1862
which we plan to merge and release. But the caveat is this can be used only when the worker SG rules is managed

[2021-07-13 13:34] gartemiev opened #2122 "Add CRD install/upgrade option in Helmchart of AWS Ingress controller"
It would be great to setup/upgrade CRDs required for ALB ingress via Helmchart by specifying corresponding Boolean param: eg. installCRDs: true

This would avoid using of additional operations regarding kubectl apply.

[2021-07-13 23:40] M00nF1sh commented on #2122
@gartemiev
The existing helm chart already supports install crd on a fresh cluster. (you don't need the kubectl apply when install the controller)
However, currently helm don't provide a way to upgrade the CRD: https://helm.sh/docs/chart_best_practices/custom_resource_definitions/

so during upgrade, we have to kubectl apply the crds(if there are any changes)

[2021-07-14 08:27] krish512 commented on #1592
How can we achieve this?? Please share the solution here

[2021-07-14 08:58] gartemiev commented on #2122
@M00nF1sh , could you please point me to that parameter name in helmchart which specifies installation of CRDs? I don't see it in https://github.com/aws/eks-charts/tree/master/stable/aws-load-balancer-controller

[2021-07-14 12:09] f-a-a opened #2124 "Opt-out from automatically creating TargetGroupBinding for LoadBalancer service"
I currently have a setup where I define my NLB early on with predefined network target groups.

I then define `TargetGroupBinding` to automatically include newly created `LoadBalancer` service into the predefined network target group.

When creating such `LoadBalancer` service, it does get registered to the predefined network target groups successfully, however it also creates another NLB instance

[2021-07-14 16:11] kishorj commented on #2122
@gartemiev, helm install applies the crd from the crds directory in the chart (https://github.com/aws/eks-charts/tree/master/stable/aws-load-balancer-controller/crds). This directory is included with the chart and helm v3 installs the crds on a fresh install. If CRDs exist or you specify `--skip-crds` flag, helm will skip the CRD installation step. For further details, please refer to the helm doc

[2021-07-14 16:25] kishorj commented on #2124
@f-a-a, in your case, you don't need to create a service of type `LoadBalancer`. The service type will be based on the target type of the LB target group.
- instance targets, you'd need to configure a service of type NodePort
- IP targets, you'd need to configure a service of type ClusterIP or NodePort

Also make sure none of the load balancer annotations are not configured on the Service, especia

[2021-07-14 22:07] M00nF1sh commented on #2115
@DebojyotiGhosal
Did kishor's response provided the answer to you?

closing this, feel free to open a new issue if you have further concerns

[2021-07-14 22:07] #2115 closed

[2021-07-14 22:09] M00nF1sh commented on #2095
@MaorPaz
do above answers your questions?
If not, feel free to create a new issue 😄

[2021-07-14 22:09] #2095 closed

[2021-07-14 22:16] M00nF1sh commented on #2050
/kind feature
We have been plan on this, the tricky part is that networking/v1 is not supported in 1.18, but 1.18 will still be supported by EKS when EKS announces support for 1.22.

So i think we'll need a way to dynamically discover the available Ingress versions and use networking/v1beta1 for v1.18 and translate it into networking/v1 from controller-side.

we'll figure this out before 1.22 is g

[2021-07-14 22:20] M00nF1sh commented on #2042
we welcome PRs from community given this is a good first issue.
We'll also evaluate and prioritize this internally if not taken by community members.

[2021-07-14 22:24] M00nF1sh commented on #2032
@mikeinton
Glad to hear you were able to narrow down to the root cause of your issue.

Yes, there is indeed limits on number of NLBs per cluster due to worker security group rule limitation. We are aware of this and work is underway to address this limitation, stay tuned 😄.

[2021-07-14 22:26] M00nF1sh commented on #2031
@matthewmrichter
Does this issue still persist?
If so, feel free to create an new issue 😄

[2021-07-14 22:26] #2031 closed

[2021-07-14 22:26] M00nF1sh commented on #2028
@jbg
Does this issue still persist?
If so, feel free to open a new issue to us 😄

[2021-07-14 22:26] #2028 closed

[2021-07-15 05:46] f-a-a commented on #2124
@kishorj thanks for the reply, it's all good now. I'll just leave some AWS CDK snippets for those looking for the solution.

[code]
[code]

[code]

[2021-07-15 05:46] #2124 closed

[2021-07-15 14:33] rifelpet commented on #2118
With the new tagging support for Security Group Rules it would be nice if managed backend security group rules were tagged with their k8s service

[2021-07-15 18:56] olemarkus commented on #2050
This is a fairly common issue that we have seen on the kOps side for quite some time. We use k8s version to decide which version of an addon to install (by default).
I.e from our perspective, it is perfectly fine to drop 1.18 support for newer releases using networking/v1, and kOps will just deploy an older version on older k8s versions. Cluster Autoscaler would be the most well-known addon that e

[2021-07-15 18:58] ryphon opened #2126 "Running Controller in restricted environment without security group IAM permissions"
**Is your feature request related to a problem?**
Currently, I'm in an environment where I cannot control the security groups. They're controlled from a higher level admin. In that, I'm unable to give the Load Balancer Controller access to the "AuthorizeSecurityGroupIngress" permission.

**Describe the solution you'd like**
Is there a way I can just bypass that, and let it just assume the Security

[2021-07-15 20:15] M00nF1sh commented on #2126
@ryphon
For ALB/Ingress, you can use [alb.ingress.kubernetes.io/security-groups](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#security-groups) annotation to specify the SecurityGroup on ALBs, and once it's specified, the controller won't touch the securityGroup on worker nodes, so no "AuthorizeSecurityGroupIngress" is needed.

For NLB/Service, we c

[2021-07-15 20:26] ryphon commented on #2126
@M00nF1sh Ah perfect. Is that tracked in an issue or PR somewhere I can track? Would really like to keep an eye on that.

[2021-07-15 21:46] jutley commented on #1212
It looks like there are Prometheus metrics, but they do not expose any data on a per-ingress or per-service level. Furthermore, there is not any data in the ingress itself that indicates that there may be an issue.

In the previous alb-ingress-controller, there was a metric called `aws_alb_ingress_controller_errors{ingress="<namespace>/<name>"}`, and we could use this to help notify teams that the

[2021-07-15 22:53] M00nF1sh commented on #2118
@rifelpet
The current design above proposes to use a dedicated `managed backend security group` for all NLB/ALB in cluster. So that we can workaround the rule limitation on the worker node. With this approach, this single backend SG is responsible for multiple k8s services, do you think tagging the k8s service name is still needed?

BTW, the new tagging support indeed will help us simply our imple

[2021-07-16 02:30] M00nF1sh commented on #2126
@ryphon you can track https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2118

[2021-07-16 03:12] ryphon commented on #2126
@M00nF1sh thank you. closing this issue!

[2021-07-16 03:12] #2126 closed

[2021-07-16 14:26] rifelpet commented on #2118
Ah, I was under the impression that the backend security group would have a rule per k8s Service but the proposal above suggests a single rule allowing a port range of traffic, so in this case a service tag on the SG rules wouldn't be applicable.

[2021-07-17 01:05] #1751 closed

[2021-07-17 01:49] philomory commented on #1608
I don't think this should be marked as stale, this would still be a valuable feature

[2021-07-17 03:30] TBBle commented on #1608
/remove-lifecycle stale

[2021-07-18 11:15] #1767 closed

[2021-07-19 09:22] kyg9823 commented on #1953
Same problem here. Is this scheduled to be supported any time in the future?

[2021-07-19 09:25] hanjh0814 commented on #1744
Any updates with regards to this issue?

[2021-07-19 15:48] ramondeklein commented on #908
Because Kubernetes uses straight YAML, I would think you could make use of YAML anchors:
[code]

[2021-07-19 15:49] kishorj commented on #1953
@kyg9823, if your service has the annotation, `service.beta.kubernetes.io/aws-load-balancer-type: nlb`, client IP preservation feature is not supported. Please refer to my earlier comments https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1953#issuecomment-844273695.

[2021-07-19 15:51] kishorj commented on #1744
@hanjh0814, v2.2 is already released. Please refer to the release notes at - https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.2.0.

[2021-07-19 18:01] acim commented on #2071
Same problem here:

`  Error: UPGRADE FAILED: cannot patch "merged" with kind Ingress: Internal error occurred: failed calling webhook "vingress.elbv2.k8s.aws": Post "https://aws-load-balancer-webhook-service.kube-system.svc:443/validate-networking-v1beta1-ingress?timeout=10s": x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verif

[2021-07-19 20:33] mschueler commented on #1692
It would be great to have an annotation that creates a CloudFront distro in front of the LB -- and everything "just works".  This is the pattern that AWS is recommending/pushing as well.

[2021-07-19 21:18] gravypod commented on #1692
This also allows us to spend *more* money with just a single line of yaml. It's very much a win/win. This would also be great to integrate with WAF too to prevent DDoS

[2021-07-19 21:54] bsod90 commented on #2065
Hey, @Erokos!
I'm currently trying to solve the exact same issue for myself and I'm wondering if you managed to find an elegant solution already.

[2021-07-19 23:40] M00nF1sh commented on #1986
/kind feature

[2021-07-19 23:59] M00nF1sh commented on #1566
/kind good-first-issue

[2021-07-20 00:00] M00nF1sh commented on #1566
/assign shreya027

[2021-07-20 00:46] Shreya027 commented on #1566
I am working on this issue.

[2021-07-20 14:16] v1ctorrhs opened #2127 "Node group security group not updated with no access to instance metadata"
**Describe the bug**

We have a scenario where the IMDS (instance metadata service) is not reachable from the pods (intentionally). `cluster-name`, `vpc`, `region`, and `ingress-class` are passed to the deployment and the deployment starts correctly.

An ingress and a service are created, so the ALB creates all the needed components - ALB, target groups, creates a dedicated _managed_ security grou

[2021-07-20 15:16] ashokspeelyaal opened #2128 "Path patterns & rewrite"
**Describe the bug**
when we use `/*` for our vue web app, the subpaths are showing `404`. However the root path is working fine.

**Steps to reproduce**

We have this ingress in place:

[code]

**Expected outcome**
when I access https://myhostname.com/login or https://myhostname.com/clients
It should redirect me to specific page. (but now it shows 404. However, if I access https://myhostname.com

[2021-07-20 21:26] domenjesenovec commented on #1695
@denwork : Thanks, that worked! To clarify, add the annotation alb.ingress.kubernetes.io/target-type: 'ip' to the service. From the original example in the first post - on service myapp.

[2021-07-20 23:10] M00nF1sh commented on #2127
@v1ctorrhs
Is there any error messages from the controller? the code path that finds the nodeSG and authorize rules don't have dependency on IMDS.

I guess the role assigned via IRSA might missing some permissions and caused this

[2021-07-20 23:19] M00nF1sh commented on #2128
@ashokspeelyaal
Can you help confirm via `kubectl get ingress/my-app-ingress -n dev-env -o yaml` that the path is indeed "/*" instead of "/"?
[code]
It should worked with AWSLoadBalancerController v1.1.9 if pathType is indeed "/*".
Note: v1.1.9 don't honor `pathType`, so it treats every path as pathType as "implementationSpecific", so "/*" should be correctly rendered as "/*" in AWS ALB configurat

[2021-07-21 03:56] rifelpet commented on #1859
/remove-lifecycle stale

@M00nF1sh any update on this or reviewing the interface proposed in the linked PR?

[2021-07-21 06:45] v1ctorrhs commented on #2127
Thank you for the quick response @M00nF1sh!

We don't see any errors in the logs.

The IRSA role (and policies) are automated, we use them in multiple other clusters and dont see any issues with them.
Anyway, [this](https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.1.0/docs/install/iam_policy.json) is the policy we attach to the role.

Just to confirm it's not a per

[2021-07-21 08:49] ashokspeelyaal commented on #2128
Yes this is the output from `kubectl get ingress`

`
spec:
  rules:
  - http:
      paths:
      - backend:
          serviceName: my-web-app
          servicePort: 30001
        path: /*
        pathType: Prefix
`

[2021-07-21 13:30] v1ctorrhs commented on #2127
my bad here, it seems like the ALB controller waits for the pods to start before authorizing the security group rules.

[2021-07-21 13:30] #2127 closed

[2021-07-21 13:51] Erokos commented on #2065
Hi,
I have done it in a way where I zse terraform to create the ALB, its listeners and listener rules and after I deploy the aws loadbalancer controller, just define a targetgroupbinding in which I reference the target group arn defined in the terraform code. This works even thouugh it's not ideal because I'm not using ingress in whic the routing is defined, rather it's deifned in terraform and ev

[2021-07-21 19:45] 64bit commented on #1602
It would be amazing to have this in documentation https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/pod_readiness_gate/

I was worried that from get-go the first Pod needs readiness gate too. But finding this comment is a relief :)

[2021-07-21 22:06] kishorj commented on #2128
@ashokspeelyaal, could you confirm your controller version? This spec should work in v1 release. If you have v2.2.0 or later controller, this spec will result in reconcile error since * is not supported for Prefix path type as @M00nF1sh mentioned earlier.

[2021-07-21 22:14] kishorj commented on #976
Closing this issue. In case you encounter this problem, please open a AWS support ticket and provide cluster details. You can also file a new github issue with your cluster details so we can troubleshoot it further.

[2021-07-21 22:14] #976 closed

[2021-07-21 22:17] kishorj opened #2131 "Document zero-downtime deployment for IP targets"
**Is your feature request related to a problem?**
Document setting up zero-downtime deployment with AWS Load balancer controller.

**Describe the solution you'd like**
A documentation with the detailed steps.

**Describe alternatives you've considered**
N/A

[2021-07-21 22:18] kishorj commented on #2131
/kind documentation

[2021-07-21 22:18] kishorj commented on #1065
Filed a documentation issue for zero downtime deployment https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2131
Closing this issue.

[2021-07-21 22:18] #1065 closed

[2021-07-21 22:22] kishorj commented on #1084
ACM still has the total number of certificates that can be imported per year. We will follow up with the ACM team on the limitations.

[2021-07-21 22:30] kishorj commented on #1212
/assign m00nf1sh

[2021-07-21 23:36] billyshambrook commented on #2013
@gavnate I solved this by adding an ingress rule to my node security groups to allow port 9443 from the cluster security group.

[2021-07-22 02:33] cmd-werner commented on #1569
/remove-lifecycle stale

[2021-07-22 03:55] ashokspeelyaal commented on #2128
Hello @kishorj

Here is the complete detail of our deployment.

[code]

[2021-07-22 04:01] ashokspeelyaal commented on #2128
@kishorj

Here is the details of version of alb-ingres-controller deployed in our cluster.

[code]

[2021-07-22 05:14] hinewwiner opened #2132 "503 response from AWS"
I followed the 'EchoServer' example in https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/examples/echo_server/

When I try to access the service, I get 503 error from AWS.  I see that no target is registered in the alb.  I am not sure what I missed.

This is the ingress controller.
[code]

And I verified that the subnets have 'kubernetes.io/role/internal-elb'=1 for private subnet

[2021-07-22 05:26] hinewwiner commented on #2132
Ok..  I figured it out.  I had to put 'alb.ingress.kubernetes.io/target-type: ip' in the ingress yaml.

[2021-07-22 05:26] #2132 closed

[2021-07-22 06:08] hinewwiner opened #2133 "alb.ingress.kubernetes.io/target-type=instance :: Not registering target group"
**Describe the bug**
When 'alb.ingress.kubernetes.io/target-type: instance' is set, no target group is registered in AWS.

**Steps to reproduce**
Followed the example 'echoserver' in https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/examples/echo_server/

When the following ingress is applied, no target group is registered.  I verified type=ip works correctly but not 'instance'.

[2021-07-22 08:49] gartemiev commented on #2122
got you, thanks!

[2021-07-22 08:49] #2122 closed

[2021-07-22 09:13] davidvuong opened #2134 "Unable to find ACM through auto discovery and receiving ValidationError when passing in ARN"
**Environment**

* AWS Load Balancer controller version: 2.2.1
* Kubernetes version 1.20
* Using EKS (yes/no), if so version? Yes. eks.1 (?)

**Additional Context**:

[code]

Passing the ARN directly gives:

[code]

Omitting `alb.ingress.kubernetes.io/certificate-arn` gives:

[code]

ACM is in a different region if that makes a difference: `us-east-1` (ACM) `ap-southeast-2` (EKS). Any help would b

[2021-07-22 10:22] omninonsense commented on #1692
/remove-lifecycle stale

[2021-07-22 10:26] omninonsense commented on #1692
Hi @dudicoco

Would you mind giving an example of this setup? I'm not sure if I'm missing something obvious here? Or if writing a small example would end up being not-so-small, could you at least expand your explanation a bit more, since I feel like I'm lacking some context or knowledge of glue pieces to put these things together.

Thanks!

[2021-07-22 12:09] davidvuong commented on #2134
Seems like it might be the region. https://docs.aws.amazon.com/acm/latest/userguide/acm-regions.html

I'll keep this open for now while I test then close the issue if using a certificate in the same region solves the problem.

[2021-07-22 12:15] dudicoco commented on #1692
@omninonsense in order to configure your cloudfront distribution to use k8s ingress as origin with dynamic content, do the following:
1. Configure a custom origin within the distribution, the domain name should be the load balancer CNAME - `my-lb.example.com`.
2. Configure a cache behaviour which forwards all headers, query strings and cookies to the origin - this will disable caching and work wit

[2021-07-22 17:14] M00nF1sh commented on #2133
@hinewwiner
There should be logs in the controller pod indicate what's wrong, would you help check?

[2021-07-22 17:20] M00nF1sh commented on #2128
@ashokspeelyaal
It depends where the "404" error came from.
If it came from ALB rules, then there will be a way to address it.

If it came from your App, e.g. your app don't accept request at path `/clients`, then currently there isn't a way to address it other than change your app.
Note: ALB passes the same HTTP request to your backend pod, so if you access "/clients", then your backend app must

[2021-07-22 18:53] gleyfer opened #2135 "Fargate pod IPs in different VPC than Ingress do not get added to target group"
**Describe the bug**

I have deployed the load balancer controller with the --aws-vpc-id option and specified a different VPC than where the cluster is deployed.  A Fargate profile is used for the pod deployment, and when creating an ingress service with an ALB, the targets are not being populated in the target group for the alb.

**Steps to reproduce**
1. Deploy the aws load balancer controller u

[2021-07-22 20:31] clayvan commented on #2071
So I think I found my issue, and possibly what others here are seeing.

@DmitriyStoyanov was close in saying

But maybe the key here is that the Ingress spec uses `ingressClassName` not `ingressClass`.

The documentation https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/ingress_class/#deprecated-kubernetesioingressclass-annotation looks to be specific to the annotat

[2021-07-22 22:35] hinewwiner commented on #2133
This is log when creating an ingress with 'instance' type.
[code]
I don't see any errors... but still no target is registered under 'k8s-echoserv-echoserv-f6d01d18d6'

[2021-07-23 00:34] #2134 closed

[2021-07-23 09:16] z0rc opened #2136 "[chart] PodDisruptionBudget apiVersion `policy/v1`"
**Is your feature request related to a problem?**
[code]
https://github.com/kubernetes/kubernetes/blob/v1.21.3/CHANGELOG/CHANGELOG-1.21.md?plain=1#L602

**Describe the solution you'd like**
Update PDB to support new apiVersion.

**Describe alternatives you've considered**
None.

[2021-07-23 09:26] ashokspeelyaal commented on #2128
@M00nF1sh  The application works with paths like `/clients` we could verify this in non kubernetes environment.
This problem came only when we put the app behind K8s ingress. That is why I am trying to find solution around ingress.

[2021-07-23 13:27] TheBaus commented on #1846
@mylespollie and @guidoffm
The error is due to the missing annotation containing `actions.ssl-redirect`

Does this fix it for you? When you define the annotations this way?

`  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: alb
      alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "StatusC

[2021-07-23 13:33] TheBaus commented on #1846
The above is actually out of a helm charts ingress, if you require the raw K8s Manifests do let me know. I just used it as an example to show that you need an annotation with actions.ssl-redirect to match the service name.

[2021-07-23 15:30] clayvan commented on #2071
Well, I take that back. I think it was in fact sporadic like others here are reporting. I don't know what the common pattern is though.

For me, we utilize spinnaker + `helm template` to generate a single manifest yaml file with all objects in it. This also includes those Ingress objects that are of the traefik/nginx class. If I remove these objects from the manifest, the `kubectl apply` succeeds

[2021-07-24 13:00] gazal-k commented on #2071
We use [helmfile](https://github.com/roboll/helmfile) and specifically `helmfile sync` command to manage all applications within a cluster (some nesting of helmfiles). So it's like calling `helm upgrade --install` on all charts in the cluster when there's a change. The issue was sporadic for us.

We are currently just using the older version of the chart; 1.1.6. Our plan is to use albc for all our

[2021-07-24 15:40] nvermalulu commented on #1572
any update .. Must need feature  for DR

ALB Ingress --> Global Load Balancer (aws global accelerator ) --> external DNS     automation  like we have currently ALB Ingress --> external DNS

[2021-07-24 18:10] zquintana commented on #1202
I have the exact same issue, I can't figure out what's causing it.

Pod Logs:
[code]

Container args:
[code]

Role policy:
[code]

The public subnets tagged with:
[code]

Private are basically the same, but with `elb-internal`. I'm trying to try out fargate as a POC for work. What might I be missing here?

[2021-07-24 20:07] aspnet4you commented on #1202
@zquintana,
Your issue is little different than what I was facing. Your controller definition looks ok.

Do you want to double check your vpc subnet tags for private subnet? As per documentation, it should be internal-elb and not elb-internal.
https://aws.amazon.com/premiumsupport/knowledge-center/eks-vpc-subnet-discovery/

Key: kubernetes.io/role/internal-elb
Value: 1

Things may have changed a b

[2021-07-25 09:29] isaac-patterson commented on #874
Is there any update on this? still not looking like it will be supported? Resorting to moving auth into my EC2's instances. Cognito auth on elb's straight up does work when integrating with mobile apps or anything which isnt webbased

[2021-07-25 16:53] zquintana commented on #1202
@aspnet4you , yea looks like it's `internal-elb`. Typo. I'm using the official AWS helm chart.

[2021-07-26 14:36] zquintana commented on #1935
I have the exact same issue, I can't figure out what's causing it.

Pod Logs:
[code]

Container args:
[code]

Role policy:
[code]

The public subnets tagged with:
[code]

Private are basically the same, but with `internal-elb`. I'm trying to try out fargate as a POC for work. What might I be missing here?

[2021-07-26 16:57] zquintana commented on #1202
Turns out my issue was this https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1360, core dns wasn't setup for fargate only cluster.

[2021-07-26 16:58] zquintana commented on #1935
Turns out my issue was related to core dns as described here https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1360.

[2021-07-26 17:13] jkornblum opened #2138 "alb groups not managed as expected (alb rules not deleted, security group already exists exception)"
**Describe the bug**
My use case is managing access to development environments for git branches.
Each branch environment is deployed in its own namespace.
I am looking for a way to manage access to all these environments with ingress and ingress controller.

I think this project can help but I might be approaching my problem fundamentally incorrectly because I seem to be running into a lot of iss

[2021-07-26 17:16] nairb774 opened #2139 "Acquire Region from Env"
**Is your feature request related to a problem?**

I'm trying to reduce the IMDS hop limit from 2 to 1, and this resulted in the aws-load-balancer-controller erroring out with `failed to introspect region from EC2Metadata, specify --aws-region instead if EC2Metadata is unavailable: EC2MetadataRequestError: failed to get EC2 instance identity document\ncaused by: EC2MetadataError: failed to make EC

[2021-07-26 19:14] #1838 closed

[2021-07-26 19:41] matthewmrichter commented on #1598
This was a frustrating bug/behavior to find at the last minute when trying to go-live.

At the very least, could the AWS LBC not attempt auto-discovery beyond the list you give with the `certificate-arn` annotation? That would limit the opportunity for confusion. Not that it should matter.

[2021-07-27 02:11] sechunOH commented on #2106
@M00nF1sh
I tested it more, then I realized there must be some seconds for ALB to deregister "terminating" pods.

Above comment, I was confused why alb checks health of terminating pod.
After some tests, I realized that was not ALB's health check, but readiness probe check.
(I set same path for readiness probe check and target health check)

In our case, it is enough to prestop 5 seconds. Then ALB

[2021-07-27 02:11] #2106 closed

[2021-07-27 04:59] jkornblum commented on #2138
I would like to add when I use a named security group like this
`alb.ingress.kubernetes.io/security-groups: sg-0f0ce028e073735`
to all ingress definitions than everything is working as expected

- n-many ingresses are created successfully
- can delete ingress even with other ingresses existing (ALB, SG remain)
- ALB rules are removed when ingress is deleted

I don't see it anywhere in the document

[2021-07-27 16:17] M00nF1sh commented on #2139
/kind good-first-issue
/kind feature
@nairb774 I think this is a good feature request to add. BTW, after we implemented above, you'll still need the `--aws-vpc-id` to specify the vpc ID.

[2021-07-27 16:17] kishorj commented on #2138
@jkornblum, there are no restrictions with managed security groups and the `group.name` annotation.

From the issue description, I see that you got the `The security group 'k8s-developmentalb-5c8268b161' already exists for VPC`  and logs should also indicate `InvalidGroup.Duplicate` error. The LB controller uses resource tags to associate AWS resources to k8s rsources. In case of the AWS security

[2021-07-27 20:39] jkornblum commented on #2138
The managed security group has these tags

[code]
which are the same as you mentioned (and values look correct) but my second ingress `echoserver2` still gets this error

[code]

[2021-07-27 21:33] kishorj commented on #2138
@jkornblum, tag matching is case sensitive. AWS LB Controller uses case sensitive matching for all of the resources. The tags with prefixes ingress.k8s.aws, elvb2.k8s.aws, service.k8s.aws should not be modified.

[2021-07-27 22:07] jkornblum commented on #2138
Thank you!  👍

I confirmed internally that is in fact happening in our AWS account.
Spent way too much time trying to debug this due to that odd issue (specific to me) 😢 .

I will resolve and confirm all is working.
I will close ticket for now and can re-open if that doesn't fix the issue.

[2021-07-27 22:07] #2138 closed

[2021-07-28 07:11] sapna-dentsu commented on #1384
@raunyoliveira-hotmart I tried this approach and I'm getting permanent redirect

[2021-07-28 16:17] blastik commented on #1959
/remove-lifecycle stale

[2021-07-28 19:50] LevonBecker opened #2143 "defaultTags not parsing correctly - aws-load-balancer-controller"
## Describe the bug
I've tried normous ways to feed the set value defaultTags with Terraform helm_release and Helm CLI. I'm not a Go expert so can't pinpoint exactly what's wrong, but it seems to be something to do with the aws-load-balancer-controller.convert-map-to-csv method.

## Steps to reproduce
#### Helm Template Debug
[code]

## Generated Yaml Section
[code]
It should be taking the map (in

[2021-07-28 20:28] kishorj commented on #2143
@LevonBecker, there are two ways to specify the default tags
- edit the helm values.yaml file and specify the defaultTags map, for example
[code]
- Specify the default tags from the helm install/upgrade command, for example
[code]

[2021-07-28 22:03] M00nF1sh commented on #2135
@gleyfer
This will be supported by https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1862

We'll include it in future releases

[2021-07-28 22:04] kishorj commented on #2135
Closing this issue in lieu of https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1569

[2021-07-28 22:04] #2135 closed

[2021-07-28 22:09] kishorj commented on #1212
Add new metrics for ingress group usage like number of ingress groups and provisioned ALB in the cluster and count of errors encountered per group.

[2021-07-28 22:11] kishorj commented on #1273
The new doc is at https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/examples/echo_server/. Needs to be updated to IRSA as requested in the ticket.

[2021-07-28 22:14] M00nF1sh commented on #1316
@haneychad
This is already supported by v2.2.0 with `--external-managed-tags"`

closing this issue

[2021-07-28 22:14] #1316 closed

[2021-07-28 22:17] kishorj commented on #1352
Design - https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2118
Target release: v2.3.0

[2021-07-28 22:20] kishorj commented on #1391
We already provide installation guide https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/installation/
and configuration guide https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/configurations/

Closing this issue for now. If there is anything missing in the installation or configuration guides, feel free to open a new issue or create a PR.

[2021-07-28 22:20] #1391 closed

[2021-07-28 22:21] kishorj commented on #1452
closing this issue since a duplicate feature request https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/228 already exists.

[2021-07-28 22:21] #1452 closed

[2021-07-28 22:24] kishorj commented on #1466
investigate this issue further.

[2021-07-28 22:26] kishorj commented on #1563
closing this issue for now. If the workaround mentioned above doesn't work, feel free to create a new issue.

[2021-07-28 22:26] #1563 closed

[2021-07-28 22:27] kishorj commented on #1566
/assign @Shreya027

[2021-07-28 22:33] kishorj commented on #1573
Closing since there is a duplicate issue #2056.

[2021-07-28 22:53] M00nF1sh commented on #2112
@rmgpinto
Sorry for late reply.
We did validated that the controller correctly updated the auth-scope on ALB side.

Would you help check AWS console to see whether it's updated?

[2021-07-29 03:19] LevonBecker commented on #2143
Awesome thanks for the help! Although, I still can't get it to work with terraform/helm_release. I've tried all kinds of combos syntax wise and it just insists on parsing incorrectly.

## CLI Example (works!)
[code]

## Terraform / helm_release (fails)
[code]

Generated yaml section example:
Note it sets key of 0 and the key:value as value.
[code]

[2021-07-29 08:51] newb1e commented on #2133
@hinewwiner
Make sure you map the service and the deployment objects correctly to each other.

[2021-07-29 10:07] devkid commented on #1573
@kishorj This is *not* a duplicate of #2056.

[2021-07-29 15:40] kishorj commented on #1573
@alfredkrohmer, thanks for pointing out.
/reopen

[2021-07-29 15:41] LevonBecker commented on #2143
Meaning it would be nice if the logic was updated to handle if it gets a json formatted map do the csv convertion.

[2021-07-29 15:43] kishorj commented on #2143
@LevonBecker, could you try the following?
[code]

[2021-07-29 16:26] azelezni commented on #1264
I managed to set the default action using this config:
[code]
Without the `alb.ingress.kubernetes.io/ssl-redirect: '443'` annotation, the default rules doesn't change and the redirect is added as another rule, by combining the ssl-redirect annotation and action it seems to work:
![Screenshot from 2021-07-29 19-19-26](https://user-images.githubusercontent.com/37799469/127529429-d1962e96-7dc7-484e-a

[2021-07-29 16:44] jplouis opened #2144 "Instance Target UDP NLB doesn't get traffic"
**Describe the bug**

Trying to set up LoadBalancer service using UDP ports. When we set `externalTrafficPolicy:  local` health checks pass and it works. Would like to find a solution where we don't have to run `externalTrafficPolicy` set to local.  We can't currently use NLB-IP mode.

**Environment**
KOPs based K8s

* AWS Load Balancer controller version
2.2

* Kubernetes version
1.20

* Using EK

[2021-07-29 17:26] LevonBecker commented on #2143
You are a rockstar! Thanks! That worked great! I recommend adding that to a doc/example somewhere and/or add the json lib discovery/conversion to make it easier. :)

Have a great one!

[2021-07-29 17:39] LevonBecker commented on #2143
FYI

**podAnnotations** have to be done the same way as defaultTags. Whereas, **serviceAccount.annotations** will except a jsonencode from Terraform and I assume CLI (didn't test). Also, need to have the podAnnotations in place on first build for it to set the annotations on the aws-load-balancer-controller pod. Update didn't go set the annotations on the existing pod/s.

[2021-07-29 18:44] iAnomaly opened #2145 "ALPN policy annotation requires TLS target groups"
**Describe the bug**
ALPN policy annotation currently requires TLS target groups. This is unnecessary and prevents TLS terminated at NLB using a ACM certificate for example from setting ALPN policy via the annotation. I am using a TLS listener with a plain TCP backend/target group and I was able to manually set ALPN policy via the ELB console without issue. curl is also confirming the ALPN negotia

[2021-07-29 18:46] iAnomaly commented on #2145
@julianxhokaxhiu also mentioned this issue in a comment in the original PR after it was merged: https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1669#issuecomment-874770289

@M00nF1sh @kishorj Shall I submit a PR for this?

[2021-07-29 19:33] M00nF1sh commented on #2145
@iAnomaly Yes, feel free to summit a PR for this.

[2021-07-29 19:46] kishorj commented on #2145
@iAnomaly, if AWS allows the configuration, controller should not restrict it. Feel free to raise a PR.

[2021-07-29 20:23] mbyio commented on #1391
@kishorj I don't think any of the things listed in this issue are documented on the pages you linked. Did you mean to link to some additional documentation? Otherwise, I think this issue should be reopened.

[2021-07-29 21:00] kishorj commented on #1391
@mbyio here are the items that I was referring to,
- Command line arguments -https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/configurations/#controller-command-line-flags
- leader election is mentioned in the command line arguments
- helm chart configuration options - https://github.com/aws/eks-charts/tree/master/stable/aws-load-balancer-controller#configuration
- livene

[2021-07-29 21:15] kishorj commented on #2145
@iAnomaly, TLS target group was a requirement for ALPN configuration at some point in the past, hence the original limitation. I'm now able to create ALPN configuration without a TLS target group. I've merged your PR, thanks for the contribution.

[2021-07-29 22:08] kishorj commented on #2144
The UDP target groups still require TCP/HTTP/HTTPS based health check. If you specify `externalTrafficPolicy: local`, then k8s configures a health check node port with HTTP protocol, which satisfies the target group requirement. When do not have the `externalTrafficPolicy: local` configuration. With IP targets, it is easier to setup a sidecar with TCP based health check for UDP protocol, but it mi

[2021-07-29 22:15] iAnomaly commented on #2145
Closed by #2147

[2021-07-29 22:15] #2145 closed

[2021-07-29 22:30] julianxhokaxhiu commented on #2145
Thank you for the fast fix, appreciated!

[2021-07-29 22:35] kishorj commented on #2143
@LevonBecker, you've set `serviceAccount.create` to `false`, so the `serviceAccount.annotations` will have no effect.

[2021-07-29 23:00] ns0092 commented on #2066
@M00nF1sh To confirm, what is the fix for this?
If I have the path as `/`, I get 404 for `/foo` as the Ingress does not treat `/` as `/*`.

Having path `/*` seems to solve the routing problem but I see the error on aws-alb-controller logs:
[code]

[2021-07-30 00:35] gtorre commented on #2107
@M00nF1sh is there any way to use a cert generated by CFSSL?

[2021-07-30 03:21] LevonBecker commented on #2143
Oh I see annotations on the aws-load-balancer-controller service account, but they must be from what I set on the eks cluster. Thanks

[2021-07-30 06:59] Loucool111 opened #2149 "NLB S3 access logs attributes don't apply"
**Describe the bug**
When adding this annotation to a k8s service:

[code]

The NLB is not updated, access logs aren't being enabled.
Looking at the logs, the annotation doesn't seem to take effect:

[code]

kubectl shows that the annotation is properly applied:
[code]

Can confirm the s3 bucket has proper access policy since other Application Load Balancer can log into it.

**Steps to reproduce**

[2021-07-30 07:39] setevoy2 commented on #2117
@M00nF1sh And now we've got the situation when no ALB are crated, no deleted. No revoke, delete, etc calls are made at all.
Nothing was changed on the ALB Controller side.
I think we'll have to roll back to the 1.14.

[2021-07-30 07:53] setevoy2 commented on #2117
Found this in a Namespace events:

[code]

[2021-07-30 08:16] setevoy2 commented on #2117
Okay, closing it :-)
The issue was with the IAM ServiceAccount used for the Controller.
Re-created it, and now it is working.

[2021-07-30 08:16] #2117 closed

[2021-07-30 10:04] Shahard2 commented on #1171
Hey mate.
Also having this issue on EKS 1.20.

Any solution so far ?

[2021-07-30 16:33] kishorj commented on #2149
@Loucool111, could you also attach the model from the load balancer controller logs?

[2021-07-30 16:35] kishorj commented on #1171
@Shahard2
The error indicate the load balancer controller pods don't have the IAM permissions to discover subnets. Did you setup IRSA or manually apply the IAM permissions?

[2021-07-30 17:04] Shahard2 commented on #1171
I think I did setup of irsa, not sure

How to apply the iam permissions manually?

[2021-07-30 18:15] iAnomaly opened #2150 "NLB Not Deleting"
**Describe the bug**
NLB is not deleted when Service events say:
[code]

**Steps to reproduce**
1. Create a Service of Type: LoadBalancer with at least the annotation:
`service.beta.kubernetes.io/aws-load-balancer-type: external`
2. Change Type to something other than LoadBalancer; i.e. ClusterIP
3. Service Events show service-controller DeletedLoadBalancer event
4. aws-load-balancer-controller lo

[2021-07-30 18:37] kishorj commented on #2150
@iAnomaly, this event is from the kube-controller-manager not from the aws-load-balancer-controller.  The AWS in-tree controller ignores service with the `service.beta.kubernetes.io/aws-load-balancer-type: external` annotation so that the AWS lb controller can take over the provisioning of the NLB resources.

The AWS LB controller is an external controller, it provisions NLB for any services with

[2021-07-30 18:43] iAnomaly commented on #2150
Hey @kishorj, thanks for clarifying.

Yes, I'm aware of the documentation around not modifying `service.beta.kubernetes.io/aws-load-balancer-type` and I'm respecting that.

So how do I go about deleting an NLB managed by this controller then? Is deleting the Service the only way?

[2021-07-30 19:16] iAnomaly commented on #2150
Just to test the theory I've tried deleting the Service (both via Helm and directly via kubectl). Even though they both show the Service as deleted it is not. For example:
[code]
Followed by:
[code]
Yields:
[code]

I've seen this sort of behavior before with finalizers but I don't see any finalizer meta on the Service.

Describing the Service shows an Warning Event:
[code]

And the aws-load-balanc

[2021-07-30 20:18] LynnOwens opened #2151 "Need to have a single ingress with both OIDC-Auth protected paths and open paths"
I'm able to create an ingress with the OIDC auth annotations so that it's paths are protected, and I'm able to create an ingress that is unprotected.  But, I need both for a single hostname and therefore a single ingress (because one ingress creates one route53 record).

[code]

Is this possible with conditions?  I don't see any examples of how to do this.

[2021-07-30 20:38] kishorj commented on #2150
When you delete the service (via Helm or kubectl), what does the deletionTimstamp look like? What does the deletionTimestamp look like after the you see the `registering targets` log?

[2021-07-30 21:08] iAnomaly commented on #2150
Doh, I forgot `describe` doesn't all metadata. `get svc -o yaml` is showing both a `finalizers` entry and `deletionTimestamp`:
[code]

`deletionTimestamp` is over 4 hours ago and isn't updating even if I delete again. The logs are running the same loop I described above each time I "delete" the Service though.

[2021-07-30 21:26] kishorj commented on #2150
are there any errors reported in the controller logs? What does the model builder output look like? I expect the model to look like the following
[code]

[2021-07-30 21:48] iAnomaly commented on #2150
Not sure what the model builder output is specifically, but the logs look like after a `delete svc`:
[code]

[2021-07-30 23:17] kishorj commented on #2150
@iAnomaly, on service deletion, I'm expecting the controller to log to contain the following - `{"level":"info","ts":1627590617.3855314,"logger":"controllers.service","msg":"successfully built model","model":"{\"id\":\"kube-system/kube-system\",\"resources\":{}}"}`
followed by
`deleting loadBalancer`
`deleted loadBalancer`
...
`successfully deployed model`

Would you be able to share the entire lo

[2021-07-30 23:39] iAnomaly commented on #2150
@kishorj Email sent.

[2021-08-02 08:18] DevOpserzhao opened #2152 "aws-alb-ingress-controller:v2.2.0 authorization failure message"
**Describe the bug**

You are not authorized to perform this operation. Encoded authorization failure message

**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**
cn-northwest-1

* AWS Load Balancer controller version
* Kubernetes version
* Using EKS (yes/no), if so version?
 image: amazon/aws-alb-ingress-controller:v2.2.0

1.20

 eks

[2021-08-02 09:23] Loucool111 commented on #2149
@kishorj Sure, here is the full json model:

[code]

[2021-08-02 15:10] vladiceanu commented on #1858
Hello @kishorj ,
I'm facing a similar issue: while the pod is in "deregistrating" state and the pod follows its SHUTDOWN procedure (SIGTERM -> Readiness close -> connections close -> etc.), some requests are still sent to it for approximately 20 seconds and timing out.

4 - 5 minutes sounds a lot to me, especially when we have 20 pods deployments. What is the deregistration time based on? Can we i

[2021-08-02 15:50] kishorj commented on #2152
@DevOpserzhao, v2.2.0 release requires new IAM permissions. Please refer to the [v2.2.0 release notes](https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.2.0) for further details.

[2021-08-02 17:18] M00nF1sh commented on #2151
@LynnOwens
It's possible if you are using different services as in your example.
The auth related annotations can be specified on services as well, which will only applies to that service

[2021-08-02 17:42] LynnOwens commented on #2151
I don't see the auth annotations available to the service?  https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/guide/service/annotations/

[2021-08-02 17:58] kishorj commented on #2149
@Loucool111
The annotation `service.beta.kubernetes.io/aws-load-balancer-attributes` is not supported on v2.2.1 release. It will be available in the upcoming v2.3.0 release. Until then, you will have to specify the following annotations for access logging -
[code]

Also note that the NLB access logs are created only for TLS listeners [1].

References:
[1] https://docs.aws.amazon.com/elasticloadbal

[2021-08-02 18:01] kishorj commented on #2151
@LynnOwens, the annotations mentioned in the Service section is for NLB. For ALB, you need to specify the annotations mentioned in the Ingress section.

[2021-08-02 18:26] LynnOwens commented on #2151
And the auth annotations are only for the ALB and therefore on the ingress, correct?

Am I correct that even if I were to create multiple ingresses for the /protected and /public paths, and put the auth annotations only on the protected ingress, and put both ingresses in a group so that only one ALB would be created, then the annotations of both ingresses would be merged and /public would end up w

[2021-08-02 18:33] kishorj commented on #2151
You can apply auth annotations to both ingress and the backend services corresponding to the ingresses. For ALB, you'd  create a service of type NodePort or ClusterIP and apply the alb annotations mentioned in the ingress section.

[2021-08-02 21:03] willbennett-kaltura opened #2154 "externalManagedTags not working with TargetGroupBindings"
Trying to implement the functionality from https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1970

We've created an EC2 instance with the tag key "tgbhandsoff" with value "true" and another without it, and then added the following to our deployment.yaml:

        - name: aws-load-balancer-controller
          image: >-
            602401143452.dkr.ecr.us-west-2.amazonaws.com/ama

[2021-08-02 22:05] iAnomaly commented on #2150
The NLB did finally delete.

Can you expand on your comment:

Why would this be the case? I understand that the `service.beta.kubernetes.io/aws-load-balancer-type: external` annotation tells the in-tree LB controller not to manage Services of Type: LoadBalancer but why would aws-load-balancer-controller not delete the NLB when Type != LoadBalancer? That does not make sense to me and it also means

[2021-08-02 23:09] akuzni2 commented on #2139
/assign

[2021-08-03 12:41] Loucool111 commented on #2149
Okay, I didn't see the TLS requirement for logging! Thanks for pointing it out.

Case is closed.

[2021-08-03 12:41] #2149 closed

[2021-08-03 14:08] jplouis commented on #2144
I've gotten It to work when using IP targets in a test cluster, but unfortunately can't use IP targets in production cluster. I'm not sure how the `service.beta.kubernetes.io/aws-load-balancer-healthcheck-port`would work with instance targets. Seems like the health check port would have to be exposed on the service. Mixing UDP and TCP on the NLB service doesn't seem to be supported.

[2021-08-03 20:26] luzhkovvv opened #2156 "IP targets broken for FARGATE tasks in v2.2.2 (eks k8s 1.19, 1.20)"
**Describe the bug**
When creating ingress with "target-type: ip" , FARGATE-based tasks fails to register in target groups with "Reconciler error"

**Steps to reproduce**
Within a namespace, associated with FARGATE profile, create sample deployment/service/ingress:
[code]
[code]
[code]

**Expected outcome**
no errors, pod IP is registered as a target in a target group, controller log contains:
[co

[2021-08-03 22:40] kishorj commented on #2154
@willbennett-kaltura, the externalManagedTags option lets you specify resource tags that should not be modified by the controller. In your case, the controller will not modify the resource tag with the key 'tgbhandsoff' on the load balancer resources.

As of v2.2.2, the controller assumes exclusive access over the managed target groups. There is a proposed PR https://github.com/kubernetes-sigs/aws

[2021-08-03 22:52] iAnomaly commented on #2150
So I don't know if I should expect there to be an incredibly long delay between when a Service is deleted and when the controller remove the NLB, but my service has `deletionTimestamp: "2021-08-03T21:59:05Z"` and yet, 45 minutes later the controller logs are still looping on:
[code]

This time I made sure there isn't any Ingress/ALB targeting the same Service. I confirmed in AWS Console that the N

[2021-08-03 22:57] M00nF1sh commented on #2156
/kind bug

[2021-08-04 00:35] M00nF1sh commented on #2156
@luzhkovvv
Sorry for the trouble caused. I have updated the release page of v2.2.2 to call out this issue.
Fix is WIP we'll have a new patch version out soon: https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2158

[2021-08-04 17:40] zack-johnson5455 opened #2159 "Reduce resource consumption by filtering secrets or namespaces"
**Is your feature request related to a problem?**
We run the aws-load-balancer-controller as a deployment in an EKS cluster. We recently had an incident where the load balancer controller started failing to update load balancer target groups. The root cause here was that the list secrets API call was taking longer than 60 seconds. The exact error we started receiving was "1 reflector.go:178] pkg/m

[2021-08-05 01:55] M00nF1sh commented on #2156
@luzhkovvv v2.2.3 is released, which now works for Fargate as well.

[2021-08-05 14:03] B0go opened #2162 "v1.1.8 (aws-alb-ingress-controller) to v2.2.2 (aws-load-balancer-controller) migration issues"
**Steps to reproduce**

I recently migrated one deployment of the `aws-alb-ingress-controller` v1.1.8 to `aws-load-balancer-controller` v2.2.2 and had some issues regarding the permissions needed to successfully manage resources previously created on 1.1.8. The main problem was that the [migration documentation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/deploy/upgrade/mig

[2021-08-06 03:49] sishuiliunian opened #2163 "When pods oom terminates abnormally, alb needs to wait for the health check to fail before stopping traffic forwarding. Can the corresponding target be marked as failed in the alb TargetGroup?"
**Describe the bug**
When pods oom terminates abnormally, alb needs to wait for the health check to fail before stopping traffic forwarding. Can the corresponding target be marked as failed in the alb TargetGroup?
**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**

* AWS Load Balancer controller version
* Kubernetes version
* Using E

[2021-08-06 18:58] vanzin opened #2164 "Controller fails to create TargetGroupBinding for ingress with long name"
**Describe the bug**
When an ingress has a name with > 63 characters, the ALB controller fails to create a TargetGroupBinding:

[code]

According to https://kubernetes.io/docs/concepts/overview/working-with-objects/names/, names can have up to 253 characters, but label values only up to 63.

**Steps to reproduce**
Create an ingress resource with a really long name.

**Expected outcome**
Controller

[2021-08-06 22:00] M00nF1sh commented on #2164
/kind bug
The length limit check on the name is somehow missed, wondering whether it's always 253 character for ingress name.

we used the labels on TGB to select all TGB belongs to an Ingress.
I think we can change https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/pkg/deploy/tracking/provider.go#L108 to generate labels like
[code]
but this seems weird to me, any better ide

[2021-08-08 04:39] dumlutimuralp opened #2165 "Target-Type IP Scenario - NLB Performs HealtChecks on Node IPs (rather than Pod IP)"
I am using the below manifest for NLB. Once I deploy this, I can see that the AWS NLB still performs the health checks against the Node IP/Ports. Why is this the case ?

[code]

**Steps to reproduce**

**Expected outcome**

When the load balancer type is ALB and the annotation target-type ip is used hen the health checks are  performed against the Pod IP (as expected).  Why is this behaviour diffe

[2021-08-08 19:51] olemarkus commented on #2050
Any updates on this one now that 1.22 is out? We are looking to make all the kOps addons work for our stable release scheduled not too long from now.

[2021-08-09 08:08] hhamalai opened #2166 "Support for AWS Shield Advanced health-based detection"
AWS Shield Advanced supports so-called health-based detection, where a route53 health-check can be attached to a protected resource, and the outcome the health-check is used as an additional signal for an attack detection: https://aws.amazon.com/about-aws/whats-new/2020/02/aws-shield-advanced-now-supports-health-based-detection/

As LBs are created by the controller, the lifecycle of shield protec

[2021-08-09 13:16] patrickpierson opened #2167 "Feature Request: Specify Managed Prefix Lists for access control"
**Is your feature request related to a problem?**
AWS provides a method to create a list of IPs in a Managed Prefix List. This Managed Prefix List allows a user to specify a list of IPs that can be shared between accounts. It also allows for IP lists to be managed by another team as a list of pre-approved list. A Managed Prefix List looks like:

`pl-123456abcde123456`

**Describe the solution you'

[2021-08-09 14:09] tcolgate commented on #1084
I've unsubscribed from this but it still shows up on my open issues list ('cos I opened it I guess). Ideally, could someone that's interested, and maybe working on it, open a new issue?

[2021-08-09 15:55] kishorj commented on #2165
@dumlutimuralp, when the annotation `service.beta.kubernetes.io/aws-load-balancer-type` has value `nlb`, the service gets reconciled by the in-tree controller which does not support IP targets. You need to specify the annotation as `external` instead of `nlb`.

Note: this annotation should not be modified in an existing service. You'd need to create a new service with the required value.

[2021-08-09 16:40] dumlutimuralp commented on #2165
Thanks @kishorj , apparently what I interpreted  from [this explanation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/nlb/#configuration) on AWS Load Balancer Controller page in the wrong way.

[2021-08-09 16:40] #2165 closed

[2021-08-09 16:41] dumlutimuralp commented on #2165
The explanation by @kishorj summed it.

[2021-08-09 17:53] jeffrichie opened #2168 "Question: ideal number of controller replicas?"
Question - is there an ideal (or max) number of controller replicas? I have generally gone by the controller-per-node pattern, but when running 100+ node clusters, that may be overkill.

Are there any best practices around this?

[2021-08-10 16:51] #2143 closed

[2021-08-11 14:41] z0rc opened #2170 "[chart] apiVersion: cert-manager.io/v1alpha2 deprecated"
**Is your feature request related to a problem?**
https://github.com/jetstack/cert-manager/releases/tag/v1.5.0 deprecates API versions `v1alpha2`, `v1alpha3` and `v1beta1`, and they will be removed in cert-manager 1.7.

**Describe the solution you'd like**
Migrate https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/v2.2.3/helm/aws-load-balancer-controller/templates/webhook.yaml#L1

[2021-08-11 16:09] kishorj commented on #2167
There was an earlier feature request  - https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2030
The managed prefix list doesn't help overcome the SG rules quotas, but this is a good feature otherwise.

k8s expects loadBalancerSourceRanges to be a list of IP ranges, so we will have to specify the prefix list via an annotation.

/kind feature

[2021-08-11 17:06] #2168 closed

[2021-08-11 20:38] oliviassss commented on #1900
/assign

[2021-08-11 22:05] kishorj commented on #2166
/kind feature
@hhamalai, if you have the proposal, feel free to share it with us.

[2021-08-11 22:10] kishorj commented on #2163
@sishuiliunian, have you enabled pod liveness/readiness in your case? If a pod is not ready, it will get de-registered from the target group.

[2021-08-11 22:14] kishorj commented on #2162
@B0go,
In case of migration from v1 to v2, you'd need to grant additional IAM permissions. This is documented in step 3 of the live doc upgrade steps [[link]](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/upgrade/migrate_v1_v2/#upgrade-steps).

If you still get errors after granting the additional IAM policies (https://kubernetes-sigs.github.io/aws-load-balancer-contro

[2021-08-11 22:18] kishorj commented on #2156
Fix is available in the v2.2.3 release. Closing the issue.

[2021-08-11 22:18] #2156 closed

[2021-08-11 22:21] kishorj commented on #2154
@willbennett-kaltura, closing the issue since the externalManagedTags has a different purpose than the issue you described here. For your use case please continue to track the PR #1865 - we will revisit this PR post v2.3 release.

[2021-08-11 22:21] #2154 closed

[2021-08-11 22:22] kishorj commented on #2152
@DevOpserzhao, closing this issue. If you still encounter errors after applying the new IAM permissions, feel free to reopen or create a new issue.

[2021-08-11 22:22] #2152 closed

[2021-08-11 22:24] kishorj commented on #2151
@LynnOwens, I'm closing the issue. Your understanding about the multiple ingresses is correct.
If you still further questions/concerns, feel free to reopen or file a new issue.

[2021-08-11 22:24] #2151 closed

[2021-08-11 22:59] hinewwiner commented on #2133
I worked with AWS and they said that target-type=instance is not supported in Fargate cluster and only type=ip is supported.  I will close this issue.

[2021-08-11 22:59] #2133 closed

[2021-08-12 02:51] ttony opened #2173 "TargetGroupBinding on multi cluster"
**Describe the bug**
TargetGroupBinding allow to specify TG arn. I am using targetGroupBinding twice on both cluster to see if targets (pods) show up from both clusters in the targetGroup.

Unfortunately, it is not. it is a race condition happening between both cluster. The result is only 1 cluster be able to binding to targetgroup at a particular time.

**Expected outcome**
I am thinking that the

[2021-08-12 04:07] sishuiliunian commented on #2163
Thanks for your reply, pod liveness/readiness are all configured. I think this is caused by the defect of state synchronization between aws-load-balancer-controller and alb.

[2021-08-12 04:26] schealex opened #2174 "couldn't auto-discover subnets: UnauthorizedOperation"
**Describe the bug**
ALB is unable to auto discover the subnets.

[code]

**Steps to reproduce**
Here is my setup:

[code]

[code]

[code]

[code]

**Expected outcome**
Have the ALB working

**Environment**

* AWS Load Balancer controller: chat 1.2.6 / v2.2.3
* Kubernetes version: 1.19
* Using EKS: yes

[2021-08-12 11:35] vmasule opened #2175 "How to use single Network Load Balancer with multiple services running in different namespaces"
**Problem**
Currently this is possible with ALB with ingress annotation `group.name` but what we need is load balance that can work for TCP as well as HTTP and that only can be done using NLB but we hit the hard problem where we don't know how to use single NLB with multiple Services and Namespaces. Another issue is, AWS has 50 NLB limit per region and we are sure will hit that limit soon if we pl

[2021-08-12 18:09] indiketa commented on #2175
+1
I tried specifying two distinct services at different ports with the same lb-name (using anotation service.beta.kubernetes.io/aws-load-balancer-name).

The LB is created but only with the listeners specified in the last service deployed (listeners are overwritten on LB not merged)

[2021-08-13 10:34] vmasule commented on #2175
@indiketa Thanks for trying this, yes I think there is not enough documentation on this, it's so easy to get that working for ALB using ingress rules and there is some clarity on how to do that for ALB but for NLB completely missed.

@here Maintainers might be aware whether it is possible nobody is responding, I guess they must be very busy with other stuffs. But please respond if passible, even s

[2021-08-13 14:09] #1707 closed

[2021-08-13 17:23] papigers opened #2176 "Support for custom AWS endpoints"
**Is your feature request related to a problem?**
Currently, there is no way for a user to customize any of the AWS endpoints used by this controller which makes it difficult to use the controller on non-standard regions.

**Describe the solution you'd like**
AWS allows customizing the endpoint for all/some of the services. I'm willing to submit a PR that uses an [endpoint resolver](https://docs.a

[2021-08-13 17:34] kishorj commented on #2175
@indiketa, @vmasule
Prior issues reported on this matter -  #1545, #1707
Unlike ALB, NLB doesn't have listener rules to forward traffic to separate target groups for the given listener port. In addition, k8s service closely maps to an NLB. For example, multi port service would map to an NLB with multiple listeners.

There is a possibility to use single NLB for multiple k8s services, but you'd have

[2021-08-13 17:38] kishorj commented on #2174
@schealex, is the IRSA setup correctly for the aws-load-balancer-controller pods?
please verify the following -

- check if your serviceaccount has the annotation
[code]
- controller pod should have the aws-iam-token volume
[code]
- and the mount
[code]

[2021-08-13 17:52] kishorj commented on #2163
@sishuiliunian, could you verify if the fix for #1974 helps your case? Upgrade controller to v2.2.1 or later, and set the `targetgroupbinding-max-exponential-backoff-delay` controller flag.

[2021-08-13 17:54] kishorj commented on #2173
@ttony, the controller currently assumes exclusive ownership for the target groups. Target groups should not be shared across multiple controllers to avoid any race condition.

[2021-08-13 19:10] schealex commented on #2174
turn out that everything was correct but it somehow still didn't work. After tearing it all down and reapplying it - it works now :)

[2021-08-13 19:10] #2174 closed

[2021-08-13 20:36] mseverin opened #2177 "AWS Load Balancer Controller not setting the default certificate as specified in the documents"
**Describe the bug**
When specifying a list of certificates using the annotation "alb.ingress.kubernetes.io/certificate-arn" the first ARN in a list is not alway placed as the default certificate.  It appears to be somewhat alphabetical, but a *.example.com certificate does not become the default over aechoserver.example.com

**Steps to reproduce**
1) Put a comma separated list of certificate ARNs

[2021-08-13 20:43] kishorj commented on #2177
@mseverin, this issue has been fixed in v2.2.0 release, please refer to the issue #1836 and PR #1863 for further details.

[2021-08-13 21:16] mseverin commented on #2177
thanks!

[2021-08-13 21:16] #2177 closed

[2021-08-15 06:32] mi5key opened #2178 "ELB Registered Targets go Unhealthy periodically"
We have an ALB configured and the Target Group Registered Target are going unhealthy.  It seems that the security groups are being removed and replaced periodically.  This app has been up for a number of days.  Ingress starts fine, then eventually goes unhealthy.

API: AuthorizeSecurityGroupIngress (Allowing health check traffic)
Time: 2021-08-14T06:45:29.000Z
Cloudtrail Event ID:

API: RevokeSecu

[2021-08-16 04:30] #1891 closed

[2021-08-16 11:09] dsaydon90 commented on #1598
@M00nF1sh , There is any way to disable the Certificate Discovery?

I can't see any way to disable it on Docs: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/cert_discovery/

I really think that if I could manage all my ALB configuration level (such as `certificates`, `security groups`, `ssl policy`, `scheme` and etc..) in 1 place like a global `ingress` and all

[2021-08-16 15:41] shubham391 commented on #2131
@kishorj Is there a timeline you're targeting to document how to achieve zero-downtime deployments? If not, could you please give some pointers on how this can be achieved?

Looking at the related issues filed, the solutions mostly are around adding a sleep in preStop step. I'd really appreciate if you could share your recommendation.

[2021-08-16 18:34] #1893 closed

[2021-08-16 18:54] matthewmrichter commented on #1598
@dsaydon90 - Look into the `alb.ingress.kubernetes.io/group.name` annotation. What we have done for this at my organization is to have a helm deployment of dummy "model" ingresses that have the global stuff (certs, SG's etc) along with the `alb.ingress.kubernetes.io/group.name` annotation. Then simply create ingresses in the other apps that use that annotation. AWS-LBC will merge the new TG's into

[2021-08-16 20:44] M00nF1sh commented on #2178
@mi5key
If there is no ready targets, the controller will remove the SG.
in your case, seems you are using instance mode, where nodes are used as backends, is your nodes flips between Read/Unready for some reason?

[2021-08-16 20:48] M00nF1sh commented on #2176
@papigers
Thanks for willing to help on this. I think use a custom endpoint resolver make sense.
The source input should be from command line flags or environment variables

[2021-08-16 22:29] papigers commented on #2176
@M00nF1sh Great! I've created a PR for that, its waiting for review

[2021-08-17 04:38] mi5key commented on #2178
@M00nF1sh we're not seeing any flipping with the nodepools.  We got the ELB side report from AWS support.  I'm going to get the Google Anthos side form Google support in the morning.

[2021-08-17 06:16] shubham391 commented on #2131
Found this in documentation: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/pod_readiness_gate

This talks about a deploy scenario where service can have an outage. Will give this a try today and see if it solves for my case.

[2021-08-17 08:35] dsaydon90 commented on #1598
Hi @matthewmrichter , Thank you for providing your solution.
Actually, This is what I currently have, and I was set my **certificates** in 1 `ingress` resource, but my problem occurred once I'm using  additional `ingress` resource which contains the annotation `alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS": 443}]` ,  the `alb-ingress` will detect this annotation and will try to **auto discove

[2021-08-17 12:41] fert-f commented on #2066
Had the same problem. Seems that changing pathType will allow wildcards in hosts:
`path: /*
pathType: ImplementationSpecific`

[2021-08-17 17:02] chris-mac opened #2180 "Corresponding install files not included in releases"
**Describe the bug**
Corresponding install files are not included in releases.
e.g. the `v2_2_3_full.yaml` file exists on the main branch at
https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/install/v2_2_3_full.yaml
but this does not exist in the `v2.2.3` release
https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/v2.2.3/docs/install/v2_2_3_full.yaml

[2021-08-17 17:09] kishorj commented on #1900
/close

[2021-08-17 17:09] #1900 closed

[2021-08-17 17:10] kishorj commented on #2056
/close

[2021-08-17 17:10] #2056 closed

[2021-08-17 17:11] kishorj commented on #1566
/close

[2021-08-17 17:11] #1566 closed

[2021-08-17 17:24] mi5key commented on #2178
@M00nF1sh we're seeing this in cloudtrail when a security group is revoked.  The Client.InvalidPermission.NotFound does stand out.

    eventVersion:"1.08",
    userIdentity:
    {...},
    eventTime:"2021-08-17T17:11:17Z",
    eventSource:"ec2.amazonaws.com",
    eventName:"RevokeSecurityGroupIngress",
    awsRegion:"us-east-1",
    sourceIPAddress:"eks.amazonaws.com",
    userAgent:"eks.amazonaw

[2021-08-17 22:00] M00nF1sh commented on #2180
@chris-mac
We'll only offer the installation in the main branch. since we have to cut the release tag(e.g. v2.2.3) first to make our internal pipeline build the container image. and we can only have the installation yamls once the container image is already built)

In the future, i think we'll dynamically generate the installation yaml when cut release and attach to the github release page given m

[2021-08-18 06:14] f3d3Cz commented on #2162
I'm not sure if its related, but here it says that version `v2.0.1` is backwards-compatible with `v1.x`. It doesn't say `v2.2` is. https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/upgrade/migrate_v1_v2/

However, I wanted to migrate to v2.0, but as soon as I deploy that, it tries to delete my previous ingresses. Not sure why that is?

[2021-08-18 11:34] ArjunBhushan commented on #1846
Hi, the next minor release is v1.22 in which networking.k8s.io/v1beta1 will be unavailable. Are there any working examples on how to use ssl-redirect with networking.k8s.io/v1? Thanks!

[2021-08-18 12:08] antweiss commented on #1846
@ArjunBhushan correct me if I'm wrong but I don't think there's any change to the API - it's just going out of beta.

[2021-08-18 13:50] boopathykpm commented on #2178
@M00nF1sh I'm working with @mi5key, adding more information on the issue

In our case we have deployed the ALB controller per namespace, when an ingress is created in different namespaces it randomly picks a namespace and adds the security groups id's of the ALB created in that namespace to the node's security group and removes the security groups id's of other namespaces ALB.

This leads to makin

[2021-08-18 15:06] tomiszili opened #2182 "Documentation actions and conditions example update"
Hia all!

Please update the documentation examples in the section of actions and the conditions.
I want to define a default HTTP 403 response for those loadbalancer rule paths which are not defined.

**Environment**

* AWS Load Balancer controller version: v2.2.1
* Kubernetes version: 1.19
* Using EKS (yes/no), if so version? EKS 1.19

[2021-08-18 15:52] kishorj commented on #2178
@boopathykpm, which version of controller are you running? The v2.x should not be deployed per namespace, a single deployment per cluster should suffice.

[2021-08-18 15:53] kishorj commented on #2182
/kind documentation

[2021-08-18 16:34] boopathykpm commented on #2178
@kishorj I see in the documentation it support multiple ingress controller deployment feature. Also we allows the load balancer to watch specific load balancer. How to support the above use case?

I see it is a bug, is there any specific reason that controller should not be deployed per namespace ?

[2021-08-18 16:35] ranjb commented on #2178
@kishorj  to your previous comment, is there any documentation that provides some more detail on why we should not be doing this? To our understanding, multiple controllers are supported. See [here](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/deploy/configurations/#limiting-ingress-class). Also, the fact that the controller supports --watch-namespace seems to indicate this

[2021-08-18 17:14] M00nF1sh commented on #2178
@ranjb
The documentation is from our v1 which haven't been updated. we'll update the documentation.

The v2 controller currently only supports a single deployment per cluster since it assumes it's the solo owner of worker node SG rules.

[2021-08-18 19:13] mi5key commented on #2178
@M00nF1sh thanks, we'll adjust our implementation for single deployment per cluster.

[2021-08-18 20:41] M00nF1sh commented on #2178
@mi5key
Thanks, this restriction same from our NLB service support, where the controller don't know whether a specific CIDR inbound rule on worker node is needed by another controller or not.
Recently AWS supports to tagging the security groups rules as well, i think we can make a improvement based on that to allow us support multiple controller deployment per cluster.
/kind feature

[2021-08-18 22:51] chonton opened #2183 "Multiple ALB controllers targeting single work group cause security group collisions"
**Describe the bug**
I have two aws-load-balancer-controllers, one in each of two namespaces.  Each namespace has an ingress with     _alb.ingress.kubernetes.io/target-node-labels_ annotation.  The annotations have the same value, so both albs will target the same set of hosts.  Cloudtrail shows AuthorizeSecurityGroupIngress and RevokeSecurityGroupIngress occurring regularly from the Managed secur

[2021-08-18 23:05] jtnz opened #2184 "Creating NLB requires `service.beta.kubernetes.io/aws-load-balancer-nlb-target-type` annotation"
**Describe the bug**
For the AWS load balancer controller to create an NLB you _MUST_ have this annotation. This is however _not_ mentioned in the docs or logged out (even on `debug`).

**Steps to reproduce**
Apply something like:
[code]

[2021-08-19 00:23] M00nF1sh commented on #2184
@jtnz
I apologies for the frustration caused.

The annotation is mentioned in the controller's NLB documentation [here](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/nlb/#configuration).
Do you mean the EKS documentation?

[2021-08-19 00:23] M00nF1sh commented on #2184
/kind documentation

[2021-08-19 00:27] M00nF1sh commented on #2183
@chonton
Sorry for the issue caused. Our documentation is not up-to-date about the installation.

We currently only support a single deployment of aws-load-balancer-controller per cluster, as the controllers assumes it's the solo owner of security groups rules on worker node with `elbv2.k8s.aws/targetGroupBinding=shared` description.

We do have plans to improve this to allow run multiple controll

[2021-08-19 00:28] jtnz commented on #2184
@M00nF1sh Thanks for the quick reply. I did mean the controller docs. It's not explicitly mentioned that it is required, just that there's two options.

[2021-08-19 00:46] M00nF1sh opened #2185 "Allow multiple controller deployment per cluster"
**Is your feature request related to a problem?**
Currently We only support a single controller deployment per cluster if worker node SG rules is managed by the controller.
Since the controller assumes it's the solo owner of worker node security group rules with `elbv2.k8s.aws/targetGroupBinding=shared` description, running multiple controller deployment will cause these controllers compete with e

[2021-08-19 00:53] M00nF1sh commented on #2185
/kind feature

[2021-08-19 10:30] prasad-marne opened #2187 "ALB ingress manifest Prefix Path now working as expected"
**Describe the bug**
[code]
I used above manifest to create a ALB.
I expected that it will forward all of below Requests
1.  /
2. /api

But 2nd one doesn't get forwarded to the example-service. so I changed the Path from the above manifest as below and it worked.
[code]

**Steps to reproduce**
Create ALB using an above-mentioned manifest
Send requests using different paths

**Expected outcome**
Si

[2021-08-19 16:59] M00nF1sh commented on #2187
@prasad-marne
PathType is only supported in v2.2.0+, you'll need to upgrade to v2.2.0+ to use pathType. (Before the version, all path type is treated as "ImplementationSpecific".

To upgrade to v2.2.0, you'll need to check the action required section of our [release page](https://github.com/kubernetes-sigs/aws-load-balancer-controller/releases/tag/v2.2.0), one action needed is to grant additional

[2021-08-19 17:56] vg-vaibhav commented on #2175
@kishorj I actually did what you have suggested here. But after applying targetGroupBinding I can't see any changes.
[code]
I am using something like this. I apply using `kubectl`. It gets applied successfully.
Description looks something like this. But I don't see anything happening with the target group.
Am I missing something here?

[code]

[2021-08-19 18:11] kishorj commented on #2175
@vg-vaibhav, what is your service type? Do you see any errors in the controller logs?

[2021-08-19 18:24] vg-vaibhav commented on #2175
My service is go service having a TCP server. I have 100s of these TCP servers running on multiple ports. I don't want to create unique NLB for them. So i currently manage this through multiple target groups behind couple of NLBs.

But in k8 I can't achieve this. Hence I am trying to manage NLB externally of k8.

No errors in controller logs. These are the logs of aws-lb-controller
[code]

[2021-08-19 18:29] kishorj commented on #2175
@vg-vaibhav, the logs from the controller pod indicate that it is waiting for the leader election lock, so it is not the active controller. Could you check the logs from the other controller pod? If you installed the v2.2.0 helm chart, there are two replicas for the controller - one active and another standby.

[2021-08-19 18:39] vg-vaibhav commented on #2175
@kishorj Got the issue. I was looking into wrong pod.
The controller says the service should be `NodePort` or `LoadBalancer` to use `TargetGroupBinding`.
I wasn't aware of this. Wasn't mentioned in the documentation.
Thank you :)

[2021-08-19 18:50] kishorj commented on #2175
@vg-vaibhav, you'd need a type NodePort service in your case since the target type is instance. If you used IP target type, ClusterIP would have worked as well.

[2021-08-20 11:57] p-palanis opened #2188 "Ability to create Load Balancer & Target Group in different VPC"
**Is your feature request related to a problem?**
For security and monitoring reasons public subnets are located in different VPC (e.g. **Internet VPC**) than the cluster VPC (**Application VPC**).
**Scenario:**
- Internet VPC and Application VPC can communicate with each other through peering connection or transit gateway.
- LB Controller is deployed in Application VPC.
- Attempted to createthe L

[2021-08-20 15:02] p-palanis commented on #2188
Duplicate of #1862

[2021-08-20 15:02] #2188 closed

[2021-08-20 16:38] B0go commented on #2162
Hmm I see, thanks for clarifying @kishorj! I believe I missed the point of adding this extra IAM policies because the referenced resources and actions already existed in the original configured policy, except that this time they are valid in case the needed tags are not in place (hence the errors I experienced)

Do you think it makes any sense to update the migration docs to avoid mistakes like th

[2021-08-20 16:40] B0go commented on #2162
Yeah, you observation makes sense but I did checked differences between 2.0.1 and 2.2 using the same process described in the previous comment, that's why I got errors! But thanks for contributing :)

[2021-08-21 09:21] #1594 closed

[2021-08-21 23:25] #1827 closed

[2021-08-21 23:25] #1833 closed

[2021-08-23 03:21] akuzni2 commented on #2139
/unassign

[2021-08-23 21:18] Shreya027 commented on #2139
/assign

[2021-08-23 23:18] edify42 commented on #2036
If you're gonna introduce breaking changes, i feel it should have been a major chart version bump :thinking:

[2021-08-24 04:11] Tommyf opened #2191 "Allow configuration of per-target group attributes"
**Is your feature request related to a problem?**
A description of what the problem is. For example: I'm frustrated when [...]

We have a service (Atlassian Bitbucket server) that listens on both http(s) and TCP (git-ssh). We are using nginx-ingress in front of AWS NLB for our request routing. The setup looks a little like this:

- The application (Bitbucket) has a K8s Service object configured to

[2021-08-24 08:14] shubham391 commented on #2131
Enabling Pod Readiness Gate reduced the 5xx errors, but did not completely eliminate them.

Found this issue https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1719#issuecomment-743437832 where @M00nF1sh has explained the breakup of things to consider while deciding the preStop sleep value. After setting an appropriate value in preStop, I'm able to deploy without any errors.

I

[2021-08-25 10:24] Evalle commented on #2136
/assign

[2021-08-25 13:15] TraianSandu opened #2193 "Time format aws-load-balancer-controller"
Hello!

We recently updated from old AWS ALB Ingress controller v1.1.9 to AWS Load Balancer Controller v.2.2.2. The upgrade went fine, but we noticed the time format inside logs changed :
New alb-ingress version:

`alb-ingress-controller-6449c486fc-hthwl alb-ingress-controller {"level":"info","ts":1628859653.6314578,"logger":"controllers.ingress","msg":"successfully deployed model","ingressGroup":

[2021-08-26 09:03] DevOpserzhao opened #2194 "Failed build model due to couldn't auto-discover subnets: unable to discover at least one subnet"
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**

**Expected outcome**
A concise description of what you expected to happen.

**Environment**
 ./eksctl version
0.61.0

image: amazon/aws-alb-ingress-controller:v2.1.1

apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: eksctl-eks-xxxxxx
  region: ap-southeast-1
  version: "1.21"
vpc:
  subnets

[2021-08-26 22:12] eliecer2323 opened #2200 "Service deleting get stuck"
**Describe the bug**
I'm trying to delete a service with the `kubect delete service claims` but it never finish (I have had let it run by 12 hours) so I have to press `ctrl+c` but the service doesn't get eliminated

**Steps to reproduce**
I am using the AWS Load Balancer Controller to expose the deployment by a Network Load Balancer in AWS, so basically I ran the next config file to generate the d

[2021-08-28 01:56] akhilles opened #2201 "Include `v2_2_4_full.yaml` manifest in v2.2.4 git tag"
**Is your feature request related to a problem?**
No.

**Describe the solution you'd like**
v2.2.4 git tag should include the `v2_2_4_full.yaml` manifest. The [user guide](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html) indicates that this should work:
[code]
NOTE: I replaced `v2_2_0` with `v2_2_4` because it's the latest version. The user guide should probably

[2021-08-28 18:44] #1907 closed

[2021-08-28 21:56] gsabatini2016 commented on #1258
You only do what documentation says? Because i followed the documentation step by step and i got the same error.

[2021-08-28 23:19] gsabatini2016 opened #2202 "Kubectl logs returns tls: internal error"
When i exec "kubectl logs" or i want run "kubectl exec", i obtain the following error:
![imagen](https://user-images.githubusercontent.com/48037187/131233225-9b49ae32-c269-4fe0-b98f-a693ced0f50c.png)
I Googled it but i cant found the solution...
When i run "kubectl get csr" the result is this
![imagen](https://user-images.githubusercontent.com/48037187/131233283-328484f1-1206-40b4-9b89-279162bfc3e

[2021-08-30 16:31] olemarkus commented on #1572
Being able to have LB controller manage either instance or IP targets to a global accelerator would be really useful.

[2021-08-31 23:34] anthr76 commented on #2001
/remove-lifecycle stale

[2021-09-01 12:43] ThomasSteinbach opened #2203 "ingress rules gets random order / priority in load balancer listener rules"
/kind bug

**Describe the bug**

The aws-load-balancer-controller creates Load Balancer Listener Rules in the same order as K8s ingress rules are defined in the ingress object. This does NOT correctly implement the K8s ingress specification, as the ingress documentation says:

( https://kubernetes.io/docs/concepts/services-networking/ingress/#multiple-matches )

More worse - the order of rules wit

[2021-09-01 15:13] kishorj commented on #2202
@gsabatini2016 could you provide more context on the issue and how it is related to the aws load balancer controller?

[2021-09-01 15:29] gsabatini2016 commented on #2202
Yes, is related because, the error only happens when i try to run a kubectl logs on pods of the aws load balancer deployment. That deployment was created with Helm. It's weird because, i followed the documentation of AWS step by step but it never happened me before.

[2021-09-01 15:33] kishorj commented on #2202
@gsabatini2016, are the lb pods running in Fargate?

[2021-09-01 23:39] petr4 commented on #699
Hey! We need help with it as ingress api is changed to `apiVersion: networking.k8s.io/v1`, have to use `http` block

[2021-09-02 00:16] gsabatini2016 commented on #2202
@kishorj  yes, all the cluster is running in Fargate.
![imagen](https://user-images.githubusercontent.com/48037187/131761774-00f05fa2-c527-4839-880c-214d3a1b56db.png)

[2021-09-02 07:08] omerfsen commented on #699
Aws works only with /* for subpaths

[2021-09-02 08:40] tppalani opened #2206 "Alb-ingress-controller-path-based-routing"
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**

**Expected outcome**
I have deployed ALB ingress controller with path based routing, after deploying application-ingress.yaml file defined paths were getting created in AWS console as we expected and also target groups also healthy.

But its working only /*, remaining paths (/app1, /app2) are not working gettin

[2021-09-02 10:47] tfn220189 opened #2207 "Ingress with PathPrefix does not work as expected"
**Describe the bug**
When using AWS Load balancer controller with a path "/some-prefix" of type "Prefix", I would expect the Alb listener rule to be translated to the following path condition:
[code]
Instead the following is created:
[code]
which means a / is appended to the desired prefix.

**Steps to reproduce**
Use an ingress as the example below, check the created Alb listener rule in AWS cons

[2021-09-02 12:54] #2206 closed

[2021-09-02 12:54] tppalani commented on #2206
Issue has been resolved https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/417

[2021-09-02 16:30] kishorj commented on #2202
@gsabatini2016, how did you create the EKS Fargate profile/iam roles? Would you be able to create an AWS support case for this?

[2021-09-02 16:54] #1606 closed

[2021-09-02 16:58] kishorj commented on #2207
@tfn220189, as per the ingress spec [1], the `Prefix` path type matches the configured path and the sub-paths (split by /), this is not a string prefix match.

If you want a wildcard match on the string, you can specify the path type as `ImplementationSpecific`.

References
[1] https://kubernetes.io/docs/concepts/services-networking/ingress/

[2021-09-02 17:42] kishorj commented on #2200
@eliecer2323, I reviewed your logs, and I see that the service claims in the default namespace successfully deleted the load balancer on service delete -
[code]

Is this the NLB that you had to delete manually from the AWS console?

The kubectl describe screenshot from your prior comment refers to the service `uproar-claims` in the `default` namespace, service type `NodePort`. I wasn't able to fin

[2021-09-02 17:43] gsabatini2016 commented on #2202
The fargate profiles has been created with Terraform just like the cluster. Yesterday i saw the same error in all the pods on the cluster so that let me think about the error comes from another thing.
`$ kubectl logs backend-678f969794
Error from server: Get "https://---/backend-678f969794-7h9t4/backend": remote error: tls: internal error
`

[2021-09-02 17:56] kishorj commented on #2201
@akhilles, This is a current limitation, please refer to https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2180. We are planning to include the installation yaml as part of release artifact in future releases. Until then, you can use the main branch for the installation yaml.

[2021-09-02 20:04] baigzeeshan commented on #2207
I had a similar issue, It works if your service is expecting /some-prefix as well

Alb is forwarding the complete URL to your target group, in the following case if service 1 and 2 expecting /api then it will work

- /api/service1
- /api2/service2

[2021-09-02 21:06] akhilles commented on #2201
Ah, didn't realize this was a duplicate. Including the yaml in the release would be perfect, thanks!

[2021-09-02 21:06] #2201 closed

[2021-09-02 22:06] hetpats opened #2208 "Error getting v2 to work after upgrading eks cluster to 1.20"
**Describe the bug**
ERROR:-
Error from server (InternalError): error when creating "ingress.yaml": Internal error occurred: failed calling webhook "vingress.elbv2.k8s.aws": Post "https://aws-load-balancer-webhook-service.kube-system.svc:443/validate-networking-v1beta1-ingress?timeout=10s ": context deadline exceeded

ENV:-
Client Version: v1.19.6-eks-49a6c0
Server Version: v1.20.7-eks-d88609
aws-

[2021-09-03 02:13] andrewmclagan commented on #2103
perhaps update the blog...?

[2021-09-03 07:03] nelaaro opened #2209 "Examples using ingressclass and IngressClassParams in the examples"
**It would be great if you echo server and 2048 game had example using ingressclass and ingressclassParams**

Super simple, please expand the example to also include ingressclass and ingressclassparams.

**Expanded examples using the ingressclass and ingressparams**
Super simple, please expand the example to also include ingressclass and ingressclassparams.

**The old way will eventually be deprei

[2021-09-03 09:15] kickthemooon opened #2210 "failed to build LoadBalancer configuration due to failed to resolve 2 qualified subnet with at least 8 free IP Addresses for ALB"
**Describe the bug**
The aws-alb-ingress-controller is complaining with this error message:
[code]
But that is not true because, there are three subnets available, with thousands of free IP's, spread across all AZ's and with the appropriate tagging:
[code]

**Expected outcome**
Maybe more information. It seems that something else is wrong.

**Environment**

* AWS Load Balancer controller version

[2021-09-03 11:26] kickthemooon commented on #2210
I added another tag to the subnets so now the tags:
[code]
Now the aws-alb-ingress-controller is able to register the nodes in the target group.
But now im getting timeouts when trying to open anything running in that cluster.

[2021-09-03 13:41] richardsonmbr opened #2211 "[rabbitmq] Management UI not accessible through Ingress AWS ALB"
**[rabbitmq] Management UI not accessible through Ingress AWS ALB**
Using aws-load-balancer-controller version v2.2.0, I'm not able to access the rabbitmq page instead it's showing 404 error message
**Steps to reproduce**
**service config yaml** `

`
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
spec:
  selector:
    app: rabbitmq
  ports:
    - name: rabbitmq-managment
      protocol: T

[2021-09-03 15:27] kishorj commented on #2209
@nelaaro, thanks for the feedback, it is a wonderful idea.
/kind documentation

[2021-09-03 16:47] irl-segfault opened #2212 "support internal loadBalancerIP"
Currently, there is no way to pre-declare the IP for a Service (via `loadBalancerIP` field or any other method) if the desired IP is from your VPC subnet.  You *can* assign a predefined Elastic IP, but Elastic IPs are only public IPv4 addresses, and there is no way to carve out a private Elastic IP from your VPC subnet.  Please correct me I'm wrong.

I want resources outside of my Kubernetes clust

[2021-09-03 17:08] kishorj commented on #2212
@irl-segfault, in case of NLB, you can specify the following annotations -

For internet-facing load balancers, you can specify the list of eip allocations
[code]

For internal load balancers, you can specify the private IPv4 addresses
[code]

You can refer to the [live docs](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/annotations/) for further details.

[2021-09-03 17:16] kishorj commented on #2211
@richardsonmbr,
- is the ingress spec the same as the one you used with the prior version?
- when you specify the path type as `ImplementationSpecific` and path with the wildcard, does the UI load for you?
- are there any other paths your browser is trying to access other than the `/api/v1/rabbitmq/*`?

[2021-09-03 17:24] anwarchk opened #2213 "Using single ALB with target group results in multiple classic LBs per Ingress"
**Describe the bug**
I am using ALB Helm Char Version v2.2.1 on EKS 1.20.x. I followed the instructions from here https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/ to setup a single ALB that can route to multiple Ingresses within a cluster. I added the annotations:
[code]
as per the documentation. Everything works as expected, except, for each ingress, ALB controller creates a c

[2021-09-03 17:38] kishorj commented on #2213
@anwarchk, in this case, you will have to create a service of type `NodePort`, not `LoadBalancer` - I'm assuming you want to configure your ALB with instance targets.

If you create a service of type `LoadBalancer`, the kube-controller-manager provisions CLB (or NLB if specified via annotation), and this is the indended behavior.

[2021-09-03 17:47] anwarchk commented on #2213
Ok, so the `kube-controller-manager` provisiong the CLBs. The are some security concerns with using `NodePort` such as this : https://kyverno.io/policies/best-practices/restrict_node_port/restrict_node_port/ and hence we went with `LoadBalancer`.

[2021-09-03 17:59] kishorj commented on #2213
@anwarchk, k8s service of type `LoadBalancer` is built on top of `NodePort`. So the "security concerns" with `NodePort` will also apply to `LoadBalancer`.  You will have to ensure the security groups attached to your EC2 instances do not permit global access.

[2021-09-03 18:01] kishorj commented on #2213
You could use a `ClusterIP` service, if but you will have to use IP target type via the annotation
[code]

[2021-09-03 18:02] anwarchk commented on #2213
Thanks. Thats a better way to do this.

[2021-09-03 18:11] eliecer2323 commented on #2200
@kishorj thanks for your support I appreciate it, in fact it is in the default namespace, uses the `NodePort` service type, and I delete it from AWS manually but still present when I query it with `kubectl get services`.

* Yes, it exists in the same cluster as the LB controller, but the LB Controller is in the `kube-system` namespace.
* I'm sure it was at least initially a NLB with their correspo

[2021-09-03 18:22] kishorj commented on #2208
@hetpats, Could you verify the following?
-  LB controller pods are running`kubectl get pods -n kube-system  -l app.kubernetes.io/name=aws-load-balancer-controller  -owide`
- webhook service is configured `kubectl get svc -n kube-system -owide aws-load-balancer-webhook-service`
- webhook endpoint is populated `kubectl get ep -n kube-system aws-load-balancer-webhook-service -owide`
- CRD version ap

[2021-09-03 18:23] kishorj commented on #2203
@ThomasSteinbach, do the listener rules follow the order you specify in the manifest?

[2021-09-03 18:27] eliecer2323 commented on #2200
great, could you teach me how to do whatever of those two options please? I'm sorry I don't know how to revert a service value or remove a finalizer, thank you

[2021-09-03 18:48] anwarchk commented on #2213
Looks like this is expected behavior when using LoadBalancer type. Closing this.

[2021-09-03 18:48] #2213 closed

[2021-09-03 19:41] kishorj commented on #2200
Here is one way-
[code]
- To revert the annotation, check for the values you specified during kubectl apply. This is stored in the annnotation `kubectl.kubernetes.io/last-applied-configuration`.

- To remove finalizer, delete `service.k8s.aws/resources` entry from `metadata.finalizers`

[2021-09-03 19:51] L30Bola opened #2214 "ALB with backend protocol gRPC not working"
**Describe the bug**
We are trying to deploy an Ingress with backend protocol configured as gRPC. This is the Ingress definition:

[code]

But, we are facing this on the controller logs:

[code]

Since there is that error, an ALB never gets attached to the Ingress resource.

Maybe we are missing something on our end.

**Steps to reproduce**
Add an Ingress with the above definition.

**Expected out

[2021-09-03 20:35] kishorj commented on #2214
@L30Bola , for GRPC, you need to to configure an HTTPS listener. If you specify the certificate arn as follows, HTTPS:443 gets used as a default port instead of HTTP:80 -
[code]

If you still encounter issues, you can share the model from the controller logs.

[2021-09-03 22:35] kishorj commented on #2210
@kickthemooon, are you trying to create an `internet-facing` ALB? In that case, you'd need to ensure the subnets are publicly routable. Adding the `kubernetes.io/role/elb` tag is not sufficient.

[2021-09-04 00:13] kishorj commented on #1144
/remove-lifecycle rotten

[2021-09-04 10:00] richardsonmbr commented on #2211
@kishorj
Here is the Answer for your ask,

* Is the ingress spec the same as the one you used with the prior version?
       Yes
* When you specify the path type as ImplementationSpecific and path with the wildcard, does the UI load for you?
       When I tried with ImplementationSpecific, I got the same issue 404
* Are there any other paths your browser is trying to access other than the /api/v1/

[2021-09-04 23:20] irl-segfault commented on #2212
Thanks so much!  The docs are a bit light on the annotations -- all it says for the `service.beta.kubernetes.io/aws-load-balancer-private-ipv4-addresses ` annotation is

[code]

Which subnets must the ip addresses match?  Do they need to be /32 addresses?

[2021-09-04 23:25] irl-segfault commented on #2212
Also, why does this annotation allow for multiple IPs?  In the case of an Elastic IP, the point is to provide a single stable well known IP.  For private IPs, I would expect a similar construct.  What am I missing?  Thanks again for the help.

[2021-09-05 23:21] #1615 closed

[2021-09-06 01:23] #1715 closed

[2021-09-06 06:30] kickthemooon commented on #2210
yes. the kubernetes.io/role/elb tag was missing on the public subnets.

[2021-09-06 06:30] #2210 closed

[2021-09-06 07:21] ThomasSteinbach commented on #2203
@kishorj yes, they do.

[2021-09-06 12:07] DmitriyStoyanov commented on #2071
It is interesting, today faced with this issue while deployment of helm chart with ingress with
[code]

and in logs
[code]

After retry, it is fixed as many times before.

So possible issue not only related to two nginx and alb ingress controllers we have in cluster, but also with aws acm certificate check?

[2021-09-06 13:52] HoodieHo commented on #2208
@hetpats I've had the same issue, check if workers security group allows connection from the cluster on required port (9443 by default or the one that is in the endpoint)

[2021-09-06 23:31] benbyr opened #2215 "ALB default action fwd to service/target group"
Is there a way to change the default action (requests otherwise not routed) to forward to a certain service/target group?

The reason we need this is we have openresty setup to SSL our customers sites via CNAME, which then proxies back through to our ALB. We have Cloudfront set up for host matching protection, not needing the ALB to do the same.

Thanks,

![image](https://user-images.githubusercon

[2021-09-07 09:09] igrowheart opened #2216 "To support lambda as TargetGroup in alb controller"
**Describe the bug**
To support lambda as TargetGroup in alb controller.
If customer is already using ALB, they probably have rule based routing to lambda and different EC2 instances or EKS worker node groups.
For example,
request against '/newCustomer' will trigger a lambda to do new customer provisioning job.
request against '/main' will forward the request to the major application, which sits i

[2021-09-07 10:01] vedarths commented on #1846
Hello @TheBaus

Thanks for your comment that surely helps.

However, in spite of having the annotations that you have mentioned, it still does not seem to work and I get the error

[code]

Please could you let me know what I might be missing? Thanks for your time!

Here is my CRD

[code]

[2021-09-07 11:26] TheBaus commented on #1846
@vedarths
Here is my raw manifest, sanitised of course, Not sure if it helps?

`apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    alb.ingress.kubernetes.io/actions.ssl-redirect: >-
      {"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port":
      "443", "StatusCode": "HTTP_301"}}
    alb.ingress.kubernetes.io/backend-protocol: HTTP
    alb.ingress.kub

[2021-09-07 12:23] mike-stewart commented on #1647
/remove-lifecycle stale

[2021-09-07 14:34] prowave opened #2218 "redirect action not applying to all conditions"
**Describe the bug**
I have an ALB listening on 80 and 443, and I have applied the Redirect action to the Host in order to automatically redirect from 80 -> 443.  The host is "www.something.com".

I have a condition on the same annotation to support the host "something.com".

The ALB creates 2 rules on the port 80 listener:
If `path is /* and host is www.something.com` then it redirects to 443 as

[2021-09-07 14:43] prowave commented on #2218
Example from the ALB Listener Rules:

![image](https://user-images.githubusercontent.com/4467101/132364471-8bcb9113-4aa3-4851-ae9e-42fdd22a4570.png)

[2021-09-07 15:58] kishorj commented on #2211
@richardsonmbr, it looks like the UI access would require additional path configuration in your ingress. Did you try adding rule for the "/" path?

[2021-09-07 17:17] mbevc1 commented on #1990
/remove-lifecycle stale

[2021-09-07 18:12] kishorj commented on #2203
/kind bug
we will fix it in the next release

[2021-09-07 20:49] L30Bola commented on #2214
Hmm, I'll test and share here then. Thanks for the help :D

[2021-09-07 22:38] hetpats commented on #2208
@HoodieHo  That Did it, found the deny in flowlogs , added the rules for 9443 from cluster to worker SG and it worked!!
Thanks

[2021-09-07 22:38] #2208 closed

[2021-09-08 02:12] heungh opened #2219 "[WAF] AWS resources disassociated issue of ALB ingress."
Hello.

I'm using EKS's cluster by uploading three. Each cluster exposes a front web page using an Application Load Balancer. We decided to introduce AWS WAF according to the company's security policy, and we plan to use it with ALB.
I configured the AWS reference with the link below.
How do I create an ALB Ingress in Amazon EKS and associate the ALB Ingress with AWS WAF?
- https://aws.amazon.com/

[2021-09-08 22:07] kishorj commented on #2219
@heungh, can you confirm you use WAF v2? If so, do you mind sharing your controller logs?

 For WAFv2 you need to specify the acl arn via the following ingress annotation
[code]

Q2: You should be able share single ACL with multiple ALBs.

Q3: Ingress annotation is the only way for ALB

Q4: It depends whether you need cloudfront functionality. You could check from the following link https://aws.am

[2021-09-08 22:12] kishorj commented on #2218
@prowave, if you want to configure SSL redirect, you could use a dedicated annotation
[code]
For more details,
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#ssl-redirect

We will update the documentation to configure SSL redirect as well.

/assign m00nf1sh
/kind documentation

[2021-09-08 22:14] kishorj commented on #2216
/kind feature

[2021-09-08 22:19] kishorj commented on #2215
@benbyr, you should be able to use `spec.backend` in case of v1beta1 or `spec.defaultBackend` in case of networking.k8s.io/v1. You can use the also use the actions annotation to specify arbitrary action instead of k8s service.

[2021-09-08 22:25] kishorj commented on #2212
@irl-segfault, the subnets refer to the ones that get choosen for the load balancer AZ configuration. By default, subnets are auto-discovered, but you can also specify them via annotation. In case of private IP address, the order need not match since the recent controller will iterate over the subnets to choose the correct IP based on the subnet CIDR. You do need to specify the correct private IP

[2021-09-08 22:30] prowave commented on #2218
That works...thank you.  I am not sure if the behavior I reported is also a bug or not.  Your call.

[2021-09-08 22:31] kishorj commented on #2202
@gsabatini2016, were you able to resolve your issues? do you have the AWS support case?

If you still have issues, you can share the terraform configuration snippet for the fargate profile, I can try to repro the issue on my setup.

[2021-09-08 22:35] kishorj commented on #2194
@DevOpserzhao, I'm closing the issue for now. Feel free to reopen/create a new issue if the suggestion form @papigers  doesn't help your case.

[2021-09-08 22:35] #2194 closed

[2021-09-09 01:52] benbyr commented on #2215
@kishorj Thank you! I got it working with:

`  defaultBackend:
    service:
      name: service
      port:
        number: 80`

[2021-09-09 01:52] #2215 closed

[2021-09-09 13:24] gsabatini2016 commented on #2202
Yes, i still have issues. I created a support case but i not get any answer from AWS for now. My company was elevated the issue to the representant of AWS on the company because this is blocking a deploy on a prod environment. I attached like a .log because GitHub dont support tf attached files.
[fargate.tf.log](https://github.com/kubernetes-sigs/aws-load-balancer-controller/files/7136838/fargate.

[2021-09-10 12:28] yws-ss commented on #1687
/reopen

[2021-09-10 12:32] paul-lupu commented on #1834
I can confirm this is still present... feels a bit like AWS is letting people down by delaying a fix for it for so long...

[2021-09-10 12:44] jbg commented on #1834
I don't think they see it as a bug :) This is not related to k8s or the load balancer controller and probably doesn't belong here. If you want NLB to take less than 3 minutes to register targets, tell your AWS support rep!

[2021-09-10 13:00] paul-lupu commented on #1834
@jbg I did, they mentioned this thread in their response...
"Mom, can I go out?"
"Ask your dad!"
"Dad?"
"Ask your mom!" XD

[2021-09-10 13:04] jbg commented on #1834
If you're contacting AWS support about this, it's probably advisable to demonstrate the issue with an NLB provisioned manually or via CloudFormation, so that first-level support can't point the finger at aws-load-balancer-controller or k8s as the source of the delay.

[2021-09-10 13:38] paul-lupu commented on #1834
@jbg  I did, they mentioned they will add a note with my case to the existing issue on the NLB.

[2021-09-10 15:51] kishorj commented on #1687
/reopen

[2021-09-10 17:31] M00nF1sh commented on #1834
@paul-lupu
NLB team is already aware of this issue and have fixes in progress.
They already rolled out a HC system to slightly improve the registration time and plan to improve it to be <=60sec(I don't have an ETA on this).

From the controller's point of view, we cannot do much until NLB improves it. If the registration time is a concern, we can use NLB instance mode(supported by newer version of

[2021-09-10 21:47] L30Bola commented on #2214
All working! Thanks!

[2021-09-10 21:47] #2214 closed

[2021-09-11 00:20] gsabatini2016 commented on #2202
Now i get the same error when i want deploy the load-balancer-controller
![imagen](https://user-images.githubusercontent.com/48037187/132929314-8bc4c546-cdff-48e1-9a8c-c467bcd72186.png)

The webhook svc exists and match with the correspondient pod.
![imagen](https://user-images.githubusercontent.com/48037187/132929579-77a44611-9bbe-4945-b03a-ca0e7ce04199.png)
The pod matched is running
![imagen](h

[2021-09-13 13:26] chandankashyap19 opened #2220 "Security Group not getting deleted [ Ingress deletion getting stuck ]"
**Describe the bug**
Ingress is not getting deleted by running the command: kubectl delete ingress <ingress name>.  By describing the ingress got "finalizer" in spec so removed it and after its removal, Ingress got removed but still controller is giving error "failed to delete securityGroup: timed out waiting for the condition".

While checking controller logs in details seen that controller is lo

[2021-09-13 13:40] better0332 opened #2221 "set loadBalancerSourceRanges in two service(out-tree nlb), but it allow two ip access for each nlb"
**Describe the bug**
A concise description of what the bug is.
loadBalancerSourceRanges is unioned for every nlb

**Steps to reproduce**
[code]
-----------------------------------------------------------
[code]

I create two service dbaas-proxy-a(block 4.4.4.4/24) and dbaas-proxy-a(block 8.8.8.8/24).

But acctually, every nlb block 4.4.4.4/24 and 8.8.8.8/24. I think the ip mode not have NodePort a

[2021-09-13 14:33] gsabatini2016 commented on #2202
Well, the official AWS supports says he never saw this error before. He will elevates the issue to the EKS Engineers.

[2021-09-13 15:50] better0332 commented on #2221
sorry--> But acctually, every nlb allow 4.4.4.4/24 and 8.8.8.8/24 to access

[2021-09-13 16:10] kishorj commented on #2221
@better0332, NLB doesn't support managed security groups like the ALB or CLB. The rules get added to the security groups corresponding to the worker node or ENI to allow ingress traffic from the sources you configured in the `loadBalancerSourceRanges`. This is the intended behavior.

[2021-09-13 16:13] kishorj commented on #2220
@chandankashyap19, if you manually remove the finalizer from ingress resources, the LB controller will not be able to cleanup the AWS resources it allocated. How long did the ingress deletion get stuck before you had to remove the finalizer? Also, were the ALB managed security groups referenced from outside of the controller managed rules?

[2021-09-13 16:31] better0332 commented on #2221
I think it does not meet the original intent of k8s service `spec.LoadBalancerSourceRanges`

[2021-09-13 17:00] chandankashyap19 commented on #2220
@kishorj  It is getting stuck forever then I perform manual removal of finalizer.  We are not providing managed security groups from outside. Whatever SG is getting created it is by Controller Only.  Performing sample deployments. Mentioned below.

[code]

[2021-09-13 18:07] chandankashyap19 commented on #2220
![image](https://user-images.githubusercontent.com/41478730/133133729-0c8e0bba-f71d-449c-93d9-f24b3ca5a4e5.png)

SG is not getting free up from EKS Control Panel SG( whose description is: EKS created security group applied to ENI that is attached to EKS Control Plane master nodes, as well as any managed workloads) inbound rule on ingress deletion. That's why the controller is showing the error of

[2021-09-13 20:20] rkennedy-tpl commented on #1791
I think I am bumping into this exact issue. I'm defining "by hand" (via terraform) some "Large SGs with many CIDR rules" and I thought I could use annotation `alb.ingress.kubernetes.io/security-groups` to slap those SG Rules on top of a few ingresses. When I do so, I start getting failed healthchecks from ALB to my TargetGroups and it's very unclear *why*.

I think the ALB controller is managing o

[2021-09-13 20:45] adamdonahue opened #2222 "Unable to create external network load balancer in DMZ with Firewall vpce."
**Describe the bug**
We require an external network load balancer in a DMZ subnet that does not have an IGW, but does have a route to Amazon's Firewall endpoint, effectively allowing external access to the load balancer.

Instead of a route table that routes 0.0.0.0/0 to an IGW, it instead routes to Amazon's Firewall VPC endpoint. Nonetheless, the load balancer should be external (have a public IP

[2021-09-13 20:49] kishorj commented on #2222
@adamdonahue what is your workflow when you provision the NLB nmanually or outside of the LB controller?

[2021-09-13 23:22] adamdonahue commented on #2222
We've actually never done that -- but generally I suppose we'd have to expose the service as a NodePort and manually add and manage hte nodes in a target group?  I am going to try setting the subnets specifically (with the right tags) and see if that is a workaround.

I'm not sure this qualifies as a "bug" or a "feature request". :)

[2021-09-14 10:07] cainzhong commented on #2216
Great. We also need it very much!

[2021-09-14 10:21] TonyHuaPei commented on #2216
we really need this

[2021-09-14 11:19] brant4test opened #2224 "alb.ingress.kubernetes.io/inbound-cidrs VS. limits on “Rules per VPC security group” x “VPC security groups per elastic network interface” < 1000"
We're using aws-load-balancer-controller v2.1, annotations alb.ingress.kubernetes.io/inbound-cidrs specifies the CIDRs that are allowed to access LoadBalancer.
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/guide/ingress/annotations/#inbound-cidrs

But from AWS limits "The number of rules multiplied by the number of security groups per network interface cannot exceed 1,000", w

[2021-09-14 12:03] adamdonahue commented on #2222
Unfortunately even after applying the appropriate labels to the DMZ subnets and then specifying them on Service object, we still receive an error that no subnets are available.

[2021-09-14 14:28] adamdonahue commented on #2222
I see this code block in several places:

[code]

And perhaps this is "correct" in the sense that this is what Amazon considers a public subnet, but that's a fishy distinction when a network firewall is defined.

In any case, I don't see this changing soon -- so I'm going to close this out, and we'll create a NodePort service and route to the EKS nodes via a manually-managed NLB.  Bleech.

[2021-09-14 15:21] kishorj commented on #2222
@adamdonahue, the code block is from the in-tree controller, not this project. For the external lb controller, we distinguish subnets based on the subnet tags.

In your case, if specifying custom subnets help your case, then you can apply the annotation `service.beta.kubernetes.io/aws-load-balancer-subnets`. For details, refer to the [live docs](https://kubernetes-sigs.github.io/aws-load-balancer-

[2021-09-14 19:45] anwarchk opened #2226 "Question: Does the ALB Controller support path based routing ?"
I know host based routing is supported. If path based routing is supported, are there any examples ?

[2021-09-14 19:47] anwarchk commented on #2226
Looks like it does ? https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/guide/ingress/annotations.md

[2021-09-15 02:11] gareth-liu276 commented on #2216
Sounds good, we like it

[2021-09-15 15:34] QuanTran91 opened #2228 "GRPC without TLS or using self-signed cerificate"
Hi all,

At the moment, I am unable to create alb using gRPC protocol without certificate arn.
I have 2 k8s services located in 2 EKS in 2 different VPC, I use VPC Peering to connect 2 VPC.
These 2 services are communicated via gRPC protocol, so I create an ingress for gRPC server.
Since it requires me to create put certificate ARN in annotation, I have to create private CA (Certificate Authority)

[2021-09-15 15:41] darekg11 opened #2229 "[Question] Reconciler behaviour diffrences between ALB Controller v2.1.3 and 2.2.0+"
Hello, let me start by saying that at the beginning that we were using ALB Controller in 1.x version also known as `ALB Ingress Controller` but we have moved away from it around 6 months ago to use ALB Controller in 2.1.3 version. We have switched all of our production EKS Clusters and we are currently using:

Kubernetes: `1.19`
EKS: `eks.6`
AWS ALB Controller: `2.1.3`

Now we wish to upgrade to `

[2021-09-15 16:08] kishorj commented on #2228
@QuanTran91, AWS ALB requires an HTTPS listener for gRPC support, this is not a limitation on the controller side. Were you not able to configure your grpc clients to accept self-signed certificates, or certs signed by your private CAs?

[2021-09-15 19:26] irl-segfault commented on #2212
by "you do need to specify the correct private IP address for the subnets" do you mean "you must select a valid IP that falls within the subnet range?"

[2021-09-15 20:09] kishorj commented on #2212
Yes, valid IP within the subnet range.

[2021-09-15 20:33] alexku7 opened #2231 "Can't get data from the metada after switching to IMDSv2 in EKS"
**Describe the bug**
A concise description of what the bug is.

**Steps to reproduce**
After switching to metada version 2 in EKS 1.21 , the AWS controller can't connecto to metada and get details required for proper functionality.

**Environment**
EKS 1.21

* AWS Load Balancer controller version
2.2.4

the example for error
{"level":"error","ts":1631737412.2021482,"logger":"setup","msg":"unable t

[2021-09-15 22:07] kishorj commented on #2231
@alexku7, you need to manually specify the aws region and the vpc in case of IMDSv2. With the default configuration controller isn't able to contact IMDSv2 due to the hop limit being 1. If you modify the hop limit to be 2, metadata introspection will work as expected.

[2021-09-15 22:11] kishorj commented on #2229
/assign m00nf1sh

[2021-09-15 22:14] kishorj commented on #2226
@anwarchk, you can specify path in the ingress spec or the annotation and the controller will satisfy the k8s resource by configure an AWS ALB. Is there any specific feature you are looking for?

[2021-09-15 22:20] kishorj commented on #2224
These limits are from AWS, and controller will be subject to them as well. For now, the best we can recommend is to consolidate the rules into CIDRs if possible. If you can spread the rules across multiple security groups, you can specify the security groups manually via the annotation `alb.ingress.kubernetes.io/security-groups`. If you specify this annotation, you will have to manage the worker n

[2021-09-15 22:24] kishorj commented on #2221
@better0332, it is a known limitation of NLB since there is no support for security groups yet and the best we can do is to create rules in the worker nodes SG to limit traffic. If NLB supports security groups in future, then we will finally be able to create specific security groups with the specified CIDRs.